<div id="policy">
	<div class='add-section'>
		<div inline-policy-creator></div>
	</div>
	<div class="content-section">
		<div load-error='error' reload='doLoad()'></div>
		<div style='text-align:center;margin:30px' ng-show='!state && !error'>
			<h5><i class='icon-time'></i> Loading...</h5>
		</div>
		<div class='fade' ng-class='{in : state}'>
			<table class='table clm-table' ng-show='application.stageCount' style='width:600px;'>
				<thead>
					<tr>
						<th ng-repeat='stage in state.actionStageList | filterReportColumns' style="text-align:center;">
							{{stage.name}} Report Violations
						</th>
					</tr>
				</thead>
				<tr>
					<td ng-repeat='stage in state.actionStageList | filterReportColumns' style="text-align:center;">
						<div show-if='application.policyEvaluationsResults[stage.id]'>
							<a class='no-hover-underline' style='vertical-align: middle;' title='View Report - {{application.policyEvaluations[stage.id].time | date:"yyyy-MM-dd"}}'
									ng-href='reports.html#/reports/{{encodeURIComponent(application.publicId)}}/{{stage.id}}'>
								<span ng-show='application.policyEvaluationsResults[stage.id].criticalComponentCount' class='threat-chiclet threat-chiclet-critical'>
									{{application.policyEvaluationsResults[stage.id].criticalComponentCount}}
								</span>
								<span ng-show='application.policyEvaluationsResults[stage.id].severeComponentCount' class='threat-chiclet threat-chiclet-severe'>
									{{application.policyEvaluationsResults[stage.id].severeComponentCount}}
								</span>
								<span ng-show='application.policyEvaluationsResults[stage.id].moderateComponentCount' class='threat-chiclet threat-chiclet-moderate'>
									{{application.policyEvaluationsResults[stage.id].moderateComponentCount}}
								</span>
								<span ng-show='!(application.policyEvaluationsResults[stage.id].criticalComponentCount + application.policyEvaluationsResults[stage.id].severeComponentCount + application.policyEvaluationsResults[stage.id].moderateComponentCount)' style="color:#000000;">No violations</span>
							</a>
							<a title="Re-evaluate Policy"
									ng-click='reEvaluatePolicy(application, application.policyEvaluations[stage.id])'>
								<i ng-show='!reEvaluatingPolicy' class='icon-refresh'></i>
								<i ng-show='reEvaluatingPolicy' class='icon-time'></i>
							</a>
						</div>
					</td>
				</tr>
			</table>
			<div clm-alerts='alerts' class='policies'></div>
			<!-- Note that i check for .editable in ng-show, this is because I ALWAYS want to show the section header for the app tests -->
			<div id='{{applicablePolicy.ownerId}}' ng-repeat='applicablePolicy in applicablePolicies' ng-show='applicablePolicy.editable || applicablePolicy.policies.length > 0'>
				<div class="content-header">
					<h4>
						<span ng-switch='applicablePolicy.editable'>
							<span ng-switch-when='true'>{{applicablePolicy.ownerName}} Policies</span>
							<span ng-switch-default>Policies Inherited from {{applicablePolicy.ownerName}}</span>
						</span>
                        <div class='common-expand-toggle' ng-switch on='isExpanded(applicablePolicy)'>
                            <a ng-switch-when="false" ng-click='toggleAll(applicablePolicy)'><i class="glyphicons-halflings-sonatype expand"></i></a>
                            <a ng-switch-when="true" ng-click='toggleAll(applicablePolicy)'><i class="glyphicons-halflings-sonatype collapse"></i></a>
                        </div>
                    </h4>
				</div>
				<div ng-switch='applicablePolicy.policies.length'>
					<div ng-switch-when='0'><em style="margin-left:25px;">No policies defined</em></div>
					<div ng-switch-default policy-items='applicablePolicy.policies' editable='applicablePolicy.editable' remove='viewRemovePolicy'></div>	
				</div>				
			</div>
		</div>
	</div>
	<div id="confirmationModal" data-backdrop="static" class="modal fade">
		<div class="modal-header">
			<h3>{{state.confirm.header}}</h3>
		</div>
		<div class="modal-body">
			<p>{{state.confirm.body}}</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss='modal'>{{state.confirm.declineText}}</button>
			<button class="btn btn-danger" ng-click="state.confirm.acceptFn()">{{state.confirm.acceptText}}</button>
		</div>
	</div>
	<div error-Modal></div>
</div>