<form name='inlinePolicyForm' form-Submit='inlineSavePolicy()'>
	<div class="accordion" id="policies">
		<div class="accordion-group" ng-repeat='policy in policies'>
			<div class="common-accordion-header policy">
				<span threat-box selected='policy.threatLevel' one='1' zero='0 (None)'></span>
				<span class='inline'>
					<span id='policyName' name='policyName' ng-model='policy.name' xeditable href='javascript:;' data-type='text' alpha-numeric adjustable='true' ng-click="edit(policy)"></span>
					<span ng-show="inlinePolicyForm.policyName.$error.alphaNumeric"  style='color: #b94a48;'>Name must be alpha numeric</span>
				</span>
	            <div class='floatRight'>
	                <div class='btn-group hover-buttons' ng-show='editable'>
						<a class="btn btn-mini policy-button" title="Edit Policy" ng-click="edit(policy)"><i class="icon-pencil" style="margin-top: 0px;"></i></a>
						<a class="btn btn-mini policy-button" title="Remove Policy" ng-click="remove(policy)"><i class="icon-trash" style="margin-top: 0px;"></i></a>
					</div>
	            </div>
			</div>
			<a class="common-accordion-toggle" data-toggle="collapse" data-parent="policies" href="#collapse{{policy.id}}"></a>
			<div id="collapse{{policy.id}}" class="common-accordion-body accordion-body collapse">
				<div class="accordion-inner" ng-hide="policy.edit">
					<div ng-include='"../policy-assets/components/policy/policy-inline-summary.html"'></div>
				</div>
				<div class="accordion-inner" ng-show="policy.edit">
					<div inline-policy-editor></div>
				</div>
			</div>
		</div>
	</div>
</form>