<div class="accordion policies">
	<div class="accordion-group" ng-repeat='policy in policies'>
		<div class="accordion-heading policy">
			<div class='btn-group hover-buttons floatRight' ng-show='editable'>
				<button type='button' class="btn btn-mini policy-button" title="Edit Policy" ng-disabled='policyEditMap[policy.id]' ng-click="edit(policy)"><i class="icon-pencil"></i></button>
				<button type='button' class="btn btn-mini policy-button" title="Remove Policy" ng-click="remove(policy)"><i class="icon-trash"></i></button>
			</div>
			<a class="accordion-toggle policy-top collapsed" data-toggle="collapse" data-target="#collapse{{policy.id}}">
				<span class='threat-chiclet threat-level-{{policy.threatLevel}}'>&nbsp;</span>
				<h3>{{policy.name}}</h3>
			</a>
		</div>
		<div id="collapse{{policy.id}}" class="accordion-body collapse">
			<div class="accordion-inner" show-if="!policyEditMap[policy.id]">
				<table>
					<tr class="constraints">
						<td class="header">Constraints:</td>
						<td><span class="constraint-name" ng-repeat="constraint in policy.constraints">{{constraint.name}}</span></td>
					</tr>
					<tr class="actions">
						<td class="header">Actions:</td>
						<td>
							<table style="height: 40px;" ng-show="getActionCount(policy)">
								<tr>
									<td class="action-item" ng-repeat="stage in getActionStages()"><span>{{stage.name}}</span> <br> <img
										ng-show='getStageIconPath(stage,policy)' ng-src='{{getStageIconPath(stage, policy)}}' style="height: 20px; width: 20px;" /></td>
								</tr>
							</table>
							<span ng-hide="getActionCount(policy)">No actions are assigned.</span>
						</td>
					</tr>
				</table>
			</div>
			<div class="accordion-inner" show-if="policyEditMap[policy.id]">
				<div inline-policy-editor></div>
			</div>
		</div>
	</div>
</div>
