<div id="policy" style='padding-top:20px'>
		<div class='content-container' style='text-align:center;width:370px;margin:auto' ng-show='!state && !httpError'>
			<h5><i class='icon-time'></i> Loading...</h5>
		</div>
	</div>
	<div class='fade' ng-class='{in : state}'>
		<div class="content-container" style='text-align:center; padding-top:10px; margin:auto;width:370px'>
			<p ng-show='!state.policyList.length'>No Policies have been defined.</p>
			<p><a relative-href="/new">Create</a> a new Policy.</p>
		</div>
		<div >
		    <div class="policy-item" ng-repeat="policy in state.policyList">
				<div style="float:right;" class='btn-group'>
					<a class="btn btn-mini policy-button" title="Edit Policy" relative-href='/{{policy.id}}'"><i
						class="icon-pencil" style="margin-top:0px;"></i></a>
					<a class="btn btn-mini policy-button" title="Remove Policy" ng-click="viewRemovePolicy(policy)"><i
						class="icon-trash" style="margin-top:0px;"></i></a>
				</div>
				<div style='max-height: 60px; overflow: hidden;'>
					<span class="threat-box threat-level-{{policy.threatLevel}}"></span>&nbsp;<b style='vertical-align:middle'>{{policy.name}}</b>
				</div>
				<div ng-pluralize count='policy.constraints.length'
					when="{ '0': 'No constraints to be evaluated',
							'1': '1 Constraint to be evaluated',
							'other': '{{policy.constraints.length}} Constraints to be evaluated'
					}"></div>
				<div>
					<div ng-pluralize count='getActionCount(policy)'
						when="{ '0': 'No actions assigned',
								'1': '1 Action assigned',
								'other': '{{getActionCount(policy)}} Actions assigned'
						}"></div>
					<ul style="list-style:none;"><li>{{getActions(policy)}}</li></ul>
				</div>
		    </div>
		</div>
	</div>
	<div id="httpErrorModal" data-backdrop="static" class="modal fade">
		<div class="modal-header">
		    <h3>{{httpError.header}}</h3>
		</div>
		<div class="modal-body">
			<div ng-bind-html="httpError.body | escape"></div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal">OK</button>
		</div>
	</div>
	<div id="confirmationModal" data-backdrop="static" class="modal fade">
		<div class="modal-header">
			<h3>{{state.confirm.header}}</h3>
		</div>
		<div class="modal-body">
			<p>{{state.confirm.body}}</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss='modal'>{{state.confirm.declineText}}</button>
		    <button class="btn btn-danger" ng-click="state.confirm.acceptFn()">{{state.confirm.acceptText}}</button>
		</div>
	</div>
</div>