<div>
  <a class="tree-view-item cannot-select"
     ng-click="isExpanded = available.length && !readOnly && !isExpanded"
     ng-class="{disabled: readOnly}">
    <div class="iq-counter">
      {{selectedEntry[nameField]}}
    </div>
    <div class="twisty-container">
      <span class="twisty" ng-class="{ expand: !isExpanded, collapse: isExpanded }"></span>
    </div>
    <span ng-transclude></span>
  </a>
  <div ng-if="isExpanded" class="tree-view-children">
    <div class="clm-form">
      <iq-radio ng-repeat="entity in available"
                class="tree-view-item"
                model="vm.isChecked(entity)"
                value="true"
                on-click="vm.select(entity)"><!--
              -->{{::entity[nameField]}}
      </iq-radio>
    </div>
  </div>
</div>
