<div id="notification-menu" class="iq-dropdown-menu iq-dropdown-menu--notification-menu">
  <div class="dropdown iq-pull-right">
    <a id="notification-dropdown-toggle" class="dropdown-toggle" data-toggle="dropdown" ng-click="vm.clearSelected()">
      <i class="glyphicons-sonatype medium inbox"></i>
      <div ng-if="unreadNotificationCount" class="iq-count-circle iq-pull-right" ng-class="{'exclamation': errorText}">
        {{unreadNotificationCount}}
      </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-arrow">
      <li class="iq-dropdown-menu__title">NOTIFICATIONS</li>
      <li>
        <ul class="dropdown-contents">
          <li ng-if="loading && !errorText">
            <div class="alert alert-info">
              Loading notification content from server...
            </div>
          </li>
          <li ng-if="errorText">
            <div class="alert alert-danger">
              {{errorText}}
            </div>
          </li>
          <li ng-if="!errorText && !loading"
              ng-repeat="notification in notifications"
              ng-click="vm.openDetail(notification); $event.stopPropagation();"
              class="iq-notification__link"
              ng-class="{'viewed': notification.viewed, 'selected': selectedNotification == notification}">
            <div class="iq-notification__age">
              {{notification.age ? notification.age : '&nbsp;'}}
            </div>
            <div class="iq-notification__age-qualifier">
              {{notification.ageQualifier}}
            </div>
            <div class="iq-notification__text">
              {{::notification.summaryText}}
            </div>
          </li>
          <li ng-if="selectedNotification" ng-click="$event.stopPropagation();">
            <ul class="dropdown-sub-menu">
              <li class="iq-dropdown-menu__title">{{selectedNotification.summaryText}}</li>
              <li id="detail-html-container" class="iq-notification__container">
                <div ng-bind-html="selectedNotification.detailHtml"></div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
