<div load-error="error" reload="doLoad()"></div>
<div class="container" ng-hide="error">
  <div class="row">
    <div class="span12">
      <div class="row">
        <h2 id="component-name" class="span10">
          <div ng-if="gav">
            {{gav.groupId}}<span class='wrap-force-break'> : </span>{{gav.artifactId}}<span
                  class='wrap-force-break'> : </span>{{gav.version}}
          </div>
          <div ng-if="!gav" style="word-break: break-all;">{{name}}</div>
        </h2>
        <div class="span2 bottom-align-h1-with-header">
          <span id="total-risk">TOTAL RISK</span>
          <h2>{{totalRisk}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table component-application-table clm-table-border-top clm-table-stripe">
        <thead>
          <tr>
            <th class="expandable-header"></th>
            <th>
              <div>APPLICATION</div>
            </th>
            <th class="share-risk-header">
              <div>SHARE OF RISK</div>
            </th>
            <th class="risk-header">
              <div>RISK</div>
            </th>
            <th ng-repeat="stage in stageTypes"
                class="stage-column">
              <div>{{stage.name | uppercase}}</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="applicationComponent in applicationComponents | orderBy:'risk':true"
              ng-class="{ expanded: applicationComponent.isExpanded }"
              class="expandable-row" id="app-row-{{applicationComponent.application.id}}">
            <td>
              <i ng-class="{ clickable : applicationComponent.policyViolations.length > 0,
                            'glyphicons-halflings-sonatype' : applicationComponent.policyViolations.length !== 0,
                            expand : !applicationComponent.isExpanded && applicationComponent.policyViolations.length > 0,
                            collapse : applicationComponent.isExpanded && applicationComponent.policyViolations.length > 0,
                            'emptyIconGlyph' : applicationComponent.policyViolations.length === 0 }"
                 ng-click="applicationComponent.isExpanded = !applicationComponent.isExpanded"
                 class='lighter'
                 data-toggle="collapse" data-target="#application-{{applicationComponent.application.id}}"></i>
            </td>
            <td>
              <img class="image-thumbnail"
                ng-src="{{'../rest/application/icon/' + (applicationComponent.application.publicId | EncodeURIComponent)}}">
              {{applicationComponent.application.organizationName}} : {{applicationComponent.application.name}}
            </td>
            <td class="share-risk-column"><span risk-pie risk="{{totalRisk === 0 ? 0 : (applicationComponent.risk/totalRisk)}}" height="24" width="24"
                      clazz="clm-arc application"></span>
              &nbsp;{{totalRisk === 0 ? 0 : (applicationComponent.risk/totalRisk*100 | number:0)}}%
            </td>
            <td>
              {{applicationComponent.risk}}
            </td>
            <td ng-repeat='stageDetails in applicationComponent.stageDetails'
                ng-class="{ 'latest-risk': stageDetails.time === risk.time }"
                class="stage-column">
              <a title="View application report"
                 ng-href="index.html#/reports/{{applicationComponent.application.publicId | EncodeURIComponent }}/{{stageDetails.scanId}}"
                 target="_blank" ng-if="stageDetails.time > 0">
                  {{stageDetails.time | terseAgo}}
                  <i class="sonatype-icons pad-left"
                     ng-class="{ warn: stageDetails.actionTypeId === 'warn', fail : stageDetails.actionTypeId === 'fail'}"></i>
                </a>
            </td>
          </tr>
          <tr ng-repeat-end>
            <td colspan="{{4 + stageTypes.length}}" class="accordion-column">
              <div id="application-{{applicationComponent.application.id}}" class="accordion-body collapse">
                <div class="component-violations-table">
                  <table class="table clm-table-stripe">
                    <tbody>
                      <tr ng-repeat="policyViolation in applicationComponent.policyViolations | orderBy:'threatLevel':true">
                        <td class="clm-bar" threat-class="policyViolation.threatLevel"></td>
                        <td class="threat-column">{{policyViolation.threatLevel}}</td>
                        <td>
                          {{policyViolation.policyName}}
                        </td>
                        <td class="share-risk-column">
                          <span risk-pie risk="{{totalRisk === 0 ? 0 : (policyViolation.threatLevel/totalRisk)}}"
                                  height="24" width="24" clazz="clm-arc violation"></span>
                          &nbsp;{{totalRisk === 0 ? 0 : (policyViolation.threatLevel/totalRisk*100 | number:0)}}%
                        </td>
                        <td class="risk-column">
                          {{policyViolation.threatLevel}}
                        </td>
                        <td ng-repeat='stageDetails in policyViolation.stageDetails'
                            ng-class="{ 'latest-risk': stageDetails.time === risk.time }"
                            class="stage-column stage-column-{{stageDetails.stageTypeId}}">
                          <a title="View application report"
                             ng-href="index.html#/reports/{{applicationComponent.application.publicId | EncodeURIComponent }}/{{stageDetails.scanId}}"
                             target="_blank" ng-if="stageDetails.time > 0">
                              {{stageDetails.time | terseAgo}}
                              <i class="sonatype-icons pad-left"
                                 ng-class="{ warn: stageDetails.actionTypeId === 'warn', fail : stageDetails.actionTypeId === 'fail'}"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
          <tr ng-if="applicationComponents.length === 0">
            <td colspan="{{3 + stageTypes.length}}">
              <em>No application risk data available for this component.</em>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>