<div class='container dashboard-content'>
  <div class='row'>
    <div class='span11'>
      <h1>Dashboard</h1>
    </div>
    <div class='span1 bottom-align-h1'>
      <a ng-click='toggleCollapse()'>Filters&nbsp;<i class='glyphicons-sonatype filter'></i></a>
    </div>
  </div>
  <div class='row'>
    <div class='span12'>
      <div class='dashboard-filters'>
        <div class='accordion-body collapse filter-edit' delayed-overflow>
          <div class='accordion-inner'>
            <div class='filter-edit-body'>
              <table>
                <tbody>
                  <tr>
                    <td><h5>Applications:</h5></td>
                    <td><span id='applications' class='multi-dropdown' multi-select items='applications'
                              selected-ids='queuedApplicationPublicIds' effective-id-field='publicId'
                              none-selected-text='All Applications'></span></td>
                  </tr>
                </tbody>
              </table>
              <div class='pull-right'>
                <button class='btn' type='button' ng-click='cancelFilters()'>Cancel</button>
                <button class='btn btn-primary' type='button' ng-click='applyFilters()'>Apply</button>
              </div>
              <div style='clear: both'></div>
            </div>
          </div>
        </div>
        <div ng-if='appliedApplicationPublicIds.length > 0'>
          <table>
            <tbody>
            <tr>
              <td><h5>Applications:</h5></td>
              <td>{{getSelectedApplicationNames()}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='row dashboard-charts'>
    <div class='span12'>
      <h4>Highest Risk</h4>
      <table class='table'>
        <thead>
        <tr>
          <th colspan='2'>RISK</th>
          <th>POLICY</th>
          <th>APPLICATION</th>
          <th>COMPONENT</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='risk in highestRisks | limitTo: maxResults'>
          <td class='clm-bar'
              ng-class='{ critical : risk.threatLevel >= 8, severe : risk.threatLevel >= 4 && risk.threatLevel < 8,
                moderate : risk.threatLevel >= 1 && risk.threatLevel < 4, none : risk.threatLevel == 1,
                ignore : risk.threatLevel == 0 }'></td>
          <td>{{risk.threatLevel}}</td>
          <td>{{risk.policyName}}</td>
          <td>{{risk.applicationName}}</td>
          <td ng-if='risk.groupId'>{{risk.groupId}}:{{risk.artifactId}}:{{risk.version}}</td>
          <td ng-if='!risk.groupId'><em>Unknown</em></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>