<script type='text/ng-template' id='risk-table'>
  <h4>{{ title }}</h4>
  <table class='table' id='{{ riskId }}'>
    <thead>
    <tr>
      <th id='{{riskId}}-threat-header' colspan='2' class='clm-bar-text-offset'>
        <a ng-click='setSort("threatLevel")'>
          RISK
          <i class='sonatype-icons' ng-class="{ 'down' : orderColumn == 'threatLevel' && orderDirection,
            'up' : orderColumn == 'threatLevel' && !orderDirection,
            'emptyIconGlyph' : orderColumn != 'threatLevel' }"></i>
        </a>
      </th>
      <th>POLICY</th>
      <th>APPLICATION</th>
      <th>COMPONENT</th>
      <th id='{{riskId}}-time-header' ng-if='riskId === "newest-risk"'>
        <a ng-click='setSort("time")'>
          AGE
          <i class='sonatype-icons' ng-class="{ 'up' : orderColumn == 'time' && orderDirection,
            'down' : orderColumn == 'time' && !orderDirection,
            'emptyIconGlyph' : orderColumn != 'time' }"></i>
        </a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='risk in risks | orderBy:orderColumn:orderDirection'>
      <td class='clm-bar'
          ng-class='{ critical : risk.threatLevel >= 8, severe : risk.threatLevel >= 4 && risk.threatLevel < 8,
             moderate : risk.threatLevel >= 1 && risk.threatLevel < 4, none : risk.threatLevel == 1,
             ignore : risk.threatLevel == 0 }'></td>
      <td>{{risk.threatLevel}}</td>
      <td>{{risk.policyName}}</td>
      <td>{{risk.applicationName}}</td>
      <td ng-if='risk.groupId'>
        <!-- This line cannot break as it causes spaces between the GAV -->
        {{risk.groupId}}<span class='wrap-force-break'> : </span>{{risk.artifactId}}<span class='wrap-force-break'> : </span>{{risk.version}}
      </td>
      <td ng-if='!risk.groupId'><em>Unknown</em></td>
      <td ng-if='riskId === "newest-risk"'>{{risk.time | ago}}</td>
    </tr>
    <tr ng-if='risks.length === 0'>
      <td colspan='6' class='clm-bar-text-offset'>
        <em id='no-data-{{ riskId }}'>{{ emptyMessage }}</em>
      </td>
    </tr>
    </tbody>
  </table>
</script>
<div class='container dashboard-content'>
  <div class='row'>
    <div class='span12'>
      <h1 class="left-align-h1">Dashboard</h1>
      <a class='bottom-align-h1' ng-click='toggleCollapse()'>Filters&nbsp;<i class='glyphicons-sonatype filter'></i></a>
    </div>
  </div>
  <div class='row'>
    <div class='span12 dashboard-filters'>
      <div class='filter-edit collapse' delayed-overflow>
        <div>
          <div class='row-fluid filter-edit-body'>
            <div class='span3'>
              <h5>Applications</h5>
              <span ng-if='applications.length > 0' id='applications' class='multi-dropdown' multi-select items='applications'
                        selected-ids='filters.applicationPublicIds.queued' effective-id-field='publicId'
                        summarize-with='applications' none-selected-text='All Applications'></span>
              <span ng-if='applications.length === 0'><em id='no-permissions'>No applications available.</em></span>
            </div>
            <div class='span3'>
              <h5>Application Tags</h5>
              <span ng-if='applicationTags.length > 0' id='application-tags' class='multi-dropdown' multi-select items='applicationTags'
                    selected-ids='filters.applicationTagIds.queued' none-selected-text='All Applications'></span>
              <span ng-if='applicationTags.length === 0'><em id='no-application-tags'>No application tags available.</em></span>
            </div>
            <div class='span3'>
              <h5>Stages</h5>
              <span id='stage-types' class='multi-dropdown' multi-select items='stageTypes'
                    selected-ids='filters.stageTypeIds.queued'
                    none-selected-text='All Stages'></span>
            </div>
            <div class='span3'>
              <h5>Policy Types</h5>
              <span id='policy-types' class='multi-dropdown' multi-select items='policyThreatTypes'
                    selected-ids='filters.policyThreatTypes.queued'
                    none-selected-text='All Policy Types'></span>
            </div>
            <div class='span3'>
              <h5>Policy Threat Level</h5>
              <div id="policy-threat-levels">
                <div slider ng-model="filters.policyThreatLevel.queued" min="0" max="10"></div>
              </div>
            </div>
          </div>
          <div class='filter-edit-buttons'>
            <button class='btn' type='button' ng-click='cancelFilters()'>Cancel</button>
            <button class='btn btn-primary' type='button' ng-click='applyFilters()'>Apply</button>
          </div>
          <div style='clear: both'></div>
        </div>
      </div>
      <div class='filter-readonly'>
        <div class="span3" ng-if='filters.applicationPublicIds.applied.length > 0'>
          <span><strong>Applications</strong></span>
          <span ng-repeat="applicationId in filters.applicationPublicIds.applied">
            {{applicationNameFor(applicationId)}}{{!$last ? "," : ""}}
          </span>
        </div>
        <div class="span3" style="display: inline;" ng-if='filters.policyThreatTypes.applied.length > 0'>
          <span><strong>Policy Types</strong></span>
          <span ng-repeat="policyThreatTypeId in filters.policyThreatTypes.applied">
            {{policyThreatTypeNameFor(policyThreatTypeId)}}{{!$last ? "," : ""}}
          </span>
        </div>
        <div class="span3" style="display: inline;" ng-if='filters.stageTypeIds.applied.length > 0'>
          <span><strong>Stages</strong></span>
          <span ng-repeat="stageTypeId in filters.stageTypeIds.applied">
            {{stageTypeNameFor(stageTypeId)}}{{!$last ? "," : ""}}
          </span>
        </div>
        <div class='span3' ng-if='filters.applicationTagIds.applied.length > 0'>
          <span><strong>Application Tags</strong></span>
          <span ng-repeat='applicationTagId in filters.applicationTagIds.applied'>
            {{applicationTagNameFor(applicationTagId)}}{{!$last ? "," : ""}}
          </span>
        </div>
        <div class='span3' ng-if='filters.policyThreatLevel.applied[0] > 0 || filters.policyThreatLevel.applied[1] < 10'>
          <span><strong>Policy Threat Levels {{filters.policyThreatLevel.applied[0]}} through {{filters.policyThreatLevel.applied[1]}}</strong></span>
        </div>
      </div>
    </div>
  </div>
  <div load-error='error' reload='doLoad()'></div>
  <div class='row dashboard-charts' ng-hide='error'>
    <div class='span6' risk-table risks='newestRisks' title='Newest Risk' risk-id='newest-risk' empty-message="noDataNewestRiskMessage"></div>
    <div class='span6' risk-table risks='highestRisks' title='Highest Risk' risk-id='highest-risk' empty-message="noDataHighestRiskMessage"></div>
  </div>
</div>
