<div id="dashboard-filter-panel" class="filter-panel-container" ng-class="{'filter-panel-container-expanded': expanded || error}">
  <div class="filter-expando-container">
    <i class="glyphicons-sonatype filter"></i>
    <span ng-if="expanded" class="filter-expando-label">Filters</span>
    <a id="dashboard-filter-toggle" ng-click="expanded=!expanded;">
      <i class="sonatype-icons extra-small pull-right" ng-class="{'double-chevron-right': !expanded, 'double-chevron-left': expanded}"></i>
    </a>
  </div>
  <div class="filter-item-container">
    <div ng-if="!expanded">
      <div class="filter-item-collapsed">
        <div id="application-filter-item-collapsed" tooltip-html-unsafe="{{applicationsTooltip}}" tooltip-placement="right" tooltip-append-to-body="true">
          <i class="sonatype-icons application"></i>
          <div ng-if="filters.applicationIds.length" class="count-circle pull-right">{{filters.applicationIds.length}}</div>
        </div>
      </div>
      <div class="filter-item-collapsed">
        <div id="application-tag-filter-item-collapsed" tooltip-html-unsafe="{{applicationTagsTooltip}}" tooltip-placement="right" tooltip-append-to-body="true">
          <i class="sonatype-icons tag"></i>
          <div ng-if="filters.applicationTagIds.length" class="count-circle pull-right">{{filters.applicationTagIds.length}}</div>
        </div>
      </div>
      <div class="filter-item-collapsed">
        <div id="stage-type-filter-item-collapsed" tooltip-html-unsafe="{{stageTypesTooltip}}" tooltip-placement="right" tooltip-append-to-body="true">
          <i class="sonatype-glyphicons stage-type"></i>
          <div ng-if="filters.stageTypeIds.length" class="count-circle pull-right">{{filters.stageTypeIds.length}}</div>
        </div>
      </div>
      <div class="filter-item-collapsed">
        <div id="policy-type-filter-item-collapsed" tooltip-html-unsafe="{{policyTypesTooltip}}" tooltip-placement="right" tooltip-append-to-body="true">
          <i class="sonatype-icons policy"></i>
          <div ng-if="filters.policyThreatTypes.length" class="count-circle pull-right">{{filters.policyThreatTypes.length}}</div>
        </div>
      </div>
      <div class="filter-item-collapsed">
        <div id="policy-threat-level-filter-item-collapsed" tooltip="{{policyThreatLevelsTooltip}}" tooltip-placement="right" tooltip-append-to-body="true">
          <i class="sonatype-icons policy-threat-level"></i>
          <div ng-if="filters.policyThreatLevel[0] > 0 || filters.policyThreatLevel[1] < 10" class="count-circle pull-right">{{filters.policyThreatLevel[1] - filters.policyThreatLevel[0] + 1}}</div>
        </div>
      </div>
    </div>
    <div ng-if="expanded">
      <div ng-if="!filtersLoaded">
        Loading filters...
      </div>
      <div ng-if="filtersLoaded">
        <div id="application-filter-item" class="filter-item-expanded">
          <div class="filter-item-icon">
            <i class="sonatype-icons application"></i>
          </div>
          <div class="filter-item-content">
            <div class="filter-item-header">Applications</div>
            <span ng-if='applications.length > 0' class='multi-dropdown' multi-select items='applications'
                  selected-ids='dirtyFilters.applicationIds' effective-id-field='id'
                  summarize-with='applications' none-selected-text='All Applications'></span>
            <span ng-if='applications.length === 0' class="small-text">
              <em id="no-applications">No applications available.</em>
            </span>
          </div>
        </div>
        <div id="application-tag-filter-item" class="filter-item-expanded">
          <div class="filter-item-icon">
            <i class="sonatype-icons tag"></i>
          </div>
          <div class="filter-item-content">
            <div class="filter-item-header">Application Tags</div>
            <span ng-if='applicationTags.length > 0' class='multi-dropdown' multi-select items='applicationTags'
                  selected-ids='dirtyFilters.applicationTagIds' none-selected-text='All Applications'></span>
            <span ng-if='applicationTags.length === 0' class="small-text">
              <em id='no-application-tags'>No applications tags available.</em>
            </span>
          </div>
        </div>
        <div id="stage-type-filter-item" class="filter-item-expanded">
          <div class="filter-item-icon">
            <i class="sonatype-glyphicons stage-type"></i>
          </div>
          <div class="filter-item-content">
            <div class="filter-item-header">Stages</div>
            <span class='multi-dropdown' multi-select items='stageTypes'
                  selected-ids='dirtyFilters.stageTypeIds' none-selected-text='All Stages'></span>
          </div>
        </div>
        <div id="policy-type-filter-item" class="filter-item-expanded">
          <div class="filter-item-icon">
            <i class="sonatype-icons policy"></i>
          </div>
          <div class="filter-item-content">
            <div class="filter-item-header">Policy Types</div>
            <span class='multi-dropdown' multi-select items='policyThreatTypes'
                  selected-ids='dirtyFilters.policyThreatTypes' none-selected-text='All Policy Types'></span>
          </div>
        </div>
        <div id="policy-threat-level-filter-item" class="filter-item-expanded">
          <div class="filter-item-icon">
            <i class="sonatype-icons policy-threat-level"></i>
          </div>
          <div class="filter-item-content">
            <div class="filter-item-header">Policy Threat Levels</div>
            <div slider ng-model="dirtyFilters.policyThreatLevel" min="0" max="10" hide-labels="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="filtersLoaded && expanded" class="filter-button-container">
    <div clm-alerts="alerts" no-close="true"></div>
    <button id='dashboard-filter-cancel' type="button" class='btn btn-link btn-cancel' ng-click='cancel()'>Cancel</button>
    <div class="pull-right clm-primary-buttons">
      <button id='dashboard-filter-reset' type='button' class='btn btn-default' ng-click='reset()'>Reset</button>
      <button id='dashboard-filter-apply' type='button' class='btn btn-primary' ng-click='save()'>Apply</button>
    </div>
  </div>
</div>