<div id="dashboard-filter-panel" class="filter-panel-container" ng-class="{'filter-panel-container-expanded': expanded || error}">
  <div class="filter-expando-container">
    <i class="glyphicons-sonatype filter"></i>
    <span ng-if="expanded" class="filter-expando-label">Filters</span>
    <a ng-click="expanded=!expanded;">
      <i class="sonatype-icons extra-small pull-right" ng-class="{'double-chevron-right': !expanded, 'double-chevron-left': expanded}"></i>
    </a>
  </div>
  <div class="filter-item-container">
    <div ng-if="!expanded">
      <div class="filter-item-collapsed" tooltip-html-unsafe="{{applicationsTooltip}}" tooltip-placement="right" tooltip-append-to-body="true">
        <div tooltip-html-unsafe="{{applicationsTooltip}}" tooltip-placement="right" tooltip-append-to-body="true">
          <i class="sonatype-icons application"></i>
          <div ng-if="filters.applicationIds.length" class="count-circle pull-right">{{filters.applicationIds.length}}</div>
        </div>
      </div>
    </div>
    <div ng-if="expanded">
      <div class="filter-item-expanded">
        <div class="filter-item-icon">
          <i class="sonatype-icons application"></i>
        </div>
        <div class="filter-item-content">
          <div class="filter-item-header">Applications</div>
          <span ng-if='applications.length > 0' class='multi-dropdown' multi-select items='applications'
                selected-ids='dirtyFilters.applicationIds' effective-id-field='id'
                summarize-with='applications' none-selected-text='All Applications'></span>
          <span ng-if='applications.length === 0' class="small-text">
            <em id='no-permissions'>No applications available.</em>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="expanded" class="filter-button-container">
    <div clm-alerts="alerts" no-close="true"></div>
    <button id='dashboard-filter-cancel' type="button" class='btn btn-link btn-cancel' ng-click='cancel()'>Cancel</button>
    <div class="pull-right clm-primary-buttons">
      <button id='dashboard-filter-reset' type='button' class='btn btn-default' ng-click='reset()'>Reset</button>
      <button id='dashboard-filter-save' type='button' class='btn btn-primary' ng-click='save()'>Apply</button>
    </div>
  </div>
</div>