
<div newest-risk-table>
  <div ng-controller="NewestRiskTableController">
    <table class='table policy-violation-table clm-table-stripe' id="highest-risk-table"
           sortable='-time,-threatLevel'>
      <thead>
      <tr>
        <th id='threat-header' colspan='2' class='clm-bar-text-offset'>
          <div sort-columns="-threatLevel,-time">
            THREAT
          </div>
        </th>
        <th class='time-header'>
          <div sort-columns="-time,-threatLevel" sort-inverted="true">AGE</div>
        </th>
        <th class='policy-header'>
          <div sort-columns="policyName,-time">POLICY</div>
        </th>
        <th class='application-header'>
          <div sort-columns="applicationName,-threatLevel">APPLICATION</div>
        </th>
        <th class='component-header'>
          <div sort-columns="gavName,-threatLevel">COMPONENT</div>
        </th>
        <th id='stage-header-{{stage.stageTypeId}}' ng-repeat="stage in stageTypes | stageFilter:filters">
          <div sort-columns="-{{(stage.stageTypeId | removeDashes) + 'Time'}},-threatLevel" sort-inverted="true">
            {{ stage.name | uppercase }}
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat='risk in data | orderBy:getSortField() | limitTo: maxResults | emptyToEnd:getSortField()'>
        <td class='clm-bar' threat-class="risk.threatLevel"></td>
        <td>{{risk.threatLevel}}</td>
        <td>{{risk.time | terseAgo}}</td>
        <td>{{risk.policyName}}</td>
        <td>{{risk.applicationName}}</td>
        <td ng-if='risk.gav'>
          <a ui-sref="dashboard.component({ hash: risk.hash })">
            <!-- This line cannot break as it causes spaces between the GAV -->
            {{risk.gav.groupId}}<span class='wrap-force-break'> : </span>{{risk.gav.artifactId}}<span
                  class='wrap-force-break'> : </span>{{risk.gav.version}}
          </a>
        </td>
        <td ng-if='!risk.gav && risk.pathnames' pathnames-popover='risk.pathnames'>
          <a ui-sref="dashboard.component({ hash: risk.hash })">
            <em>{{risk.pathnames[0] | fileName}}</em>
          </a>
        </td>
        <td ng-if='!risk.gav && !risk.pathnames'>
          <a ui-sref="dashboard.component({ hash: risk.hash })">
            <em>Unknown</em>
          </a>
        </td>
        <td ng-repeat='stageDetails in risk.stageDetails | stageTypeSort | stageFilter:filters'
            ng-class="{ 'latest-risk': stageDetails.time === risk.time }">
          <a title="View application report"
             ng-href="index.html#/reports/{{risk.applicationPublicId | EncodeURIComponent }}/{{stageDetails.scanId}}"
             target="_blank" ng-if="stageDetails.time > 0">
            <div>
              {{stageDetails.time | terseAgo}}
              <i class="sonatype-icons pad-left"
                 ng-class="{ warn: stageDetails.actionTypeId === 'warn', fail : stageDetails.actionTypeId === 'fail'}"></i>
            </div>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

