<script type='text/ng-template' id='dashboard-filter'>
  <div class='span12 dashboard-filters'>
    <div class='filter-edit collapse' delayed-overflow>
      <div ng-if='dirtyFilter'>
        <div class='row-fluid filter-edit-body'>
          <div ng-if='filtersLoaded'>
            <div class='span2'>
              <h5>Applications</h5>
              <span ng-if='applications.length > 0' id='applications' class='multi-dropdown' multi-select items='applications'
                    selected-ids='dirtyFilter.applicationPublicIds' effective-id-field='publicId'
                    summarize-with='applications' none-selected-text='All Applications'></span>
              <span ng-if='applications.length === 0'><em id='no-permissions'>No applications available.</em></span>
            </div>
            <div class='span2'>
              <h5>Application Tags</h5>
              <span ng-if='applicationTags.length > 0' id='application-tags' class='multi-dropdown' multi-select items='applicationTags'
                    selected-ids='dirtyFilter.applicationTagIds' none-selected-text='All Applications'></span>
              <span ng-if='applicationTags.length === 0'><em id='no-application-tags'>No application tags available.</em></span>
            </div>
            <div class='span2'>
              <h5>Stages</h5>
              <span id='stage-types' class='multi-dropdown' multi-select items='stageTypes'
                    selected-ids='dirtyFilter.stageTypeIds'
                    none-selected-text='All Stages'></span>
            </div>
            <div class='span2'>
              <h5>Policy Types</h5>
              <span id='policy-types' class='multi-dropdown' multi-select items='policyThreatTypes'
                    selected-ids='dirtyFilter.policyThreatTypes'
                    none-selected-text='All Policy Types'></span>
            </div>
            <div class='span2'>
              <h5>Policy Threat Level</h5>
              <div id="policy-threat-levels">
                <div slider ng-model="dirtyFilter.policyThreatLevel" min="0" max="10"></div>
              </div>
            </div>
          </div>
          <div ng-if="!filtersLoaded">Loading filters...</div>
        </div>
        <div ng-if="filtersLoaded" class='filter-edit-buttons'>
          <span class="alert alert-error error-left-of-buttons" ng-if="applyError">{{applyError}}</span>
          <button class='btn' type='button' ng-click='cancelFilter()'>Cancel</button>
          <button class='btn btn-primary' type='button' ng-click='applyFilter()'>Apply</button>
        </div>
        <div style='clear: both'></div>
      </div>
    </div>
    <div class='row-fluid filter-readonly'>
      <div class="span2" ng-if='filter.applicationPublicIds.length > 0'>
        <span><strong>Applications</strong></span>
        <span ng-repeat="applicationId in filter.applicationPublicIds">
          {{applicationNameFor(applicationId)}}{{!$last ? "," : ""}}
        </span>
      </div>
      <div class="span2" style="display: inline;" ng-if='filter.policyThreatTypes.length > 0'>
        <span><strong>Policy Types</strong></span>
        <span ng-repeat="policyThreatTypeId in filter.policyThreatTypes">
          {{policyThreatTypeNameFor(policyThreatTypeId)}}{{!$last ? "," : ""}}
        </span>
      </div>
      <div class="span2" style="display: inline;" ng-if='filter.stageTypeIds.length > 0'>
        <span><strong>Stages</strong></span>
        <span ng-repeat="stageTypeId in filter.stageTypeIds">
          {{stageTypeNameFor(stageTypeId)}}{{!$last ? "," : ""}}
        </span>
      </div>
      <div class='span2' ng-if='filter.applicationTagIds.length > 0'>
        <span><strong>Application Tags</strong></span>
        <span ng-repeat='applicationTagId in filter.applicationTagIds'>
          {{applicationTagNameFor(applicationTagId)}}{{!$last ? "," : ""}}
        </span>
      </div>
      <div class='span2' ng-if='filter.policyThreatLevel[0] > 0 || filter.policyThreatLevel[1] < 10'>
        <span ng-if="filter.policyThreatLevel[0] != filter.policyThreatLevel[1]"><strong>Policy Threat
          Levels</strong> {{filter.policyThreatLevel[0]}} through {{filter.policyThreatLevel[1]}}</span>
        <span ng-if="filter.policyThreatLevel[0] == filter.policyThreatLevel[1]"><strong>Policy Threat
          Level</strong> {{filter.policyThreatLevel[0]}}</span>
      </div>
    </div>
  </div>
</script>
<script type='text/ng-template' id='risk-table'>
  <table class='table policy-violation-table' sortable sortable-reverse="true" sortable-field="threatLevel">
    <thead>
    <tr>
      <th id='threat-header' colspan='2' class='clm-bar-text-offset'>
        <div sort-column="threatLevel" sort-inverse="true">
          RISK
        </div>
      </th>
      <th class='policy-header'>
        <div>POLICY</div>
      </th>
      <th class='application-header'>
        <div>APPLICATION</div>
      </th>
      <th class='component-header'>
        <div>COMPONENT</div>
      </th>
      <th id='time-header'>
        <div sort-column="time">
          AGE
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='risk in data | orderBy:getSortField():getSortReverse() | limitTo: maxResults'>
      <td class='clm-bar' threat-class="risk.threatLevel"></td>
      <td>{{risk.threatLevel}}</td>
      <td>{{risk.policyName}}</td>
      <td>{{risk.applicationName}}</td>
      <td ng-if='risk.groupId'>
        <a ui-sref="dashboard.component({ hash: risk.hash })">
          <!-- This line cannot break as it causes spaces between the GAV -->
          {{risk.groupId}}<span class='wrap-force-break'> : </span>{{risk.artifactId}}<span class='wrap-force-break'> : </span>{{risk.version}}
        </a>
      </td>
      <td ng-if='!risk.groupId && risk.pathnames' pathnames-popover='risk.pathnames'>
        <a ui-sref="dashboard.component({ hash: risk.hash })">
          <em>{{risk.pathnames[0] | fileName}}</em>
        </a>
      </td>
      <td ng-if='!risk.groupId && !risk.pathnames'>
        <a ui-sref="dashboard.component({ hash: risk.hash })">
          <em>Unknown</em>
        </a>
      </td>
      <td>{{risk.time | ago}}</td>
    </tr>
    <tr ng-if='data.length === 0'>
      <td colspan='6' class='clm-bar-text-offset'>
        <em id='no-data'>{{ noDataMessage }}</em>
      </td>
    </tr>
    </tbody>
  </table>
</script>
<script type="text/ng-template" id="dashboard-table">
  <div load-wrapper="error" reload="doLoad()">
    <div ng-if="!data">
      <h5>
        <i class='icon-time'></i> Loading...
      </h5>
    </div>
    <div ng-if="data !== undefined && data !== null">
      <div class='scrollable-container'>
        <div class='scrollable-container-inner'>
          <div ng-transclude></div>
        </div>
      </div>
      <span id="max-results-shown" class="pull-right" ng-if="data.length > maxResults">
        Showing the top {{maxResults}} results
      </span>
    </div>
  </div>
</script>
<div class='container'>
  <div class='row'>
    <div class='span12'>
      <h1 class="left-align-h1">Dashboard</h1>
      <a class='bottom-align-h1 pull-right' ng-click='toggleCollapse()'>Filters&nbsp;<i class='glyphicons-sonatype filter'></i></a>
    </div>
  </div>
  <div class='row' style='margin-bottom:10px' dashboard-filter="filters" toggle="toggleCollapse"></div>
  <div load-error='error' reload='doLoad()'></div>
  <div class='row dashboard-tables' ng-hide='error'>
    <div class='span12' id="highest-risk">
      <ul class="nav nav-tabs">
        <li>
          <h4>Highest Risk</h4>
        </li>
        <li class="pull-right" ng-class="{ active : riskTable === 'applications' }">
          <a id='tab-button-application' href="#" ng-click="$event.preventDefault(); riskTable='applications'">By Application</a>
        </li>
        <li class="pull-right" ng-class="{ active : riskTable === 'components' }">
          <a id='tab-button-component' href="#" ng-click="$event.preventDefault(); riskTable='components'">By Component</a>
        </li>
        <li class="pull-right" ng-class="{ active : riskTable === 'newest-risk' }">
          <a id='tab-button-newest' href="#" ng-click="$event.preventDefault(); riskTable='newest-risk'">Newest Risk</a>
        </li>
      </ul>
      <div ng-switch="riskTable">
        <div ng-switch-when="newest-risk">
          <div newest-risk-table>
            <div ng-include="'risk-table'"></div>
          </div>
        </div>
        <div ng-switch-when="applications">
          <div application-risk-table>
            <div ng-controller="applicationRiskTable">
              <table class="table table-risk" id="application-risk" sortable sortable-reverse="true" sortable-field="totalApplicationRisk.totalRisk">
                <thead>
                <tr>
                  <th><div sort-column="applicationName">APPLICATION</div></th>
                  <th><div sort-column="totalApplicationRisk.totalRisk" sort-inverse="true">TOTAL RISK</div></th>
                  <th><div sort-column="totalApplicationRisk.criticalRisk" sort-inverse="true">CRITICAL</div></th>
                  <th><div sort-column="totalApplicationRisk.severeRisk" sort-inverse="true">SEVERE</div></th>
                  <th><div sort-column="totalApplicationRisk.moderateRisk" sort-inverse="true">MODERATE</div></th>
                  <th><div sort-column="totalApplicationRisk.lowRisk" sort-inverse="true">LOW</div></th>
                </tr>
                </thead>
                <tr ng-repeat-start="application in data | limitTo: maxResults | orderBy:getSortField():getSortReverse()">
                  <td><i ng-class="{ clickable : canExpand(application),
                                        'icon-plus-sign' : canExpand(application),
                                        'icon-minus-sign' : isExpanded(application),
                                        'emptyIconGlyph' : !canExpand(application) }"
                         ng-click='expand(application)'></i> {{application.applicationName}}</td>
                  <td>{{application.totalApplicationRisk.totalRisk}}</td>
                  <td>{{application.totalApplicationRisk.criticalRisk}}</td>
                  <td>{{application.totalApplicationRisk.severeRisk}}</td>
                  <td>{{application.totalApplicationRisk.moderateRisk}}</td>
                  <td>{{application.totalApplicationRisk.lowRisk}}</td>
                </tr>
                <tr class='stage' ng-repeat-end
                    ng-repeat='stage in application.stageRisks | orderBy:"stageTypeName"'
                    ng-if='expanded[application.applicationId]'>
                  <td><a title="View application report" class="glyphicons-sonatype link"
                         ng-href="index.html#/reports/{{encodeURIComponent(application.applicationId)}}/{{stage.scanId}}"
                         target="_blank">{{stage.stageTypeName | uppercase}}</a></td>
                  <td>{{stage.risk.totalRisk}}</td>
                  <td>{{stage.risk.criticalRisk}}</td>
                  <td>{{stage.risk.severeRisk}}</td>
                  <td>{{stage.risk.moderateRisk}}</td>
                  <td>{{stage.risk.lowRisk}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div ng-switch-when="components">
          <div component-risk-table>
            <table class="table table-risk" id="component-risk" sortable sortable-reverse="true" sortable-field="score">
              <thead>
                <tr>
                  <th><div>COMPONENT</div></th>
                  <th><div sort-column="score" sort-inverse="true">TOTAL RISK</div></th>
                  <th><div sort-column="scoreCritical" sort-inverse="true">CRITICAL</div></th>
                  <th><div sort-column="scoreSevere" sort-inverse="true">SEVERE</div></th>
                  <th><div sort-column="scoreModerate" sort-inverse="true">MODERATE</div></th>
                  <th><div sort-column="scoreLow" sort-inverse="true">LOW</div></th>
                </tr>
              </thead>
              <tr ng-repeat="component in data | limitTo: maxResults | orderBy:getSortField():getSortReverse()">
                <td ng-if="component.gavs.length">
                  <a ui-sref="dashboard.component({ hash: component.hash })">
                    {{component.gavs[0].groupId}}<span class="wrap-force-break"> : </span>{{component.gavs[0].artifactId}}<span class="wrap-force-break"> : </span>{{component.gavs[0].version}}
                  </a>
                </td>
                <td ng-if="!component.gavs.length && component.pathnames.length" pathnames-popover='component.pathnames'>
                  <a ui-sref="dashboard.component({ hash: component.hash })">
                    <em>{{component.pathnames[0] | fileName}}</em>
                  </a>
                </td>
                <td ng-if="!component.gavs.length && !component.pathnames.length">
                  <a ui-sref="dashboard.component({ hash: component.hash })">
                    <em>Unknown</em>
                  </a>
                </td>
                <td>{{component.score}}</td>
                <td>{{component.scoreCritical}}</td>
                <td>{{component.scoreSevere}}</td>
                <td>{{component.scoreModerate}}</td>
                <td>{{component.scoreLow}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>