<script type='text/ng-template' id='dashboard-filter'>
  <div class='span12 dashboard-filters'>
    <div class='filter-edit collapse' delayed-overflow>
      <div ng-if='dirtyFilter'>
        <div class='row filter-edit-body'>
          <div ng-if='filtersLoaded'>
            <div class='span2 offset1'>
              <h5>Applications</h5>
              <span ng-if='applications.length > 0' id='applications' class='multi-dropdown' multi-select small="true"
                    items='applications' selected-ids='dirtyFilter.applicationPublicIds' effective-id-field='publicId'
                    summarize-with='applications' none-selected-text='All Applications'></span>
              <span ng-if='applications.length === 0' class="small-text">
                <em id='no-permissions'>No applications available.</em>
              </span>
            </div>
            <div class='span2'>
              <h5>Application Tags</h5>
              <span ng-if='applicationTags.length > 0' id='application-tags' class='multi-dropdown' multi-select small="true"
                    items='applicationTags' selected-ids='dirtyFilter.applicationTagIds' none-selected-text='All Applications'></span>
              <span ng-if='applicationTags.length === 0' class="small-text">
                <em id='no-application-tags'>No application tags available.</em>
              </span>
            </div>
            <div class='span2'>
              <h5>Stages</h5>
              <span id='stage-types' class='multi-dropdown' multi-select small="true" items='stageTypes'
                    selected-ids='dirtyFilter.stageTypeIds'
                    none-selected-text='All Stages'></span>
            </div>
            <div class='span2'>
              <h5>Policy Types</h5>
              <span id='policy-types' class='multi-dropdown' multi-select  small="true" items='policyThreatTypes'
                    selected-ids='dirtyFilter.policyThreatTypes'
                    none-selected-text='All Policy Types'></span>
            </div>
            <div class='span2'>
              <h5>Policy Threat Level</h5>
              <div id="policy-threat-levels">
                <div slider ng-model="dirtyFilter.policyThreatLevel" min="0" max="10"></div>
              </div>
            </div>
          </div>
          <div ng-if="!filtersLoaded">Loading filters...</div>
        </div>
        <div ng-if="filtersLoaded" class='filter-edit-buttons'>
          <span class="alert alert-error error-left-of-buttons" ng-if="applyError">{{applyError}}</span>
          <button class='btn' type='button' ng-click='cancelFilter()'>Cancel</button>
          <button class='btn btn-primary' type='button' ng-click='applyFilter()'>Apply</button>
        </div>
        <div style='clear: both'></div>
      </div>
    </div>
    <div class='row filter-readonly'>
      <div class="span2" ng-if='filter.applicationPublicIds.length > 0'>
        <div><strong>Applications</strong></div>
        <span ng-repeat="applicationId in filter.applicationPublicIds">
          {{applicationNameFor(applicationId)}}{{!$last ? "," : ""}}
        </span>
      </div>
      <div class='span2' ng-if='filter.applicationTagIds.length > 0'>
        <div><strong>Application Tags</strong></div>
        <span ng-repeat='applicationTagId in filter.applicationTagIds'>
          {{applicationTagNameFor(applicationTagId)}}{{!$last ? "," : ""}}
        </span>
      </div>
      <div class="span2" style="display: inline;" ng-if='filter.policyThreatTypes.length > 0'>
        <div><strong>Policy Types</strong></div>
        <span ng-repeat="policyThreatTypeId in filter.policyThreatTypes">
          {{policyThreatTypeNameFor(policyThreatTypeId)}}{{!$last ? "," : ""}}
        </span>
      </div>
      <div class="span2" style="display: inline;" ng-if='filter.stageTypeIds.length > 0'>
        <div><strong>Stages</strong></div>
        <span ng-repeat="stageTypeId in filter.stageTypeIds">
          {{stageTypeNameFor(stageTypeId)}}{{!$last ? "," : ""}}
        </span>
      </div>
      <div class='span2' ng-if='filter.policyThreatLevel[0] > 0 || filter.policyThreatLevel[1] < 10' id="filter-summary-threat-level">
        <div><strong>Policy Threat Level{{filter.policyThreatLevel[0] != filter.policyThreatLevel[1] ? 's' : ''}}</strong></div>
        <span ng-if="filter.policyThreatLevel[0] != filter.policyThreatLevel[1]">{{filter.policyThreatLevel[0]}} through {{filter.policyThreatLevel[1]}}</span>
        <span ng-if="filter.policyThreatLevel[0] == filter.policyThreatLevel[1]">{{filter.policyThreatLevel[0]}}</span>
      </div>
    </div>
  </div>
</script>
<script type='text/ng-template' id='risk-table'>
  <div ng-controller="NewestRiskTableController">
    <table class='table policy-violation-table' sortable sortable-reverse="true" sortable-field="threatLevel">
      <thead>
      <tr>
        <th id='threat-header' colspan='2' class='clm-bar-text-offset'>
          <div sort-column="threatLevel" sort-inverse="true">
            RISK
          </div>
        </th>
        <th class='time-header'>
          <div sort-column="time">AGE</div>
        </th>
        <th class='policy-header'>
          <div>POLICY</div>
        </th>
        <th class='application-header'>
          <div>APPLICATION</div>
        </th>
        <th class='component-header'>
          <div>COMPONENT</div>
        </th>
        <th id='build-header' class='time-header'>
          <div>BUILD</div>
        </th>
        <th id='stage-release-header' class='time-header'>
          <div>STAGE</div>
        </th>
        <th id='release-header' class='time-header'>
          <div>RELEASE</div>
        </th>
        <th id='operate-header' class='time-header'>
          <div>OPERATE</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat='risk in data | orderBy:getSortField():getSortReverse() | limitTo: maxResults'>
        <td class='clm-bar' threat-class="risk.threatLevel"></td>
        <td>{{risk.threatLevel}}</td>
        <td>{{risk.time | terseAgo}}</td>
        <td>{{risk.policyName}}</td>
        <td>{{risk.applicationName}}</td>
        <td ng-if='risk.gav'>
          <a ui-sref="dashboard.component({ hash: risk.hash })">
            <!-- This line cannot break as it causes spaces between the GAV -->
            {{risk.gav.groupId}}<span class='wrap-force-break'> : </span>{{risk.gav.artifactId}}<span
                  class='wrap-force-break'> : </span>{{risk.gav.version}}
          </a>
        </td>
        <td ng-if='!risk.gav && risk.pathnames' pathnames-popover='risk.pathnames'>
          <a ui-sref="dashboard.component({ hash: risk.hash })">
            <em>{{risk.pathnames[0] | fileName}}</em>
          </a>
        </td>
        <td ng-if='!risk.gav && !risk.pathnames'>
          <a ui-sref="dashboard.component({ hash: risk.hash })">
            <em>Unknown</em>
          </a>
        </td>
        <td ng-repeat='stageDetails in risk.stageDetails | orderBy:stageTypeSort'
            ng-class="{ 'latest-risk': stageDetails.latest }">
          <a title="View application report"
             ng-href="index.html#/reports/{{risk.applicationPublicId | EncodeURIComponent }}/{{stageDetails.scanId}}"
             target="_blank" ng-if="stageDetails.time > 0">
            <div>
              {{stageDetails.time | terseAgo}}
              <i class="sonatype-icons pad-left"
                 ng-class="{ warn: stageDetails.actionTypeId === 'warn', fail : stageDetails.actionTypeId === 'fail'}"/>
            </div>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</script>
<script type="text/ng-template" id="dashboard-table">
  <div load-wrapper="error" reload="doLoad()">
    <div ng-if="!data">
      <h5>
        <i class='icon-time'></i> Loading...
      </h5>
    </div>
    <div ng-if="data !== undefined && data !== null">
      <div class='scrollable-container'>
        <div class='scrollable-container-inner'>
          <div ng-transclude></div>
          <div ng-if='data.length === 0'>
            <span class='clm-bar-text-offset'>
              <em id='no-data'>No data available given the applied filters and available permissions.</em>
            </span>
          </div>
        </div>
      </div>
      <span id="max-results-shown" class="pull-right" ng-if="data.length > maxResults">
        Showing the top {{maxResults}} results
      </span>
    </div>
  </div>
</script>
<script type="text/ng-template" id="dashboard-view-summary">
  <div load-wrapper="error" reload="doLoad()">
    <h5 ng-if="!data && !error">
      <i class='icon-time'></i> Loading...
    </h5>
    <div id='summary-data' ng-if="data">
      <div class="span6">
        <h4 class="dashboard-viewing-header">Viewing</h4>
        <form class="form-horizontal" role="form">
          <div class="form-group dashboard-viewing-item first span2">
            <div>
              <span class="sonatype-icons dashboard-app-icon"></span><span class="dashboard-icon-label">Applications</span>
            </div>
            <span class="label label-default dashboard-label-wrapper">
              <span class="dashboard-label" id='summary-matched-applications'>{{data.matchedApplications}}</span>
              <span class="dashboard-label-mini">OF <span id='summary-total-applications'>{{data.totalApplications}}</span> (<span id='summary-percent-applications'>{{formatPercentage(data.matchedApplications, data.totalApplications)}}%</span>)</span>
            </span>
          </div>
          <div class="form-group dashboard-viewing-item span2">
            <div>
              <span class="sonatype-icons dashboard-policy-icon"></span><span class="dashboard-icon-label">Policies</span>
            </div>
            <span class="label label-default dashboard-label-wrapper">
              <span class="dashboard-label" id='summary-matched-policies'>{{data.matchedPolicies}}</span>
              <span class="dashboard-label-mini">OF <span id='summary-total-policies'>{{data.totalPolicies}}</span> (<span id='summary-percent-policies'>{{formatPercentage(data.matchedPolicies, data.totalPolicies)}}%</span>)</span>
            </span>
          </div>
          <div class="form-group dashboard-viewing-item span2">
            <div>
              <span class="sonatype-icons dashboard-component-icon"></span><span class="dashboard-icon-label">Components</span>
            </div>
            <span class="label label-default dashboard-label-wrapper">
              <span class="dashboard-label" id='summary-matched-components'>{{data.matchedComponents}}</span>
              <span class="dashboard-label-mini">OF <span id='summary-total-components'>{{data.totalComponents}}</span>  (<span id='summary-percent-components'>{{formatPercentage(data.matchedComponents, data.totalComponents)}}%</span>)</span>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>
<div class='container'>
  <div class='row'>
    <div class='span12'>
      <h1 class="left-align-h1">Dashboard</h1>
      <a class='bottom-align-h1 pull-right' ng-click='toggleCollapse()'>Filters&nbsp;<i class='glyphicons-sonatype filter'></i></a>
    </div>
  </div>
  <div class='row' style='margin-bottom:10px' dashboard-filter="filters" toggle="toggleCollapse"></div>
  <div class='row' dashboard-view-summary filters="filters"></div>
  <div load-error='error' reload='doLoad()'></div>
  <div class='row dashboard-tables' ng-hide='error'>
    <div class='span12' id="highest-risk">
      <ul class="nav nav-tabs">
        <li>
          <h4>Highest Risk</h4>
        </li>
        <li class="pull-right" ng-class="{ active : riskTable === 'applications' }">
          <a id='tab-button-application' href="#" ng-click="$event.preventDefault(); riskTable='applications'">By Application</a>
        </li>
        <li class="pull-right" ng-class="{ active : riskTable === 'components' }">
          <a id='tab-button-component' href="#" ng-click="$event.preventDefault(); riskTable='components'">By Component</a>
        </li>
        <li class="pull-right" ng-class="{ active : riskTable === 'newest-risk' }">
          <a id='tab-button-newest' href="#" ng-click="$event.preventDefault(); riskTable='newest-risk'">Newest Risk</a>
        </li>
      </ul>
      <div ng-switch="riskTable">
        <div ng-switch-when="newest-risk">
          <div newest-risk-table>
            <div ng-include="'risk-table'"></div>
          </div>
        </div>
        <div ng-switch-when="applications">
          <div application-risk-table>
            <div ng-controller="applicationRiskTable">
              <table class="table table-risk" id="application-risk" sortable sortable-reverse="true" sortable-field="totalApplicationRisk.totalRisk">
                <thead>
                <tr>
                  <th><div sort-column="applicationName">APPLICATION</div></th>
                  <th><div sort-column="totalApplicationRisk.totalRisk" sort-inverse="true">TOTAL RISK</div></th>
                  <th><div sort-column="totalApplicationRisk.criticalRisk" sort-inverse="true">CRITICAL</div></th>
                  <th><div sort-column="totalApplicationRisk.severeRisk" sort-inverse="true">SEVERE</div></th>
                  <th><div sort-column="totalApplicationRisk.moderateRisk" sort-inverse="true">MODERATE</div></th>
                  <th><div sort-column="totalApplicationRisk.lowRisk" sort-inverse="true">LOW</div></th>
                </tr>
                </thead>
                <tr ng-repeat-start="application in data | limitTo: maxResults | orderBy:getSortField():getSortReverse()">
                  <td><i ng-class="{ clickable : canExpand(application),
                                        'icon-plus-sign' : canExpand(application),
                                        'icon-minus-sign' : isExpanded(application),
                                        'emptyIconGlyph' : !canExpand(application) }"
                         ng-click='expand(application)'></i> {{application.applicationName}}</td>
                  <td class="total-risk" alpha-background="{{application.totalApplicationRisk.totalRisk | safeDivide:totalRisk}}"
                      ng-class="{ 'black-text': (application.totalApplicationRisk.totalRisk | safeDivide:totalRisk) < 0.5 }">
                    {{application.totalApplicationRisk.totalRisk}}
                  </td>
                  <td class="critical-risk" alpha-background="{{application.totalApplicationRisk.criticalRisk | safeDivide:criticalRisk}}">
                    {{application.totalApplicationRisk.criticalRisk}}
                  </td>
                  <td class="severe-risk" alpha-background="{{application.totalApplicationRisk.severeRisk | safeDivide:severeRisk}}">
                    {{application.totalApplicationRisk.severeRisk}}
                  </td>
                  <td class="moderate-risk" alpha-background="{{application.totalApplicationRisk.moderateRisk | safeDivide:moderateRisk}}">
                    {{application.totalApplicationRisk.moderateRisk}}
                  </td>
                  <td class="low-risk" alpha-background="{{application.totalApplicationRisk.lowRisk | safeDivide:lowRisk}}">
                    {{application.totalApplicationRisk.lowRisk}}
                  </td>
                </tr>
                <tr class='stage' ng-repeat-end
                    ng-repeat='stage in application.stageRisks | orderBy:"stageTypeName"'
                    ng-if='expanded[application.applicationId]'>
                  <td><a title="View application report" class="glyphicons-sonatype link"
                         ng-href="index.html#/reports/{{encodeURIComponent(application.applicationId)}}/{{stage.scanId}}"
                         target="_blank">{{stage.stageTypeName | uppercase}}</a></td>
                  <td class="total-risk">{{stage.risk.totalRisk}}</td>
                  <td class="critical-risk">{{stage.risk.criticalRisk}}</td>
                  <td class="severe-risk">{{stage.risk.severeRisk}}</td>
                  <td class="moderate-risk">{{stage.risk.moderateRisk}}</td>
                  <td class="low-risk">{{stage.risk.lowRisk}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div ng-switch-when="components">
          <div component-risk-table>
            <div ng-controller="componentRiskTable">
              <table class="table table-risk" id="component-risk" sortable sortable-reverse="true" sortable-field="score">
                <thead>
                  <tr>
                    <th><div>COMPONENT</div></th>
                    <th><div sort-column="score" sort-inverse="true">TOTAL RISK</div></th>
                    <th><div sort-column="scoreCritical" sort-inverse="true">CRITICAL</div></th>
                    <th><div sort-column="scoreSevere" sort-inverse="true">SEVERE</div></th>
                    <th><div sort-column="scoreModerate" sort-inverse="true">MODERATE</div></th>
                    <th><div sort-column="scoreLow" sort-inverse="true">LOW</div></th>
                  </tr>
                </thead>
                <tr ng-repeat="component in data | limitTo: maxResults | orderBy:getSortField():getSortReverse()">
                  <td ng-if="component.gavs.length">
                    <a ui-sref="dashboard.component({ hash: component.hash })">
                      {{component.gavs[0].groupId}}<span class="wrap-force-break"> : </span>{{component.gavs[0].artifactId}}<span class="wrap-force-break"> : </span>{{component.gavs[0].version}}
                    </a>
                  </td>
                  <td ng-if="!component.gavs.length && component.pathnames.length" pathnames-popover='component.pathnames'>
                    <a ui-sref="dashboard.component({ hash: component.hash })">
                      <em>{{component.pathnames[0] | fileName}}</em>
                    </a>
                  </td>
                  <td ng-if="!component.gavs.length && !component.pathnames.length">
                    <a ui-sref="dashboard.component({ hash: component.hash })">
                      <em>Unknown</em>
                    </a>
                  </td>
                  <td class="total-risk" alpha-background="{{component.score | safeDivide:totalRisk}}"
                      ng-class="{ 'black-text': (component.score | safeDivide:totalRisk) < 0.5 }">
                    {{component.score}}
                  </td>
                  <td class="critical-risk" alpha-background="{{component.scoreCritical | safeDivide:criticalRisk}}">
                    {{component.scoreCritical}}
                  </td>
                  <td class="severe-risk" alpha-background="{{component.scoreSevere | safeDivide:severeRisk}}">
                    {{component.scoreSevere}}
                  </td>
                  <td class="moderate-risk" alpha-background="{{component.scoreModerate | safeDivide:moderateRisk}}">
                    {{component.scoreModerate}}
                  </td>
                  <td class="low-risk" alpha-background="{{component.scoreLow | safeDivide:lowRisk}}">
                    {{component.scoreLow}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>