<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011-2013 Sonatype, Inc. All rights reserved.
    Includes the third-party code listed at http://links.sonatype.com/products/clm/attributions.
    "Sonatype" is a trademark of Sonatype, Inc.

-->
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<!-- Uncomment for logging ALL HTTP request and responses -->
	 	<!--<logger name="com.excilys.ebi.gatling.http" level="TRACE" />-->
	<!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
	 	<!--<logger name="com.excilys.ebi.gatling.http" level="DEBUG" />-->

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>