<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/insight-brain-service/src/main/java/com/sonatype/insight/brain/service/InsightBrainService.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk-1.7"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sonatype.insight.brain.service.InsightBrainService"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="server target/test-classes/config-dev.yml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="insight-brain-service"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DXdw.hdsUrl=http://localhost:8080/insight-portal&#13;&#10;-Ddw.hdsUrl=https://clm-staging.sonatype.com/&#13;&#10;-DXdw.hdsUrl=https://clm.sonatype.com&#13;&#10;-DXdw.anonymousClientAccessAllowed=false&#13;&#10;-DXdw.csrfProtection=false&#13;&#10;&#13;&#10;-Xmx1024m&#13;&#10;-XX:MaxPermSize=128m&#13;&#10;-noverify&#13;&#10;-DXjavax.net.ssl.trustStore=M:/downloads/insight/clmtest.ks"/>
</launchConfiguration>
