<div style='padding:5px' class='labelEditor' load-wrapper="error" reload="doLoad()" error-message="Unable to load labels." loading="!error && !itemLabels">
  <div clm-alerts='alerts'></div>
  <div id="available-labels">
    <h5>Available <i class='icon-refresh tm-refresh' ng-click='doLoad()' spinner></i></h5>
    <div class='cip-label-container'>
      <span ng-repeat="label in availableLabels | filter:isApplied | orderBy:'labelLowercase'"
            class='clmLabel tm-label {{label.color}}'>
        <span tooltip='{{label.description || label.label}}' tooltip-placement="right">{{label.label}}</span>&nbsp;
        <i class='icon-plus-sign' ng-class='{ "icon-white" : isWhite(label) }' ng-click='addLabel(label)'></i>
      </span>
    </div>
  </div>
  <div id="applied-labels">
    <h5>Applied <i class='icon-refresh tm-refresh' ng-click='doLoad()' spinner></i></h5>
    <div class='cip-label-container'>
      <span ng-repeat="label in itemLabels | orderBy:'labelLowercase'" class='clmLabel tm-label {{label.color}}'>
        <span tooltip='{{label.description || label.label}}' tooltip-placement="top">{{label.label}}</span>&nbsp;
        <i class='icon-minus-sign' ng-class='{ "icon-white" : isWhite(label) }' ng-click='removeLabel(label)'></i>
      </span>
    </div>
  </div>
  <script type="text/ng-template" id="add-modal-service">
    <div id="label-assign-scope-modal"
        load-wrapper="labelAddError" reload="doLoad()" error-message="Unable to load available label contexts." loading="labelLoading">
      <div class="iq-modal-header">
        <h2>Label Assignment</h2>
      </div>
      <div class="iq-modal-content" ng-show="labelLoading">
        <span>Loading data...</span>
      </div>
      <div class="iq-modal-content" ng-show="!labelLoading">
        <div ng-repeat="labelOwner in labelOwners">
          <label class="radio tm-label-assignment-scope">
            <input type="radio" ng-model="label.selectedOwner" name="selectedOwner" value="{{labelOwner.id + '$$' + labelOwner.type}}">
            <span>Assign label<span ng-if="displayName"> to component <em ng-repeat="part in displayName.parts">{{part.value}}</em></span> for </span>
            <span ng-switch on="labelOwner.type">
              <span ng-switch-when="organization"><span>all of organization </span><strong>{{labelOwner.name}}</strong></span>
              <span ng-switch-when="application"><span>application </span><strong>{{labelOwner.name}}</strong></span>
              <span ng-switch-default><strong>{{labelOwner.name}}</strong></span>
            </span>
          </label>
        </div>
      </div>
      <div class="iq-modal-footer">
        <span class="alert alert-error" ng-show="labelAddError" style="float: left; padding-top: 4px; padding-bottom: 4px; margin: 0">{{labelAddError}}</span>
        <button id="cip-save-label" type='button' class="btn btn-primary" ng-click="accept()" ng-disabled="labelSaving">
          Save
        </button>
        <button id="cip-save-label-cancel"
                type='button'
                class="btn btn-dismiss"
                ng-click="$dismiss()"
                ng-disabled="labelSaving">
          Cancel
        </button>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="delete-modal-service">
    <div id="label-remove-modal"
        load-wrapper="labelRemoveError" reload="doLoad()" error-message="Failed to remove label." loading="false">
      <div class="iq-modal-header">
        <h2>Remove Label</h2>
      </div>
      <div class="iq-modal-content">
        Are you sure you want to remove this label?
      </div>
      <div class="iq-modal-footer">
        <span class="alert alert-error" ng-show="labelRemoveError" style="float: left; padding-top: 4px; padding-bottom: 4px; margin: 0">{{labelRemoveError}}</span>
        <button id="cip-remove-label"
                type="button"
                class="btn btn-primary"
                ng-click="accept()"
                ng-disabled="labelDeleting">
          Remove
        </button>
        <button id="cip-remove-label-cancel"
                type="button"
                class="btn btn-dismiss"
                ng-click="$dismiss()"
                ng-disabled="labelDeleting">
          Cancel
        </button>
      </div>
    </div>
  </script>
</div>
