<div class="modal-header">
  <h3>Test LDAP Login Credentials</h3>
</div>
<form name='ldapCheckLogin' style='margin-bottom: 0px; max-width: 510px;'>
  <div class="form-horizontal configuration">
    <div class="control-group" ng-class='{ error : ldapCheckLogin.username.$invalid && ldapCheckLogin.username.$dirty}'>
      <label class="control-label glyphicons-sonatype required">Username:</label>
      <div class="controls">
        <input type='text' name='username' ng-model="ldapCredentials.username" required focus-input='true'>
      </div>
    </div>
    <div class="control-group" ng-class='{ error : ldapCheckLogin.password.$invalid && ldapCheckLogin.password.$dirty }'>
      <label class="control-label glyphicons-sonatype required">Password:</label>
      <div class="controls">
        <input type='password' name='password' ng-model="ldapCredentials.password" required>
      </div>
    </div>
  </div>
</form>
<div class="modal-footer" style="padding-top: 0">
  <div clm-alerts='alerts' style="text-align: left;padding-top:5px;"></div>
  <div class="ldap-button-group">
    <div style="float: right;">
      <button class="btn" ng-click="$close()">Close</button>
      <button class='btn btn-primary' ng-disabled="ldapCheckLogin.$invalid || testInProgress" ng-click="testLogin()">Test Login</button>
    </div>
  </div>
</div>
