<div class="well clm-well">
  <div ng-if='ldapConn == null' class='ldap-loading'>
    <h5><i class='icon icon-time'></i> Loading...</h5>
  </div>
  <form ng-show='ldapConn != null' name='ldapConnectionEditor' class="clm-form" novalidate>
      <div class="content-header">
        <h4>Connection Details</h4>
      </div>
      <div class="control-group">
        <label class="control-label" for="protocol">Protocol</label>
        <div class="controls">
          <select name='protocol' id="protocol" ng-model="ldapConn.protocol" ng-options="p for p in ldapProtocols"
                  autofocus></select>
        </div>
      </div>
      <div clm-control-group for="hostname" label="Hostname">
        <input clm-input name='hostname' id='hostname' ng-model='ldapConn.hostname' required type='text'
               placeholder="Enter LDAP host">
      </div>
      <div clm-control-group for="port" label="Port">
        <input clm-input name='port' id='port' ng-model='ldapConn.port' required type='number' min='1' max='65535'
               placeholder="Valid range is 1 to 65535"/>
      </div>
      <div clm-control-group for="searchBase" label="Search Base">
        <input clm-input name='searchBase' id='searchBase' ng-model='ldapConn.searchBase' required type='text'
               placeholder="Enter LDAP Search Base">
      </div>
      <div class="content-header">
        <h4>Authentication</h4>
      </div>
      <div class="control-group">
        <label class="control-label" for="authenticationMethod">Method</label>
        <div class="controls">
          <select name='authenticationMethod' id='authenticationMethod' ng-model="ldapConn.authenticationMethod"
                  ng-options="m for m in ldapMethods"></select>
        </div>
      </div>
      <div ng-show="ldapConn.authenticationMethod != 'NONE'">
        <div clm-control-group for="saslRealm" label="SASL Realm">
          <input clm-input name='saslRealm' id='saslRealm' ng-model='ldapConn.saslRealm' type='text'
                 placeholder="Enter SASL Realm">
        </div>
        <div clm-control-group for="systemUsername" label="Username">
          <input clm-input name='systemUsername' id='systemUsername' ng-model='ldapConn.systemUsername' type='text'
                 ng-required="ldapConn.authenticationMethod != 'NONE'"
                 placeholder="Enter Username">
        </div>
        <div clm-control-group for="systemPassword" label="Password">
          <input clm-input name='systemPassword' id='systemPassword' ng-model='ldapConn.systemPassword' type='password'
                 ng-required="ldapConn.authenticationMethod != 'NONE'"
                 placeholder="Enter Password">
        </div>
      </div>
      <div class="content-header">
        <h4>Timeouts</h4>
      </div>
      <div clm-control-group for="connectionTimeout" label="Connection">
        <input clm-input name='connectionTimeout' id='connectionTimeout' ng-model='ldapConn.connectionTimeout'
               type='number'
               min='0' max='999' placeholder="Valid range is 0(default) to 999">
      </div>
      <div clm-control-group for="retryDelay" label="Retry Delay">
        <input clm-input name='retryDelay' id='retryDelay' ng-model='ldapConn.retryDelay' type='number' min='0'
               max='999'
               placeholder="Valid range is 0(default) to 999">
      </div>
  </form>
  <div clm-alerts='alerts'></div>
  <div ng-show='!saving && ldapConn'>
    <button id='ldap-connection-cancel' class="btn btn-link btn-cancel" ng-disabled="!isDirty()" ng-click="reset()">Cancel</button>
    <div class="pull-right">
      <button id='ldap-connection-test' class='btn btn-success' ng-disabled="ldapConnectionEditor.$invalid || testInProgress"
              ng-click="testConnection()">Test Connection
      </button>
      <button id='ldap-connection-save' class="btn btn-primary" ng-disabled="!canSaveEdit()" ng-click="save()">Save</button>
    </div>
  </div>
  <div ng-show='saving' style='height:30px'><i class='icon-time'></i> Saving</div>
</div>