<div class='face' style="padding-left: 10px;">
  <div ng-controller='LdapConfigurationController'>
    <div style="padding-top: 10px;">
      <div load-error='loadError' reload='doLoad()'></div>
      <div ng-show='!loadError && !ldap'><i class='icon-time'></i> Loading</div>
      <div ng-show='!loadError && ldap'>
        <div style="float:right; margin:10px;" class='btn-group' ng-show='ldap.id'>
          <a class="btn btn-mini" title="Remove Configuration" ng-click="confirmDeleteConfiguration(ldap)"><i class='glyphicons-sonatype bin'></i></a>
        </div>
        <form name='ldapEditor' style='margin-bottom:0px; max-width: 510px;'>
          <div class='inline head' style="padding-left: 20px">
            <h1><span id='ldapName' name='ldapName' ng-model='ldap.name' xeditable href='javascript:;'
              ng-class="{ error: ldapEditor.ldapName.$error.alphaNumeric || ldapEditor.ldapName.$error.spaces}"            
              data-emptytext='Enter Server Name' data-placeholder='Enter Server Name' data-type='text'
              required alpha-numeric has-whitespace='suggestedName'></span>
            </h1>
            <div class='errors'>
              <span ng-show="ldapEditor.ldapName.$error.alphaNumeric" style='color: #b94a48;'>Name must be alpha numeric</span>
              <span ng-show="ldapEditor.ldapName.$error.spaces" style='color: #b94a48;'>No leading, trailing or double spaces or tabs in name<br/>Suggested name: {{suggestedName}}</span>
            </div>
          </div>
          <div ng-show="!saving && (ldap.id == null || isDirty())">
            <button class="btn" ng-click="ldap.$revert()">Cancel</button>
            <button class="btn btn-primary" ng-disabled="!canSaveEdit()" ng-click="save()">Save</button>
          </div>
          <span ng-show='saving' style='height:30px'><i class='icon-time'></i> Saving</span>
        </form>
        <div ng-switch on='ldap.id'>
          <div ng-switch-when='null'></div>
          <div ng-switch-default>
            <ul class='tri-pane'>
              <li ng-class='{ active : true }'>
                <a>CONNECTION</a>
              </li>
            </ul>
            <div ui-view></div>
          </div>
        </div>
      </div>
    </div>
    <div id='deleteConfigurationModal' data-backdrop='static' class='modal hide'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h3>Delete Configuration</h3>
      </div>
      <div class='modal-body'>
        <p>Are you sure you want to delete this LDAP configuration?</p>
      </div>
      <div class='modal-footer'>
        <button class='btn' data-dismiss='modal'>Cancel</button>
        <button class='btn btn-danger' ng-click='deleteConfiguration()'>Delete</button>
      </div>
    </div>
    <div error-Modal></div>
  </div>
</div>
