<div style="padding-top: 10px;">
  <div load-error='loadError' reload='doLoad()'></div>
  <div ng-show='!loadError && !ldap'><i class='icon-time'></i> Loading</div>
  <div ng-show='!loadError && ldap'>
    <div style="float:right; margin:10px;" class='btn-group' ng-show='ldap.id'>
      <a class="btn btn-mini" title="Remove Configuration" ng-click="confirmDeleteConfiguration(ldap)"><i class='glyphicons-sonatype bin'></i></a>
    </div>
    <div class="fixed-width-small-form" style="padding-left: 25px;">
      <div class='inline-editor head'
           clm-editable
           id='ldapName'
           e-form='ldapNameForm'
           invalid='ldapEditor.$invalid'
           model='ldap'
           model-field='name'
           empty-text='Enter Server Name'
           whitespace-check='true'>
      </div>
      <div ng-show="!saving && (ldap.id == null || isDirty()) || ldapNameForm.$visible" style='padding-bottom:10px'>
        <button type='button' class="btn" ng-click="ldap.$revert()">Cancel</button>
        <button type='button' class="btn btn-primary" ng-disabled="!canSaveEdit()" ng-click="save()">Save</button>
      </div>
      <div ng-show='saving' style='height:30px'><i class='icon-time'></i> Saving</div>
    </div>
    <div ng-if='ldap.id'>
        <ul class='tri-pane'>
          <li ng-class='{ active : isCurrentTab("connection") }'>
            <a ng-click='setCurrentTab("connection")'>CONNECTION</a>
          </li>
          <li ng-class='{ active : isCurrentTab("usermapping") }'>
            <a ng-click='setCurrentTab("usermapping")'>USER &amp; GROUP SETTINGS</a>
          </li>
        </ul>
        <div ui-view></div>
    </div>
  </div>
</div>
