<div class='face' style="padding-left: 10px;">
    <div style="padding-top: 10px;">
        <div load-error='error' reload='doLoad()'></div>
        <div ng-show='!error && !isLoaded()'>
            <h5><i class='icon icon-time'></i> Loading...</h5>
        </div>
        <div ng-show='!error && isLoaded()'>
            <div ng-show='!license'>
                <form ng-upload action='{{uploadUrl}}' class='form' style='margin: 0px;' method='post'>
                    <label for="license-input" firefox-input-click class='btn btn-primary'>
                        <i class='icon-white icon-plus-sign'></i>&nbsp;Install License
                    </label>
                    <input style='position:absolute;left:-9999em;' id="license-input" type="file" name="file" on-file-change="onFileChanged()"/>
                    <input type='submit' upload-submit="installLicense(content, completed)" ng-show='false' />
                </form>
            </div>
          <div ng-show='license'>
            <div class='form-horizontal'>
              <button class='btn btn-remove btn-danger pull-left' ng-click='viewUninstallLicense()'>
                <i class='icon-white icon-minus-sign'></i>&nbsp;Uninstall License
              </button>
              <label class='control-label'><strong style="padding-right: 10px;">Expires</strong></label>

              <div class='controls' style='padding-top:5px'>{{license.expiryTimestamp | date:'MMMM dd, yyyy'}}</div>
            </div>
          </div>
        </div>
    </div>
	<div id="eulaModal" data-backdrop="static" class="modal hide">
		<div class="modal-body">
			<div class="well well-small" style="padding-top:0px;" clm-include="'../configuration-assets/components/eula.html'"></div>
		</div>
		<div class="modal-footer">
			<button class='btn' data-dismiss='modal' ng-click='eulaDeclined()'>I Decline</button>
			<button class='btn btn-primary' ng-click='eulaAccepted()'>I Accept</button>
		</div>
	</div>
	<div id="licenseUninstallConfirmationModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Uninstall License?</h3>
		</div>
		<div class="modal-body">
			<p>If you uninstall the CLM License, the system will be rendered unusable, are you sure you want to continue?</p>
		</div>
		<div class="modal-footer">
			<button class='btn' data-dismiss='modal'>Cancel</button>
			<button class='btn btn-danger' ng-click='uninstallLicense()'>Uninstall</button>
		</div>
	</div>
	<div id="licenseInstalledModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>License Installed!</h3>
		</div>
		<div class="modal-body">
			<p>Your license has been installed.  The page will reload in a moment, or <a href='#' ng-click='reload()'>refresh</a> now</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="reload()">Refresh</button>
		</div>
	</div>
		<div id="licenseUninstalledModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>License Uninstalled!</h3>
		</div>
		<div class="modal-body">
			<p>Your license has been uninstalled.  The page will reload in a moment, or <a href='#' ng-click='reload()'>refresh</a> now</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="reload()">Refresh</button>
		</div>
	</div>
	<div error-Modal></div>
</div>
