<div class='container'>
	<div load-error='error' reload='doLoad()'></div>
	<div ng-hide='error'>
		<div class='row' ng-show='!isLoaded()'>
			<div class='span4 offset4'>
				<div class='content-container' style='padding: 5px'>
					<h5><i class='icon icon-time'></i> Loading...</h5>
				</div>
			</div>
		</div>
		<div class='row' ng-show='isLoaded() && !license'>
			<div class='span6 offset3'>
				<div class='content-container'>
					<div class='modal-header'>
						<h4>
							<span>Install License</span>
						</h4>
					</div>
					<form ng-upload action='{{uploadUrl}}' class='form' style='margin: 0px;' method='post'>
						<div class='modal-body'>
							<div class='control-group'>
								<label class='control-label' for='file'>Select a license file to upload:</label>
								<div class='controls'>
									<input type="file" name="file" on-file-change="onFileChanged()"/>
									<input type='submit' upload-submit="installLicense(content, completed)" ng-show='false' />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class='row' ng-show='isLoaded() && license'>
			<div class='span6 offset3'>
				<div class='content-container'>
					<div class='modal-header'>
						<h4>
							<span>CLM License</span>
						</h4>
					</div>
					<div class='modal-body form-horizontal'>
						<div class='control-group'>
							<label class='control-label'><strong>Expiration</strong></label>
							<div class='controls' style='padding-top:5px'>
								{{license.expiryTimestamp | date:'MMMM dd, yyyy'}}
							</div>
						</div>
					</div>
					<div class='modal-footer'>
						<button class='btn btn-remove btn-danger' ng-click='viewUninstallLicense()'>
							<i class='icon-white icon-minus-sign'></i> Uninstall License
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="eulaModal" data-backdrop="static" class="modal hide">
		<div class="modal-body">
			<div class="well well-small" style="padding-top:0px;" ng-include src="'../configuration-assets/components/eula.html'"></div>
		</div>
		<div class="modal-footer">
			<button class='btn' data-dismiss='modal'>I Decline</button>
			<button class='btn btn-primary' ng-click='eulaAccepted()'>I Accept</button>
		</div>
	</div>
	<div id="licenseUninstallConfirmationModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Uninstall License?</h3>
		</div>
		<div class="modal-body">
			<p>If you uninstall the CLM License, the system will be rendered unusable, are you sure you want to continue?</p>
		</div>
		<div class="modal-footer">
			<button class='btn' data-dismiss='modal'>Cancel</button>
			<button class='btn btn-danger' ng-click='uninstallLicense()'>Uninstall</button>
		</div>
	</div>
	<div id="licenseInstalledModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>License Installed!</h3>
		</div>
		<div class="modal-body">
			<p>Your license has been installed.  The page will reload in a moment, or <a href='#' ng-click='reload()'>refresh</a> now</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="reload()">Refresh</button>
		</div>
	</div>
		<div id="licenseUninstalledModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>License Uninstalled!</h3>
		</div>
		<div class="modal-body">
			<p>Your license has been uninstalled.  The page will reload in a moment, or <a href='#' ng-click='reload()'>refresh</a> now</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="reload()">Refresh</button>
		</div>
	</div>
	<div error-Modal></div>
</div>