<div class='mid-content' authorization-wrapper="isAuthorized">
  <h1 class='page-title'>
    <div class='container proprietary'>Proprietary Components</div>
  </h1>

  <div class='container'>
    <div id="proprietary-component-form" class="fixed-width-small-form">
      <div ng-show='loadError'>An Error Occurred</div>
      <div ng-show='!loadError && !proprietary'><i class='icon-time'></i> Loading</div>
      <div ng-show='!loadError && proprietary' class="well clm-well">
        <p>These entries are provided to CLM scanners and are used to help identify internal components.
          If a specified package or file is contained within a component, it will be considered proprietary.</p>
        <div list-editor place-holder="Prefix/Regex for Proprietary Components" max-length="50"
             entries="packages" regexes="regexes" validator="validatePackage"
             messages="{unique: 'Enter a unique value',
              invalidPrefix: 'Invalid package prefix, enter e.g. com.mycompany',
              wildcards: 'Wildcards are not allowed/required for packages',
              unique: 'Component selector already specified'
            }"></div>
        <div clm-alerts="error" id="proprietaryError"></div>
        <span ng-show='!saving && proprietary' id='proprietaryButtons'>
          <button class="btn btn-link btn-cancel" ng-click="reset();" ng-disabled="!isDirty() && !error">Reset</button>
          <button class="btn btn-primary pull-right" ng-disabled="!isDirty()" ng-click="save()">Save</button>
        </span>
        <span ng-show='saving' style='height:30px'><i class='icon-time'></i> Saving</span>
      </div>
    </div>
  </div>
</div>
