<div class="role-membership">
  <form id="role-membership-search-form"
        name="vm.accessEditorSearch"
        class="iq-form"
        role="form"
        novalidate
        ng-submit="vm.search()">
    <div class="iq-form-group">
      <label for="access-user-search-input" class="iq-label">
        Search Users
        <div class="iq-sub-label">
          use &lsquo;*&rsquo; as wildcard (ex. &lsquo;Isa*&rsquo; matches &lsquo;Isaac Asimov&rsquo;)
        </div>
        <div class="iq-sub-label" id="disabled-group-search-warning" ng-if="!vm.groupSearchEnabled">
          <i class="fa fa-info-circle size-16px"></i><!--
       -->One or more LDAP servers have group search disabled, which will affect your results
        </div>
      </label>
      <input id="access-user-search-input"
             class="iq-text-input"
             type="text"
             name="search"
             ng-model="vm.query"
             ng-maxlength="200"
             ng-disabled="vm.searchInProgress"
             clm-input><!--
   --><button id="user-search-button"
              class="iq-btn iq-btn--inline"
              type="submit"
              submit-validation
              submit-dirty="vm.query"
              ng-disabled="vm.searchInProgress"
              submit-type="search">
        Search
      </button>
    </div>
    <div ng-if="vm.searchError" class="iq-alert iq-alert--error">
      <i class="fa fa-warning"></i>Search failed. {{vm.searchError}}
    </div>
  </form>

  <form id="role-membership-add-group-form"
        name="vm.accessEditorAddGroup"
        class="iq-form"
        role="form"
        ng-if="!vm.groupSearchEnabled"
        novalidate
        ng-submit="vm.addGroup();">
    <div class="iq-form-group">
      <label for="access-add-group-input" class="iq-label">
        Associate Group
        <div class="iq-sub-label">requires an exact match of the group name</div>
      </label>
      <input id="access-add-group-input"
             class="iq-text-input"
             type="text"
             name="add"
             ng-model="vm.newGroupName"
             ng-maxlength="200"
             ng-disabled="vm.searchInProgress"
             clm-input/><!--
   --><button id="add-group-button"
              class="iq-btn iq-btn--inline"
              type="submit"
              ng-disabled="vm.searchInProgress || !vm.newGroupName || vm.groupExists(vm.newGroupName)">
        Add
      </button>
    </div>
  </form>

  <form id="role-membership-membership-form"
        name="vm.accessEditor"
        class="iq-form"
        role="form"
        novalidate
        ng-submit="vm.save()">
    <input type="hidden" ng-model="vm.role" required>
    <div class="iq-form-group">
      <label for="access-associated-users">Associated Users</label>
      <double-column-picker id="access-associated-users"
                            class="wide"
                            list="vm.members"
                            hide-filter="true"
                            left-column-name="Available"
                            right-column-name="Associated"
                            item-name-param="displayName"
                            icon-fn="vm.getIconName(item)"
                            tooltip-fn="vm.getTooltip(item)"
                            form-mask="vm.accessEditorSearchMask"
                            mask-message="Searching"
                            mask-skip-success>
      </double-column-picker>
    </div>
    <!-- Form submittal buttons included via transclusion -->
    <ng-transclude></ng-transclude>
  </form>
</div>
