<div class="nx-page-main" authorization-wrapper="vm.isAuthorized">
  <div id="success-metrics-configuration" class="iq-tile iq-tile--sys-prefs">
    <div class="iq-tile-header iq-tile-header--hrule">
      <div class="iq-tile-header__title">
        <h2>Success Metrics</h2>
      </div>
    </div>
    <div
      class="iq-tile-content"
      load-wrapper="vm.error"
      loading="vm.savedSuccessMetricsEnabled === undefined"
      reload="vm.load()"
    >
      <p id="success-metrics-explanation" class="iq-system-config-explanation">
        Here you can enable or disable Success Metrics.
      </p>
      <form name="success-metrics-editor" class="iq-form iq-form--no-border iq-form--no-padding" ng-submit="vm.save()">
        <div id="success-metrics-display-control-group" class="iq-form-group">
          <div class="toggle-checkbox" id="success-metrics-toggle">
            <input
              type="checkbox"
              toggle-checkbox
              data-on="Enabled"
              data-off="Disabled"
              ng-model="vm.successMetricsEnabled"
            />
          </div>
        </div>
        <div class="iq-tile-footer">
          <button
            id="success-metrics-update"
            class="iq-btn iq-btn--primary"
            submit-validation
            submit-dirty="vm.isChanged()"
            submit-type="'update'"
          >
            Update</button
          ><!--
       --><button id="success-metrics-cancel" class="iq-btn" ng-disabled="!vm.isChanged()" ng-click="vm.cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
