<div id="owner-editing-detail-tree-view" class="tree-view detail-tree-view">
  <div load-wrapper="vm.error" loading="!vm.details" reload="vm.doLoad()">
    <div class="tree-view-header">
      <a same-owner-view-sref><i class="fa fa-chevron-left size-14px"></i>{{vm.ownerName}}</a>
    </div>
    <div class="tree-view-group">
      <a class="tree-view-item" ng-click="vm.categoryState.isExpanded = vm.state.$current.name.endsWith('category') ? true : !vm.categoryState.isExpanded">
        <div class="twisty-container">
          <span class="twisty"
                ng-class="{ expand: !vm.categoryState.isExpanded && !vm.state.$current.name.endsWith('category'),
                collapse: vm.categoryState.isExpanded || vm.state.$current.name.endsWith('category')}"></span>
        </div>
        <hexagon class="size-16px size-fw outline tree-view-icon"></hexagon><!--
        -->Application Categories
      </a>
      <a class="tree-view-item"
         ng-if="!vm.isApp && (vm.categoryState.isExpanded || vm.state.$current.name.endsWith('category'))"
         ui-sref=".create-category"
         ui-sref-active="selected">
        <i class="fa fa-plus size-16px size-fw tree-view-icon"></i><!--
        -->New Application Category
      </a>
      <a class="tree-view-item"
         ng-if="vm.isApp && (vm.categoryState.isExpanded || vm.state.$current.name.endsWith('category'))"
         ui-sref=".category"
         ui-sref-active="selected">
        <i class="fa fa-pencil size-16px size-fw tree-view-icon"></i><!--
        -->Associate App Categories
      </a>
      <a class="tree-view-item"
         ng-if="vm.categoryState.isExpanded || vm.state.$current.name.endsWith('category')"
         ng-repeat="category in vm.details.tags"
         ui-sref=".category({ categoryId: category.id })"
         ui-sref-active="selected">
        <hexagon class="size-16px size-fw {{category.color}} tree-view-icon"></hexagon><!--
        -->{{ category.name }}
      </a>
    </div>
    <div class="tree-view-group">
      <a class="tree-view-item"
         ng-click="vm.policyState.isExpanded = vm.state.$current.name.endsWith('policy') ? true : !vm.policyState.isExpanded">
        <div class="twisty-container">
          <span class="twisty"
                ng-class="{ expand: !vm.policyState.isExpanded && !vm.state.$current.name.endsWith('policy'),
                            collapse: vm.policyState.isExpanded || vm.state.$current.name.endsWith('policy') }"></span>
        </div>
        <i class="fa fa-university size-16px size-fw tree-view-icon"></i><!--
        -->Policies
      </a>
      <a class="tree-view-item"
         ng-if="vm.policyState.isExpanded || vm.state.$current.name.endsWith('policy')"
         ui-sref=".create-policy"
         ui-sref-active="selected">
        <i class="fa fa-plus size-16px size-fw tree-view-icon"></i><!--
        -->New Policy
      </a>
      <a class="tree-view-item"
         ng-if="vm.policyState.isExpanded || vm.state.$current.name.endsWith('policy')"
         ui-sref=".policy({ policyId: policy.id })"
         ng-repeat="policy in vm.details.policies"
         ui-sref-active="selected">
        <i class="fa fa-university size-16px policy-threat-level-background threat-level-{{policy.threatLevel}} tree-view-icon"></i><!--
        -->{{ policy.name }}
      </a>
    </div>
    <div class="tree-view-group">
      <a class="tree-view-item"
         ng-click="vm.labelState.isExpanded = vm.state.$current.name.endsWith('label') ? true : !vm.labelState.isExpanded">
        <div class="twisty-container">
          <span class="twisty"
                ng-class="{ expand: !vm.labelState.isExpanded && !vm.state.$current.name.endsWith('label'),
                            collapse: vm.labelState.isExpanded || vm.state.$current.name.endsWith('label') }"></span>
        </div>
        <i class="fa fa-tag size-16px size-fw outline tree-view-icon"></i><!--
        -->Component Labels
      </a>
      <a class="tree-view-item"
         ng-if="vm.labelState.isExpanded || vm.state.$current.name.endsWith('label')"
         ui-sref=".create-label"
         ui-sref-active="selected">
        <i class="fa fa-plus size-16px size-fw tree-view-icon"></i><!--
        -->New Component Label
      </a>
      <a class="tree-view-item"
         ng-if="vm.labelState.isExpanded || vm.state.$current.name.endsWith('label')"
         ng-repeat="label in vm.details.labels"
         ui-sref=".label({ labelId: label.id })"
         ui-sref-active="selected">
        <i class="fa fa-tag size-16px size-fw {{label.color}} tree-view-icon"></i><!--
        -->{{ label.label }}
      </a>
    </div>
    <div class="tree-view-group">
      <a class="tree-view-item"
         ng-click="vm.ltgState.isExpanded = vm.state.$current.name.endsWith('license-threat-group') ? true : !vm.ltgState.isExpanded">
        <div class="twisty-container">
          <span class="twisty"
                ng-class="{ expand: !vm.ltgState.isExpanded && !vm.state.$current.name.endsWith('license-threat-group'),
                            collapse: vm.ltgState.isExpanded || vm.state.$current.name.endsWith('license-threat-group')}"></span>
        </div>
        <i class="fa fa-book size-16px size-fw tree-view-icon"></i><!--
        -->License Threat Groups
      </a>
      <a class="tree-view-item"
         ng-if="!vm.isApp && (vm.ltgState.isExpanded || vm.state.$current.name.endsWith('license-threat-group'))"
         ui-sref=".create-license-threat-group"
         ui-sref-active="selected">
        <i class="fa fa-plus size-16px size-fw tree-view-icon"></i><!--
        -->New License Threat Group
      </a>
      <a class="tree-view-item"
         ng-if="vm.ltgState.isExpanded || vm.state.$current.name.endsWith('license-threat-group')"
         ng-repeat="licenseThreatGroup in vm.details.licenseThreatGroups"
         ui-sref=".edit-license-threat-group({ licenseThreatGroupId: licenseThreatGroup.id })"
         ui-sref-active="selected">
        <i class="fa fa-book size-16px size-fw threat-level-{{licenseThreatGroup.threatLevel}} tree-view-icon"></i><!--
        -->{{ licenseThreatGroup.name }}
      </a>
    </div>
    <div class="tree-view-group">
      <a class="tree-view-item" ng-click="vm.accessState.isExpanded = !vm.accessState.isExpanded">
        <div class="twisty-container">
          <span class="twisty"
                ng-class="{ expand: !vm.accessState.isExpanded, collapse: vm.accessState.isExpanded }"></span>
        </div>
        <i class="fa fa-key size-16px size-fw tree-view-icon"></i><!--
        -->Access
      </a>
      <a class="tree-view-item"
         ng-if="vm.accessState.isExpanded"
         ui-sref-active="selected">
        <i class="fa fa-plus size-16px size-fw tree-view-icon"></i><!--
        -->New Role
      </a>
      <a class="tree-view-item"
         ng-if="vm.accessState.isExpanded"
         ng-repeat="role in vm.details.roles"
         ui-sref-active="selected">
        <i class="fa fa-key size-16px size-fw tree-view-icon"></i><!--
        -->{{ role.name }}
      </a>
    </div>
  </div>
</div>
