<div class="tree-view">
  <div class="tree-view-header">
    Organizations and Applications
  </div>
  <div load-wrapper="vm.error" loading="!vm.organizations" reload="vm.doLoad()">
    <div class="tree-view-filter search input-prepend">
            <span class="add-on">
              <i role="button" class="fa fa-filter"
                 ng-class="{ 'fa-filter': !vm.filter.value, 'fa-times': vm.filter.value }"
                 ng-click="vm.filter.value = ''"></i>
            </span>
      <input type="text" ng-model="vm.filter.value" autocomplete="off" placeholder="App or Org Name">
    </div>
    <h4 ng-if="vm.filter.value && vm.filter.value.length >= 3">
      Filter Results
    </h4>
    <div id="tree-view-root-organization-group" ng-if="vm.rootOrganization" class="tree-view-group">
      <a class="tree-view-item"
         ng-class="{ selected : vm.$state.includes('management.view.organization', {organizationId: vm.rootOrganization.id}) }"
         ui-sref="management.view.organization({organizationId: vm.rootOrganization.id})">
        <i class="fa fa-globe fa-lg tree-view-icon"></i>
        {{vm.rootOrganization.name}}
        <div class="tree-view-new-organization"
             ng-class="{ hide : !vm.$state.includes('management.view.organization', {organizationId: vm.rootOrganization.id}) }">
          <button class="btn" ng-click="vm.createOrganization()">
            <i class="fa fa-plus"></i>
            New Organization
          </button>
        </div>
      </a>
    </div>
    <div id="tree-view-repositories-group" class="tree-view-group" ng-if="vm.showRepositories">
      <a class="tree-view-item" ui-sref-active="selected" ui-sref="management.view.repositories">
        <div class="twisty-container">
          <span class="twisty empty"></span>
        </div><!--
        --><i class="fa fa-database tree-view-icon icon-12px inverse"></i>
        Repositories
      </a>
    </div>
    <div class="tree-view-group tree-view-organization-group"
         ng-repeat="organization in vm.organizations | orderBy:'name'"
         ng-if="organization.isVisible">
      <a class="tree-view-item"
         ng-class="{ selected : vm.$state.includes('management.view.organization', {organizationId: organization.id}),
                           disabled : organization.synthetic,
                           childSelected : vm.selectedParentOrganization.id === organization.id }"
         ng-click="organization.isExpanded = true;
                   vm.goToOrganizationIfNotSynthetic(organization);">
        <div class="twisty-container"
             ng-click="$event.preventDefault();
                       $event.stopPropagation();
                       organization.isExpanded =
                         vm.$state.includes('management.view.organization', {organizationId: organization.id}) ||
                         vm.selectedParentOrganization.id === organization.id || !organization.isExpanded;">
                <span class="twisty"
                      ng-class="{ empty: organization.applications.length == 0,
                                expand: organization.applications.length > 0 && !organization.isExpanded,
                                collapse: organization.applications.length > 0 && organization.isExpanded }"></span>
        </div><!--
           --><i class="fa fa-sitemap tree-view-icon icon-12px inverse"></i><!--
           --><span
              data-tooltip="{{::organization.synthetic ? 'You do not have permission to view this organization.' : ''}}"
              data-tooltip-placement="right" data-tooltip-append-to-body="true">
                {{organization.name}}
              </span>
        <div class="tree-view-new-application"
             ng-class="{ hide : !vm.$state.includes('management.view.organization', {organizationId: organization.id}) }">
          <button class="btn"
                  ng-click="$event.preventDefault();
                            $event.stopPropagation();
                            vm.createApplication(organization);">
            <i class="fa fa-plus"></i>
            New Application
          </button>
        </div>
      </a>
      <a class="tree-view-item"
         ng-repeat="application in organization.applications | orderBy:'name'"
         ng-if="organization.isExpanded && application.isVisible"
         ui-sref="management.view.application({applicationPublicId: application.publicId})"
         ng-class="{ selected : vm.$state.includes('management.view.application', {applicationPublicId: application.publicId}) }">
        <i class="fa fa-terminal tree-view-icon icon-12px inverse"></i><!--
         -->{{application.name}}
      </a>
    </div>
  </div>
</div>
