<div id="delete-modal">
  <div class="iq-modal-header">
    <h2>
      <i class="fa size-20px fa-trash"></i> {{vm.headerText || 'Delete ' +
      vm.resourceType}}
    </h2>
  </div>
  <form
    name="deleteResourceForm"
    ng-submit="vm.deleteResource()"
    form-mask="vm.deleteResourceMask"
    mask-message="{{vm.maskText || 'Deleting'}}"
  >
    <div class="iq-modal-content">
      <div class="iq-alert">
        <i class="fa fa-warning"></i>
        <span ng-if="!vm.bodyText"
          >You are about to permanently remove {{ ::vm.resourceName }}. This
          action cannot be undone.</span
        >
        <span ng-if="vm.bodyText">{{ ::vm.bodyText }}</span>
      </div>
    </div>
    <div class="iq-modal-footer" ng-class="{ error : vm.error }">
      <div ng-if="vm.error" class="iq-alert iq-alert--error">
        <i class="fa fa-warning"></i>{{ vm.error }}
      </div>
      <button ng-if="!vm.error" class="iq-btn iq-btn--primary" type="submit">
        Continue
      </button>
      <button ng-if="vm.error" class="iq-btn iq-btn--error" type="submit">
        <i class="fa fa-refresh"></i>Retry
      </button>
      <button class="iq-btn" type="button" ng-click="$dismiss()">Cancel</button>
    </div>
  </form>
</div>
