<form id="login-modal"
      name="loginForm"
      class="iq-form iq-form--modal-form"
      ng-submit="vm.signIn()"
      form-mask="vm.loginMask"
      novalidate
      mask-message="Signing in">
  <header class="iq-modal-header">
    <h2>User Login</h2>
  </header>
  <div class="iq-modal-content">
    <system-notice></system-notice>
    <p id="sso-text" ng-if="vm.showSamlSso">
      Single sign-on via SAML is configured and can be initiated with your identity provider by clicking the Single 
      Sign-On button.
    </p>
    <div class="iq-form-row">
      <div class="iq-form-group">
        <label class="iq-label" for="login-username">Username</label>
        <input id="login-username"
               class="iq-text-input"
               type="text"
               name="username"
               ng-model="vm.username"
               ng-required="true"
               autofill
               focus-input="true"
               autofocus>
      </div>
      <div class="iq-form-group">
        <label class="iq-label" for="login-password">Password</label>
        <input id="login-password"
               class="iq-text-input"
               type="password"
               name="password"
               ng-model="vm.password"
               ng-required="true"
               autofill>
      </div>
    </div>
  </div>
  <footer class="iq-modal-footer" ng-class="{error: vm.error}">
    <div id="login-error" ng-if="vm.error" class="iq-alert iq-alert--error">
      <i class="fa fa-warning"></i>{{vm.error}}
    </div>
    <button id="sso-action"
            class="iq-btn iq-btn--primary"
            ng-click="vm.initiateSamlSso()"
            ng-if="vm.showSamlSso"
            type="button">
      Single Sign-On
    </button>
    <button id="login-action"
            class="btn btn-primary"
            ng-disabled="vm.isSignInButtonDisabled()"
            type="submit">
      Sign in
    </button>
  </footer>
</form>
