<form id="login-modal"
      name="loginForm"
      class="iq-form iq-form--modal-form"
      ng-submit="vm.signIn()"
      form-mask="vm.loginMask"
      novalidate
      mask-message="Signing in">
  <header class="iq-modal-header">
    <h2>User Login</h2>
  </header>
  <div class="iq-modal-content">
    <system-notice></system-notice>
    <div ng-class="{'iq-form-row': !vm.showSamlSso, 'iq-grid-row': vm.showSamlSso}">
      <p id="sso-text" class="iq-grid-col iq-grid-col--33" ng-if="vm.showSamlSso">
        Single sign-on via {{vm.identityProviderName}} by clicking the Single Sign-On button.
      </p>
      <div class="iq-grid-col">
        <div class="iq-form-group">
          <label class="iq-label" for="login-username">Username</label>
          <input id="login-username"
                 class="iq-text-input"
                 type="text"
                 name="username"
                 ng-model="vm.username"
                 ng-required="!vm.isSingleSignOnPreferred()"
                 autofill
                 ng-attr-autofocus="{{vm.showSamlSso ? undefined : true}}">
        </div>
        <div class="iq-form-group">
          <label class="iq-label" for="login-password">Password</label>
          <input id="login-password"
                 class="iq-text-input"
                 type="password"
                 name="password"
                 ng-model="vm.password"
                 ng-required="!vm.isSingleSignOnPreferred()"
                 autofill>
        </div>
      </div>
    </div>
  </div>
  <footer class="iq-modal-footer" ng-class="{error: vm.error}">
    <div class="iq-grid-row">
      <div class="iq-grid-col iq-grid-col--33" ng-if="vm.showSamlSso">
        <button id="sso-action"
                class="iq-btn iq-btn--primary"
                ng-click="vm.initiateSamlSso()"
                type="button"
                ng-attr-autofocus="{{vm.showSamlSso ? true : undefined}}">
          Single Sign-On
        </button>
      </div>
      <div class="iq-grid-col">
        <div id="login-error" class="iq-alert iq-alert--error" ng-if="vm.error">
          <i class="fa fa-warning"></i>{{vm.error}}
        </div>
        <button id="login-action"
                class="iq-btn iq-btn--primary"
                ng-disabled="vm.isSignInButtonDisabled()"
                type="submit">
          Sign in
        </button><!--
      --><button ng-if="!vm.inAuthRequiredState()"
                 id="login-cancel"
                 class="iq-btn"
                 type="button"
                 ng-click="$dismiss()">
            Cancel
          </button>
      </div>
    </div>
    <div class="iq-grid-row">
      <p ng-if="licensed && vm.inAuthRequiredState()" id="login-vulnerability-link">
        You can now look up a vulnerability without logging in. To explore more visit:
        <a ui-sref="vulnerabilitySearch">Vulnerability Lookup</a>.
      </p>
    </div>
  </footer>
</form>
