<item-description>
  <marked>
    `&lt;dropdown-selector&gt;` is the standard form select component. It uses Bootstrap for the hide/show functionality.

    Arguments:

    Params                 | Type        | Details
    :---                   | :---        | :---
    ngModel                | string      | Assignable AngularJS expression to data-bind to.
    classNameParam         | string      | Optional. If options are objects use this attribute to specify which object property to add as a class. (Useful for pendo to know which option was selected)
    itemAsClass            | boolean     | Optional. If options are strings use this attribute to add the items as a class. (Useful for pendo to know which option was selected)
    options                | array       | An array of options to display. If options are objects, provide optionNameParam (see below).
    optionNameParam        | string      | Optional. If options are objects, use this attribute to specify which object property to use for display.
    optionValueParam       | string      | Optional. If options are objects, use this attribute to specify which object property to use as value.
    emptyOptionString      | string      | Optional. Default is 'None Selected'. Displayed when nothing is selected.
    undefinedOptionsString | string      | Optional. Default is 'No Options Set'. Displayed when options is undefined.
    noOptionsString        | string      | Optional. Displayed when options array is empty.
    ngDisabled             | boolean     | Optional. Default is false.


  </marked>
</item-description>

<item-example-html>
  <form ng-init="value1 = ''; stringOptions = ['foo', 'bar']">
    <label>String options</label>
    <p>Options: {{stringOptions}}</p>
    <p>Selected value: {{value1}}</p>
    <dropdown-selector options="stringOptions" ng-model="value1" empty-option-string="please select">
    </dropdown-selector>
  </form>

  <hr>

  <form ng-init="value2 = null; objectOptions = [{name: 'foo', value: 1}, {name:'bar', value: 2}]">
    <label>Object options</label>
    <p>Options: {{objectOptions}}</p>
    <p>Selected value: {{value2}}</p>
    <dropdown-selector options="objectOptions" ng-model="value2" option-name-param="name" option-value-param="value">
    </dropdown-selector>
  </form>
  
  <hr>
  
  <form ng-init="value3 = null; objectOptions = [{name: 'foo', value: 1}, {name:'bar', value: 2}]">
    <label>Disabled</label>
    <p>Options: {{objectOptions}}</p>
    <p>Selected value: {{value3}}</p>
    <dropdown-selector ngDisabled="true" ng-model="value3"></dropdown-selector>
  </form>
  
  <hr>

  <form ng-init="value = ''">
    <label>Undefined options</label>
    <dropdown-selector options="undefinedValue" ng-model="value" undefined-options-string="undefined options">
    </dropdown-selector>
  </form>

  <hr>

  <form ng-init="value = ''">
    <label>Empty options</label>
    <dropdown-selector options="[]" ng-model="value" no-options-string="empty options">
    </dropdown-selector>
  </form>
</item-example-html>
