<item-description>
  <marked>
    Custom radio input.

    Transcluded HTML will be used as a label following the radio button itself.

    Arguments:

    Params      | Type        | Details|
    :---        | :---        | :---
    model       | expression  | Assignable AngularJS expression to data-bind to
    value       | expression  | AngularJS expression to which ngModel will be be set when the radio is selected
    on-click    | expression  | optional - 'value' variable will be available to provided expression
    is-disabled | boolean     | optional - default is false

  </marked>
</item-description>

<item-example-html>
  <form ng-init="color = {name: 'blue', default: 'pink'}; greenCounter = 0">
    <h3 style="color:{{color.name}}">Selected Color: {{color.name}}</h3>
    <iq-radio model="color.name" value="'blue'" is-disabled="true">Blue (disabled)</iq-radio>
    <iq-radio model="color.name" value="'red'">Red</iq-radio>
    <iq-radio model="color.name" value="color.default">Default (using value expression)</iq-radio>

    <iq-radio model="color.name"
              value="'green'"
              on-click="greenCounter = greenCounter + 1"><!--
        -->Green (with on-click expression)
    </iq-radio>
    <p>Green is selected {{greenCounter}} times</p>
  </form>
</item-example-html>
