<div>
  <div class="dashboard-headers">
    <div class="tile summary-tile">
      <div class="dashboard-header-container">
        <div class="dashboard-header">
          <div class="applications-row" sort="-totalApplicationRisk.totalRisk">
            <div class="column greedy application-name" sort-column="applicationName">
              <span class="header-text">Name</span>
            </div><!--
         --><div class="column fixed total-risk split-line" sort-column="-totalApplicationRisk.totalRisk">
              <span class="header-text">Total Risk</span>
            </div><!--
         --><div class="column fixed critical-risk" sort-column="-totalApplicationRisk.criticalRisk">
              <span class="header-text">Critical</span>
            </div><!--
         --><div class="column fixed severe-risk" sort-column="-totalApplicationRisk.severeRisk">
              <span class="header-text">Severe</span>
            </div><!--
         --><div class="column fixed moderate-risk" sort-column="-totalApplicationRisk.moderateRisk">
              <span class="header-text">Moderate</span>
            </div><!--
         --><div class="column fixed low-risk" sort-column="-totalApplicationRisk.lowRisk">
              <span class="header-text">Low</span>
            </div><!--
         --><div class="column chevron">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-results">
    <div class="tile-container" fill-vertical>
      <div class="tile-scroll-container">
        <div application-risk-table>
          <div id="dashboard-components" ng-controller="application.risk.table">
            <div class="tile clickable" ng-repeat="application in applications | limitTo: maxResults | orderBy:sortVm.sortFields"
                 ng-click="angular.noop()">
              <div class="applications-row">
                <div class="column greedy application-name semi-bold">{{::application.applicationName}}</div><!--
              --><div class="column fixed padded-cell total-risk">{{::application.totalApplicationRisk.totalRisk}}</div><!--
              --><div ng-if="policyThreatLevelCategories.critical" class="column fixed padded-cell critical-risk">{{::application.totalApplicationRisk.criticalRisk}}</div><!--
              --><div ng-if="policyThreatLevelCategories.severe" class="column fixed padded-cell severe-risk">{{::application.totalApplicationRisk.severeRisk}}</div><!--
              --><div ng-if="policyThreatLevelCategories.moderate" class="column fixed padded-cell moderate-risk">{{::application.totalApplicationRisk.moderateRisk}}</div><!--
              --><div ng-if="policyThreatLevelCategories.low" class="column fixed padded-cell low-risk">{{::application.totalApplicationRisk.lowRisk}}</div><!--
              --><div class="column chevron"><i class="fa fa-chevron-right"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
