<div
  id="license-editor"
  load-wrapper="error"
  reload="doLoad()"
  error-message="Unable to load license data for this component."
  loading="!licenses"
>
  <div ng-show="alert" class="alert alert-error">
    <button type="button" class="close" ng-click="alert = null">&times;</button>
    <strong>Error</strong> An error occurred while saving the license override. ({{alert}})
  </div>
  <form name="vm.licenseEditorForm" ng-submit="save()">
    <div style="width: 199px; height: 212px; overflow: auto" class="well">
      <ul class="nav nav-list" id="licenseList">
        <li class="nav-header">Declared Licenses</li>
        <div id="declaredLicenseBlock">
          <li
            class="license"
            ng-repeat='licenseWithThreat in component.declaredlicenses | orderBy:"license.licenseName"'
          >
            <div class="nx-clm-square {{getLicenseThreatClass(licenseWithThreat.threatLevel)}}">
              {{licenseWithThreat.license.licenseName}}
            </div>
          </li>
        </div>
        <li class="license" ng-show="isClaimedComponent()">Unavailable, Claimed Component</li>
        <li class="divider"></li>
        <li class="nav-header">Observed Licenses</li>
        <div id="observedLicenseBlock">
          <li
            class="license"
            ng-repeat='licenseWithThreat in component.observedlicenses | orderBy:"license.licenseName"'
          >
            <div class="nx-clm-square {{getLicenseThreatClass(licenseWithThreat.threatLevel)}}">
              {{licenseWithThreat.license.licenseName}}
            </div>
          </li>
        </div>
        <li class="license" ng-show="isClaimedComponent()">Unavailable, Claimed Component</li>
        <li class="divider"></li>
        <li class="nav-header">Effective License</li>
        <div id="effectiveLicenseBlock">
          <li
            class="license"
            ng-repeat='licenseWithThreat in component.effectiveLicenses | orderBy:"license.licenseName"'
          >
            <div class="nx-clm-square {{getLicenseThreatClass(licenseWithThreat.threatLevel)}}">
              {{licenseWithThreat.license.licenseName}}
            </div>
          </li>
        </div>
        <li class="license" ng-show="isClaimedComponent() && !component.effectiveLicenses.length">
          Unavailable, Claimed Component
        </li>
      </ul>
    </div>
    <div class="well" style="width: 595px">
      <div class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Scope</label>
          <div class="controls">
            <select
              id="license-scope"
              ng-model="override.ownerId"
              name="scope"
              ng-options="scope.ownerId as scope.ownerName for scope in hierarchy"
              required
            ></select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Status</label>
          <div class="controls" style="text-align: left">
            <select
              id="license-status"
              ng-model="override.status"
              name="status"
              ng-change="onOverrideStatusChange()"
              required
            >
              <option value="OPEN">Open</option>
              <option value="ACKNOWLEDGED">Acknowledged</option>
              <option value="OVERRIDDEN">Overridden</option>
              <option ng-if="component.selectableLicenses.length" value="SELECTED">Selected</option>
              <option value="CONFIRMED">Confirmed</option>
              <option ng-if="hierarchy && canInherit()" value="DELETE">
                Inherit Status ({{ getInheritableStatus() }})
              </option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">License(s)</label>
          <div class="controls" style="text-align: left">
            <span ng-switch="override.status">
              <span
                id="license-selected"
                class="multi-dropdown"
                multi-select
                items="selectableLicenses"
                selected-ids="override.licenseIds"
                ng-switch-when="SELECTED"
              ></span>
              <span
                id="license-overridden"
                class="multi-dropdown"
                multi-select
                items="rawLicenses"
                selected-ids="override.licenseIds"
                ng-switch-when="OVERRIDDEN"
              ></span>
            </span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="comment1376501760921">Comment</label>
          <div class="controls">
            <textarea
              id="license-comment"
              ng-model="override.comment"
              name="comment"
              disablenav
              class="input-xlarge"
              id="comment1376501760921"
              maxlength="1000"
              rows="3"
              style="padding: 0px; height: 62px"
            ></textarea>
          </div>
        </div>
        <div class="controls" style="text-align: right">
          <button id="license-update-button" type="submit" class="btn btn-primary" ng-disabled="!isSubmitEnabled()">
            Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
