<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011-2014 Sonatype, Inc. All rights reserved.
    Includes the third-party code listed at http://links.sonatype.com/products/clm/attributions.
    "Sonatype" is a trademark of Sonatype, Inc.

-->
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{'yyyy-MM-dd HH:mm:ss,SSSZ'} %level [%thread] %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="CONSOLE" />
  </root>
  <!-- Turn off the excessive logging from ApacheDS code. This makes the tests run ~6 times faster (on my machine, at least :) ). -->
  <logger name="net.sf.ehcache" level="WARN" />
  <logger name="org.apache.directory" level="WARN" />
</configuration>
