<div ng-if="vm.migrateRoot" class="alert alert-warn">
  <div>
    This release of IQ server introduces the Root Organization. You may select one of your existing Organizations
    to promote as your Root Organization. The policy configuration of your chosen Organization will migrate to the Root,
    and it will become the parent to your other Organizations. You may also choose to work with a blank Root Organization.
    It is strongly recommended that you back up your IQ Server before proceeding.
  </div>
  <button class="btn btn-primary">Get Started</button>
</div>
