.classpath
.idea
.project
.settings/
.sonatype
target/
sonatype-work/
dependency-reduced-pom.xml
*.iml
*.eml
.DS_Store
.*.swp
.tags
.vscode/
.factorypath
perfTemp_*/
perf_results-*.out
.pmd
.pmdruleset.xml
awsPerfRun_*/
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
override.tf
.terraform
terraform.tfvars
nexus-iq-tools/automation/java/*.class
nexus-iq-tools/automation/java/*.jar
nexus-iq-tools/testsuite/iqperf.auto.tfvars
nexus-iq-tools/testsuite/run_aws_test.config

# config file for tsc-based javascript editing plugins
jsconfig.json
