#add-success-metrics-report {
  iq-org-app-picker-angular {
    $left-margin: 48px;
    $right-margin: 8px;

    margin: 0 $right-margin 0 $left-margin;
    width: calc(100% - #{$right-margin + $left-margin});
  }

  .iq-tree-view--multi-select {
    width: 100%;
    max-width: 100%;
  }

  .iq-tree-view__filter {
    padding-left: 22px;
  }

  .iq-alert {
    margin-top: 8px;
  }

  .iq-scrollable {
    position: relative;
  }

  fieldset {
    .iq-alert {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
