.iq-back-button {
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 14px;
  line-height: 32px;
  margin-left: $iq-spacing-sm;

  a {
    color: $iq-link-color;

    &:hover {
      text-decoration: none;
    }

    > .fa {
      margin-right: 6px;
    }
  }
}
