<div id="user-group-mapping-form">
  <div ng-if="ldapUserMapping == null" class="ldap-loading">
    <h5><i class="icon icon-time"></i> Loading...</h5>
  </div>
  <div ng-show="ldapUserMapping != null" class="iq-tile-content">
    <form
      name="ldapUserMappingEditor"
      class="iq-form iq-form--no-border"
      novalidate
    >
      <h4 class="iq-tile__section-header">User Element Mapping</h4>
      <div class="iq-form-group">
        <label for="ldap-user-base-dn" class="iq-label">Base DN</label>
        <input
          clm-input
          class="iq-text-input"
          type="text"
          maxlength="255"
          name="ldap-user-base-dn"
          id="ldap-user-base-dn"
          ng-model="ldapUserMapping.userBaseDN"
        />
      </div>
      <div class="iq-form-group">
        <label for="ldap-user-subtree" class="iq-label"
          >Include User Subtree?</label
        >
        <div
          id="ldap-user-subtree"
          name="ldap-user-subtree"
          class="toggle-checkbox"
        >
          <input
            type="checkbox"
            toggle-checkbox
            data-on="Yes"
            data-off="No"
            ng-model="ldapUserMapping.userSubtree"
          />
        </div>
      </div>
      <div class="iq-form-group">
        <label for="ldap-user-object-class" class="iq-label"
          >Object Class</label
        >
        <input
          clm-input
          class="iq-text-input"
          type="text"
          maxlength="255"
          name="ldap-user-object-class"
          id="ldap-user-object-class"
          ng-model="ldapUserMapping.userObjectClass"
          required
        />
      </div>
      <div class="iq-form-group">
        <label for="ldap-user-filter" class="iq-label">User Filter</label>
        <input
          clm-input
          class="iq-text-input"
          type="text"
          maxlength="255"
          name="ldap-user-filter"
          id="ldap-user-filter"
          ng-model="ldapUserMapping.userFilter"
        />
      </div>
      <div class="iq-form-group">
        <label for="ldap-user-id-attribute" class="iq-label"
          >Username Attribute</label
        >
        <input
          clm-input
          class="iq-text-input"
          type="text"
          maxlength="255"
          name="ldap-user-id-attribute"
          id="ldap-user-id-attribute"
          ng-model="ldapUserMapping.userIDAttribute"
          required
        />
      </div>
      <div class="iq-form-group">
        <label for="ldap-user-real-name-attribute" class="iq-label"
          >Real Name Attribute</label
        >
        <input
          clm-input
          class="iq-text-input"
          type="text"
          maxlength="255"
          name="ldap-user-real-name-attribute"
          id="ldap-user-real-name-attribute"
          ng-model="ldapUserMapping.userRealNameAttribute"
          required
        />
      </div>
      <div class="iq-form-group">
        <label for="ldap-user-email-attribute" class="iq-label"
          >E-mail Attribute</label
        >
        <input
          clm-input
          class="iq-text-input"
          type="text"
          maxlength="255"
          name="ldap-user-email-attribute"
          id="ldap-user-email-attribute"
          ng-model="ldapUserMapping.userEmailAttribute"
          required
        />
      </div>
      <div class="iq-form-group">
        <label for="ldap-user-password-attribute" class="iq-label"
          >Password Attribute</label
        >
        <input
          clm-input
          class="iq-text-input"
          type="text"
          maxlength="255"
          name="ldap-user-password-attribute"
          id="ldap-user-password-attribute"
          ng-model="ldapUserMapping.userPasswordAttribute"
        />
      </div>

      <h4 class="iq-tile__section-header">Group Element Mapping</h4>
      <div class="iq-form-group">
        <label for="ldap-group-mapping-type">Group Type</label>
        <dropdown-selector
          options="groupMappingTypes"
          ng-model="ldapUserMapping.groupMappingType"
          id="ldap-group-mapping-type"
          name="ldap-group-mapping-type"
        >
        </dropdown-selector>
      </div>
      <div ng-show="ldapUserMapping.groupMappingType == 'STATIC'">
        <div class="iq-form-group">
          <label for="ldap-group-base-dn" class="iq-label">Base DN</label>
          <input
            clm-input
            class="iq-text-input"
            type="text"
            maxlength="255"
            name="ldap-group-base-dn"
            id="ldap-group-base-dn"
            ng-model="ldapUserMapping.groupBaseDN"
          />
        </div>
        <div class="iq-form-group">
          <label for="ldap-group-subtree" class="iq-label"
            >Include Group Subtree?</label
          >
          <div
            id="ldap-group-subtree"
            name="ldap-group-subtree"
            class="toggle-checkbox"
          >
            <input
              type="checkbox"
              toggle-checkbox
              data-on="Yes"
              data-off="No"
              ng-model="ldapUserMapping.groupSubtree"
            />
          </div>
        </div>
        <div class="iq-form-group">
          <label for="ldap-group-object-class" class="iq-label"
            >Object Class</label
          >
          <input
            clm-input
            class="iq-text-input"
            type="text"
            maxlength="255"
            name="ldap-group-object-class"
            id="ldap-group-object-class"
            ng-model="ldapUserMapping.groupObjectClass"
            ng-required="isGroupFieldRequired('STATIC')"
          />
        </div>
        <div class="iq-form-group">
          <label for="ldap-group-id-attribute" class="iq-label"
            >Group ID Attribute</label
          >
          <input
            clm-input
            class="iq-text-input"
            type="text"
            maxlength="255"
            name="ldap-group-id-attribute"
            id="ldap-group-id-attribute"
            ng-model="ldapUserMapping.groupIDAttribute"
            ng-required="isGroupFieldRequired('STATIC')"
          />
        </div>
        <div class="iq-form-group">
          <label for="ldap-group-member-attribute" class="iq-label"
            >Group Member Attribute</label
          >
          <input
            clm-input
            class="iq-text-input"
            type="text"
            maxlength="255"
            name="ldap-group-member-attribute"
            id="ldap-group-member-attribute"
            ng-model="ldapUserMapping.groupMemberAttribute"
            ng-required="isGroupFieldRequired('STATIC')"
          />
        </div>
        <div class="iq-form-group">
          <label for="ldap-group-member-format" class="iq-label"
            >Group Member Format</label
          >
          <input
            clm-input
            class="iq-text-input"
            type="text"
            maxlength="255"
            name="ldap-group-member-format"
            id="ldap-group-member-format"
            ng-model="ldapUserMapping.groupMemberFormat"
            ng-required="isGroupFieldRequired('STATIC')"
          />
        </div>
      </div>
      <div ng-show="ldapUserMapping.groupMappingType == 'DYNAMIC'">
        <div class="iq-form-group">
          <label for="ldap-user-member-of-group-attribute" class="iq-label"
            >Member of Attribute</label
          >
          <input
            clm-input
            class="iq-text-input"
            type="text"
            maxlength="255"
            name="ldap-user-member-of-group-attribute"
            id="ldap-user-member-of-group-attribute"
            ng-model="ldapUserMapping.userMemberOfGroupAttribute"
            ng-required="isGroupFieldRequired('DYNAMIC')"
          />
        </div>
        <div class="iq-form-group">
          <label for="ldap-dynamic-group-search-enabled" class="iq-label"
            >Group Search
            <span class="iq-sub-label" id="group-search-warning">
              <i class="fa fa-exclamation-triangle size-16px"></i
              ><!--
           -->Disabling group search may improve performance, but groups will
              not appear in search results.
            </span>
          </label>
          <div class="toggle-checkbox">
            <input
              type="checkbox"
              name="ldap-dynamic-group-search-enabled"
              id="ldap-dynamic-group-search-enabled"
              toggle-checkbox
              data-on="Enabled"
              data-off="Disabled"
              ng-model="ldapUserMapping.dynamicGroupSearchEnabled"
            />
          </div>
        </div>
      </div>
    </form>
    <div clm-alerts="alerts"></div>
  </div>
  <div class="iq-tile-footer">
    <button
      id="ldap-mapping-save"
      class="iq-btn iq-btn--primary"
      ng-disabled="!canSaveEdit()"
      ng-click="save()"
    >
      Save</button
    ><!--
 --><button
      id="ldap-mapping-cancel"
      class="iq-btn"
      ng-disabled="!isDirty()"
      ng-click="reset()"
    >
      Cancel</button
    ><!--
 --><button
      id="ldap-mapping-check"
      class="iq-btn iq-btn--tertiary"
      ng-disabled="ldapUserMappingEditor.$invalid || testInProgress"
      ng-click="checkUserMapping()"
    >
      Check User Mapping</button
    ><!--
 --><button
      id="ldap-mapping-checklogin"
      class="iq-btn iq-btn--tertiary"
      ng-disabled="ldapUserMappingEditor.$invalid || testInProgress"
      ng-click="checkLogin()"
    >
      Check Login
    </button>
    <span ng-show="saving" class="iq-ldap-saving-message"
      ><i class="icon-time"></i> Saving</span
    >
  </div>
</div>
