// 31*4 + 48*3 + 24 = 292
// 31*4 - four charts
// 48*3 - padding between charts
// 24   - top padding
$chart-height: 292px;

.iq-table--pvt-chart-table {
  .plottable {
    width: 100%;

    .guide-line-layer.black .content line.guide-line {
      stroke: black;
    }
  }

  .inactive {
    opacity: 0.3;
  }

  h4 {
    color: #070707;
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
  
  thead h4 {
    text-align: center;
  }
  
  tbody {    
    background-image: url(./component-gallery/charts/violationTrends/bg-pvt-chart-keyline.gif);
    background-position: 0 20px;
    background-repeat: repeat;
  }

  .iq-table-row {
    td {
      border: none;
      margin: unset;
      padding: unset;
    
      &:last-child {
        border: none;
      }
    }

    .iq-cell--pvt-row-label {
      height: 79px;
      text-align: right;
      width: 50px;
    }

    .iq-cell--pvt-chart-total {
      color:#575757;
      font-size: 21px;
      font-weight: bold;
      text-align: center;
      width: 100px;
    }

    .iq-cell--pvt-chart {
      height: $chart-height;
      width: 120px;

      .iq-violation-trends-chart {
        height: $chart-height;
        padding: 24px 12px;
        width: 120px;
      }
      
      .label, .component.label {
        padding: 0;
      }
    }
  }
}

.iq-cell--pvt-gutter {
  padding: 0;
  width: 0;
}

.iq-table-row--pvt-chart-deltas {
  .iq-cell--pvt-row-label h4,
  .iq-cell--pvt-chart-total-number {
    padding-top: 36px;
  }
}

.iq-table-row--pvt-chart-new {
  .iq-cell--pvt-row-label h4,
  .iq-cell--pvt-chart-total-number {
    padding-top: 26px;
  }
}

.iq-table-row--pvt-chart-waived {
  .iq-cell--pvt-row-label h4,
  .iq-cell--pvt-chart-total-number {
    padding-top: 14px;
  }
}

.iq-table-row--pvt-chart-fixed {
  .iq-cell--pvt-row-label h4,
  .iq-cell--pvt-chart-total-number {
    padding-top: 4px;
  }
}

.trends-tooltip {
  display: none;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;

  .fa {
    font-size: 18px;
    padding-left: 4px;

    &.fa-caret-up {
      color: red;
    }

    &.fa-caret-down {
      color: blue;
    }
  }
}
