<div id="evaluate-application-modal">
  <div class="iq-modal-header">
    <div ng-switch="vm.evaluationState">
      <div ng-switch-when="polling">
        <h2>Evaluation Status</h2>
      </div>
      <div ng-switch-default>
        <h2>Evaluate a File</h2>
      </div>
    </div>
  </div>
  <div ng-show="vm.evaluationState == 'loading'">
    <i class="icon icon-time"></i> Loading...
  </div>
  <div ng-show="vm.evaluationState == 'polling'">
    <div class="iq-modal-content">
      <p>Closing this panel will not interrupt the evaluation. It will still progress until it is complete. When the
        evaluation has been completed you can view the results by clicking on the button below.</p>
      <dl class="iq-list iq-list--definition-list">
        <dt class="iq-list__item iq-list__item--label">File:</dt><!--
     --><dd class="iq-list__item" id="bundle-file-name">{{vm.bundle.filename}}</dd>
        <dt class="iq-list__item iq-list__item--label">Application:</dt><!--
     --><dd class="iq-list__item" id="bundle-app-name">{{vm.bundle.applicationName}}</dd>
        <dt class="iq-list__item iq-list__item--label">Stage:</dt><!--
     --><dd class="iq-list__item" id="bundle-stage-name">{{vm.bundle.stage.stageName}}</dd>
      </dl>
      <div class="iq-progress-bar progress progress-striped" ng-class="{active: !vm.evaluationStatus.scanId}">
        <div class="bar" ng-style="{width: vm.getProgressWidth() + '%'}"></div>
      </div>
      <div id="evaluate-bundle-status">
        <b>{{vm.evaluationStatus.currentStepName}}</b>
      </div>
    </div>
    <div class="iq-modal-footer" ng-class="{ 'iq-error' : vm.error }">
      <div ng-if="vm.error" class="iq-alert iq-alert--error"><i class="fa fa-warning"></i>{{vm.error}}</div>
      <button ng-if="!vm.error"
              id="evaluate-bundle-view"
              class="iq-btn iq-btn--primary"
              type="button"
              ng-disabled="!vm.evaluationStatus.scanId"
              ng-click="vm.openReport()">
        View Report
      </button><!--
   --><button ng-if="vm.error"
              class="iq-btn iq-btn--error"
              type="submit"
              ng-click="vm.retry()">
        <i class="fa fa-refresh"></i>Retry
      </button><!--
   --><button id="evaluate-bundle-close"
              class="iq-btn"
              type="button"
              ng-disabled="!vm.pollingUrl && !vm.evaluationStatus.error"
              ng-click="$close()">
        Close
      </button>
    </div>
  </div>
  <div ng-show="vm.evaluationState != 'loading' && vm.evaluationState != 'polling'">
    <form class="iq-form iq-form--no-padding iq-form--no-border"
          name="evaluateBundle"
          ng-submit="vm.doSubmit($event)">
      <div class="iq-modal-content">
        <div class="iq-form-group">
          <label class="iq-label" for="bundle-file">Select the file you want evaluated</label>
          <input type="file" file-model="vm.bundle.file" id="bundle-file" name="file">
        </div>
        <div class="iq-form-group">
          <label class="iq-label" for="bundle-stage">
            Which stage should this evaluation be associated with?
          </label>
          <dropdown-selector id="bundle-stage"
                             ng-model="vm.bundle.stage"
                             options="vm.stages"
                             option-name-param="stageName"
                             empty-option-string="-- Select Stage --">
          </dropdown-selector>
        </div>
        <fieldset class="iq-form-group iq-radio-group">
          <legend class="iq-label">Should notifications be sent if this application violates any policies?</legend>
          <div id="eval-notifications-disabled-message"
               ng-if="!vm.isNotificationsSupported"
               class="iq-alert iq-alert--info iq-alert--form-item">
            <i class="fa fa-info-circle"></i>Notifications are not supported by your license.
          </div>
          <iq-radio model="vm.bundle.notify"
                    value="'true'"
                    class="tm-notify-true"
                    is-disabled="!vm.isNotificationsSupported">Yes
          </iq-radio>
          <iq-radio model="vm.bundle.notify" value="'false'" 
                    class="tm-notify-false"
                    is-disabled="!vm.isNotificationsSupported">No
          </iq-radio>
        </fieldset>
      </div>
      <div class="iq-modal-footer" ng-class="{ 'iq-error' : vm.error }">
        <div ng-if="vm.error" class="iq-alert iq-alert--error"><i class="fa fa-warning"></i>{{vm.error}}</div>
        <button ng-if="!vm.error"
                id="evaluate-bundle-upload"
                class="iq-btn iq-btn--primary"
                type="submit"
                ng-disabled="vm.evaluationState != 'ready' || !vm.isFormValid()">
          Upload
        </button><!--
     --><button ng-if="vm.error" class="iq-btn iq-btn--error" type="submit" ng-click="vm.retry()">
          <i class="fa fa-refresh"></i>Retry
        </button><!--
     --><button id="evaluate-bundle-cancel" class="iq-btn" type="button" ng-click="$close()">Cancel</button>
      </div>
      <input type="hidden" name="{{vm.csrfTokenName}}" value="{{vm.csrfTokenValue}}"/>
    </form>
  </div>
</div>
