<div id="grandfather-modal">
  <div class="iq-modal-header">
    <h2>
      <i class="fa size-20px fa-gavel"></i>Grandfather Policy Violations
    </h2>
  </div>
  <form name="grandfatherForm"
        ng-submit="vm.grandfather()"
        form-mask="vm.grandfatherMask"
        mask-message="Grandfathering">
    <div class="iq-modal-content">
      <div ng-if="!vm.error" class="iq-alert">
        <i class="fa fa-warning"></i>
        Policy violations for the application will be grandfathered without performing an evaluation.
      </div>
    </div>
    <div class="iq-modal-footer" ng-class="{ error : vm.error }">
      <div ng-if="vm.error" class="iq-alert iq-alert--error">
        <i class="fa fa-warning"></i>{{ vm.error }}
      </div>
      <button ng-if="!vm.error"
              class="iq-btn iq-btn--primary"
              id="policy-violation-grandfather-button"
              type="submit">
        Grandfather
      </button>
      <button ng-if="vm.error"
              class="iq-btn iq-btn--error"
              id="policy-violation-grandfather-retry-button"
              type="submit">
        <i class="fa fa-refresh"></i>Retry
      </button>
      <button class="iq-btn iq-btn--cancel"
              id="policy-violation-grandfather-cancel-button"
              type="button"
              ng-click="$dismiss()">
        Cancel
      </button>
    </div>
  </form>
</div>
