<div id='import-policy-modal'>
  <div class='iq-modal-header'>
    <h2>Import Policies</h2>
  </div>
  <form class="clm-form" name='importPolicy' action='{{vm.importPolicyUrl()}}' enctype='multipart/form-data'
        method='post' ng-upload='vm.uploaded(content)' form-mask="vm.importPolicyMask" mask-message="Importing">
    <div class="iq-modal-content">
      <div class="section">
        <div class="field">
          <label for="importFile">Policies File</label>
          <input type='file' file-model='vm.importFile' id='importFile' name='file' accept=".json">
        </div>
      </div>
      <div ng-if="!vm.error" class="iq-alert">
        <i class="fa fa-warning"></i><strong>Note:</strong> Importing policies is <strong>destructive</strong>, all
        existing policies, waivers, and license threat groups belonging to this organization and any of its descendants
        will be <strong>permanently deleted</strong> before importing.
      </div>
    </div>
    <div class='iq-modal-footer' ng-class="{error: vm.error}">
      <div ng-if="vm.error" class="section with-icon"><i class="fa fa-warning"></i>{{vm.error}}</div>
      <button ng-if="!vm.error" id='import-policy-upload' class='btn btn-primary' type='button'
              ng-disabled='!vm.importFile' ng-click='vm.doSubmit()'>Import
      </button>
      <button ng-if="vm.error" class="btn btn-error" type="submit" ng-click="vm.retry()"><i class="fa fa-refresh"></i>Retry
      </button>
      <button id='import-policy-cancel' class='btn' type='button' ng-click='$close()'>Cancel
      </button>
    </div>
    <input type='hidden' name='{{vm.csrfTokenName}}' value='{{vm.csrfTokenValue}}'/>
  </form>
</div>
