<div id="revoke-grandfathering-modal">
  <div class="iq-modal-header">
    <h2>
      <i class="fa size-20px fa-history"></i>Revoke Grandfathered Policy Violations
    </h2>
  </div>
  <form name="revokeGrandfatheringForm"
        ng-submit="vm.revokeGrandfathering()"
        form-mask="vm.revokeGrandfatheringMask"
        mask-message="Revoking">
    <div class="iq-modal-content">
      <div class="iq-alert">
        <i class="fa fa-warning"></i><!--
     --><span><!--
       -->Revoking the grandfathered policy violations for the application will reinstate violations if applicable.
        </span>
      </div>
    </div>
    <div class="iq-modal-footer" ng-class="{ error : vm.error }">
      <div ng-if="vm.error" class="iq-alert iq-alert--error">
        <i class="fa fa-warning"></i>{{ vm.error }}
      </div>
      <button ng-if="!vm.error"
              class="iq-btn iq-btn--primary"
              id="revoke-policy-violation-grandfathering-button"
              type="submit">
        Revoke
      </button>
      <button ng-if="vm.error"
              class="iq-btn iq-btn--error"
              id="revoke-policy-violation-grandfathering-retry-button"
              type="submit">
        <i class="fa fa-refresh"></i>Retry
      </button>
      <button class="iq-btn iq-btn--cancel"
              id="revoke-policy-violation-grandfathering-cancel-button"
              type="button"
              ng-click="$dismiss()">
        Cancel
      </button>
    </div>
  </form>
</div>
