/*
  #Form elements
*/
/*
  ##Text inputs

  See clmControlGroup and clmInput directives.

```
<form class='clm-form'>
  <p>
    <label for='normal'>An input that is not required and hasn't been updated</label>
    <input type='text' id='normal' class='ng-valid'>
  </p>
  <p>
    <label for='required'>An input that is required and hasn't been updated</label>
    <input type='text' id='required' class='ng-invalid' required>
  </p>
  <p>
    <label for='valid'>An input that has been updated and is valid</label>
    <input type='text' id='valid' class='ng-valid ng-dirty' value='Valid'>
  </p>
  <p>
    <label for='invalid'>An input that has been updated and is invalid</label>
    <input type='text' id='invalid' class='ng-invalid ng-dirty' value='Invalid'>
  </p>
</form>
```
*/
$input-types: ('input[type=text]', 'input[type=number]', 'input[type=email]', 'input[type=password]', 'textarea');

@each $type in $input-types {
  .clm-form #{nth($type, 1)} {
    width: 95% !important;
  }
  .clm-form #{nth($type, 1)}[required].ng-invalid {
    border-left: 5px solid $input-invalid-color !important;
  }
  .clm-form #{nth($type, 1)}[required].ng-valid {
    border-left: 5px solid $input-valid-color !important;
  }
  .clm-form #{nth($type, 1)}:not([required]) {
    border-left: 5px solid $input-valid-color !important;
  }
  .clm-form #{nth($type, 1)}.ng-valid.ng-dirty {
    border: 1px solid $input-valid-color !important;
    border-left-width: 5px !important;
  }
  .clm-form #{nth($type, 1)}.ng-invalid.ng-dirty {
    border: 1px solid $input-invalid-color !important;
    border-left-width: 5px !important;
  }
}

/*
  ##Validation popovers
  Modified version of bootstrap popover styling, should appear at the far right edge of an invalidated input

  See clmInput directive.

  ```
  <div class="popover input-popover fade top in" style="top: 10px; left: 10px; display: block;">
    <div class="arrow"></div>
    <div class="popover-content">Please enter a value</div>
 </div>
  ```
*/
.input-popover{
  background-color: $errorBackground !important;
  color: $errorText;
  border: 1px solid $errorBorder;
  @include border-radius($borderRadiusSmall);
}
.input-popover .top{
  margin-top:-2px
}
.input-popover .right{
  margin-left:2px
}
.input-popover .bottom{
  margin-top:2px
}
.input-popover .left{
  margin-left:-2px
}
.input-popover .top .popover-arrow{
  bottom:-11px;
  left:80%;
}
.input-popover .popover-content {
  padding: 0 10px;
}
.input-popover.top .arrow {
  left: 80%;
  border-top-color: $errorBorder !important;
}
.input-popover.top .arrow:after {
  border-top-color: $errorBackground !important;
}
.input-popover.top .arrow:before {
  display: none;
}

/*
  ##Form Actions
```
    <button type='button' class='btn btn-link btn-cancel'>Cancel</button>
    <button type='button' class='btn'>Reset</button>
    <button type='button' class='btn btn-warning'>Update</button>
    <button type='button' class='btn btn-primary'>Submit</button>
```
*/

.btn-cancel {
  color: $gray !important;
}
.btn-cancel:hover {
  color: darken($gray, 25%) !important;
}
.modal-footer {
  text-align: inherit;
}
/*
  ##Alerts

  See clmAlert directive.

```
  <div class='alert alert-success'>
    A green alert indicates that a successful action took place.
  </div>

  <div class='alert alert-error'>
    A red alert indicates that an error occurred.
  </div>
```
*/
.alert {
  word-break: break-word;
}
/*
  ##Well
```
  <div class='well clm-well'>
    <from class='clm-form'>
      Forms are displayed within a well.
    </form>
  </div>
```
*/
.clm-well {
  border: 2px solid $medium-gray;
  margin-bottom:0px;
}

/*
  #List Editor Form

  See listEditor, clmControlGroup and clmInput directives.

```
  <div class='clm-form well clm-well'>
    <form class='clm-form list-editor-form'>
      <div class='control-group'>
        <label for='current-entry'>Entry</label>
        <div class='controls'>
          <div class='input-append controls'>
            <input placeholder='Enter Entry' type='text'>
            <button class='btn' title='Add Entry'>Add</button>
          </div>
        </div>
      </div>
    </form>
    <div class='well well-small list-editor-well'>
      <div>
        <table>
          <tbody>
            <tr>
              <td>
                <div title='AddedEntry'>AddedEntry</div>
              </td>
              <td>
                <button class='btn btn-mini' title='Remove Entry'>
                  <i class='icon-minus-sign'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class='btn btn-link btn-cancel'>Cancel</button>
    <span class='pull-right'>
      <button class='btn btn-primary'>Done</button>
    </span>
  </div>
```
*/
.list-editor-form {
  margin-bottom: 0px;
}
.list-editor-form input {
  width: 441px !important;
}
.list-editor-well {
  padding: 3px;
  margin-bottom: 20px;
  height: 120px;
  background: #fff;
}
.list-editor-well>div {
  height:100%;
  overflow-y:auto
}
.list-editor-well table {
  margin:auto;
}
.list-editor-well tr {
  border-bottom: 1px solid #DDDDDD;
}
.list-editor-well td {
  padding-bottom: 5px;
  vertical-align: top;
}
.list-editor-well td:nth-child(1) {
  width: 1%;
  max-width: 370px;
  padding-left: 5px;
}
.list-editor-well td:nth-child(1)>div {
  max-width: 100%;
  text-overflow:ellipsis;
  overflow:hidden
}
.list-editor-well td:nth-child(2) {
  width: 99%;
  text-align: right;
}