/*
  #Typography
*/
/*
  ##Fonts
  Font weight should be applied extending the ```.bold```, ```.semi-bold```, and ```.regular``` classes, using the
  appropriate font face rather than forcing the browser to render a weight.

  ```
    <table>
      <tbody>
        <tr>
          <td style='width: 100px'>FONT</td>
          <td>Proxima Nova</td>
        </tr>
        <tr>
          <td>H1</td>
          <td><h1>Bold 26px, Line-Height 28px</h1></td>
        </tr>
        <tr>
          <td>H2</td>
          <td><h2>Bold 20px, Line-Height 24px</td>
        <tr>
        <tr>
          <td>H3</td>
          <td><h3>Bold 18px, Line-Height 21px</td>
        </tr>
        <tr>
          <td>H4</td>
          <td><h4>Semibold All-Caps 14px, Line-Height 16px</td>
        </tr>
        <tr>
          <td>BODY</td>
          <td>Regular 14px, Line-Height 18px</td>
        </tr>
        <tr>
          <td>FORM LABEL</td>
          <td><form style="margin-bottom: 0px;"><label style="margin-bottom: 0px;">Semibold, 16px</td>
        </tr>
      </tbody>
    </table>
  ```
*/
@font-face {
  font-family: Proxima Nova Regular;
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.woff') format('woff'),
  url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-reg-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: Proxima Nova Bold;
  font-weight: bold;
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-bold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: Proxima Nova Semibold;
  font-weight: bold;
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
  url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-sbold-webfont.svg#webfont') format('svg');
}
.bold {
  font-family: Proxima Nova Bold, sans-serif;
}
.semi-bold {
  font-family: Proxima Nova Semibold, sans-serif;
}
.regular {
  font-family: Proxima Nova Regular, sans-serif;
}
h1 {
  @extend .bold;
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 24px;
}
h2 {
  @extend .bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}
h3 {
  @extend .bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 8px;
}
h4 {
  @extend .semi-bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
li {
  line-height: 24px;
}
body {
  @extend .regular;
  font-size: 14px;
  line-height: 18px;
}
form label {
  @extend .semi-bold;
  font-size: 16px;
}
/*
  ##Spacing

  ```
    <h1>Continuous Governance - Reducing risk throughout your software supply chain</h1>
    <p>Leverage the best component-based application development standards across the software lifecycle to reduce risk and speed delivery.</p>
    <p>Determine specific components and their dependencies by name, including any associated security, license and quality risks.</p>
    <h2>Quickly and easily eliminate open source risk in your applications.</h2>
    <p>Catch vulnerabilities at any stage of the SDLC including consumption, development, continuous integration (CI), staging and production.</p>
    <h3>Precisely Identify Components & Risks</h3>
    <p>Patent-pending advanced binary fingerprinting identifies all open source software and proprietary components, as well as their dependencies.</p>
    <h4>Essential Requirements</h4>
    <p>Sonatype has options that will allow you to experience CLM on your own, on your schedule.</p>
    <ul>
      <li>Faster builds</li>
      <li>Better visibility</li>
      <li>Better quality</li>
    </ul>
    <p>Sonatype has options that will allow you to experience CLM on your own, on your schedule.</p>
    <h1>Another Header</h1>
    <div>
      <p>With an embedded paragraph below it. No top margin here as it should bleed into the header bottom margin.</p>
    </div>
  ```
*/
p {
  margin-top: 16px;
}
p + h2, ul + h2 {
  margin-top: 32px;
}
p + h3, p + h4, ul + h3, ul + h4 {
  margin-top: 24px;
}
p + ul {
  margin-top: 20px;
}
ul + p {
  margin-top: 20px;
}
h1 + div > *:first-child, h2 + div > *:first-child, h3 + div > *:first-child, h4 + div > *:first-child {
  margin-top: 0;
}

/*
  #Colors
*/
/*
  ##UI Palette

  <table>
    <thead>
      <tr>
        <th style='width: 200px'>Name</th>
        <th style='width: 150px'>Variable</th>
        <th style='width: 100px'>Hex</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>OFF BLACK</td>
        <td>$off-black</td>
        <td>#070707</td>
        <td style='background-color: #070707'></td>
      </tr>
      <tr>
        <td>SLATE</td>
        <td>$slate</td>
        <td>#575757</td>
        <td style='background-color: #575757'></td>
      </tr>
      <tr>
        <td>OFF WHITE</td>
        <td>$off-white</td>
        <td>#fefefe</td>
        <td style='background-color: #fefefe'></td>
      </tr>
      <tr>
        <td>GREY 4</td>
        <td>$grey-4</td>
        <td>#cacaca</td>
        <td style='background-color: #cacaca'></td>
      </tr>
      <tr>
        <td>GREY 3</td>
        <td>$grey-3</td>
        <td>#dedede</td>
        <td style='background-color: #dedede'></td>
      </tr>
      <tr>
        <td>GREY 2</td>
        <td>$grey-2</td>
        <td>#eaeaea</td>
        <td style='background-color: #eaeaea'></td>
      </tr>
      <tr>
        <td>GREY 1</td>
        <td>$grey-1</td>
        <td>#f5f5f5</td>
        <td style='background-color: #f5f5f5'></td>
      </tr>
      <tr>
        <td>LINK BLUE</td>
        <td>$link-blue</td>
        <td>#2476c3</td>
        <td style='background-color: #2476c3'></td>
      </tr>
      <tr>
        <td>DEEP BLUE</td>
        <td>$deep-blue</td>
        <td>#0046b1</td>
        <td style='background-color: #0046b1'></td>
      </tr>
      <tr>
        <td>DARK BLUE</td>
        <td>$dark-blue</td>
        <td>#006bbf</td>
        <td style='background-color: #006bbf'></td>
      </tr>
      <tr>
        <td>LIGHT BLUE</td>
        <td>$light-blue</td>
        <td>#97cbee</td>
        <td style='background-color: #97cbee'></td>
      </tr>
      <tr>
        <td>DARK PURPLE</td>
        <td>$dark-purple</td>
        <td>#885195</td>
        <td style='background-color: #885195'></td>
      </tr>
      <tr>
        <td>MEDIUM PURPLE</td>
        <td>$medium-purple</td>
        <td>#b087ba</td>
        <td style='background-color: #b087ba'></td>
      </tr>
      <tr>
        <td>LIGHT PURPLE</td>
        <td>$light-purple</td>
        <td>#dbc6df</td>
        <td style='background-color: #dbc6df'></td>
      </tr>
      <tr>
        <td>DARK GREEN</td>
        <td>$dark-green</td>
        <td>#099843</td>
        <td style='background-color: #099843'></td>
      </tr>
      <tr>
        <td>DARK GREEN</td>
        <td>$dark-green</td>
        <td>#099843</td>
        <td style='background-color: #099843'></td>
      </tr>
      <tr>
        <td>DARK GREEN</td>
        <td>$dark-green</td>
        <td>#099843</td>
        <td style='background-color: #099843'></td>
      </tr>
      <tr>
        <td>LIGHT GREEN</td>
        <td>$light-green</td>
        <td>#b6e9ab</td>
        <td style='background-color: #b6e9ab'></td>
      </tr>
      <tr>
        <td>DARK RED</td>
        <td>$dark-reg</td>
        <td>#bc012f</td>
        <td style='background-color: #bc012f'></td>
      </tr>
      <tr>
        <td>LIGHT RED</td>
        <td>$light-red</td>
        <td>#edb1af</td>
        <td style='background-color: #edb1af'></td>
      </tr>
      <tr>
        <td>ORANGE</td>
        <td>$orange</td>
        <td>#f4861d</td>
        <td style='background-color: #f4861d'></td>
      </tr>
      <tr>
        <td>YELLOW</td>
        <td>$yellow</td>
        <td>#f5c648</td>
        <td style='background-color: #f5c648'></td>
      </tr>
      <tr>
        <td>VALID GREEN</td>
        <td>$valid-green</td>
        <td>#84c900</td>
        <td style='background-color: #84c900'></td>
      </tr>
      <tr>
        <td>INVALID RED</td>
        <td>$invalid-red</td>
        <td>#c70000</td>
        <td style='background-color: #c70000'></td>
      </tr>
    </tbody>
  </table>
*/
$off-black: #070707;
$slate: #575757;
$off-white: #fefefe;

$grey-4: #cacaca;
$grey-3: #dedede;
$grey-2: #eaeaea;
$grey-1: #f5f5f5;

$link-blue: #2476c3;
$deep-blue: #0046b1;
$dark-blue: #006bbf;
$light-blue: #97cbee;

$dark-purple: #885195;
$medium-purple: #b087ba;
$light-purple: #dbc6df;

$dark-green: #099843;
$light-green: #b6e9ab;

$dark-red: #bc012f;
$light-red: #edb1af;

$orange: #f4861d;
$yellow: #f5c648;

$valid-green: #84c900;
$invalid-red: #c70000;

/*
  ##Threat Colors
  Threat colors are accessible in an array to iterate over as such ```@each $threatdef in $threat-levels```

  <table>
    <thead>
      <tr>
        <th style='width: 200px'>Name</th>
        <th style='width: 150px'>Variable</th>
        <th style='width: 100px'>Hex</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CRITICAL</td>
        <td>$critical-color</td>
        <td>#DB2852</td>
        <td style='background-color: #DB2852'></td>
      </tr>
      <tr>
        <td>SEVERE</td>
        <td>$severe-color</td>
        <td>#F2862F</td>
        <td style='background-color: #F2862F'></td>
      </tr>
      <tr>
        <td>MODERATE</td>
        <td>$moderate-color</td>
        <td>#F5C649</td>
        <td style='background-color: #F5C649'></td>
      </tr>
      <tr>
        <td>NONE</td>
        <td>$none-color</td>
        <td>#0047b2</td>
        <td style='background-color: #0047b2'></td>
      </tr>
      <tr>
        <td>IGNORE</td>
        <td>$ignore-color</td>
        <td>#0081c2</td>
        <td style='background-color: #0081c2'></td>
      </tr>
      <tr>
        <td>UNSPECIFIED</td>
        <td>$unspecified-color</td>
        <td>#9D9D9D</td>
        <td style='background-color: #9D9D9D'></td>
      </tr>
    </tbody>
  </table>
*/
$critical-color: #DB2852;
$severe-color: #F2862F;
$moderate-color: #F5C649;
$none-color: #0047b2;
$ignore-color: #0081c2;
$unspecified-color: #9D9D9D;

$threat-levels: ("critical", #FFF, $critical-color),
        ("severe", #FFF, $severe-color),
        ("moderate", #444, $moderate-color),
        ("none", #FFF, $none-color);

/*
  #Other
*/
//Global stuff
$main-background-color: white;

//Common borders
$small-gray-border: 1px solid lightgray;
