//Global stuff
$main-background-color: white;

//Common borders
$small-gray-border: 1px solid lightgray;

//Threat colors
$critical-color: #DB2852;
$severe-color: #F2862F;
$moderate-color: #F5C649;
$none-color: #0047b2;
$ignore-color: #0081c2;
$unspecified-color: #9D9D9D;

// name, foreground, background
$threat-levels: ("critical", #FFF, $critical-color),
  ("severe", #FFF, $severe-color),
  ("moderate", #444, $moderate-color),
  ("none", #FFF, $none-color);

//Form stuff
$input-valid-color: #84C900;
$input-invalid-color: #C70000;

$medium-gray: #C1C1C1;


// Policy Summary Colours
$policy-summary-green : #0B9743;
$policy-summary-light-green : #B6E9AB;
$policy-summary-red: #BC0430;
$policy-summary-light-red: #EDB2AF;
$policy-summary-blue: #006BBF;
$policy-summary-light-blue: #96CAEE;
