/*
  ##UI Palette
*/
$off-black: #070707;
$slate: #575757;
$off-white: #fefefe;

$grey-4: #cacaca;
$grey-3: #dedede;
$grey-2: #eaeaea;
$grey-1: #f5f5f5;

$link-blue: #2476c3;
$deep-blue: #0046b1;
$dark-blue: #006bbf;
$light-blue: #97cbee;

$dark-purple: #885195;
$medium-purple: #b087ba;
$light-purple: #dbc6df;

$dark-green: #099843;
$light-green: #b6e9ab;

$dark-red: #bc012f;
$light-red: #edb1af;

$orange: #f4861d;
$yellow: #f5c648;

$valid-green: #84c900;
$invalid-red: #c70000;

//Global stuff
$main-background-color: white;

//Common borders
$small-gray-border: 1px solid lightgray;

//Threat colors
$critical-color: #DB2852;
$severe-color: #F2862F;
$moderate-color: #F5C649;
$none-color: #0047b2;
$ignore-color: #0081c2;
$unspecified-color: #9D9D9D;

// name, foreground, background
$threat-levels: ("critical", #FFF, $critical-color),
  ("severe", #FFF, $severe-color),
  ("moderate", #444, $moderate-color),
  ("none", #FFF, $none-color);

$medium-gray: #C1C1C1;
