.claimComponent {
	padding: 5px; 
}
.claimComponent .validation-error {
	color: #FF0000;
	font-size: 12px;
	vertical-align: middle;
	padding-left: 105px;
}
.claimComponent form {
	margin: 0px;
}
.claimComponent .control-group {
	margin-bottom: 10px;
}
.claimComponent td {
	vertical-align: top;
	width: 50%;
}
#informationPanel .claimComponent .alert {
	margin:auto;
	margin-top:20px;
	padding-top:5px;
	width:50%;
}