<script type='text/ng-template' id='change-password'>
  <div class='modal-header'>
    <button type="button" class="close"  ng-click='$dismiss()' aria-hidden="true">&times;</button>
    <h3>Change Password</h3>
  </div>
  <form name='passwordForm' class='form-horizontal' style='margin-bottom:0px' ng-submit='save()'>
    <div class='modal-body'>
      <div class="control-group">
        <label class="control-label" for='originalPassword'>Current password</label>
        <div class="controls">
          <input type="password" id="originalPassword" name="originalPassword" class="input-large" ng-model='result.originalPassword' required focus-input='true'>
        </div>
      </div>
      <hr/>
      <div class="control-group">
        <label class="control-label" for='newPassword'>New password</label>
        <div class="controls">
          <input type="password" id="newPassword" name="newPassword" class="input-large" ng-model='result.newPassword' required>
        </div>
      </div>
      <div class="control-group" ng-class='{ error : passwordForm.confirmPassword.$error.match }'>
        <label class="control-label" for='confirmPassword'>Confirm new password</label>
        <div class="controls">
          <input type="password" id="confirmPassword" name='confirmPassword' class="input-large" ng-model='result.confirmPassword' required match='{{result.newPassword}}'>
          <span ng-show='passwordForm.confirmPassword.$error.match' class="help-inline">Does not match</span>
        </div>
      </div>
    </div>
    <div class='modal-footer'>
      <span style="margin:0px;padding: 4px 35px 4px 14px;float:left;" ng-class="{'alert alert-error': error }" ng-show="error">{{error}}</span>
      <button type='button' class="btn" ng-click='$dismiss()'>Cancel</button>
      <button type='submit' class="btn btn-primary" ng-disabled='passwordForm.$invalid || submitActive'>Change</button>
    </div>
  </form>
</script>
<div class="first-row navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <span class="title brand">
        <span style="vertical-align:middle;">
          <img src="img/sonatype-24.png" style="float:left;" alt="Logo"/>
          <span>&nbsp;Sonatype CLM</span>
          <span class="navbar-version">{{getServerVersion()}}</span>
        </span>
      </span>
      <div class='dashboard-right pull-right'>
        <ul class='inline dashboard-menus'>
          <li>
            <div class="btn-group pull-right">
              <a class='dropdown-toggle' data-toggle="dropdown" href="#">
                <i class='glyphicons-sonatype medium cogwheel'></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-arrow">
                <li class="disabled"><a tabindex="-1">System Preferences</a></li>
                <li class="divider"></li>
                <li ng-class="{'active': $state.is('management.security.users') }">
                  <a href='index.html#/management/security/users'>Users</a>
                </li>
                <li ng-class="{'active': $state.is('management.security.global') }">
                  <a href='index.html#/management/security/global'>Global Roles</a>
                </li>
                <li ng-class="{'active': $state.is('management.configuration.productlicense') }">
                  <a href='index.html#/management/configuration/productlicense'>Product License</a>
                </li>
                <li ng-class="{'active': $state.is('management.configuration.proprietarypackages') }">
                  <a href='index.html#/management/configuration/proprietarypackages'>Proprietary Packages</a>
                </li>
                <li ng-class="{'active': $state.includes('management.configuration.ldap') }">
                  <a href='index.html#/management/configuration/ldap'>LDAP</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div id="help" class="btn-group pull-right">
              <a class='dropdown-toggle' data-toggle="dropdown" href="#">
                <i class='glyphicons-sonatype medium help'></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-arrow">
                <li class="disabled"><a tabindex="-1">Support Options</a></li>
                <li class="divider"></li>
                <li>
                  <a id="documentation-link" href="http://links.sonatype.com/products/clm/doc" title="Go to Online Help"
                     target="_blank">Online Help</a>
                </li>
                <li>
                  <a id="support-link" href="http://links.sonatype.com/products/clm/support"
                     title="Submit a request to Sonatype support" target="_blank">Request Support</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class='dashboard-responsive'>
        <ul class='inline dashboard-navigation'>
          <li ng-class="{ 'active' : $state.includes('dashboard') }">
            <a href='index.html#/dashboard' tooltip='Dashboard' tooltip-placement='bottom'>
              <span><i class='sonatype-icons medium dashboard'></i></span>
            </a>
          </li>
          <li ng-class="{ 'active' : $state.includes('reports') }">
            <a href='index.html#/reports/violations' tooltip='Reporting' tooltip-placement='bottom'>
              <span><i class='sonatype-icons medium reporting'></i></span>
            </a>
          </li>
          <li ng-class="{ 'active' : $state.includes('management') }">
            <a href='index.html#/management/organization' tooltip='Organizational Design' tooltip-placement='bottom'>
              <span><i class='sonatype-icons medium organizational-design'></i></span>
            </a>
          </li>
          <li>
           <!-- This div is here strictly to support dev and is not intended for client facing content -->
            <div id="functionalTestingSupport" style="color: red;"></div>
          </li>
        </ul>
        <ul class='inline dashboard-user pull-right'>
          <li class='dashboard-add'>
            <div id='global-create' class="btn-group">
              <a class='dropdown-toggle' data-toggle="dropdown" href="#">
                <i class='glyphicons-halflings-sonatype medium plus'></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-arrow">
                <li>
                  <a id='global-create-org' class='sonatype-icons sonatype-icon-menu add-organization' ui-sref='management.organization.view({organizationId: "_new_"})'>New Organization</a>
                </li>
                <li>
                  <a id='global-create-app' class='sonatype-icons sonatype-icon-menu add-application' ui-sref='management.application.view({applicationPublicId: "_new_"})'>New Application</a>
                </li>
                <li ng-if='$state.params.organizationId && $state.params.organizationId != "_new_"'>
                  <a id='global-create-policy' class='sonatype-icons sonatype-icon-menu add-policy' ui-sref='management.organization.view.policies.new({organizationId: $state.params.organizationId})'>New Policy</a>
                </li>
                <li ng-if='$state.params.applicationPublicId && $state.params.applicationPublicId != "_new_"'>
                  <a id='global-create-policy' class='sonatype-icons sonatype-icon-menu add-policy' ui-sref='management.application.view.policies.new({applicationPublicId: $state.params.applicationPublicId})'>New Policy</a>
                </li>
                <li ng-if='$state.params.organizationId && $state.params.organizationId != "_new_"'>
                  <a id='global-create-label' class='sonatype-icons sonatype-icon-menu add-label' ui-sref='management.organization.view.labels.new({organizationId: $state.params.organizationId})'>New Label</a>
                </li>
                <li ng-if='$state.params.applicationPublicId && $state.params.applicationPublicId != "_new_"'>
                  <a id='global-create-label' class='sonatype-icons sonatype-icon-menu add-label' ui-sref='management.application.view.labels.new({applicationPublicId: $state.params.applicationPublicId})'>New Label</a>
                </li>
                <li ng-if='$state.params.organizationId && $state.params.organizationId != "_new_"'>
                  <a id='global-create-ltg' class='sonatype-icons sonatype-icon-menu add-license-threat-group' ui-sref='management.organization.view.licenses.new({organizationId: $state.params.organizationId})'>New License Threat Group</a>
                </li>
                <li ng-if='$state.params.applicationPublicId && $state.params.applicationPublicId != "_new_"'>
                  <a id='global-create-ltg' class='sonatype-icons sonatype-icon-menu add-license-threat-group' ui-sref='management.application.view.licenses.new({applicationPublicId: $state.params.applicationPublicId})'>New License Threat Group</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                <i class='glyphicons-sonatype medium user'></i><span class="user-name">{{ displayName }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-arrow">
                <li ng-controller='ChangePassword' ng-show='canChangePassword()'><a ng-click="change()">Change Password</a></li>
                <li ng-controller='LogoutController'><a ng-click="logout()">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>