.roles > div.accordion-group:nth-child(odd) {
	background-color: #f9f9f9;
}
.roles .collapsed > div {
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.roles .member-list{
  display: block;
  text-indent: -24px;
}
.roles .member-list .tooltip {
  text-indent: 0px;
}
.roles .collapsed .member-list {
  display: inline;
}
.roles .collapsed {
  margin-left: -24px;
}
.roles .expandable > div {
  padding-left: 2px;
  padding-bottom: 5px;
}
.role .role-footer {
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 5px;
}
.roles .inherited {
	color:#909090;
}
.roles .inherited-section {
  padding-top: 5px;
  display: block;
}
.roles {
	width : 867px;
}
.role-header {
	border-bottom:1px solid rgba(0,0,0,.1);
	margin-left:25px;
	margin-bottom:10px;
	margin-right:25px;
}
.role-header h4 {
	padding-left:5px;
	box-sizing:border-box
}
.roles .expandable {
	padding : 5px;
	cursor : pointer;
	min-height: 24px;
}
.role .hover-buttons {
	margin-top : 6px
}
.roles .inherited-icon {
  width: 16px;
  margin-left: -1px;
  padding-right: 5px;
}