.clickable {
  cursor : pointer;
}

/* Table headers */
table.clm-table thead tr th.sortable {
    cursor: pointer;
}
table.clm-table thead tr th:first-child {
	padding-left: 8px;
}
table.clm-table thead tr th {
    border-bottom: 1px solid #c9d0e2;
    border-right: 1px solid #cfd0d2;
    border-top: 1px solid #cfd0d2;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafc), color-stop(25%, #fafafc), to(#cfd0d2));
    background-image: -webkit-linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    background-image: -moz-linear-gradient(top, #fafafc, #fafafc 25%, #cfd0d2);
    background-image: -ms-linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    background-image: -o-linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    background-image: linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fafafc', endColorstr = '#cfd0d2', GradientType = 0);
    white-space: nowrap;
    font-size: 12px;
    text-align: left;
	cursor: default;
    font-weight: bold;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 4px;
}
table.clm-table thead tr th.sorted {
    border-bottom: 1px solid #b5c6e0 !important;
    background-color: #e7eefe;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f9fa), color-stop(25%, #f5f9fa), to(#b5c6e0));
    background-image: -webkit-linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: -moz-linear-gradient(top, #f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: -ms-linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: -o-linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f9fa', endColorstr = '#b5c6e0', GradientType = 0);
}
table.clm-table td {
	vertical-align: middle;
}
input.editor-text {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    background: transparent;
    outline: 0;
    padding: 0;
}

input.editor-checkbox {
    margin: 0;
    height: 100%;
    padding: 0;
    border: 0;
}

input[type="file"] {
	line-height: normal;
	height:auto;
}

.checkbox-edit-cell {
    text-align: center;
}

.halfSize {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.fullWidthPrependedTextBox {
    float: right;
    overflow: auto;
    width: 100%;
}

.emptyIconGlyph {
	width: 14px;
	height: 14px;
	display: inline-block;
}

.no-hover-underline:hover {
	text-decoration: none;
}

.navbar .brand {
    margin-left: 0px;
    white-space: nowrap;
}

.header-centered {
    text-align: center;
}

tr:hover .hover-vis {
    display: inline;
}

tr .hover-vis {
    display: none;
}

.disabled img {
    opacity: 0.4;
    filter: alpha(opacity = 40);
}

a {
	cursor: pointer;
}

.page-content {
    padding-top: 60px;
    width: 100%;
}

.content-container {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.content-container .page-header {
    padding-left: 20px;
}

.selectList, .selectList-large {
    display:inline-block;
    width:49.5%;
    vertical-align:top
}
.selectList > div, .selectList-large > div {
    overflow: auto;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color:white;
}
.selectList > div {
  height: 200px;
}
.selectList-large > div {
  height: 300px;
}
.selectList > div > div, .selectList-large > div > div {
    overflow: auto;
    height: 100%;
}

.selectList > div > div > div, .selectList-large > div > div > div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectList .icon-plus-sign, .selectList .icon-minus-sign, .fullWidthPrependedTextBox .icon-remove,
.selectList-large .icon-plus-sign, .selectList-large .icon-minus-sign {
    cursor: pointer
}
.border-box {
	border:1px solid #e5e5e5;
	border-radius:4px;
	padding:5px
}

.page-title {
	padding-left: 25px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:0px 1px 0px rgba(255,255,255,.6)
}
.btn-bottom {
  vertical-align: bottom;
}

.multi-dropdown button div {
  display: inline-block;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.multi-dropdown .dropdown-menu {
   max-height: 300px;
   overflow-x: hidden;
   overflow-y: auto;
}

.multi-dropdown li.selected {
  background: #2476FC;
  color: white;
  border-top: 1px solid #5C9AFF;
}

.multi-dropdown-item {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.multi-dropdown-item.name {
  display: inline-block;
  margin-top: 3px;
  margin-left: 7px;
}

.multi-dropdown-item.owner {
  font-size: 11px;
  margin-left: 25px;
  color: #444444;
  font-style: italic;
}

.multi-dropdown-item.color {
  max-width: 165px;
  margin-right: 80px;
}

.multi-dropdown-item.no-color {
  max-width: 200px;
  margin-right: 20px;
}

.multi-dropdown .checkbox {
  padding-left: 0px;
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
}

.multi-dropdown .checkbox.has-owner {
  line-height: 16px;
}

.multi-dropdown .checkbox input {
  margin-left: 5px;
  margin-top: 8px;
}

.multi-dropdown .checkbox.has-owner input {
  margin-top: 14px;
}

.multi-dropdown li {
  padding: 0px !important;
  max-width: 250px;
  overflow: hidden;
  border-top: 1px solid #f4f4f4;
}

.multi-dropdown-item-color {
  background-color: #f4f4f4;
  width: 30px;
  height: 24px;
  position: absolute;
  margin-top: 1px;
  right: 2px;
  border: solid 1px #E0E0E0 !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.multi-dropdown .checkbox.has-owner .multi-dropdown-item-color {
  height: 39px;
  width: 39px;
}

/* Dashboard Style */
@media (max-width: 979px) {
  .dashboard-content {
    padding-top: 0px !important;
  }
}

.left-align-h1 {
  margin-left: -2px;
}

.bottom-align-h1 {
  margin-top: -30px;
}

.bottom-align-h1-with-header {
  margin-top: -80px;
  text-align: right;
}

.dashboard-content {
  padding-top: 55px;
  padding-left: 10px !important;
}

.dashboard-content a {
  color: black;
  text-decoration: none;
}

.dashboard-content a:hover, .dashboard-content a:hover i:before {
  color: #2476FC;
}

.dashboard-content .nav-crumb i:before {
  font-size: 14px;
  vertical-align: middle;
  margin-right: 10px;
  line-height: 16px;
}

.dashboard-content .nav-crumb a {
  vertical-align: middle;
  margin-right: 10px;
}

.dashboard-content table {
  font-size : 12px;
}

table.policy-violation-table tr td:nth-child(2) {
  font-weight: bold;
}

table.table-risk thead th:nth-child(1n + 2) {
  text-align : center;
}

table.table-risk tr.stage td:first-child {
  font-weight : bold;
  text-align : right;
}

table.table-risk tbody td:nth-child(1n + 2) {
  font-weight: bold;
  text-align : right;
  padding-right : 15px;
  width : 64px;
}

table.table-risk  tbody tr:first-child td {
  border-top : 2px solid transparent;
}

table.table-risk  tbody tr:first-child  td:nth-child(2) {
  border-top-color : rgb(123,123,123);
}

table.table-risk tbody tr:nth-child(n) td:nth-child(2) {
  background-color : rgba(255, 255, 255, 0.5);
  color : rgb(123,123,123);
}

table.table-risk tbody tr:nth-child(n) td:nth-child(3) {
  background-color : rgba(246, 221, 219, 0.5);
  color : #c01a00;
}

table.table-risk  tbody tr:first-child  td:nth-child(3) {
  border-top-color : #c01a00
}

table.table-risk tbody tr:nth-child(n) td:nth-child(4) {
  background-color : rgba(252, 236, 221, 0.78);
  color : #ed8800;
}

table.table-risk  tbody tr:first-child  td:nth-child(4) {
  border-top-color : #ed8800
}

table.table-risk tbody tr:nth-child(n) td:nth-child(5) {
  background-color : rgba(250, 247, 222, 0.73);
  color : #BEAE00;
}

table.table-risk  tbody tr:first-child  td:nth-child(5) {
  border-top-color : #e2cf02
}

table.table-risk tbody tr:nth-child(n) td:nth-child(6) {
  background-color : rgba(229, 229, 246, 0.71);
  color : #011ca1;
}

table.table-risk  tbody tr:first-child  td:nth-child(6) {
  border-top-color : #011ca1
}

.dashboard-content th {
  border-bottom: 1px solid #ddd;
}
#newest-risk h4 {
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd !important;
}

.dashboard-content .nav.nav-tabs {
  margin:0px;
}

.dashboard-content .nav.nav-tabs .active a {
  border-bottom:1px solid #2476FC;
}

.dashboard-content h4 {
  font-size : 19.5px
}

.dashboard-content .nav.nav-tabs h4 {
  margin:0px;
  padding-top: 8px;
}

.dashboard-content td {
  border-top: 0px;
}

.dashboard-content .table tbody>tr:nth-child(odd) {
  background-color: #E8E8E8;
}

.dashboard-filters tr td:nth-child(2) {
  padding-left: 20px;
}

.dashboard-filters .accordion-inner {
  border: 1px solid #e5e5e5;
  padding: 0;
}

.dashboard-content .filter-edit {
  position: absolute;
  margin-left: -10px;
  z-index: 200;
}

.dashboard-content .filter-edit, .dashboard-content .filter-readonly {
  width: 960px;
}

@media (max-width: 767px) {
  .dashboard-content .filter-edit, .dashboard-content .filter-readonly {
    left: 10px;
    right: 10px;
    margin-left: 0px !important;
    width: auto;
    position: absolute;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .dashboard-content .filter-edit, .dashboard-content .filter-readonly {
    width: 744px;
  }

  .dashboard-tables .span6 {
    width: 724px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .dashboard-content .filter-edit, .dashboard-content .filter-readonly {
    width: 960px;
  }

  .dashboard-charts .span6 {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .dashboard-content .filter-edit, .dashboard-content .filter-readonly {
    width: 1190px;
  }

  /* Extend first table in two column layouts to prevent horizontal scrollbars */
  .dashboard-charts .span6:first-child .scrollable-container {
    margin-right: -20px;
  }
}

@media (min-width: 1656px) {
  .dashboard-content .filter-edit, .dashboard-content .filter-readonly {
    width: 1636px;
  }
}

/* .filter-edit needs a embedded div to prevent the collapse plugin from including the dropdowns in scrollheight */
.dashboard-content .filter-edit>div {
  background-color: #E8E8E8;
  border: 1px solid #C1C1C1;
}

.dashboard-content .filter-edit-body {
  padding: 10px 0px 10px 10px;
}

.dashboard-content .filter-edit-buttons {
   margin-right: 10px;
   margin-bottom: 10px;
   float: right;
}

.dashboard-content .filter-readonly {
  font-size: .75em;
  background-color: #E8E8E8;
  border: solid #C1C1C1 1px;
  box-sizing: border-box;
  margin-left: -10px;
}

.dashboard-content .filter-readonly div {
  padding: 10px;
}

.dashboard-content .up:before, .dashboard-content .down:before {
  line-height: 30px;
  vertical-align: top;
  font-size: 12px;
}

.scrollable-container {
  height: 500px;
  position: relative;
  padding-top: 30px;
}

.scrollable-container-inner {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
}

.scrollable-container-inner table {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 0px;
}

.scrollable-container th {
  padding: 0 5px;
}

.scrollable-container th>div {
  position: absolute;
  top: 0;
  line-height: 30px;
  padding-left: 5px;
  margin-left: -2px;
}

.dashboard-content .application-header {
  min-width: 86px;
}

.dashboard-content .policy-header {
  min-width: 50px;
}

.dashboard-content .component-header {
  min-width: 84px;
}

.dashboard-content th[id$='-threat-header'] {
  min-width: 45px;
}

.dashboard-content th[id$='-time-header'] {
  min-width: 90px;
}

.image-thumbnail {
  height: 24px;
  width: 24px;
  margin-right:5px;
}

/* Component table has hidden alternating rows to display details. Alternate background of every 4th row
  as well to provide a striped look */
.component-application-table tbody>tr:nth-child(4n-1).expandable-row {
  background-color: #f4f4f4 !important;
}

.component-application-table .accordion-column .in {
  border-top: 2px solid #C1C1C1;
  border-bottom: 1px solid #C1C1C1;
}

.component-application-table .expandable-row:hover {
  cursor: pointer;
}

.component-application-table a {
  vertical-align: middle;
}

.component-application-table i:before {
  font-size: 12px;
}

.component-violations-table {
  margin-left: 60px;
}

.component-violations-table .table {
  background: #f4f4f4;
  margin-bottom: 0px;
}

.expandable-header {
  width: 10px;
}

.component-violations-table .threat-column {
  width: 20px;
}

.share-risk-header, .risk-header {
  width: 200px;
}
.component-violations-table .share-risk-column, .component-violations-table .risk-column {
  width: 194px;
  padding: 8px 12px;
}

.accordion-column {
  padding: 0px !important;
}

.clm-bar {
  padding: 0 !important;
  width: 10px;
}

.clm-bar.severe {
  background-color: #F7941E !important;
}

.clm-bar.critical {
  background-color: #DB2852 !important;
}

.clm-bar.moderate {
  background-color: #F5C649 !important;
}

.clm-bar.none {
  background-color: #0047b2 !important;
}

.clm-bar.ignore {
  background-color: #0081c2 !important;
}

.clm-bar.unspecified {
  background-color: #9D9D9D !important;
}

.clm-bar-text-offset {
  text-indent: -8px;
}

.clm-arc.application circle, .clm-arc.violation circle {
  fill: #f4f4f4;
  stroke: #C1C1C1;
}

.clm-arc.application path {
  fill: #BC0430 !important;
}

.clm-arc.violation path {
  fill: #f4f4f4 !important;
  stroke: #BC0430 !important;
}

.popover-content {
  word-break: break-all;
}
