/* the reason the value numbers are wonky is because of the way angular builds the select using ngOptions */
.threat-level-0, .threat-level option[value="10"] {
    border: 1px solid #6185B7;
    background-color: #6E99D0;
    font-weight: bold;
    color: #DDD;
}

.threat-level-1, .threat-level-2, .threat-level-3, .threat-level option[value="7"], .threat-level option[value="8"], .threat-level option[value="9"] {
    border: 1px solid #DDBE18;
    background-color: #FEDF15;
    font-weight: bold;
    color: #555;
}

.threat-level-4, .threat-level-5, .threat-level-6, .threat-level-7, .threat-level option[value="3"], .threat-level option[value="4"], .threat-level option[value="5"], .threat-level option[value="6"] {
    border: 1px solid #C67A22;
    background-color: #F7941D;
    font-weight: bold;
    color: #DDD;
}

.threat-level-8, .threat-level-9, .threat-level-10, .threat-level option[value="0"], .threat-level option[value="1"], .threat-level option[value="2"] {
    border: 1px solid #B71218;
    background-color: #EE1B24;
    font-weight: bold;
    color: #DDD;
}

.no-content {
    padding-top: 100px;
}

input.editor-text {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    background: transparent;
    outline: 0;
    padding: 0;
}

input.editor-checkbox {
    margin: 0;
    height: 100%;
    padding: 0;
    border: 0;
}

.checkbox-edit-cell {
    text-align: center;
}

.halfSize {
    width: 49.5%;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.fullWidthPrependedTextBox {
    float: right;
    width: 100%;
}

.fullWidthPrependedTextBox > input {
    width: 90%;
}

.emptyIconGlyph {
	width: 14px;
	height: 14px;
	display: inline-block;
}

.navbar .brand {
    margin-left: 0px;
    white-space: nowrap;
}

.header-centered {
    text-align: center;
}

div.nopad {
    padding: 0px;
    height: 25px !important;
    border: none;
}

.masked-cell {
    width: 100%;
    height: 25px;
}

tr:hover .hover-vis {
    display: inline;
}

tr .hover-vis {
    display: none;
}

.disabled img {
    opacity: 0.4;
    filter: alpha(opacity = 40);
}

/* Page content */
html, body, .page-content {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: rgb(85, 85, 85);
    background-image: url(../assets/img/margin-bg.png);
}

.brand-header {
    line-height: 32px;
    vertical-align: middle;
}

.navbar .title {
    padding: 6px 0px 6px 5px;
    line-height: 24px;
    vertical-align: middle;
}

.page-content {
    padding-top: 60px;
    width: 100%;
}

.content-container {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.content-container .page-header {
    padding-left: 20px;
}

.selectList {
    display:inline-block;
    width:49.5%;
    vertical-align:top
}
.selectList > div {
    overflow: auto;
    height: 200px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.selectList > div > div {
    overflow: auto;
    height: 100%;
}

.selectList > div > div > div {
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectList .icon-plus-sign, .selectList .icon-minus-sign, .fullWidthPrependedTextBox .icon-remove {
    cursor: pointer
}