/* Table headers */
table.clm-table thead tr th.sortable {
    cursor: pointer;
}
table.clm-table thead tr th:first-child {
	padding-left: 8px;
}
table.clm-table thead tr th {
    border-bottom: 1px solid #c9d0e2;
    border-right: 1px solid #cfd0d2;
    border-top: 1px solid #cfd0d2;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafc), color-stop(25%, #fafafc), to(#cfd0d2));
    background-image: -webkit-linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    background-image: -moz-linear-gradient(top, #fafafc, #fafafc 25%, #cfd0d2);
    background-image: -ms-linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    background-image: -o-linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    background-image: linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fafafc', endColorstr = '#cfd0d2', GradientType = 0);
    white-space: nowrap;
    font-size: 12px;
    text-align: left;
	cursor: default;
    font-weight: bold;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 4px;
}
table.clm-table thead tr th.sorted {
    border-bottom: 1px solid #b5c6e0 !important;
    background-color: #e7eefe;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f9fa), color-stop(25%, #f5f9fa), to(#b5c6e0));
    background-image: -webkit-linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: -moz-linear-gradient(top, #f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: -ms-linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: -o-linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f9fa', endColorstr = '#b5c6e0', GradientType = 0);
}
table.clm-table td {
	vertical-align: middle;
}
input.editor-text {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    background: transparent;
    outline: 0;
    padding: 0;
}

input.editor-checkbox {
    margin: 0;
    height: 100%;
    padding: 0;
    border: 0;
}

input[type="file"] {
	line-height: normal;
	height:auto;
}

.checkbox-edit-cell {
    text-align: center;
}

.halfSize {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.fullWidthPrependedTextBox {
    float: right;
    overflow: auto;
    width: 100%;
}

.emptyIconGlyph {
	width: 14px;
	height: 14px;
	display: inline-block;
}

.no-hover-underline:hover {
	text-decoration: none;
}

.navbar .brand {
    margin-left: 0px;
    white-space: nowrap;
}

.header-centered {
    text-align: center;
}

tr:hover .hover-vis {
    display: inline;
}

tr .hover-vis {
    display: none;
}

.disabled img {
    opacity: 0.4;
    filter: alpha(opacity = 40);
}

a {
	cursor: pointer;
}

.page-content {
    padding-top: 60px;
    width: 100%;
}

.content-container {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.content-container .page-header {
    padding-left: 20px;
}

.selectList, .selectList-large {
    display:inline-block;
    width:49.5%;
    vertical-align:top
}
.selectList > div, .selectList-large > div {
    overflow: auto;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color:white;
}
.selectList > div {
  height: 200px;
}
.selectList-large > div {
  height: 300px;
}
.selectList > div > div, .selectList-large > div > div {
    overflow: auto;
    height: 100%;
}

.selectList > div > div > div, .selectList-large > div > div > div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectList .icon-plus-sign, .selectList .icon-minus-sign, .fullWidthPrependedTextBox .icon-remove,
.selectList-large .icon-plus-sign, .selectList-large .icon-minus-sign {
    cursor: pointer
}
.border-box {
	border:1px solid #e5e5e5;
	border-radius:4px;
	padding:5px
}