/**
 * Basic/Universal Styles Editor
 */

@charset "UTF-8";

@font-face {
  font-family: Proxima Nova Regular;
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.woff') format('woff'),
    url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
    url('../fonts/proximanova-reg-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: Proxima Nova Bold;
  font-weight: bold;
  src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.woff') format('woff'),
    url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
    url('../fonts/proximanova-bold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: Proxima Nova Semibold;
  font-weight: bold;
  src: url('../fonts/proximanova-Sbold-webfont.eot');
  src: url('../fonts/proximanova-Sbold-webfont.woff') format('woff'),
    url('../fonts/proximanova-Sbold-webfont.ttf') format('truetype'),
    url('../fonts/proximanova-Sbold-webfont.svg#webfont') format('svg');
}
body {
  background: url(../img/body_background.gif);
  font-family: Helvetica, Arial, sans-serif;
  color: #36424e;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova Semibold", "Proxima Nova Regular", "Helvetica Neue", Arial, sans-serif;
  text-shadow: 0px 1px 0px white;
}
h1 {
  color: #444;
  font-family: Proxima Nova Semibold;
  font-size: 48px;
} /* ES Header */
h4 {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14.5px;
  margin-bottom: 0;
  color: #36424e;
} /* ES Subheader */
h5 {
  font-family: Proxima Nova Bold;
  font-size: 17px;
  color: #333;
  text-transform: none;
} /* ES Label */
h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-bottom: 0;
  color: #36424e;
  text-transform: uppercase;
} /* ES Sublabel */

body {
  background: #f4f4f4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
a, a:hover, a:active, a:focus {
	color: #2476C3;
	outline: 0;
}
a:focus {
  text-decoration: none;
}
.glyphicons-sonatype:before {
	font: 14px/28px 'Glyphicons';
}
.first-row {
	border-bottom: 1px solid #d8d8d8;
}
.first-row i {
  vertical-align: middle;
}
.first-row img {
	vertical-align: -5px;
	height: 24px;
	width: 24px;
}
.first-row .title {
	padding-top: 6px;
	padding-bottom: 6px;
}
.first-row form {
	float: left;
	margin: 5px 0px 0px;
}
.first-row a {
	color: #777777;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
.first-row a:hover {
	text-decoration: none;
}
.first-row span.brand {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
    padding: 8px 19px 6px 21px;
}
.navbar-inner {
	background-color: #E0E0E0;
	background-image: none;
	min-height: inherit;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E4E4', endColorstr='#E0E0E0');
	border: 0;
}
.navbar-version {
	font-size:10px;
	line-height:10px;
	text-shadow: none;
	font-weight: bold;
}
.navbar .brand {
	padding: 10px 25px 10px 0;
}
.container-fluid {
  padding: 0px;
}
.dashboard-navigation, .dashboard-menus, .dashboard-user {
  display: inline;
  margin-bottom: 0px;
}
.dashboard-navigation > li, .dashboard-menus > li, .dashboard-user > li {
  line-height: 0;
}
.dashboard-navigation > li span, .dashboard-menus > li, .dashboard-user > li {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.dashboard-navigation > li:first-child, .dashboard-menus > li:first-child, .dashboard-user > li:first-child {
  margin-left: 21px !important;
}
.dashboard-navigation > li:last-child, .dashboard-menus > li:last-child, .dashboard-user > li:last-child {
  margin-right: 11px !important;
}
.dashboard-navigation > li {
  padding: 0 !important;
}
.dashboard-navigation > li span, .dashboard-menus > li, .dashboard-add {
  display: inline-block;
  padding-bottom: 8px;
}
.dashboard-right {
  margin-bottom: -8px;
}
.dashboard-navigation li span {
  padding-top: 11px;
}
.dashboard-navigation > li span:hover {
  background-color: #f4f4f4;
}
.dashboard-navigation i:before, .dashboard-menus i:before, .dashboard-user i:before {
  font-size: 24px;
}
.dashboard-navigation span {
  border-bottom: 3px solid transparent;
}
.dashboard-navigation .active span {
  border-bottom: 3px solid #2476FC;
}
.dashboard-navigation .active i:before {
  color: #2476FC;
}
.dashboard-navigation span:hover i:before, .dashboard-user a:hover, .dashboard-user a:hover i:before, .dashboard-menus li:hover i:before {
  color: #2476FC;
}
.dashboard-menus > li {
  padding-top: 6px;
}
.dashboard-menus .btn-group {
  margin: 0px;
}
.dashboard-menus .dropdown-menu > .disabled > a {
  padding-left: 10px;
  font-weight: bold;
}
.dashboard-menus .dropdown-menu .divider {
  margin: 0px 1px 9px;
}
.dashboard-user .dropdown-menu > li > a:hover, .dashboard-menus .dropdown-menu > li > a:hover,
.dropdown-menu.multiselect-container > li:hover {
  color: black;
  background-color: #E0E0E0;
  background-image: none;
}
.dashboard-user .dropdown-menu > .disabled > a:hover, .dashboard-menus .dropdown-menu > .disabled > a:hover {
  color: #999;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.dashboard-user .btn {
  vertical-align: 3px;
  padding: 0px 10px;
}
.dashboard-user .btn-group .dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.dashboard-user .btn .user-name {
  vertical-align: 3px;
  padding: 0px 10px;
  font-weight: bold;
}
.dashboard-user .btn .caret {
  vertical-align: 8px;
}
/*
 * Arrow to the top of a twitter dropdown menu
 */
.dropdown-menu-arrow::before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.dropdown-menu-arrow::after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.btn-group.pull-right > .dropdown-menu-arrow::before {
    left: inherit;
    right: 9px;
}
.btn-group.pull-right > .dropdown-menu-arrow::after {
    left: inherit;
    right: 10px;
}
/*
 * --------------------------------------------------
 */
@media (max-width: 979px) {
  .navigation {
    margin-top: -20px !important;
  }

  .subnavigation {
    top: 51px !important;
  }

  .subnavigation ul:nth-child(3) {
    top: 124px !important;
  }
}

@media (max-width: 840px) {
  .dashboard-responsive {
    clear: both;
  }
}

@media (max-width: 800px) {
  .subnavigation {
    top: 90px !important;
  }

  .subnavigation ul:nth-child(3) {
    top: 163px !important;
  }

  .content {
    top: 90px !important;
  }
}

@media (max-width: 767px) {
  .navigation {
    margin-left: -20px !important;
  }

  .subnavigation {
    margin-left: 101px !important;
  }
}

.marginless-alert .alert {
	margin-bottom: 0px;
}
.navigation, .subnavigation, .content, .add-section, .content-section, .second-row.navbar-fixed-top, .second-row.navbar-fixed-top hr {
	-moz-background-clip: padding; /* for Firefox */
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.navigation {
  margin: 41px 0 auto auto;
	background: #E0E0E0;
	z-index: 1;
	width: 120px;
	position: fixed;
	height: 100%;
	border-right: 1px solid rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.navigation .nav-list {
	margin-top: 2px;
  padding-left: 21px;
}
.navigation .nav-list>li>a {
  margin-left: -21px;
}
.nav-list>li>a {
	font-size: 85%;
	color: #17558E;
  padding: 7px 15px 7px 21px;
	font-weight: 500;
}
.navigation .nav-list>.active>a, .navigation .nav-list>.active>a:hover, .navigation .nav-list>.active>a:focus, .navigation .nav>li>a:hover, .navigation .nav>li>a:focus {
	text-shadow: none;
}
.navigation .nav>.disabled>a:hover, .navigation .nav>.disabled>a:focus, .subnavigation .nav>.disabled>a:hover, .subnavigation .nav>.disabled>a:focus {
	text-decoration: none;
	background-color: transparent;
	cursor: default;
}
.subnavigation {
	background-color: #E8E8E8;
	width: 150px;
	margin-left: 121px;
	position: fixed;
	top: 41px;
	bottom : 0px;
	overflow: hidden;
	border-right: 1px solid rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.subnavigation ul:nth-child(3) {
	overflow:auto;
	position:fixed;
	top:117px;
	bottom:0px;
	width:116px;
}
.subnavigation .nav-list>.active>a, .subnavigation .nav-list>.active>a:hover, .subnavigation .nav-list>.active>a:focus, .subnavigation .nav>li>a:hover, .subnavigation .nav>li>a:focus, .nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
	color: #36424e;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.9);
}
.navigation .nav-list>.active>a, .subnavigation .nav-list>.active>a {
	background-color: transparent;
	color: #17558E;
	border-left: 3px solid #2476FC;
	padding-left: 18px;
}
.subnavigation .nav-list>.active>a:hover, .subnavigation .nav>li>a:hover, .nav-list>.active>a:hover {
	background-color: #f4f4f4;
	color: #2476FC;
}
.subnavigation-expanded {
	width: 100%;
}
.subnavigation .search {
	margin: 5px;
}
.subnavigation .search input {
	width: 100px;
}
.subnavigation a.new-entity-button {
	margin: 5px 5px auto;
	display: block;
	width: 120px;
	font-size: 85%;
	text-align: left;
}

.subnavigation .new-entity-button > i {
	vertical-align: text-bottom;
}
.new-entity-button {
	padding-left: 8px;
}
.content {
	position: absolute;
	top: 41px;
	bottom : 0px;
	right : 0px;
	left : 272px;
	overflow : auto;
}
.content .nav-tabs {
	border-bottom-color: black;
}
.content .nav-tabs>li {
	line-height: 3px;
}
.content .nav-tabs>li>a {
	color: black;
}
.content .nav-tabs>.active:after {
	content: "\f0d8";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	font-size: 2em;
	display: block;
	text-align: center;
	margin-top: -5px;
}
.content .nav-tabs>.active>a {
	border: 0px;
}
.content .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border: 0px;
	background-color: #ffffff;
	cursor: pointer;
}
.content-section .accordion-group:hover, .policy-parent, .policy-parent h4 {
	-moz-background-clip: padding; /* for Firefox */
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.content-section {
	padding-right: 25px;
}
.content-section h3 {
	display: inline-block;
	margin: 0 0 0 5px;
	line-height: 20px;
	font-size: 14.5px;	
}
.content-section h3 span {
	font-weight:normal;
}
.content-section label {
	font-weight: bold;
}
.content-header {
	border-bottom: 1px solid rgba(255, 255, 255, .6);
	margin: 20px 0 10px 25px;
}
.content-header h4 {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.policies, .licenseGroups, .roles, .monitoringContent {
	margin-left: 25px;
}
.policies .accordion-heading .accordion-toggle,
.licenseGroups .accordion-heading .accordion-toggle,
.roles .accordion-heading .accordion-toggle {
	padding: 5px;
}
.accordion-inner {
	border: none;
	padding: 20px 15px;
}
.accordion-heading input {
	margin : 0px;
}
.accordion-heading a {
	color : black;
	text-decoration : none;
}
.accordion-heading > .floatRight {
	padding-top: 5px;
	padding-right : 5px;
}
.policy-top, .licenseGroup-top {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
		-webkit-transition: border .3s linear;
		-moz-transition: border .3s linear;
		transition: border .3s linear;
}
.policy-top.collapsed, .licenseGroup-top.collapsed {
    border-bottom: 1px solid transparent;
}
/* Slight tweak to allow the icon to fit inside its parent container */
.policy-top .icon-tags {
  background-position: -24px -47px;
  height: inherit;
}
.accordion-group {
	border: 1px solid transparent;
}
.accordion-group:hover {
	border: 1px solid rgba(0, 0, 0, .1);
}
.max-height-scrollable {
  max-height: 200px;
  overflow-y: auto;
}
.tabbable {
	clear: both;
}
.editor-header {
	padding-top: 20px;
	padding-left: 25px;
}
.editor-header h2 {
	border: 1px;
}
.editor-image {
	float: left;
	margin-right: 15px;
	text-align: center;
	height: 200px;
}
.editor-image img {
	height: 160px;
	width: 160px;
	margin: 0;
	border: 0;
}
.editor-image:hover .edit-image {
	display: block;
}
.edit-image {
	display: none;
	margin: -26px 0 0;
	font-size: 10px;
}
.edit-image label {
	display: block;
	opacity: 0.8;
	filter: alpha(opacity=80);
	background-color: #17558E;
	color: #ffffff;
	padding: 3px 0;
	font-weight: bold;
	font-size: 10px;
}
.edit-image a:hover {
	text-decoration: none;
}
.editor-image:hover .display-image {
	opacity: 0.5;
	filter: alpha(opacity=50);
	pointer-events: none;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: all .1s linear;
}
.header-name-editor {
	padding-top: 10px;
	margin-bottom: 10px;
}
.header-name-editor span {
	font-size: 36px;
	font-weight: bold;
}
/**
 * Inline Editor
 */
.inline-editor {
        font-weight: bold;
}
.inline-editor.head .editable, .inline-editor.head input {
        font-size: 40px;
}
.inline-editor .editable.editable-click, .inline-editor .editable.editable-click:hover {
        color : #444;
}
.inline-editor .editable.error {
	color: #b94a48;
}
.inline-editor .editable, .inline-editor.head input, .inline-editor .editable-controls input {
        white-space: nowrap;
        background: transparent;
        color: #444;
        margin: 0;
        line-height: normal;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto;
        width: auto;
        text-rendering: optimizelegibility;
        font-weight: bold;
}
.inline-editor .editable-controls input {
        padding: 0;
        border: none;
}
.setappid .inline-editor .editable-controls input {
        -webkit-transition: width .2s linear;
        -moz-transition: width .2s linear;
        transition: width .2s linear;
        width: 150px;
        vertical-align : text-top;
}
.inline-editor.head input {
        width: 500px;
}
.inline-editor.head .editable-error {
        font-size: 14px;
}
.inline-editor.head .errors {
    margin-bottom: 5px;
    margin-top: -8px;
}
.inline-editor .editable-controls input:focus {
        outline: none;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}
.inline-editor.head a.editable-empty, .inline-editor .editable.editable-empty, .inline-editor .editable.editable-empty:hover, .inline-editor .editable.editable-empty:focus {
        font-style: normal;
        color: #909090;
        text-decoration: none;
}
.inline-editor.head .editable-wrap {
        padding-bottom : 2px;
}
.inline-editor .editable {
        border-bottom: 1px solid transparent;
}
.inline-editor .editable-controls.editable-inline {
        vertical-align: text-bottom;
}
.inline-editor .editableform .control-group {
        line-height: normal;
}
.inline-editor .editable:hover, .inline-editor a:hover {
        border-bottom: 1px dashed #909090;
}
.inline-editor input, .inline-editor .editable {
        font-weight: bold;
}
.inline-editor .editable, .inline-editor .open .editable {
        -webkit-appearance: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid transparent;
        background: transparent;
        padding: 0;
        line-height: normal;
        height: auto;
        width: auto;
        outline: none;
        margin: 0;
        vertical-align: text-bottom;
        border-radius: 0;
}
.inline-editor .btn-group {
        font-size: 14px;
}
.inline-editor .btn:hover, .inline-editor .open .btn, .inline-editor .btn-group.open .btn.dropdown-toggle {
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}
.inline-editor .editable.selected {
        color: #333333;
}
.application-save {
        margin-bottom: 5px;
}
/**
 * Details in app/org overview
 */
.appid, .orgname {
	font-weight: bold;
}
/**
 * Report summary grid
 */
.report-summary {
	display: inline-block;
	vertical-align: top;
	width: 170px;
	height: 50px;
	margin-right: 10px;
	font-weight: bold;

	border: 1px solid rgba(0, 0, 0, .1);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 5px;
        background-color: #f9f9f9;
}
.refresh-chiclet > a {
  display: inline-block;
  width: 25px;
  padding: 4px 6px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}
.refresh-chiclet > a > i {
  vertical-align: -2px;
}
/**
 * Triangular tabs used by app/org
 */
ul.tri-pane li:first-child {
	margin-left: 25px;
}
ul.tri-pane:before, ul.tri-pane:after {
	display : table;
	content : "";
	line-height : 0;
	clear: both;
}
ul.tri-pane {
	width : 100%;
	height: 30px;
	margin-left: -12px;
	padding-right: 12px; /* Ensures underline is full width with the above margin */
	list-style-type: none;
	min-width: 500px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,.6);
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,.6);
	box-shadow: 0px 1px 0px rgba(255,255,255,.6);
}
.tri-pane a {
	text-decoration: none;
	padding: 0 12px 8px;
	display: block;
	font-weight: bold;
	font-size: 14.5px;
	color: #36424e;
	text-transform: uppercase;
	line-height: 20px;
	text-shadow: 0px 1px 0px white
}
.tri-pane li {
	list-style-position: outside;
	list-style-type: none;
	list-style-image: none;
	float : left;
	line-height: 3px;
	margin: 0 15px -1px 20px
}
.tri-pane .active {
}
.tri-pane > .active:after {
	content: "";
	color: #C6C6C6;
	-webkit-font-smoothing: antialiased;
	display: block;
	border-bottom: 8px solid #c6c6c6;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 0;
	margin: -5px auto 0;
}
/**
 * Accordion
 */
.accordion-group .hover-buttons {
  opacity: 0.2;
}
.accordion-group .btn-mini {
  border: 1px solid transparent;
}
.accordion-group:hover .hover-buttons {
  opacity: 1.0;
}
.accordion-group:hover .btn-mini {
  border: 1px solid #ccc;
}
.common-expand-toggle {
	display: inline;
	margin: 15px;
}
.common-expand-toggle a {
	float: left;
	margin-right: 5px;
	text-decoration: none;
	opacity: .4;
	filter: alpha(opacity=80);	
}
/**
 * Error blocks
 */
.clm-error {
	margin: 100px auto;
	width : 50%;
}
.error {
	color: #b94a48;
}
.add-section {
	border-top: 1px solid rgba(255,255,255,.6);
	min-height: 30px;
	padding: 10px 25px;
}
.add-section .add-new {
	text-align: left;
	padding: 4px 15px 4px 6px;
	font-size: 85%;
	font-weight: bold;
}
#applicationEditor, #organizationEditor {
	margin: 0 15px;
	height: 200px;
}
.master-modal-backdrop {
	z-index: 2040;
}
.master-modal {
	z-index: 2050;
}
.licenseSelectListItem, .large-select-list-item {
  cursor: pointer;
}
.licenseSelectListItem:hover, .large-select-list-item:hover {
	background-color: #E8E8E8;
}
.large-select-list-header {
  height: 25px;
  padding-left: 7px;
  font-size: 12px;
  font-weight: bold;
  color: #909090;
  border-bottom: 1px solid #d8d8d8;
}
.large-select-list-item {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-bottom: 1px solid #F0F0F0;
}
.large-select-list-item i {
  margin-top: 2px;
  margin-left: 3px;
  margin-right: 3px;
}
.large-select-list-item {
  font-size: 13px;
}
.large-select-list-item-content {
  margin-left: 24px;
}
.large-select-list-item .large-select-list-item-detail,
.large-select-list-item .large-select-list-item-right-detail {
  font-size: 11px;
}
.large-select-list-item .large-select-list-item-right-detail {
  float: right;
  margin-right: 10px;
}
.large-select-query-item {
  padding-top: 2px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
}
.slide {
	-webkit-transition:height .15s linear;
	-moz-transition:height .15s linear;
	-o-transition:height .15s linear;
	transition:height .15s linear;
	height: 0px;
}
.slide.in {
	height: auto;
}
.configuration .control-group {
	margin: 20px 0 10px 25px;
}
.configuration .control-label {
	text-align: left;
}
.configuration .controls>input[type=text], .configuration .controls>input[type=password], .configuration .controls>input[type=number] {
	width: 291px;
}
.configuration .controls>select {
	width: 305px;
}
.truncate-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * styling to embed a scrollable table in a div, and fix the footer outside the scrolling area
 */
.modal-ldap{
  width: 760px;
  margin-left: -380px;
}
.modal-ldap-user-list {
  max-height: 420px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  padding: 2% 0 0 2%;
}
.modal-ldap-user-list table{
  width: 98%;
}

.ldap-loading {
  margin: 20px;
}
.ldap-form{
  margin-bottom: 0px;
  max-width: 510px;
}
.ldap-button-group{
  margin: 20px 0 10px 0px;
}

.collapsed-cell {
	text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 100%;
    margin: 5px;
    margin-left: 4px;
}

.ui-match {
	font-weight: bold;
}

.icon-reset-pw {
	background-image: url("../img/icon_reset_pw.png") !important;
	background-position: 0px 0px;
	background-size: 14px 14px;
}

.modal > form.form-horizontal {
  margin-bottom : 0px
}

.disabled-functionality {
  font-weight: normal !important;
  font-style: italic;
}
