/**
 * Multiselect dropdown styles
 */
.dropdown-menu.multiselect-container > li:hover {
  color: black;
  background-color: #E0E0E0;
  background-image: none;
}


.multi-dropdown button div {
  display: inline-block;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.multi-dropdown .dropdown-menu {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.multi-dropdown li.selected {
  background: #2476FC;
  color: white;
  border-top: 1px solid #5C9AFF;
}

.multi-dropdown-item {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.multi-dropdown-item.name {
  display: inline-block;
  margin-top: 3px;
  margin-left: 7px;
}

.multi-dropdown-item.owner {
  font-size: 11px;
  margin-left: 25px;
  color: #444444;
  font-style: italic;
}

.multi-dropdown-item.color {
  max-width: 165px;
  margin-right: 80px;
}

.multi-dropdown-item.no-color {
  max-width: 200px;
  margin-right: 20px;
}

.multi-dropdown .checkbox {
  padding-left: 0px;
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
}

.multi-dropdown .checkbox.has-owner {
  line-height: 16px;
}

.multi-dropdown .checkbox input {
  margin-left: 5px;
  margin-top: 8px;
}

.multi-dropdown .checkbox.has-owner input {
  margin-top: 14px;
}

.multi-dropdown li {
  padding: 0px !important;
  max-width: 250px;
  overflow: hidden;
  border-top: 1px solid #f4f4f4;
}

.multi-dropdown-item-color {
  background-color: #f4f4f4;
  width: 30px;
  height: 24px;
  position: absolute;
  margin-top: 1px;
  right: 2px;
  border: solid 1px #E0E0E0 !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.multi-dropdown .checkbox.has-owner .multi-dropdown-item-color {
  height: 39px;
  width: 39px;
}
