#report-list-table .stage-column {
  min-width: 141px;
}
#report-list-table #report-list-header-contact {
  min-width : 44px;
}
#report-list-table #report-list-header-org {
  min-width : 87px;
}

#report-list-header-app {
  min-width: 114px
}

#report-list-table {
  font-size: 12px;
}

#report-list-table td {
  vertical-align: middle;
}