/* the reason the value numbers are wonky is because of the way angular builds the select using ngOptions */
.threat-box {
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	height: 18px;
	width: 18px;
	padding: 0px;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	vertical-align: middle;
	margin-right: 2px;
}
[class*="threat-level-"] {
	vertical-align: top;
	font-weight: bold;
	color: #fff;
	line-height: 20px;
	border: 0;
}
.threat-level-dropdown a {
	padding: 5px 8px;
}
.label-drop-down a, .label-drop-down>li>a {
	width: 194px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.threat-level-dropdown a, .label-drop-down a {
	background-image: none;
}
.threat-level-dropdown>.dropdown-menu, .label-drop-down>.dropdown-menu {
	min-width: 120px;
	padding: 0;
}
.threat-level-dropdown .dropdown-menu>li>a, .label-drop-down .dropdown-menu>li>a {
	font-weight: bold;
	color: #FFF;
	padding: 3px 10px;
	border: 1px solid rgba(0,0,0,.2);
	-moz-background-clip: border; /* for Firefox */
	-webkit-background-clip: border-box; /* for Safari */
	background-clip: border-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.threat-level-dropdown .dropdown-menu>li>a:hover, .label-drop-down .dropdown-menu>li>a:hover {
	color: #FFF !important;
}
.threat-level-dropdown a:hover span, .label-drop-down a:hover span {
	border-top-color: #FFF;
}
.threat-level-dropdown>.dropdown-menu li:first-child a, .label-drop-down>.dropdown-menu li:first-child a {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.threat-level-dropdown>.dropdown-menu li:last-child a, .label-drop-down>.dropdown-menu li:last-child a {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.threat-level-0, .threat-level-0:hover, .threat-level-0:focus {
	background-color: #2476C3;
	color: #FFF;
}
.threat-level-1, .threat-level-2, .threat-level-3, .threat-level-2:hover, .threat-level-3:hover, .threat-level-2:focus, .threat-level-3:focus {
	background-color: #F5C649;
	color: #444 !important;
}
.threat-level-4, .threat-level-5, .threat-level-6, .threat-level-7, .threat-level-4:hover, .threat-level-5:hover, .threat-level-6:hover, .threat-level-7:hover, .threat-level-4:focus, .threat-level-5:focus, .threat-level-6:focus, .threat-level-7:focus {
	background-color: #F2862F;
	color: #FFF;
}
.threat-level-8, .threat-level-9, .threat-level-10, .threat-level-8:hover, .threat-level-9:hover, .threat-level-10:hover, .threat-level-8:focus, .threat-level-9:focus, .threat-level-10:focus {
	background-color: #DB2852;
	color: #FFF;
}
.policy .threat-level-1 {
	background-color: #0047B2;
	color: #FFF !important;
}
/* Threat Chiclets */
.threat-chiclet {
	display: inline-block;
	width: 25px;
	padding: 4px 6px;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
}
.policy .threat-chiclet,
.licenseGroups .threat-chiclet {
	padding: 0; /* These show color only, no count */
}
.threat-chiclet-critical {
	color: #FFF;
	background-color: #DB2852 !important;
}
.threat-chiclet-severe {
	color: #FFF;
	background-color: #F7941E !important;
}
.threat-chiclet-moderate {
	color: #444;
	background-color: #F5C649 !important;
}
.threat-chiclet-none {
  color: #FFF;
  background-color: #0047b2 !important;
}
