@media (min-width: 1200px) {
  /* Extend first table in two column layouts to prevent horizontal scrollbars */
  .dashboard-charts .span6:first-child .scrollable-container {
    margin-right: -20px;
  }

  .risk-header, .stage-column, .component-violations-table .risk-column {
    min-width: 70px;
    width: 70px;
  }

  .dashboard-content .application-header {
    min-width: 107px;
  }

  .dashboard-content .policy-header {
    min-width: 68px;
  }

  .dashboard-content .component-header {
    min-width: 101px;
  }

  .dashboard-content #threat-header {
    min-width: 65px;
  }

  .dashboard-content .time-header {
    min-width: 62px;
  }

  .dashboard-content #stage-header-build, .dashboard-content #stage-header-stage-release {
    min-width: 68px;
  }

  .dashboard-content #stage-header-release, .dashboard-content #stage-header-operate {
    min-width: 85px;
  }
}

@media (max-width: 1199px) {
  table.table-risk thead tr th, table.table-risk thead tr th div {
    min-width: 90px !important;
  }

  table.table-risk tbody td:nth-child(1n + 2) {
    width: 90px !important;
  }

  table.table-risk th.total-risk {
    font-size: 12px !important;
    padding: 0 0px;
    min-width: 110px !important;
  }

  table th#affected-apps {
    min-width: 120px !important;
  }

  .risk-header, .stage-column, .component-violations-table .risk-column {
    min-width: 60px;
    width: 60px;
  }

  .stage-column-release, .stage-column-operate {
    min-width: 68px;
    width: 68px;
  }

  .dashboard-charts .span6 {
    width: 940px;
  }

  .table.policy-summary-table .category-header {
    min-width: 85px !important;
  }

  .dashboard-content #stage-header-build {
    min-width: 43px;
  }

  .dashboard-content #stage-header-stage-release {
    min-width: 47px;
  }

  .dashboard-content #stage-header-release, .dashboard-content #stage-header-operate {
    min-width: 57px;
  }

  .percentage-graph-legend-count {
    font-size: 10px !important;
    padding-right: 5px;
  }

  .dashboard-label {
    font-size: 18px !important;
  }

  .dashboard-content .application-header {
    width: 85px;
    min-width: 85px;
  }

  .dashboard-content .policy-header {
    width: 50px;
    min-width: 50px;
  }

  .dashboard-content #threat-header {
    width: 45px;
    min-width: 45px;
  }

  .dashboard-content .time-header {
    width: 32px;
    min-width: 32px;
  }

  .dashboard-content .component-header {
    min-width: 150px;
  }
}

@media (max-width: 800px) {
  .dashboard-content, .mid-content {
    padding-left: 20px;
  }
}

.left-align-h1 {
  margin-left: -2px;
}

.bottom-align-h1 {
  margin-top: -30px;
}

.bottom-align-h1-with-header {
  margin-top: -20px;
  text-align: right;
}

.mid-content, .dashboard-content {
  padding-top: 55px;
}

.dashboard-content {
  margin-left: 80px;
}

.dashboard-content a {
  color: black;
  text-decoration: none;
}

.dashboard-content a:hover, .dashboard-content a:hover i:before {
  color: #2476FC;
}

.dashboard-tables {
  margin-top: 10px;
}

table.policy-violation-table tr td:nth-child(2) {
  font-family: Proxima Nova Bold, sans-serif;
}

table.table-risk thead th:nth-child(1n + 2) {
  text-align: center;
}

table.table-risk tr.stage td:first-child {
  font-family: Proxima Nova Bold, sans-serif;
  text-align: right;
}

table.table-risk tbody td:nth-child(1n + 2) {
  text-align: center;
  width: 115px;
}

table.table-risk tbody tr:first-child td {
  border-top: 1px solid transparent;
}

table.table-risk thead tr th, table.table-risk thead tr th div {
  min-width: 110px;
}

table.table-risk .stage td:first-child {
  background-color: #FCFCFC;
}

table.table-risk .stage td:not(:first-child) {
  background-color: #FFF;
}

table.table-risk td.total-risk, span.total-risk {
  background-color: #444;
  color: #FFF;
  font-size: 14px;
  border-bottom: 1px solid white;
}

table.table-risk tr.stage td {
  border-bottom: 1px solid #ddd;
  border-right: 0px;
  border-left: 0px;
}

table.table-risk .stage td.total-risk, table.table-risk td.total-risk.black-text {
  color: #000;
}

table.table-risk th.total-risk {
  font-size: 1.1em;
}

table.table-risk td.muted-text {
  color: #C6C6C6 !important;
}

table.table-risk td.critical-risk, span.critical-risk {
  background-color: #E6A29F;
  color: #880D10;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

table.table-risk td.severe-risk, span.severe-risk {
  background-color: #E7C2A1;
  color: #64460A;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

table.table-risk td.moderate-risk, span.moderate-risk {
  background-color: #E8D9A1;
  color: #968900;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

table.table-risk td.low-risk, span.low-risk {
  background-color: #B8D7E8;
  color: #233894;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

table th#affected-apps {
  min-width: 149px
}

/* only stripe the first column of the heat-mapped tables, excepting those with the .stage class */
.table-risk tr.striped > td:nth-child(1), .table-risk-component tr:nth-child(odd):not(.stage) > td:nth-child(2) {
  background-color: #E8E8E8;
}

/*
 * Affected Applications background
 */
.table-risk-component tr:nth-child(odd):not(.stage) > td:nth-child(2) {
  background-color: #EDEDED;
}

.table-risk-component tr:nth-child(even):not(.stage) > td:nth-child(2) {
  background-color: #F1F1F1;
}

.sort-column .up:before, .sort-column .down:before {
  line-height: 30px;
  vertical-align: top;
  font-size: 12px;
}

.sort-column .emptyIconGlyph {
  width: 12px;
}

.latest-risk {
  font-family: Proxima Nova Bold, sans-serif;
}

.accordion-column {
  padding: 0px !important;
}

.pathnames-popover {
  max-width: 500px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}

.pathnames-popover-content {
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 0px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  word-break: break-all;
}

.pathnames-popover-arrow {
  left: 0%;
  border-width: 14px 17px 0px 0px;
  border-color: #ffffff transparent transparent transparent !important;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  bottom: -14px;
}

.pathnames-popover-arrow:after {
  bottom: -13px;
  border-width: 15px 18px 0px 0px;
  margin-left: -1px;
  border-top-color: #999 !important;
  border-top-color: rgba(0, 0, 0, 0.25) !important;
}

.clm-bar-text-offset {
  text-indent: -8px;
}

.clm-arc.application circle, .clm-arc.violation circle {
  fill: #f4f4f4;
  stroke: #C1C1C1;
}

.clm-arc.application path {
  fill: #bc012f !important;
}

.clm-arc.violation path {
  fill: #f4f4f4 !important;
  stroke: #bc012f !important;
}

.dashboard-label-wrapper {
  padding: 5px 0px 5px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.dashboard-label {
  line-height: 20px !important;
  font-size: 20px !important;
  padding: 5px;
  /* 4px to match other items we have */
  webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}

.dashboard-loading {
  margin-left: 28px;
}

@-webkit-keyframes visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dashboard-loading {
  opacity: 0;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: visibility;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-fill-mode: forwards;

  animation-timing-function: linear;
  animation-name: visibility;
  animation-delay: 1s;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.wrap-force-break {
  word-spacing: -0.1em;
}

.word-break-all {
  word-break: break-all;
}

.component-match-content {
  padding-top: 5px;
  padding-bottom: 5px;
}

/**
 * Component Details
 */
.image-thumbnail {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

/* Component table has hidden alternating rows to display details. Alternate background of every 4th row
  as well to provide a striped look */
.component-application-table tbody > tr:nth-child(4n-1).expandable-row {
  background-color: #f4f4f4 !important;
}

.component-application-table .accordion-column .in {
  border-top: 2px solid #C1C1C1;
}

.component-application-table a {
  vertical-align: middle;
}

.component-application-table i:before {
  font-size: 12px;
}

.component-application-table tbody {
  border-bottom: 1px solid #ddd;
}

.component-application-table .expandable-row {
  border-top: 1px solid #ddd;
}

.component-violations-table {
  margin-left: 60px;
}

.component-violations-table .table {
  background: #f4f4f4;
  margin-bottom: 0px;
}

.component-violations-table tbody {
  border-bottom: 0px;
}

.component-violations-table td:not(:first-child), .component-violations-table a {
  opacity: .75;
}

.component-violations-table tr {
  border-bottom: 1px solid #ddd;
  background-color: #FCFCFC !important;
}

.expandable-header {
  width: 10px;
}

.component-violations-table .threat-column {
  width: 20px;
  font-family: Proxima Nova Bold, sans-serif;
}

.share-risk-header, .component-violations-table .share-risk-column {
  min-width: 120px;
  width: 120px;
}

.component-violations-table table td, table.component-application-table td {
  vertical-align: middle;
}

.share-risk-column > span {
  vertical-align: middle;
  display: inline-block;
}

/* BEGIN Style for modal heat map help. */
.modal-help {
  width: 700px;
  max-height: 700px;
  margin-left: -350px;
}

div.modal-help-icon {
  display: inline;
  left: 8px;
  position: relative;
}

.heat-map-help {
  margin: 15px;
}

.heat-map-help div {
  vertical-align: top;
}

.heat-map-help > div {
  margin-bottom: 20px;
}

.heat-map-help .left-column {
  width: 275px;
  margin-right: 15px;
  display: inline-block;
}

.heat-map-help .right-column {
  width: 375px;
  display: inline-block;
  margin-top: 35px;
}

.heat-map-help .risk-cell, .heat-map-help .risk-operator, .heat-map-help .stage-cell, .heat-map-help .stage-risk-cell {
  height: 25px;
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
  margin: 1px;
  border-left: 0px none;
  border-bottom: 1px solid white;
}

.heat-map-help .risk-cell, .heat-map-help .risk-operator, .heat-map-help .stage-cell {
  color: black;
}

.heat-map-help .risk-cell, .heat-map-help .risk-operator, .heat-map-help .stage-risk-cell {
  text-align: center;
}

.heat-map-help .risk-cell {
  width: 75px;
}

.heat-map-help .risk-cell.total-risk {
  color: white;
}

.heat-map-help .risk-operator {
  width: 10px;
}

.heat-map-help .stage-cell {
  width: 135px;
}

.heat-map-help .stage-risk-cell {
  width: 35px;
  background: white;
}

.heat-map-help .stage-risk-cell.total-risk {
  color: black;
}

.heat-map-help .stage-row {
  border-bottom: 1px solid #ddd;
}

.heat-map-help .stage-row:nth-child(1) {
  border-top: 1px solid #ddd;
}

.arrow, .heat-map-help .inline-block {
  display: inline-block;
}

.arrow::before {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  font-size: 0px;
  position: relative;
}

.arrow.left {
  width: 250px;
  height: 7px;
  border-bottom: solid 5px #ddd;
  margin-left: 20px;
}

.arrow.left.small {
  width: 128px;
}

.arrow.left::before {
  border-width: 10px 20px 10px 0;
  border-color: transparent #ddd transparent transparent;
  left: -20px;
  top: -5px;
}

.arrow.up {
  width: 20px;
  height: 68px;
  border-left: dotted 5px #ddd;
  margin-top: 50px;
}

.arrow.up::before {
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #ddd transparent;
  top: -30px;
  left: -12px;
}

/* END Style for modal heat map help. */
