<div>
  <div class='marginless-alert' clm-alerts='syncAlerts'></div>
  <div class="root-container">
    <div class="navigation-container">
      <div class="tree-view" ng-controller="OrganizationTreeViewController">
        <div class="tree-view-header">
          Organizations and Applications
        </div>
        <div class="tree-view-filter search input-prepend">
          <span class="add-on">
            <i role="button" class="fa fa-filter"
               ng-class="{ 'fa-filter': !filter, 'fa-times': filter }"
               ng-click="filter = ''"></i>
          </span>
          <input type="text" ng-model="filter" autocomplete="off" placeholder="App or Org Name / ID">
        </div>
        <div class="tree-view-new-organization">
          <button class="btn btn-secondary"
                  ui-sref="management.organization.view({organizationId: '_new_'})">
            <i class="fa fa-plus"></i>
            New Organization
          </button>
        </div>
        <div class="tree-view-organization-group"
             ng-repeat="organization in organizations | orderBy:'name'"
             ng-if="organization.isVisible">
          <a class="tree-view-item"
             ng-class="{ selected : $state.includes('management.organization.view', {organizationId: organization.id}) }"
             ui-sref="management.organization.view.policies({organizationId: organization.id})"
             ng-click="organization.isExpanded = true">
            <span class="twisty"
                  ng-class="{ empty: organization.applications.length == 0,
                            expand: organization.applications.length > 0 && !organization.isExpanded,
                            collapse: organization.applications.length > 0 && organization.isExpanded }"
                  ng-click="$event.preventDefault();
                            $event.stopPropagation();
                            organization.isExpanded = !organization.isExpanded;"></span><!--
         --><i class="fa fa-sitemap tree-view-icon icon-12px inverse"></i><!--
         -->{{organization.name}}
            <div class="tree-view-new-application"
                 ng-class="{ hide : !$state.includes('management.organization.view', {organizationId: organization.id}) }">
              <button class="btn btn-secondary"
                      ng-click="$event.preventDefault();
                              $event.stopPropagation();
                              $state.go('management.application.view', {applicationPublicId: '_new_'});">
                <i class="fa fa-plus"></i>
                New Application
              </button>
            </div>
          </a>
          <a class="tree-view-item"
             ng-repeat="application in organization.applications | orderBy:'name'"
             ng-if="organization.isExpanded && application.isVisible"
             ui-sref="management.application.view.policies({applicationPublicId: application.publicId})"
             ng-class="{ selected : $state.includes('management.application.view', {applicationPublicId: application.publicId}) }">
            <i class="fa fa-terminal tree-view-icon icon-12px inverse"></i><!--
       -->{{application.name}}
          </a>
        </div>
      </div>
    </div>
    <div class="body-container">
      <div ui-view></div>
    </div>
  </div>
</div>
