<div id="category-editor" class="tile-editor-container">
  <div class="tile" load-wrapper="vm.loadError" loading="!vm.dirtyCategory" reload="vm.doLoad()">
    <h2>
      <hexagon class="size-20px outline"></hexagon><!--
      -->{{::vm.dirtyCategory.id ? 'Edit' : 'New'}} Application Category
    </h2>
    <form name="vm.categoryEditor" class="clm-form" role="form"
          ng-submit="vm.categoryEditor.$valid && vm.dirtyCategory.isDirty() && vm.save()" form-mask mask-attach-to-body>
      <div class="section">
        <div class="field">
          <label for="editor-category-name">Application Category Name</label>
          <input id="editor-category-name" type="text" name="category" required
                 ng-model="vm.dirtyCategory.name"
                 ng-maxlength="60"
                 focus-input="true"
                 valid-name-characters
                 is-duplicate is-duplicate-array="vm.siblings" is-duplicate-id-field="id"
                 messages="{duplicate: 'Name is already in use'}"
                 clm-input>
        </div>
        <div class="field">
          <label for="editor-category-description">Short Description</label>
          <textarea id="editor-category-description" name="description" class="wide" rows="2" required
                 ng-model="vm.dirtyCategory.description"
                 ng-maxlength="255"
                 clm-input></textarea>
        </div>
        <div class="field">
          <label for="editor-category-color-picker">Icon Color</label>
          <div id="editor-category-color-picker" ng-model="vm.dirtyCategory.color" color-picker remove-tabindex required/>
          </div>
        </div>
      <div class="editor-footer" submit-wrapper="vm.submitError" retry="vm.save()">
        <button type="submit" class="btn btn-primary"
                submit-validation="vm.categoryEditor.$valid && vm.dirtyCategory.isDirty()"
                submit-type="vm.dirtyCategory.id ? 'update' : 'create'">
          {{vm.dirtyCategory.id ? 'Update' : 'Create'}}
        </button><!--
        --><button id="delete-category-button" class='btn btn-tertiary' type="button"
                   ng-click="vm.deleteCategory()" ng-if="vm.dirtyCategory && !vm.dirtyCategory.$new">
        <i class="fa fa-fw fa-trash"></i>Delete Application Category
        </button>
      </div>
    </form>
  </div>
</div>
