<form class="dashboard-filter-container" ng-submit="vm.applyCurrentFilter()">
  <div class="dashboard-filter-header">
    <div id="manage-filters-dropdown"
         class="iq-dropdown pull-right"
         dropdown
         on-toggle="vm.toggleManageFiltersDropdown(open)">
      <button id="manage-filters-button"
              class="btn btn-default btn-tertiary iq-dropdown-toggle"
              type="button"
              dropdown-toggle>
        Manage <span class="caret"></span>
      </button>
      <manage-filter-menu ng-if="vm.isManageFiltersDropdownOpen"
                          class="dropdown-menu iq-dropdown-menu"
                          active-filter-name="vm.activeFilterName"
                          is-save-filter-disabled="vm.isDirty()"
                          current-filter="vm.selected"
                          on-filter-selected="vm.onFilterSelected(savedFilter)"
                          on-active-filter-deleted="vm.onActiveFilterDeleted()"
                          on-filter-saved="vm.onFilterSaved(filterName)">
      </manage-filter-menu>
    </div>

    <div class="dashboard-filter-header-title">
      Filter
    </div>
    <div class="dashboard-filter-name-container">
      <div class="dashboard-filter-name"
           ng-if="vm.activeFilterName">{{vm.activeFilterName}}<span class="dashboard-filter-dirty-asterisk" ng-if="vm.showDirtyAsterisk">*</span></div>
    </div>
    <div ng-show="vm.loadErrorFilterName" class="iq-alert iq-alert--error">
      <i class="fa fa-warning"></i>Failed to load {{vm.loadErrorFilterName}}
    </div>
  </div>
  <div class="dashboard-filter" ng-class="{'iq-apply-error-present': vm.saveError}">
    <div load-wrapper="vm.loadError" reload="vm.doLoad()" error-message="Unable to load filter data."
         loading="!vm.applications">

      <iq-org-app-picker organizations="vm.organizations"
                         applications="vm.applications"
                         selected-organizations="vm.selected.organizations"
                         selected-applications="vm.selected.applications"
                         on-change="vm.selectOrgsAndApps(selectedOrganizations, selectedApplications)"
                         id="org-app-filters">
      </iq-org-app-picker>

      <dashboard-filter-dimension available="vm.categories"
                                  selected="vm.selected.categories"
                                  long-name="application categories"
                                  short-name="Category"
                                  sort-entities="true"
                                  tooltip-generator="entity.owner ? 'in ' + entity.owner : entity.description"
                                  id="category-filter">
        <hexagon class="size-16px size-fw outline"></hexagon>Application Categories
      </dashboard-filter-dimension>

      <dashboard-filter-dimension available="vm.stages"
                                  selected="vm.selected.stages"
                                  id-field="stageTypeId"
                                  name-field="stageName"
                                  long-name="stages"
                                  short-name="Stage"
                                  id="stage-filter">Stages
      </dashboard-filter-dimension>

      <dashboard-filter-dimension available="vm.policyTypes"
                                  selected="vm.selected.policyTypes"
                                  long-name="policy types"
                                  short-name="Policy Type"
                                  id="policy-type-filter">Policy Types
      </dashboard-filter-dimension>

      <dashboard-filter-dimension available="vm.policyViolationStates"
                                  selected="vm.selected.policyViolationStates"
                                  long-name="violation states"
                                  short-name="Violation State"
                                  id="policy-violation-state-filter">Violation State
      </dashboard-filter-dimension>

      <dashboard-filter-radio-dimension available="vm.ages"
                                        selected-entry="vm.selected.age"
                                        id-field="maxDaysOld"
                                        name="maxOldDays"
                                        id="age-filter"
                                        ng-if="vm.showAgeFilter"
                                        read-only="vm.isAgeFilterReadOnly">Age
      </dashboard-filter-radio-dimension>

      <div class="iq-tree-view iq-tree-view--multi-select" id="threat-level-filter">
        <a class="iq-tree-view__trigger" ng-click="vm.policyThreatLevelState.isExpanded = !vm.policyThreatLevelState.isExpanded">
          <div class="iq-counter iq-counter--active">{{vm.selected.policyThreatLevels[0]}} &ndash;
            {{vm.selected.policyThreatLevels[1]}}
          </div>
          <div class="iq-tree-view__twisty">
            <span class="iq-tree-view__twisty-icon"
                  ng-class="{ expand: !vm.policyThreatLevelState.isExpanded,
                              collapse: vm.policyThreatLevelState.isExpanded }">
            </span>
          </div>
          <div class="iq-tree-view__text">Policy Threat Level</div>
        </a>
        <div class="iq-tree-view__children" ng-if="vm.policyThreatLevelState.isExpanded">
          <div class="policy-threat-level-slider">
            <div slider
                 ng-model="vm.selected.policyThreatLevels"
                 min="0"
                 max="10"
                 range-highlights="vm.policySliderRangeHighlights"
                 hide-labels="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-filter-footer" ng-class="{'iq-apply-error-present': vm.saveError}" submit-wrapper="vm.saveError" retry="vm.applyCurrentFilter()">
    <button id="dashboard-filter-apply"
            class="btn btn-primary"
            type="submit"
            submit-validation submit-dirty="vm.isDirty() || vm.needsAcknowledgement"
            submit-type="update"
            submit-tooltip-target='body'>
      Apply
    </button>
    <button id="dashboard-filter-revert" class="btn btn-tertiary" ng-class="{disabled: !vm.isDirty()}" type="button"
            ng-click="vm.revert()">
      Revert
    </button>
    <button id="dashboard-filter-clear" class="btn btn-tertiary" type="button" ng-click="vm.clear()">Clear</button>
  </div>
</form>
