<div ng-controller="PolicyViolationsController" class='policyViolations'>
	<table class="table table-condensed table-striped cip-policy-table" border="0" cellpadding="0" cellspacing="0">
		<thead>
			<th class="cip-policy-table-header"><div>
					Policy/<i>Action</i>
				</div></th>
			<th class="cip-policy-table-header"><div>Constraint</div></th>
			<th class="cip-policy-table-header"><div>Condition Value</div></th>
			<th class="cip-policy-table-header"><div>Waivers</div></th>
		</thead>
		<tr ng-repeat="policyAlert in processedPolicyAlerts">
			<td align="left" valign="top" style="padding: 0px;" class="cip-policy cip-policy-{{policyAlert.color}}">
				<div>
					<b>{{policyAlert.name}}</b>
				</div>
				<ul style="color: #555555;">
					<li ng-repeat="action in policyAlert.actions"><i>{{action}}</i></li>
				</ul>
			</td>
			<td valign="top" align="left">
				<div ng-repeat="constraint in policyAlert.constraints">
					<div ng-repeat="conditionFact in constraint.conditionFacts">
						<div style="color: #555555;" ng-show="$index == 0">
							<b>{{constraint.constraintName}}</b>
						</div>
						<div ng-show="$index > 0">&nbsp;</div>
					</div>
				</div>
			</td>
			<td>
				<div ng-repeat="constraint in policyAlert.constraints">
					<div ng-repeat="conditionFact in constraint.conditionFacts" style="color: #555555;">{{conditionFact.reason}}</div>
				</div>
			</td>
			<td>
				<button type='none' class='btn btn-primary' ng-click='waiveComponent(policyAlert)'>Waive</button>
			</td>
		</tr>
	</table>
	<div clm-alerts='alerts'></div>
	<div id="componentWaiverModal" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Waive component?</h3>
		</div>
		<div class="modal-body" ng-show="waiverLoading">
			<span>Loading data...</span>
		</div>
		<div class="modal-body" ng-show="!waiverLoading">
			<p>Would you like to waive any future violations of this policy for this component?</p>
			<div ng-show="waiverSelectOwner" style="padding-bottom:5px;">
				<div ng-repeat="waiverTarget in waiverTargets">
					<input type="radio" ng-model="waiverSelectedTarget" name="waiverSelectedTarget" value="{{waiverTarget}}">{{'Wave for ' + waiverTarget.type + ' ' + waiverTarget.name}}
				</div>
			</div>
			<div>
				<textarea ng-model="waiverComment" placeholder="Enter comment..."></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<span class="alert alert-error" ng-show="waiveAssignError" style="padding-right:200px;">{{waiveAssignError}}</span>
			<a href="#" class="btn" ng-click="declineWaiveComponent()" ng-disabled="waiverSaving">No</a>
			<a href="#" class="btn btn-primary" ng-click="acceptWaiveComponent()" ng-disabled="waiverSaving">Yes</a>
		</div>
	</div>
	<div ng-show='policyAlerts.length == 0'>
		<b>No Policy Violations</b>
	</div>
</div>