<div id="role-management" class="nx-page-main">
  <div load-wrapper="error" reload="doLoad()" ng-if="$state.is('roles')">
    <div authorization-wrapper="isAuthorized" class="iq-tile iq-tile--sys-prefs">
      <div class="iq-tile__actions">
        <button class='btn pull-right' ng-click="newRole()" id='create-role' ng-disabled='readOnly'>
          <i class='icon icon-plus'></i> Create Role
        </button>
      </div>
      <div class="iq-tile-header">
        <div class="iq-tile-header__title">
          <h2>Roles</h2>
        </div>
      </div>
      <div class="iq-tile-content iq-tile-content--roles" ng-hide="roles">
        <h5>
          <i class='icon-time'></i> Loading...
        </h5>
      </div>
      <div class="iq-tile-content" ng-show='roles'>
        <div class="iq-list iq-list--clickable">
          <h4 class="iq-list__title">Built-In</h4>
          <ul id='builtin-roles'>
            <li ng-repeat="role in roles | filter:{ builtIn : true }"
                id="{{::role.id}}"
                ui-sref="roles.editor({roleId: role.id})"
                class="iq-list__item">
              <i class="fa fa-chevron-right iq-pull-right"></i>
              <span class="role-name">{{role.name}}</span>
              <p class="iq-list__subtext">{{role.description}}</p>
            </li>
          </ul>
        </div>
        <div class="iq-list iq-list--clickable">
          <h4 class="iq-list__title">Custom</h4>
          <ul id="custom-roles">
            <li class="iq-list__item iq-list__item--empty" ng-if='(roles | filter:{ builtIn : false }).length === 0'>
              No custom roles defined. Click "Create Role" in the upper right to add one.
            </li>
            <li ng-repeat="role in roles | filter:{ builtIn : false }"
                ui-sref="roles.editor({roleId: role.id})"
                class="iq-list__item role-name-list-item">
              <i class="fa fa-chevron-right iq-pull-right"></i>
              <span class="role-name">{{role.name}}</span>
              <p class="iq-list__subtext">{{role.description}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div ui-view></div>
</div>
