.iq-list--role-permissions {
  .iq-list__item {
    border: none;
    padding-bottom: 0;
  }

  .toggle-checkbox {
    display: inline-block;
    width: 200px;
  }
}

.iq-role-description {
  @include regular();

  display: inline-block;
}
