<div authorization-wrapper="isAuthorized">
  <div class="iq-sys-prefs-back-button">
    <iq-back-button state="roles"></iq-back-button>
  </div>
  <div load-wrapper="error" reload="doLoad()" ng-class="{'container' : error}" class="iq-tile iq-tile--sys-prefs">
    <h5 ng-if="!role">
      <i class="icon-time"></i> Loading...
    </h5>
    <div ng-if="role">
      <div class="iq-tile__actions" ng-controller="DeleteRoleController" ng-if="dirtyRole.id">
        <button class="iq-btn" ng-click="deleteRole()" id="delete-role" ng-disabled="readOnly">
          <i class="icon icon-minus-sign"></i> Delete Role
        </button>
      </div>
      <div class="iq-tile-header">
        <div class="iq-tile-header__title">
          <h2 id="role-title">{{::role.name || 'New Role'}}</h2>
        </div>
      </div>
    </div>
    <div class="iq-tile__content">
      <form name="roleEditor" class="iq-form">
        <h2 class="iq-tile__section-header">Role Details</h2>
        <div class="iq-form-group">
          <label class="iq-label" for="roleName">Role Name</label>
          <input id="roleName"
                 class="iq-text-input"
                 name="roleName"
                 type="text"
                 maxlength="60"
                 ng-required="true"
                 ng-disabled="readOnly"
                 is-duplicate
                 is-duplicate-array="roles"
                 is-duplicate-id-field="id"
                 messages="{duplicate: 'Name is already in use'}"
                 clm-input
                 valid-name-characters
                 ng-model="dirtyRole.name"
                 focus-input="role">
        </div>
        <div class="iq-form-group">
          <label class="iq-label" for="roleDescription">Role Description</label>
          <textarea id="roleDescription"
                    class="iq-textarea"
                    name="roleDescription"
                    ng-required="true"
                    maxlength="255"
                    ng-disabled="readOnly"
                    clm-input
                    ng-model="dirtyRole.description"></textarea>
        </div>
        <h2 class="iq-tile__section-header">Permissions</h2>
        <div class="iq-list iq-list--role-permissions" ng-repeat="permissionCategory in dirtyRole.permissionCategories">
          <h3 class="iq-list__title">{{::permissionCategory.displayName}}</h3>
          <ul>
            <li class="iq-list__item" ng-repeat="permission in permissionCategory.permissions" id="{{::permission.id}}">
              <div class="checkbox toggle-checkbox">
                <label>
                  <input type="checkbox"
                         toggle-checkbox
                         data-on="Can"
                         data-off="Cannot"
                         ng-model="permission.allowed"
                         ng-disabled="readOnly">
                  <span>{{::permission.displayName}}</span>
                </label>
              </div>
              <div class="iq-role-description">
                {{::permission.description}}
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="iq-tile-footer">
      <div clm-alerts="editorAlerts"></div>
      <button class="iq-btn iq-btn--primary"
              ng-disabled="!isDirty() || roleEditor.$invalid || submitActive || readOnly"
              ng-click="save()">
        Save
      </button><!--
   --><button class="iq-btn" id="role-details-cancel" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>
