.buttonColumn {
    border-bottom: 1px solid #c9d0e2;
    border-right: 1px solid #cfd0d2;
    border-top: 1px solid #cfd0d2;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafc), color-stop(25%, #fafafc), to(#cfd0d2));
    background-image: -webkit-linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    background-image: -moz-linear-gradient(top, #fafafc, #fafafc 25%, #cfd0d2);
    background-image: -ms-linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    background-image: -o-linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    background-image: linear-gradient(#fafafc, #fafafc 25%, #cfd0d2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fafafc', endColorstr = '#cfd0d2', GradientType = 0);
    white-space: nowrap;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.buttonColumnSorted {
    border-bottom: 1px solid #b5c6e0 !important;
    background-color: #e7eefe;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f9fa), color-stop(25%, #f5f9fa), to(#b5c6e0));
    background-image: -webkit-linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: -moz-linear-gradient(top, #f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: -ms-linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: -o-linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    background-image: linear-gradient(#f5f9fa, #f5f9fa 25%, #b5c6e0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f9fa', endColorstr = '#b5c6e0', GradientType = 0);
    font-size: 12px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.reportTitle {
    padding: 10px;
    font-weight: bold;
}

@-webkit-keyframes rotate { 
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotate-infinite {
    -webkit-animation: rotate 2s linear infinite;
}