.reportTitle {
  padding: 10px;
  font-family: Proxima Nova Bold, sans-serif;
}

#applicationManagement table td {
  vertical-align: middle;
}

.large-select-list-item.active {
  background-color: #0088cc;
  color: white;
}

.large-select-list-item.active:hover {
  background-color: #0088cc;
}

#editor-toolbar {
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}
