<div id="access-editor" class="tile-editor-container">
  <div class="tile" load-wrapper="vm.loadError" loading="!vm.availableRoles" reload="vm.retry()"
       ng-if="!vm.availableRoles || vm.availableRoles.length > 0 || !vm.isNew">
    <h2>
      <i class="fa fa-puzzle-piece size-20px"></i>{{vm.isNew ? 'Add a Role' : vm.role.roleName}}
    </h2>

    <form class="clm-form" novalidate name="vm.rolePicker" ng-if="vm.isNew">
      <div class="section">
        <div class="field" id="access-editor-role"
             ng-class="{'space-for-error': vm.searchError, 'no-group-search': !vm.groupSearchEnabled}">
          <label for="access-role-name" ng-if="true">Role</label><!-- bogus ng-if to fix IE9 combobox rendering -->
          <dropdown-selector id="access-role-name" ng-model="vm.role" options="vm.availableRoles" name="role-name"
                             option-name-param="roleName" clm-input required
                             empty-option-string="-- Select Role --"></dropdown-selector>
        </div>
      </div>
    </form>

    <form id="access-editor-search-form" name="vm.accessEditorSearch" class="clm-form" role="form"
          ng-class="{'prop-down': vm.isNew}" novalidate ng-submit="vm.search()">
      <div class="section">
        <div class="field form-horizontal">
          <label for="access-user-search-input">Search Users</label>
          <div class="sub-label">use &lsquo;*&rsquo; as wildcard (ex. &lsquo;Isa*&rsquo; matches &lsquo;Isaac Asimov&rsquo;)</div>
          <input id="access-user-search-input" type="text" name="search" ng-model="vm.query" ng-maxlength="60"
                 ng-disabled="vm.searchInProgress" clm-input><!--
       --><button id="user-search-button" class="btn" type="submit" submit-validation submit-dirty="vm.query"
                  ng-disabled="vm.searchInProgress" submit-type="search">Search</button><!--
       --><div ng-if="vm.searchError" class="section with-icon warning"><i class="fa fa-warning"></i>Search failed. {{vm.searchError}}</div>
        </div>
      </div>
    </form>

    <form id="access-editor-add-group-form" name="vm.accessEditorAddGroup" class="clm-form" role="form"
          ng-if="!vm.groupSearchEnabled" ng-class="{'prop-down': vm.isNew}" novalidate ng-submit="vm.addGroup();">
      <div class="section">
        <div class="field form-horizontal">
          <label for="access-add-group-input">Associate Group</label>
          <div class="sub-label">requires an exact match of the group name</div>
          <input id="access-add-group-input" type="text" name="add" ng-model="vm.newGroupName" ng-maxlength="60"
                 ng-disabled="vm.searchInProgress" clm-input/><!--
       --><button id="add-group-button" class="btn" type="submit"
                  ng-disabled="vm.searchInProgress || !vm.newGroupName || vm.groupExists(vm.newGroupName)">Add</button>
        </div>
      </div>
    </form>

    <form name="vm.accessEditor" class="clm-form" role="form" novalidate form-mask="vm.accessEditorMask"
          mask-attach-to-body ng-submit="vm.save()">
      <input type="hidden" ng-model="vm.role" required>
      <div class="field">
        <label for="access-associated-users">Associated Users</label>
        <double-column-picker id="access-associated-users" class="wide" list="vm.members" hide-filter="true"
                              left-column-name="Available" right-column-name="Associated"
                              item-name-param="displayName" icon-fn="vm.getIconName(item)" tooltip-fn="vm.getTooltip(item)"
                              form-mask="vm.accessEditorSearchMask" mask-message="Searching"
                              mask-skip-success></double-column-picker>
      </div>
      <div class="editor-footer" submit-wrapper="vm.submitError" retry="vm.retry()">
        <button type="submit" id="save-access-role-button" class="btn btn-primary" submit-validation submit-dirty="vm.isValid()"
                submit-type="vm.isNew ? 'add' : 'update'">
          {{vm.isNew ? 'Add' : 'Update'}}
        </button><!--
        --><button id="remove-role-button" class='btn btn-tertiary' type="button"
                   ng-click="vm.removeRole()" ng-if="!vm.isNew">
        <i class="fa fa-fw fa-trash"></i>Remove Role
      </button>
      </div>
    </form>
  </div>
  <div ng-if="vm.availableRoles && vm.availableRoles.length === 0 && vm.isNew">
    <div class="clm-alert alert alert-error">
      <div>
        <i class="fa fa-warning"></i>No roles available.
      </div>
    </div>
  </div>
</div>
