@import "cipTabPanel/cipTabPanel";
@import "../../../version-graph/buttons";
@import "../../../version-graph/content";
@import '../../../cip/cip.policy.violations/cip-policy-violations';
@import '../../../cip/cip.license.editor/cip-license-editor';
@import '../../../cip/cip.label.editor/cip-label-editor';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone';

// Vulnerabilities tab
@import '../../../cip/cip.vulnerability.editor/cip.vulnerability.editor';
@import '../../../audit-report/lib/slickgrid/slick.grid';
@import '../../../audit-report/slickgrid/slick.grid.custom';

$iq-cip-tab-content-padding-top: 5px;

.iq-modal__cip {
  left: calc(50% - 450px);
  width: 901px;

  .iq-modal-content {
    // adjust padding to resemble CIP
    padding: 0;

    #informationPanel {
      height: 325px;

      .tab-content {
        height: 100%;
        overflow: hidden;
        padding-top: $iq-cip-tab-content-padding-top;
        width: 100%;

        .well .form-horizontal {
          .controls {
            margin-left: 105px;
          }

          .control-label {
            width: 85px;
          }
        }

        #cip-policy-violations {
          .table {
            // avoid scroll bar when possible
            margin-bottom: 0;
          }
        }

        #license-editor {
          #licenseList li.license {
            line-height: 10px;
            vertical-align: bottom;
            padding-bottom: 8px;
          }

          // compensate for discrepancies in Bootstrap in CIP - v2.0.4 vs IQ - v2.3.2
          .table th, .table td {
            line-height: 18px;
          }
          label, .nav-header {
            line-height: 18px;
          }
          .btn {
            line-height: 18px;
            padding: 4px 10px;

            .dropdown-toggle {
              padding: 4px 8px;
            }
          }
          .btn-group {
            display: block;
          }
          select {
            height: 28px;
          }
        }

        #vulnerability-editor-table-wrapper {

          .topBorder {
            border: 10px solid $iq-grey-1;
            margin-left: 5px;
          }

          .selected {
            background-color: $iq-grey-2;
            border-bottom: 1px solid $iq-grey-4;
            border-top: 1px solid $iq-grey-4;
          }
        }
      }
    }

    .iq-alert {
      // there is a style that changes the margins for `iq-modal-content .iq-alert`, which we do not want to
      // apply here, so set it back to what it usually is
      margin: $iq-alert-margin;
    }
  }
}

#cip-occurrences {
  list-style: none;
  margin: 0;
}

cip-audit {
  display: block;

  .iq-scrollable {
    // the table looks better if it goes right up to the bottom of the tab row instead of having the padding
    margin-top: -($iq-cip-tab-content-padding-top);

    max-height: 292px;

    .iq-table--audit-log {
      margin-top: 0;
    }

    .iq-cell {
      line-height: normal;

      &.iq-cell--audit-log {
        white-space: normal;
        word-break: break-word;
      }
    }
  }

  thead .iq-table-row:first-child {
    border-top-style: none;
  }
}

// IE11 Hack for overflow in Audit Log table cell
@media all and (-ms-high-contrast:none) {
  cip-audit {
    .iq-scrollable {
      .iq-cell {
        &.iq-cell--audit-log {
          word-break: break-all;
        }
      }
    }
  }
}

cip-similar, cip-occurrences {
  display: block;

  .iq-scrollable {
    max-height: 281px;
  }
}

cip-similar {
  margin-top: 1px;
}

#claim-component-editor {
  padding: 5px;

  #cip-claim-comment textarea {
    height: 86px;
  }

  .alert {
    margin: auto;
    margin-top: 20px;
    padding-top: 5px;
    width: 50%;
  }

  td {
    vertical-align: top;
  }

  .control-group {
    margin-bottom: 10px;
  }

  .validation-error {
    color: $iq-invalid-color;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 105px;
    max-width: 280px;
  }
}
