@import "../../../version-graph/buttons";
@import "../../../version-graph/content";
@import "../../../version-graph/detail-table";
@import '../../../cip/cip.policy.violations/cip-policy-violations';

.iq-modal__cip {
  left: calc(50% - 460px);
  width: 920px;

  .iq-modal-content {
    // adjust padding to resemble CIP
    padding: 5px 5px 0 5px;

    #informationPanel {
      height: 325px;

      .tab-content {
        padding-top: 5px;
        width: 100%;

        .cip-policy-wrapper {
          .table {
            // avoid scroll bar when possible
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


component-information-panel {
  display: block;
}
