<div id="owner-editor" ng-hide="vm.unsavedModalVisible">
  <div class="iq-modal-header">
    <h2>
      <i class="fa inverse size-20px"
           ng-class="{ 'fa-terminal': vm.ownerType === 'application', 'fa-sitemap': vm.ownerType === 'organization'}">
      </i> {{vm.dirtyOwner.id ? 'Edit' : 'New'}} {{:: vm.getTypeName()}}
    </h2>
  </div>
  <form name="customIconForm" id="custom-icon-form" ng-upload="vm.fileUploadComplete(content)" action="{{::vm.iconUploadUrl}}"
        class="hide">
    <input id="icon-file" type="file" name="file" accept="image/*" file-model="vm.icon.source" required>
    <input name="{{::vm.ownerType}}Id" value="{{vm.dirtyOwner.id}}" type="text"/>
    <input name="hasRobotSource" ng-model="vm.icon.hasRobotSource" type="text"/>
    <input name="hashcode" ng-model="vm.icon.robotHash" type="text"/>
    <input name="{{::vm.csrfTokenName}}" value="{{::vm.csrfTokenValue}}" type="text"/>
  </form>
  <form name="vm.ownerEditor" role="form" ng-submit="vm.save()" class="clm-form" form-mask="vm.ownerEditorMask">
    <div ng-if="vm.iconWarning" class="iq-modal-content">
      <div class="iq-alert">
        <i class="fa fa-warning"></i>The {{::vm.getTypeName()}} {{vm.dirtyOwner.name}} was successfully saved,
        but the icon upload failed. Reason: {{::vm.iconWarning}}
      </div>
    </div>
    <div class="iq-modal-content">
      <div class="section">
        <div class="field">
          <label for="editor-owner-name">{{::vm.getTypeName()}} Name</label>
          <input type="text" ng-model="vm.dirtyOwner.name" name="name" id="editor-owner-name"
                 ng-maxlength="60"
                 ng-required="true"
                 focus-input="true"
                 autofocus
                 has-whitespace-validator
                 ng-trim="false"
                 valid-name-characters
                 is-duplicate is-duplicate-array="vm.siblings" is-duplicate-id-field="id" messages="{duplicate: 'Name is already in use'}"
                 clm-input>
        </div>
        <div ng-if="vm.ownerType === 'application' && !(vm.dirtyOwner.id)" class="field">
          <label for="editor-owner-public-id">Application Id</label>
          <input type="text" name="publicId" id="editor-owner-public-id"
                 ng-maxlength="200"
                 ng-model="vm.dirtyOwner.publicId"
                 ng-required="true"
                 no-spaces="true"
                 has-whitespace-validator
                 ng-trim="false"
                 valid-name-characters
                 is-duplicate is-duplicate-array="vm.siblings" is-duplicate-id-field="id" messages="{duplicate: 'ID is already in use'}"
                 clm-input>
        </div>
      </div>
      <div class="section">
        <div class="field">
          <div class="field-left">
            <label>Icon</label>
            <div>
              <iq-radio id="owner-editor-icon-default" model="vm.icon.type" value=""><!--
             -->Use a default icon
              </iq-radio>
              <iq-radio id="owner-editor-icon-custom" model="vm.icon.type" value="'custom'"><!--
             -->Upload a custom icon
              </iq-radio>
              <iq-radio id="owner-editor-icon-robot" model="vm.icon.type" value="'robot'"><!--
             -->Get a robot
              </iq-radio>
            </div>
          </div>
          <div class="field-right">
            <div ng-show="vm.icon.type === 'custom'" id="custom-icon-selector">
              <div class="sub-section">
                <label for="icon-file" class='btn' firefox-input-click>
                  <i class="fa fa-upload"></i> Upload Icon Image
                </label>
              </div>
              <div ng-if="vm.userIconPreview">
                <img ng-src="{{vm.userIconPreview}}" class="owner-icon-large">
                <img ng-src="{{vm.userIconPreview}}" class="owner-icon">
                <img ng-src="{{vm.userIconPreview}}" class="owner-icon-tiny">
              </div>
            </div>
            <div ng-if="vm.icon.type === 'robot'" id="robot-icon-selector">
              <div class="sub-section">
                <button class="btn" type="button" ng-click="vm.robot(vm.dirtyOwner.name)">
                  <i class="fa fa-refresh"></i> Get Another Robot
                </button>
              </div>
              <div>
                <img ng-src="{{vm.robotUrl()}}" class="owner-icon-large">
                <img ng-src="{{vm.robotUrl()}}" class="owner-icon">
                <img ng-src="{{vm.robotUrl()}}" class="owner-icon-tiny">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="iq-modal-footer" ng-class="{ error : vm.error }">
      <div ng-if="vm.error" class="section with-icon"><i class="fa fa-warning"></i> {{vm.error}}</div>
      <button ng-if="!vm.error" class="btn btn-primary" type="submit" ng-disabled="vm.ownerEditor.$invalid">
        {{vm.dirtyOwner.id ? 'Update' : 'Create'}}
      </button>
      <button ng-if="vm.error" class="btn btn-error" type="submit" ng-disabled="vm.ownerEditor.$invalid">
        <i class="fa fa-refresh"></i>Retry
      </button>
      <button class="btn" type="button" ng-click="$dismiss()">Cancel</button>
    </div>
  </form>
</div>
