<div class="tile-container" fill-vertical>
  <div class="summary-tile-container">
    <div class="tile summary-tile" id='owner-summary' ng-controller="OwnerSummaryController as vm">
      <div load-wrapper="vm.error" loading="!vm.owner" reload="vm.doLoad()">
        <div class="clm-dropdown pull-right" id="action-dropdown">
          <button class="btn btn-default dropdown-toggle btn-tertiary" type="button" id="action-menu" data-toggle="dropdown">
            Actions
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-left">
            <li ng-if="vm.isApp"><a id="select-contact-link" ng-click='vm.selectContact(vm.owner)'><i class="fa fa-user fa-fw"/><span>Select Contact</span></a></li>
            <li><a ng-click='vm.edit()' id="app-org-link"><i class="fa fa-pencil fa-fw"/><span>Edit {{:: vm.getShortTypeName()}} Name / Icon</span></a></li>
            <li><a id="import-policies-link" ng-click='vm.importPolicy()'><i class="fa fa-download fa-fw"/><span>Import Policies</span></a></li>
            <li ng-show="vm.isApp"><a ng-click='vm.moveApplication()' id="app-move-link"><i class="fa fa-arrows fa-fw"/><span>Move {{vm.owner.name}}</span></a></li>
            <li ng-if="::!vm.isRootOrg"><a id="delete-owner-link" ng-click='vm.deleteOwner()'><i class="fa fa-trash fa-fw"/><span>Delete {{vm.owner.name}}</span></a></li>
            <li ng-if="vm.isApp" class="divider"></li>
            <li ng-if="vm.isApp"><a id="eval-binary-link" ng-click="vm.evaluateApp()"><i class="fa fa-upload fa-fw"/><span>Evaluate Binary</span></a></li>
            <li ng-repeat="stage in ::vm.stages">
              <a id="app-report-link" class="link"
                 ng-class="{'disabled': !vm.applicationSummary.policyEvaluations[stage.stageTypeId]}"
                 ng-click="vm.openReport(stage)">
                <i class="fa fa-external-link fa-fw"/><span>View {{::stage.shortName | lowercase}} report</span></a>
            </li>
          </ul>
        </div>
        <h1><span owner-image="vm.owner"></span> {{vm.owner.name}}</h1>
        <div class="sub-header" ng-if="vm.owner.contact"><i class="fa fa-user size-12px"></i>{{vm.owner.contact.displayName}}</div>

        <ul class="nav nav-pills">
          <li class="active"><a data-toggle="pill" id="owner-app-categories-button" data-target="#owner-pill-app-categories" ng-href="">Application Categories</a></li>
          <li><a data-toggle="pill" id="owner-policy-button" data-target="#owner-pill-policy" ng-href="">Policies</a></li>
          <li><a data-toggle="pill" id="owner-comp-labels-button" data-target="#owner-pill-comp-labels" ng-href="">Component Labels</a></li>
          <li><a data-toggle="pill" id="owner-ltgs-button" data-target="#owner-pill-ltgs" ng-href="">License Threat Groups</a></li>
          <li><a data-toggle="pill" id="owner-access-button" data-target="#owner-pill-access" ng-href="">Access</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tile-scroll-container" calc-tile-scroll-height="#owner-summary" scrollspy="#owner-summary">
    <div class="tile" id="owner-pill-app-categories">
      <div ng-controller="ApplicationCategoryTileControllerApp as vm">
        <div ng-if="vm.isApp" load-wrapper="vm.error" loading="!(vm.ownerName && vm.appliedCategories)"
             reload="vm.doLoad()">
          <h2>
            <hexagon class="size-20px outline"></hexagon><!--
            -->Application Categories
          </h2>
          <div class="sub-header">assigned to {{vm.ownerName}}</div>
          <div class="simple-list">
            <h4 class="subsection-header">
              <button class="btn btn-tertiary" ng-class="{disabled: !vm.areAnyCategoriesDefined}"
                      data-tooltip="{{:: vm.areAnyCategoriesDefined ? '' : 'No application categories defined.'}}"
                      data-tooltip-placement="top" data-tooltip-append-to-body="true" ng-click="vm.assignCategories()">
                <i class="fa fa-pencil"></i>Assign App Categories
              </button>
            </h4>
            <div class="empty-list" ng-if="vm.appliedCategories.length <= 0"><!--
            -->No application categories {{vm.areAnyCategoriesDefined ? 'assigned' : 'defined'}}
            </div>
            <ul>
              <li ng-class="category.description ? 'with-subtitle' : 'simple'"
                  ng-repeat="category in vm.appliedCategories">
                <div class="title">
                  <hexagon class="size-16px {{category.color}}"></hexagon><!--
                  -->{{category.name}}
                </div>
                <div class="subtitle" ng-if="category.description">{{category.description}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div ng-controller="ApplicationCategoryTileControllerOrg as vm">
        <div ng-if="vm.isOrg" load-wrapper="vm.error" loading="!(vm.ownerName && vm.appCategoryOwners)"
             reload="vm.doLoad()">
          <h2>
            <hexagon class="size-20px outline"></hexagon><!--
            -->Application Categories
          </h2>
          <div class="sub-header">available to apps in {{vm.ownerName}}</div>
          <div class="simple-list" ng-repeat="owner in vm.appCategoryOwners">
            <h4 class="subsection-header" ng-if="!owner.parent">Local
              <button id="add-category-button" class="btn btn-tertiary" same-owner-edit-sref="create-category">
                <i class="fa fa-plus"></i>Add a Category
              </button>
            </h4>
            <h4 class="subsection-header" ng-if="owner.parent && owner.tags.length > 0">
              Inherited from {{owner.ownerName}}
            </h4>

            <div class="empty-list" ng-if="!owner.parent && owner.tags.length <= 0"><!--
            -->No application categories defined
            </div>
            <ul>
              <li ng-class="{'with-subtitle' : category.description, 'simple' : !category.description, 'clickable' : !owner.parent}"
                  ng-repeat="category in owner.tags"
                  ng-click="vm.editCategory(category.id, owner.parent)">
                <div class="title">
                  <hexagon class="size-16px {{category.color}}"></hexagon><!--
                  -->{{category.name}}
                </div>
                <div class="subtitle" ng-if="category.description">{{category.description}}</div>
                <i class="fa fa-chevron-right" ng-if="!owner.parent"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="tile" id="owner-pill-policy" ng-controller="policy.tile.controller as vm">
      <div load-wrapper="vm.error" loading="!(vm.ownerName && vm.policiesByOwner)"
           reload="vm.doLoad()">
        <h2><i class="fa fa-bank size-20px slate"></i>Policies</h2>
        <div class="sub-header">applying to {{vm.ownerName}}</div>
        <div>
          <div class="simple-list" ng-repeat="ownerPolicyList in vm.policiesByOwner">
            <h4 class="subsection-header" ng-if="!ownerPolicyList.inherited">Local
              <button id="add-policy-button" class="btn btn-tertiary" same-owner-edit-sref="create-policy">
                <i class="fa fa-plus"></i>Add a Policy
              </button>
            </h4>
            <h4 class="subsection-header" ng-if="ownerPolicyList.inherited && ownerPolicyList.policies.length > 0">
              Inherited from {{ownerPolicyList.ownerName}}
            </h4>
  
            <div class="empty-list" ng-if="!ownerPolicyList.inherited && ownerPolicyList.policies.length <= 0">
              No local policies defined
            </div>
            <table sort="-threatLevel" class="greedy-table policy-list" cols="8">
              <thead>
                <tr ng-if="ownerPolicyList.policies.length > 0">
                  <th sort-column="-threatLevel">
                    <span class="header-text">THREAT</span>
                  </th>
                  <th sort-column="name, -threatLevel" class="greedy-column">
                    <span class="header-text">NAME</span>
                  </th>
                  <th sort-column="actions['{{::stage.stageTypeId}}'][0].actionTypeId, -threatLevel"  ng-repeat="stage in vm.actionStages">
                    <span class="header-text">{{::stage.shortName | uppercase}}</span>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tr class="simple clickable" ng-repeat="policy in ownerPolicyList.policies | orderBy:sortVm.sortFields"
                  ng-click="vm.editPolicy(policy.id)">
                <td class="greedy-column" colspan="2"><span class='threat-legend policy-threat-level-{{policy.threatLevel}}'>&nbsp;</span>{{policy.name}}</td>
                <td ng-repeat="stage in vm.actionStages" class="action">
                  <i ng-class="{'fa fa-exclamation-triangle warn' : policy.enforcementAction[stage.stageTypeId] === 'warn',
                    'fa fa-exclamation-circle fail' :policy.enforcementAction[stage.stageTypeId] === 'fail'}"></i><!--
                  --><span>{{policy.enforcementAction[stage.stageTypeId] || 'no action'}}</span>
                </td>
                <td class="chevron-column"><i class="fa fa-chevron-right"></i></td>
              </tr>
            </table>
          </div>
          <div class="simple-list" id="continuous-monitoring">
            <h4 class="subsection-header">
              Continuous monitoring
            </h4>
            <ul>
              <li class="simple clickable" same-owner-edit-sref="monitor-policy">
                <div class="title">
                  {{vm.monitoredStage.stageName}}
                </div>
                <i class="fa fa-chevron-right"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="tile" id="owner-pill-comp-labels" ng-controller="LabelTileController as labelTile">
      <div load-wrapper="labelTile.error" loading="!(labelTile.ownerName && labelTile.applicableLabels)"
           reload="labelTile.doLoad()">
        <h2><i class="fa fa-tag size-20px outline"></i>Component Labels</h2>

        <div class="sub-header">
          available to {{labelTile.ownerName}} policies
        </div>
        <div class="simple-list" ng-repeat="ownerLabelList in labelTile.applicableLabels">
          <h4 class="subsection-header" ng-if="!ownerLabelList.inherited">Local
            <button id="add-label-button" same-owner-edit-sref="create-label" class="btn btn-tertiary">
              <i class="fa fa-plus"></i>Add a Label
            </button>
          </h4>
          <h4 class="subsection-header" ng-if="ownerLabelList.inherited && ownerLabelList.labels.length > 0">
            Inherited from {{ownerLabelList.ownerName}}
          </h4>

          <div class="empty-list" ng-if="!ownerLabelList.inherited && ownerLabelList.labels.length <= 0">
            No local component labels defined
          </div>
          <ul>
            <li ng-class="{'with-subtitle' : label.description, 'simple' : !label.description, 'clickable' : !ownerLabelList.inherited}"
                ng-repeat="label in ownerLabelList.labels"
                ng-click="labelTile.editLabel(label.id, ownerLabelList.inherited)">
              <div class="title">
                <i class="fa fa-tag size-16px {{label.color}}"></i>
                {{label.label}}
              </div>
              <div class="subtitle" ng-if="label.description">{{label.description}}</div>
              <i class="fa fa-chevron-right" ng-if="!ownerLabelList.inherited"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="tile" id="owner-pill-ltgs" ng-controller="LicenseThreatGroupTileController as vm">
      <div load-wrapper="vm.error"
           loading="!(vm.ownerName && vm.applicableLicenseGroups)"
           reload="vm.doLoad()">
        <h2><i class="fa fa-book size-20px slate"></i>License Threat Groups</h2>
        <div class="sub-header">
          available to {{vm.ownerName}} policies
        </div>

        <div id="ltg-summary-hierarchy">
          <div class="simple-list" ng-repeat="ownerLicenseGroupList in vm.applicableLicenseGroups">
            <h4 class="subsection-header" ng-if="!ownerLicenseGroupList.inherited && (ownerLicenseGroupList.licenseThreatGroups.length > 0 || ownerLicenseGroupList.ownerType !== 'application')">Local
              <button id="add-ltg-button" class="btn btn-tertiary" ng-if="ownerLicenseGroupList.ownerType !== 'application'"
                      same-owner-edit-sref="create-license-threat-group">
                <i class="fa fa-plus"></i>Add a Threat Group
              </button>
            </h4>
            <h4 class="subsection-header" ng-if="ownerLicenseGroupList.inherited && ownerLicenseGroupList.licenseThreatGroups.length > 0">
                Inherited from {{ownerLicenseGroupList.ownerName}}
            </h4>
            <div class="empty-list" ng-if="!ownerLicenseGroupList.inherited && ownerLicenseGroupList.licenseThreatGroups.length <= 0 && ownerLicenseGroupList.ownerType !== 'application'">
              No local threat groups defined
            </div>
            <ul>
              <li class="simple" ng-class="{ clickable: !ownerLicenseGroupList.inherited }"
                  ng-repeat="licenseThreatGroup in ownerLicenseGroupList.licenseThreatGroups | orderBy: ['-threatLevel', 'name']"
                  ng-click="vm.editLTG(licenseThreatGroup.id, ownerLicenseGroupList.inherited)">
                <span class='threat-legend threat-level-{{licenseThreatGroup.threatLevel}}'>&nbsp;</span>

                <div class="threat-group-title">
                  {{licenseThreatGroup.name}}
                </div>
                <i ng-if="!ownerLicenseGroupList.inherited" class="fa fa-chevron-right"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <access-tile id="owner-pill-access" pad-to-top></access-tile>
  </div>
</div>
