<div id="owner-pill-innersource-repository"
     class="iq-tile"
     load-wrapper="vm.error"
     loading="vm.loading"
     reload="vm.load()"
     ng-if="vm.isInnerSourceRepositorySupported && (vm.isOrg || vm.isApp)">
  <div class="iq-tile__actions">
    <button id="innersource-repositories-edit" class="iq-btn iq-btn--tertiary" ui-sref="{{vm.editLink}}">
      <span><i class="fa fa-edit"></i> Edit</span>
    </button>
  </div>
  <div class="iq-tile-header">
    <div class="iq-tile-header__title">
      <h2>InnerSource Repositories</h2>
    </div>
    <div class="iq-tile-header__subtitle">
      <span>Configure repositories to identify InnerSource components.</span>
    </div>
  </div>
  <div class="iq-tile-content">
    <div class="iq-list">
      <h4 class="iq-list__title">
        {{vm.innerSourceRepositoriesInheritedFrom ?
              "Inherited from " + vm.innerSourceRepositoriesInheritedFrom : "Local"}}
      </h4>
      <div class="iq-list">
        <ul>
          <li class="iq-list__item" ng-if="vm.innerSourceRepositoriesEnabled" ng-repeat="innerSourceRepository in vm.innerSourceRepositories">
            <span class="test-list-item-title">
              <span class="innersource-repository">
                {{innerSourceRepository.baseUrl}}
                <br/>
                {{innerSourceRepository.format}}
              </span>
            </span>
          </li>
          <li class="iq-list__item iq-list__item--empty" ng-if="vm.innerSourceRepositoriesEnabled && vm.innerSourceRepositories.length === 0">
            <span class="test-list-item-title">
              No InnerSource repository connections are configured
            </span>
          </li>
          <li class="iq-list__item iq-list__item--empty" ng-if="!vm.innerSourceRepositoriesEnabled">
            <span class="test-list-item-title">
              InnerSource repository connections are disabled
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
