<div id="notification-menu" class="iq-dropdown iq-dropdown--notifications">
  <a
    id="notification-dropdown-toggle"
    class="iq-dropdown-toggle iq-dropdown-toggle--main-header"
    data-toggle="dropdown"
    ng-click="vm.clearSelected()"
  >
    <nx-font-awesome-icon icon="vm.faInbox" size="'2x'"></nx-font-awesome-icon>
    <div ng-if="unreadNotificationCount" class="iq-count-circle iq-pull-right" ng-class="{'exclamation': errorText}">
      {{unreadNotificationCount}}
    </div>
  </a>
  <div class="dropdown-menu iq-dropdown-menu iq-dropdown-menu--main-header">
    <h4 class="iq-dropdown-menu__title">Notifications</h4>
    <div class="alert alert-info" ng-if="loading && !errorText">Loading notification content from server...</div>
    <div class="alert alert-danger" ng-if="errorText">{{errorText}}</div>
    <div class="iq-scrollable">
      <div
        ng-if="!errorText && !loading"
        ng-repeat="notification in notifications"
        ng-click="vm.openDetail(notification); $event.stopPropagation();"
        class="iq-dropdown-menu__link--main-header iq-notification"
        ng-class="{'viewed': notification.viewed, 'selected': selectedNotification == notification}"
      >
        <div class="iq-notification__age">{{notification.age ? notification.age : '&nbsp;'}}</div>
        <div class="iq-notification__age-qualifier">{{notification.ageQualifier}}</div>
        <div class="iq-notification__text">{{::notification.summaryText}}</div>
      </div>
    </div>
    <!-- Here we want to call stopPropagation() only if the hostname is not available i.e. something other than a link
      is clicked. In this scenario if stopPropagation() is not called the selected item will close. If a link is
      clicked we want events to bubble up in the event external links have been disabled.
    -->
    <div ng-if="selectedNotification" ng-click="!$event.target.hostname && $event.stopPropagation()">
      <div class="iq-dropdown-submenu">
        <div class="iq-dropdown-submenu__title">{{selectedNotification.summaryText}}</div>
        <div id="detail-html-container" class="iq-dropdown-submenu__container iq-scrollable">
          <div ng-bind-html="selectedNotification.detailHtml"></div>
        </div>
      </div>
    </div>
  </div>
</div>
