.navbar {
	margin-bottom: 0px;
}

.navbar-inner {
	min-height: 50px;
}

.navbar-inner i, .navbar-inner img {
	vertical-align: middle;
}

.navbar-inner .pull-right {
	padding: 10px 20px 10px;
}

.navbar .title {
	padding-top: 6px;
	padding-bottom: 6px;
}

.navbar form {
	float: left;
	margin: 5px 0px 0px;
}

.navbar a {
	color: #777777;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.navbar a:hover {
	text-decoration: none;
	color: black;
}

.navbar-fixed-top.navbar-second-row {
	top: 45px;
}

a.brand {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

a.brand:hover {
	color: black;
}

.btn-black {
	color: #ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
 	background: none black !important;
	border-color: black !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}

.third-row { 
    margin-top: 95px;
}

.third-row div {
	height: 100%;
}

.navigation {
	background: black;
	width: 150px;
    position: fixed;
    height: 100%;
}

.subnavigation {
	margin-left: 150px;
	background: lightgrey;
}

.subnavigation-collapsed {
	float: left;
}

.content {
	left: 150px;
}