<div class="scrollable-root-container" authorization-wrapper="vm.isAuthorized" maximize-container-height>
  <div id="system-notice-configuration" class="iq-tile iq-tile--sys-prefs">
    <div class="iq-tile-header iq-tile-header--hrule">
      <div class="iq-tile-header__title">
        <h2>System Notice</h2>
      </div>
    </div>
    <div class="iq-tile-content">
      <form name="system-notice-editor" class="clm-form">
        <div id="system-notice-text-control-group" clm-control-group for="system-notice-text">
          <label for="system-notice-text">Notice Text</label>
          <textarea clm-input
                    id="system-notice-text"
                    name="system-notice-text"
                    class="wide"
                    maxlength="500"
                    rows="10"
                    ng-required="false"
                    ng-model="vm.systemNotice.message"
                    ng-disabled="vm.hasError()"></textarea>
        </div>
        <div id="system-notice-display-control-group" clm-control-group for="system-notice-display">
          <label for="system-notice-display">Notice Display</label>
          <input id="system-notice-display"
                 type="checkbox"
                 toggle-checkbox
                 data-on="Enabled"
                 data-off="Disabled"
                 ng-model="vm.systemNotice.enabled"
                 ng-disabled="vm.hasError()">
        </div>
        <div class="iq-tile-footer">
          <button id="system-notice-update"
                  class="btn btn-primary"
                  submit-validation
                  submit-dirty="vm.isChanged()"
                  submit-type="'update'"
                  ng-disabled="vm.hasError()"
                  ng-click="vm.save()">
            Update
          </button>
          <button id="system-notice-cancel"
                  class="btn btn-secondary"
                  ng-disabled="vm.hasError() || !vm.isChanged()"
                  ng-click="vm.cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
