<div id="change-application-id-modal" ng-hide="vm.unsavedModalVisible">
  <div class="iq-modal-header">
    <h2>
      <i class="fa fa-random size-20px"></i>Change Application ID
    </h2>
  </div>
  <form name="vm.applicationIdEditor"
        role="form"
        ng-submit="vm.changeApplicationId()"
        form-mask="vm.applicationIdEditorMask">
    <div class="iq-modal-content">
      <div class="iq-alert">
        <i class="fa fa-warning size-18px"></i>Changing the Application ID will break existing integration points.
        They will have to be re-configured.
      </div>
    </div>
    <div class="iq-modal-content">
      <div class="iq-form-group">
        <label class="iq-label">Current Application ID</label>
        <span id="editor-current-id">{{vm.originalApp.publicId}}</span>
      </div>

      <div class="iq-form-group">
        <label class="iq-label" for="editor-new-id">New Application ID</label>
        <input type="text"
               name="publicId"
               id="editor-new-id"
               class="iq-text-input"
               ng-maxlength="200"
               ng-model="vm.dirtyApp.publicId"
               ng-required="true"
               no-spaces="true"
               has-whitespace-validator
               valid-name-characters
               is-duplicate
               is-duplicate-array="vm.siblings"
               is-duplicate-id-field="id"
               messages="vm.formMessages"
               clm-input>
      </div>
    </div>
    <div class="iq-modal-footer" ng-class="{error : vm.error}">
      <div ng-if="vm.error" class="iq-alert iq-alert--error"><i class="fa fa-warning"></i> {{vm.error}}</div>
      <button ng-if="!vm.error"
              class="iq-btn iq-btn--primary"
              type="submit"
              ng-disabled="vm.applicationIdEditor.$invalid || !vm.isDirty()">
        Change
      </button>
      <button ng-if="vm.error" class="iq-btn iq-btn--error" type="submit" ng-disabled="vm.applicationIdEditor.$invalid">
        <i class="fa fa-refresh"></i>Retry
      </button>
      <button class="iq-btn" type="button" ng-click="$dismiss()">Cancel</button>
    </div>
  </form>
</div>
