/*
  Owner Summary View
 */

.iq-tile-scroll-container--owner-summary-view {
  .iq-tile {
    margin: 0 0 8px 0;
  }

  .iq-tile__actions {
    margin-top: 0;
  }
}

.iq-owner-contact-icon {
  margin-right: 8px;
}
