<div id="owner-summary" ng-controller="OwnerSummaryController as vm">
  <div load-wrapper="vm.loadError" loading="vm.loading" reload="vm.doLoad()">
    <div class="nx-page-title iq-page-title">
      <div class="nx-btn-bar">
        <div class="iq-dropdown dropdown iq-pull-right" id="action-dropdown">
          <button class="iq-btn dropdown-toggle iq-btn--tertiary"
                  type="button"
                  id="action-menu"
                  data-toggle="dropdown">
            Actions
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu iq-dropdown-menu iq-dropdown-menu--actions">
            <div class="iq-dropdown-menu__actions">
              <a ng-if="vm.isApp"
                 id="copy-app-id-link"
                 ng-click="vm.copyToClipboard()"
                 class="iq-btn iq-btn--dropdown">
                <i class="fa fa-clipboard fa-fw"></i>App ID to Clipboard
              </a>
              <a ng-if="vm.isOrg || vm.isRootOrg"
                 id="copy-org-id-link"
                 ng-click="vm.copyToClipboard()"
                 class="iq-btn iq-btn--dropdown">
                <i class="fa fa-clipboard fa-fw"></i>Org ID to Clipboard
              </a>
              <a ng-if="vm.isApp"
                 id="select-contact-link"
                 ng-click="vm.selectContact(vm.owner)"
                 class="iq-btn iq-btn--dropdown">
                <i class="fa fa-user fa-fw"></i>Select Contact
              </a>
              <a ng-click="vm.edit()" id="app-org-link" class="iq-btn iq-btn--dropdown">
                <i class="fa fa-pencil fa-fw"></i>Edit {{:: vm.getShortTypeName()}} Name / Icon
              </a>
              <a ng-if="vm.isApp"
                 ng-click="vm.changeApplicationId()"
                 id="change-app-id-link"
                 class="iq-btn iq-btn--dropdown"
                 tooltip="{{vm.hasPermissionToChangeAppId ? undefined : 'Insufficient permissions to change App ID'}}"
                 ng-class="{'disabled': !vm.hasPermissionToChangeAppId}">
                <i class="fa fa-random fa-fw"></i>Change App ID
              </a>
              <a ng-if="!vm.isApp"
                 id="import-policies-link"
                 ng-click="vm.importPolicy()"
                 class="iq-btn iq-btn--dropdown">
                <i class="fa fa-download fa-fw"></i>Import Policies
              </a>
              <a ng-if="vm.isApp" ng-click="vm.moveApplication()" id="app-move-link" class="iq-btn iq-btn--dropdown">
                <i class="fa fa-arrows fa-fw"></i>Move {{vm.owner.name}}
              </a>
              <a ng-if="::!vm.isRootOrg"
                 id="delete-owner-link"
                 ng-click="vm.deleteOwner()"
                 class="iq-btn iq-btn--dropdown">
                <i class="fa fa-trash"></i>Delete {{vm.owner.name}}
              </a>
              <div ng-if="vm.isApp" class="divider"></div>
              <a ng-if="vm.isApp"
                 id="policy-violation-grandfather-link"
                 ng-click="vm.grandfather()"
                 tooltip="{{vm.getDisabledGrandfatherTooltipMessage()}}"
                 ng-class="{'disabled': !vm.isGrandfatheringEnabled || !vm.isGrandfatheringSupported}"
                 class="iq-btn iq-btn--dropdown">
                <i class="fa fa-gavel"></i>Grandfather {{vm.owner.name}}
              </a>
              <a ng-if="vm.isApp"
                 id="revoke-policy-violation-grandfathering-link"
                 ng-click="vm.revokeGrandfathering()"
                 tooltip="{{vm.isGrandfatheringSupported ? undefined : 'Policy Violation Grandfathering is not supported by your license'}}"
                 ng-class="{'disabled': !vm.isGrandfatheringSupported}"
                 class="iq-btn iq-btn--dropdown">
                <i class="fa fa-history"></i>Revoke All Grandfathered
              </a>
              <div ng-if="vm.isApp" class="divider"></div>
              <a ng-if="vm.isApp"
                 id="eval-file-link"
                 ng-click="vm.evaluateApp()"
                 class="iq-btn iq-btn--dropdown"
                 tooltip="{{vm.getDisabledEvaluateTooltipMessage()}}"
                 ng-class="{'disabled': !vm.hasPermissionToEvaluateApp || !vm.isEvaluateApplicationAvailable}">
                <i class="fa fa-upload fa-fw"></i>Evaluate a File
              </a>
              <div ng-if="vm.isApp" ng-repeat="stage in vm.stages track by stage.stageTypeId">
                <a class="link iq-dropdown-menu__link tm-stage-{{::stage.stageTypeId}} tm-app-report-link"
                   id="app-report-link"
                   ng-class="{'disabled': !vm.applicationSummary.policyEvaluations[stage.stageTypeId]}"
                   ng-click="vm.openReport(stage)">
                   <i class="fa fa-external-link fa-fw"></i>View {{::stage.shortName | lowercase}} report
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="nx-h1">
        <span owner-image="vm.owner" class="nx-icon"></span><span>{{vm.owner.name}}</span>
        <span class="iq-owner-public-id" ng-if="vm.isApp">({{vm.owner.publicId}})</span>
      </h1>
      <div class="nx-page-title__description" ng-if="vm.owner.contact">
        <i class="fa fa-user size-12px iq-owner-contact-icon"></i>{{vm.owner.contact.displayName}}
      </div>
    </div>
    <div class="page-repository-url nx-truncate-ellipsis" ng-if="vm.isApp && vm.repositoryUrl">
      <i class="fa fa-{{vm.scmProviderIcon}} size-24px"></i><a href="{{vm.repositoryUrl}}" target="_blank">{{vm.repositoryUrl}}</a>
    </div>
    <owner-summary-pills></owner-summary-pills>
  </div>
</div>
<div
  class="iq-tile-scroll-container iq-tile-scroll-container--owner-summary-view nx-viewport-sized__scrollable"
    id="owner-summary-sections">
  <div ng-controller="OwnerSummaryTilesContainerController as vm">
    <div ng-if="!vm.loading">
      <application-categories-tile></application-categories-tile>
      <policies-tile></policies-tile>
      <policy-grandfathering-tile></policy-grandfathering-tile>
      <continuous-monitoring-summary-tile></continuous-monitoring-summary-tile>
      <proprietary-component-configuration-tile></proprietary-component-configuration-tile>
      <labels-tile></labels-tile>
      <license-threat-group-summary-tile></license-threat-group-summary-tile>
      <retention-tile></retention-tile>
      <source-control-tile></source-control-tile>
      <inner-source-repository-tile></inner-source-repository-tile>
      <artifactory-repository-tile></artifactory-repository-tile>
      <access-tile id="owner-pill-access" pad-to-top></access-tile>
      <delete-owner-modal></delete-owner-modal>
      <grandfathering-modal></grandfathering-modal>
      <change-application-id-modal></change-application-id-modal>
      <revoke-grandfathering-modal></revoke-grandfathering-modal>
      <import-policies-modal></import-policies-modal>
      <move-application-modal></move-application-modal>
      <owner-modal></owner-modal>
      <evaluate-application-modal></evaluate-application-modal>
    </div>
  </div>
</div>
