/*
  Owner Summary View
 */

.nx-page-title__page-icon {
  img {
    height: 26px;
  }
}

.iq-owner-contact-icon {
  margin-right: 8px;
}

.iq-owner-public-id {
  @include regular();

  font-weight: normal;
}

.iq-dropdown-menu--actions {
  left: -108px;
}

.iq-tile-scroll-container--owner-summary-view {
  width: calc(100% - #{$iq-spacing-sm});
}
