<div id="owner-summary" ng-controller="OwnerSummaryController as vm">
  <insufficient-permission-owner-hierarchy-tree
    ng-if="vm.isSyntheticOrg()"
  ></insufficient-permission-owner-hierarchy-tree>
  <div ng-if="!vm.isSyntheticOrg()" load-wrapper="vm.loadError" loading="vm.loading" reload="vm.doLoad()">
    <div class="nx-page-title iq-page-title">
      <div class="nx-btn-bar">
        <action-dropdown></action-dropdown>
      </div>
      <h1 class="nx-h1">
        <span owner-image="vm.owner" class="nx-icon"></span><span>{{vm.owner.name}}</span>
        <span class="iq-owner-public-id" ng-if="vm.isApp">({{vm.owner.publicId}})</span>
      </h1>
      <div class="nx-page-title__description" ng-if="vm.owner.contact">
        <i class="fa fa-user size-12px iq-owner-contact-icon"></i>{{vm.owner.contact.displayName}}
      </div>
    </div>
    <div class="page-repository-url nx-truncate-ellipsis" ng-if="vm.isApp && vm.repositoryUrl">
      <i class="fa fa-{{vm.scmProviderIcon}} size-24px"></i
      ><a href="{{vm.repositoryUrl}}" target="_blank">{{vm.repositoryUrl}}</a>
    </div>
    <owner-summary-pills></owner-summary-pills>
  </div>
</div>
<div
  class="iq-tile-scroll-container iq-tile-scroll-container--owner-summary-view nx-viewport-sized__scrollable"
  id="owner-summary-sections"
  ng-controller="OwnerSummaryTilesContainerController as tilesVm"
>
  <div ng-if="!tilesVm.loadError" scrollspy="#owner-summary">
    <div ng-if="!tilesVm.loading">
      <application-categories-tile></application-categories-tile>
      <policies-tile></policies-tile>
      <policy-grandfathering-tile></policy-grandfathering-tile>
      <continuous-monitoring-summary-tile></continuous-monitoring-summary-tile>
      <waived-component-upgrades-tile></waived-component-upgrades-tile>
      <proprietary-component-configuration-tile></proprietary-component-configuration-tile>
      <labels-tile></labels-tile>
      <license-threat-group-summary-tile></license-threat-group-summary-tile>
      <retention-tile></retention-tile>
      <source-control-tile></source-control-tile>
      <inner-source-repository-tile></inner-source-repository-tile>
      <artifactory-repository-tile></artifactory-repository-tile>
      <access-tile id="owner-pill-access" pad-to-top></access-tile>
      <delete-owner-modal></delete-owner-modal>
      <grandfathering-modal></grandfathering-modal>
      <change-application-id-modal></change-application-id-modal>
      <revoke-grandfathering-modal></revoke-grandfathering-modal>
      <import-policies-modal></import-policies-modal>
      <move-application-modal></move-application-modal>
      <select-contact-modal></select-contact-modal>
      <evaluate-application-modal></evaluate-application-modal>
    </div>
  </div>
</div>
