<div
  id="select-application-contact-modal"
  ng-hide="vm.deleteMode || vm.unsavedModalVisible"
>
  <div class="iq-modal-header">
    <h2><i class="fa size-20px fa-user slate"></i>Select Contact</h2>
  </div>
  <form
    class="iq-form iq-form--modal-form"
    role="form"
    name="vm.selectContactForm"
    ng-submit="vm.isDirty() && vm.updateContact()"
    form-mask="vm.selectContactFormMask"
    mask-message="Updating"
  >
    <div class="iq-modal-content iq-scrollable">
      <h3 id="current-contact" class="iq-subsection-header">
        <i class="fa size-18px fa-user slate"></i
        ><!--
       --><span ng-class="{'disabled': !vm.owner.contact}">
          {{vm.owner.contact ? vm.owner.contact.displayName : '(None)'}}
        </span>
      </h3>
      <div class="iq-form-group">
        <label for="user-search-input" id="user-search-input-label">
          Search Users
          <span class="iq-sub-label"
            >use ‘*’ as wildcard (ex. ‘Isa*’ matches ‘Isaac Asimov’)</span
          >
        </label>
        <input
          id="user-search-input"
          class="iq-text-input"
          type="text"
          name="search"
          ng-model="vm.query"
          ng-maxlength="60"
          focus-input="true"
          ng-keyup="$event.keyCode == 13 && vm.query && vm.search()"
          clm-input
          autofocus
        />
        <button
          id="user-search-button"
          class="iq-btn iq-btn--inline"
          type="button"
          ng-click="vm.search()"
          ng-disabled="!vm.query"
        >
          Search
        </button>
      </div>
      <div ng-if="vm.searchError" class="iq-alert">
        <i class="fa fa-warning"></i> Search failed. {{vm.searchError}}
      </div>
      <div class="form-group" ng-if="!vm.searchError">
        <label for="contact-selector" ng-if="vm.users">Results</label>
        <p ng-if="vm.users.length === 0">No results</p>
        <association-editor
          id="contact-selector"
          ng-if="vm.users.length > 0"
          selected="vm.selected"
          items="vm.users"
          description="displayName"
          icon="fa-user"
          is-radio-button="true"
        />
      </div>
    </div>
    <div class="iq-modal-footer" ng-class="{ error : vm.submitError }">
      <div ng-if="vm.submitError" class="iq-alert">
        <i class="fa fa-warning"></i> {{vm.submitError}}
      </div>
      <button
        ng-if="!vm.submitError"
        class="iq-btn iq-btn--primary"
        type="submit"
        submit-validation
        submit-dirty="vm.isDirty()"
        submit-type="update"
      >
        Select</button
      ><!--
   --><button
        ng-if="vm.submitError"
        class="iq-btn iq-btn--error"
        type="submit"
        ng-disabled="!vm.isDirty()"
      >
        <i class="fa fa-refresh"></i>Retry</button
      ><!--
   --><button
        class="iq-btn"
        type="button"
        id="cancel-select-contact-button"
        ng-click="$dismiss()"
      >
        Cancel</button
      ><!--
   --><button
        id="remove-contact-button"
        class="iq-btn iq-btn--tertiary"
        type="button"
        ng-click="vm.removeContact()"
        ng-if="vm.owner.contact"
      >
        <i class="fa fa-trash"></i>Clear Contact
      </button>
    </div>
  </form>
</div>
