<div>
  <script type="text/ng-template" id="change-password-template">
    <div id="change-password-modal">
      <div class="iq-modal-header">
        <h2>Change Password</h2>
      </div>
      <form name="passwordForm" class="iq-form iq-form--no-padding iq-form--no-border" ng-submit="save()">
        <div class="iq-modal-content">
          <div class="iq-form-group">
            <label class="iq-label" for="original-password">Current Password</label>
            <input type="password"
                   id="original-password"
                   name="original-password"
                   ng-model="result.originalPassword"
                   required
                   focus-input="true"
                   class="iq-text-input">
          </div>
          <hr/>
          <div class="iq-form-group">
            <label class="iq-label" for="new-password">New Password</label>
            <input class="iq-text-input"
                   type="password"
                   id="new-password"
                   name="new-password"
                   ng-model="result.newPassword"
                   required>
          </div>
          <div class="iq-form-group">
            <label class="iq-label" for="confirm-password">Confirm New Password</label>
            <input clm-input
                   type="password"
                   id="confirm-password"
                   name="confirm-password"
                   ng-model="result.confirmPassword"
                   required ui-validate=" '$value==result.newPassword' "
                   ui-validate-watch=" 'result.newPassword' "
                   messages="{validator: 'Passwords must match!'}"
                   class="iq-text-input">
          </div>
        </div>
        <div class="iq-modal-footer" ng-class="{error: error}">
          <div id="change-password-error" ng-if="error" class="iq-alert iq-alert--error">
            <i class="fa fa-warning"></i>{{error}}
          </div>
          <button type="submit"
                  class="iq-btn iq-btn--error"
                  id="change-password-submit"
                  ng-if="error"
                  ng-disabled="passwordForm.$invalid || submitActive">
            <i class="fa fa-refresh"></i>Retry
          </button><!--
       --><button type="submit"
                  class="iq-btn iq-btn--primary"
                  id="change-password-submit"
                  ng-if="!error"
                  ng-disabled="passwordForm.$invalid || submitActive">
            Change
          </button><!--
       --><button type="button" class="iq-btn" id="change-password-cancel" ng-click="$dismiss()">Cancel</button>
        </div>
      </form>
    </div>
  </script>
  <user-token-modal ng-if="vm.isUserTokenModalVisible"></user-token-modal>
  <div id="user-menu" class="dropdown iq-dropdown iq-dropdown--user-menu">
    <a
      id="user-menu-dropdown-toggle"
      class="iq-dropdown-toggle iq-dropdown-toggle--main-header iq-dropdown-toggle--user-menu"
      data-toggle="dropdown"
    >
      <nx-font-awesome-icon
        icon="vm.faUserCircle"
        size="'2x'"
      ></nx-font-awesome-icon>
    </a>
    <div class="dropdown-menu iq-dropdown-menu iq-dropdown-menu--main-header">
      <h4 class="iq-dropdown-menu__title">
        Current User:
        <span id="user-name" class="iq-user-name">
          {{vm.currentUser.displayName }}
        </span>
      </h4>

      <div ng-show="vm.canChangePassword">
        <a
          id="change-password"
          ng-click="vm.changePassword()"
          class="iq-dropdown-menu__link--main-header"
        >
          Change Password
        </a>
      </div>
      <a
        id="user-token-management"
        ng-click="vm.manageUserToken()"
        class="iq-dropdown-menu__link--main-header"
      >
        Manage User Token
      </a>
      <a
        id="user-details"
        ng-click="vm.details()"
        class="iq-dropdown-menu__link--main-header"
      >
        Details
      </a>
      <a
        id="logout"
        form-mask="vm.logoutMask"
        mask-attach-to-body
        mask-message="Logging out..."
        ng-click="vm.logout()"
        class="iq-dropdown-menu__link--main-header"
      >
        Logout
      </a>
    </div>
  </div>
</div>
