<div style="margin: 0pt auto;border:1px solid black;width:600px;padding:1px;font-size:14px;font-family:Arial, Helvetica, sans-serif">
	<table style="width:100%;border-left:2px solid black;border-right:2px solid black;border-top:2px solid black;border-bottom:2px solid black;vertical-align:middle;font-size:14px;">
		<tr>
			<td><img src="../assets/img/sonatype-32.png" style="vertical-align:middle;"/><span style="vertical-align:middle;padding-left:3px;">Sonatype CLM</span></td>
			<td style="text-align:right;">Policy Violation Alerts</td>
		</tr>
	</table>
	<table style="width:100%;border-left:2px solid black;border-right:2px solid black;font-size:14px;" >
		<tr>
			<td>Stage:</td>
			<td>Build</td>
			<td>My App:</td>
			<td>Foo</td>
		</tr>
		<tr>
			<td>When:</td>
			<td>January 10, 2013</td>
		</tr>
	</table>
	<table style="width:100%;border:2px dashed black;font-size:14px;">
		<tr>
			<td style="white-space: nowrap;width:5%;">New Alerts:</td>
			<td>
				<table>
					<tr>
						<td style="width:30px;height:30px;text-align:center;background-color:#EE1B24;">10</td>
						<td style="width:30px;height:30px;text-align:center;background-color:#F7941D;">9</td>
						<td style="width:30px;height:30px;text-align:center;background-color:#FEDF15;">5</td>
						<td style="width:30px;height:30px;text-align:center;background-color:#6E99D0;">0</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table style="width: 100%;border-left:2px solid black;border-right:2px solid black;border-collapse: collapse;font-size:14px;">
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Unsecure</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>		
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> commons-httpclient : commons-httpclient : 3.1</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Unsecure</td>
							<td style="padding-left:20px;">
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
							</td>
						</tr>
						<tr>
							<td style="vertical-align:top;">Unsecure</td>
							<td style="padding-left:20px;">
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Unsecure</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> org.apache.geromino.framework : geronimo-security : 2.1</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Unsecure</td>
							<td style="padding-left:20px;">
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Unsecure</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> org.mortbay.jetty : jetty : 6.1.15</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Unsecure</td>
							<td style="padding-left:20px;">
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Unsecure</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> org.openid4java : openid4java : 0.9.5</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Unsecure</td>
							<td style="padding-left:20px;">
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Unsecure</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> tomcat : catalina-host-manager : 5.5.23</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Unsecure</td>
							<td style="padding-left:20px;">
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Unsecure</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> tomcat : servlets-default : 5.5.4</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Unsecure</td>
							<td style="padding-left:20px;">
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Unsecure</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> tomcat : tomcat-util : 5.5.23</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Unsecure</td>
							<td style="padding-left:20px;">
								<div>If Security Vulnerability is Present</div>
								<div style="color:#6E99D0;">Security Vulnerability is Present</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>GPL</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> cobertura : cobertura : 1.6</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">GPL</td>
							<td style="padding-left:20px;">
								<div>If license is GPL-2.0</div>
								<div style="color:#6E99D0;">License is GPL-2.0</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>GPL</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> edu.ucar : unidataCommon : 4.2.20</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">GPL</td>
							<td style="padding-left:20px;">
								<div>If license is GPL-2.0</div>
								<div style="color:#6E99D0;">License is GPL-2.0</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#EE1B24;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>GPL</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> javancss : javancss : 29.50</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">GPL</td>
							<td style="padding-left:20px;">
								<div>If license is GPL-3.0</div>
								<div style="color:#6E99D0;">License is GPL-3.0</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#F7941D;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>old</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Warning</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> ch.qos.logback : logback-access : 0.6</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">old</td>
							<td style="padding-left:20px;">
								<div>If age is older than 2 years</div>
								<div style="color:#6E99D0;">Age is 2.8 years</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#F7941D;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>old</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Warning</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> commons-beanutils : commons-beanutils : 1.8.3</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">old</td>
							<td style="padding-left:20px;">
								<div>If age is older than 2 years</div>
								<div style="color:#6E99D0;">Age is 2.7 years</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#F7941D;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>old</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Warning</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> commons-dbcp : commons-dbcp : 1.4</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">old</td>
							<td style="padding-left:20px;">
								<div>If age is older than 2 years</div>
								<div style="color:#6E99D0;">Age is 3.9 years</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#F7941D;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>old</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Warning</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> commons-pool : commons-pool : 1.4</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">old</td>
							<td style="padding-left:20px;">
								<div>If age is older than 2 years</div>
								<div style="color:#6E99D0;">Age is 5.1 years</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#F7941D;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>old</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Warning</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> geronimo : geronimo-tomcat-builder : 1.1</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">old</td>
							<td style="padding-left:20px;">
								<div>If age is older than 2 years</div>
								<div style="color:#6E99D0;">Age is 2.3 years</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#F7941D;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>old</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Warning</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> geronimo : geronimo-tomcat : 1.0</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">old</td>
							<td style="padding-left:20px;">
								<div>If age is older than 2 years</div>
								<div style="color:#6E99D0;">Age is 4.5 years</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#F7941D;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>old</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Warning</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> net.sf.xradar : xradar : 1.1.2</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">old</td>
							<td style="padding-left:20px;">
								<div>If age is older than 2 years</div>
								<div style="color:#6E99D0;">Age is 3.7 years</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#F7941D;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>old</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Warning</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> org.apache.lucene : lucene-spellchecker : 2.9.1</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">old</td>
							<td style="padding-left:20px;">
								<div>If age is older than 2 years</div>
								<div style="color:#6E99D0;">Age is 2.1 years</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#F7941D;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>old</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Warning</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> org.slf4j : slf4j-api : 1.6.1</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">old</td>
							<td style="padding-left:20px;">
								<div>If age is older than 2 years</div>
								<div style="color:#6E99D0;">Age is 3.7 years</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#FEDF15;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Bad License</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> edu.stanford.ejalbert : BrowserLauncher2 : 1.3</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Bad License</td>
							<td style="padding-left:20px;">
								<div>If license is Non-Standard</div>
								<div style="color:#6E99D0;">License is Non-Standard</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#FEDF15;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Bad License</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> org.apache.flume.flume-ng-<WBR>channels : flume-jdbc-channel : 1.0.0-incubating</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Bad License</td>
							<td style="padding-left:20px;">
								<div>If license is Not Provided</div>
								<div style="color:#6E99D0;">License is Not Provided</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#FEDF15;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Bad License</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> org.apache.flume : flume-ng-core : 1.0.0-incubating</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Bad License</td>
							<td style="padding-left:20px;">
								<div>If license is Not Provided</div>
								<div style="color:#6E99D0;">License is Not Provided</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#FEDF15;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Bad License</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> org.apache.flume : flume-ng-node : 1.0.0-incubating</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Bad License</td>
							<td style="padding-left:20px;">
								<div>If license is Not Provided</div>
								<div style="color:#6E99D0;">License is Not Provided</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="height:1px;width:4%;border-bottom:2px solid black;padding:4 0 4 4;">
				<div style="height:100%;background-color:#FEDF15;"></div>
			</td>
			<td style="height:1px;width:31%;vertical-align:top;border-bottom:2px solid black;padding:4 4 4 0;">	
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="padding-left:4px;"><b>Bad License</b></div>
					<div style="padding-left:40px;padding-top:5px;color:#6E99D0;">
						<div><i><b>Build Failed</b></i></div>
					</div>
				</div>
			</td>
			<td style="height:1px;width:65%;border-bottom:2px solid black;padding:4 4 4 0;">
				<div style="height:100%;background-color:#E6E6E6;">
					<div style="border-bottom:1px solid black;"><b>GAV:</b> org.opencms.modules : com.alkacon.opencms.v8.twitter : 8.0.2</div>
					<table style="font-size:14px;">
						<tr>
							<td style="vertical-align:top;">Bad License</td>
							<td style="padding-left:20px;">
								<div>If license is Not Provided</div>
								<div style="color:#6E99D0;">License is Not Provided</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>