<div style="border:1px solid black;width:600px;padding:1px;">
	<table style="width:100%;border-left:2px solid black;border-right:2px solid black;border-top:2px solid black;border-bottom:2px solid black;vertical-align:middle;">
		<tr>
			<td><img src="sonatype-32.png" style="vertical-align:middle;"/><span style="vertical-align:middle;padding-left:3px;">Sonatype CLM</span></td>
			<td style="text-align:right;">Policy Violation Alerts</td>
		</tr>
	</table>
	<table style="width:100%;border-left:2px solid black;border-right:2px solid black;font-size:12px;" >
		<tr>
			<td>Stage:</td>
			<td>Build</td>
			<td>My App:</td>
			<td>Foo</td>
		</tr>
		<tr>
			<td>When:</td>
			<td>January 10, 2013</td>
			<td>Where:</td>
			<td>Hudson-10</td>
		</tr>
	</table>
	<table style="width:100%;border:2px dashed black;">
		<tr>
			<td style="white-space: nowrap;width:5%;">New Alerts:</td>
			<td>
				<table>
					<tr>
						<td style="width:30px;height:30px;text-align:center;background-color:#EE1B24;">10</td>
						<td style="width:30px;height:30px;text-align:center;background-color:#F7941D;">9</td>
						<td style="width:30px;height:30px;text-align:center;background-color:#FEDF15;">5</td>
						<td style="width:30px;height:30px;text-align:center;background-color:#6E99D0;">0</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table style="width: 100%;border-left:2px solid black;border-right:2px solid black;font-size: 12px;border-collapse: collapse;">
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>Unsecure</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>commons-httpclient : commons-httpclient : 3.1</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Unsecure</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Security Vulnerability is present</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>Unsecure</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>org.apache.geromino.framework : geronimo-security : 2.1</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Unsecure</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Security Vulnerability is present</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>Unsecure</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>org.mortbay.jetty : jetty : 6.1.15</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Unsecure</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Security Vulnerability is present</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>Unsecure</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>org.openid4java : openid4java : 0.9.5</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Unsecure</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Security Vulnerability is present</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>Unsecure</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>tomcat : catalina-host-manager : 5.5.23</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Unsecure</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Security Vulnerability is present</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>Unsecure</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>tomcat : servlets-default : 5.5.4</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Unsecure</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Security Vulnerability is present</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>Unsecure</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>tomcat : tomcat-util : 5.5.23</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Unsecure</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Security Vulnerability is present</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>GPL</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>cobertura : cobertura : 1.6</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- GPL</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- License is GPL-2.0</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>GPL</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>edu.ucar : unidataCommon : 4.2.20</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- GPL</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- License is GPL-2.0</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#EE1B24;"></td>
						<td style="vertical-align:middle;"><b>GPL</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>javancss : javancss : 29.50</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- GPL</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- License is GPL-3.0</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#F7941D;"></td>
						<td style="vertical-align:middle;"><b>old</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>ch.qos.logback : logback-access : 0.6</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- old</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Age is older than 2 years</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build warning</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#F7941D;"></td>
						<td style="vertical-align:middle;"><b>old</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>commons-beanutils : commons-beanutils : 1.8.3</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- old</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Age is older than 2 years</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build warning</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#F7941D;"></td>
						<td style="vertical-align:middle;"><b>old</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>commons-dbcp : commons-dbcp : 1.4</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- old</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Age is older than 2 years</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build warning</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#F7941D;"></td>
						<td style="vertical-align:middle;"><b>old</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>commons-pool : commons-pool : 1.4</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- old</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Age is older than 2 years</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build warning</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#F7941D;"></td>
						<td style="vertical-align:middle;"><b>old</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>geronimo : geronimo-tomcat-builder : 1.1</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- old</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Age is older than 2 years</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build warning</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#F7941D;"></td>
						<td style="vertical-align:middle;"><b>old</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>geronimo : geronimo-tomcat : 1.0</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- old</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Age is older than 2 years</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build warning</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#F7941D;"></td>
						<td style="vertical-align:middle;"><b>old</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>net.sf.xradar : xradar : 1.1.2</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- old</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Age is older than 2 years</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build warning</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#F7941D;"></td>
						<td style="vertical-align:middle;"><b>old</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>org.apache.lucene : lucene-spellchecker : 2.9.1</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- old</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Age is older than 2 years</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build warning</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#F7941D;"></td>
						<td style="vertical-align:middle;"><b>old</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>org.slf4j : slf4j-api : 1.6.1</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- old</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- Age is older than 2 years</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build warning</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#FEDF15;"></td>
						<td style="vertical-align:middle;"><b>Bad License</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>edu.stanford.ejalbert : BrowserLauncher2 : 1.3</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Bad License</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- License is Non-Standard</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#FEDF15;"></td>
						<td style="vertical-align:middle;"><b>Bad License</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>org.apache.flume.flume-ng-channels : flume-jdbc-channel : 1.0.0-incubating</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Bad License</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- License is Not Provided</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#FEDF15;"></td>
						<td style="vertical-align:middle;"><b>Bad License</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>org.apache.flume : flume-ng-core : 1.0.0-incubating</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Bad License</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- License is Not Provided</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#FEDF15;"></td>
						<td style="vertical-align:middle;"><b>Bad License</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>org.apache.flume : flume-ng-node : 1.0.0-incubating</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Bad License</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- License is Not Present</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width:50%;vertical-align:top;border-bottom:2px solid black;padding:4px;">	
				<table>
					<tr>
						<td style="width:30px;height:30px;background-color:#FEDF15;"></td>
						<td style="vertical-align:middle;"><b>Bad License</b></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div><b>GAV:</b></div>
							<div>org.opencms.modules : com.alkacon.opencms.v8.twitter : 8.0.2</div>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:50%;border-bottom:2px solid black;padding:4px;">
				<div style="background-color:#E6E6E6;">
					<div style="padding-left:20px;"><b>Constraint Violated:</b></div>
					<div style="padding-left:20px;">- Bad License</div>
					<div style="padding-left:40px;"><b>Condition(s) Violated:</b></div>
					<div style="padding-left:40px;">- License is Not Present</div>
					<div style="padding-left:20px;"><b>Action</b></div>
					<div style="padding-left:20px;">- Build failure</div>
				</div>
			</td>
		</tr>
	</table>
</div>