<div class="iq-dropdown-menu__actions">
  <a id="show-save-filter-dialog"
     class="btn iq-btn--dropdown"
     ng-click="vm.openSaveFilterModal($event)"
     ng-class="{disabled: vm.isSaveFilterDisabled}"
     data-tooltip="{{vm.isSaveFilterDisabled ? 'Please apply filter before saving': ''}}"
     data-tooltip-placement="top-left"
     data-tooltip-append-to-body="true"
     tooltip-class="filter-label-tooltip">
    <i class="fa fa-floppy-o iq-dropdown__action-icon"></i>Save...
  </a>
  <a id="show-delete-filters-dialog"
     class="btn iq-btn--dropdown"
     ng-click="vm.openDeleteFiltersModal($event)"
     ng-class="{disabled: !vm.hasSavedFilters()}">
    <i class="fa fa-trash iq-dropdown__action-icon"></i>Delete...
  </a>
</div>
<div class="iq-manage-filters-menu__filters iq-action-list">
  <h4 class="iq-action-list__title">
    LOAD
  </h4>
  <div class="iq-action-list__item iq-action-list__item--empty"
       ng-hide="vm.hasSavedFilters() || vm.isLoadingSavedFilters() || vm.savedFiltersHasError">
    No saved filters.
  </div>
  <div class="iq-action-list__item iq-error" ng-if="vm.savedFiltersHasError">
    <i class="fa fa-warning"></i>Failed to open the saved filter list.
  </div>
  <ul ng-hide="vm.savedFiltersHasError"
      load-wrapper
      loading="vm.isLoadingSavedFilters()"
      id="manage-filter-list"
      class="iq-scrollable">
    <li class="iq-action-list__item iq-clickable"
        ng-repeat="savedFilter in vm.savedNamedFilters"
        ng-click="vm.applySavedFilter(savedFilter)">
      {{::savedFilter.name}}
    </li>
  </ul>
</div>
