<div>
  <div load-error='error' reload='doLoad()'></div>
  <div class='content-container' style='text-align:center;width:370px;margin:25px auto' ng-show='labels == null && !error'>
    <h5><i class='icon-time'></i> Loading...</h5>
  </div>
  <div ng-show='!error && labels != null'>
    <div class='add-section'>
      <button type='button' class='btn btn-primary' ng-click='editLabel()'><i class="icon-white icon-plus-sign"></i> New Label</button>
    </div>
    <div class="content-section">
      <div class="content-header">
        <h4>{{selectedApplication.name}} Labels</h4>
      </div>
      <div>
        <div ng-repeat='label in labels | orderBy:"label"' style='display:inline-block;'  ng-click='editLabel(label)'>
          <div class="labelContainer"  ng-class="{active: selectedLabel.id == label.id}"> <span title="Edit Label" class="clmLabel {{label.color}}Label"> {{label.label}} </span> <span title="Delete Label" class="icon-remove-circle deleteHoverTransparent" ng-click="deleteLabel(label)"></span></div>
        </div>
        <em ng-show='labels.length == 0'>No labels available</em></div>
      <div ng-include='editorUrl'></div>
    </div>
  </div>
  <div error-Modal></div>
</div>
