<div class='fade in' style='width:830px' ng-controller='LabelEditorController'>
	<form name='labelEditor' class='form-horizontal' style='margin-bottom:0' ng-submit='saveLabel()'>
	    <div class="modal-body" style="padding: 15px 0;">
			<div class="control-group" ng-class='{ error : labelEditor.label.$error.duplicate || labelEditor.label.$error.empty || labelEditor.label.$error.invalid }'>
              <div class="controls" style="margin-left: 0;">
                <input id="labelEditorLabel" name='label' type="text" maxlength='50' ng-model='selectedLabel.label' item-label>
                <span ng-show='labelEditor.label.$error.empty' class="help-inline">Required</span>
				<span ng-show='labelEditor.label.$error.duplicate' class="help-inline">Duplicate Label</span>
				<span ng-show='labelEditor.label.$error.invalid' class="help-inline">Invalid Character</span>
			  </div>
			</div>
          <textarea maxlength="255" ng-model='selectedLabel.description' placeholder="Add a description..."></textarea>
          <div>
	            <div class='labelContainer' ng-repeat="color in colors" ng-class='{ active : selectedLabel.color == color}' ng-click='setColor(color);' >
	                <span class="clmLabel {{color}}Label" style='display:inline-block;min-height:1em;min-width:30px;'>{{selectedLabel.label}}</span>
	            </div>
	        </div>
          <div class="pull-right">
            <button class="btn" type='button' ng-click='cancelEditLabel()'>Cancel</button>
            <button class="btn btn-primary" ng-disabled='!canSaveEdit(labelEditor.$valid, selectedLabel)'>Save</button>
          </div>
        </div>
	</form>
</div>