<div id="continuous-monitoring-editor" class="tile-editor-container">
  <div class="tile" load-wrapper="vm.loadError" loading="!vm.stages" reload="vm.doLoad()" ng-if="vm.isMonitoringSupported">
    <h2>
      <i class="fa size-20px fa-repeat">
      </i>Continuous Monitoring
    </h2>
    <form name="vm.continousMonitoringEditor" class="clm-form" role="form" ng-submit="vm.isDirty() && vm.save()"
          novalidate form-mask="vm.continuousMonitoringEditorMask" mask-attach-to-body>
      <div class="section">
        <div class="field">
          <p>
            Each day the latest scan from this stage will be evaluated.<br/>
            Notifications for new violations can be configured per policy.
          </p>
        </div>
        <div class="field">
          <label for="monitoring-stage">Monitoring Stage</label>
          <association-editor id="monitoring-stage" selected="vm.monitoredStage" items="vm.stages"
                              description="stageName" is-radio-button="true">
          </association-editor>
        </div>
      </div>
      <div class="editor-footer" submit-wrapper="vm.submitError" retry="vm.save()">
        <button type="submit" class="btn btn-primary" submit-validation submit-dirty="vm.isDirty()"
                submit-type="update">
          Update
        </button>
      </div>
    </form>
  </div>
  <div ng-if="!vm.isMonitoringSupported">
    <div class="clm-alert alert alert-error">
      <div>
        <i class="fa fa-warning"></i>Policy monitoring is not supported by your license.
      </div>
    </div>
  </div>
</div>
