<div load-wrapper="vm.loadError" loading="!vm.actionStages" reload="vm.doLoad()">
  <table>
    <tbody ng-repeat="actionStage in vm.actionStages">
      <tr class="action-stage clickable" ng-class="{ expanded: actionStage.isExpanded}">
        <td ng-click="actionStage.isExpanded = !actionStage.isExpanded; vm.updateAvailableRoles(actionStage.stageTypeId)">
          <div class="twisty-container">
            <span class="twisty" ng-class="{ expand: !actionStage.isExpanded, collapse: actionStage.isExpanded}"></span>
          </div>
          <span>{{::actionStage.stageName}}</span>
        </td>
        <td>
          <label class="radio" ng-if="actionStage.stageTypeId !== 'monitoring'" ng-class="{disabled: vm.disabled}">
            <input type="radio" ng-model="vm.getActionItem(actionStage.stageTypeId)[0]" ng-value="null" ng-change="vm.conditionallyAddOrRemoveAction(actionStage.stageTypeId, null)"
                   ng-disabled="vm.disabled"><!--
              --><span>No action</span><!--
          --></label>
        </td>
        <td>
          <label class="radio" ng-if="actionStage.stageTypeId !== 'monitoring'" ng-class="{disabled: vm.disabled}">
            <input type="radio" ng-model="vm.getActionItem(actionStage.stageTypeId)[0].actionTypeId" value="warn" ng-change="vm.conditionallyAddOrRemoveAction(actionStage.stageTypeId, 'warn')"
                   ng-disabled="vm.disabled"><!--
              --><span><i class="fa fa-exclamation-triangle warn"></i>Warn</span><!--
          --></label>
        </td>
        <td>
          <label class="radio" ng-if="actionStage.stageTypeId !== 'monitoring'" ng-class="{disabled: vm.disabled}">
            <input type="radio" ng-model="vm.getActionItem(actionStage.stageTypeId)[0].actionTypeId" value="fail" ng-change="vm.conditionallyAddOrRemoveAction(actionStage.stageTypeId, 'fail')"
                   ng-disabled="vm.disabled"><!--
              --><span><i class="fa fa-exclamation-circle fail"></i>Fail</span><!--
          --></label>
        </td>
        <td ng-class="{'has-notifications': vm.getNotificationCount(actionStage) > 0}"><!--
              --><span class="notification-count">{{vm.getNotificationCount(actionStage)}}</span> Notifications
        </td>
      </tr>
      <tr ng-if="actionStage.isExpanded">
        <td colspan="5">
          <div class="section add-notification">
            <div class="inline-fields" ng-if="!vm.disabled">
              <div class="field">
                <label for="editor-notification-type-{{actionStage.stageName}}">Notification Type</label>
                <dropdown-selector id="editor-notification-type-{{actionStage.stageName}}" class="editor-notification-type" ng-model="vm.notificationTypeMap[actionStage.stageTypeId]"
                                   name="notification-type-{{actionStage.stageName}}"
                                   ng-change="vm.notificationValueMap[actionStage.stageTypeId] = undefined"
                                   options="vm.notificationTypes"></dropdown-selector>
              </div><!--
           --><div class="field" ng-if="vm.notificationTypeMap[actionStage.stageTypeId] === 'Email'">
                <label for="editor-notification-email-{{actionStage.stageName}}">Email Address</label>
                <input id="editor-notification-email-{{actionStage.stageName}}" class="editor-notification-email"
                       name="editor-notification-email-{{actionStage.stageName}}"
                       type="email"
                       ng-model="vm.notificationValueMap[actionStage.stageTypeId]"
                       ng-maxlength="100"
                       focus-input="true">
              </div><!--
           --><div class="field" ng-if="vm.notificationTypeMap[actionStage.stageTypeId] === 'Role'">
                <label for="editor-notification-role-{{actionStage.stageName}}">Role</label>
                <dropdown-selector id="editor-notification-role-{{actionStage.stageName}}" class="editor-notification-role"
                                   option-name-param="roleName"
                                   ng-model="vm.notificationValueMap[actionStage.stageTypeId]"
                                   name="notification-role-{{actionStage.stageName}}"
                                   options="vm.availableRoles[actionStage.stageTypeId]"
                                   no-options-string="All roles are being notified."
                                   empty-option-string="-- Select Role --"></dropdown-selector>
              </div><!--
           --><div class="field no-label">
                <button id="editor-notification-add" class='btn' type="button"
                        ng-click="vm.addNotification(actionStage.stageTypeId, vm.notificationValueMap[actionStage.stageTypeId])"
                        ng-class="{ disabled: !vm.notificationValueMap[actionStage.stageTypeId] }">
                  <i class="fa fa-plus"></i>Add
                </button>
              </div>
            </div>
          </div>
          <div class="notification-list" ng-class="{empty : !vm.hasNotifications(actionStage.stageTypeId)}">
            <div class="empty-list" ng-if="!vm.hasNotifications(actionStage.stageTypeId)">No notifications configured</div>
            <ul>
              <li ng-repeat="action in (actionStage.stageTypeId === 'monitoring' ? vm.monitorNotifyActions : vm.actions[actionStage.stageTypeId]) | filter:{actionTypeId:'notify'}">
                <button class='btn btn-tertiary btn-icon-only' type="button" ng-click="vm.removeNotification(actionStage.stageTypeId, action.target)"
                        ng-disabled="vm.disabled"><!--
               --><i class="fa fa-trash"></i>
                </button>
                <span>
                  <i class="fa {{action.targetType === 'role' ? 'fa-users' : 'fa-envelope'}} slate"></i><!--
                    -->{{vm.getNotificationTargetName(action)}}
                </span>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
