/* the reason the value numbers are wonky is because of the way angular builds the select using ngOptions */
.threat-box {
  border-radius: 2px 2px 2px 2px;
  display: inline-block;
  height: 18px;
  width: 18px;
  padding: 0px;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  vertical-align: middle;
  margin-right: 2px;
}

[class*="threat-level-"].legacy-threat-level {
  vertical-align: top;
  font-family: Proxima Nova Bold, sans-serif;
  color: #fff;
  line-height: 20px;
  border: 0;
}

/* Various implementations for colored drop downs using bootstrap's drop down */
.threat-level-dropdown a {
  padding: 5px 8px;
}

.label-drop-down a, .label-drop-down > li > a {
  width: 194px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.threat-level-dropdown a, .label-drop-down a {
  background-image: none;
}

.threat-level-dropdown > .dropdown-menu, .label-drop-down > .dropdown-menu, .multi-dropdown .dropdown-menu {
  min-width: 120px;
  padding: 0;
}

.threat-level-dropdown .dropdown-menu > li > a, .label-drop-down .dropdown-menu > li > a {
  font-family: Proxima Nova Bold, sans-serif;
  color: #FFF;
  padding: 3px 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  -moz-background-clip: border; /* for Firefox */
  -webkit-background-clip: border-box; /* for Safari */
  background-clip: border-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.threat-level-dropdown .dropdown-menu > li > a:hover, .label-drop-down .dropdown-menu > li > a:hover {
  color: #FFF !important;
}

.threat-level-dropdown a:hover span, .label-drop-down a:hover span {
  border-top-color: #FFF;
}

.threat-level-dropdown > .dropdown-menu li:first-child a, .label-drop-down > .dropdown-menu li:first-child a, .multi-dropdown .dropdown-menu li:first-child a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.threat-level-dropdown > .dropdown-menu li:last-child a, .label-drop-down > .dropdown-menu li:last-child a, .multi-dropdown .dropdown-menu li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.legacy-threat-level.threat-level-0, .legacy-threat-level.threat-level-0:hover, .legacy-threat-level.threat-level-0:focus {
  background-color: #2476C3;
  color: #FFF;
}

.legacy-threat-level.threat-level-1, .legacy-threat-level.threat-level-2, .legacy-threat-level.threat-level-3, .legacy-threat-level.threat-level-2:hover, .legacy-threat-level.threat-level-3:hover, .legacy-threat-level.threat-level-2:focus, .legacy-threat-level.threat-level-3:focus {
  background-color: #F5C649;
  color: #444 !important;
}

.legacy-threat-level.threat-level-4, .legacy-threat-level.threat-level-5, .legacy-threat-level.threat-level-6, .legacy-threat-level.threat-level-7, .legacy-threat-level.threat-level-4:hover, .legacy-threat-level.threat-level-5:hover, .legacy-threat-level.threat-level-6:hover, .legacy-threat-level.threat-level-7:hover, .legacy-threat-level.threat-level-4:focus, .legacy-threat-level.threat-level-5:focus, .legacy-threat-level.threat-level-6:focus, .legacy-threat-level.threat-level-7:focus {
  background-color: #F2862F;
  color: #FFF;
}

.legacy-threat-level.threat-level-8, .legacy-threat-level.threat-level-9, .legacy-threat-level.threat-level-10, .legacy-threat-level.threat-level-8:hover, .legacy-threat-level.threat-level-9:hover, .legacy-threat-level.threat-level-10:hover, .legacy-threat-level.threat-level-8:focus, .legacy-threat-level.threat-level-9:focus, .legacy-threat-level.threat-level-10:focus {
  background-color: #DB2852;
  color: #FFF;
}

.policy .legacy-threat-level.threat-level-1 {
  background-color: #0047B2;
  color: #FFF !important;
}
