<div class='fade' ng-class='{ in : selectedOrganization != null}'>
	<div alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</div>
  <div style="float:right; margin:10px;" class='btn-group'>
    <a class="btn btn-mini" title="Remove Organization" ng-click="confirmDeleteOrganization(selectedOrganization)"><i class='glyphicons-sonatype bin'></i></a>
  </div>
       	<div ng-show='isUploadingIcon'>
            <div class="alert alert-info">
                <strong>Uploading Icon...</strong>
            </div>
        </div>
		<div class="editor-header">
			<div class='editor-image'>
				<div class='display-image'>
					<div ng-switch on='hasRobotSource'>
	                       <img ng-switch-when='false' id='userIcon' ng-src='{{userIconSource}}' />
	                       <img ng-switch-when='true' id='robotIcon' ng-src='../rest/organization/services/generateIcon/{{robotHash}}'/>
					</div>
				</div>
                <div class='edit-image'>
                    <form id='iconUploadForm' name='iconUploadForm' ng-upload action='{{addOrganizationSync}}' class='form' style='margin: 0px;' method='post'>
                        <label for='file' firefox-input-click>Choose Icon</label>
                        <input style='position:absolute;left:-9999em;' id="file" type="file" name="file" accept='image/*'
                               onchange='angular.element(this).scope().fileChanged(this)' />
                        <input type='submit' upload-submit='iconUploadComplete(content, completed)' ng-show='false' />
                        <a ng-click='generateIcon()'>Want a robot?</a>
                        <input name='organizationId' ng-model='organizationId' type='hidden'/>
                        <input name='hasRobotSource' ng-model='hasRobotSource' type='hidden'/>
                        <input name='robotHash' ng-model='robotHash' type='hidden'/>
                    </form>
                </div>
   			</div>
        </div>
        <form id='organizationEditor' name='organizationEditor' method='post' enctype='multipart/form-data' form-Submit='saveClick()'>
            <div class='inline head'>
                <h1><span id='organizationName' name='organizationName' ng-model='selectedOrganization.name' xeditable href='javascript:;' data-emptytext='Enter Organization Name'
                          data-placeholder='Enter Organization Name' data-type='text'
                          ng-class="{ error: organizationEditor.organizationName.$error.duplicate || organizationEditor.organizationName.$error.alphaNumeric || organizationEditor.organizationName.$error.spaces}"
                          required alpha-numeric has-whitespace='suggestedName'
                          is-Duplicate is-Duplicate-Array='organizations' is-Duplicate-Id-Field='id' is-Duplicate-Case-Sensitive='false'></span></h1>
                <div class='errors'>
                    <span ng-show="organizationEditor.organizationName.$error.duplicate" style='color: #b94a48;'>Name is already in use</span>
                    <span ng-show="organizationEditor.organizationName.$error.alphaNumeric"  style='color: #b94a48;'>Name must be alpha numeric</span>
                    <span ng-show="organizationEditor.organizationName.$error.spaces" style='color: #b94a48;'>No leading, trailing or double spaces or tabs in name<br/>Suggested name: {{suggestedName}}</span>
                </div>
            </div>
            <div ng-show='isFormDirty() || !selectedOrganization.id' style='margin-top: 5px;'>
                <button class='btn' type='button' ng-click="cancelClick()">Cancel</button>
                <button class='btn btn-primary' ng-disabled='!canSaveEdit()'>Save</button>
            </div>
	    </form>
    <div ng-switch on='selectedOrganization.id'>
        <div ng-switch-when='null'></div>
        <div ng-switch-default>
          <ul class='tri-pane'>
            <li ng-class='{ active : isCurrentTab("policies") || isCurrentTab("policies.edit")}'>
              <a ng-href='#/management/organization/{{$state.params.organizationId}}/policies'>POLICIES</a>
            </li>
            <li ng-class='{ active : isCurrentTab("labels")}'>
              <a ng-href='#/management/organization/{{$state.params.organizationId}}/labels'>LABELS</a>
            </li>
            <li ng-class='{ active : isCurrentTab("licenses")}'>
              <a ng-href='#/management/organization/{{$state.params.organizationId}}/licenses'>LICENSES</a>
            </li>
				<li ng-class='{ active : isCurrentTab("security")}'>
					<a ng-href='#/management/application/{{$state.params.applicationPublicId}}/security'>SECURITY</a>
				</li>
          </ul>
            <div ui-view></div>
        </div>
    </div>
    <div id='deleteOrganizationModal' data-backdrop='static' class='modal hide'>
        <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal'>&times;</button>
            <h3>Delete Organization</h3>
        </div>
        <div class='modal-body'>
            <p>Are you sure you want to delete the organization <strong>{{selectedOrganization.name}}</strong>? This will delete all
                policies, license groups and applications associated with this organization.</p>
        </div>
        <div class='modal-footer'>
            <button class='btn' data-dismiss='modal'>Cancel</button>
            <button class='btn btn-danger' ng-disabled='!deletedEnabled' ng-click='deleteOrganization();'>Delete</button>
        </div>
    </div>
</div>
