<div style='padding: 5px 10px 5px 5px'>
	<div>
		<form id="organizationEditor" name="organizationEditor" class="editorHeader">
			<div class='form-actions' style='padding-right: 25px; margin-bottom: 0px; margin-top: 0px;'>
				<table style="width:100%;">
					<tr>
						<td>
							<div inline-editor editor-value="selectedOrganization.name" editor-large="true" editor-placeholder="Enter name..."
								force-edit="selectedOrganization.id == null"></div>
						</td>
						<td style="text-align:right;">
							<button type='button' class='btn' ng-click="cancelOrgClick()">Cancel</button>
							<button type='none' class='btn btn-primary' ng-click="saveOrgClick()" ng-disabled="organizationEditor.$invalid">Save</button>
						</td>
					</tr>
				</table>
			</div>
		</form>
		<div error-Modal></div>
		<div ui-view></div>
	</div>
</div>