<div class='fade' ng-class='{ in : selectedOrganization != null}'>
	<div alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</div>
	<form id='organizationEditor' name='organizationEditor' action='{{addOrganizationSync}}' method='post' enctype='multipart/form-data'
          onsubmit='return angular.element(this).scope().saveClick()'>
       	<div ng-show='isUploadingIcon'>
            <div class="alert alert-info">
                <strong>Uploading Icon...</strong>
            </div>
        </div>
		<div class="editorHeader">
			<div class='editorImage'>
				<div class='displayImage'>
					<div ng-switch on='hasRobotSource'>
	                       <img ng-switch-when='false' id='userIcon' ng-src='{{userIconSource}}' />
	                       <img ng-switch-when='true' id='robotIcon' ng-src='../rest/organization/services/generateIcon/{{robotHash}}'/>
					</div>
				</div>
                <div class='editImage'>
                    <a type="button" class='btn' onclick="javascript:document.getElementById('file').click();"
                           ng-show='allowsInputViaJS'>Choose Icon</a>
                    <input name='file' id='file' type='file' accept='image/*' onchange='angular.element(this).scope().fileChanged(this)'
                           ng-show='!allowsInputViaJS' />
                    <a ng-click='generateIcon()'>Want a robot?</a>
                </div>
   			</div>
            <div class='inline head'>
                <h1><span id='organizationName' name='organizationName' ng-model='selectedOrganization.name' xeditable href='javascript:;' data-emptytext='Enter Organization Name'
                          data-placeholder='Enter Organization Name' data-type='text'
                          ng-class="{ error: organizationEditor.organizationName.$error.duplicate || organizationEditor.organizationName.$error.alphaNumeric || organizationEditor.organizationName.$error.spaces}"
                          alpha-numeric has-whitespace='suggestedName'
                          is-Duplicate is-Duplicate-Array='organizations' is-Duplicate-Id-Field='name' is-Duplicate-Case-Sensitive='false'></span></h1>
                <div>
                    <span ng-show="organizationEditor.organizationName.$error.duplicate" style='color: #b94a48;'>Name is already in use</span>
                    <span ng-show="organizationEditor.organizationName.$error.alphaNumeric"  style='color: #b94a48;'>Name must be alpha numeric</span>
                    <span ng-show="organizationEditor.organizationName.$error.spaces" style='color: #b94a48;'>No leading, trailing or double spaces or tabs in name<br/>Suggested name: {{suggestedName}}</span>
                </div>
            </div>
			<input name='organizationId' ng-model='organizationId' type='hidden'/>
			<input name='hasRobotSource' ng-model='hasRobotSource' type='hidden'/>
            <input name='robotHash' ng-model='robotHash' type='hidden'/>
		</div>
		<div ng-show='isFormDirty() || !selectedOrganization.id' style='margin-top: 5px;'>
           	<button class='btn' type='button' ng-click="cancelClick()">Cancel</button>
            <button class='btn btn-primary' ng-disabled='!canSaveEdit()'>Save</button>
		</div>
	</form>
    <div ng-switch on='selectedOrganization.id'>
        <div ng-switch-when='null'></div>
        <div ng-switch-default>
            <ul class='tri-pane'>
				<li ng-class='{ active : isCurrentTab("policies") || isCurrentTab("policies.edit")}'>
					<a ng-href='#/management/organization/{{$state.params.organizationId}}/policies'>POLICIES</a>
				</li>
                <li ng-class='{ active : isCurrentTab("licenses")}'>
                    <a ng-href='#/management/organization/{{$state.params.organizationId}}/licenses'>LICENSES</a>
                </li>
            </ul>
            <div ui-view></div>
        </div>
    </div>
</div>