<div class="scrollable-root-container" maximize-container-height>
  <div load-wrapper="error" reload="doLoad()">
    <div id="webhooks-list" class="iq-tile iq-tile--sys-prefs">
      <div class="iq-tile-header iq-tile-header--sys-prefs">
        <div class="iq-tile__actions">
          <button class="btn btn-tertiary" ng-click="vm.newWebhook()" id="create-webhook">
            <i class="icon icon-plus"></i> Add a Webhook
          </button>
        </div>
        <div class="iq-tile-header__title">
          <div class="iq-tile-header__icon">
            <img src="img/webhooks_20px.png" class="webhooks-icon" alt="Webhooks">
          </div>
          <h1>Webhooks</h1>
        </div>
        <div class="iq-tile-header__subtitle">
          IQ Server will send a POST request to the specified URL when the associated events occur.
        </div>
      </div>
      <div class="iq-tile-content">
        <ul class="iq-action-list">
          <li class="iq-action-list__item iq-action-list__item--empty" ng-if="vm.webhooks.length <= 0">
            No webhooks are defined
          </li>
          <li class="iq-action-list__item iq-action-list__item--tall"
              ng-repeat="webhook in vm.webhooks"
              ui-sref="webhooks.edit({webhookId: webhook.id})">
            <i class="fa fa-chevron-right iq-pull-right"></i>
            <p class="iq-action-list__text">
              <img src="img/webhooks_16px.png" class="webhook-icon" alt="Webhooks">{{::webhook.url}}
            </p>
            <p class="iq-action-list__subtext">
              <span ng-repeat="eventType in webhook.eventTypes">
                <i class="fa fa-circle size-10px" title="{{::eventType}}"/>{{::eventType}}
              </span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
