.repository-configuration-list {
  .fa-check-circle {
    color: $iq-valid-color;
    margin-right: 8px;
  }

  .fa-times-circle {
    color: $iq-grey-4;
    margin-right: 8px;
  }

  .fa-external-link {
    margin-right: 5px;
    vertical-align: middle;
  }

  .repository-configuration-list__manager-id, .repository-configuration-list__enabled {
    width: 1px;
    white-space: nowrap;
  }
}
