<div
  id="owner-pill-retention"
  class="iq-tile"
  ng-if="vm.isOrganization"
  load-wrapper="vm.error"
  loading="!vm.applicationReports"
  reload="vm.load()"
>
  <div class="iq-tile__actions">
    <button
      id="edit-retention-button"
      class="iq-btn iq-btn--tertiary"
      same-owner-edit-sref="edit-data-retention"
    >
      <i class="fa fa-edit"></i>Edit
    </button>
  </div>
  <div class="iq-tile-header">
    <div class="iq-tile-header__title">
      <i class="fa fa-archive size-20px slate iq-tile-header__icon"></i>
      <h2>Data Retention</h2>
    </div>
    <div class="iq-tile-header__subtitle">applying to {{vm.ownerName}}</div>
  </div>
  <h4 class="iq-list__title">Application Reports</h4>
  <table class="iq-table">
    <thead>
      <tr class="iq-table-row">
        <th class="iq-cell iq-cell--header iq-cell--retention-title"></th>
        <th
          class="iq-cell iq-cell--header"
          ng-repeat="(stage, retention) in vm.applicationReports.stages"
        >
          {{::stage}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="iq-table-row">
        <td class="iq-cell iq-cell--retention-title">Max Age</td>
        <td
          class="iq-cell"
          ng-repeat="applicationReport in vm.applicationReports.stages"
        >
          {{::vm.getMaxAge(applicationReport)}}
        </td>
      </tr>
      <tr class="iq-table-row">
        <td class="iq-cell iq-cell--retention-title">Max Reports</td>
        <td
          class="iq-cell"
          ng-repeat="applicationReport in vm.applicationReports.stages"
        >
          {{::vm.getMaxReports(applicationReport)}}
        </td>
      </tr>
    </tbody>
  </table>
  <h4 class="iq-list__title">Success Metrics</h4>
  <div class="iq-read-only-data" id="success-metrics-retention-tile">
    {{::vm.getSuccessMetricsMaxAge()}}
  </div>
</div>
