<span class='condition-value'>
	<select ng-model="condition.conditionTypeId" ng-change="conditionTypeChanged(condition)" ng-options="conditionType.id as conditionType.name for (key,conditionType) in conditionTypes">
	</select>
	<select ng-model="condition.operator" ng-show="conditionType.id == condition.conditionTypeId" ng-repeat="conditionType in conditionTypes" ng-options="operator for operator in conditionTypes[conditionType.id].supportedOperators">
	</select>
	<span ng-switch on='conditionTypes[condition.conditionTypeId].valueTypeId' name="typeid">
		<select ng-model="condition.value" ng-switch-when="LicenseCategoryValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="LicenseValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-options="c.id as c.shortDisplayName for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="LicenseThreatGroupValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="LicenseStatusValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="IdentificationSourceValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="MatchStateValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="SecurityVulnerabilityStatusValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" required>
		</select>
		<span label-drop-down ng-model="condition.value" ng-switch-when="LabelValueType" options="conditionTypes[condition.conditionTypeId].valueType.availableValues" required>
		</span>
		<span ng-switch-when="AgeInDaysValueType" age-in-days ng-model="condition.value">
		</span>
		<input type="text" ng-model="condition.value" placeholder='{{condition.conditionType.valueHint}}' ng-switch-when="PercentageValueType" ng-pattern='/^((\d{1,2})|(100))$/' required>
		<span ng-switch-default ng-switch on='conditionTypes[condition.conditionTypeId].valueType.dataType'>
			<input name="conditionValue" type="text" ng-model="condition.value" placeholder='{{condition.conditionType.valueHint}}' ng-switch-when="String" required>
			<input name="conditionValue" type="text" ng-model="condition.value" placeholder='{{condition.conditionType.valueHint}}' ng-switch-when="Integer" ng-pattern='/^(\d|10)$/' title="Please enter a whole number" required>
			<input name="conditionValue" type="text" ng-model="condition.value" placeholder='{{condition.conditionType.valueHint}}' ng-switch-when="Float" ng-pattern='/^\d+(\.\d+)?$/' title="Please enter a decimal number" required>
		</span>
	</span>
</span>