<span>
	<select ng-model="condition.conditionTypeId" ng-change="conditionTypeChanged(condition)" ng-options="conditionType.id as conditionType.name for (key,conditionType) in conditionTypes" style="vertical-align:top;">
	</select>
	<select ng-model="condition.operator" ng-change="validateConstraint()" ng-show="conditionType.id == condition.conditionTypeId" ng-repeat="conditionType in conditionTypes" ng-options="operator for operator in conditionTypes[conditionType.id].supportedOperators" style="vertical-align:top;">
	</select>
	<span ng-switch on='conditionTypes[condition.conditionTypeId].valueTypeId'>
		<select ng-model="condition.value" ng-switch-when="LicenseCategoryValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-change="validateConstraint()" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" style="vertical-align:top;" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="LicenseValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-change="validateConstraint()" ng-options="c.id as c.shortDisplayName for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" style="vertical-align:top;" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="LicenseThreatGroupValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-change="validateConstraint()" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" style="vertical-align:top;" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="LicenseStatusValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-change="validateConstraint()" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" style="vertical-align:top;" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="IdentificationSourceValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-change="validateConstraint()" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" style="vertical-align:top;" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="MatchStateValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-change="validateConstraint()" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" style="vertical-align:top;" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="SecurityVulnerabilityStatusValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-change="validateConstraint()" ng-options="c.id as c.name for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" style="vertical-align:top;" required>
		</select>
		<select ng-model="condition.value" ng-switch-when="LabelValueType" ng-multiple="conditionTypes[condition.conditionTypeId].valueType.allowMultiple" ng-change="validateConstraint()" ng-options="c.id as c.label for c in conditionTypes[condition.conditionTypeId].valueType.availableValues" style="vertical-align:top;" required>
		</select>
		<span ng-switch-when="AgeInDaysValueType">
			<input type="number" style="width:100px;" ng-model="condition.v" placeholder='{{condition.conditionType.valueHint}}' ng-change="updateAge(condition);validateConstraint();" style="vertical-align:top;" required>
			<select style="width:100px;" ng-model="condition.valueModifier" ng-change="updateAge(condition);validateConstraint();" ng-options="timeSpan.value as timeSpan.name for timeSpan in [{'value':1, 'name':'Days'},{'value':30, 'name':'Months'},{'value':365, 'name':'Years'}]" style="vertical-align:top;" required>
			</select>
		</span>
		<input type="number" ng-model="condition.value" placeholder='{{condition.conditionType.valueHint}}' ng-switch-when="PercentageValueType" min='0' max='100' ng-change="validateConstraint()" style="vertical-align:top;" required>
		<span ng-switch-default ng-switch on='conditionTypes[condition.conditionTypeId].valueType.dataType'>
			<input type="text" ng-model="condition.value" placeholder='{{condition.conditionType.valueHint}}' ng-switch-when="String" ng-change="validateConstraint()" style="vertical-align:top;" required>
			<input type="number" ng-model="condition.value" placeholder='{{condition.conditionType.valueHint}}' ng-switch-when="Integer" min='0' max='10' ng-change="validateConstraint()" style="vertical-align:top;" required>
			<input type="text" ng-model="condition.value" placeholder='{{condition.conditionType.valueHint}}' ng-switch-when="Float" ng-pattern='/^\d+(\.\d+)?$/' ng-change="validateConstraint()" style="vertical-align:top;" required>
		</span>
	</span>
</span>