<div inline-constraint-editor='constraint'>
	<div class='control-group' style="margin-bottom: 0px;">
		<div>
			<div style="text-align: left;" ng-repeat="condition in constraint.conditions">
				<span style="padding-left:25px;"ng-include='"../assets/components/policy-editor/condition-editor.html"'></span>
				<div class="btn-group" style='vertical-align: top'>
					<button class="btn" type='button' ng-click="removeCondition($index)" title="Remove Condition" ng-disabled="constraint.conditions.length <= 1">
						<i class="icon-minus-sign"></i>
					</button>
					<button class="btn" type='button' ng-click="addCondition()" title="Add Condition">
						<i class="icon-plus-sign"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div style='padding-left: 25px'>
		<select ng-model="constraint.operator" ng-change="validateConstraint()"
			ng-options="operator.value as operator.name for operator in constraintConditionChoices" required style='magin: 0'>
			<option value="" ng-selected="constraint.operator == null">Any or All</option>
		</select> of the above conditions will trigger this constraint.
	</div>
</div>