<div>
	<div show-if='!policy'>
		<button type='button' class='btn btn-primary add-new' ng-click='click()' style='width:206px' focus-input-on-click focus-input='quickAddPolicyNameInput'>
			<i class='icon-white icon-plus'></i> New Policy
		</button>
	</div>
	<div show-if='policy'>
		<div ng-controller='PolicyEditorController' style='width:840px'>
			<form style='margin-bottom:0px' name='quickAddPolicyEditor'>
				<div class="control-group" ng-class='{ error : quickAddPolicyEditor.name.$error.alphaNumeric || quickAddPolicyEditor.name.$error.spaces }'>
					<input id='quickAddPolicyNameInput' ng-click='click()' name='name' type='text' placeholder='New Policy' ng-model='policy.name' style='margin-bottom:0px' required maxlength='60' alpha-numeric has-whitespace='suggestedName'>
					<span class='policy'><span threat-box selected='policy.threatLevel' one='1' zero='0 (None)'></span></span>
					<span ng-show="quickAddPolicyEditor.name.$error.alphaNumeric" class="help-inline">Must be alpha numeric</span>
					<span ng-show="quickAddPolicyEditor.name.$error.spaces && !quickAddPolicyEditor.name.$error.alphaNumeric" class="help-inline">No leading, trailing or double spaces or tabs, suggested name: {{suggestedName}}</span>
				</div>
				<div>
					<div inline-constraint-editor='policy.constraints[0]'>
						<input type="text"  ng-model="constraint.name" placeholder='Constraint Name...' required>
						<div class='control-group' style="margin-bottom:0px;">
							<div class='well' style="min-height:120px;max-height:120px;overflow:auto;">
								<div style="text-align:left;" ng-repeat="condition in constraint.conditions">
									<span ng-include='"../assets/components/policy-editor/condition-editor.html"'></span>
									<div class="btn-group" style='vertical-align:top'>
										<button class="btn" type='button' ng-click="removeCondition($index)" title="Remove Condition" ng-disabled="constraint.conditions.length <= 1"><i class="icon-minus-sign"></i></button>
										<button class="btn" type='button' ng-click="addCondition()" title="Add Condition"><i class="icon-plus-sign"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div style='padding-left:25px'>
							<select ng-model="constraint.operator"
									ng-options="operator.value as operator.name for operator in constraintConditionChoices"
									required style='magin:0'>
								<option value="" ng-selected="constraint.operator == null">Any/All</option>
							</select>
							of the above conditions will trigger this constraint.
						</div>
					</div>
					<div clm-alerts='alerts'></div>
					<div style='text-align:right'>
						<button class='btn' type='button' ng-click='cancel()'>Cancel</button>
						<button class='btn btn-primary' type='button' ng-click='savePolicy()'>Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>