<div ng-controller="PolicyViolationsController" style='padding:5px' class='policyViolations'>
	<style type='text/css'>
		.border-bottom, .threat-level, .policy-name, .components {
			border-bottom:2px solid black;
		}
		.border-left, .page-body {
			border-left:2px solid black;
		}
		.border-right, .page-body {
			border-right:2px solid black;
		}
		.border-top, .page-body {
			border-top:2px solid black;
		}
		.light-border-bottom {
			border-bottom:1px solid black;
		}
		.page-body {
			width:100%;
			background-color:#E6E6E6;
		}
		.threat-level {
			width:2%;
			padding:4 0 4 4;
		}
		.policy-name {
			width:31%;
			vertical-align:top;
			padding:4 4 4 0;
		}
		.components {
			width:67%;
			padding:4 4 4 0;
		}
		.red {
			background-color:#EE1B24;
		}
		.orange {
			background-color:#F7941D;
		}
		.yellow {
			background-color:#FEDF15;
		}
		.blue {
			background-color:#6E99D0;
		}
		.action-text {
			padding-left:40px;
			padding-top:5px;
			color:#6E99D0;
		}
		.conditionText {
			color:#6E99D0;
		}
	</style>
	<table class="page-body">
		<tr ng-repeat="policyAlert in policyAlerts">
			<td class="threat-level {{policyAlert.color}}">
			</td>
			<td class="policy-name">	
				<div>
					<div style="padding-left:4px;"><b>{{policyAlert.trigger.policyName}}</b></div>
					<div class="action-text">
						<div ng-repeat="action in policyAlert.actions"><i><b>{{action.summary}}</b></i></div>
					</div>
				</div>
			</td>
			<td class="components">
				<div>
					<div class="light-border-bottom">
						<div ng-show="policyAlert.componentFact.groupId">
							<b>GAV:</b> {{policyAlert.componentFact.groupId}} : {{policyAlert.componentFact.artifactId}} : {{policyAlert.componentFact.version}}
						</div>
						<div ng-show="!policyAlert.componentFact.groupId">
							<b>Hash:</b> {{policyAlert.componentFact.hash}}
						</div>
					</div>
					<table>
						<tr ng-repeat="constraintFact in policyAlert.componentFact.constraintFacts">
							<td style="vertical-align:top;">{{constraintFact.constraintName}}</td>
							<td style="padding-left:20px;">
								<div ng-repeat="conditionFact in constraintFact.conditionFacts">
									<div>{{conditionFact.summary}}</div>
									<div class="conditionText">{{conditionFact.reason}}</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>