<div ng-controller="PolicyViolationsController" class='policyViolations'>
	<style type='text/css'>
.cip-policy-table {
	width: 100%;
	border-bottom: 1px solid #CFD0D2;
	border-left: 1px solid #CFD0D2;
	border-right: 1px solid #CFD0D2;
}

.cip-policy-table-header,.cip-policy-table-header-last {
	border-left: 1px solid #CFD0D2 !important;
	border-top: 1px solid #CFD0D2 !important;
	padding: 0px !important;
}

.cip-policy-table-header-last {
	border-right: 1px solid #CFD0D2 !important;
}

.cip-policy-table-header > div,.cip-policy-table-header-last > div {
	/* For IE */
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#FAFAFC,
		endColorstr=#CFD0D2 );
	/* For Chrome and Safari */
	background-image: -webkit-linear-gradient(top, #FAFAFC, #FAFAFC 25%, #CFD0D2);
	/* For old Fx (3.6 to 15) */
	background-image: -moz-linear-gradient(top, #FAFAFC, #FAFAFC 25%, #CFD0D2);
	/* For pre-releases of IE 10*/
	background-image: -ms-linear-gradient(top, #FAFAFC, #FAFAFC 25%, #CFD0D2);
	/* For old Opera (11.1 to 12.0) */
	background-image: -o-linear-gradient(top, #FAFAFC, #FAFAFC 25%, #CFD0D2);
	/* Standard syntax; must be last */
	background-image: linear-gradient(to bottom, #FAFAFC, #FAFAFC 25%, #CFD0D2);
	line-height: 16px !important;
	font-size: 12px;
	font-weight: bold;
	padding: 4px !important;
	height: 100%;
}

.cip-policy {
	padding: 4px 0 0 15px !important;
	height: 100%;
}

.cip-policy-red {
	background: url("public/bg-score-critical.png") repeat-y scroll 0 0
		transparent;
}

.cip-policy-orange {
	background: url("public/bg-score-severe.png") repeat-y scroll 0 0
		transparent;
}

.cip-policy-yellow {
	background: url("public/bg-score-moderate.png") repeat-y scroll 0 0
		transparent;
}

.cip-policy-blue {
	background: url("public/bg-score-none.png") repeat-y scroll 0 0
		transparent;
}

.cip-policy-text-red {
	color: #A91113;
}

.cip-policy-text-orange {
	color: #CB7A16;
}

.cip-policy-text-yellow {
	color: #D4B718;
}

.cip-policy-text-blue {
	color: #005399;
}
</style>
	<table class="table table-condensed table-striped cip-policy-table" border="0" cellpadding="0" cellspacing="0">
		<thead>
			<th class="cip-policy-table-header" colspan="2"><div>Policy/<i>Action</i></div></th>
			<th class="cip-policy-table-header"><div>Constraint</div></th>
			<th class="cip-policy-table-header-last"><div>Condition Value</div></th>
		</thead>
		<tr ng-repeat="policyAlert in processedPolicyAlerts">
			<td style="padding: 0 !important;">
				<div class="cip-policy cip-policy-{{policyAlert.color}}">&nbsp;</div>
			</td>
			<td align="left" valign="top" height="100%">
				<div class="cip-policy-text-{{policyAlert.color}}">
					<b>{{policyAlert.name}}</b>
				</div>
				<ul>
					<li ng-repeat="action in policyAlert.actions"><i>{{action}}</i></li>
				</ul>
			</td>
			<td valign="top" align="left">
				<div ng-repeat="constraint in policyAlert.constraints">
					<div ng-repeat="conditionFact in constraint.conditionFacts">
						<div style="color: #555555;" ng-show="$index == 0">
							<b>{{constraint.constraintName}}</b>
						</div>
						<div ng-show="$index > 0">&nbsp;</div>
					</div>
				</div>
			</td>
			<td>
				<div ng-repeat="constraint in policyAlert.constraints">
					<div ng-repeat="conditionFact in constraint.conditionFacts" style="color: #555555;">{{conditionFact.reason}}</div>
				</div>
			</td>
		</tr>
	</table>
	<div ng-show='policyAlerts.length == 0'>
		<b>No Policy Violations</b>
	</div>
</div>