<div ng-controller="PolicyViolationsController" style='padding:5px' class='policyViolations'>
	<style type='text/css'>
		.cip-policy-page-body {
			width:100%;
			background-color:#E6E6E6;
		}
		.cip-policy-bordered {
			border: 2px solid black
		}
		.cip-policy-threat-level {
			width:2%;
		}
		.cip-policy-name {
			width:31%;
			vertical-align:top;
			padding: 4px;
		}
		.cip-policy-components {
			width:67%;
		}
		.cip-policy-components table {
			margin:4px 0 4px 0;width:100%
		}
		.cip-policy-red {
			background-color:#EE1B24;
		}
		.cip-policy-orange {
			background-color:#F7941D;
		}
		.cip-policy-yellow {
			background-color:#FEDF15;
		}
		.cip-policy-blue {
			background-color:#6E99D0;
		}
		.cip-policy-action-text {
			padding-left:40px;
			padding-top:5px;
			color:#6E99D0;
		}
		.cip-policy-conditionText {
			color:#6E99D0;
		}
	</style>
	<table class="cip-policy-page-body">
		<tr ng-repeat="policyAlert in processedPolicyAlerts" class='cip-policy-bordered'>
			<td class="cip-policy-threat-level cip-policy-{{policyAlert.color}}">
			</td>
			<td class="cip-policy-name">
				<div><b>{{policyAlert.name}}</b></div>
				<div class="cip-policy-action-text">
					<div ng-repeat="action in policyAlert.actions"><i><b>{{action}}</b></i></div>
				</div>
			</td>
			<td class="cip-policy-components">
				<table>
					<tr ng-repeat="constraint in policyAlert.constraints">
						<td style="vertical-align:top;width:25%">{{constraint.constraintName}}</td>
						<td style="padding-left:20px;">
							<div ng-repeat="conditionFact in constraint.conditionFacts">
								<div>{{conditionFact.summary}}</div>
								<div class="cip-policy-conditionText">{{conditionFact.reason}}</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<div ng-show='policyAlerts.length == 0'>
		<b>No Policy Violations</b>
	</div>
</div>