<div ng-controller="LabelsController" style='padding:5px' class='labelEditor'>
	<style type='text/css'>

	.clmLabel {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		font-size: 12px;
		overflow: hidden;
		text-align: center;
		border-color: #AFBFCF;
	}

	span.clmLabel {
		margin: 0;
		padding: 1px 3px;
		vertical-align: top;
		display: inline-block;
		max-height:20px;
	}

	.clmLabel > option[value="0"] {
		background-color: white;
		color : black;
	}

	.whiteLabel, .clmLabel > option[value="1"] {
		background-color: #EEEEEE;
		color : black;
	}

	.greyLabel, .clmLabel > option[value="2"] {
		background-color: #BFBFBF;
		color : black;
	}

	.blackLabel, .clmLabel > option[value="3"] {
		background-color: #444444;
		color : white;
	}

	.greenLabel, .clmLabel > option[value="4"] {
		background-color: #46A546;
		color : white;
	}

	.yellowLabel, .clmLabel > option[value="5"] {
		background-color: #FAF20F;
		color : black;
	}

	.orangeLabel, .clmLabel > option[value="6"] {
		background-color: #F89406;
		color : white;
	}

	.redLabel, .clmLabel > option[value="7"] {
		background-color: #C43C35;
		color : white;
	}

	.blueLabel, .clmLabel > option[value="8"] {
		background-color: #0080FF;
		color : white;
	}

		.clmLabel > .remove {text-shadow:0 1px 0 #ffffff;opacity:0.4;filter:alpha(opacity=40);}
		.clmLabel > .remove:hover {text-decoration:none;cursor:pointer;opacity:0.8;filter:alpha(opacity=80);}
		.availableContainer, .appliedContainer {border:1px solid black;border-radius:4px;padding:5px;overflow-y:auto}
		.appliedContainer {height:60px;margin-bottom:5px}
		.availableContainer {height:94px}
		.labelEditor .clmLabel {margin-right:5px}
		.labelEditor .icon-refresh, .clmLabel > .icon-plus-sign, .clmLabel > .icon-minus-sign {cursor:pointer;opacity:0.5;filter:alpha(opacity=50);vertical-align:top;margin-top:1px }
		.labelEditor .icon-refresh:hover, .clmLabel > .icon-plus-sign:hover, .clmLabel > .icon-minus-sign:hover {opacity:1.0; filter:alpha(opacity=100)}
		.clmLabel > span {max-width:380px;overflow:hidden;text-overflow:ellipsis;display:inline-block}
	</style>
	<div style='float:right;width:49.5%;margin-bottom:10px'>
		<h5>Available <i class='icon-refresh' ng-click='reloadAppLabels($event)'></i></h5>
		<div class='availableContainer'>
			<span ng-repeat='label in availableLabels  | filter:isApplied | orderBy:"label"' class='clmLabel {{label.color}}Label' title='{{label.label}}'><span>{{label.label}}</span>&nbsp;<i class='icon-plus-sign' ng-class='{ "icon-white" : isWhite(label) }' ng-click='addLabel(label)'></i></span>
		</div>
	</div>
	<div style='width:49.5%;margin-bottom:10px'>
		<h5>Applied <i class='icon-refresh' ng-click='reloadLabels($event)'></i></h5>
		<div class='appliedContainer'>
			<span ng-repeat='label in itemLabels | orderBy:"label"' class='clmLabel {{label.color}}Label' title='{{label.label}}'><span>{{label.label}}</span>&nbsp;<i class='icon-minus-sign' ng-class='{ "icon-white" : isWhite(label) }' ng-click='removeLabel(label)'></i></span>
		</div>
		<div>
			<form class='form-inline' ng-submit='addLabels($event);' >
				<input type='text' style='width:64%' ng-model='labelInput' ng-change='checkLength()' placeholder='Space separated list of labels' disablenav />&nbsp;
				<select style='width:20%' class='clmLabel {{color}}Label' ng-model='color' ng-options='c.color as c.text for c in colors' disablenav />
				<button type='submit' class='btn btn-small btn-inverse'> Add </button>
			</form>
		</div>
	</div>
	<div ng-show='editErrorResponse'>
		<div class='alert alert-error'>
			<button type="button" class="close" ng-click='editErrorResponse = null'>&times;</button>
			<strong>Error</strong> {{editErrorResponse}}
		</div>
	</div>
	<div ng-show='oversize'>
		<div class='alert alert-warning'>
			<strong>Warning</strong> Labels are limited to 50 characters
		</div>
	</div>
	<ul>
		<li>Label components to create general categories and to optionally create alert conditions based on a label. For example a condition on components with the label 'banned'.</li>
		<li>Labels are case insensitive and cannot be duplicated, subsequent labels will be ignored. For example 'Approved' is the same as 'APPROVED' and the second form cannot be added until the first is removed.</li>
		<li>Multiple labels can be added at once by separating them with spaces.</li>
	</ul>
</div>