<div id="label">
	<div ng-show='!features.labels' class="span6 offset4 no-content">Label content is under development..</div>
    <div ng-show='features.labels' class='span4 content-container'>
        <table class='table table-striped' style='margin-bottom:0px'>
            <thead><tr><th colspan='2'>Label</th></tr></thead>
            <tr ng-repeat="label in labels | orderBy:'label'">
                <td style='min-height:24px'><span class="clmLabel {{label.color}}Label">{{label.label}}</span></td>
                <td style='width:60px'><button ng-click='editLabel(label)' class="btn btn-mini btn-edit hover-vis" title="Edit Label"><i class="icon-pencil" style="margin-top:0px;"></i></button> <button ng-click='confirmDeleteLabel(label)' class="btn btn-mini btn-delete hover-vis" title="Delete Label"><i class="icon-trash" style="margin-top:0px;"></i></button></td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan='2' style='text-align:right;'><button class='btn btn-add btn-info' ng-click='editLabel()'><i class='icon-white icon-plus-sign'> </i> Add Label</button></td>
                </tr>
            </tfoot>
        </table>
    </div>
	<div id="labelEditModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 ng-show='selectedLabel.id == null'>Add Label</h3>
            <h3 ng-show='selectedLabel.id != null'>Edit Label</h3>
		</div>
		<div ng-include='editorUrl'>
		</div>
	</div>
	<div id="deleteLabelModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">×</button>
		    <h3>Delete Label?</h3>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to delete the label <span class="clmLabel {{selectedLabel.color}}Label">{{selectedLabel.label}}</span>?</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
		    <button class="btn btn-primary" ng-disabled='!deletedEnabled' ng-click="deleteLabel()">Delete</button>
		</div>
	</div>
	<div id="labelErrorModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">×</button>
		    <h3>Error</h3>
		</div>
		<div class="modal-body">
			{{errorResponse}}
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal">OK</button>
		</div>
	</div>
</div>