<div>
  <script type="text/ng-template" id="change-password-template">
    <div>
      <div class="clm-modal-header">
        <h2>Change Password</h2>
      </div>
      <form name="passwordForm" class="clm-form" ng-submit="save()">
        <div class="clm-modal-body">
          <div clm-control-group for="originalPassword" label="Current Password">
            <input clm-input
                   type="password"
                   id="originalPassword"
                   name="originalPassword"
                   ng-model="result.originalPassword"
                   required
                   focus-input="true">
          </div>
          <hr/>
          <div clm-control-group for="newPassword" label="New Password">
            <input clm-input type="password" id="newPassword" name="newPassword" ng-model="result.newPassword" required>
          </div>
          <div clm-control-group for="confirmPassword" label="Confirm New Password">
            <input clm-input
                   type="password"
                   id="confirmPassword"
                   name="confirmPassword"
                   ng-model="result.confirmPassword"
                   required ui-validate=" '$value==result.newPassword' "
                   ui-validate-watch=" 'result.newPassword' "
                   messages="{validator: 'Passwords must match!'}">
          </div>
        </div>
        <div class="clm-modal-footer" ng-class="{error: error}">
          <div ng-if="error" class="section with-icon"><i class="fa fa-warning"></i>{{error}}</div>
          <button type="submit"
                  class="btn btn-error"
                  id="change-password-submit"
                  ng-if="error"
                  ng-disabled="passwordForm.$invalid || submitActive">
            <i class="fa fa-refresh"></i>Retry
          </button>
          <button type="submit"
                  class="btn btn-primary"
                  id="change-password-submit"
                  ng-if="!error"
                  ng-disabled="passwordForm.$invalid || submitActive">
            Change
          </button>
          <button type="button" class="btn btn-cancel" ng-click="$dismiss()">Cancel</button>
        </div>
      </form>
    </div>
  </script>
  <div id="user-menu" class="dropdown iq-dropdown iq-dropdown--user-menu">
    <a id="user-menu-dropdown-toggle"
       class="iq-dropdown-toggle iq-dropdown-toggle--main-header iq-dropdown-toggle--user-menu"
       data-toggle="dropdown">
      <i class="glyphicons-sonatype medium user"></i>
      <span id="user-name">
        {{vm.currentUser.displayName }}
        <i class="fa fa-caret-down"></i>
      </span>
    </a>
    <div class="dropdown-menu iq-dropdown-menu iq-dropdown-menu--main-header">
      <h4 class="iq-dropdown-menu__title">CURRENT&nbsp;USER</h4>
      <div ng-show="vm.canChangePassword()">
        <a id="change-password"
           ng-click="vm.changePassword()"
           class="iq-dropdown-menu__link--main-header">
          Change Password
        </a>
      </div>
      <a id="logout" ng-click="vm.logout()" class="iq-dropdown-menu__link--main-header">Logout</a>
    </div>
  </div>
</div>
