[Unit]
Description=Sonatype IQ Service
After=network-online.target

[Service]
Type=forking
ExecStart=/opt/sonatype-iq-server/sonatype-iq-server start
ExecStop=/opt/sonatype-iq-server/sonatype-iq-server stop
WorkingDirectory=/opt/sonatype-iq-server
User=iqserver
Restart=on-abort
TimeoutSec=600

[Install]
WantedBy=multi-user.target
