<ul id="association-editor"
    class="association-editor"
    ng-class="{'association-editor--multi-column': vm.items.length >= 10}">
  <li ng-repeat="item in vm.items">
    <iq-checkbox ng-if="!vm.isRadioButton"
                 on-click="vm.toggleSelected(item, vm.checkboxParam)"
                 is-checked="item[vm.checkboxParam]"
                 is-disabled="vm.disabled"><!--
   --><hexagon ng-if="vm.icon === 'hexagon'" class="{{::item.color }} size-16px"></hexagon><!--
   --><i ng-if="vm.icon !== 'hexagon'" class="fa {{::vm.icon}} {{::item.color || 'slate'}}"></i><!--
   --><span class="description">{{::item[vm.description] }}</span>
    </iq-checkbox><!--
 --><iq-radio ng-if="vm.isRadioButton" model="vm.selected" value="item" is-disabled="vm.disabled"><!--
   --><hexagon ng-if="vm.icon === 'hexagon'" class="{{::item.color }} size-16px"></hexagon><!--
   --><i ng-if="vm.icon !== 'hexagon'" class="fa {{::vm.icon}} {{::item.color || 'slate'}}"></i><!--
   --><span class="description">{{::item[vm.description]}}</span>
    </iq-radio>
  </li>
</ul>
