<label class="iq-checkbox__label"
       ng-class="{'iq-checkbox--disabled': vm.isDisabled,
                  'iq-checkbox__label--no-text': !vm.hasLabel(),
                  'tm-checked':vm.isChecked,
                  'tm-unchecked':!vm.isChecked}">
  <input type="checkbox"
         class="iq-checkbox__input"
         ng-disabled="vm.isDisabled"
         ng-checked="vm.isChecked"
         ng-click="vm.onClick()">
  <span class="iq-checkbox__box"></span>{{vm.label}}<!--
  --><ng-transclude></ng-transclude>
</label>
