<div load-wrapper="vm.loadError" loading="!vm.actionStages" reload="vm.doLoad()">
  <div id="actions-disabled-message"
       ng-if="!vm.isEnforcementSupported"
       class="iq-alert iq-alert--info iq-alert--form-item">
    <i class="fa fa-info-circle"></i>
    <span ng-if="!vm.isFirewallSupported">Actions are not supported by your product license.</span>
    <span ng-if="vm.isFirewallSupported">Only Proxy Actions are supported with your Firewall product license.</span>
  </div>
  <table id="edit-policy-actions-table" class="iq-table">
    <thead>
      <tr class="iq-table-row">
        <th class="iq-cell iq-cell--header">
          ACTION
        </th>
        <th ng-repeat="actionStage in vm.actionStages"
            class="{{::actionStage.shortName | lowercase}} iq-cell iq-cell--header">
          {{::actionStage.shortName}}
        </th>
        <th class="iq-cell iq-cell--header"></th>
        <th class="iq-cell iq-cell--header iq-cell--header--noborder"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="iq-table-row tm-no-action-row">
        <td class="iq-cell iq-cell--action-name">No Action</td>
        <td ng-repeat="actionStage in vm.actionStages"
            class="iq-cell iq-cell--action {{::actionStage.shortName | lowercase}}"
            ng-class="{active: vm.activeColumn === $index}"
            ng-mouseover="vm.activeColumn = $index"
            ng-mouseleave="vm.activeColumn = -1">
          <iq-radio model="vm.actions[actionStage.stageTypeId]"
                    is-disabled="vm.disabled || !vm.isEnforcementSupportedForStage(actionStage.stageTypeId)"
                    tooltip="{{ !vm.isEnforcementSupportedForStage(actionStage.stageTypeId) ? 'Actions are not supported by your license' : '' }}">
          </iq-radio>
        </td>
        <td class="iq-cell"></td> <!--empty columns for alignment with notifications table-->
        <td class="iq-cell"></td>
      </tr>
      <tr class="iq-table-row tm-row-warn">
        <td class="iq-cell iq-cell--action-name">
          <i class="fa fa-exclamation-triangle warn size-16px"></i>Warn
        </td>
        <td ng-repeat="actionStage in vm.actionStages"
            class="iq-cell iq-cell--action {{::actionStage.shortName | lowercase}}"
            ng-class="{active: vm.activeColumn === $index}"
            ng-mouseover="vm.activeColumn = $index"
            ng-mouseleave="vm.activeColumn = -1">
          <iq-radio model="vm.actions[actionStage.stageTypeId]"
                    is-disabled="vm.disabled || !vm.isEnforcementSupportedForStage(actionStage.stageTypeId)"
                    tooltip="{{ !vm.isEnforcementSupportedForStage(actionStage.stageTypeId) ? 'Actions are not supported by your license' : '' }}"
                    value="'warn'"><!--
         --><i class="fa fa-exclamation-triangle warn size-16px" ng-if="vm.actions[actionStage.stageTypeId] === 'warn'">
            </i>
          </iq-radio>
        </td>
        <td class="iq-cell"></td>
        <td class="iq-cell"></td>
      </tr>
      <tr class="iq-table-row tm-fail-row">
        <td class="iq-cell iq-cell--action-name">
          <i class="fa fa-exclamation-circle fail size-16px"></i>Fail
        </td>
        <td ng-repeat="actionStage in vm.actionStages"
            class="iq-cell iq-cell--action {{::actionStage.shortName | lowercase}}"
            ng-class="{active: vm.activeColumn === $index}"
            ng-mouseover="vm.activeColumn = $index"
            ng-mouseleave="vm.activeColumn = -1">
          <iq-radio model="vm.actions[actionStage.stageTypeId]"
                    is-disabled="vm.disabled || !vm.isEnforcementSupportedForStage(actionStage.stageTypeId)"
                    tooltip="{{ !vm.isEnforcementSupportedForStage(actionStage.stageTypeId) ? 'Actions are not supported by your license' : '' }}"
                    value="'fail'"><!--
         --><i class="fa fa-exclamation-circle fail size-16px" ng-if="vm.actions[actionStage.stageTypeId] === 'fail'">
          </i>
          </iq-radio>
        </td>
        <td class="iq-cell"></td>
        <td class="iq-cell"></td>
      </tr>
    </tbody>
  </table>
  <div id="quarantine-warning-message"
       ng-if="vm.shouldShowQuarantineWarning()"
       class="iq-alert iq-alert--form-item">
    <i class="fa fa-warning"></i>This will quarantine all new components that violate this policy going forward and may
    cause build failures.
  </div>
</div>
