<div load-wrapper="vm.loadError" loading="!vm.conditionTypesMap" reload="vm.doLoad()">
  <div class="iq-policy-constraint" ng-repeat="constraint in vm.constraints" ng-init="constraintIndex = $index">
    <div class="iq-policy-constraint-summaries" ng-if="!vm.editConstraintMap[constraint.id]">
      <div class="iq-policy-constraint__button-container iq-pull-right">
        <button class="iq-btn iq-btn--tertiary iq-btn--icon-only iq-btn--edit-constraint-button"
                type="button"
                ng-click="vm.editConstraintMap[constraint.id] = true"
                ng-disabled="vm.disabled"><!--
        --><i class="fa fa-pencil"></i>
        </button>
        <button class="iq-btn iq-btn--tertiary iq-btn--icon-only iq-btn--delete-constraint-button"
                type="button"
                ng-click="vm.deleteConstraint($index)"
                ng-disabled="vm.constraints.length < 2 || vm.disabled"><!--
        --><i class="fa fa-trash"></i>
        </button>
      </div>
      <div class="iq-policy-constraint-summary">
        <span class="iq-policy-constraint-summary__name">
          {{constraint.name}}
        </span>
        <span class="iq-policy-constraint-summary__subheader" ng-if="constraint.conditions.length > 1">
          is in violation if
          <span class="iq-policy-constraint-summary__operator">{{constraint.operator === "OR" ? "any" : "all"}}</span>
          of the following are true:
        </span>
        <span class="iq-policy-constraint-summary__subheader" ng-if="constraint.conditions.length <= 1">
          is in violation if the following is true:
        </span>
        <div class="iq-list iq-list--bulleted">
          <ul>
            <li class="iq-list__item test-constraint-summary-condition" ng-repeat="condition in constraint.conditions">
              {{:: vm.conditionString(condition)}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="iq-policy-constraint-editor" ng-if="vm.editConstraintMap[constraint.id]">
      <div class="iq-policy-constraint__button-container iq-pull-right">
        <button class="iq-btn iq-btn--tertiary iq-btn--icon-only iq-btn--delete-constraint-button"
                type="button"
                ng-click="vm.deleteConstraint($index)"
                ng-disabled="vm.constraints.length < 2"><!--
       --><i class="fa fa-trash"></i>
        </button>
      </div>
      <div class="iq-form-group">
        <label class="iq-label" for="editor-constraint-name-{{$index}}">Constraint Name</label>
        <input id="editor-constraint-name-{{$index}}"
               class="iq-text-input iq-text-input--wide"
               type="text"
               name="editor-constraint-name-{{$index}}"
               required
               ng-model="constraint.name"
               is-duplicate
               is-duplicate-array="vm.constraints"
               is-duplicate-id-field="id"
               messages="{duplicate: 'Name is already in use'}"
               clm-input>
      </div>
      <div class="iq-form-group">
        <label class="iq-label" for="editor-constraint-operator-{{$index}}">
          Conditions
          <span class="iq-sub-label">This constraint is in violation if</span>
        </label>
        <dropdown-selector id="editor-constraint-operator-{{$index}}"
                           class="iq-policy-constraint__operator"
                           name="constraint-operator-{{$index}}"
                           ng-model="constraint.operator"
                           options="vm.constraintOperatorOptions"
                           empty-option-string="-- Any or All --"
                           option-value-param="operator"
                           option-name-param="name"
                           clm-input
                           class-name-param="operator"
                           required>
        </dropdown-selector>
        of the following are true:

        <div class="iq-policy-conditions">
          <div class="iq-policy-condition" ng-repeat="condition in constraint.conditions">
              <button class="iq-btn iq-btn--tertiary iq-btn--icon-only iq-btn--delete-condition-button"
                      type="button"
                      ng-click="vm.deleteCondition(constraint, $index)"
                      ng-disabled="constraint.conditions.length < 2"><!--
              --><i class="fa fa-trash"></i>
              </button>
              <div class="iq-policy-editor-condition iq-policy-editor-condition--type">
                <dropdown-selector class="editor-condition-type"
                                   ng-model="condition.conditionTypeId"
                                   name="condition-type-{{::constraintIndex}}-{{::$index}}"
                                   option-value-param="id"
                                   options="vm.conditionTypes"
                                   option-name-param="name"
                                   class-name-param="id"
                                   item-as-class="true"
                                   ng-change="vm.updateConditionType(condition)"
                                   clm-input
                                   required>
                </dropdown-selector>
              </div>
              <div class="iq-policy-editor-condition iq-policy-editor-condition--operator">
                <dropdown-selector class="editor-condition-operator"
                                   ng-model="condition.operator"
                                   name="condition-operator-{{::constraintIndex}}-{{::$index}}"
                                   item-as-class="true"
                                   options="vm.conditionTypesMap[condition.conditionTypeId].supportedOperators">
                </dropdown-selector>
              </div>
              <div class="iq-policy-editor-condition iq-policy-editor-condition--value">
                <dropdown-selector ng-model="condition.value"
                                   option-value-param="id"
                                   required
                                   ng-if="vm.conditionTypesMap[condition.conditionTypeId].valueType.availableValues"
                                   name="condition-value-{{::constraintIndex}}-{{::$index}}"
                                   no-options-string="No {{vm.conditionTypesMap[condition.conditionTypeId].name}}{{vm.conditionTypesMap[condition.conditionTypeId].name.endsWith('s') ? 'es' : 's'}} available"
                                   options="vm.conditionTypesMap[condition.conditionTypeId].valueType.availableValues"
                                   option-name-param="{{condition.conditionTypeId === 'Label' ? 'label' : condition.conditionTypeId === 'License' ? 'shortDisplayName' : 'name'}}">
                </dropdown-selector>
                <div ng-if="!vm.conditionTypesMap[condition.conditionTypeId].valueType.availableValues"
                     ng-switch
                     on="vm.conditionTypesMap[condition.conditionTypeId].valueTypeId">
                  <age-in-days-input ng-switch-when="AgeInDaysValueType"
                                     ng-model="condition.value"
                                     name="condition-value-{{::constraintIndex}}-{{::$index}}">
                  </age-in-days-input>

                  <span ng-switch-when="CoordinatesValueType"><!--
                 --><coordinates-input value="condition.value"><!--
                   --><dropdown-selector ng-model="vm.coordinates.format"
                                         item-as-class="true"
                                         required
                                         options="['maven', 'a-name', 'pypi']">
                      </dropdown-selector><!--
                   --><ng-switch on="vm.coordinates.format"><!--
                     --><span ng-switch-when="maven"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Group ID"
                                 name="groupid-{{::identifier}}"
                                 ng-model="vm.coordinates.groupId"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="true"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Artifact ID"
                                 name="artifactid-{{::identifier}}"
                                 ng-model="vm.coordinates.artifactId"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="true"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Version"
                                 name="version-{{::identifier}}"
                                 ng-model="vm.coordinates.version"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="true"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Extension"
                                 name="extension-{{::identifier}}"
                                 ng-model="vm.coordinates.extension"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="true"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Classifier"
                                 name="classifier-{{::identifier}}"
                                 ng-model="vm.coordinates.classifier"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="false"><!--
                     --></span><!--
                     --><span ng-switch-when="a-name"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Name"
                                 name="name-{{::identifier}}"
                                 ng-model="vm.coordinates.name"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="true"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Qualifier"
                                 name="qualifier-{{::identifier}}"
                                 ng-model="vm.coordinates.qualifier"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="false"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Version"
                                 name="version-{{::identifier}}"
                                 ng-model="vm.coordinates.version"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="true"><!--
                     --></span><!--
                     --><span ng-switch-when="pypi"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Name"
                                 name="name-{{::identifier}}"
                                 ng-model="vm.coordinates.name"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="true"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Version"
                                 name="version-{{::identifier}}"
                                 ng-model="vm.coordinates.version"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="true"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Qualifier"
                                 name="qualifier-{{::identifier}}"
                                 ng-model="vm.coordinates.qualifier"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="false"><!--
                       --><input type="text"
                                 class="iq-text-input"
                                 placeholder="Extension"
                                 name="extension-{{::identifier}}"
                                 ng-model="vm.coordinates.extension"
                                 ng-pattern="vm.invalidRegex"
                                 ng-required="true"><!--
                     --></span><!--
                   --></ng-switch><!--
                 --></coordinates-input><!--
               --></span>

                  <input type="number"
                         min="0"
                         max="100"
                         ng-model="condition.value"
                         name="conditionPercentageValue-{{::constraintIndex}}-{{::$index}}"
                         ng-switch-when="PercentageValueType"
                         ng-pattern="/^((\d{1,2})|(100))$/"
                         messages="{pattern: 'Value must be from 0 to 100'}"
                         number-input-with-string-value
                         clm-input
                         required>
                  <span ng-switch-default
                        ng-switch
                        on="vm.conditionTypesMap[condition.conditionTypeId].valueType.dataType">
                    <input type="text"
                           class="iq-text-input"
                           ng-model="condition.value"
                           name="conditionStringValue-{{::constraintIndex}}-{{::$index}}"
                           ng-switch-when="String"
                           clm-input
                           required>
                    <input type="number"
                           min="0"
                           max="10"
                           ng-model="condition.value"
                           name="conditionIntegerValue-{{::constraintIndex}}-{{::$index}}"
                           ng-switch-when="Integer"
                           ng-pattern="/^(\d|10)$/"
                           messages="{pattern: 'Value must be from 0 to 10'}"
                           title="Please enter a whole number"
                           number-input-with-string-value
                           clm-input
                           required>
                    <input type="number"
                           step="any"
                           min="0"
                           max="10"
                           ng-model="condition.value"
                           name="conditionFloatValue-{{::constraintIndex}}-{{::$index}}"
                           ng-switch-when="Float"
                           ng-pattern="/^\d+(\.\d+)?$/"
                           messages="{pattern: 'Value must be from 0 to 10'}"
                           title="Please enter a decimal number"
                           number-input-with-string-value
                           clm-input
                           required>
                  </span>
                </div>
              </div>
          </div>
          <button class="iq-btn iq-btn--tertiary iq-btn--add-condition-button"
                  type="button"
                  ng-click="vm.addCondition(constraint)">
            <i class="fa fa-plus"></i>Add Condition
          </button>
        </div>
      </div>
    </div>
  </div>
  <button id="add-constraint-button"
          class="iq-btn"
          type="button"
          ng-click="vm.addConstraint()"
          ng-disabled="vm.disabled">
    <i class="fa fa-plus"></i>Add Constraint
  </button>
</div>
