<item-description>
  <marked>
    `&lt;iq-tree-view-radio-select&gt;` is a Radio select widget using tree-view.

    __Note:__ in contrast to `iq-tree-view-multi-select`, this component doesn't support filtering of options with fuzzy filter.

    This components provides one-directional bindings only.
    Updates to selected option state are notified via `on-change` callback.
    __Note:__ this component is designed to support unidirectional data flow: it doesn't maintain the state
    of selected option and expects to receive updated 'selectedId' state from the parent.

    Arguments:

    Params| Type | Details|
    :--- | :--- | :---
    available | [{id:Any, name:String}] | Array of available options
    selected-id  | Any | id of selected option
    on-change | callback expression | called with the id of currently selected option. Context: {selected:Any}
    read-only | Boolean | optional - if true, renders collapsed and disabled tree view (defaults to 'false')

    In the example below, triggered on-change callback is logged to console.

  </marked>
</item-description>

<item-example-html>
  <div ng-controller="iqTreeViewRadioSelectExampleController as vm">

    <iq-tree-view-radio-select available="vm.ages"
                               selected-id="30"
                               read-only="true">
      Read-only
    </iq-tree-view-radio-select>

    <iq-tree-view-radio-select available="vm.ages"
                               selected-id="vm.selectedId"
                               on-change="vm.selectAge(selected)">
      Age
    </iq-tree-view-radio-select>

    Selected: {{vm.selectedId | json}}

  </div>
</item-example-html>

<div class="iq-tile">
  <h3>Controller</h3>
  <div hljs
       hljs-language="js"
       hljs-include="'components/iqTreeViewRadioSelect/iqTreeViewRadioSelectExampleController.js'">
  </div>
</div>
