.first-row i, .first-row img {
	vertical-align: middle;
}

.first-row .pull-right {
	padding: 10px 20px 10px;
}

.first-row .title {
	padding-top: 6px;
	padding-bottom: 6px;
}

.first-row form {
	float: left;
	margin: 5px 0px 0px;
}

.first-row a {
	color: #777777;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.first-row a:hover {
	text-decoration: none;
	color: black;
}

.second-row.navbar-fixed-top {
	top: 45px;
}

.first-row a.brand {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.first-row a.brand:hover {
	color: black;
}

@media (max-width: 979px) {
	.first-row, .second-row {
		margin-bottom: 0px;
		position: fixed;
	}
	 
	.first-row div, .second-row div  {
		padding: 0px !important;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

.btn-black {
	color: #ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
 	background: none #222222 !important;
	border-color: #222222 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}

.third-row { 
    margin: 86px 0 auto auto;
}

.navigation {
	background: black;
	width: 150px;
    position: fixed;
    height: 100%;
}

.subnavigation {
	width: 150px;
	margin-left: 150px;
	background: lightgrey;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.subnavigation-expanded {
	width: 100%;
}

.content {
	margin-left: 300px;
	height: 100%;
}

.content .nav-tabs {
	border-bottom-color: black;
}

.content .nav-tabs>li {
	line-height: 3px;
}

.content .nav-tabs>li>a {
	color: black;
}

.content .nav-tabs>.active:after {
	content: "\f0d8";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	font-size: 2em;
	display: block;
	text-align: center;
	margin-top: -5px;
}

.content .nav-tabs>.active>a {
	border: 0px;
}

.content .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border: 0px;
	background-color: #ffffff;
	cursor: pointer;
}

.tabbable {
	clear: both;
}

.editorHeader {
	padding-top: 10px;
	padding-left: 10px;
}

.editorHeader h2 {
	border: 1px;
}

.editorHeader img {
	height: 96px; 
	width: 96px;
	float: left;
	margin-right: 20px;
}

.inlineEditor div {
	display: inline-block;
	padding: 7px 8px;
	min-width: 210px;
	cursor: text;
	border : 1px solid transparent;
}

.inlineEditor div:hover {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.inlineEditor div:hover:after {
	content: "\f044";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	font-size: 2em;
	padding-left: 10px;
	padding-top: 4px;
	vertical-align: middle;
	float: right;
}

.inlineEditor input {
	height: 30px;
	line-height: 30px;	
}

.inlineEditor.large span {
	font-size: 25px;
	font-weight: bold;
}

.inlineEditor.large input {
	font-size: 25px;
}

/**
 * Triangular tabs used by app/org
 */
ul.tri-pane:before, ul.tri-pane:after {
	display : table;
	content : "";
	line-height : 0;
	clear: both;
}
ul.tri-pane {
	width : 100%;
	margin: 0px;
	list-style-type: none;
	border-bottom: 1px solid black;
}
.tri-pane a {
	color : inherit;
	text-decoration: none;
	padding: 8px 12px;
	line-height : 20px;
	display: block;
	margin-right: 2px;
}
.tri-pane li {
	list-style-position: outside;
	list-style-type: none;
	list-style-image: none;
	float : left;
	line-height: 3px;
	margin-bottom: -1px;
}
.tri-pane .active {
}
.tri-pane > .active:after {
	content: "\f0d8";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	font-size: 2em;
	display: block;
	text-align: center;
	margin-top: -7px;
}

/**
 * License Accordion
 */
.license-accordion-header {
	padding: 10px;
}
 
.license-accordion-header div {
	display: inline;
}

.license-accordion-header .accordion-toggle {
	display: inline;
}

.license-accordion-body .inlineEditor {
	display: inline;
}
