<div id="source-control-editor"
     class="iq-tile iq-tile--form-tile"
     load-wrapper="vm.loadError"
     loading="vm.loading"
     reload="vm.doLoad()">
  <header class="iq-tile-header">
    <div class="iq-tile-header__title">
      <i class="fa fa-code-fork size-20px iq-tile-header__icon"></i>
      <h2>Source Control Configuration</h2>
    </div>
    <div class="iq-tile-header__subtitle">
      Configures the integration with an external SCM for the {{vm.ownerName}}<!--
   -->{{vm.isOrg ? (vm.isRootOrg ? '' : ' organization') : ' application'}}
    </div>
  </header>

  <!-- source control not supported -->
  <div id="source-control-not-supported"
       class="iq-alert iq-alert--info"
       ng-if="!vm.isSourceControlSupported">
       <i class="fa fa-info-circle"></i>Source Control is not supported by your license
  </div>

  <!-- source control configuration -->
  <div class="iq-tile-content">
    <form name="vm.sourceControlEditor"
          class="iq-form"
          role="form"
          ng-submit="vm.isDirty() && vm.save()"
          novalidate
          form-mask="vm.sourceControlEditorMask"
          mask-attach-to-body
          ng-if="vm.isSourceControlSupported">
      <div id="source-control-token-warning"
           class="iq-alert"
           ng-if="vm.shouldShowAccessTokenWarning">
        <i class="fa fa-warning"></i>Access Token must be configured
      </div>

      <!-- app repository URL -->
      <div id="repository-url-row" class="iq-form-row" ng-if="vm.isApp">
        <div class="iq-form-group">
          <label class="iq-label" for="editor-source-control-url"><!--
         -->Repository Clone URL (HTTPS)</label>
          <input id="editor-source-control-url"
                 type="text"
                 ng-pattern="vm.repoCloneUrl"
                 class="iq-text-input iq-text-input--repo-url"
                 name="repositoryUrl"
                 ng-model="vm.dirtySourceControl.repositoryUrl"
                 ng-maxlength="2048"
                 clm-input
                 required
                 messages="{required: 'A valid HTTP(S) repository clone URL is required',
                    pattern: 'A valid HTTP(S) repository clone  URL is required.'}">
        </div>
      </div>

      <!-- advanced settings -->
      <div class="iq-tree-view iq-tree-view--source-control-editor" ng-if="vm.isApp">
        <a id="source-control-advanced-settings-trigger" class="iq-tree-view__trigger"
           ng-click="vm.toggleShowAdvanced()"
           ng-class="{'iq-clickable': vm.canCollapseAdvanced()}">
           <div class="iq-tree-view__twisty">
            <span class="iq-tree-view__twisty-icon"
                  ng-class="{'collapse': vm.showAdvanced, 'open': !vm.showAdvanced}"></span>
          </div>
          <div class="iq-tree-view__text">Advanced</div>
        </a>
      </div>
      <div id="source-control-advanced-section" ng-show="vm.showAdvanced">
        <hr class="iq-hr" ng-if="vm.isApp" />

        <!-- root scm provider -->
        <div class="iq-form-row" ng-if="vm.isRootOrg">
          <div class="iq-form-group">
            <label for="source-control-provider" class="iq-label">Source Control Management System</label>
            <dropdown-selector id="source-control-provider"
                               ng-model="vm.dirtySourceControl.provider"
                               options="vm.providerTypes"
                               option-name-param="name"
                               option-value-param="value"
                               name="provider-dropdown"
                               clm-input
                               required
                               empty-option-string="-- Not Configured --"
                               messages="{required: 'Source Control Management System is required'}"
                               focus-input="true">
            </dropdown-selector>
          </div>
        </div>

        <!-- scm provider -->
        <div class="iq-form-row" ng-if="!vm.isRootOrg">
          <div class="iq-form-group">
            <label for="source-control-provider-suborg" class="iq-label">Source Control Management System</label>
            <fieldset class="iq-radio-group">
              <iq-radio id="editor-source-control-provider-inherit"
                        model="vm.dirtySourceControl.providerInherit"
                        value="true">{{vm.providerInheritText}}
              </iq-radio>
              <iq-radio id="editor-source-control-provider-override"
                        model="vm.dirtySourceControl.providerInherit"
                        value="false">Override
              </iq-radio>
            </fieldset>
          </div>
          <div class="iq-form-row">
            <div class="iq-form-group"
                 ng-class="{'iq-form-group--indent': !vm.isRootOrg}">
              <dropdown-selector id="source-control-provider-suborg"
                                 ng-model="vm.dirtySourceControl.provider"
                                 options="vm.providerTypes"
                                 option-name-param="name"
                                 option-value-param="value"
                                 name="provider-dropdown"
                                 ng-disabled="vm.dirtySourceControl.providerInherit"
                                 clm-input
                                 empty-option-string="-- Not Selected --"
                                 focus-input="true">
              </dropdown-selector>
            </div>
          </div>
        </div>

        <!-- credentials -->
        <div class="iq-form-row" ng-if="vm.providerNeedsUsername()">
          <div class="iq-form-group" ng-if="!vm.isRootOrg && vm.dirtySourceControl.providerInherit">
            <label for="editor-source-control-credentials-inherit" class="iq-label"><!--
           -->Credentials
            </label>
            <fieldset class="iq-radio-group">
              <iq-radio id="editor-source-control-credentials-inherit"
                        model="vm.dirtySourceControl.credentialsInherit"
                        value="true"
                        is-disabled="vm.isUsernameRequiredOnNode()"
                        tooltip="{{vm.isUsernameRequiredOnNode() ? 'Username and password cannot be inherited. No inheritable username defined.' : ''}}"
                        tooltip-append-to-body="true">{{vm.usernameInheritText}}
              </iq-radio>
              <iq-radio id="editor-source-control-credentials-override"
                        model="vm.dirtySourceControl.credentialsInherit"
                        value="false"
                        is-disabled="!vm.effectiveProvider()">Override
              </iq-radio>
            </fieldset>
          </div>
          <div class="iq-form-row">
            <div class="iq-form-group"
                 ng-class="{'iq-form-group--indent': !vm.isRootOrg && vm.dirtySourceControl.providerInherit}">
              <label for="editor-source-control-credentials-username" class="iq-label"><!--
             -->Username
              </label>
              <input id="editor-source-control-credentials-username"
                     type="text"
                     autocomplete="off"
                     class="iq-text-input"
                     name="username"
                     ng-model="vm.dirtySourceControl.username"
                     ng-maxlength="255"
                     clm-input
                     ng-disabled="!vm.effectiveProvider() || (vm.dirtySourceControl.credentialsInherit && vm.dirtySourceControl.providerInherit)"
                     ng-required="(!vm.isRootOrg && !vm.dirtySourceControl.credentialsInherit) || vm.dirtySourceControl.token"
                     messages="{required: 'A valid username and token are required'}">
            </div>
            <div class="iq-form-group">
              <label for="editor-source-control-credentials-token" class="iq-label" ng-disabled="!vm.effectiveProvider()"><!--
             -->Access Token
              </label>
              <input id="editor-source-control-credentials-token"
                     type="password"
                     autocomplete="off"
                     class="iq-text-input iq-text-input--long"
                     name="token"
                     ng-model="vm.dirtySourceControl.token"
                     ng-maxlength="512"
                     clm-input
                     ng-disabled="!vm.effectiveProvider() || (vm.dirtySourceControl.credentialsInherit && vm.dirtySourceControl.providerInherit)"
                     ng-required="(!vm.isRootOrg && !vm.dirtySourceControl.credentialsInherit) || vm.dirtySourceControl.username"
                     messages="{required: 'A valid username and token are required'}"/>
            </div>
          </div>
        </div>

        <!-- token -->
        <div class="iq-form-row" ng-if="!vm.providerNeedsUsername()">
          <div class="iq-form-group">
            <label for="editor-source-control-token" class="iq-label" ng-disabled="!vm.effectiveProvider()"><!--
           -->Access Token
            </label>
            <fieldset class="iq-radio-group" ng-if="!vm.isRootOrg && vm.dirtySourceControl.providerInherit">
              <iq-radio id="editor-source-control-token-inherit"
                        model="vm.dirtySourceControl.tokenInherit"
                        value="true"
                        is-disabled="!vm.effectiveProvider() || vm.isAccessTokenRequiredOnNode()"
                        tooltip="{{vm.isAccessTokenRequiredOnNode() ? 'Access token cannot be inherited. No inheritable access token defined.' : ''}}"
                        tooltip-append-to-body="true"><!--
             -->{{vm.effectiveTokenInheritFrom() ? 'Inherit from ' + vm.effectiveTokenInheritFrom()
                : 'Inherit (Not Configured)'}}
              </iq-radio>
              <iq-radio id="editor-source-control-token-override"
                        model="vm.dirtySourceControl.tokenInherit"
                        value="false"
                        is-disabled="!vm.effectiveProvider()">Override
              </iq-radio>
            </fieldset>
            <input id="editor-source-control-token"
                   type="password"
                   autocomplete="off"
                   class="iq-text-input iq-text-input--long"
                   ng-class="{'iq-text-input--double-indent': !vm.isRootOrg && vm.dirtySourceControl.providerInherit}"
                   name="token"
                   ng-model="vm.dirtySourceControl.token"
                   ng-maxlength="512"
                   clm-input
                   ng-disabled="(!vm.effectiveProvider() || vm.dirtySourceControl.tokenInherit) && (vm.isRootOrg || vm.dirtySourceControl.providerInherit)"
                   ng-required="vm.isAccessTokenRequiredOnNode()"
                   messages="{required: 'When override is selected a valid token is required'}">
          </div>
        </div>

        <!-- default branch -->
        <div class="iq-form-row">
          <div class="iq-form-group">
            <label for="editor-source-control-branch"
                   class="iq-label"
                   ng-disabled="!vm.isProviderSpecifiedAndPullRequestsSupported()"><!--
          -->Default Branch
              <div class="iq-sub-label"
                   ng-if="vm.isRootOrg"
                   ng-disabled="!vm.isProviderSpecifiedAndPullRequestsSupported()">
                The branch used for automated remediation pull requests and as the basis for finding introduced violations in feature
                branches
              </div>
              <i class="fa fa-question-circle blue iq-source-control-tooltip" iq-tooltip
                 ng-if="!vm.isRootOrg"
                 tooltip-text="The branch used for automated remediation pull requests and as the basis for finding introduced violations in feature
                branches"></i>
            </label>
            <div id="source-control-base-branch-unavailable"
                 class="iq-alert iq-alert--info"
                 ng-if="!vm.arePullRequestsSupported()">
              <i class="fa fa-info-circle"></i>{{vm.getPullRequestsNotAvailableMessage()}}
            </div>
            <fieldset class="iq-radio-group" ng-if="vm.arePullRequestsSupported()">
              <iq-radio id="editor-source-control-branch-inherit"
                        model="vm.dirtySourceControl.baseBranchInherit"
                        value="true"
                        ng-if="!vm.isRootOrg"
                        is-disabled="!vm.isProviderSpecifiedAndPullRequestsSupported()"><!--
                     -->{{vm.baseBranchInheritText}}
              </iq-radio>
              <iq-radio id="editor-source-control-branch-override"
                        model="vm.dirtySourceControl.baseBranchInherit"
                        value="false"
                        ng-if="!vm.isRootOrg"
                        is-disabled="!vm.isProviderSpecifiedAndPullRequestsSupported()"><!--
                     -->Override
              </iq-radio>
            </fieldset>
            <input id="editor-source-control-branch"
                   type="text"
                   class="iq-text-input iq-text-input--long"
                   name="baseBranch"
                   ng-model="vm.dirtySourceControl.baseBranch"
                   ng-class="{'iq-text-input--double-indent': !vm.isRootOrg}"
                   ng-maxlength="243"
                   clm-input
                   ng-disabled="!vm.isProviderSpecifiedAndPullRequestsSupported() ||
                                 vm.dirtySourceControl.baseBranchInherit"
                   ng-required="vm.isRootOrg || !vm.dirtySourceControl.baseBranchInherit"
                   messages="{required: vm.isRootOrg ? 'A valid branch name is required for the ' + vm.ownerName
                   : 'When override is selected a valid branch name is required' }"
                   ng-if="vm.arePullRequestsSupported()">
          </div>
        </div>

        <!-- SSH Support -->
        <inheritable-enable-disable
                id="source-control-ssh-enabled"
                title="Use SSH for Git Operations"
                description="Clone and push changes to repositories via Secure Shell Protocol (SSH)"
                model="vm.dirtySourceControl.sshEnabled"
                is-available="true"
                is-disabled="!vm.effectiveProvider()"
                is-required="vm.isRootOrg && vm.effectiveProvider()"
                can-inherit="!vm.isRootOrg"
                inherit-label="vm.sshEnabledInheritText"></inheritable-enable-disable>

        <!-- remediation pull requests -->
        <inheritable-enable-disable
                id="source-control-remediation-pull-requests"
                title="Automated Remediation Pull Requests"
                description="Create pull requests with remediation suggestions for policy violations discovered on the default branch."
                model="vm.dirtySourceControl.remediationPullRequestsEnabled"
                is-available="vm.arePullRequestsSupported()"
                is-disabled="!vm.isProviderSpecifiedAndPullRequestsSupported()"
                is-required="vm.isRootOrg && vm.isPullRequestsSupported()"
                can-inherit="!vm.isRootOrg"
                inherit-label="vm.remediationPullRequestsEnabledInheritText"
                unavailable-msg="vm.getPullRequestsNotAvailableMessage()"></inheritable-enable-disable>

        <inheritable-enable-disable
                id="source-control-pull-request-commenting"
                title="Pull Request Commenting"
                description="Comment on pull requests when policy violations are introduced and/or remediated."
                model="vm.dirtySourceControl.pullRequestCommentingEnabled"
                is-available="vm.isPullRequestCommentingSupported()"
                is-disabled="!vm.isProviderSpecifiedAndPullRequestCommentingSupported()"
                is-required="vm.isRootOrg && vm.isPullRequestCommentingSupported()"
                can-inherit="!vm.isRootOrg"
                inherit-label="vm.pullRequestCommentingEnabledInheritText"
                unavailable-msg="vm.getPullRequestCommentingNotAvailableMessage()"></inheritable-enable-disable>

        <!-- source control evaluations -->
        <inheritable-enable-disable
                id="source-control-evaluations"
                title="Source Control Evaluations"
                description="Allow IQ server to scan and evaluate the contents of the configured repository when needed."
                model="vm.dirtySourceControl.sourceControlEvaluationsEnabled"
                is-available="vm.areSourceControlEvaluationsSupported()"
                is-disabled="!vm.isProviderSpecifiedAndSourceControlEvaluationsSupported()"
                is-required="vm.isRootOrg && vm.areSourceControlEvaluationsSupported()"
                can-inherit="!vm.isRootOrg"
                inherit-label="vm.sourceControlEvaluationsEnabledInheritText"
                unavailable-msg="vm.getSourceControlEvaluationsNotAvailableMessage()"></inheritable-enable-disable>
      </div>

      <div id="scm-config-results"
           class="iq-list iq-list--scm-test-config-results"
           ng-if="vm.isApp && vm.scmConfigValidationResult">
        <h4 class="iq-list__title">
          Configuration Test Results
        </h4>
        <ul>
          <li class="iq-list__item">
            <i class="fa size-16px"
               ng-class="vm.getScmValidationClass(vm.scmConfigValidationResult.configurationComplete)"></i>
            <span>Is the configuration complete?</span>
            <p class="iq-list__subtext">{{vm.scmConfigValidationResult.configurationComplete.message}}</p>
          </li>
          <li class="iq-list__item">
            <i class="fa size-16px"
               ng-class="vm.getScmValidationClass(vm.scmConfigValidationResult.repoPrivate)"></i>
            <span>Is the repository private?</span>
            <p class="iq-list__subtext">{{vm.scmConfigValidationResult.repoPrivate.message}}</p>
          </li>
          <li class="iq-list__item">
            <i class="fa size-16px"
               ng-class="vm.getScmValidationClass(vm.scmConfigValidationResult.tokenPermissions)"></i>
            <span>Does the token have sufficient permissions?</span>
            <p class="iq-list__subtext">{{vm.scmConfigValidationResult.tokenPermissions.message}}</p>
          </li>
          <li class="iq-list__item" ng-if="vm.sshEnabled()">
            <i class="fa size-16px"
               ng-class="vm.getScmValidationClass(vm.scmConfigValidationResult.sshConfiguration)"></i>
            <span>Is SSH configured fully?</span>
            <p class="iq-list__subtext">{{vm.scmConfigValidationResult.sshConfiguration.message}}</p>
          </li>
        </ul>
      </div>
      <div submit-wrapper="vm.submitError" retry="vm.save()" class="iq-tile-footer">
        <button type="submit"
                class="iq-btn iq-btn--primary"
                submit-validation
                submit-dirty="vm.isDirty()"
                submit-type="vm.dirtySourceControl.id || !vm.isRootOrg ? 'update' : 'create'"
                submit-tooltip-target="body">{{vm.dirtySourceControl.id || !vm.isRootOrg ? 'Update' : 'Create'}}
        </button><!--
     --><button type="button"
                id="delete-source-control-button"
                class="iq-btn iq-btn--tertiary"
                type="button"
                ng-click="vm.deleteSourceControl()"
                ng-disabled="!vm.dirtySourceControl.id">
          <i class="fa fa-trash"></i>Reset
        </button><!--
     --><button type="button"
                   id="test-source-control-config-button"
                   ng-if="vm.isApp"
                   class="iq-btn iq-btn--tertiary"
                   ng-click="vm.validateScmConfig()"
                   ng-disabled="vm.scmConfigValidationInProgress || vm.isDirty()"
                   tooltip="Test the current configuration. Requires all changes to be saved">
          Test Configuration
        </button>
      </div>

    </form>
  </div>
</div>

<!-- scm metrics -->
<div id="metricsTable"
     ng-if="vm.isApp && vm.originalSourceControl.repositoryUrl"
     class="iq-tile">
  <h2>Automated Pull Request Daily Activity</h2>
  <table class="nx-table">
    <thead>
    <th class="nx-cell nx-cell--header">
      <span>PR Title</span>
    </th><!--
         -->
    <th class="nx-cell nx-cell--header">
      <span>PR Created?</span>
    </th><!--
        -->
    <th class="nx-cell nx-cell--header">
      <span>Total Time Spent (ms)</span>
    </th> <!--
        -->
    <th class="nx-cell nx-cell--header">
      <span>Errors</span>
    </th><!--
         -->
    <th class="nx-cell nx-cell--header">
      <span>Started</span>
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="result in vm.sourceControlMetrics.results"
        class="nx-table-row"
        tooltip="{{result.reasoning}}">
      <td class="nx-cell">{{result.title}}</td>
      <td class="nx-cell">
        <i class="fa size-16px"
           ng-class="result.successful ? 'fa-check-circle text-success' : 'fa-exclamation-triangle warn'">
        </i>
      </td>
      <td class="nx-cell">{{result.totalTime}}</td>
      <td class="nx-cell">{{result.exceptionThrown}}</td>
      <td class="nx-cell">{{result.startTime | date: 'shortTime'}}</td>
    </tr>
    <tr class="nx-table-row" ng-if="!vm.sourceControlMetrics || vm.sourceControlMetrics.results.length == 0">
      <td colspan="5" style="text-align:center;">
        <i>No automated pull request results available.</i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
