.no-content {
	padding-top: 100px;
}

.message {
	position: absolute;
	border: 1px solid black;
	border-radius: 3px;
	padding: 30px 45px;
	background-color: white;
}

.slick-cell-checkboxsel {
	background: #f0f0f0;
	border-right-color: silver;
	border-right-style: solid;
}

.slick-row-hover-button {
	height: 18px;
	width: 18px;
	padding: 0px;
	display: none;
}

#constraintConditionsGrid .slick-header-columns {
	height: 0px;
}

#constraintConditionsGrid .slick-header.ui-state-default {
	border: none;
}

#constraintConditionsGrid .slick-header-columns {
	display: none;
}

.policy-item {
	border: 1px solid #e5e5e5;
	float: left;
	width: 300px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 10px;
	padding: 5px;
	height: 130px;
	*border: 1px solid #999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}