.no-content {
	padding-top: 100px;
}

.message {
	position: absolute;
	border: 1px solid black;
	border-radius: 3px;
	padding: 30px 45px;
	background-color: white;
}

.slick-cell-checkboxsel {
	background: #f0f0f0;
	border-right-color: silver;
	border-right-style: solid;
}

.slick-row-hover-button {
	height: 22px;
	width: 22px;
	padding: 0px;
	display: none;
	margin-top: -4px;
}

.policy-threat-level-0, .policy-threat-level-1, .policy-threat-level-2, .policy-threat-level-3, .policy-threat-level-4, .policy-threat-level-5, .policy-threat-level-6, .policy-threat-level-7, .policy-threat-level-8, .policy-threat-level-9, .policy-threat-level-10 {
	border-radius: 2px 2px 2px 2px;
    display: inline-block;
    height: 18px;
    padding: 0 5px;
    text-align: center;
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
}

/* the reason the value numbers are wonky is because of the way angular builds the select using ngOptions */
.policy-threat-level-0, .policy-threat-color-0, #policyThreatLevel option[value="10"] {
    border: 1px solid #6185B7;
    background-color: #6E99D0;
    font-weight: bold;
}
.policy-threat-level-1, .policy-threat-color-1, #policyThreatLevel option[value="9"], .policy-threat-level-2, .policy-threat-color-2, #policyThreatLevel option[value="8"], .policy-threat-level-3, .policy-threat-color-3, #policyThreatLevel option[value="7"] {
    border: 1px solid #DDBE18;
    background-color: #FEDF15;
    font-weight: bold;
}
.policy-threat-level-4, .policy-threat-color-4, #policyThreatLevel option[value="6"], .policy-threat-level-5, .policy-threat-color-5, #policyThreatLevel option[value="5"], .policy-threat-level-6, .policy-threat-color-6, #policyThreatLevel option[value="4"], .policy-threat-level-7, .policy-threat-color-7, #policyThreatLevel option[value="3"] {
    border: 1px solid #C67A22;
    background-color: #F7941D;
    font-weight: bold;
}
.policy-threat-level-8, .policy-threat-color-8, #policyThreatLevel option[value="2"], .policy-threat-level-9, .policy-threat-color-9, #policyThreatLevel option[value="1"], .policy-threat-level-10, .policy-threat-color-10, #policyThreatLevel option[value="0"] {
    border: 1px solid #B71218;
    background-color: #EE1B24;
    font-weight: bold;
}
#constraintConditionsGrid .slick-header-columns {
	height: 0px;
}

#constraintConditionsGrid .slick-header.ui-state-default {
	border: none;
}

#constraintConditionsGrid .slick-header-columns {
	display: none;
}

.policy-item {
	border: 1px solid #e5e5e5;
	float: left;
	width: 300px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 10px;
	padding: 5px;
	height: 140px;
	*border: 1px solid #999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

input.editor-checkbox {
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}

.checkbox-edit-cell {
  text-align: center;
}

.clmLabel {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  padding: 1px 3px;
  text-align: center;
  vertical-align: middle;
  border-color: #AFBFCF;
  white-space: nowrap;
}

.whiteLabel {
  background-color: #EEEEEE;
  color : black;
}

.greyLabel {
  background-color: #BFBFBF;
  color : black;
}

.blackLabel {
  background-color: #444444;
  color : white;
}

.greenLabel {
  background-color: #46A546;
  color : white;
}

.yellowLabel {
  background-color: #FAF20F;
  color : black;
}

.orangeLabel {
  background-color: #F89406;
  color : white;
}

.redLabel {
  background-color: #C43C35;
  color : white;
}

.blueLabel {
  background-color: #0080FF;
  color : white;
}

.labelContainer {
	padding: 2px;
    margin: 2px;
    display:inline-block;
    cursor: pointer;
    border-radius : 3px;
    border : 1px solid lightgrey;
}

.labelContainer.active {
    border : 1px dashed black;
}

.navbar .brand {
	margin-left:0px;
}

.header-centered {
	text-align:center;
}

div.nopad { 
	padding : 0px; 
	height:25px !important;
	border: none;
}

.masked-cell {
	width:100%;
	height:25px;
}

tr:hover .hover-vis {
    display: inline;
}
tr .hover-vis {
    display: none;
}