.no-content {
	padding-top: 100px;
}

.message {
	position: absolute;
	border: 1px solid black;
	border-radius: 3px;
	padding: 30px 45px;
	background-color: white;
}

.slick-cell-checkboxsel {
	background: #f0f0f0;
	border-right-color: silver;
	border-right-style: solid;
}

.slick-row-hover-button {
	height: 18px;
	width: 18px;
	padding: 1px 0 0 0;
	display: none
}