$iq-cell-report-raw-data-security-code-width: 200px;
$iq-cell-report-raw-data-cvss-width: 120px;

#application-report-raw-data {
  .iq-spinner__wrapper {
    padding: 8px;
  }
}

.iq-cell--report-raw-data-cvss {
  width: $iq-cell-report-raw-data-cvss-width;
}

.iq-cell--report-raw-data-security-code {
  width: $iq-cell-report-raw-data-security-code-width;
}

.iq-scrollable--report-raw-data {
  .iq-table--fixed__header, .iq-table--fixed__content {
    .iq-cell--report-raw-data-license, .iq-cell--report-raw-data-component {
      // in calc below 1px is for cell border
      width: calc(
                   (100% -
                     (
                       ((#{$iq-cell-side-padding} * 2) + 1px) * 2
                       + #{$iq-cell-report-raw-data-security-code-width} + (#{$iq-cell-side-padding} * 2) + 1px
                       + #{$iq-cell-report-raw-data-cvss-width} + (#{$iq-cell-side-padding} * 2) + 1px
                     )
                   )
                  / 2);
    }

    // Filter table cells have less left/right padding so we must compensate so their widths match
    .iq-cell--filter {
      &.iq-cell--report-raw-data-security-code {
        width: $iq-cell-report-raw-data-security-code-width
               + $iq-cell-side-padding
               + $iq-cell-side-padding
               + 1px
               - $iq-cell-filter-right-padding
               - $iq-cell-filter-left-padding;
      }

      &.iq-cell--report-raw-data-cvss {
        width: $iq-cell-report-raw-data-cvss-width
               + $iq-cell-side-padding
               + $iq-cell-filter-left-padding
               + 1px
               - $iq-cell-filter-right-padding;
      }

      &.iq-cell--report-raw-data-component {
        // in calc below 1px is borders
        width: calc(
                   (100% -
                     (
                      #{$iq-cell-filter-right-padding} + #{$iq-cell-filter-right-padding}
                      + #{$iq-cell-report-raw-data-security-code-width} + (#{$iq-cell-side-padding} * 2) + 1px
                      + #{$iq-cell-report-raw-data-cvss-width} + (#{$iq-cell-side-padding} * 2) + 1px
                     )
                   )
                  / 2);
      }

      &.iq-cell--report-raw-data-license {
        // in calc below 1px is borders
        width: calc(
                     (100% -
                       (
                        (#{$iq-cell-filter-right-padding} + #{$iq-cell-filter-left-padding}) * 2
                        + #{$iq-cell-report-raw-data-security-code-width} + (#{$iq-cell-side-padding} * 2) + 1px
                        + #{$iq-cell-report-raw-data-cvss-width} + (#{$iq-cell-side-padding} * 2) + 1px
                       )
                     )
                    / 2);
      }
    }
  }

  &.scrollbar-present {
    .iq-table--fixed__content {
      .iq-cell--report-raw-data-license, .iq-cell--report-raw-data-component {
        // in calc below 1px is borders
        width: calc(
                     (100% -
                       (
                         ((#{$iq-cell-side-padding} * 2) + 1px) * 2
                         + #{$iq-cell-report-raw-data-security-code-width} + (#{$iq-cell-side-padding} * 2) + 1px
                         + #{$iq-cell-report-raw-data-cvss-width} + (#{$iq-cell-side-padding} * 2) + 1px
                         - #{$iq-scrollbar-width}
                       )
                     )
                    / 2);
      }

      .iq-cell--report-raw-data-cvss {
        width: $iq-cell-report-raw-data-cvss-width - $iq-scrollbar-width;
      }
    }
  }
}

// Styling for the cvss min and max filter boxes
.iq-cell--report-raw-data-cvss {
  .input-prepend {
    margin-right: 4px;
    // 60% for the first filter box subtract left padding and right margin
    width: calc((60%) - 2px - 4px);

    input[type=number].iq-text-input--num-filter {
      border-left: 0;
      box-shadow: none;
      padding-left: 0;
      // this input + the icon must not be larger than the parent span
      // if we subtract the icon + padding & input's right padding it all works out
      width: calc(100% - 33px - 6px);
    }
  }
}

input[type=number].iq-text-input--num-filter {
  box-shadow: none;
  border-radius: 0;
  height: 20px;
  padding-left: 5px;
  vertical-align: top;
  // 40% for the first filter box - 12px of left/right padding
  width: calc((40%) - 12px);
}

.iq-license-table {
  $dt-width: 55px;

  margin: 0;

  dt, dd {
    display: inline-block;
    vertical-align: top;
  }

  dt {
    width: $dt-width;
    text-align: right;
  }

  dd {
    box-sizing: border-box;
    margin: 0;
    padding-left: 5px;
    text-align: left;
    width: calc(100% - #{$dt-width});
  }
}
