<div id="application-category-editor"
     class="iq-tile iq-tile--form-tile"
     load-wrapper="loadError"
     loading="loading"
     reload="doLoad()">
  <header class="iq-tile-header">
    <div class="iq-tile-header__title">
      <hexagon class="outline size-20px iq-tile-header__icon"></hexagon>
      <h2>Assign Application Categories</h2>
    </div>
  </header>
  <div class="iq-tile-content" ng-if="loading || loadError || categories.length > 0">
    <form name="vm.categoryEditor"
          class="iq-form"
          role="form"
          ng-submit="vm.categoryEditor.$valid && areCategoriesDirty && save()"
          form-mask="vm.categoryEditorMask"
          mask-attach-to-body>
      <div class="iq-form-group">
        <label for="associated-categories">Application Categories Assigned to {{ownerName}}</label>
        <association-editor id="associated-categories"
                            items="categories"
                            checkbox-param="isApplied"
                            description="name"
                            icon="hexagon"
                            on-change="onCategoriesChanged"/>
      </div>
      <div class="iq-tile-footer" submit-wrapper="submitError" retry="save()">
        <button type="submit"
                class="iq-btn iq-btn--primary"
                ng-disabled="categories.length === 0"
                submit-validation
                submit-dirty="areCategoriesDirty"
                submit-tooltip-target="body"
                submit-type="update">
          Update
        </button>
      </div>
    </form>
  </div>
  <div class="iq-tile-content" ng-if="!loading && !loadError && categories.length === 0">
    <div class="iq-alert iq-alert--error">
      <i class="fa fa-warning"></i>No application categories defined.
    </div>
  </div>
</div>
