<section
  id="category-editor"
  class="iq-tile iq-tile--form-tile"
  load-wrapper="vm.loadError"
  loading="!vm.dirtyCategory"
  reload="vm.doLoad()"
>
  <header class="iq-tile-header">
    <div class="iq-tile-header__title">
      <hexagon class="size-20px outline iq-tile-header__icon"></hexagon>
      <h2>{{::vm.dirtyCategory.id ? 'Edit' : 'New'}} Application Category</h2>
    </div>
  </header>
  <div class="iq-tile-content">
    <form
      name="vm.categoryEditor"
      class="iq-form"
      role="form"
      ng-submit="vm.categoryEditor.$valid && vm.dirtyCategory.isDirty() && vm.save()"
      novalidate
      form-mask="vm.categoryEditorMask"
      mask-attach-to-body
    >
      <div class="iq-form-group">
        <label for="editor-category-name" class="iq-label">Application Category Name</label>
        <input
          type="text"
          id="editor-category-name"
          class="iq-text-input"
          type="text"
          name="category"
          required
          ng-model="vm.dirtyCategory.name"
          ng-maxlength="60"
          focus-input="true"
          valid-name-characters
          is-duplicate
          is-duplicate-array="vm.siblings"
          is-duplicate-id-field="id"
          messages="{duplicate: 'Name is already in use'}"
          clm-input
        />
      </div>
      <div class="iq-form-group">
        <label for="editor-category-description" class="iq-label">Short Description</label>
        <textarea
          id="editor-category-description"
          class="iq-textarea iq-textarea--long"
          name="description"
          rows="2"
          required
          ng-model="vm.dirtyCategory.description"
          ng-maxlength="255"
          clm-input
        >
        </textarea>
      </div>
      <div class="iq-form-group">
        <label for="editor-category-color-picker" class="iq-label">Color</label>
        <color-picker id="editor-category-color-picker" ng-model="vm.dirtyCategory.color" required></color-picker>
      </div>
      <div submit-wrapper="vm.submitError" retry="vm.save()" class="iq-tile-footer">
        <button
          type="submit"
          class="iq-btn iq-btn--primary"
          submit-validation
          submit-dirty="vm.dirtyCategory.isDirty()"
          submit-tooltip-target="body"
          submit-type="vm.dirtyCategory.id ? 'update' : 'create'"
          submit-tooltip-target="body"
        >
          {{vm.dirtyCategory.id ? 'Update' : 'Create'}}</button
        ><!--
     --><button
          type="button"
          id="delete-category-button"
          class="iq-btn iq-btn--tertiary"
          type="button"
          ng-click="vm.deleteCategory()"
          ng-if="vm.dirtyCategory && !vm.dirtyCategory.$new"
        >
          <i class="fa fa-trash"></i>Delete Application Category
        </button>
      </div>
    </form>
  </div>
</section>
