<div class='container'>
	<div class='row'>
		<div class='span4 content-container'>
			<table class='table table-striped' style='margin-bottom: 0px'>
				<thead>
					<tr>
						<th colspan='2'>Licensing</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan='2' style='text-align: center;'>
							<button class='btn btn-add btn-info' ng-click='viewInstallLicense()' style='width: 80%'>
								<i class='icon-white icon-plus-sign'></i> Install License
							</button>
							<button class='btn btn-remove btn-info' ng-click='viewUninstallLicense()' style='margin-top:5px; width: 80%'>
								<i class='icon-white icon-minus-sign'></i> Uninstall License
							</button>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class='span7' ng-show='showInstall'>
			<div class='content-container'>
				<div class='modal-header'>
					<h4>
						<span>Install License</span>
					</h4>
				</div>
				<form ng-upload='installLicense()' action='{{uploadUrl}}' class='form-horizontal' style='margin: 0px' method='post'>
					<div class='modal-body'>
						<div class='control-group'>
							<label>Select a license file to upload:</label> <input type="file" name="file" /> <input type="submit" class="btn btn-primary upload-submit"
								value="Submit" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="licenseUninstallConfirmationModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Uninstall License?</h3>
		</div>
		<div class="modal-body">
			<p>If you uninstall the CLM License, the system will be rendered unusable, are you sure you want to do this?</p>
		</div>
		<div class="modal-footer">
			<button class='btn' data-dismiss='modal'>Cancel</button>
			<button class='btn btn-primary' ng-click='uninstallLicense()'>OK</button>
		</div>
	</div>
	<div id="licenseInstalledModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>License Installed!</h3>
		</div>
		<div class="modal-body">
			<p>Your license has been installed.  The application will reload when you press 'OK'</p>
		</div>
		<div class="modal-footer">
			<button class="btn" ng-click="licenseInstalled()">OK</button>
		</div>
	</div>
		<div id="licenseUninstalledModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>License Uninstalled!</h3>
		</div>
		<div class="modal-body">
			<p>Your license has been uninstalled.  The application will reload when you press 'OK'</p>
		</div>
		<div class="modal-footer">
			<button class="btn" ng-click="licenseUninstalled()">OK</button>
		</div>
	</div>
</div>