<div class="subnavigation" ng-class="{'subnavigation-expanded' : !$state.params.applicationPublicId}">
	<div class='new-entity-button'>
		<a class="btn" href='#/management/application/_new_'>
			<i class="icon-plus"></i>&nbsp;New Application
		</a>
	</div>
	<div class='search input-prepend'>
		<span class='add-on'><i	ng-class="{'icon-search': !searchText, 'icon-remove': searchText}"
			ng-click="searchText = ''"></i></span>
			<input type='text' ng-model='searchText' autocomplete="off"	type-Ahead='getApplicationNames' />
	</div>
	<ul class="nav nav-list">
		<li ng-repeat='application in applications | filter: searchText' ng-class="{'active': $state.params.applicationPublicId == application.publicId }">
			<a href='#/management/application/{{application.publicId}}/policies'>{{application.name}}</a>
		</li>
	</ul>
</div>
<div class="content" ui-view></div>