<div class='fade' ng-class='{ in : selectedApplication != null}'>
	<div alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</div>
	<form id='applicationEditor' name='applicationEditor' action='{{addApplicationSync}}' method='post' enctype='multipart/form-data'
          onsubmit='return angular.element(this).scope().save()'>
       	<div ng-show='isUploadingIcon'>
            <div class="alert alert-info">
                <strong>Uploading Icon...</strong>
            </div>
        </div>
		<div class="editorHeader">
			<div class='editorApplicationImage'>
				<div class='displayImage'>
					<div ng-switch on='hasRobotSource'>
	                       <img ng-switch-when='false' id='applicationIcon' ng-src='{{applicationIconSource}}' />
	                       <img ng-switch-when='true' id='robotIcon' ng-src='../rest/application/services/generateIcon/{{robotHash}}'/>
					</div>
				</div>
				<div class='editImage'>
					<input type="button" class='btn' value="Choose Icon" onclick="javascript:document.getElementById('file').click();">
		            <input name='file' id='file' type='file' accept='image/*' onchange='angular.element(this).scope().fileChanged(this)' style='display:none;'/>
		            <a ng-click='generateIcon()'>Want a robot?</a>
	            </div>
   			</div>
			<div inline-editor editor-value='selectedApplication.name' editor-large='true' editor-placeholder="Application Name"
				force-edit="selectedApplication && selectedApplication.id == null" style='margin-bottom: 5px;'></div>
			<span style='padding-left: 9px'>Application: </span>
			<div ng-switch on='selectedApplication.id' style='display: inline-block;'>
				<div ng-switch-when='null'>
					<div inline-editor editor-value='selectedApplication.publicId' editor-placeholder=' Application ID'
						force-edit="selectedApplication && selectedApplication.id == null"></div>
				</div>
				<span ng-switch-default>{{selectedApplication.publicId}}</span>
			</div>
			<span style='padding-left: 9px'>Organization</span>
			<div ng-switch on='selectedApplication.id' style='display: inline-block;'>
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						{{getOrganizationName(selectedApplication.organizationId)}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat='organization in organizations'>
							<a ng-click='changeOrganization(organization)'>{{organization.name}}</a>
						</li>
					</ul>
				</div>
			</div>
            <input name='applicationId' ng-model='selectedApplication.id' type='hidden'/>
            <input name='hasRobotSource' ng-model='hasRobotSource' type='hidden'/>
            <input name='robotHash' ng-model='robotHash' type='hidden'/>
		</div>
		<div ng-show='isFormDirty() || !selectedApplication.id' style='margin-top: 5px;'>
           	<button class='btn' type='button' ng-click='cancel()'>Cancel</button>
            <button class='btn btn-primary' ng-disabled='!canSaveEdit()'>Save</button>
		</div>
	</form>
	<div ng-switch on='selectedApplication.id'>
		<div ng-switch-when='null'></div>
		<div ng-switch-default>
			<ul class='tri-pane'>
				<li ng-class='{ active : isCurrentTab("policies")}'>
					<a ng-href='#/management/application/{{$state.params.applicationPublicId}}/policies'>POLICIES</a>
				</li>
				<li ng-class='{ active : isCurrentTab("labels")}'>
					<a ng-href='#/management/application/{{$state.params.applicationPublicId}}/labels'>LABELS</a>
				</li>
				<li ng-class='{ active : isCurrentTab("licenses")}'>
					<a ng-href='#/management/application/{{$state.params.applicationPublicId}}/licenses'>LICENSES</a>
				</li>
			</ul>
			<div ui-view></div>
		</div>
	</div>
</div>