<div style='padding:5px 10px 5px 5px; height: 100%' class='fade' ng-class='{ in : selectedApplication != null}'>
	<form id='applicationEditor' name='applicationEditor'>
		<div class="editorHeader">
			<img ng-src='../rest/application/icon/{{encodeURIComponent(selectedApplication.publicId)}}'/>
			<div inline-editor editor-value='selectedApplication.name' editor-large='true'></div>
			Application: {{selectedApplication.publicId}}
		</div>
	</form>
	<ul class='tri-pane'>
		<li ng-class='{ active : isCurrentTab("policies")}'>
			<a ng-href='#/management/application/{{$state.params.applicationPublicId}}/policies'>POLICIES</a>
		</li>
		<li ng-class='{ active : isCurrentTab("labels")}'>
			<a ng-href='#/management/application/{{$state.params.applicationPublicId}}/labels'>LABELS</a>
		</li>
		<li ng-class='{ active : isCurrentTab("licenses")}'>
			<a ng-href='#/management/application/{{$state.params.applicationPublicId}}/licenses'>LICENSES</a>
		</li>
	</ul>
	<div ui-view>
	</div>
</div>