<div ng-controller='EditApplicationController'>
    <form action='{{addApplicationSync}}' method='post' enctype='multipart/form-data'
          onsubmit='return angular.element(this).scope().saveClick()'
          name='applicationEditor' id='applicationEditor' class='form-horizontal' style='margin-bottom: 0px'>
        <div class='modal-body'>
            <div class='control-group' ng-class='{ error : applicationEditor.applicationName.$error.required
                    || applicationEditor.applicationName.$error.alphaNumeric || applicationEditor.applicationName.$error.spaces
                    || applicationEditor.applicationName.$error.duplicate }'>
                <label class='control-label' for='applicationName'>Name</label>

                <div class='controls'>
                    <input id='applicationName' name='applicationName' type='text'
                           class='input' maxlength='60' ng-model='selectedApplication.name'
                           required alpha-Numeric is-Duplicate is-Duplicate-Array='applications' is-Duplicate-Id-Field='id' is-Duplicate-Case-Sensitive='true' 
                           has-Whitespace='suggestedApplicationName'>

                    <div>
                        <span ng-show="applicationEditor.applicationName.$error.required" class="help-inline">Name is required.</span>
                        <span ng-show="applicationEditor.applicationName.$error.alphaNumeric" class="help-inline">Must be alpha numeric.</span>
                        <span ng-show="applicationEditor.applicationName.$error.duplicate" class="help-inline">
                            Name is already used.
                        </span>
                        <span ng-show="applicationEditor.applicationName.$error.spaces" class="help-inline">Name must not have leading or
                            trailing spaces, or have two spaces in a row.<br/>Suggested name: {{suggestedApplicationName}}
                        </span>
                    </div>
                </div>
            </div>
            <div class='control-group'
                 ng-class='{ error : applicationEditor.applicationPublicId.$error.required
                    || applicationEditor.applicationPublicId.$error.alphaNumeric || applicationEditor.applicationPublicId.$error.duplicate }'>
                <label class='control-label' for='applicationPublicId'>ID</label>

                <div class='controls'>
                    <input ng-disabled='selectedApplication.id' id='applicationPublicId' name='applicationPublicId' type='text'
                    	   class='input' maxlength='60' ng-model='selectedApplication.publicId' required
                    	   is-Duplicate is-Duplicate-Array='applications' is-Duplicate-Id-Field='id'>

                    <div>
                        <span ng-show="applicationEditor.applicationPublicId.$error.required" class="help-inline">ID is required.</span>
                        <span ng-show="applicationEditor.applicationPublicId.$error.alphaNumeric" class="help-inline">Must be alpha numeric.</span>
                        <span ng-show="applicationEditor.applicationPublicId.$error.duplicate" class="help-inline">
                            ID is already used.
                        </span>
                    </div>
                </div>
            </div>
            <div class='control-group' ng-class='{ error : applicationEditor.applicationProfile.$invalid }'>
                <label class='control-label' for='applicationProfile'>Application Profile</label>
                <div class='controls'>
                    <select ng-model='selectedApplication.applicationProfileId' id='applicationProfile' name='applicationProfile' ng-options='profile.id as profile.name for profile in profiles' required></select>
                    <div>
                        <span ng-show="applicationEditor.applicationPublicId.$error.required" class="help-inline">Profile is required.</span>
                    </div>
                </div>
            </div>
            <div class='control-group'>
                <label class='control-label' for='applicationIcon'>Icon</label>

                <div class='controls'>
                    <div>
                        <img ng-show='!hasRobotSource' id='applicationIcon' style='height: 48px; width: 48px;'
                             onerror="this.src='../assets/img/defaulticon_application.png';"/>
                        <img ng-show='hasRobotSource' id='robotIcon' style='height: 48px; width: 48px;'
                             ng-src='../rest/application/services/generateIcon/{{robotHash}}'/>
                    </div>
                    <input name='file' id='file' type='file' accept='image/*' style='display:block;'
                           onchange='angular.element(this).scope().fileChanged(this)'/>
                    <a ng-click='generateIcon()'>No icon? Want a robot?</a>
                </div>
            </div>
            <div ng-show='errorResponse'>
                <div class='alert alert-error'>
                    <button type='button' class='close' ng-click='clearEditError()'>&times;</button>
                    <strong>Error</strong> {{errorResponse}}
                </div>
            </div>
            <div ng-show='isUploadingIcon'>
                <div class="alert alert-info">
                    <strong>Uploading Icon...</strong>
                </div>
            </div>
            <input name='applicationId' ng-model='selectedApplication.id' type='hidden'/>
            <input name='hasRobotSource' ng-model='hasRobotSource' type='hidden'/>
            <input name='robotHash' ng-model='robotHash' type='hidden'/>
        </div>
        <div class='modal-footer'>
            <button class='btn' type='button' data-dismiss='modal'>Cancel</button>
            <button class='btn btn-primary' ng-disabled='!canSaveEdit()'>Save</button>
        </div>
    </form>
</div>