<div class='container' style='height:100%'>
	<div class='row' style='height:100%'>
		<div class='span4' style='height:100%'>
			<div class="content-container content-list" clist>
				<div class="header">Application Profiles</div>
				<div ng-show='!profiles'><i class='icon-time'></i> Loading</div>
				<div class="body">
					<div ng-repeat="profile in profiles | orderBy:'name'" ng-class="{'selected' : selectedProfile.id == profile.id}"  ng-click='editProfile(profile)'>
						<i class='icon-chevron-right' style='float:right'></i>
						{{profile.name}}
					</div>
				</div>
				<div class="footer">
					<button class="btn btn-add btn-info" ng-click="editProfile()">
						<i class="icon-white icon-plus-sign"></i> Add Profile
					</button>
				</div>
			</div>
		</div>
		<div class='span8'>
			<div class='content-container' ng-show='selectedProfile == null' style='width:50%;margin:auto;padding:15px;text-align:center'>Select a Profile</div>
			<div ng-switch on='policyEdit' ng-show='selectedProfile != null'>
				<div ng-switch-when='true' style='fade in'  ng-include='"../assets/components/policy-editor/policy-editor.html"' ng-controller='PolicyEditorController'>
				</div>
				<div ng-repeat='alert in alerts' class='alert alert-error fade in'>
					<button class='close' type='button' ng-click='hideAlert($index)'>&times;</button>
					<strong>Error!</strong> {{alert}}
				</div>
				<div ng-switch-default ng-controller='ProfileController'>
					<div class='content-container' ng-show='profilePolicies == null'>
						<h5><i class='icon-time'></i> Loading</h5>
					</div>
					<div class='content-container fade' ng-class='{ in : profilePolicies != null }'>
						<div class='modal-header'>
							<button ng-click='confirmDeleteProfile(profile)' ng-show='selectedProfile.id != null' type='button' class='btn btn-mini' style='float:right'><i class='icon-trash'></i></button>
							<h4><span ng-show='selectedProfile.id != null'>Edit</span><span ng-show='selectedProfile.id == null'>Add</span> Application Profile</h4>
						</div>
						<form name='editProfileForm' ng-submit='submitProfile()' class='form-horizontal' style='margin:0px'>
							<div class='modal-body'>
								<div class='control-group' ng-class='{ error : editProfileForm.selectedProfileName.$invalid }'>
									<label class='control-label' for='selectedProfileNameInput'>Application Profile Name</label>
									<div class='controls'>
										<input type='text' class='input-xlarge' ng-model='selectedProfile.name' name='selectedProfileName' id='selectedProfileNameInput' required unique-profile-name ng-maxlength='60' maxlength='60'>
										<span class='help-inline' ng-show='editProfileForm.selectedProfileName.$error.unique'>Duplicate</span>
									</div>
								</div>
								<div>
									<div>
										<div class='controls'>
											<div class="input-prepend">
												<span class="add-on"><i class='icon-search'></i></span><input ng-model='policyFilter' type='text' style='width:243px' placeholder='Filter Policies'>
												</div>
											<button ng-click='editPolicy()' class='btn btn-info' type='button'><i class=' icon-white icon-plus-sign'></i> Create New</button>
										</div>
									</div>
									<div class='selectList'>
										<h5 style='padding-left:10px'>Applied Policies</h5>
										<div class=''>
											<div>
												<div ng-repeat='profilePolicyId in profilePolicies | filter: filterName | orderBy: profileIdMap[profilePolicyId].name'>
													<i class='icon-minus-sign' ng-click='removeProfilePolicy(profilePolicyId)'></i>&nbsp;
													<span title='{{profileIdMap[profilePolicyId].name}}'>{{profileIdMap[profilePolicyId].name}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class='selectList'>
										<h5 style='padding-left:5px'>Available Policies</h5>
										<div>
											<div>
												<div ng-repeat='policy in policies | filter:filterAvailablePolicies | orderBy: policy.name'>
													<i class='icon-plus-sign' ng-click='addProfilePolicy(policy)'></i>&nbsp;
													<span title='{{policy.name}}'>{{policy.name}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class='modal-footer'>
								<button class='btn' ng-click='deselectProfile()' type='button'>Cancel</button>
								<button class='btn btn-primary' type='submit' ng-disabled='editProfileForm.$invalid'>Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="deleteProfileModal" data-backdrop="static" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Delete Profile?</h3>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to delete the profile {{selectedProfile.name}}?
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
			<button class="btn btn-primary" ng-click="deleteProfile()">Delete</button>
		</div>
	</div>
</div>