<div class="container" style="width: 990px;margin-top:90px">
	<div load-error='error' reload='doLoad()'></div>
	<div ng-hide='error'>
		<div ng-hide='application'><h5><i class='icon icon-time'></i> Loading...</h5></div>
		<div show-if='application'>
			<div class='reportTitle' style='margin-left:16.5px'>
				<strong>{{application.name}}</strong> - {{policyEvaluation.time | date:'yyyy-MM-dd'}} - <em>{{policyEvaluation.stage.stageName}} Report</em>
			</div>
			<div expandable-iframe='reportUrl'></div>
		</div>
	</div>
</div>