<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011-2014 Sonatype, Inc. All rights reserved.
    Includes the third-party code listed at http://links.sonatype.com/products/clm/attributions.
    "Sonatype" is a trademark of Sonatype, Inc.

-->
<configuration debug="false">
  <timestamp key="bySecond" datePattern="yyyyMMdd-HHmmss"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${com.sonatype.insight.scan.outDir}/scan-${com.sonatype.insight.scan.startTime}.log</file>
    <encoder>
      <pattern>[%level] %m%n</pattern>
    </encoder>
    <filter class="com.sonatype.insight.scan.cli.MarkerFilter">
      <marker>CONFIDENTIAL</marker>
      <onMatch>DENY</onMatch>
    </filter>
    <filter class="com.sonatype.insight.scan.cli.MarkerFilter">
      <marker>PATHS</marker>
      <onMatch>ACCEPT</onMatch>
    </filter>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %m%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
  <logger name="org.apache.http.wire" level="WARN" />
</configuration>
