#webhooks-list {
  &.tile {
    padding-top: 0;
  }

  .iq-tile-header__icon {
    img {
      margin-top: 3px; // magic number for webhooks icon
    }
  }

  .webhook-icon {
    padding-right: 5px;
  }
}

.iq-list__subtext {
  > .webhook-event-types {
    padding-right: 16px; // required for Webhooks List page
  }
}
