<!-- prettier-ignore -->
<div id="access-editor"
     class="iq-tile iq-tile--form-tile"
     load-wrapper="vm.loadError"
     loading="!vm.availableRoles"
     reload="vm.doLoad()"
     ng-if="!vm.availableRoles || vm.availableRoles.length > 0 || !vm.isNew">
  <header class="iq-tile-header">
    <div class="iq-tile-header__title">
      <i class="fa fa-puzzle-piece size-20px iq-tile-header__icon"></i>
      <h2>{{vm.isNew ? 'Add a Role' : vm.role.roleName}}</h2>
    </div>
  </header>
  <form class="iq-form" novalidate name="vm.rolePicker" ng-if="vm.isNew">
    <div class="iq-form-group" id="access-editor-role">
      <label class="iq-label" for="access-role-name">Role</label>
      <dropdown-selector id="access-role-name"
                         ng-model="vm.role"
                         options="vm.availableRoles"
                         name="role-name"
                         option-name-param="roleName"
                         clm-input
                         required
                         empty-option-string="-- Select Role --">
      </dropdown-selector>
    </div>
  </form>
  <role-membership form-mask="vm.accessEditorMask"
                   class="iq-role-membership-container"
                   mask-attach-to-body
                   save="vm.save"
                   role="vm.role"
                   original-members="vm.originalMembers"
                   get-current-members="vm.getCurrentMembers"
                   get-current-members-to-save="vm.getCurrentMembersToSave"
                   group-search-enabled="vm.groupSearchEnabled"
                   is-dirty="vm.isMembershipDirty">
      <!-- Role Membership form submission buttons get transcluded in -->
      <div class="iq-tile-footer" submit-wrapper="vm.submitError" retry="vm.save()">
        <button type="submit"
                id="save-access-role-button"
                class="iq-btn iq-btn--primary"
                submit-validation
                submit-dirty="vm.isValid()"
                submit-tooltip-target="body"
                submit-type="vm.isNew ? 'add' : 'update'">
          {{vm.isNew ? 'Add' : 'Update'}}
        </button><!--
     --><button id="remove-role-button"
                class="iq-btn iq-btn--tertiary"
                type="button"
                ng-click="vm.removeRole()"
                ng-if="!vm.isNew">
          <i class="fa fa-trash"></i>Remove Role
        </button>
      </div>
    </role-membership>
  </div>
<div ng-if="vm.availableRoles && vm.availableRoles.length === 0 && vm.isNew">
  <div class="iq-tile iq-alert iq-alert--error">
    <div class="iq-tile-content"><i class="fa fa-warning"></i>No roles available.</div>
  </div>
</div>
