.body-container--license {
  width: 100%;

  p {
    max-width: $iq-paragraph-width-maximum;
  }

  label.btn {
    margin-bottom: 0;
  }
}

.iq-license-info {
  margin: 8px 0;

  > dt:first-child {
    margin-top: 12px;
  }

  > dd:last-child {
    margin-bottom: 10px;
  }
}

.iq-license-info__nested-definitions {
  margin: 0;

  dt, dd {
    display: inline;
    margin: 0;
  }

  dt {
    font-weight: normal;

    &::after {
      content: " — ";
    }
  }
}

#license-fingerprint {
  word-wrap: break-word; // non-standard IE name for overflow-wrap
  overflow-wrap: break-word;
}

#uninstall-license {
  margin-left: 8px;
}

#license-form {
  display: inline-block;
  margin: 0;
}
