.body-container--license {
  width: 100%;

  p {
    max-width: $iq-paragraph-width-maximum;
  }

  label.btn {
    margin-bottom: 0;
  }
}

.iq-license-info {
  flex: 1 1 33%;
  margin: 8px 0;
  padding-top: 12px;
  padding-bottom: 10px;
}

.iq-license-info__nested-definitions {
  margin: 0;

  dt, dd {
    display: inline;
    margin: 0;
  }

  dt {
    font-weight: normal;

    &::after {
      content: " — ";
    }
  }
}

#uninstall-license {
  margin-left: 8px;
}

#license-form {
  display: inline-block;
  margin: 0;
}
