<div id='tags'>
  <div class="content-section">
    <div load-error='error' reload='doLoad()'></div>
    <div style='margin:25px' ng-show='tags == null && !error'>
      <h5><i class='icon-time'></i> Loading...</h5>
    </div>
    <div ng-show='!error && tags != null'>
      <div class="content-header">
        <h4>
          <span>{{ ao.selected.name }} Tags</span>
        </h4>
      </div>
      <div class='row'>
        <div class='span6'>
          <div class="label-list" style="min-height: 66px;">
            <h5>Applied Tags</h5>
            <div>
              <span ng-repeat='tag in appliedTags = (tags | filter: { isApplied: "true" } | orderBy:"name")' ng-click='toggleApply(tag)'>
                <span class='clm-tag' data-tooltip="{{tag.description}}" data-tooltip-placement="bottom">
                  {{tag.name}}&nbsp;
                </span>
              </span>
            </div>
            <em ng-show='appliedTags.length == 0'>No tags applied</em>
          </div>
        </div>
        <div class='span6'>
          <div class="label-list">
            <h5>Available Tags</h5>
            <div class='input-prepend fullWidthPrependedTextBox'>
              <span class='add-on'><i ng-class="{'icon-search': !tagSearch, 'icon-remove': tagSearch}" ng-click="tagSearch = ''"></i></span>
              <input type='text' placeholder='Find Tag' ng-model='tagSearch' prevent-submit style='width:221px'>
            </div>
            <div>
              <span ng-repeat='tag in availableTags = (tags | filter: { isApplied: "false", name: tagSearch } | orderBy:"name")' ng-click='toggleApply(tag)'>
                <span class='clm-tag' data-tooltip="{{tag.description}}" data-tooltip-placement="bottom">
                  {{tag.name}}&nbsp;
                </span>
              </span>
            </div>
            <em ng-show='availableTags.length == 0'>No tags available</em>
          </div>
        </div>
      </div>
      <div clm-alerts='alerts'></div>
    </div>
  </div>
  <div error-Modal></div>
</div>
