<div class="iq-tree-view iq-tree-view--multi-select">
  <a
    class="iq-tree-view__trigger tm-tree-view-trigger"
    ng-click="isExpanded = vm.available.length && !isExpanded"
    ng-class="{disabled: vm.isComponentDisabled()}"
    data-tooltip="{{vm.getTooltipText()}}"
    data-tooltip-placement="top-left"
    data-tooltip-append-to-body="true"
    tooltip-class="filter-label-tooltip {{::vm.tooltipModifierClass}}"
  >
    <div class="iq-counter" ng-class="{'iq-counter--active': vm.selected.size !== 0}">
      {{vm.selected.size === 0 ? '' : vm.selected.size + ' of '}}{{::vm.available.length}}
    </div>
    <div class="iq-tree-view__twisty">
      <span class="iq-tree-view__twisty-icon" ng-class="{ expand: !isExpanded, collapse: isExpanded }"></span>
    </div>
    <div class="iq-tree-view__text">
      <span ng-transclude></span>
    </div>
  </a>
  <div ng-if="isExpanded" class="iq-tree-view__children">
    <div class="iq-tree-view__filter search input-prepend ng-scope" ng-if="vm.showFilter()">
      <span class="add-on">
        <i
          role="button"
          class="fa fa-filter"
          ng-class="{ 'fa-filter': !vm.filter, 'fa-times': vm.filter }"
          ng-click="vm.filter = ''"
          tabindex="0"
        >
        </i>
      </span>
      <input type="text" ng-model="vm.filter" autocomplete="off" placeholder="{{vm.filterPlaceholder}}" />
    </div>
    <div class="iq-tree-view__child">
      <iq-checkbox
        label="all/none"
        class="tm-select-all"
        on-click="vm.toggleSelectAll()"
        is-checked="vm.allSelected()"
        is-disabled="vm.isDisabled"
      >
      </iq-checkbox>
    </div>
    <div
      class="iq-tree-view__child tm-select-entity"
      ng-repeat="entity in vm.available | fuzzy:vm.filter:'name' | orderBy: vm.sortEntities ? ['name'] : []"
    >
      <label
        class="iq-checkbox__label"
        ng-class="{'tm-checked':vm.selected.has(entity.id),
                        'tm-unchecked':!vm.selected.has(entity.id),
                        'iq-checkbox--disabled': vm.isDisabled}"
        tooltip="{{::(vm.tooltipGenerator({entity: entity}))}}"
        tooltip-append-to-body="true"
        data-tooltip-popup-delay="200"
        data-tooltip-placement="top-left"
        tooltip-class="filter-item-tooltip {{::vm.tooltipModifierClass}}"
      >
        <input
          type="checkbox"
          class="iq-checkbox__input"
          ng-checked="vm.selected.has(entity.id)"
          ng-disabled="vm.isDisabled"
          ng-click="vm.toggle(entity.id)"
          id="{{vm.generateCheckboxId(vm.name, entity.id)}}"
        />
        <span class="iq-checkbox__box"></span>{{::entity.name}}
      </label>
    </div>
  </div>
</div>
