/*
  #Main Header
*/
$header-dropdown-panel-background-color-rgba: rgba(0, 0, 0, 0.2);
$main-header-background: $iq-blue;
$main-header-color: $iq-off-white;
$main-header-highlight: #2b3662;
$notification-item-border: 1px solid $iq-grey-1;
$iq-notification-age-qualifier-width: 66px;
$iq-notification-age-width: 43px;
$iq-main-header-height: 72px;
$main-header-nav-breakpoint: 1150px;

/*
  First Row
*/
.iq-header {
  background-color: $main-header-background;
  flex-shrink: 0; // needed for IE11
  height: $iq-main-header-height;
  width: 100%;
}

.iq-header__inner {
  background-color: $main-header-background;
  display: flex;
  height: $iq-main-header-height;
  margin: 0 auto;
  width: 100%;
  max-width: $iq-page-width-max;
}

.iq-title {
  box-sizing: border-box;
  color: $iq-off-white;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: $iq-sidebar-width;
  line-height: 24px;
}

.iq-title__logo-container {
  flex: 0 0 52px;
}

.iq-logo {
  height: 48px;
  margin: 12px 0 0 1px;

  @media (max-width: $iq-page-width-max) {
    margin-left: 9px; // 1px border + 8px padding
  }
}

.iq-logo--print {
  display: none;
}

.iq-title__text-container {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;

  @media (max-width: $iq-page-width-max) {
    margin-left: 8px;
  }
}

.iq-title__product {
  @include semi-bold();
  font-size: 23px;
  margin-top: 14px;
  text-transform: lowercase;

  .iq-small-caps {
    font-size: 18px;
    text-transform: uppercase;
  }
}

.iq-title__sub-title {
  @include bold();

  display: flex;
  font-size: 11px;
  line-height: 11px;
}

.iq-title__attribution {
  white-space: nowrap;
}

.iq-title__version {
  @include bold();

  border-left: 1px solid $iq-off-white;
  margin-left: $iq-spacing-xs;
  padding-left: $iq-spacing-xs;

  &.visual-testing-ignore {
    padding-right: 4px; // right padding increases ignore region width
  }
}

.iq-main-header-nav-container {
  display: flex;
  flex: 1 0 $iq-content-width;
}

.iq-navigation {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;

  .tooltip {
    // when the tooltips first appear, they blip in without proper positioning. This is especially
    // intrusive when they blip in at the top of an element that they are supposed to be at the bottom of,
    // which is what seems to happen in a flex container. This sets the initial vertical positioning correctly
    // to avoid that
    top: $iq-main-header-height;
  }
}

.iq-navigation__button {
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  color: $main-header-color;
  flex: 0 0 100px;
  height: $iq-main-header-height;
  text-align: center;

  &:hover, &:focus {
    background-color: $main-header-highlight;
    border-color: $iq-grey-1;
    color: $main-header-color;
    text-decoration: none;
  }

  &.active {
    background-color: $main-header-highlight;
    border-color: $iq-grey-1;
    color: $main-header-color;
  }

  @media (max-width: $main-header-nav-breakpoint) {
    flex-basis: 85px;
  }
}

.iq-main-nav__button-label {
  @include bold();

  font-size: 11px;
  line-height: 13px;
  margin: 6px 0 0 0;

  @media (max-width: $main-header-nav-breakpoint) {
    font-size: 10px;
  }
}

.iq-main-nav__button-icon {
  display: block;
  margin-top: 16px;

  .nx-icon {
    height: 24px;
  }
}

.iq-btn--main-header {
  @include bold;
  height: 100%;
  line-height: 16px;
  text-align: center;

  &, &:hover, &:active, &:focus {
    background: none;
    border: none;
    color: $main-header-color;
    outline: none;
    text-decoration: none;
  }

  .nx-icon {
    font-size: 16px;
    vertical-align: middle;
  }
}

.iq-nav-bar--system {
  align-items: center;
  border-left: 1px solid $main-header-color;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: space-around;
  max-width: 250px;

  .iq-dropdown {
    flex: 0 0;
  }
}

/*
  #HEADER DROPDOWNS
*/
.iq-dropdown-toggle--main-header {
  color: $main-header-color;
  padding-top: 12px;

  &:hover {
    color: $main-header-color;
    text-decoration: none;
  }

  .nx-icon {
    height: 21px;
    margin: 0;
  }
}

.iq-dropdown-menu--main-header {
  &:first-child {
    padding-bottom: 12px;
  }

  &::before {
    border-right: 9px solid transparent;
    border-bottom: 8px solid $header-dropdown-panel-background-color-rgba;
    border-left: 9px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 1px;
  }

  &::after {
    border-right: 8px solid transparent;
    border-bottom: 8px solid $iq-off-white;
    border-left: 8px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 2px;
  }
}

.iq-count-circle {
  @include bold();
  @include border-radius(50%);

  background-color: $main-header-color;
  color: $iq-off-black;
  font-size: 10px;
  height: 16px;
  position: absolute;
  top: 23px;
  left: 22px;
  text-align: center;
  width: 16px;

  &.exclamation {
    background-color: #F2DEDE;
    border: solid thin #B94A48;
    color: #B94A48;
  }
}


// User Menu
.iq-dropdown--user-menu {
  margin-left: 8px;
  width: auto;

  .iq-dropdown-menu {
    left: 4px;
  }
}

.nx-icon--user-caret {
  .nx-icon {
    font-size: 16px;
  }
}

.iq-user-name {
  display: block;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  max-width: 200px; // distance between dropdown and edge of screen at 1024px
}

.iq-dropdown-toggle--user-menu {
  width: auto;
}

// Notifications menu
.iq-dropdown--notifications {
  .iq-dropdown-menu--main-header {
    padding-bottom: 8px;
    right: -80px;
    left: auto;
    width: 360px;

    &::before {
      right: 91px;
      left: inherit;
    }

    &::after {
      right: 91px;
      left: inherit;
    }
  }

  .iq-scrollable {
    max-height: 318px;
  }
}

.iq-notification {
  background-color: $iq-off-white;
  color: $iq-off-black;
  cursor: auto;
  min-height: 36px;
  line-height: 18px;
  padding: 8px;

  &.selected {
    background-color: $iq-grey-1;
  }

  &.viewed {
    color: $iq-slate;
  }
}

.iq-notification__age {
  box-sizing: border-box;
  float: left;
  font-size: 20px;
  line-height: 20px;
  padding-right: 8px;
  text-align: right;
  width: $iq-notification-age-width;
}

.iq-notification__age-qualifier {
  box-sizing: border-box;
  float: left;
  padding-right: 16px;
  text-align: left;
  white-space: normal;
  width: $iq-notification-age-qualifier-width;
}

.iq-notification__text {
  display: inline-block;
  width: calc(100% - #{$iq-notification-age-qualifier-width + $iq-notification-age-width});
  white-space: normal;
}

.iq-dropdown-submenu {
  background-color: $iq-off-white;
  box-shadow: $dropdown-menu-box-shadow;
  height: 375px;
  list-style: none;
  margin-right: 12px;
  padding-bottom: 12px;
  position: absolute;
  top: 0;
  right: 390px;
  width: 500px;

  &::before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 8px solid $iq-off-white;
    content: "";
    display: inline-block;
    position: absolute;
    top: 16px;
    right: -8px;
  }

  &::after {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(254, 254, 254, 0.2);
    content: "";
    display: inline-block;
    position: absolute;
    top: 16px;
    right: -8px;
  }
}

.iq-dropdown-submenu__title {
  @include regular();

  border-bottom: 1px solid $iq-grey-1;
  color: $iq-slate;
  line-height: 18px;
  padding: 12px 8px;
}

.iq-dropdown-submenu__container {
  overflow: auto;
  padding: 8px 8px 0 8px;

  li {
    line-height: 18px;
    list-style: disc;
    margin: 0 0 10px 25px;
    padding: 0;
  }
}

// System Configuration Menus
.iq-dropdown--system-configuration-menu {
  .iq-dropdown-menu--main-header {
    left: -160px;

    &::before {
      left: 170px;
    }

    &::after {
      left: 171px;
    }
  }
}

// Help Menus
.iq-dropdown--help-menu {
  .iq-dropdown-menu--main-header {
    left: -154px;

    &::before {
      left: 165px;
    }

    &::after {
      left: 166px;
    }
  }
}

.iq-login-button-container {
  flex-grow: 1;
  justify-content: flex-end;
}
