<div class="iq-header">
  <div class="iq-header__inner">
    <div class="iq-title">
      <div class="iq-title__logo-container">
        <img src="img/mainHeader_2019/IQ-logo-2019.svg" class="iq-logo" alt="Logo">
        <img src="img/mainHeader_2019/IQ-logo-2019.svg#print" class="iq-logo iq-logo--print" alt="Logo">
      </div>
      <div class="iq-title__text-container">
        <div class="iq-title__product">
          Nexus <span class="iq-small-caps">IQ</span> Server
        </div>
        <div class="iq-title__sub-title">
          <span class="iq-title__attribution">
            by Sonatype
          </span>
          <span class="iq-title__version visual-testing-ignore">
            {{vm.productEdition}} release {{::vm.getReleaseVersion()}}
          </span>
        </div>
      </div>
    </div>
    <div id="main-header-buttons" class="iq-main-header-nav-container" ng-if="vm.isLoggedIn()">
      <div class="iq-navigation">
        <a ui-sref="dashboard.overview.violations"
           class="iq-navigation__button"
           id="dashboard-navigation-button"
           ng-class="{ 'active' : vm.$state.includes('dashboard') }"
           ng-if="vm.isDashboardLicensed()">
          <nx-font-awesome-icon icon="vm.faTachometerAltFast"
                                class="iq-main-nav__button-icon"
                                size="'2x'">
          </nx-font-awesome-icon>
          <div class="iq-main-nav__button-label">Dashboard</div>
        </a>
        <a ui-sref="violations"
           class="iq-navigation__button"
           id="reporting-navigation-button"
           ng-class="{ 'active' : vm.$state.includes('violations') }"
           ng-if="vm.isLicensed()">
          <nx-font-awesome-icon icon="vm.faChartBar"
                                class="iq-main-nav__button-icon"
                                size="'2x'">
          </nx-font-awesome-icon>
          <div class="iq-main-nav__button-label">Reporting</div>
        </a>
        <a ui-sref="management.view"
           class="iq-navigation__button"
           id="policies-navigation-button"
           ng-class="{ 'active' : vm.$state.includes('management') }"
           ng-if="vm.isLicensed()">
          <nx-font-awesome-icon icon="vm.faSitemap"
                                class="iq-main-nav__button-icon"
                                size="'2x'">
          </nx-font-awesome-icon>
          <div class="iq-main-nav__button-label">Orgs and Policies</div>
        </a>
        <a ui-sref="labs.successMetrics"
           class="iq-navigation__button"
           id="labs-navigation-button"
           ng-class="{ 'active' : vm.$state.includes('labs') }"
           ng-if="vm.isSuccessMetricsEnabled">
          <nx-font-awesome-icon icon="vm.faFlask" class="iq-main-nav__button-icon" size="'2x'"></nx-font-awesome-icon>
          <div class="iq-main-nav__button-label">Metrics</div>
        </a>
        <a ui-sref="vulnerabilitySearch"
           class="iq-navigation__button"
           id="vulnerability-navigation-button"
           ng-class="{ 'active' : vm.$state.includes('vulnerabilitySearch') ||
           vm.$state.includes('vulnerabilitySearchDetail')}"
           ng-if="vm.isLicensed()">
          <nx-font-awesome-icon icon="vm.faSearch" class="iq-main-nav__button-icon" size="'2x'"></nx-font-awesome-icon>
          <div class="iq-main-nav__button-label">Vulnerabilities</div>
        </a>
        <a ui-sref="searchResults"
           class="iq-navigation__button"
           id="search-navigation-button"
           ng-class="{ 'active' : vm.$state.includes('searchResults') }"
           ng-if="vm.isLicensed() && vm.isFullTextSearchEnabled"
           tooltip="Global Search"
           tooltip-placement="bottom">
          <nx-font-awesome-icon icon="vm.faAtlas" class="iq-main-nav__button-icon" size="'2x'"></nx-font-awesome-icon>
          <div class="iq-main-nav__button-label">Global Search</div>
        </a>
      </div>
      <div class="iq-nav-bar--system">
        <user-menu></user-menu>
        <notifications-menu></notifications-menu>
        <system-configuration-menu ng-if="vm.hasAnyPermission()"
                                   permissions="vm.permissions"
                                   is-webhooks-supported="vm.isWebhooksSupported">
        </system-configuration-menu>
        <help-menu></help-menu>
      </div>
    </div>
    <div class="iq-login-button-container">
      <button id="login-header-btn"
              class="iq-btn iq-btn--main-header iq-pull-right"
              ng-if="vm.shouldShowLoginButton()"
              ng-click="vm.login()">
        <nx-font-awesome-icon icon="vm.faUserAlt"></nx-font-awesome-icon><!--
     --><span class="iq-btn__content--main-header">Login</span>
      </button>
    </div>
  </div>
</div>
