<div class="iq-header">
  <div class="iq-header__inner">
    <div class="iq-title">
      <img src="img/NexusIQServer_Icon_responsive_printable.svg" class="iq-logo" alt="Logo">
      <img src="img/NexusIQServer_Icon_responsive_printable.svg#print" class="iq-logo iq-logo--print" alt="Logo">
      <div class="iq-title__brand">
        Sonatype Nexus IQ Server
      </div>
      <div class="iq-title__version visual-testing-ignore">
        {{vm.productEdition}} release {{::vm.getReleaseVersion()}}
      </div>
    </div>
    <div id="main-header-buttons" ng-if="vm.isLoggedIn()">
      <div class="iq-navbar">
        <ul class="iq-navigation-menu iq-inline iq-pull-left">
          <li id="dashboard-navigation-button"
              class="iq-navigation-menu__button"
              ng-class="{ 'active' : vm.$state.includes('dashboard') }"
              tooltip="Dashboard"
              tooltip-placement="bottom"
              ng-if="vm.isDashboardLicensed()">
            <a ui-sref="dashboard.overview.violations" class="iq-navigation__link">
              <span><i class="sonatype-icons medium dashboard iq-navigation-menu__icon"></i></span>
            </a>
          </li><!-- fix chrome bounce
       --><li id="reporting-navigation-button"
              class="iq-navigation-menu__button"
              ng-class="{ 'active' : vm.$state.includes('violations') }"
              tooltip="Reporting"
              tooltip-placement="bottom"
              ng-if="vm.isLicensed()">
            <a ui-sref="violations" class="iq-navigation__link">
              <span><i class="sonatype-icons medium reporting iq-navigation-menu__icon"></i></span>
            </a>
          </li><!-- fix chrome bounce
       --><li id="policies-navigation-button"
              class="iq-navigation-menu__button"
              ng-class="{ 'active' : vm.$state.includes('management') }"
              tooltip="Organization & Policies"
              tooltip-placement="bottom"
              ng-if="vm.isLicensed()">
            <a ui-sref="management.view" class="iq-navigation__link">
              <span><i class="sonatype-icons medium organizational-design iq-navigation-menu__icon"></i></span>
            </a>
          </li><!-- fix chrome bounce
       --><li id="labs-navigation-button"
              class="iq-navigation-menu__button"
              ng-class="{ 'active' : vm.$state.includes('labs') }"
              ng-if="vm.isSuccessMetricsEnabled"
              tooltip="Success Metrics"
              tooltip-placement="bottom">
            <a ui-sref="labs.successMetrics" class="iq-navigation__link">
              <span><i class="fa fa-flask iq-navigation-menu__icon"></i></span>
            </a>
          </li><!-- fix chrome bounce
       --><li id="vulnerability-navigation-button"
              class="iq-navigation-menu__button"
              ng-class="{ 'active' : vm.$state.includes('vulnerabilitySearch') ||
                vm.$state.includes('vulnerabilitySearchDetail')}"
              ng-if="vm.isLicensed()"
              tooltip="Vulnerability Search"
              tooltip-placement="bottom">
          <a ui-sref="vulnerabilitySearch" class="iq-navigation__link">
            <span><i class="fa fa-search iq-navigation-menu__icon"></i></span>
          </a>
        </li>
          <li class="iq-navigation-menu__button">
            <!-- This div is here strictly to support dev and is not intended for client facing content -->
            <div id="functionalTestingSupport" style="color: red;"></div>
          </li>
        </ul>
      </div>
      <!-- Each of these div's represents a button set. They must be listed in inverse order -->
      <help-menu></help-menu>
      <system-configuration-menu 
              ng-if="vm.hasAnyPermission()"
              permissions="vm.permissions"
              is-webhooks-supported="vm.isWebhooksSupported"></system-configuration-menu>
      <notifications-menu></notifications-menu>
      <user-menu></user-menu>
    </div>
  </div>
</div>
