.content {
    padding: 5px;
}

#infoPanelArtifactTable tr td:first-child {
    font-size:11px;
    color:#333333;
    text-align: right;
    vertical-align: top;
    width: 120px;
}

#infoPanelArtifactTable tr td:last-child {
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    color:#333333;
    padding-left: 5px;
    width: 200px;
    word-wrap: break-word;
}
#infoPanelArtifactTable .license {
	display: inline-block;
	margin-right: 1ex;
}

.clm-chiclet {
    display:inline-block;
    height: 18px;
    min-width: 18px;
    padding: 0 5px;
    text-align: center;
    border-radius: 2px;
    color:white;
}

.clm-chiclet.critical {
    background-color:#DB2852;
}

.clm-chiclet.severe {
    background-color:#F7941E;
}

.clm-chiclet.moderate {
    background-color:#F5C649;
    color:black;
}

.clm-chiclet.none {
  background-color:#0047b2;
}

.clm-chiclet.ignore {
  background-color:#0081c2;
}

.clm-chiclet.unspecified {
    background-color:#d9dade;
    color:#444549;
}

#aiVersionChartContainer {
	background:rgb(247,251,254);
	border-radius:4px;
	border:1px solid #D8DBE0;
	font-size:0;
	height:298px;
	padding:2px;
	margin-top:4px;
}
#aiVersionChartLabels, #aiVersionChartViz {
	display:inline-block;
	vertical-align:top;
}

.cipContentBox {
	margin:auto;
	width:50%
}

#detailsparent {
	background-image:url("artifactInfoIcon.png");
	background-repeat:no-repeat;
	width:328px;
	min-height:50px;
	padding-left:40px;
}

.cip-box {
	display:inline-block;
	vertical-align:top;
}

#custom {
	border: 1px #C9C9C9 solid;
	border-radius: 4px;
	padding: 4px;
	margin-top:5px;
	height:40px;
	color:#C9C9C9;
	background:#EFEFEF;
	width:481px;
}

form.form-horizontal .controls {
	margin-left : 100px;
}
form.form-horizontal .control-label {
	width : 80px
}
#version-graph form, #version-graph form .control-group {
	margin: 0px !important
}
.alert {
	margin-top : 10px;
}
.alert-centered {
	margin: 10px auto !important;
	text-align: center;
	vertical-align: middle;
	width: 50% !important;
}
.application-header {
	background : #f5f5f5;
	border-bottom : 1px solid #e5e5e5;
	padding : 10px;
}