.clm-modal .clm-modal-header i {
  margin-right: 8px;
}

.clm-modal .alert-info {
  padding: 8px 35px 8px 14px;
  border: 1px solid #006bbf;
  background-color: #fefefe;
  color: #070707;
  border-radius: 0;
}

.clm-modal .clm-btn {
  min-width: 100px;
}

.clm-modal .clm-modal-footer .clm-btn {
  margin-right: 12px;
}

/* form */

.clm-modal .clm-form .section .field:nth-child(n+2) {
  margin-top: 20px;
}

.clm-modal .clm-form .section:last-child {
  margin-bottom: 0;
}

.clm-modal .clm-form label {
  display: block;
}

.clm-modal .clm-form label.checkbox {
  color: #070707;
  font-size: 14px;
  font-family: Proxima Nova Regular, sans-serif;
  padding-left: 40px;
}

.clm-modal .section.with-icon {
  margin-top: -4px;
  margin-bottom: 19px;
}

.clm-modal .section.with-icon>i {
  margin-right: 8px;
}
