<form id="{{vm.identifier}}user-form"
      name="userForm"
      class="iq-form iq-form--no-padding iq-form--no-border"
      ng-submit="vm.saveClick(vm.user)"
      novalidate
      autocomplete="off">
  <div class="iq-form-group">
    <label class="iq-label" for="firstname">First Name</label>
    <input clm-input
           id="firstName"
           name="firstName"
           type="text"
           ng-required="true"
           valid-name-characters
           placeholder="ex. Isaac"
           ng-model="vm.user.firstName"
           focus-input="vm.user"
           has-whitespace-validator>
  </div>
  <div class="iq-form-group">
    <label class="iq-label" for="lastName">Last Name</label>
    <input clm-input
           id="lastName"
           name="lastName"
           type="text"
           ng-required="true"
           valid-name-characters
           placeholder="ex. Asimov"
           ng-model="vm.user.lastName"
           has-whitespace-validator>
  </div>
  <div class="iq-form-group">
    <label class="iq-label" for="email">Email</label>
    <input clm-input
           id="email"
           name="email"
           type="email"
           ng-required="true"
           placeholder="ex. iasimov@sonatype.com"
           ng-model="vm.user.email">
  </div>
  <div ng-if="!vm.user.id">
    <div class="iq-form-group">
      <label class="iq-label" for="username">Username</label>
      <input clm-input
             class="iq-text-input"
             id="username"
             name="username"
             type="text"
             ng-required="!vm.user.id"
             ng-pattern="/^\S*$/"
             valid-name-characters
             is-duplicate
             is-duplicate-array="vm.existingUsers"
             is-duplicate-id-field="id"
             is-duplicate-case-sensitive="false"
             placeholder="ex. iasimov"
             ng-model="vm.user.username"
             messages="{pattern: 'Must not contain spaces', duplicate: 'Username already taken'}">
    </div>
    <div class="iq-form-group">
      <label class="iq-label" for="password">Password</label>
      <input clm-input
             class="iq-text-input"
             id="password"
             name="password"
             type="password"
             ng-required="!vm.user.id"
             placeholder="ex. correcthorsebatterystaple"
             ng-model="vm.user.password">
    </div>
    <div class="iq-form-group">
      <label class="iq-label" for="passwordValidate">Validate Password</label>
      <input clm-input
             class="iq-text-input"
             id="passwordValidate"
             name="passwordValidate"
             type="password"
             ng-required="!vm.user.id"
             placeholder="ex. correcthorsebatterystaple"
             ng-model="vm.passwordValidate"
             clm-match="vm.user.password"
             messages="{ match : 'Passwords must match!'}">
    </div>
  </div>
  <div clm-alerts="vm.alerts" no-close="true"></div>
  <button id="{{vm.identifier}}user-form-save"
          class="iq-btn iq-btn--primary"
          type="button"
          ng-click="vm.saveClick(vm.user)"
          ng-disabled="userForm.$invalid || userForm.$pristine || vm.saving">
    Save
  </button>
  <button id="{{vm.identifier}}user-form-cancel"
          type="button"
          class="iq-btn"
          type="button"
          ng-click="vm.cancelClick(vm.user)">
    Cancel
  </button>
</form>
