<div id="ltg-editor"
     class="iq-tile iq-tile--form-tile"
     load-wrapper="vm.loadError"
     loading="!vm.dirtyLTG"
     reload="vm.doLoad()">
  <header class="iq-tile-header">
    <div class="iq-tile-header__title">
      <i class="fa size-20px fa-book slate iq-tile-header__icon"></i>
      <h2>{{::vm.dirtyLTG.id ? 'Edit' : 'New'}} License Threat Group</h2>
    </div>
  </header>
  <form name="vm.ltgEditor"
        class="iq-form"
        role="form"
        ng-submit="vm.save()"
        novalidate
        form-mask="vm.ltgEditorMask"
        mask-attach-to-body>          
    <div class="iq-tile-content">
      <div class="iq-form-row">
        <div class="iq-form-group">
          <label for="editor-ltg-name" class="iq-label">License Threat Group Name</label>
          <input id="editor-ltg-name"
                 class="iq-text-input"
                 type="text"
                 name="ltg"
                 required
                 ng-model="vm.dirtyLTG.name"
                 ng-maxlength="60"
                 focus-input="true"
                 valid-name-characters
                 is-duplicate
                 is-duplicate-array="vm.siblings"
                 is-duplicate-id-field="id"
                 messages="{duplicate: 'Name is already in use'}"
                 clm-input>
        </div>
        <div class="iq-form-group">
          <label class="iq-label" for="editor-ltg-threat-level">Threat Level</label>
          <threat-level-selector id="editor-ltg-threat-level"
                                 class="test-threat-level"
                                 ng-model='vm.dirtyLTG.threatLevel'
                                 threat-type="ltg">
          </threat-level-selector>
        </div>
      </div>
      <div class="iq-form-group">
        <label class="iq-label" for="editor-ltg-included-licenses">Included Licenses</label>
        <double-column-picker id="editor-ltg-included-licenses"
                              list="vm.availableLicenses"
                              filter-placeholder="License Name"
                              left-column-name="Available"
                              right-column-name="Included"
                              item-name-param="fullDisplayName"
                              tooltip-fn="vm.getTooltip(item)">
        </double-column-picker>
      </div>
    </div>
    <div class="iq-tile-footer" submit-wrapper="vm.submitError" retry="vm.save()">
      <button id="save-ltg-button"
              class="iq-btn iq-btn--primary"
              type="submit"
              submit-validation
              submit-dirty="vm.isLTGDirty()"
              submit-tooltip-target="body"
              submit-type="vm.dirtyLTG.id ? 'update' : 'create'">
        {{vm.dirtyLTG.id ? 'Update' : 'Create'}}
      </button><!--
   --><button id="delete-ltg-button"
              class="iq-btn iq-btn--tertiary"
              type="button"
              ng-click="vm.deleteLTG()"
              ng-if="vm.dirtyLTG && !vm.dirtyLTG.$new">
        <i class="fa fa-trash"></i>Delete License Threat Group
      </button>
    </div>
  </form>
</div>
