<div id="dashboard-components">
  <div class="dashboard-headers">
    <div class="tile summary-tile">
      <div class="dashboard-header-container">
        <div class="components-row" sort="name">
          <div class="column greedy component-name" sort-column="name">
            <span class="header-text">Name</span>
          </div><!--
     --><div class="column fixed affected-apps split-line" sort-column="-affectedApplications">
          <span class="header-text">Affected Apps</span>
        </div><!--
     --><div class="column fixed total-risk split-line" sort-column="-score">
          <span class="header-text">Total Risk</span>
        </div><!--
     --><div class="column fixed critical-risk" sort-column="-scoreCritical">
          <span class="header-text">Critical</span>
        </div><!--
     --><div class="column fixed severe-risk" sort-column="-scoreSevere">
          <span class="header-text">Severe</span>
        </div><!--
     --><div class="column fixed moderate-risk" sort-column="-scoreModerate">
          <span class="header-text">Moderate</span>
        </div><!--
     --><div class="column fixed low-risk" sort-column="-scoreLow">
          <span class="header-text">Low</span>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-results">
    <div class="tile-container" fill-vertical>
      <div class="tile-scroll-container">
        <div components-results>
          <div class="tile clickable" ng-repeat="component in data | limitTo: maxResults | orderBy:sortVm.sortFields"
               ng-click="goToComponentDetails(component)">
            <div class="components-row">
              <div class="column greedy component-name semi-bold">{{component.name}}</div><!--
              --><div class="column fixed padded-cell affected-apps">{{::component.affectedApplications}}</div><!--
              --><div class="column fixed padded-cell total-risk">{{::component.score}}</div><!--
              --><div class="column fixed padded-cell critical-risk">{{::component.scoreCritical}}</div><!--
              --><div class="column fixed padded-cell severe-risk">{{::component.scoreSevere}}</div><!--
              --><div class="column fixed padded-cell moderate-risk">{{::component.scoreModerate}}</div><!--
              --><div class="column fixed padded-cell low-risk">{{::component.scoreLow}}</div><!--
              --><div class="column chevron"><i class="fa fa-chevron-right"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
