<div class="tree-view">
  <script type="text/ng-template" id="entity-filter-template">
    <div class="tree-view-group">
      <a class="tree-view-item cannot-select" ng-click="isExpanded = !isExpanded">
        <div class="dashboard-filter-counter">
          {{vm.selectedCount === available.length ? 'All' : vm.selectedCount}} of {{::available.length}}
        </div>
        <div class="twisty-container">
          <span class="twisty" ng-class="{ expand: !isExpanded,
                                         collapse: isExpanded }"></span>
        </div><span ng-transclude></span>
      </a>
      <div ng-if="isExpanded" class="tree-view-children">
        <div class="tree-view-filter search input-prepend ng-scope" ng-if="available.length > 10">
          <span class="add-on">
            <i role="button" class="fa fa-filter"
               ng-class="{ 'fa-filter': !vm.filter, 'fa-times': vm.filter }"
               ng-click="vm.filter = ''" tabindex="0"></i>
          </span>
          <input type="text" ng-model="vm.filter" autocomplete="off" placeholder="{{shortName}} Name">
        </div>
        <div class="clm-form">
          <a class="tree-view-item cannot-select">
            <label class="checkbox" ng-click="$event.stopPropagation();">
              <input type="checkbox" name="all" ng-click="vm.toggleSelectAll()" ng-checked="vm.allSelected()"><!--
              --><span>all {{!vm.filter ? longName : 'matches'}}</span>
            </label>
          </a>
          <label class="tree-view-item checkbox"
             tooltip="{{::(tooltipField ? 'in ' + entity[tooltipField] : '')}}" tooltip-append-to-body="true" 
             data-tooltip-popup-delay="200"
             ng-repeat="entity in available | fuzzy:vm.filter:nameField | orderBy: [nameField]"
             ng-click="$event.stopPropagation()">
              <input type="checkbox" name="{{::entity.id}}" ng-model="selected[entity[idField]]"
                     ng-change="vm.updateSelectedCount(entity[idField])"><!--
              --><span>{{::entity[nameField]}}</span>
          </label>
        </div>
      </div>
    </div>
  </script>

  <div class="tree-view-header">
    Filter
  </div>
  <div load-wrapper="vm.loadError" reload="vm.doLoad()" error-message="Unable to load filter data."
       loading="!vm.applications">

    <dashboard-filter-dimension available="vm.applications"
                                selected="vm.selected.applications"
                                long-name="applications"
                                short-name="Application"
                                tooltip-field="organizationName"><!--
       --><i class="fa fa-terminal tree-view-icon icon-12px inverse"></i>Applications
    </dashboard-filter-dimension>

    <dashboard-filter-dimension available="vm.categories"
                                selected="vm.selected.categories"
                                long-name="application categories"
                                short-name="Category"
                                tooltip-field="owner"><!--
       --><hexagon class="size-16px size-fw outline tree-view-icon"></hexagon>Application Categories
    </dashboard-filter-dimension>

    <dashboard-filter-dimension available="vm.stages"
                                selected="vm.selected.stages"
                                id-field="stageTypeId"
                                name-field="stageName"
                                long-name="stages"
                                short-name="Stage"><!--
       --><i class="tree-view-icon"></i>Stages
    </dashboard-filter-dimension>

    <dashboard-filter-dimension available="vm.policyTypes"
                                selected="vm.selected.policyTypes"
                                long-name="policy types"
                                short-name="Policy Type"><!--
       --><i class="tree-view-icon"></i>Policy Types
    </dashboard-filter-dimension>

    <div class="tree-view-group">
      <a class="tree-view-item" ng-click="vm.policyThreatLevelState.isExpanded = !vm.policyThreatLevelState.isExpanded">
        <div class="dashboard-filter-counter">{{vm.selected.policyThreatLevels[0]}} &ndash;
          {{vm.selected.policyThreatLevels[1]}}
        </div>
        <div class="twisty-container">
          <span class="twisty"
                ng-class="{ expand: !vm.policyThreatLevelState.isExpanded, collapse: vm.policyThreatLevelState.isExpanded}"></span>
        </div><!--
       --><i class="tree-view-icon"></i>Policy Threat Level
      </a>
      <div class="tree-view-control" ng-if="vm.policyThreatLevelState.isExpanded">
        <div class="policy-threat-level-slider">
          <div slider ng-model="vm.selected.policyThreatLevels" min="0" max="10" hide-labels="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>
