<form class="dashboard-filter-container" ng-submit="vm.save()">
  <div class="tree-view">
    <script type="text/ng-template" id="entity-filter-template">
      <div>
        <a class="tree-view-item cannot-select"
           ng-click="isExpanded = available.length && !isExpanded"
           ng-class="{disabled: !available.length}"
           data-tooltip="{{:: available.length ? '' : 'There are no ' + longName + ' to filter.'}}"
           data-tooltip-placement="top-left"
           data-tooltip-append-to-body="true"
           tooltip-class="filter-label-tooltip">
          <div class="dashboard-filter-counter" ng-class="{inactive: vm.selectedCount === 0}">
            {{vm.selectedCount === 0 ? '' : vm.selectedCount + ' of '}}{{::available.length}}
          </div>
          <div class="twisty-container">
            <span class="twisty" ng-class="{ expand: !isExpanded,
                                             collapse: isExpanded }"></span>
          </div><span ng-transclude></span>
        </a>
        <div ng-if="isExpanded" class="tree-view-children">
          <div class="tree-view-filter search input-prepend ng-scope" ng-if="available.length > 10">
            <span class="add-on">
              <i role="button" class="fa fa-filter"
                 ng-class="{ 'fa-filter': !vm.filter,
                             'fa-times': vm.filter }"
                 ng-click="vm.filter = ''" tabindex="0"></i>
            </span>
            <input type="text" ng-model="vm.filter" autocomplete="off" placeholder="{{shortName}} Name">
          </div>
          <div class="clm-form">
            <label class="tree-view-item checkbox" ng-click="$event.stopPropagation();">
              <input type="checkbox" name="all" ng-click="vm.toggleSelectAll()" ng-checked="vm.allSelected()"><!--
              --><span>all {{!vm.filter ? longName : 'matches'}}</span>
            </label>
            <label class="tree-view-item checkbox"
               tooltip="{{::(tooltipField ? 'in ' + entity[tooltipField] : '')}}" tooltip-append-to-body="true"
               data-tooltip-popup-delay="200" data-tooltip-placement="top-left" tooltip-class="filter-item-tooltip"
               ng-repeat="entity in available | fuzzy:vm.filter:nameField | orderBy: sortEntities ? [nameField] : []"
               ng-click="$event.stopPropagation()">
                <input type="checkbox" name="{{::entity.id}}" ng-model="selected[entity[idField]]"
                       ng-change="vm.clearIfUnselected(entity[idField]); vm.notifySelectionChanged()"><!--
                --><span>{{::entity[nameField]}}</span>
            </label>
          </div>
        </div>
      </div>
    </script>

    <div class="tree-view-header">
      Filter
    </div>
    <div load-wrapper="vm.loadError" reload="vm.doLoad()" error-message="Unable to load filter data."
         loading="!vm.applications">

      <dashboard-filter-dimension available="vm.organizations"
                                  selected="vm.selected.organizations"
                                  long-name="organizations"
                                  short-name="Organization"
                                  sort-entities="true"
                                  class="tree-view-group"><!--
         --><div class="filter-label"><i class="fa fa-sitemap tree-view-icon icon-12px inverse"></i>Organizations</div>
      </dashboard-filter-dimension>

      <dashboard-filter-dimension available="vm.applications"
                                  selected="vm.selected.applications"
                                  long-name="applications"
                                  short-name="Application"
                                  sort-entities="true"
                                  tooltip-field="organizationName"
                                  class="tree-view-group"><!--
         --><div class="filter-label"><i class="fa fa-terminal tree-view-icon icon-12px inverse"></i>Applications</div>
      </dashboard-filter-dimension>

      <dashboard-filter-dimension available="vm.categories"
                                  selected="vm.selected.categories"
                                  long-name="application categories"
                                  short-name="Category"
                                  sort-entities="true"
                                  tooltip-field="owner"
                                  class="tree-view-group"><!--
         --><div class="filter-label"><hexagon class="size-16px size-fw outline tree-view-icon"></hexagon>Application Categories</div>
      </dashboard-filter-dimension>

      <dashboard-filter-dimension available="vm.stages"
                                  selected="vm.selected.stages"
                                  id-field="stageTypeId"
                                  name-field="stageName"
                                  long-name="stages"
                                  short-name="Stage"
                                  class="tree-view-group"><!--
         --><div class="filter-label"><i class="tree-view-icon"></i>Stages</div>
      </dashboard-filter-dimension>

      <dashboard-filter-dimension available="vm.policyTypes"
                                  selected="vm.selected.policyTypes"
                                  long-name="policy types"
                                  sort-entities="true"
                                  short-name="Policy Type"
                                  class="tree-view-group"><!--
         --><div class="filter-label"><i class="tree-view-icon"></i>Policy Types</div>
      </dashboard-filter-dimension>

      <div class="tree-view-group">
        <a class="tree-view-item" ng-click="vm.policyThreatLevelState.isExpanded = !vm.policyThreatLevelState.isExpanded">
          <div class="dashboard-filter-counter">{{vm.selected.policyThreatLevels[0]}} &ndash;
            {{vm.selected.policyThreatLevels[1]}}
          </div>
          <div class="twisty-container">
            <span class="twisty"
                  ng-class="{ expand: !vm.policyThreatLevelState.isExpanded, 
                              collapse: vm.policyThreatLevelState.isExpanded }"></span>
          </div>
          <div class="filter-label">Policy Threat Level</div>
        </a>
        <div class="tree-view-control" ng-if="vm.policyThreatLevelState.isExpanded">
          <div class="policy-threat-level-slider">
            <div slider ng-model="vm.selected.policyThreatLevels" min="0" max="10" hide-labels="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-filter-footer" submit-wrapper="vm.saveError" retry="vm.save()">
    <button id="dashboard-filter-apply" class="btn" type="submit" submit-validation submit-dirty="vm.isDirty()"
            submit-type="update" submit-tooltip-target='body'>Apply
    </button>
    <button id="dashboard-filter-revert" class="btn btn-tertiary" type="button" ng-click="vm.revert()">Revert</button>
    <button id="dashboard-filter-clear" class="btn btn-tertiary" type="button" ng-click="vm.clear()">Clear</button>
  </div>
</form>
