<div id="save-filter-modal">
  <div class="clm-modal-header">
    <h2>
      <i class="fa size-20px fa-floppy-o"></i>Save Filter
    </h2>
  </div>
  <form class="clm-form" role="form" name="saveFilterForm" ng-submit="vm.saveFilter()"
        form-mask="vm.formMask" mask-message="Saving">
    <div class="clm-modal-body">
      <div class="section">
        <div class="field">
          <label for="filter-name-input">Filter Name</label>
          <input id="filter-name-input" name="filter-name" type="text" ng-model="vm.filterName" ng-maxlength="60"
                 focus-input="true" clm-input autofocus ng-required="true" valid-name-characters>
        </div>
      </div>
    </div>
    <div class="clm-modal-footer" ng-class="{ error : vm.saveError }">
      <div ng-if="vm.saveError" class="section with-icon"><i class="fa fa-warning"></i>{{::vm.saveError}}</div>
      <button ng-if="!vm.saveError" class="btn btn-primary" type="submit"
              submit-validation submit-type="Save" submit-dirty="vm.filterName">
        Save
      </button>
      <button ng-if="vm.saveError" class="btn btn-error" type="submit">
        <i class="fa fa-refresh"></i>Retry
      </button>
      <button id="dismissBtn" class="btn" type="button" ng-click="$dismiss()">Cancel</button>
    </div>
  </form>
</div>
