<div>
  <div class='marginless-alert' clm-alerts='syncAlerts'></div>
  <div class="navigation">
    <div class="tree-view" ng-controller="OwnerTreeViewController">
      <div class="tree-view-header">
        Organizations and Applications
      </div>
      <div load-wrapper="error" loading="!organizations" reload="doLoad()">
        <div class="tree-view-filter search input-prepend">
            <span class="add-on">
              <i role="button" class="fa fa-filter"
                 ng-class="{ 'icon-search': !filter.value, 'icon-remove': filter.value }"
                 ng-click="filter.value = ''"></i>
            </span>
          <input type="text" ng-model="filter.value" autocomplete="off" placeholder="App or Org Name">
        </div>
        <h4 ng-if="filter.value && filter.value.length >= 3">
          Filter Results
        </h4>
        <div ng-if="rootOrganization" class="tree-view-root-organization-group">
          <a class="tree-view-item"
             ng-class="{ selected : $state.includes('management.organization', {organizationId: rootOrganization.id}) }"
             ui-sref="management.organization.policies({organizationId: rootOrganization.id})">
            <i class="sonatype-glyphicons root-org tree-view-icon"></i>
            {{rootOrganization.name}}
            <div class="tree-view-new-organization"
                 ng-class="{ hide : !$state.includes('management.organization', {organizationId: rootOrganization.id}) }">
              <button class="btn" ng-click="$event.preventDefault();
                                  $event.stopPropagation();
                                  $state.go('management.organization', {organizationId: '_new_'});">
                <i class="icon-plus"></i>
                New Organization
              </button>
            </div>
          </a>
        </div>
        <div ng-if="!showRoot" class="tree-view-organization-group">
          <a class="tree-view-item">
            <div class="tree-view-new-organization">
              <button class="btn" ng-click="$event.preventDefault();
                                  $event.stopPropagation();
                                  $state.go('management.organization', {organizationId: '_new_'});">
                <i class="icon-plus"></i>
                New Organization
              </button>
            </div>
          </a>
        </div>
        <div class="tree-view-organization-group"
             ng-repeat="organization in organizations | orderBy:'name'"
             ng-if="organization.isVisible">
          <a class="tree-view-item"
             ng-class="{ selected : $state.includes('management.organization', {organizationId: organization.id}),
                           disabled : organization.synthetic,
                           childSelected : selectedParentOrganization.id === organization.id }"
             ng-click="organization.isExpanded = true;
                         goToOrganizationIfNotSynthetic(organization);">
            <div class="twisty-container"
                 ng-click="$event.preventDefault();
                                $event.stopPropagation();
                                organization.isExpanded =
                                  $state.includes('management.organization', {organizationId: organization.id}) ||
                                  selectedParentOrganization.id === organization.id || !organization.isExpanded;">
                <span class="twisty"
                      ng-class="{ empty: organization.applications.length == 0,
                                expand: organization.applications.length > 0 && !organization.isExpanded,
                                collapse: organization.applications.length > 0 && organization.isExpanded }"></span>
            </div><!--
           --><img class="tree-view-icon" src="img/sonatypeicons-organizational-design.png"><!--
           --><span data-tooltip="{{organization.synthetic ? 'You do not have permission to view this organization.' : ''}}"
                    data-tooltip-placement="right" data-tooltip-append-to-body="true">
                {{organization.name}}
              </span>
            <div class="tree-view-new-application"
                 ng-class="{ hide : !$state.includes('management.organization', {organizationId: organization.id}) }">
              <button class="btn"
                      ng-click="$event.preventDefault();
                                  $event.stopPropagation();
                                  $state.go('management.application', {applicationPublicId: '_new_'});">
                <i class="icon-plus"></i>
                New Application
              </button>
            </div>
          </a>
          <a class="tree-view-item"
             ng-repeat="application in organization.applications | orderBy:'name'"
             ng-if="organization.isExpanded && application.isVisible"
             ui-sref="management.application.policies({applicationPublicId: application.publicId})"
             ng-class="{ selected : $state.includes('management.application', {applicationPublicId: application.publicId}) }">
            <i class="sonatype-icons application tree-view-icon"></i><!--
         -->{{application.name}}
          </a>
        </div>
      </div>
    </div>
  </div><!--
    --><div class="content">
      <root-org-migrate></root-org-migrate>
      <div ui-view></div>
    </div>
</div>
