<section id="save-filter-modal">
  <header class="iq-modal-header">
    <h2>
      <i class="fa size-20px fa-floppy-o"></i><!--
   --><span ng-if="vm.warning === undefined">Save Filter</span><!--
   --><span ng-if="vm.warning === vm.OVERWRITE">Overwrite Filter</span><!--
   --><span ng-if="vm.warning === vm.NAME_IN_USE">Name in Use</span>
    </h2>
  </header>
  <form class="clm-form"
        role="form"
        name="vm.saveFilterForm"
        ng-submit="vm.trySave()"
        form-mask="vm.formMask"
        mask-message="Saving"
        novalidate>
    <section class="iq-modal-content">
      <div ng-if="vm.warning" id="save-filter-confirmation" class="iq-alert">
        <i class="fa fa-warning"></i><!--
     --><span ng-if="vm.warning === vm.OVERWRITE"><!--
       -->You are about to permanently overwrite {{::vm.savedFilterName}}. This action cannot be undone.
        </span><!--
     --><span ng-if="vm.warning === vm.NAME_IN_USE"><!--
       -->"{{::vm.filterName}}" is already in use. Continuing will permanently overwrite {{::vm.filterName}}.
          This action cannot be undone.
        </span>
      </div>
      <fieldset class="iq-radio-group" ng-if="!vm.warning">
        <legend>Choose an Option</legend>
        <iq-radio id="dashboard-filter-overwrite"
                  model="vm.saveMode"
                  value="vm.OVERWRITE"
                  is-disabled="vm.savedFilterName === undefined">
          save (overwrite{{::(vm.savedFilterName ? ' ' + vm.savedFilterName : '')}})
        </iq-radio>
        <iq-radio id="dashboard-filter-save-as" model="vm.saveMode" value="vm.SAVE_AS">
          save as…
        </iq-radio>
        <div id="filter-name-section" ng-if="vm.saveMode === vm.SAVE_AS" class="section">
          <div class="field">
            <input id="filter-name-input"
                   name="filter-name"
                   type="text"
                   ng-model="vm.filterName"
                   ng-maxlength="60"
                   focus-input="true"
                   clm-input
                   autofocus
                   ng-required="true"
                   valid-name-characters/>
          </div>
        </div>
      </fieldset>
    </section>
    <footer class="iq-modal-footer" ng-class="{ error : vm.saveError }">
      <div ng-if="vm.saveError" class="section with-icon"><i class="fa fa-warning"></i>{{::vm.saveError}}</div>
      <button ng-if="!vm.saveError"
              class="btn btn-primary"
              type="submit"
              submit-validation
              submit-type="Save"
              submit-dirty="vm.isSaveEnabled()">
        <span ng-if="vm.warning">Continue</span>
        <span ng-if="!vm.warning">Save</span>
      </button>
      <button ng-if="vm.saveError" class="btn btn-error" type="submit">
        <i class="fa fa-refresh"></i>Retry
      </button>
      <button id="dismiss-btn" class="btn" type="button" ng-click="vm.onCancel()">Cancel</button>
    </footer>
  </form>
</section>
