<div style="font-size: .75em">
	<script type='text/ng-template' id='change-password'>
<div class='modal fade in'>
	<div class='modal-header'>
		<button type="button" class="close"  ng-click='$dismiss()' aria-hidden="true">&times;</button>
		<h3>Change Password</h3>
	</div>
	<form name='passwordForm' class='form-horizontal' style='margin-bottom:0px' ng-submit='save()'>
		<div class='modal-body'>
			<div class="control-group">
				<label class="control-label" for='originalPassword'>Current password</label>
				<div class="controls">
					<input type="password" id="originalPassword" class="input-large" ng-model='result.originalPassword' required>
				</div>
			</div>
			<hr/>
			<div class="control-group">
				<label class="control-label" for='newPassword'>New password</label>
				<div class="controls">
					<input type="password" id="newPassword" class="input-large" ng-model='result.newPassword' required>
				</div>
			</div>
			<div class="control-group" ng-class='{ error : passwordForm.confirmPassword.$error.match }'>
				<label class="control-label" for='confirmPassword'>Confirm new password</label>
				<div class="controls">
					<input type="password" id="confirmPassword" name='confirmPassword' class="input-large" ng-model='result.confirmPassword' required match='{{result.newPassword}}'>
					<span ng-show='passwordForm.confirmPassword.$error.match' class="help-inline">Does not match</span>
				</div>
			</div>
		</div>
		<div class='modal-footer'>
			<span style="margin:0px;padding: 4px 35px 4px 14px;float:left;" ng-class="{'alert alert-error': error }" ng-show="error">{{error}}</span>
			<button type='button' class="btn" ng-click='$dismiss()'>Cancel</button>
			<button type='submit' class="btn btn-primary" ng-disabled='passwordForm.$invalid || submitActive'>Change</button>
		</div>
	</form>
</div>
	</script>
	<span ng-show='username'><a ng-controller='ChangePassword' ng-click="change()">Change Password</a> | </span>
	<a ng-controller='LogoutController' ng-click="logout()">Logout</a>
</div>
