<div id="root-org-migrate-banner"
     ng-if="vm.migrationNeeded && !vm.migrationDone && vm.permitted"
     class="iq-tile iq-alert iq-alert--warning">
  <div class="iq-tile-content">
    <p>
      The <a target="_blank" rel="noreferrer" href="http://links.sonatype.com/products/clm/doc/root-org/{{vm.majorMinorVersion}}">
      Root Organization</a> for setting global policy is now available. Creating the Root Organization is a one time
      process, and occurs when IQ Server is restarted.
    </p>
    <ul>
      <li>It is strongly recommended that you choose an existing organization to act as a template for the configuration
        of the Root Organization.</li>
      <li>You may create an empty Root Organization. This choice is discouraged because once the Root Organization is
        created, moving policy from existing organizations or applications becomes a manual task.</li>
      <li>
        <a target="_blank"
           rel="noreferrer"
           href="http://links.sonatype.com/products/clm/doc/backup/{{vm.majorMinorVersion}}">
          Backup the IQ Server
        </a>
        and read the
        <a target="_blank"
           rel="noreferrer"
           href="http://links.sonatype.com/products/clm/doc/upgrade/{{vm.majorMinorVersion}}">
          upgrade instructions
        </a>
        before proceeding.
      </li>
    </ul>
  </div>
  <div class="iq-tile-footer">
    <button class="iq-btn iq-btn--primary" ng-click="vm.doMigrate()">Get Started</button>
  </div>
</div>
<div id="root-org-migrate-configured-banner"
     ng-if="!vm.migrationDone && !vm.migrationNeeded && vm.permitted"
     class="iq-tile iq-alert iq-alert--warning">
  <div class="iq-tile-content">
    The Root Organization is now configured. You must restart the IQ Server to create the Root Organization.
  </div>
</div>
