/*
  ##Buttons

  ```
  <table>
    <thead>
      <tr>
        <td>Button</td>
        <td>Disabled</td>
        <td>Link</td>
        <td>Link Disabled</td>
      </td>
    </thead>
    <tbody>
      <tr>
        <td>
          <button class='btn'>Default</button>
        </td>
        <td>
          <button class='btn' disabled='true'>Default</button>
        </td>
        <td>
          <a href='#' class='btn'>Default</a>
        </td>
        <td>
          <a href='#' class='btn' disabled='true'>Default</a>
        </td>
      </tr>
      <tr>
        <td>
          <button class='btn btn-primary'>Primary</button>
        </td>
        <td>
          <button class='btn btn-primary' disabled='true'>Primary</button>
        </td>
        <td>
          <a href='#' class='btn btn-primary'>Primary</a>
        </td>
        <td>
          <a href='#' class='btn btn-primary' disabled='true'>Primary</a>
        </td>
      </tr>
      <tr>
        <td>
          <button class='btn btn-tertiary'>Tertiary</button>
        </td>
        <td>
          <button class='btn btn-tertiary' disabled='true'>Tertiary</button>
        </td>
        <td>
          <a href='#' class='btn btn-tertiary'>Tertiary</a>
        </td>
        <td>
          <a href='#' class='btn btn-tertiary' disabled='true'>Tertiary</a>
        </td>
      </tr>
      <tr>
        <td>
          <button class='btn btn-error'>Error</button>
        </td>
        <td>
          <button class='btn btn-error' disabled='true'>Error</button>
        </td>
        <td>
          <a href='#' class='btn btn-error'>Error</a>
        </td>
        <td>
          <a href='#' class='btn btn-error' disabled='true'>Error</a>
        </td>
      </tr>
    </tbody>
  </table>
  ```

  ###Buttons with icons
  ```
    <button class='btn btn-error'><i class='fa fa-refresh'></i>Error</button>
    <button class='btn btn-icon-only'><i class='fa fa-arrow-right'></i></button>
  ```
*/
.btn {
  @extend .semi-bold;
  background-color: $grey-1;

  border: 1px solid $grey-4;
  border-radius: 4px;

  cursor: pointer;

  display: inline-block;

  color: $slate;
  font-size: 14px;
  text-align: center;

  padding: 5px 12px;

  vertical-align: middle;

  &:not(.btn-icon-only) > .fa {
    margin-right: 8px;
  }

  &.disabled, &[disabled] {
    background-color: $grey-1;
    border-color: $grey-2;
    cursor: not-allowed;
    color: $grey-4;
  }

  &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
    border-color: $slate;
  }

  &:active:not(.disabled):not([disabled]) {
    background-color: $grey-2;
    border-color: $slate;
  }

  &.btn-primary {
    background-color: $link-blue;
    border-color: transparent;
    color: $off-white;

    &.disabled, &[disabled] {
      background-color: $light-blue;
    }

    &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
      border-color: $dark-blue;
    }

    &:active:not(.disabled):not([disabled]) {
      background-color: $dark-blue;
    }
  }

  &.btn-tertiary {
    background-color: transparent;
    border-color: transparent;
    color: $slate;

    &.disabled, &[disabled] {
      color: $grey-4;
    }

    &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
      border-color: $grey-4;
    }

    &:active:not(.disabled):not([disabled]) {
      background-color: transparent;
      border-color: $slate;
    }
  }

  &.btn-error {
    background-color: $fail-fg;
    color: $off-white;
    border-color: $fail-fg;

    &.disabled, &[disabled] {
      background-color: $fail-disabled;
    }

    &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
      border-color: $fail-active;
    }

    &:active:not(.disabled):not([disabled]) {
      background-color: $fail-active;
    }
  }

  &.btn-icon-only {
    width: 32px;
    height: 32px;
    padding: 0;
  }
}

// For now we scope min-width to new elements
.root-container, .clm-modal {
  .btn:not(.btn-icon-only) {
    min-width: 100px;
  }
}

// Mini
.btn-mini {
  padding: $paddingMini;
  font-size: $fontSizeMini;
  @include border-radius($borderRadiusSmall);
}
