/*
  ##Buttons
*/
.btn {
  @include semi-bold();

  background-color: $grey-1;
  border: 1px solid $grey-4;
  border-radius: 4px;
  color: $slate;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 5px 12px;
  text-align: center;
  vertical-align: middle;

  &:not(.btn-icon-only) > .fa {
    margin-right: 8px;
  }

  &.disabled, &[disabled] {
    background-color: $grey-1;
    border-color: $grey-2;
    cursor: not-allowed;
    color: $grey-4;
  }

  &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
    border-color: $slate;
  }
  
  &.dropdown-toggle:hover {
    color: #575757;
  }

  &:active:not(.disabled):not([disabled]) {
    background-color: $grey-2;
    border-color: $slate;
  }

  &.btn-primary {
    background-color: $link-blue;
    border-color: transparent;
    color: $off-white;

    &.disabled, &[disabled] {
      background-color: $light-blue;
    }

    &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
      border-color: $dark-blue;
    }

    &:active:not(.disabled):not([disabled]) {
      background-color: $dark-blue;
    }
  }

  &.btn-tertiary {
    background-color: transparent;
    border-color: transparent;
    color: $slate;

    &.disabled, &[disabled] {
      color: $grey-4;
    }

    &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
      border-color: $grey-4;
    }

    &:active:not(.disabled):not([disabled]) {
      background-color: transparent;
      border-color: $slate;
    }
  }

  &.btn-error {
    background-color: $fail-fg;
    color: $off-white;
    border-color: $fail-fg;

    &.disabled, &[disabled] {
      background-color: $fail-disabled;
    }

    &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
      border-color: $fail-active;
    }

    &:active:not(.disabled):not([disabled]) {
      background-color: $fail-active;
    }
  }

  &.btn-icon-only {
    height: 32px;
    padding: 0;
    width: 32px;
  }

  .input-append & {
    padding: 4px 12px;
  }
}

/*
  ##Form Actions
*/
.btn-primary.disabled, .btn-primary[disabled] {
  color: $off-white;
  background-color: $light-blue;
  text-shadow: none;
}

// For now we scope min-width to new elements
.root-container, .clm-modal {
  .btn:not(.btn-icon-only) {
    min-width: 100px;
  }
}

// mini buttons (only used in legacy UI pages)
#ldapName, #proprietary-component-form, .accordion-group.users {
  .btn-mini {
    @include border-radius($borderRadiusSmall);

    font-size: $fontSizeMini;
    padding: $paddingMini;
  }
}
