/*
  ##Buttons
*/

.btn {
  @include semi-bold();

  background-color: $iq-grey-1;
  border: 1px solid $iq-grey-4;
  border-radius: 4px;
  color: $iq-slate;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 5px 12px;
  text-align: center;
  vertical-align: middle;

  &:not(.btn-icon-only) > .fa {
    margin-right: 8px;
  }

  &.disabled, &[disabled] {
    background-color: $iq-grey-1;
    border-color: $iq-grey-2;
    cursor: not-allowed;
    color: $iq-grey-4;
  }

  &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
    border-color: $iq-slate;
  }
  
  &.dropdown-toggle:hover {
    color: #575757;
  }

  &:active:not(.disabled):not([disabled]) {
    background-color: $iq-grey-2;
    border-color: $iq-slate;
  }

  &.btn-primary {
    background-color: $iq-link-color;
    border-color: transparent;
    color: $iq-off-white;

    &.disabled, &[disabled] {
      background-color: $iq-light-blue;
    }

    &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
      border-color: $iq-dark-blue;
    }

    &:active:not(.disabled):not([disabled]) {
      background-color: $iq-dark-blue;
    }
  }

  &.btn-tertiary {
    background-color: transparent;
    border-color: transparent;
    color: $iq-slate;

    &.disabled, &[disabled] {
      color: $iq-grey-4;
    }

    &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
      border-color: $iq-grey-4;
    }

    &:active:not(.disabled):not([disabled]) {
      background-color: transparent;
      border-color: $iq-slate;
    }
  }

  &.btn-error {
    background-color: $iq-fail-color;
    color: $iq-off-white;
    border-color: $iq-fail-color;

    &.disabled, &[disabled] {
      background-color: $iq-fail-color-disabled;
    }

    &:hover:not(.disabled):not([disabled]), &:focus:not(.disabled):not([disabled]) {
      border-color: $iq-fail-color-active;
    }

    &:active:not(.disabled):not([disabled]) {
      background-color: $iq-fail-color-active;
    }
  }

  &.btn-icon-only {
    height: 32px;
    padding: 0;
    width: 32px;
    
    .fa {
      margin: 0;
    }
  }

  .input-append & {
    padding: 4px 12px;
  }
}

/*
  ##Form Actions
*/
.btn-primary.disabled, .btn-primary[disabled] {
  color: $iq-off-white;
  background-color: $iq-light-blue;
  text-shadow: none;
}

// For now we scope min-width to new elements
.root-container, .clm-modal {
  .btn:not(.btn-icon-only) {
    min-width: 100px;
  }
}

// mini buttons (only used in legacy UI pages)
#ldapName, #proprietary-component-form, .accordion-group.users {
  .btn-mini {
    @include border-radius($borderRadiusSmall);

    font-size: $fontSizeMini;
    padding: $paddingMini;
  }
}

/*
  #Name-spaced Pills
*/

// Buttons

.iq-nav-pills {
  background-color: $iq-grey-2;
  border: 1px solid $iq-grey-3;
  list-style: none;
  margin: 0px;
  overflow: hidden;
  padding: 8px;
}
  
.iq-nav-pills__pill {
  float: left;
  
  a {
    border: 1px solid transparent;
    border-radius: 4px;
    color: $iq-off-black;
    display: inline-block;
    line-height: 14px;
    padding: 7px 12px;
    text-align: center;
    min-width: 74px;

    &:hover, &:focus {
      border-color: $iq-grey-4;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;
  }

  &.active a {
    &, &:hover, &:focus {
      background-color: $iq-off-white;
      border-color: $iq-grey-4;
      color: $iq-off-black;    
    }
  }
}

/*
  #Buttons for dropdowns
*/
.iq-btn--dropdown {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 0 0 0 -12px;
  overflow: hidden;
  padding: 0 10px 0 12px;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 170px;
  max-width: 300px;
  
  &:hover:not(.disabled):not([disabled]),
  &:focus:not(.disabled):not([disabled]) {
    border-color: transparent;
    color: $iq-off-black;
    text-decoration: none;
  }

  &:active:not(.disabled):not([disabled]) {
    background-color: $iq-grey-1;
  }

  &:last-child {
    margin-bottom: 8px;
  }

  .fa {
    height: 12px;
    width: 12px;
  }
}
