/*
  ##Threat Chiclets

  ```
  <div ng-app="styleModule">
    <div chiclets critical="4" severe="3" moderate="2" none="1"></div>
  </div>
  ```
*/
.threat-chiclet {
  @extend .bold;
  display: inline-block;
  width: 25px;
  padding: 4px 6px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
}

.policy .threat-chiclet,
.licenseGroups .threat-chiclet {
  padding: 0; /* These show color only, no count */
}

// threat levels
@each $threatdef in $threat-levels {
  .threat-chiclet-#{nth($threatdef, 1)} {
    color: nth($threatdef, 2);
    background-color: nth($threatdef, 3) !important;
  }
}
