/*
  #Modals

 ##CLM Modals

```
<div class='modal-backdrop'>
</div>
<div class='clm-modal'>
  <div class='clm-modal-header'>
    <h2>A Modal Title</h2>
  </div>
  <div class='clm-modal-body'>
    Your content
  </div>
  <div class='clm-modal-footer'>
    <button class='btn btn-primary'>Save</button> <button class='btn'>Cancel</button>
  </div>
</div>
```

##CLM Modal Error

```
<div class='modal-backdrop'>
</div>
<div class='clm-modal'>
  <div class='clm-modal-header'>
    <h2>A Modal Title</h2>
  </div>
  <div class='clm-modal-body'>
    Your content
  </div>
  <div class='clm-modal-footer error'>
    <button class='btn btn-error'>Retry</button> <button class='btn'>Cancel</button>
  </div>
</div>
```

 */
.modal-backdrop {
  background-color: rgba($off-black, 0.4) !important;
}

.clm-modal {
  background-color: $off-white;
  $external-border: 1px solid $off-black;
  border-radius: 0px;
  border-width: 0px;

  .clm-modal-header {
    padding: 12px 8px;
    border: $external-border;
    border-bottom: 1px solid $grey-4;

    h2 {
      margin-top: -5px;
      margin-bottom: -6px
    }

    .fa {
      margin-right: 8px;
    }
  }

  .clm-modal-body {
    border-left: $external-border;
    border-right: $external-border;
    padding: 24px 12px;
  }

  .clm-modal-footer {
    background-color: $grey-1;
    border: $external-border;
    border-top: 1px solid $grey-4;
    padding: 12px;

    &.error {
      background-color: $fail_bg;
      border: 1px solid $fail_fg;
      color: $fail_fg;
    }

    .btn {
      margin-right: 12px;

      &:not(.btn-primary):not(.btn-error) {
        margin-left: -4px;
      }
    }
  }
}
/*
  ##Delete Modal

  ```
  <div id="delete-modal">
    <div class="clm-modal-header">
      <h2>
        <i class="fa size-20px fa-trash"></i> Delete Label
      </h2>
    </div>
    <div class="clm-modal-body">
      <div class="clm-alert alert">
        <i class="fa fa-warning"></i>
        <span>You are about to permanently remove Foo from Lifecycle. This action cannot be undone.</span>
      </div>
    </div>
    <div class="clm-modal-footer">
      <button class="btn btn-primary">
        Continue
      </button>
      <button class="btn">Cancel</button>
    </div>
  </div>

  <div id="delete-modal">
    <div class="clm-modal-header">
      <h2>
        <i class="fa size-20px fa-trash"></i> Delete Label
      </h2>
    </div>
    <div class="clm-modal-footer error">
      <div class="section with-icon">
        <i class="fa fa-warning"></i> Cannot find a label with ID Foo.
      </div>
      <button class="btn btn-error">
        <i class="fa fa-refresh"></i> Retry
      </button>
      <button class="btn">Cancel</button>
    </div>
  </div>
  ```
*/
.clm-modal.delete-modal {
  .clm-modal-body {
    padding: 0;

    div.clm-alert {
      margin: 0;
      border-left: 0;
      border-right: 0;
    }
  }
}

/*
  #Modals with Forms

  ##CLM Modal Forms
```
    <div class='clm-modal'>
      <div class="clm-modal-header">
        <h2>
          Modal Header
        </h2>
      </div>
      <form name="aForm" role="form" class="clm-form">
        <div class="clm-modal-body">
          <div class="section">
            <div class="field">
              <label for='normal'>An input that is not required and hasn't been updated</label>
              <input type='text' id='normal' class='ng-valid ng-untouched' placeholder='ex. Antiquated Value'>
            </div>
            <div class="field">
              <label for='required'>An input that is required and hasn't been updated</label>
              <input type='text' id='required' class='ng-invalid' required placeholder='Integer between 1 and 100' min='1' max='100'>
            </div>
            <div class="field">
              <label>Check something</label>
              <div>
                <label class="checkbox">
                  <input type="checkbox" value="one" checked>
                  <span>Selected option</span>
                </label>
                <label class="checkbox">
                  <input type="checkbox" value="two">
                  <span>Unselected option</span>
                </label>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="field">
              <label>Radio something</label>
              <div>
                <label class="radio">
                  <input type="radio" name="optionsRadios" id="optionOne" value="one" checked>
                  <span>Selected option</span>
                </label>
                <label class="radio">
                  <input type="radio" name="optionsRadios" id="optionTwo" value="two">
                  <span>Unselected option</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="clm-modal-footer">
          <button class="btn btn-primary" type="submit">
            Primary
          </button>
          <button class="btn btn-error" type="submit">
            <i class="fa fa-refresh"></i>Retry
          </button>
          <button class="btn" type="button">Cancel</button>
        </div>
      </form>
    </div>
```
*/
.modal-footer {
  text-align: left;
}
.modal form {
  margin: 0;
}

.owner-editor-modal {
  width: 400px;
}

.loginPanel {
  z-index: $zindex-login-modal;
}
