/*
  #iq-modal
*/

$iq-modal-hor-padding: 12px;

// Height of mainHeader + 8px margin
$iq-modal-top-spacing: 48px;
// Standard margin
$iq-modal-bottom-spacing: 8px;
// derived from clm-modal-header - refactor in CLM-7824
$iq-modal-header-height: 39px;
// derived from clm-modal-footer - refactor in CLM-7824
$iq-modal-footer-height: 58px;

.iq-modal {
  height: auto;
  max-height: calc(100vh - #{$iq-modal-top-spacing} - #{$iq-modal-bottom-spacing});
  top: $iq-modal-top-spacing;
}

.delete-filters-modal {
  .iq-scrollable {
    height: 100%;
    max-height: calc(100vh
                - #{$iq-modal-header-height}
                - #{$iq-modal-footer-height}
                - #{$iq-modal-top-spacing}
                - #{$iq-modal-bottom-spacing}
                - 38px); // 38px is the padding on clm-modal-body, refactor out when iq-modal (CLM-7824) is done
    overflow-y: auto;
  }
}

/*
  #Modals
*/

.modal-backdrop {
  background-color: rgba($iq-off-black, 0.4) !important;
}

.clm-modal {
  $external-border: 1px solid $iq-off-black;

  background-color: $iq-off-white;
  border-radius: 0px;
  border-width: 0px;

  .clm-modal-header {
    border: $external-border;
    border-bottom: 1px solid $iq-grey-4;
    padding: 12px 8px;

    h2 {
      margin-top: -5px;
      margin-bottom: -6px
    }

    .fa {
      margin-right: 8px;
    }
  }

  .clm-modal-body {
    border-right: $external-border;
    border-left: $external-border;
    padding: 24px $iq-modal-hor-padding;

    #user-search-input-label {
      line-height: 16px;
    }

    .table {
      margin-bottom: 0px;
    }

    &.no-padding {
      padding: 0px;
    }

    .iq-alert--system-notice {
      border-width: 1px;
      margin: 8px 8px 30px 8px;
    }
  }

  .clm-modal-footer {
    background-color: $iq-grey-1;
    border: $external-border;
    border-top: 1px solid $iq-grey-4;
    padding: $iq-modal-hor-padding;

    &.error {
      background-color: $iq-fail-color-bg;
      border: 1px solid $iq-fail-color;
      color: $iq-fail-color;
    }

    .btn {
      margin-right: 12px;

      &:not(.btn-primary):not(.btn-error) {
        margin-left: -4px;
      }
    }
  }
}

/*
  #Modals with Forms
*/
.modal-footer {
  text-align: left;
}

.modal form {
  margin: 0;
}

.owner-editor-modal {
  width: 400px;
}

#evaluate-application-modal {
  input[type="file"] {
    width: 500px;
  }

  p {
    margin-top: 0;
  }

  table {
    td:not(:first-child) {
      padding-left: 10px;
    }
  }

  .progress {
    margin-top: 7px;
    margin-bottom: 6px;
  }
}

.loginPanel {
  z-index: $iq-login-modal-zindex;
}

.move-application-dropdown {
  width: 400px;
}

.change-application-id-modal {
  width: 440px;
  
  #editor-current-id {
    color: $iq-off-black;
    margin-left: 12px;
  }
}

.modal.fit-content {
  $default-bootstrap-modal-width: 560px;
  
  margin: 0;
  left: 50%; // With larger modal sizes we need to ensure they are centered
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: auto; // for IE9 support
  width: initial;
  min-width: $default-bootstrap-modal-width;
  max-width: #{$iq-content-width-minimum - (2 * 12px)};   // 12px padding on each side, as to not fill the entire window
}

#ldap-server-ordering-modal {
  $border-width: 1px;
  $toolbar-btn-width: 32px;
  $toolbar-padding: 12px;
  $modal-header: 39px;

  .simple-list {
    border-right: $border-width solid $iq-grey-4;
    max-height: 550px;
    min-height: #{($toolbar-btn-width + $toolbar-padding) * 4 + $toolbar-padding};
    overflow-x: hidden;
    width: calc(100% - #{$toolbar-btn-width + 2 * $toolbar-padding + $border-width});
    
    ul {
      list-style: none;
      margin: 0;
    
      li {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        padding-left: $iq-modal-hor-padding;
        position: relative;
        
        &:not(:first-child) {
          border-top: 1px solid $iq-grey-1;
        }

        &:last-child {
          border-bottom: 1px solid $iq-grey-1;
        }
        
        &.selected {
          background-color: $iq-grey-1;  
          
          &:not(:first-child) {
            border-top: 1px solid $iq-grey-4;
          }

          &:last-child {
            border-bottom: 1px solid $iq-grey-4;
          }        
        }
        
        &:hover {
          border-bottom: 1px solid $iq-grey-4;
        }

        &:hover:not(:first-child) {
          border-top: 1px solid $iq-grey-4;
        }

        &.selected + * {
          border-top-color: $iq-grey-4;
        }

        &.with-subtitle {
          min-height: 52px;
        }

        &.simple {
          min-height: 40px;
        }
      }
      
      .title {
        @extend .semi-bold;

        font-size: 14px;
        line-height: 14px;
        margin-right: 42px;
        padding-top: 10px;
      }
      
      .single-row-text {
        line-height: 40px;
        padding-top: 0px;
        
        span:first-child {
          margin-right:8px;
        }
      }
    }
  }

  .toolbar {
    height: #{($toolbar-btn-width + $toolbar-padding) * 4 - $toolbar-padding};
    padding: $toolbar-padding;
    width: $toolbar-btn-width; // 32px is the button size

    button {
      position: absolute;

      @for $i from 1 through 3 {
        &:nth-child(#{$i + 1}) {
          top: #{$modal-header + $toolbar-padding + ($toolbar-btn-width + $toolbar-padding) * $i}
        }
      }
    }
  }
}

// Begin styles from management.css
.master-modal {
  z-index: 2200 !important;
}

/**
 * styling to embed a scrollable table in a div, and fix the footer outside the scrolling area
 */
.modal-ldap {
  margin-left: -380px;
  width: 760px;
}

.modal-ldap-user-list {
  max-height: 420px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  padding: 2% 0 0 2%;
}

.modal-ldap-user-list table {
  width: 98%;
}

.modal > form.form-horizontal {
  margin-bottom: 0px
}
// End styles from management.css
