/*
  ##Breadcrumb

  ```
  <div breadcrumb>
    <p class="nav-crumb">
      <span>
        <a href="/dashboard/newest-risk">
          <i class="sonatype-icons dashboard">&nbsp;</i>Dashboard
        </a>
      </span>
      <span>
        <span class="last-crumb">/</span>
        <span class="last-crumb">
          &nbsp;Newest Risk
        </span>
      </span>
    </p>
  </div>
  ```
*/
.nav-crumb {
  vertical-align: middle;
}

.nav-crumb i:before {
  font-size: 14px;
  margin-right: 10px;
  line-height: 16px;
  color: $deep-blue;
}

.nav-crumb i:before:hover {
  color: $link-blue;
}

.nav-crumb a {
  margin-right: 5px;
  color: $deep-blue;
}

.nav-crumb a:hover {
  color: $link-blue;
}

.nav-crumb .last-crumb {
  color: #909090;
}

/*
  ##Layout Containers

  ```
    <div class="root-container">
      <div class="navigation-container">
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
      </div>
      <div class="body-container">
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
      </div>
    </div>
  ```
*/

.root-container {
  margin: 39px auto 0px auto;
  max-width: 1366px;
  height: calc(100vh - 41px);
}

.navigation-container {
  width: 120px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  float: left;
  overflow: auto;
}

.body-container {
  max-width: 1246px;
  height: 100%;
  overflow: auto;
}

/*
  ## Load error

  ```
  <div class="alert alert-error clm-error">
    <div>
      <i class="fa fa-warning"></i>
      <span>An error occurred loading data. (Unable to reach CLM server)</span>
    </div>
    <div>
      <button type="button" class="btn btn-danger"><i class="fa fa-refresh"></i>Retry</button>
    </div>
  </div>
  ```
*/
.alert-error.clm-error {
  margin: 5px;
  padding: 12px 8px;
  border-color: $fail_fg;
  background-color: $fail_bg;
  color: $fail_fg;
  border-radius: 0px;

  .btn-danger {
    background-color: $fail_fg;
    background-image: initial;
    background-repeat: initial;
    margin-top: 24px;
  }

  i.fa::before {
    margin-right: 8px;
  }
}
