/*
  #Layout

  ##Layout Containers

  ```
  <div class="main-view">
    <div class="root-container">
      <div class="sidebar-container">
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
      </div>
      <div class="body-container">
        <div class="tile-container">
          <div class="tile summary-tile">
            <h1>First Tile</h1>
            <ul class="nav nav-pills">
              <li class="active"><a href="">Application Types</a></li>
              <li><a href="">Policy</a></li>
              <li><a href="">Component Labels</a></li>
              <li><a href="">License Threat Groups</a></li>
              <li><a href="">Access</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  ```
*/
body {
  //we want to let the sidebar-container and body-container control the vertical scrolling
  overflow-y: hidden;
  background-color: $grey-3;
  color: #333333;
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.main-view {
  @include main-content();
  width: calc(100% - 2px);
  background-color: $off-white;
  border-left: solid 1px $grey-4;
  border-right: solid 1px $grey-4;
}

.root-container {
  @include main-content(35px);
  white-space: nowrap;
}

.sidebar-container {
  width: 22%;
  min-width: 215px;
  max-width: 300px;
  height: 100%;
  display: inline-block;
  overflow: auto;
  background-color: $grey-2;
  border-right: 1px solid $grey-3;
  white-space: normal;
  vertical-align: top;

  // Hack to prevent rendering issues in Chrome. This will create a new layer with its own backing surface, preventing
  // the background and text from disappearing. Witnessed on Chrome 43.0.2357.130 (64-bit) on a MBP laptop screen.
  -webkit-transform: translate3d(0, 0, 0);
}

.body-container {
  display: inline-block;
  width: calc(78% - 1px);
  height: 100%;
  white-space: normal;
  background: url("../img/tile_bg.png");
  
  @media only screen and (-moz-min-device-pixel-ratio: 2), 
  only screen and (-webkit-min-device-pixel-ratio: 2), 
  only screen and (min-devicepixel-ratio: 2), 
  only screen and (min-resolution: 2dppx) {
    background: url("../img/tile_bg_@2X.jpg");
    background-size: 150px 150px;
  }
}

.template-container {
  height: 100%;
}

.dashboard-root-container {
  $dashboard-link-hover-color: #2476FC;

  width: calc(100% - 20px);
  padding-left: 8px;
  padding-right: 12px;
  overflow-y: auto;

  @supports (overflow:-webkit-marquee) and (justify-content:inherit) { // Only effects Safari
    th {
      letter-spacing: -1px; // Safari has a larger letter spacing for headers, -1px is what most browsers use.
    }
  }

  .policy-violation-table {
    th {
      padding: 0;
      white-space: nowrap;

      i {
        margin-left: -2px;
      }
    }
    td:not(.component-name),
    .pathname {
      word-break: break-all;
      word-break: break-word; // Works only in webkit browsers (chrome/safari)
    }
  }

  .application-header {
    min-width: 110px;
    max-width: 220px;
  }
  .policy-header {
    min-width: 67px;
    max-width: 220px;
  }
  .component-header {
    min-width: 179px;
  }
  #threat-header {
    min-width: 75px;
    max-width: 75px;
  }
  .time-header {
    min-width: 47px;
    max-width: 47px;
  }
  #stage-header-stage-release {
    min-width: 61px;
    max-width: 61px;
  }
  #stage-header-release {
    min-width: 76px;
    max-width: 76px;
  }
  #stage-header-operate {
    min-width: 79px;
    max-width: 79px;
  }
  #stage-header-build {
    min-width: 58px;
    max-width: 58px;
  }

  a {
    color: black;
    text-decoration: none;
  }
  a:hover, a:hover i:before {
    color: $dashboard-link-hover-color;
  }
}

/*
  ##Simple container with left right padding, for content that gets a little too close to the edge

  ```
    <div class="report-list-container">
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
    </div>
  ```
*/
.report-list-container {
  padding-left: 8px;
  padding-right: 8px;
  overflow-y: auto;
}

#clm-welcome-message a.link {
  @extend %link;
}

/*
  ##Single pane scrollable layout container

  ```
    <div class="scrollable-root-container">
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
      Place awesome content here<br>
    </div>
  ```
*/
.scrollable-root-container {
  @include main-content(35px);
  overflow: auto;
}

/*
 ##Sections
```
  <div class='sub-section'>foo</div>
  <div class='section'>foo</div>
  <div>bar</div>
```
*/
.section {
  margin-bottom: 20px;

  /* based on default font size */
  &.with-icon {
    margin-top: -4px;
    margin-bottom: 19px;

    > .fa {
      margin-right: 8px;
    }
  }
}

.sub-section {
  margin-bottom: 12px;
}

/*
  Inline Middle
```
  <div class='inline-middle'>Text aligned on the same line with any image</div>
  <img class='inline-middle' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gYbDyMwf5TyMQAAAEdJREFUSMdj/P//PwMtAQsDAwNNbWBiGAUEAON/GscyzeOAhYGBgXE0DoZ3HNDcB4xGGbNHy6IBzgdDPg4YaV1ljuaDgY8DABJfGLG/0aWxAAAAAElFTkSuQmCC'>
```
*/
.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

/*
  No Margins
```
  <h4 class='no-margin'>Use typography</h4>
  <h5 class='no-margin'>Without its pesky margins</h5>
```
*/
.no-margin {
  margin: 0;
}
