/*
  ##Breadcrumb

  ```
  <div breadcrumb>
    <p class="nav-crumb">
      <span>
        <a href="/dashboard/newest-risk">
          <i class="sonatype-icons dashboard">&nbsp;</i>Dashboard
        </a>
      </span>
      <span>
        <span class="last-crumb">/</span>
        <span class="last-crumb">
          &nbsp;Newest Risk
        </span>
      </span>
    </p>
  </div>
  ```
*/
.nav-crumb {
  vertical-align: middle;
}

.nav-crumb i:before {
  font-size: 14px;
  margin-right: 10px;
  line-height: 16px;
  color: $deep-blue;
}

.nav-crumb i:before:hover {
  color: $link-blue;
}

.nav-crumb a {
  margin-right: 5px;
  color: $deep-blue;
}

.nav-crumb a:hover {
  color: $link-blue;
}

.nav-crumb .last-crumb {
  color: #909090;
}

/*
  ##Layout Containers

  ```
    <div class="root-container">
      <div class="navigation-container">
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
        Cool nav content<br>
      </div>
      <div class="body-container">
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
      </div>
    </div>
  ```
*/
body {
  //we want to let the navigation-container and body-container control the vertical scrolling
  overflow-y: hidden;
}
.root-container {
  @include main-content(35px);
  white-space: nowrap;
}

.navigation-container {
  width: 22%;
  min-width: 215px;
  max-width: 300px;
  height: 100%;
  display: inline-block;
  overflow: auto;
  background-color: $grey-2;
  border-right: 1px solid $grey-3;
  white-space: normal;

  // Hack to prevent rendering issues in Chrome. This will create a new layer with its own backing surface, preventing
  // the background and text from disappearing. Witnessed on Chrome 43.0.2357.130 (64-bit) on a MBP laptop screen.
  -webkit-transform: translate3d(0,0,0);
}

.body-container {
  background : url("../img/tile_bg_@2X.jpg");
  display: inline-block;
  width: calc(78% - 1px);
  height: 100%;
  white-space: normal;
}

/*
  ##Single pane layout container

  ```
    <div class="dashboard-root-container">
      <div class="dashboard-body-container">
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
      </div>
    </div>
  ```
*/
.dashboard-root-container {
  @include main-content(35px);
  margin-top: 10px;
}

.dashboard-body-container {
  margin: 0px auto;
  width: 850px;
  @media (min-width: 1200px) {
    width: 1110px;
  }
}

/*
  ##Single pane scrollable layout container

  ```
    <div class="dashboard-root-container">
      <div class="dashboard-body-container">
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
        Place awesome content here<br>
      </div>
    </div>
  ```
*/
.scrollable-root-container {
  @include main-content(35px);
  overflow: auto;
  background : url("../img/tile_bg.png");

  @media only screen and (-webkit-device-pixel-ratio: 2) {
    background: url("../img/tile_bg_@2X.jpg");
  }
}

/*
  ## Load error

  ```
  <div class="alert alert-error clm-error">
    <div>
      <i class="fa fa-warning"></i>
      <span>An error occurred loading data. (Unable to reach CLM server)</span>
    </div>
    <div>
      <button type="button" class="btn btn-danger"><i class="fa fa-refresh"></i>Retry</button>
    </div>
  </div>
  ```
*/
.alert-error.clm-error {
  margin: 5px;
  padding: 12px 8px;
  border-color: $fail-fg;
  background-color: $fail-bg;
  color: $fail-fg;
  border-radius: 0px;

  .btn {
    margin-top: 24px;
  }

  i.fa::before {
    margin-right: 8px;
  }
}

/*
  ##Organization Tree View

  ```
    <div class="navigation-container">
      <div class="tree-view">
        <div class="tree-view-header">
          Organizations and Applications
        </div>
        <div class="tree-view-filter search input-prepend">
          <span class="add-on">
            <i role="button" class="fa fa-filter"></i>
          </span>
          <input type="text" placeholder="App or Org Name / ID">
        </div>
        <div class="tree-view-new-organization">
          <button class="btn secondary">
            <i class="fa fa-plus"></i>
            New Organization
          </button>
        </div>
        <div class="tree-view-organization-group">
          <a class="tree-view-item">
              <span class="twisty collapse"></span><!--
           --><i class="fa fa-sitemap tree-view-icon icon-12px inverse"></i><!--
           -->Sonatype
          </a>
          <a class="tree-view-item selected">
            <i class="fa fa-terminal tree-view-icon icon-12px inverse"></i><!--
         -->CLM
          </a>
        </div>
      </div>
    </div>
  ```
*/
.tree-view {
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;

  .tree-view-header {
    @extend h3;
    @extend .semi-bold;
    color: $slate;
    margin-bottom: 16px;
  }

  .tree-view-filter {
    margin-bottom: 12px;
    display: block;

    input {
      width: calc(100% - 44px);
    }
  }

  .tree-view-new-organization {
    text-align: center;
    margin-bottom: 12px;
  }

  .tree-view-new-application {
    text-align: center;
    margin-top: 12px;
  }

  .tree-view-organization-group {
    .tree-view-icon {
      margin-right: 8px;
      margin-left: 8px;

      &.fa-terminal {
        margin-left: 48px;
      }

      &.icon-12px {
        line-height: 12px;
        font-size: 12px;
        width: 16px;
        height: 16px;
        text-align: center;

        &:before {
          vertical-align: -2px;
        }
      }

      &.inverse {
        color: white;
        background-color: black;
      }
    }

    a.tree-view-item {
      @extend h4;
      color: $slate;
      text-transform: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      display: block;
      margin-bottom: 0px;
      margin-left: -8px;
      margin-right: -8px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 7px;

      border-top: 1px solid $grey-2;
      border-bottom: 1px solid $grey-2;

      &:hover {
        text-decoration: none;
      }

      &.selected {
        color: $off-black;
        background: $off-white;
        border-top: 1px solid $grey-4;
        border-bottom: 1px solid $grey-4;
        padding-top: 7px;
        padding-bottom: 7px;
      }

      &:last-of-type:not(:first-of-type) {
        margin-bottom: 8px;
      }
    }

    .twisty {
      content: "";
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      width: 0;
      cursor: pointer;
      vertical-align: text-top;

      &.empty {
        width: 16px;
        height: 16px;
      }

      &.collapse {
        border-top: 5px solid $slate;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin: 6px 3px;
      }

      &.expand {
        border-left: 5px solid $slate;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        margin: 3px 8px 3px 3px;
      }
    }
  }
}
