/*
  #Deltas, Sparklines and Bar Graphs
*/
$policy-summary-table-row-height: 25px;

.policy-summary-table {
  &.table {
    max-width: 100%;
  }

  &.table td {
    @include bold();

    font-size: 1.1em;
    line-height: $policy-summary-table-row-height;
    padding: 5px 2px;
    min-width: 40px;
  }

  &.table .buffer-column {
    padding: 0;
    min-width: 0px;
  }

  &.table .delta-column {
    text-align: right;
    min-width: 0px;
  }

  &.table td:not(:first-child),
  &.table th {
    text-align: center;
  }

  &.table td:nth-child(2) {
    font-size: 1.3em;
  }

  &.table th {
    padding: 5px 0;
  }

  &.table .category-header {
    text-align: left;
    min-width: 95px;
  }

  .delta-column .up:before, .delta-column .down:before {
    font-size: 1.3em;
    line-height: $policy-summary-table-row-height;
    vertical-align: top;
  }

  .chart {
    height: $policy-summary-table-row-height;
    margin: auto;
    width: 115px;
  }

  .natural {
    .delta-column {
      .up:before {
        color: $dark-green;
      }
      
      .down:before {
        color: $dark-red;
      }
    }
    
    .sparkline {
      .fill.up {
        fill: $light-green;
      }
      
      .line.up {
        stroke: $dark-green;
      }
      
      .fill.down {
        fill: $light-red;
      }
      
      .line.down {
        stroke: $dark-red;
      }
    }
    
    .chart {
      .bar.up {
        fill: $dark-green;
      }
      
      .bar.down {
        fill: $dark-red;
      }
    }
  }

  .inverse {
    .delta-column {
      .up:before {
        color: $dark-red;
      }
      
      .down:before {
        color: $dark-green;
      }
    }
    
    .sparkline {
      .fill.up {
        fill: $light-red;
      }
      
      .line.up {
        stroke: $dark-red;
      }
      
      .fill.down {
        fill: $light-green;
      }
      
      .line.down {
        stroke: $dark-green;
      }
    }
    
    .chart {
      .bar.up {
        fill: $dark-red;
      }
      
      .bar.down {
        fill: $dark-green;
      }
    }
  }

  .neutral {
    .delta-column {
      .up:before {
        color: $dark-blue;
      }
    }
    
    .sparkline {
      .fill.up, .fill.down {
        fill: $light-blue;
      }
      
      .line.up, .line.down {
        stroke: $dark-blue;
      }
    }
    
    .chart {
      .bar {
        fill: $dark-blue;
      }
    }
  }
}

.sparkline {
  .guideline {
    stroke: #444444;
  }
  
  .guide-circle {
    fill: #198FFA;
  }
  
  .guide-rect {
    fill: white;
  }
  
  .guide-text {
    @include bold();

    cursor: default;
    fill: black;
  }
  
  .line {
    fill: none;
    stroke-width: 2px;
    
    &.base {
      stroke: #198FFA;
    }
  }
  
  .fill.base {
    fill: #E8E8E8;
  }
}
