.dashboard-container {

  $dashboard-border: 1px solid $grey-3;

  // fixed column widths
  $total-risk-width: 82px;
  $critical-risk-width: 99px;
  $severe-risk-width: 90px;
  $moderate-risk-width: 114px;
  $low-risk-width: 71px;
  $threat-width: 92px;
  $threat-number-width: 30px;
  $threat-bar-width: 8px;
  $age-width: 68px;
  $scroll-bar-width: 14px;
  $chevron-width: 24px;
  $affected-apps-width: 109px;

  $chevron-header-width: $chevron-width + $scroll-bar-width;
  $total-risk-columns: $total-risk-width + $critical-risk-width + $severe-risk-width + $moderate-risk-width + $low-risk-width;

  .tile-scroll-container {
    padding-top: 4px;
    height: calc(100% - 16px);
  }

  .tile {
    margin-bottom: 4px;
    padding-right: 12px;
    line-height: 21px;

    .fa-chevron-right {
      font-size: 12px;
      width: 7px;
      color: $slate;
    }

    &.clickable {
      &:hover, &:active {
        cursor: pointer;
        .fa-chevron-right {
          color: $off-black;
        }
      }

      &:active, &:focus {
        outline: 0;
      }

      &:hover {
        border-color: $grey-4;
      }

      &:active {
        background: $grey-1;
        border-color: $slate;
      }
    }

  }

  .column {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;

    &:focus {
      outline: none;
    }
    &.greedy {
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.fixed {
      text-align: center;
    }

    &.chevron {
      width: $chevron-width;
      text-align: right;
    }
  }

  .dashboard-summary, .dashboard-headers {
    a {
      @extend .semi-bold;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: $slate;
    }
  }

  .dashboard-summary {
    .summary-tile {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom-width: 0;
      .tile-header {
        padding-top: 0;
      }
    }

    .tabs {
      height: 32px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        display: inline-block;
        vertical-align: top;

        &:not(last-child) {
          margin-right: 8px;
        }
      }
      a {
        padding: 8px 12px;
        display: inline-block;
        box-sizing: border-box;
        height: 32px;

        &:hover {
          color: $off-black;
          text-decoration: none;
          .fa.inverse {
            background-color: $off-black;
          }
        }
        // invisible border to avoid shifts upon activating
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
      }
      .fa {
        margin-right: 8px;
      }
      .active {
        a {
          border-top: $dashboard-border;
          border-right: $dashboard-border;
          border-left: $dashboard-border;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          background-color: $grey-1;
        }
      }
      .dashboard-tab-counter {
        background-color: $grey-1;
        border-radius: 4px;
        padding: 0 4px;
        font-size: 12px;
        margin-left: 8px;
      }
      .fa.fa-exclamation {
        line-height: 16px;
        width: 16px;
        text-align: center;
        vertical-align: 1px;
        &::before {
          font-size: 15px;
          vertical-align: -2px;
        }
      }

      .fa.fa-terminal {
        line-height: 12px;
        font-size: 12px;
        width: 16px;
        height: 16px;
        text-align: center;
        vertical-align: 3px;
        &::before {
          vertical-align: -2px;
        }
      }
    }
  }

  .dashboard-headers {
    .summary-tile {
      margin-top: 0;
      padding-top: 0;
      border-top-width: 0;
    }
    .dashboard-header-container {
      border-top: $dashboard-border;
      height: 40px;

      .column {
        box-sizing: border-box;
        height: 40px;
        line-height: 40px;
        padding: 0 12px;
        text-align: left;
        background-color: $grey-1;
        color: $slate;
        position: relative;

        a {
          text-decoration: none;
          display: inline-block;
          position: static; /* static is the initial setting */
          height: 100%;
          width: 100%;
          line-height: 40px;
        }
        .fa-caret-up {
          top: calc(50% - 7px);
        }
        .fa-caret-down {
          top: calc(50%);
        }
        &.selected-column {
          background-color: $grey-2;
        }
        &.split-line {
          padding-top: 4px;
          a {
            line-height: 16px;
          }
        }
        &.chevron {
          width: $chevron-header-width;
        }
        &:nth-child(1) {
          padding-left: 8px;
        }
      }

      .header-text {
        display: inline-block;
        text-align: center;
      }
    }
  }

  .dashboard-results {
    // provide extra padding to cells to compensate for sort indicators
    .padded-cell {
      padding-left: 16px;
    }
  }

  #dashboard-violations {
    .violations-card {
      padding: 0;
      overflow-x: auto;
      overflow-y: hidden;

      .violations-row {
        padding-right: $scroll-bar-width;
        width: calc(100% - #{$threat-bar-width + $scroll-bar-width});
        .column.threat-and-policy-column-container {
          padding: 0;
          .threat {
            float: left;
            width: $threat-width;
          }
          .policy {
            overflow: hidden;
            display: block;
          }
          .threat-number {
            float: left;
            width: $threat-number-width;
            padding: 0 8px;
          }
        }
        .column.width-third {
          width: calc((100% - #{$threat-bar-width + $scroll-bar-width + $age-width}) / 3);
          &:not(:first-of-type) {
            padding: 0 12px;
          }
        }
        .column.fixed.age {
          width: $age-width;
        }
      }

      .reports-row {
        box-sizing: border-box;
        width: calc(100% - #{$threat-bar-width});
        a {
          position: relative; // ie 11 workaround, see note above
          padding-right: 12px;
          &:first-child {
            padding-left: 8px;
          }

          @extend .semi-bold;

          &.link {
            @extend %link;

            &.disabled {
              text-decoration: none;
            }

            .fa-external-link {
              margin-bottom: 2px;
              vertical-align: middle;
            }
          }

          &:hover, &:focus {
            filter: none; // bootstrap override
          }

          .fa {
            margin-right: 8px;
          }
        }

        a:before {
          // ie 11 workaround, see note above
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        border-top: $dashboard-border;
      }

      .reports-row, .violations-row {
        height: 40px;
        line-height: 40px;
        float: left;
      }

      .clm-bar {
        display: inline-block;
        float: left;
        width: $threat-bar-width;
        height: 40px;
        border: none;

        &:nth-child(3) {
          clear: left;
        }
      }
    }

    .dashboard-headers {
      .violations-row {
        .column.width-third {
          width: calc((100% - #{$age-width + $chevron-header-width}) / 3);
        }
        .column {
          &.age {
            width: $age-width + $chevron-header-width;
          }
          &.threat-and-policy-column-container {
            padding: 0;
          }
        }
      }
    }
  }

  #dashboard-applications {
    .applications-row {
      line-height: 22px;

      .column {
        &.application-name {
          width: calc(100% - #{$total-risk-columns + $chevron-width});
          font-family: Proxima Nova Semibold, sans-serif;
        }

        &.total-risk {
          width: $total-risk-width;
        }

        &.critical-risk {
          width: $critical-risk-width;
        }

        &.severe-risk {
          width: $severe-risk-width;
        }

        &.moderate-risk {
          width: $moderate-risk-width;
        }

        &.low-risk {
          width: $low-risk-width;
        }
      }

      &.total-application-risks {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid $grey-3;
      }

      &.stage-application-risks {
        .column.application-name {
          text-align: right;
          font-family: Proxima Nova, sans-serif;
          padding-right: 12px;
        }

        .stage-application-risks-container {
          padding-top: 8px;
          padding-bottom: 8px;
          border-top: 1px solid $grey-1;
        }
        .fa {
          margin-right: 8px;
          width: 12px;
        }
      }

      &:nth-child(2) {
        .stage-application-risks-container {
          border-top: 1px solid transparent;
        }
      }
    }

    .dashboard-headers {
      .applications-row {
        .chevron {
          width: $chevron-header-width;
        }
        .column.application-name {
          width: calc(100% - #{$total-risk-columns + $chevron-header-width});
        }
        .column.low-risk {
          width: $low-risk-width + $chevron-header-width;
        }
      }
    }
  }

  #dashboard-components {
    .components-row {
      .column {
        &.component-name {
          width: calc(100% - #{$total-risk-columns + $affected-apps-width + $chevron-width});
        }

        &.affected-apps {
          width: $affected-apps-width;
        }

        &.total-risk {
          width: $total-risk-width;
        }

        &.critical-risk {
          width: $critical-risk-width;
        }

        &.severe-risk {
          width: $severe-risk-width;
        }

        &.moderate-risk {
          width: $moderate-risk-width;
        }

        &.low-risk {
          width: $low-risk-width;
        }
      }
    }

    .dashboard-headers {
      .components-row {
        .column.component-name {
          width: calc(100% - #{$total-risk-columns + $affected-apps-width + $chevron-header-width});
        }
        .column.low-risk {
          width: $low-risk-width + $chevron-header-width;
        }
      }
    }
  }
}

#max-results-shown .tile {
  background-color: transparent;
  border: none;
  text-align: center;
}

#dashboard-applications {
  .dashboard-results {
    .tile {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.dashboard-tooltip {
  &.pathname .tooltip-inner::before {
    content: "COMPONENT PATH\a";
    font-weight: bold;
    white-space: pre;
    display: block;
  }
  .tooltip-inner {
    text-align: left;
    max-width: 350px;
  }
  .tooltip-arrow {
    left: 10%;
  }
}
