/*
  #Mixins, Inherited and Variable
*/

/*
  Inline Middle
```
  <div class='inline-middle'>Text aligned on the same line with any image</div>
  <img class='inline-middle' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gYbDyMwf5TyMQAAAEdJREFUSMdj/P//PwMtAQsDAwNNbWBiGAUEAON/GscyzeOAhYGBgXE0DoZ3HNDcB4xGGbNHy6IBzgdDPg4YaV1ljuaDgY8DABJfGLG/0aWxAAAAAElFTkSuQmCC'>
```
*/
.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

/*
  No Margins
```
  <h4 class='no-margin'>Use typography</h4>
  <h5 class='no-margin'>Without its pesky margins</h5>
```
*/
.no-margin {
  margin: 0;
}

/*
  #Dashboard Viewing Summary
*/

/*
  Dashboard Viewing Item
```
  <div class="form-group dashboard-viewing-item">
    <div class="dashboard-viewing-icon-box"><i class="sonatype-icons dashboard-app-icon"></i></div><h2>50</h2>
    <div class="dashboard-viewing-summary">
      <h5>APPLICATIONS</h5>
      <p>OF 100 (50%)</p>
    </div>
  </div>
```
*/
.dashboard-viewing-item {
  padding-top: 5px;
  margin-left: 24px;
  display: inline-block;

  .fa {
    vertical-align: middle;

    &.size-18px {
      text-align: center;
      line-height: 20px;
      width: 20px;
    }
  }
}

.dashboard-viewing-item h2 {
  @extend .no-margin;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.dashboard-viewing-item h5 {
  @extend .no-margin;
}

.dashboard-viewing-item p {
  @extend .no-margin;
  @extend .inline-middle;
}

.dashboard-viewing-icon-box {
  width: 31px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  background-color: black;
  display: inline-block;
}

.dashboard-viewing-icon-box i::before {
  color: white;
  padding: 5px;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px !important;
  vertical-align: text-bottom;
}

.dashboard-app-icon:before {
  content: '\e008';
}

.dashboard-policy-icon:before {
  content: '\e60d';
}

.dashboard-component-icon:before {
  content: '\e0c9';
}

/*
  Component Match Results Graph
```
  <div>
    <span class='percentage-graph match-exact' style='width: 50%;'></span>
    <span class='percentage-graph match-partial' style='width: 30%;'></span>
    <span class='percentage-graph match-none' style='width: 20%;'></span>
  </div>
  <div class='percentage-graph-legend'>
    <div class='percentage-graph-legend-item'>
      <div class='percentage-graph-legend-color match-exact'></div>
      <p>Exact</p>
      <p>50%</p>
    </div>
    <div class='percentage-graph-legend-item'>
      <div class='percentage-graph-legend-color match-partial'></div>
      <p>Partial</p>
      <p>30%</p>
    </div>
    <div class='percentage-graph-legend-item'>
      <div class='percentage-graph-legend-color match-none'></div>
      <p>None</p>
      <p>20%</p>
    </div>
  </div>
```
*/
.percentage-graph {
  height: 20px;
  float: left;
}

.percentage-graph-legend-item {
  margin-right: 10px;
}

.percentage-graph-legend-item, .percentage-graph-legend-item p {
  @extend .inline-middle;
}

.percentage-graph-legend-item p {
  @extend .no-margin;
}

.percentage-graph-legend-color {
  @extend .inline-middle;
  height: 14px;
  width: 14px;
}

.match-exact {
  background-color: $dark-purple;
}

.match-partial {
  background-color: $medium-purple;
}

.match-none {
  background-color: $light-purple;
}

/*
Filters
Expanded
```
<div class="filter-panel-container filter-panel-container-expanded">
  <div class="filter-expando-container">
    <i class="glyphicons-sonatype filter"></i>
    <span ng-if="expanded" class="filter-expando-label">Filters</span>
    <a>
      <i class="sonatype-icons small pull-right double-chevron-left"></i>
    </a>
  </div>
  <div class="filter-item-container">
    <div class="filter-item-expanded">
      <div class="filter-item-icon">
        <i class="sonatype-icons application"></i>
      </div>
      <div class="filter-item-content">
        <div class="filter-item-header">Applications</div>
        ...Some filter specific content here...
      </div>
    </div>
  </div>
  <div class="filter-button-container">
    <div clm-alerts="alerts" no-close="true"></div>
    <button type="button" class='btn btn-link btn-cancel'>Cancel</button>
    <div class="pull-right clm-primary-buttons">
      <button type='button' class='btn btn-default'>Reset</button>
      <button type='button' class='btn btn-primary'>Save</button>
    </div>
  </div>
</div>
```
Collapsed
```
<div class="filter-panel-container">
  <div class="filter-expando-container">
    <i class="glyphicons-sonatype filter"></i>
    <a>
      <i class="sonatype-icons small pull-right double-chevron-right"></i>
    </a>
  </div>
  <div class="filter-item-container">
    <div class="filter-item-collapsed">
      <i class="sonatype-icons application"></i>
      <div class="count-circle pull-right" tooltip-html-unsafe="A multiline<br>tooltip" tooltip-placement="right" tooltip-append-to-body="true">3</div>
    </div>
  </div>
</div>
```
*/
$filter-content-left-padding: 15px;
$filter-multi-dropdown-width: 190px;
$filter-item-top-bottom-padding: 10px;
.filter-panel-container {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: 60px;
  border-right: $small-gray-border;
  background-color: $main-background-color;
  overflow: hidden;
  z-index: 1;
}

.filter-panel-container-expanded {
  width: 250px !important;
}

.filter-expando-container {
  text-align: left;
  padding-left: $filter-content-left-padding;
  line-height: 40px;
  border-bottom: $small-gray-border;
}

.filter-expando-label {
  padding-left: 10px;
}

.filter-item-container {
  border-bottom: $small-gray-border;
}

.filter-button-container {
  padding-left: $filter-content-left-padding;
  padding-top: 10px;
  padding-right: 5px;
}

.filter-item-collapsed {
  padding-top: $filter-item-top-bottom-padding;
  padding-bottom: $filter-item-top-bottom-padding;
  padding-left: $filter-content-left-padding;
}

.filter-item-expanded {
  padding-left: $filter-content-left-padding;
  padding-top: $filter-item-top-bottom-padding;
  padding-bottom: $filter-item-top-bottom-padding;
}

.filter-item-content {
  display: inline-block;
}

.filter-item-content .btn {
  width: $filter-multi-dropdown-width;
  text-align: left;
  @include border-radius(4px);
}

.filter-item-content .btn .caret {
  float: right;
}

.filter-item-content .slider {
  width: 180px;
}

//don't want the text to overlay the caret
.filter-item-content .btn span div {
  max-width: 150px;
  float: left;
}

.filter-item-content .multi-dropdown .dropdown-menu {
  width: $filter-multi-dropdown-width;
}

.filter-item-icon {
  float: left;
  padding-right: 10px;
}

.filter-item-header {
  @extend .bold;
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.count-circle {
  width: 15px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
  right: 20px;
  top: 20px;
  position: relative;
  background-color: #2476FC;
  color: white;
  text-align: center;
  @extend .bold;
  @include border-radius(50%)
}

.double-chevron-right:before, .double-chevron-left:before {
  padding-right: 13px;
  vertical-align: middle;
}

/*
Policy Summary Violation Graphs
Deltas
```
<div class='policy-summary-table'>
  <div class='delta-column'>
    <span class='natural'><i class='sonatype-icons up'></i> <i class='sonatype-icons down'></i></span>
    <span class='inverse'><i class='sonatype-icons up'></i> <i class='sonatype-icons down'></i></span>
    <span class='neutral'><i class='sonatype-icons up'></i></i></span>
  </div>
</div>
```

Sparklines
```
<div class='policy-summary-table'>
  <div class='natural'>
    <div class='sparkline'>
      <svg class='chart'>
        <g>
          <path d="M2,28L12.797202797202798,19.595959595959595L23.594405594405597,18.808080808080806L34.39160839160839,18.808080808080806L45.188811188811194,17.757575757575758L55.986013986013994,17.757575757575758L66.78321678321679,16.96969696969697L77.58041958041959,26.949494949494948L88.37762237762239,26.949494949494948L99.17482517482519,26.949494949494948L109.97202797202799,26.949494949494948L120.76923076923077,26.949494949494948L120.76923076923077,30L109.97202797202799,30L99.17482517482519,30L88.37762237762239,30L77.58041958041959,30L66.78321678321679,30L55.986013986013994,30L45.188811188811194,30L34.39160839160839,30L23.594405594405597,30L12.797202797202798,30L2,30Z" class="fill base"></path>
          <path d="M2,28L12.797202797202798,19.595959595959595L23.594405594405597,18.808080808080806L34.39160839160839,18.808080808080806L45.188811188811194,17.757575757575758L55.986013986013994,17.757575757575758L66.78321678321679,16.96969696969697L77.58041958041959,26.949494949494948L88.37762237762239,26.949494949494948L99.17482517482519,26.949494949494948L109.97202797202799,26.949494949494948L120.76923076923077,26.949494949494948" class="line base"></path><path d="M120.76923076923077,26.949494949494948L131,2L131,30L120.76923076923077,30Z" class="fill up"></path><path d="M120.76923076923077,26.949494949494948L131,2" class="line up"></path>
          <line opacity="0" x1="0" y1="0" x2="0" y2="30" class="guideline" transform="translate(45.188811188811194,0)"></line>
        </g>
      </svg>
    </div>
  </div>
  <div class='inverse'>
    <div class='sparkline'>
      <svg class='chart'>
        <g>
          <path d="M2,28L12.797202797202798,19.595959595959595L23.594405594405597,18.808080808080806L34.39160839160839,18.808080808080806L45.188811188811194,17.757575757575758L55.986013986013994,17.757575757575758L66.78321678321679,16.96969696969697L77.58041958041959,26.949494949494948L88.37762237762239,26.949494949494948L99.17482517482519,26.949494949494948L109.97202797202799,26.949494949494948L120.76923076923077,26.949494949494948L120.76923076923077,30L109.97202797202799,30L99.17482517482519,30L88.37762237762239,30L77.58041958041959,30L66.78321678321679,30L55.986013986013994,30L45.188811188811194,30L34.39160839160839,30L23.594405594405597,30L12.797202797202798,30L2,30Z" class="fill base"></path>
          <path d="M2,28L12.797202797202798,19.595959595959595L23.594405594405597,18.808080808080806L34.39160839160839,18.808080808080806L45.188811188811194,17.757575757575758L55.986013986013994,17.757575757575758L66.78321678321679,16.96969696969697L77.58041958041959,26.949494949494948L88.37762237762239,26.949494949494948L99.17482517482519,26.949494949494948L109.97202797202799,26.949494949494948L120.76923076923077,26.949494949494948" class="line base"></path><path d="M120.76923076923077,26.949494949494948L131,2L131,30L120.76923076923077,30Z" class="fill up"></path><path d="M120.76923076923077,26.949494949494948L131,2" class="line up"></path>
          <line opacity="0" x1="0" y1="0" x2="0" y2="30" class="guideline" transform="translate(45.188811188811194,0)"></line>
        </g>
      </svg>
    </div>
  </div>
  <div class='neutral'>
    <div class='sparkline'>
      <svg class='chart'>
        <g>
          <path d="M2,28L12.797202797202798,19.595959595959595L23.594405594405597,18.808080808080806L34.39160839160839,18.808080808080806L45.188811188811194,17.757575757575758L55.986013986013994,17.757575757575758L66.78321678321679,16.96969696969697L77.58041958041959,26.949494949494948L88.37762237762239,26.949494949494948L99.17482517482519,26.949494949494948L109.97202797202799,26.949494949494948L120.76923076923077,26.949494949494948L120.76923076923077,30L109.97202797202799,30L99.17482517482519,30L88.37762237762239,30L77.58041958041959,30L66.78321678321679,30L55.986013986013994,30L45.188811188811194,30L34.39160839160839,30L23.594405594405597,30L12.797202797202798,30L2,30Z" class="fill base"></path>
          <path d="M2,28L12.797202797202798,19.595959595959595L23.594405594405597,18.808080808080806L34.39160839160839,18.808080808080806L45.188811188811194,17.757575757575758L55.986013986013994,17.757575757575758L66.78321678321679,16.96969696969697L77.58041958041959,26.949494949494948L88.37762237762239,26.949494949494948L99.17482517482519,26.949494949494948L109.97202797202799,26.949494949494948L120.76923076923077,26.949494949494948" class="line base"></path><path d="M120.76923076923077,26.949494949494948L131,2L131,30L120.76923076923077,30Z" class="fill up"></path><path d="M120.76923076923077,26.949494949494948L131,2" class="line up"></path>
          <line opacity="0" x1="0" y1="0" x2="0" y2="30" class="guideline" transform="translate(45.188811188811194,0)"></line>
        </g>
      </svg>
    </div>
  </div>
</div>
```

Bar Graphs
```
<div class='policy-summary-table'>
  <div class='natural'>
    <svg class="chart">
      <rect x="8" y="14.210526315789474" height="7.2180451127819545" width="8" class="bar up"></rect>
      <rect x="18" y="20.75187969924812" height="0.6766917293233075" width="8" class="bar up"></rect>
      <rect x="28" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="38" y="20.526315789473685" height="0.9022556390977439" width="8" class="bar up"></rect>
      <rect x="48" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="58" y="20.75187969924812" height="0.6766917293233075" width="8" class="bar up"></rect>
      <rect x="68" y="21.42857142857143" height="8.571428571428571" width="8" class="bar down"></rect>
      <rect x="78" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="88" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="98" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="108" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="118" y="0" height="21.42857142857143" width="8" class="bar up"></rect>
      <line x1="8" x2="126" y1="21.42857142857143" y2="21.42857142857143" stroke="#777777" stroke-width="0.5"></line>
    </svg>
  </div>
  <div class='inverse'>
    <svg class="chart">
      <rect x="8" y="14.210526315789474" height="7.2180451127819545" width="8" class="bar up"></rect>
      <rect x="18" y="20.75187969924812" height="0.6766917293233075" width="8" class="bar up"></rect>
      <rect x="28" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="38" y="20.526315789473685" height="0.9022556390977439" width="8" class="bar up"></rect>
      <rect x="48" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="58" y="20.75187969924812" height="0.6766917293233075" width="8" class="bar up"></rect>
      <rect x="68" y="21.42857142857143" height="8.571428571428571" width="8" class="bar down"></rect>
      <rect x="78" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="88" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="98" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="108" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="118" y="0" height="21.42857142857143" width="8" class="bar up"></rect>
      <line x1="8" x2="126" y1="21.42857142857143" y2="21.42857142857143" stroke="#777777" stroke-width="0.5"></line>
    </svg>
  </div>
  <div class='neutral'>
    <svg class="chart">
      <rect x="8" y="14.210526315789474" height="7.2180451127819545" width="8" class="bar up"></rect>
      <rect x="18" y="20.75187969924812" height="0.6766917293233075" width="8" class="bar up"></rect>
      <rect x="28" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="38" y="20.526315789473685" height="0.9022556390977439" width="8" class="bar up"></rect>
      <rect x="48" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="58" y="20.75187969924812" height="0.6766917293233075" width="8" class="bar up"></rect>
      <rect x="68" y="21.42857142857143" height="8.571428571428571" width="8" class="bar down"></rect>
      <rect x="78" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="88" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="98" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="108" y="21.42857142857143" height="0" width="8" class="bar down"></rect>
      <rect x="118" y="0" height="21.42857142857143" width="8" class="bar up"></rect>
      <line x1="8" x2="126" y1="21.42857142857143" y2="21.42857142857143" stroke="#777777" stroke-width="0.5"></line>
    </svg>
  </div>
</div>
```
*/
$policy-summary-table-row-height: 25px;

.policy-summary-table {
  &.table {
    max-width: 100%;
  }

  &.table td {
    @extend .bold;
    padding: 5px 2px;
    line-height: $policy-summary-table-row-height;
    font-size: 1.1em;
    min-width: 40px;
  }

  &.table .buffer-column {
    min-width: 0px;
    padding: 0;
  }

  &.table .delta-column {
    min-width: 0px;
    text-align: right;
  }

  &.table td:not(:first-child),
  &.table th {
    text-align: center;
  }

  &.table td:nth-child(2) {
    font-size: 1.3em;
  }

  &.table th {
    padding: 5px 0;
  }

  &.table .category-header {
    min-width: 95px;
    text-align: left;
  }

  .delta-column .up:before, .delta-column .down:before {
    font-size: 1.3em;
    line-height: $policy-summary-table-row-height;
    vertical-align: top;
  }

  .chart {
    height: $policy-summary-table-row-height;
    width: 115px;
    margin: auto;
  }

  .sparkline {
    .guideline {
      stroke: #444444;
    }
    .guide-circle {
      fill: #198FFA;
    }
    .guide-rect {
      fill: white;
    }
    .guide-text {
      @extend .bold;
      fill: black;
      cursor: default;
    }
    .line {
      &.base {
        stroke: #198FFA;
      }
      stroke-width: 2px;
      fill: none;
    }
    .fill.base {
      fill: #E8E8E8;
    }
  }

  .natural {
    .delta-column {
      .up:before {
        color: $dark-green;
      }
      .down:before {
        color: $dark-red;
      }
    }
    .sparkline {
      .fill.up {
        fill: $light-green;
      }
      .line.up {
        stroke: $dark-green;
      }
      .fill.down {
        fill: $light-red;
      }
      .line.down {
        stroke: $dark-red;
      }
    }
    .chart {
      .bar.up {
        fill: $dark-green;
      }
      .bar.down {
        fill: $dark-red;
      }
    }
  }

  .inverse {
    .delta-column {
      .up:before {
        color: $dark-red;
      }
      .down:before {
        color: $dark-green;
      }
    }
    .sparkline {
      .fill.up {
        fill: $light-red;
      }
      .line.up {
        stroke: $dark-red;
      }
      .fill.down {
        fill: $light-green;
      }
      .line.down {
        stroke: $dark-green;
      }
    }
    .chart {
      .bar.up {
        fill: $dark-red;
      }
      .bar.down {
        fill: $dark-green;
      }
    }
  }

  .neutral {
    .delta-column {
      .up:before {
        color: $dark-blue;
      }
    }
    .sparkline {
      .fill.up, .fill.down {
        fill: $light-blue;
      }
      .line.up, .line.down {
        stroke: $dark-blue;
      }
    }
    .chart {
      .bar {
        fill: $dark-blue;
      }
    }
  }
}

/*
  Dashboard Summary Section
  Secondary Button
  ```
  <div class="dashboard-section-header">
    <div class="section-header-item">header part</div>
    <div class="section-header-item">
      <button class="btn pull-right secondary">
        <i class="glyphicons-sonatype calculator"></i>&nbsp;Calculate Trends
      </button>
    </div>
  </div>
  ```
*/

$dashboard-border-width: 2px;
$dashboard-border: $dashboard-border-width solid #CCC;

.dashboard-section-header {
  border-bottom: $dashboard-border;

  .dashboard-section-header-item {
    display: inline-block;
    min-height: 50px;

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }
  }

  h1 {
    margin-bottom: 0px;
  }

  .btn {
    margin-top: 14px;
  }
}

// Used on the dashboard to help the table with its initial size
.dashboard-summary-section {
  min-height: 125px;

  & > div:nth-child(2) {
    margin-left: 30px;

    @media (max-width: 1249px) {
      margin-left: 20px;
    }
  }
}

/*
  #Dashboard Tables
*/

/*
 Tables with scrollable bodies
 ```
 <div class='scrollable-container-header'></div>
  <div class='scrollable-container'>
    <div class='scrollable-container-inner'>
      <table style='height:30px'>
        <thead>
          <tr>
            <th>
              <div>
                Count
              </div>
            </th>
          </tr>
         </thead>
         <tbody>
           <tr><td>9</td></tr>
           <tr><td>8</td></tr>
           <tr><td>7</td></tr>
           <tr><td>6</td></tr>
           <tr><td>5</td></tr>
           <tr><td>4</td></tr>
           <tr><td>3</td></tr>
           <tr><td>2</td></tr>
           <tr><td>1</td></tr>
         </tbody>
      </table>
    </div>
  </div>
 ```
*/

.scrollable-container-header {
  border-bottom: $dashboard-border !important;
  width: 100%;
}

.scrollable-container {
  height: 500px;
  position: relative;
  padding-top: 30px;
  border-bottom: $dashboard-border;
  border-left: $dashboard-border;
  border-right: $dashboard-border;

  th {
    padding: 0 5px;
  }

  th > div {
    position: absolute;
    top: 0;
    line-height: 30px;
    // c.f. insight-brain-service/src/main/frontend/scss/_content.scss:82
    -webkit-transform: translate3d(0, 0, 0);
  }

  th:first-child > div {
    padding-left: 5px;
  }
}

.scrollable-container-inner {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  height: calc(100% - #{$dashboard-border-width});
  border-top: $dashboard-border;

  table {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0px;
  }
}

/*
Dashboard tables
 ```
 <div class="dashboard-body-container">
  <ul class="nav nav-tabs scrollable-container-header">
    <li>
      <h4>Descriptor</h4>
    </li>
    <li class="pull-right active">
      <a>
        <div>
          Table Name
        </div>
      </a>
    </li>
  </ul>
  <div class="scrollable-container">
    <div class='scrollable-container-inner'>
      <table style='height:30px'>
        <thead>
          <tr>
            <th>
              <div>
                Count
              </div>
            </th>
          </tr>
         </thead>
         <tbody>
           <tr><td>2</td></tr>
           <tr><td>1</td></tr>
         </tbody>
      </table>
    </div>
  </div>
</div>
 ```
*/

.dashboard-root-container .nav.nav-tabs {
  margin: 0px;
}

.dashboard-root-container .nav.nav-tabs .active {
  margin-bottom: 0px;
}

.dashboard-root-container .nav.nav-tabs .active a {
  border-top: $dashboard-border;
  border-right: $dashboard-border;
  border-left: $dashboard-border;
  border-bottom: 2px solid white;
  margin-bottom: -2px;
}

.dashboard-root-container h4 {
  font-size: 19.5px
}

.dashboard-root-container .nav.nav-tabs h4 {
  margin: 0px;
  padding-top: 8px;
}

.dashboard-root-container td {
  border-top: 0px;
}
