.dashboard-container {

  $dashboard-border: 1px solid $iq-grey-3;

  // fixed column widths  
  $total-risk-width: 82px;
  $critical-risk-width: 99px;
  $severe-risk-width: 90px;
  $moderate-risk-width: 114px;
  $low-risk-width: 71px;
  $threat-width: 92px;
  $threat-number-width: 30px;
  $threat-bar-width: 8px;
  $age-width: 67px;
  $report-width: 107px;
  $scroll-bar-width: 14px;
  $chevron-width: 21px;
  $affected-apps-width: 109px;
  
  $chevron-header-width: 23px;
  $total-risk-columns: $total-risk-width + $critical-risk-width + $severe-risk-width + $moderate-risk-width + $low-risk-width;

  $tile-right-padding: 12px;

  .tile-scroll-container {
    height: calc(100% - 16px);
    padding-top: 4px;

    .iq-alert {
      margin: 0px;
    }
  }

  .tile {
    line-height: 21px;
    margin-bottom: 4px;
    padding-right: $tile-right-padding;

    .fa-chevron-right {
      color: $iq-slate;
      font-size: 12px;
      width: 7px;
    }

    &.clickable {
      &:hover, &:active {
        cursor: pointer;
        .fa-chevron-right {
          color: $iq-off-black;
        }
      }

      &:active, &:focus {
        outline: 0;
      }

      &:hover {
        border-color: $iq-grey-4;
      }

      &:active {
        background: $iq-grey-1;
        border-color: $iq-slate;
      }
    }

  }

  .column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

    &:focus {
      outline: none;
    }

    &.greedy {
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.fixed {
      text-align: center;
    }

    &.chevron {
      text-align: right;
      width: $chevron-width;
    }
  }

  dashboard-tabs, .dashboard-headers {
    @include semi-bold();
    
    font-size: 14px;
    text-transform: uppercase;

    a {
      color: $iq-slate;
      line-height: 16px;
    }
  }

  .dashboard-summary {
    .summary-tile {
      border-bottom-width: 0;
      margin-bottom: 0;
      padding-bottom: 0;

      .tile-header {
        padding-top: 0;
      }
    }

    .tabs {
      height: 32px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        vertical-align: top;

        &:not(last-child) {
          margin-right: 8px;
        }
      }

      a {
        // invisible border to avoid shifts upon activating
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;

        box-sizing: border-box;
        display: inline-block;
        height: 32px;
        padding: 8px 12px;

        &:hover, &:focus {
          color: $iq-off-black;
          text-decoration: none;

          .fa.inverse {
            background-color: $iq-off-black;
          }
        }
      }

      .fa {
        margin-right: 8px;
      }

      .active {
        a {
          background-color: $iq-grey-1;
          border-top: $dashboard-border;
          border-right: $dashboard-border;
          border-left: $dashboard-border;
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
          color: $iq-off-black;
          cursor: default;
        }
      }
      
      .dashboard-tab-counter {
        background-color: $iq-grey-1;
        border-radius: 4px;
        font-size: 12px;
        margin-left: 8px;
        padding: 0 4px;
      }
      
      .fa.fa-exclamation {
        line-height: 16px;
        text-align: center;
        vertical-align: 1px;
        width: 16px;
      
        &::before {
          font-size: 15px;
          vertical-align: -2px;
        }
      }

      .fa.fa-terminal {
        font-size: 12px;
        height: 16px;
        line-height: 12px;
        text-align: center;
        vertical-align: 3px;
        width: 16px;

        &::before {
          vertical-align: -2px;
        }
      }
    }
  }

  .dashboard-headers {
    .summary-tile {
      border-top-width: 0;
      margin-top: 0;
      padding-top: 0;
    }

    .dashboard-header-container {
      border-top: $dashboard-border;
      height: 40px;

      .column {
        background-color: $iq-grey-1;
        box-sizing: border-box;
        color: $iq-slate;
        height: 40px;
        line-height: 40px;
        padding: 0 12px;
        position: relative;
        text-align: left;

        a {
          display: inline-block;
          height: 100%;
          line-height: 40px;
          position: static; // static is the initial setting
          text-decoration: none;
          width: 100%;
        }

        .fa-caret-up {
          top: calc(50% - 7px);
        }

        .fa-caret-down {
          top: calc(50%);
        }

        .clm-bar {
          height: 6px;
          position: absolute;
          top: 41px;
          left: 1px;
          width: calc(100% - 2px);
        }

        &.selected-column {
          background-color: $iq-grey-2;
        }

        &.split-line {
          padding-top: 4px;

          a {
            line-height: 16px;
          }
        }

        &.chevron {
          width: $chevron-header-width;
        }

        &:nth-child(1) {
          padding-left: 8px;
        }
      }

      .header-text {
        display: inline-block;
        text-align: center;
      }
    }
  }

  .dashboard-results {
    // provide extra padding to cells to compensate for sort indicators
    .padded-cell {
      padding-left: 16px;
    }

    .heatmap-cell {
      @include semi-bold();
    }

    .white-text {
      color: $iq-off-white;
    }

    .grey-text {
      color: $iq-grey-4;
    }
  }

  #dashboard-violations {
    .tile-scroll-container.scrollbar-present .violations-card .violations-row .column {
      &.width-third {
        width: calc((100% - #{$threat-bar-width + $age-width + $report-width + $scroll-bar-width / 3}) / 3 - 2px);
      }

      &.age {
        padding-left: 5px;
      }

      &.report {
        padding-left: 5px;
        width: $report-width + $scroll-bar-width;
      }
    }

    .violations-card {
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0;

      .violations-row {
        width: calc(100% - #{$threat-bar-width});

        .column.threat-and-policy-column-container {
          padding: 0;

          .threat {
            float: left;
            width: $threat-width;
          }

          .policy {
            display: block;
            overflow: hidden;
          }

          .threat-number {
            float: left;
            padding: 0 8px;
            width: $threat-number-width;
          }
        }

        .column.width-third {
          width: calc((100% - #{$threat-bar-width + $chevron-width + $age-width + $report-width}) / 3 - 2px);

          &:not(:first-of-type) {
            padding: 0 12px;
          }
        }

        .column.fixed.age {
          width: $age-width;
        }

        .column.fixed.report {
          width: $report-width + $chevron-header-width;
          text-align: left;

          a {
            &.link {
              @extend %link;

              &.disabled {
                text-decoration: none;
              }

              .fa-external-link {
                margin-bottom: 2px;
                vertical-align: middle;
              }
            }

            &:hover, &:focus {
              filter: none; // bootstrap override
            }

            > .fa, span {
              margin-right: 8px;
            }
          }
        }
      }

      .violations-row {
        float: left;
        height: 40px;
        line-height: 40px;
      }

      .clm-bar {
        border: none;
        display: inline-block;
        float: left;
        height: 40px;
        width: $threat-bar-width;

        &:nth-child(3) {
          clear: left;
        }
      }
    }

    .dashboard-headers {
      .violations-row {
        .column.width-third {
          width: calc((100% - #{$age-width + $report-width + $chevron-header-width}) / 3);
        }

        .column {
          &.policy {
            width: calc(100% - #{$threat-width});
          }

          &.age {
            width: $age-width;
          }

          &.report {
            width: $report-width + $chevron-header-width;
          }

          &.threat-and-policy-column-container {
            padding: 0;
          }
        }
      }
    }
  }

  #dashboard-applications {
    .applications-row {
      line-height: 22px;

      .column {
        &.application-name {
          @include semi-bold();

          width: calc(100% - #{$total-risk-columns + $chevron-width + $scroll-bar-width});
        }

        &.total-risk {
          width: $total-risk-width;
        }

        &.critical-risk {
          width: $critical-risk-width;
        }

        &.severe-risk {
          width: $severe-risk-width;
        }

        &.moderate-risk {
          width: $moderate-risk-width;
        }

        &.low-risk {
          width: $low-risk-width + $chevron-width;

          .clm-bar {
            width: calc(100% - 1px);
          }
        }
      }

      &.total-application-risks {
        border-bottom: 1px solid $iq-grey-3;
      }
    }

    .dashboard-headers {
      .applications-row {
        .column.application-name {
          width: calc(100% - #{$total-risk-columns + $chevron-header-width});
        }
      }
    }

    .dashboard-results {
      .tile-scroll-container.scrollbar-present {
        .column {
          &.application-name {
            width: calc(100% - #{$total-risk-columns + $chevron-width - 1px});
          }

          &.low-risk {
            padding-right: 0;
            width: $low-risk-width + $chevron-width - 1px;
          }
        }

        .applications-row.stage-application-risks .column.low-risk {
          margin-right: $chevron-width - $scroll-bar-width - 1px;
          padding-left: 6px;
        }
      }

      .tile {
        // remove padding so we can extend the color in low risk to the tile edge
        padding-right: 0px;
      }

      .applications-row.stage-application-risks {
        .application-name {
          @include regular();
          
          padding-right: 12px;
          text-align: right;
        }

        &:nth-child(n+3) .column:nth-child(n+2) {
          border-top: 1px solid $iq-grey-1;
        }

        .column.low-risk {
          // ensures the border doesn't extend the full width that would be occupied by chevrons on non-stage lines
          margin-right: $chevron-width;
          padding-left: $chevron-width;
          width: $low-risk-width + $scroll-bar-width;
        }
      }

      .column {
        padding-top: 8px;
        padding-bottom: 8px;

        &.low-risk {
          padding-right: $scroll-bar-width;

          // No chevron on the table + extend color to the edge
          width: $low-risk-width + $chevron-width + $scroll-bar-width;
        }

        .fa {
          margin-right: 8px;
          width: 12px;
        }
      }
    }
  }

  #dashboard-components {
    .tile-scroll-container.scrollbar-present {
      .column {
        &.component-name {
          width: calc(100% - #{$total-risk-columns + $affected-apps-width + $chevron-width - 1px});
        }

        &.chevron {
          width: #{$chevron-width - 1px};
        }
      }
    }

    .components-row {
      .column {
        &.component-name {
          width: calc(100% - #{$total-risk-columns + $affected-apps-width + $chevron-width + $scroll-bar-width});
        }

        &.affected-apps {
          width: $affected-apps-width;
        }

        &.total-risk {
          width: $total-risk-width;
        }

        &.critical-risk {
          width: $critical-risk-width;
        }

        &.severe-risk {
          width: $severe-risk-width;
        }

        &.moderate-risk {
          width: $moderate-risk-width;
        }

        &.low-risk {
          width: $low-risk-width;

          .clm-bar {
            width: calc(100% - 1px);
          }
        }

        &.chevron {
          width: #{$chevron-width + $scroll-bar-width};
        }
      }
    }

    .dashboard-headers {
      .components-row {
        .column.component-name {
          width: calc(100% - #{$total-risk-columns + $affected-apps-width + $chevron-header-width});
        }

        .column.low-risk {
          width: $low-risk-width + $chevron-header-width;
        }
      }
    }

    .dashboard-results {
      .tile {
        height: 40px;
        line-height: 40px;
        padding-right: 0;
        .chevron {
          padding-right: 12px;
        }
      }
    }
  }
}

// Placeholder that allows dropdowns to appear above table headers
.iq-dashboard-summary {
  position: relative;
  z-index: $iq-dashboard-summary-zindex;
}

//Placeholder that allows box-shadow to appear over scrollable contents 
.iq-dashboard-headers {
  box-shadow: 0px 2px 5px 0px $iq-grey-1;
  position: relative;
  z-index: $iq-dashboard-headers-zindex;
}

#max-results-shown .tile {
  background-color: transparent;
  border: none;
  text-align: center;
}

#dashboard-applications, #dashboard-components {
  .dashboard-results {
    .tile {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.tooltip.dashboard-tooltip {
  &.pathname .tooltip-inner::before {
    content: "COMPONENT PATH\a";
    display: block;
    font-weight: bold;
    white-space: pre;
  }
  .tooltip-inner {
    text-align: left;
    max-width: 350px;
  }
}
