/*
  #Editor
*/
/*
  ##Editor Tile
  ```
  <div class="tile-editor-container">
    <div class="tile">
      <h2>
        <i class="fa size-16px fa-tag outline"></i> Edit component
      </h2>
      <form name="editor" role="form" class="clm-form">
        <div class="section">
          <div class="field">
            <label for="editor-field">Input Field - <span class="optional">optional</span></label>
            <input type="text" name="theField" id="editor-field" clm-input>
          </div>
        </div>
        <div class="editor-footer">
          <button class="btn btn-primary" type="submit">Create</button><!--   
        --><button class='btn btn-tertiary' type="button" disabled>Reset</button>
        </div>
      </form>
    </div>
    </div>
  </div>
  <div class="tile tile-editor-container">
    <div class="editor-section">
      <div class="editor-section-header">Subsection 1</div>
      <form name="editor" role="form" class="clm-form">
          <div class="section">
            <div class="field">
              <label for="editor-field2">Input Field - <span class="optional">optional</span></label>
              <input type="text" name="theField" id="editor-field2" clm-input>
            </div>
          </div>
      </form>
    </div>
    <div class="editor-section">
      <div class="editor-section-header">Subsection 2</div>
      <form name="editor" role="form" class="clm-form">
          <div class="section">
            <div class="field">
              <label for="editor-field3">Input Field - <span class="optional">optional</span></label>
              <input type="text" name="theField" id="editor-field3" clm-input>
            </div>
          </div>
      </form>
    </div>
  </div>
  ```
*/
.tile-editor-container {
  margin: 0 8px 8px 8px;
  padding-top: 8px;

  &:not(.tile-scroll-container) {
    height: calc(100% - 16px);
    overflow-y: auto;
  }

  .tile {
    h2 {
      border-bottom: 1px solid $grey-4;
      padding-bottom: 8px;
      margin-bottom: 20px;
    }
  }

  .clm-form {
    .section {
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  form {
    margin-bottom: 0px;
  }

  .editor-footer {
    padding-top: 12px;
    padding-left: 4px;
    padding-bottom: 4px;
    border-top: 1px solid $grey-4;

    // Space out buttons
    .btn + .btn {
      margin-left: 12px;
      margin-bottom: 0;
    }
  }

  label span.optional {
    font-style: italic;
    color: $slate;
    font-size: 16px;
    font-weight: normal;
  }
}

#policy-editor {
  .editor-section {
    .editor-section-header {
      @extend .semi-bold;
      border-bottom: 1px solid $grey-4;
      text-transform: uppercase;
      padding-bottom: 8px;
      margin-bottom: 20px;
    }
  }

  #editor-policy-inherit {
    label {
      color: $slate;
    }

    label.radio {
      margin-bottom: 8px;
    }
    .association-editor-wrapper {
      margin-left: 22px;
    }
  }

  #policy-edit-constraints {
    $button-container-width: 32px + 32px + 8px;

    .constraint {
      padding-left: 8px;
      padding-bottom: 7px;
      border-bottom: 1px solid $grey-1;

      &:not(:first-child) {
        padding-top: 8px;
      }

      .button-container {
        position: absolute;
        top: 0;
        right: 0;

        button:not(:last-child) {
          margin-right: 7px;
        }
      }

      .constraint-summary {
        position: relative;

        .constraint-summary-name {
          @extend .semi-bold;
          font-size: 16px;
          padding-bottom: 1px;
          padding-right: $button-container-width;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $off-black;
        }

        .constraint-summary-subheader {
          line-height: 18px;
        }

        .constraint-summary-condition {
          padding-left: 10px;
        }
      }

      .constraint-editor {
        padding-bottom: 2px;

        .section {
          margin: 0;
        }

        .constraint-operator {
          display: inline-block;
          width: 75px;
          margin-right: 4px;
        }

        table {
          margin-top: 12px;

          td {
            padding-bottom: 6px;

            &:not(:last-child) {
              padding-right: 6px;
            }

            .editor-condition-operator {
              width: 125px;
            }
          }
        }
      }
    }

    .constraint-editor {
      position: relative;
    }

    #add-constraint-button {
      margin-top: 12px;
      margin-bottom: 21px;
    }
  }

  #policy-edit-actions, #policy-edit-notifications {
    .editor-section-header {
      margin-top: 20px;
      margin-bottom: 0px;
      border-bottom: 0px;
    }

    .header-text {
      text-transform: uppercase;
    }

    table {
      border-top: 1px solid #cacaca;
      table-layout: fixed;
      width: 100%;

      thead tr {
        height: 40px;
        line-height: 15px;
        th {
          background-color: $grey-1;
          color: $slate;
        }
      }

      tr {
        height: 40px;
        border-bottom: 1px solid $grey-1;
        td {
          &:first-child {
            @extend .semi-bold;
          }
        }
      }

      th, td {
        vertical-align: middle;

        &.greedy-column {
          text-align: left;
          padding-left: 12px;
          width: auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:not(.greedy-column) {
          padding: 0;
          width: 80px;
          text-align: center;
        }

        &.delete {
          width: 34px;
        }

        &.continuous-monitoring {
          font-size: 12px;
        }

        &.action {
          text-align: left;
          padding: 0 0 0 0px;
          label {
            padding-left: 32px;
          }
        }

        &.active {
          background-color: #F8F8F8;
          border-bottom: 1px solid $grey-1;
        }

        span {
          > .fa, > svg {
            margin-right: 8px;
            margin-top: 2px;
          }

          > .svg-slate-16px {
            fill: $slate;
            height: 16px;
            width: 16px;
          }

          > .fail {
            color: $dark-red;
          }

          > .warn {
            color: $orange;
          }
        }

        input[type="checkbox"] {
          margin: 0;
        }

        .empty-list {
          color: $slate;
        }
      }
    }
  }

  .add-notification {
    margin-top: 12px;

    .no-label {
      vertical-align: bottom;
    }

    .editor-notification-type {
      width: 90px;
    }

    .field:nth-child(n + 2) {
      margin-left: 12px;
    }

    dropdown-selector.no-options {
      padding-top: 8px;
    }

    #recipient-jira-issue-type {
      width: 200px;
    }
  }

  $notification-item-height: 40px;

  .notification-list {
    overflow-y: auto;
    max-height: $notification-item-height * 5;
    margin-left: 32px;
    margin-top: 0px;
    margin-bottom: 24px;
    border-top: 1px solid $grey-3;

    &.empty {
      border-top: none;
    }

    .empty-list {
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-right: 28px;
      border-top: 1px solid $grey-3;
      border-bottom: 1px solid $grey-1;
    }

    ul {
      list-style: none;
      margin: 0px;
    }

    li {
      height: $notification-item-height;
      border-bottom: 1px solid $grey-1;
      span {
        line-height: 40px;
        padding-left: 8px;
        .fa {
          margin-right: 8px;
        }
      }
      button {
        float: right;
        margin-top: 4px;
        margin-right: 8px;
      }
    }
  }
}
