/*
  #Editor
*/
/*
  ##Editor Tile
  ```
  <div class="tile-editor-container">
    <div class="tile">
      <h2>
        <i class="fa size-16px fa-tag outline"></i> Edit component
      </h2>
      <form name="editor" role="form" class="clm-form">
        <div class="section">
          <div class="field">
            <label for="editor-field">Input Field - <span class="optional">optional</span></label>
            <input type="text" name="theField" id="editor-field" clm-input>
          </div>
        </div>
        <div class="editor-footer">
          <button class="btn btn-primary" type="submit">Create</button><!--   
        --><button class='btn btn-tertiary' type="button" disabled>Reset</button>
        </div>
      </form>
    </div>
    </div>
  </div>
  <div class="tile tile-editor-container">
    <div class="editor-section">
      <div class="editor-section-header">Subsection 1</div>
      <form name="editor" role="form" class="clm-form">
          <div class="section">
            <div class="field">
              <label for="editor-field2">Input Field - <span class="optional">optional</span></label>
              <input type="text" name="theField" id="editor-field2" clm-input>
            </div>
          </div>
      </form>
    </div>
    <div class="editor-section">
      <div class="editor-section-header">Subsection 2</div>
      <form name="editor" role="form" class="clm-form">
          <div class="section">
            <div class="field">
              <label for="editor-field3">Input Field - <span class="optional">optional</span></label>
              <input type="text" name="theField" id="editor-field3" clm-input>
            </div>
          </div>
      </form>
    </div>
  </div>
  ```
*/
.tile-editor-container {
  margin: 8px;

  &:not(.tile-scroll-container){
    height: calc(100% - 16px);
    overflow-y: auto;
  }

  .tile {
    h2 {
      border-bottom: 1px solid $grey-4;
      padding-bottom: 8px;
      margin-bottom: 20px;
    }
  }

  .clm-form {
    .section {
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  form {
    margin-bottom: 0px;
  }

  .editor-footer {
    padding-top: 12px;
    padding-left: 4px;
    padding-bottom: 4px;
    border-top: 1px solid $grey-4;

    // Space out buttons
    .btn + .btn {
      margin-left: 12px;
      margin-bottom: 0;
    }
  }

  label span.optional {
    font-style: italic;
    color: $slate;
    font-size: 16px;
    font-weight: normal;
  }
}

#policy-editor {
  .editor-section {
    .editor-section-header {
      @extend .semi-bold;
      border-bottom: 1px solid $grey-4;
      text-transform: uppercase;
      padding-bottom: 8px;
      margin-bottom: 20px;
    }
  }

  #editor-policy-inherit {
    label {
      color: $slate;
    }

    label.radio {
      margin-bottom: 8px;
    }
    .association-editor-wrapper {
      margin-left: 22px;
    }
  }

  #policy-edit-constraints {
    .constraint {
      padding-left: 8px;
      padding-bottom: 7px;
      border-bottom: 1px solid $grey-1;

      &:not(:first-child) {
        padding-top: 8px;
      }

      .button-container {
        position: absolute;
        top: 0;
        right: 0;

        button:not(:last-child) {
          margin-right: 7px;
        }
      }

      .constraint-summary {
        position: relative;

        .constraint-summary-name {
          @extend .semi-bold;
          font-size: 16px;
          padding-bottom: 1px;
          color: $off-black;
        }

        .constraint-summary-subheader {
          line-height: 18px;
        }

        .constraint-summary-condition {
          padding-left: 10px;
        }
      }

      .constraint-editor {
        padding-bottom: 2px;

        .section {
          margin: 0;
        }

        .constraint-operator {
          display: inline-block;
          width: 75px;
          margin-right: 4px;
        }

        table {
          margin-top: 12px;

          td {
            padding-bottom: 6px;

            &:not(:last-child) {
              padding-right: 6px;
            }

            .editor-condition-operator {
              width: 125px;
            }
          }
        }
      }
    }

    .constraint-editor {
      position: relative;
    }

    #add-constraint-button {
      margin-top: 12px;
      margin-bottom: 21px;
    }
  }
  
  #policy-edit-actions {
    table {
      width: 100%;

      label {
        color: $slate;
      }

      tr {
        border-bottom: 1px solid $grey-1;
        height: 40px;
        
        &.expanded {
          border-bottom: 0px;
        }
      }

      td:first-child {
        @extend .semi-bold;
        width: 100%;
      }

      td {
        @extend .regular;
        font-size: 14px;
        color: $slate;
        white-space: nowrap;
        padding-left: 12px;

        label {
          padding-left: 0px;

          span {
            > .fa {
              margin-right: 8px;
              opacity: 0.5;
            }

            > .fail {
              color: $red;
            }

            > .warn {
              color: $orange;
            }
          }
        }

        input[type="radio"]:checked + span i {
          opacity: 1.0;
        }

        .notification-count {
          @extend .semi-bold;
          font-size: 16px;
        }
      }
    }
  }
}
