/*
  #Editor
*/
/*
  ##Editor Tile
  ```
  <div class="tile-editor-container">
    <div class="tile">
      <h2>
        <i class="fa size-16px fa-tag outline"></i> Edit component
      </h2>
      <form name="editor" role="form" class="clm-form">
          <div class="section">
            <div class="field">
              <label for="editor-field">Input Field - <span class="optional">optional</span></label>
              <input type="text" name="theField" id="editor-field" clm-input>
            </div>
          </div>
        <div class="editor-footer">
          <button class="btn btn-primary" type="submit">Create</button><!--   
        --><button class='btn btn-tertiary' type="button" disabled>Reset</button>
        </div>
      </form>
    </div>
    </div>
  </div>
  ```
*/
.tile-editor-container {
  padding: 8px;

  .tile {
    h2 {
      border-bottom: 1px solid $grey-4;
      padding-bottom: 8px;
      margin-bottom: 24px;
    }
  }
  
  .clm-form {
    .section {
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
  
  form {
    margin-bottom: 0px;
  }

  .editor-footer {
    padding-top: 12px;
    padding-left: 4px;
    padding-bottom: 4px;
    border-top: 1px solid $grey-4;

    // Space out buttons
    .btn + .btn {
      margin-left: 12px;
      margin-bottom: 0;
    }
  }

  label span.optional {
    font-style: italic;
    color: $slate;
    font-size: 16px;
    font-weight: normal;
  }
}

