/*
  #Form elements
*/
/*
  ##Text inputs

  See clmControlGroup and clmInput directives.

  ```
    <form class='clm-form'>
      <div class="section">
        <div class="field">
          <label for='normal'>An input that is not required and hasn't been updated</label>
          <input type='text' id='normal' class='ng-valid ng-untouched' placeholder='ex. Antiquated Value'>
        </div>
        <div class="field">
          <label for='required'>An input that is required and hasn't been updated</label>
          <input type='text' id='required' class='ng-invalid' required placeholder='Integer between 1 and 100' min='1' max='100'>
        </div>
        <div class="field">
          <label for='valid'>An input that has been updated and is valid</label>
          <input type='text' id='valid' class='ng-valid ng-dirty' value='Valid'>
        </div>
      </div>
      <div class="section">
        <div class="field">
          <label for='invalid'>An input that has been updated and is invalid</label>
          <input type='text' id='invalid' class='ng-invalid ng-dirty' value='Invalid'>
        </div>
        <div class="field">
          <label for='disabled' class='disabled'>A disabled label requires the disabled class</label>
          <input type='text' id='disabled' disabled class='ng-valid' value='Disabled'>
        </div>
        <div class="field">
          <label for='wide'>A wide input</label>
          <input type='text' id='wide' class='ng-valid wide' placeholder='ex. A very long value can fit in here.'>
        </div>
      </div>
      <div class="section">
        <div class="field">
          <div class="field-left">
            <label for='inlinefield'>Inline input</label>
            <input type='text' id='inlinefield' class='ng-valid wide'>
          </div>
          <div class="field-right">
            some inline stuff
          </div>
        </div>
      </div>
    </form>
  ```
*/
.clm-form {
  .section {
    .field {
      &:nth-child(n + 2) {
        margin-top: 20px;
      }
      .field-left {
        display: inline-block;
      }
      .field-right {
        float: right;
        margin-top: 4px;
      }
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .clm-modal & .clm-modal-body {
    padding-top: 20px;
    padding-bottom: 18px;
  }

  label:not(.btn) {
    color: $off-black;
    margin-bottom: 7px;

    &.disabled {
      color: $grey-4;
    }
  }

  input[type=text], input[type=number], input[type=email], input[type=password], textarea {
    @extend .regular;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0px;

    @include box-shadow(none);
    @include border-radius(0);
    @include size(22px, 240px);

    padding: 4px 8px;
    border: 1px solid $grey-4;
    border-left: 4px solid $valid-green;

    &.wide {
      width: 395px;
    }

    &[required] {
      &.ng-invalid:not(.ng-untouched) {
        border-left-color: $invalid-red;
      }
      &.ng-valid {
        border-left-color: $valid-green;
      }
      &.ng-untouched:focus {
        border-color: $valid-green;
        box-shadow: 0 0 6px $valid-green;
      }
    }
    &.ng-valid.ng-dirty {
      border-color: $valid-green;
    }
    &.ng-invalid.ng-dirty {
      border-color: $invalid-red;
    }
    &.ng-untouched {
      border-left: 4px double $valid-green;
    }

    &:disabled {
      border-color: $grey-3;
      border-left: 4px double $grey-3;
      background: $white;
    }
  }

  input[type=text].with-threat-dropdown {
    width: 421px !important;
  }
}
/*
  ##Radio inputs

  ```
    <form class='clm-form' style='padding: 5px'>
      <label class="radio">
        <input type="radio" name="optionsRadios" id="optionOne" value="one" checked>
        <span>Selected option</span>
      </label>
      <label class="radio">
        <input type="radio" name="optionsRadios" id="optionTwo" value="two">
        <span>Unselected option</span>
      </label>
      <label class="radio disabled">
        <input type="radio" name="disabledOptionsRadios" id="optionThree" value="three" disabled>
        <span>Disabled option label requires the disabled class</span>
      </label>
      <label class="radio disabled">
        <input type="radio" name="disabledOptionsRadios" id="optionFour" value="four" checked disabled>
        <span>Disabled checked option label requires the disabled class</span>
      </label>
    </form>
  ```
*/
.clm-form {
  .radio {
    @extend .regular;
    font-size: 14px;
    display: block;
    cursor: pointer;
    margin-top: -3px;
    padding-left: 24px;
    margin-bottom: 4px;

    &:first-child {
      margin-top: -5px;
    }
    &:last-child {
      margin-bottom: 0px;
    }

    // Monochrome radio button to override native implementation. Native is hidden and pseudo selectors on the label's
    // text's span build a monochrome circle
    input[type=radio] {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;

      & + span {
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        display: inline-block;
      }

      & + span:before, & + span:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 2px;
        width: 14px;
        height: 14px;
        z-index: 0;
      }

      & + span:before {
        border-radius: 50%;
        border: 1px solid $slate;
      }

      &:checked + span:after {
        border-radius: 50%;
        border: 1px solid $slate;
        background-color: $slate;
        z-index: 0;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
      }

      // Implementations for focus marker on custom radio button
      &:focus + span:before {
        // IE
        outline: thin dotted invert;
        // Webkit
        outline: 16px auto -webkit-focus-ring-color;
        outline-offset: -7px;
      }

      @-moz-document url-prefix() {
        // Mozilla
        &:focus + span:before {
          outline: 4px solid transparentize($light-blue, 0.5);
          outline-offset: -2px;
        }
      }
    }

    &.disabled {
      input[type=radio] {
        & + span:before {
          border-color: $grey-4;
        }

        &:checked + span:after {
          border-color: $grey-4;
          background-color: $grey-4;
        }
      }
    }
  }
}
/*
  ##Checkbox inputs

  ```
    <form class='clm-form' style='padding: 5px'>
      <label class="checkbox">
        <input type="checkbox" value="one" checked>
        <span>Selected option</span>
      </label>
      <label class="checkbox">
        <input type="checkbox" value="two">
        <span>Unselected option</span>
      </label>
      <label class="checkbox disabled">
        <input type="checkbox" value="three" disabled>
        <span>Disabled option label requires disabled class</span>
      </label>
      <label class="checkbox disabled">
        <input type="checkbox" value="two" checked disabled>
        <span>Disabled checked option label requires disabled class</span>
      </label>
    </form>
  ```
*/
.clm-form {
  .checkbox {
    @extend .regular;
    font-size: 14px;
    display: block;
    cursor: pointer;
    margin-bottom: 4px;
    padding-left: 24px;

    // Monochrome checkbox to override native implementation. Native is hidden and pseudo selectors on the label's
    // text's span build a monochrome square
    input[type=checkbox] {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;

      & + span {
        display: block;
        position: relative;
      }

      & + span:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: -3px;
        border-radius: 2px;
        border: 1px solid $slate;
        margin-right: 8px;
      }

      &:checked + span:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f00c";
        display: inline-block;
        position: absolute;
        left: 1px;
        top: 3px;
      }

      // Implementations for focus marker on custom checkbox
      &:focus + span:before {
        // IE
        outline: thin dotted invert;
        // Webkit
        outline: 4px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }

      @-moz-document url-prefix() {
        // Mozilla
        &:focus + span:before {
          outline: 4px solid transparentize($light-blue, 0.5);
          outline-offset: -2px;
        }
      }
    }

    &.disabled {
      input[type=radio] {
        & + span:before {
          border-color: $slate;
        }

        &:checked + span:after {
          color: $slate;
        }
      }
    }
  }
}

.clm-primary-buttons {
  padding-right: 5px;
}
.clm-primary-buttons-wide {
  padding-right: 10px;
}

/*
  #Components
*/
/*
  ##Inputs

  ```
    <div class="tree-view-filter search input-prepend">
      <span class="add-on">
        <i role="button" class="fa fa-filter"></i>
      </span>
      <input type="text" placeholder="Appended Input">
    </div>
  ```
*/
.input-prepend {
  .add-on {
    background-color: $white;
    border-right: none;
    box-shadow: none;
    padding-left: 8px;
    padding-right: 8px;

    & + input {
      border-left: none;
      box-shadow: none;
      border-radius: 0;

      &::-ms-clear {
        width: 0;
        height: 0;
      }
    }
  }

  .add-on:first-child, .btn:first-child {
    border-radius: 0;
  }
}

/*
  ##Toggle Switches
  Toggle switches use the [Bootstrap Toggle](http://www.bootstraptoggle.com/) plugin. Height is set programmatically
  to 32px using "height: '24px'", where there is 8px of margins.

  Markup:
  ```
    <div class="checkbox toggle-checkbox">
      <label>
        <input type="checkbox" toggle-checkbox data-on="Can" data-off="Cannot" ng-model="permission.value">
        Do Action
      </label>
    </div>
  ```

  Rendered:
  ```
    <div class="checkbox toggle-checkbox">
      <label>
        <div class="toggle btn btn-primary" style="width: 53px; height: 24px;">
          <input type="checkbox">
          <div class="toggle-group">
            <label class="btn btn-primary toggle-on" style="line-height: 24px;">
              Can
            </label>
            <label class="btn btn-default active toggle-off" style="line-height: 24px;">
              Cannot
            </label>
            <span class="toggle-handle btn btn-default"></span>
          </div>
        </div>
        <span>Edit</span>
      </label>
    </div>
  ```
*/
.toggle-checkbox {
  padding-left: 24px;
}

.toggle-checkbox .toggle-handle {
  padding: 4px 7px;
  height: calc(100% - 8px);
}

.toggle-checkbox .btn {
  background-image: none;
  box-shadow: none;
  border-color: $link-blue;
  font-family: Proxima Nova Semibold, serif;
  font-size: 14px;
}

.toggle-checkbox .toggle {
  margin-right: 16px;
  border-width: 2px;
}

.toggle-checkbox .toggle:not([disabled='disabled']):hover {
  border-color: $deep-blue;
}

.toggle-checkbox .btn-default {
  color: $link-blue;
  background-color: $off-white;
}

.toggle-checkbox .btn-primary {
  color: $off-white;
  background-color: $link-blue;
  text-shadow: none;
}

.toggle-checkbox .toggle[disabled='disabled'], .toggle-checkbox .toggle[disabled='disabled'] .btn {
  border-color: $light-blue;
}

.toggle-checkbox .toggle[disabled='disabled'], .toggle-checkbox .toggle[disabled='disabled'] * {
  cursor: not-allowed;
}

.toggle-checkbox .toggle[disabled='disabled'] .btn-default {
  color: $light-blue;
}

.toggle-checkbox .toggle[disabled='disabled'] .btn-primary {
  background-color: $light-blue;
}

/*
  ##Inline Controls with Description

  ```
    <table class="inline-control-table">
      <tbody>
        <tr>
          <td>
            <h3>Header One</h3>
          </td>
        </tr>
        <tr>
          <td class='inline-control'>
            <label for='foo'>Foo</label>
            <input type='text' id='foo' placeholder='ex. Foo'>
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id ullamcorper velit. Etiam in lacus ac nunc feugiat luctus.
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>
            <h3>Header Two</h3>
          <td>
        </tr>
        <tr>
          <td class='inline-control'>
            <label for='bar'>Bar</label>
            <input type='text' id='bar' placeholder='ex. Bar'>
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id ullamcorper velit. Etiam in lacus ac nunc feugiat luctus.
          </td>
        </tr>
      </tbody>
    </table>
  ```
*/
.inline-table {
  border-spacing: 0 5px;
  border-collapse: separate;
}
.inline-table label {
  margin: 0;
}
.inline-control {
  white-space: nowrap;
  padding-right: 24px;
}
//
//.inline-control-group:after {
//  content: "";
//  clear: both;
//  display: table;
//}
/*
  ##Validation popovers
  Modified version of bootstrap popover styling, should appear at the far right edge of an invalidated input

  See clmInput directive.

  ```
  <div class="popover input-popover fade top in" style="top: 10px; left: 10px; display: block;">
    <div class="arrow"></div>
    <div class="popover-content">Please enter a value</div>
 </div>
  ```
*/
.input-popover{
  background-color: $errorBackground !important;
  color: $errorText;
  border: 1px solid $errorBorder;
  z-index: $zindexModal + 1;
  @include border-radius($borderRadiusSmall);
}
.input-popover .top{
  margin-top:-2px
}
.input-popover .right{
  margin-left:2px
}
.input-popover .bottom{
  margin-top:2px
}
.input-popover .left{
  margin-left:-2px
}
.input-popover .top .popover-arrow{
  bottom:-11px;
  left:80%;
}
.input-popover .popover-content {
  padding: 0 10px;
}
.input-popover.top .arrow {
  left: 80%;
  border-top-color: $errorBorder !important;
}
.input-popover.top .arrow:after {
  border-top-color: $errorBackground !important;
}
.input-popover.top .arrow:before {
  display: none;
}

/*
  ##Form Actions
```
    <button type='button' class='btn'>Reset</button>
    <button type='button' class='btn btn-warning'>Update</button>
    <button type='button' class='btn btn-success'>Action</button>
    <button type='button' class='btn btn-primary'>Submit</button>
    <button type='button' class='btn btn-primary' disabled>Submit</button>
```
*/
.btn-primary.disabled, .btn-primary[disabled] {
  color: $off-white;
  background-color: $light-blue;
  text-shadow: none;
}
/*
  ##Alerts

  See clmAlerts directive.

```
  <div class='alert alert-success'>
    A green alert indicates that a successful action took place.
  </div>

  <div class='alert alert-error'>
    A red alert indicates that an error occurred.
  </div>
```
*/
.alert {
  word-break: break-word;
}
/*
  ##Well
```
  <div class='well clm-well'>
    <from class='clm-form'>
      Forms are displayed within a well.
    </form>
  </div>
```
*/
.clm-well {
  border: 2px solid $grey-4 !important;
  margin-bottom:0px !important;
}

/*
  #List Editor Form

  See listEditor, clmControlGroup and clmInput directives.

```
  <div class='clm-form well clm-well'>
    <form class='clm-form list-editor-form'>
      <div class='control-group'>
        <label for='current-entry'>Text Entry</label>
        <div class='controls'>
          <div class='input-append controls'>
            <input type='text'>
            <button class='btn' title='Add Entry'>Add</button>
          </div>
        </div>
      </div>
    </form>
    <form class='clm-form list-editor-form'>
      <div class='control-group'>
        <label for='current-entry'>Combobox Entry</label>
        <div class='controls'>
          <div class='input-append controls'>
            <select>
              <option>Option</option>
            </select>
            <button class='btn' title='Add Entry'>Add</button>
          </div>
        </div>
      </div>
    </form>
    <div class='checkbox'>
      <label>
        <input type='checkbox'> Checkbox
      </label>
    </div>
    <div class='well well-small list-editor-well'>
      <div>
        <table>
          <tbody>
            <tr>
              <td>
                <div title='AddedEntry'>AddedEntry</div>
              </td>
              <td>
                <button class='btn btn-mini' title='Remove Entry'>
                  <i class='icon-minus-sign'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class='btn btn-link btn-cancel'>Cancel</button>
    <span class='pull-right'>
      <button class='btn btn-primary'>Done</button>
    </span>
  </div>
```
*/
.list-editor-form {
  margin-bottom: 0px;
}
.list-editor-form input[type=text] {
  width: 440px !important;
}
.modal .list-editor-form input[type=text] {
  width: 449px !important;
}
.modal .list-editor-form select {
  width: 467px !important;
}
.list-editor-well {
  padding: 3px;
  margin-bottom: 20px;
  height: 120px;
  background: #fff;
}
.list-editor-well>div {
  height:100%;
  overflow-y:auto
}
.list-editor-well table {
  margin:auto;
  width: 100%;
}
.list-editor-well tr {
  border-bottom: 1px solid #DDDDDD;
}
.list-editor-well td {
  padding-bottom: 5px;
  vertical-align: top;
}
.list-editor-well td:nth-child(1) {
  max-width: 370px;
  padding-left: 5px;
}
.list-editor-well td:nth-child(1)>div {
  max-width: 100%;
  text-overflow:ellipsis;
  overflow:hidden
}
.list-editor-well td:nth-child(2) {
  text-align: right;
}

/*
 ##Form Mask
 Note this requires javascript to position

```
  <div class="form-mask" style="top:0px; left:0px; width: 300px; height: 150px;">
    <div class="form-mask-msg" style="margin-top:-67px">
      <h3><i class="fa fa-circle-o-notch fa-spin"></i> Saving</h3>
    </div>
  </div>
```

```
  <div class="form-mask" style="top:0px; left:0px; width: 300px; height: 150px;">
    <div class="form-mask-msg success" style="margin-top:-67px">
      <h3><i class="fa fa-check-circle"></i> Success!</h3>
    </div>
  </div>
```
 */
.form-mask {
  background-color: rgba($off-white, 0.9);
  position: fixed;
  text-align: center;

  .form-mask-msg {
    background-color: $off-white;
    border: 2px solid $slate;
    box-shadow: -4px 4px 0px rgba($slate, 0.65);
    display: inline-block;
    padding: 12px;
    position: relative;
    top : 50%;

    &.success {
      color: $dark-green;
      border-color: $dark-green
    }
  }
}
