/*
  #Form elements
*/
/*
  ##Text inputs

  See clmControlGroup and clmInput directives.
*/
.clm-form {
  .hidden-input-hack {
    position: absolute;
    left: -1000px;
    height: 0;
    width: 0;
  }

  .section {
    .field {
      &:nth-child(n + 2) {
        margin-top: 20px;
      }
      .field-left {
        display: inline-block;
      }
      .field-right {
        float: right;
        margin-top: 4px;
      }
      &.form-horizontal {
        input[type='text'] + button {
          margin-left: 8px;
        }
      }
      .warning {
        color: $iq-fail-color;
        line-height: 14px;
        margin-top: 10px;
        margin-bottom: 4px;
      }
    }

    #current-contact {
      color: $iq-off-black;
      line-height: 18px;
      margin-top: 2px;
      padding-bottom: 2px;

      .fa {
        margin-right: 8px;
      }

      .grey-4 {
        color: $iq-grey-4;
      }
    }

    .inline-fields {
      &:nth-child(n + 2) {
        margin-top: 20px;
      }

      .field {
        display: inline-block;
        margin-top: 0;
        vertical-align: top;

        &:nth-child(n + 2) {
          margin-left: 32px;
        }
      }
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .clm-modal & .clm-modal-body {
    padding-top: 20px;
    padding-bottom: 18px;
  }

  /*
    When we refactor this, please remove "!important" from "td .iq-checkbox__label--no-text" below
  */
  label:not(.btn) {
    color: $iq-off-black;
    margin-bottom: 7px;

    &.disabled {
      color: $iq-grey-4;
      cursor: not-allowed;
    }
  }

  .sub-label {
    margin-top: -6px;
    margin-bottom: 7px;
    .fa {
      margin-right: 8px;
      vertical-align: top;
    }
  }

  input[type=text], input[type=number], input[type=email], input[type=password] {
    @include size(22px, 240px);
  }

  textarea {
    @include size(100%, 240px);
  }

  input[type=text], input[type=number], input[type=email], input[type=password], textarea {
    @include box-shadow(none);
    @include border-radius(0);

    border: 1px solid $iq-grey-4;
    border-left-width: 4px;
    padding: 4px 8px;

    &.wide {
      width: 395px;
    }

    &.initial-value {
      border-left-color: $iq-valid-color;
      border-left-style: double;
    }

    &.ng-valid {
      border-left-color: $iq-valid-color;
    }

    &.ng-invalid.ng-dirty {
      border-color: $iq-invalid-color;
      border-left-style: solid;
    }

    &.ng-invalid:not(.ng-dirty):focus {
      // override bootstrap
      border-color: $iq-grey-4;
      border-left-color: $iq-valid-color;
      box-shadow: initial;
      color: $iq-slate;
    }

    &:disabled {
      background: $white;
      border-color: $iq-grey-3;
      border-left: 4px double $iq-grey-3;
    }
  }

  // Once user has clicked submit, indicate which fields are invalid regardless if they have been touched
  &.ng-submitted {
    dropdown-selector, input[type=text], input[type=number], input[type=email], input[type=password], textarea {
      &.ng-invalid {
        border-color: $iq-invalid-color;
        border-left-style: solid;
      }
    }
  }

  input[type=text].with-threat-dropdown {
    width: 421px !important;
  }
}

/*
  ##Radio inputs
*/
.clm-form {
  label.radio {
    display: block;
    margin-bottom: 0px;
    padding-left: 24px;

    &:not(.disabled) {
      cursor: pointer;
    }
    
    // Monochrome radio button to override native implementation. Native is hidden and pseudo selectors on the label's
    // text's span build a monochrome circle
    input[type=radio] {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;

      & + span {
        color: $iq-off-black;
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding-left: 24px;
      }

      & + span:before, & + span:after {
        content: '';
        height: 14px;
        margin-top: 2px;
        position: absolute;
        left: 0;
        top: 0;
        width: 14px;
        z-index: 0;
      }

      & + span:before {
        border: 1px solid $iq-slate;
        border-radius: 50%;
      }

      &:checked + span:after {
        background-color: $iq-slate;
        border: 1px solid $iq-slate;
        border-radius: 50%;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
        z-index: 0;
      }

      // Implementations for focus marker on custom radio button
      &:focus + span:before {
        // IE
        outline: thin dotted invert;
        // Webkit
        outline: 16px auto -webkit-focus-ring-color;
        outline-offset: -7px;
      }

      @-moz-document url-prefix() {
        // Mozilla
        &:focus + span:before {
          outline: 4px solid transparentize($iq-light-blue, 0.5);
          outline-offset: -2px;
        }
      }
    }

    &.disabled {
      cursor: not-allowed;

      input[type=radio] {
        & + span:before {
          border-color: $iq-grey-4;
        }

        &:checked + span:after {
          background-color: $iq-grey-4;
          border-color: $iq-grey-4;
        }

        & + span {
          color: $iq-slate;
          cursor: not-allowed;
        }
      }
    }
  }
}

.field {
  .iq-checkbox__label {
    display: block;
    margin-bottom: 0;
    margin-left: 24px;
  }
}

// See policy editor > notifications for usage
#policy-edit-notifications {
  td {
    .iq-checkbox__label--no-text {
      margin-top: 8px;
      margin-bottom: 0 !important; // this is to overwrite margin-bottom in label:not(.btn) defined above
      width: 100%;

      .iq-checkbox__box {
        display: inline-block;
        float: none;
      }
    }
  }
}

.clm-primary-buttons {
  padding-right: 5px;
}

.clm-primary-buttons-wide {
  padding-right: 10px;
}

/*
  #Components
  ##Inputs
*/
.input-prepend {
  .add-on {
    background-color: $white;
    border-right: none;
    box-shadow: none;
    padding-left: 8px;
    padding-right: 8px;

    & + input {
      border-left: none;
      box-shadow: none;
      border-radius: 0;

      &::-ms-clear {
        height: 0;
        width: 0;
      }
    }
  }

  .add-on:first-child, .btn:first-child {
    border-radius: 0;
  }
}

/*
  ##Toggle Switches
  Toggle switches use the [Bootstrap Toggle](http://www.bootstraptoggle.com/) plugin. Height is set programmatically
  to 32px using "height: '24px'", where there is 8px of margins.
*/
.toggle-checkbox {
  padding-left: 24px;
}

.toggle-checkbox .toggle-handle {
  background: transparent;
  height: calc(100% - 10px);
  margin-top: -1px;
  padding: 5px 8px;
}

.toggle-checkbox .btn {
  background-image: none;
  box-shadow: none;
  border-color: $iq-link-color;
}

.toggle-checkbox .toggle {
  border-width: 1px;
  margin-right: 16px;

  .toggle-group label {
    border: none;
  }
}

.toggle.btn-primary {
  .toggle-handle {
    background-color: $iq-off-white;
    margin-right: 8px;
    padding-left: 0;
  }
}

.toggle-checkbox .toggle:not([disabled='disabled']):hover {
  border-color: $iq-link-color-active;
}

.toggle-checkbox .btn-default {
  background-color: transparent;
  color: $iq-link-color;
}

.toggle-checkbox .btn-primary {
  background-color: $iq-link-color;
  color: $iq-off-white;
  text-shadow: none;
}

.toggle-checkbox .toggle[disabled='disabled'], .toggle-checkbox .toggle[disabled='disabled'] .btn {
  border-color: $iq-light-blue;
}

.toggle-checkbox .toggle[disabled='disabled'], .toggle-checkbox .toggle[disabled='disabled'] * {
  cursor: not-allowed;
}

.toggle-checkbox .toggle[disabled='disabled'] .btn-default {
  color: $iq-light-blue;
}

.toggle-checkbox .toggle[disabled='disabled'] .btn-primary {
  background-color: $iq-light-blue;
}

/*
  ##Inline Controls with Description
*/
.inline-table {
  border-spacing: 0 5px;
  border-collapse: separate;
}

.inline-table label {
  margin: 0;
}

.inline-control {
  padding-right: 24px;
  white-space: nowrap;
}

/*
  ##Validation popovers
  Modified version of bootstrap popover styling, should appear at the far right edge of an invalidated input
  See clmInput directive.
*/
.input-popover {
  @include border-radius($borderRadiusSmall);

  background-color: $errorBackground !important;
  border: 1px solid $errorBorder;
  color: $errorText;
  z-index: $zindexModalBackdrop - 1;

  .modal & {
    z-index: $zindexModal + 1;
  }

  &.top {
    //override popup positioning, so that the content will at least start in the proper dom element
    margin-left: 10px;
  }
}

.input-popover .top {
  margin-top: -2px
}

.input-popover .right {
  margin-left: 2px
}

.input-popover .bottom {
  margin-top: 2px
}

.input-popover .left {
  margin-left: -2px
}

.input-popover .top .popover-arrow {
  bottom: -11px;
  left: 80%;
}

.input-popover .popover-content {
  padding: 0 10px;
}

.input-popover.top .arrow {
  border-top-color: $errorBorder !important;
  left: 80%;
}

.input-popover.top .arrow:after {
  border-top-color: $errorBackground !important;
}

.input-popover.top .arrow:before {
  display: none;
}

/*
  ##Alerts
  See clmAlerts directive.
*/
.alert {
  word-break: break-word;
}

/*
  ##Well
*/
.clm-well {
  border: 2px solid $iq-grey-4 !important;
  margin-bottom: 0px !important;
}

/*
  #List Editor Form
  See listEditor, clmControlGroup and clmInput directives.
*/
.list-editor-form {
  margin-bottom: 0px;
}

.list-editor-form input[type=text] {
  width: 440px !important;
}

.modal .list-editor-form input[type=text] {
  width: 449px !important;
}

.modal .list-editor-form select {
  width: 467px !important;
}

.list-editor-well {
  background: #fff;
  height: 120px;
  margin-bottom: 20px;
  padding: 3px;
}

.list-editor-well > div {
  height: 100%;
  overflow-y: auto
}

.list-editor-well table {
  margin: auto;
  width: 100%;
}

.list-editor-well tr {
  border-bottom: 1px solid #DDDDDD;
}

.list-editor-well td {
  padding-bottom: 5px;
  vertical-align: top;
}

.list-editor-well td:nth-child(1) {
  max-width: 370px;
  padding-left: 5px;
}

.list-editor-well td:nth-child(1) > div {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-editor-well td:nth-child(2) {
  text-align: right;
}
