/*
  #Colors
*/
/*
  ##UI Palette
  <table>
    <thead>
      <tr>
        <th style='width: 200px'>Name</th>
        <th style='width: 150px'>Variable</th>
        <th style='width: 100px'>Hex</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>OFF BLACK</td>
        <td>$off-black</td>
        <td>#070707</td>
        <td style='background-color: #070707'></td>
      </tr>
      <tr>
        <td>SLATE</td>
        <td>$slate</td>
        <td>#575757</td>
        <td style='background-color: #575757'></td>
      </tr>
      <tr>
        <td>OFF WHITE</td>
        <td>$off-white</td>
        <td>#fefefe</td>
        <td style='background-color: #fefefe'></td>
      </tr>
      <tr>
        <td>GREY 4</td>
        <td>$grey-4</td>
        <td>#cacaca</td>
        <td style='background-color: #cacaca'></td>
      </tr>
      <tr>
        <td>GREY 3</td>
        <td>$grey-3</td>
        <td>#dedede</td>
        <td style='background-color: #dedede'></td>
      </tr>
      <tr>
        <td>GREY 2</td>
        <td>$grey-2</td>
        <td>#eaeaea</td>
        <td style='background-color: #eaeaea'></td>
      </tr>
      <tr>
        <td>GREY 1</td>
        <td>$grey-1</td>
        <td>#f5f5f5</td>
        <td style='background-color: #f5f5f5'></td>
      </tr>
      <tr>
        <td>LINK BLUE</td>
        <td>$link-blue</td>
        <td>#2476c3</td>
        <td style='background-color: #2476c3'></td>
      </tr>
      <tr>
        <td>DEEP BLUE</td>
        <td>$deep-blue</td>
        <td>#0046b1</td>
        <td style='background-color: #0046b1'></td>
      </tr>
      <tr>
        <td>DARK BLUE</td>
        <td>$dark-blue</td>
        <td>#006bbf</td>
        <td style='background-color: #006bbf'></td>
      </tr>
      <tr>
        <td>LIGHT BLUE</td>
        <td>$light-blue</td>
        <td>#97cbee</td>
        <td style='background-color: #97cbee'></td>
      </tr>
      <tr>
        <td>DARK PURPLE</td>
        <td>$dark-purple</td>
        <td>#885195</td>
        <td style='background-color: #885195'></td>
      </tr>
      <tr>
        <td>MEDIUM PURPLE</td>
        <td>$medium-purple</td>
        <td>#b087ba</td>
        <td style='background-color: #b087ba'></td>
      </tr>
      <tr>
        <td>LIGHT PURPLE</td>
        <td>$light-purple</td>
        <td>#dbc6df</td>
        <td style='background-color: #dbc6df'></td>
      </tr>
      <tr>
        <td>DARK GREEN</td>
        <td>$dark-green</td>
        <td>#099843</td>
        <td style='background-color: #099843'></td>
      </tr>
      <tr>
        <td>DARK GREEN</td>
        <td>$dark-green</td>
        <td>#099843</td>
        <td style='background-color: #099843'></td>
      </tr>
      <tr>
        <td>DARK GREEN</td>
        <td>$dark-green</td>
        <td>#099843</td>
        <td style='background-color: #099843'></td>
      </tr>
      <tr>
        <td>LIGHT GREEN</td>
        <td>$light-green</td>
        <td>#b6e9ab</td>
        <td style='background-color: #b6e9ab'></td>
      </tr>
      <tr>
        <td>DARK RED</td>
        <td>$dark-reg</td>
        <td>#bc012f</td>
        <td style='background-color: #bc012f'></td>
      </tr>
      <tr>
        <td>LIGHT RED</td>
        <td>$light-red</td>
        <td>#edb1af</td>
        <td style='background-color: #edb1af'></td>
      </tr>
      <tr>
        <td>ORANGE</td>
        <td>$orange</td>
        <td>#f4861d</td>
        <td style='background-color: #f4861d'></td>
      </tr>
      <tr>
        <td>YELLOW</td>
        <td>$yellow</td>
        <td>#f5c648</td>
        <td style='background-color: #f5c648'></td>
      </tr>
      <tr>
        <td>VALID GREEN</td>
        <td>$valid-green</td>
        <td>#84c900</td>
        <td style='background-color: #84c900'></td>
      </tr>
      <td>Alert Foreground</td>
        <td>$alert-fg</td>
        <td>#9d6800</td>
        <td style='background-color: #9d6800'></td>
      </tr>
      <tr>
        <td>Alert Background</td>
        <td>$alert-bg</td>
        <td>#fce2e2</td>
        <td style='background-color: #fce2e2'></td>
      </tr>
      <tr>
      <tr>
        <td>INVALID RED</td>
        <td>$invalid-red</td>
        <td>#c70000</td>
        <td style='background-color: #c70000'></td>
      </tr>
      <tr>
        <td>Failure Foreground</td>
        <td>$fail-fg</td>
        <td>#831d1d</td>
        <td style='background-color: #831d1d'></td>
      </tr>
      <tr>
        <td>Failure Background</td>
        <td>$fail-bg</td>
        <td>#fce2e2</td>
        <td style='background-color: #fce2e2'></td>
      </tr>
      <tr>
        <td>Failure Active</td>
        <td>$fail-active</td>
        <td>#5c0000</td>
        <td style='background-color: #5c0000'></td>
      </tr>
      <tr>
        <td>Failure Disabled</td>
        <td>$fail-disabled</td>
        <td>#dd9595</td>
        <td style='background-color: #dd9595'></td>
      </tr>
    </tbody>
  </table>
*/
$off-black: #070707;
$slate: #575757;
$off-white: #fefefe;

$grey-4: #cacaca;
$grey-3: #dedede;
$grey-2: #eaeaea;
$grey-1: #f5f5f5;

$link-blue: #2476c3;
$deep-blue: #0046b1;
$dark-blue: #006bbf;
$light-blue: #97cbee;

$dark-purple: #885195;
$medium-purple: #b087ba;
$light-purple: #dbc6df;

$dark-green: #099843;
$light-green: #b6e9ab;

$dark-red: #bc012f;
$light-red: #edb1af;

$orange: #f4861d;
$yellow: #f5c648;

$valid-green: #84c900;
$invalid-red: #c70000;

$alert-fg: #9d6800;
$alert-bg: #fcf8e3;

$fail-fg: #831d1d;
$fail-bg: #fce2e2;
$fail-active: #5c0000;
$fail-disabled: #dd9595;

$pickable-colors: ('light-red', $light-red),
        ('yellow', $yellow),
        ('light-green', $light-green),
        ('light-blue', $light-blue),
        ('light-purple', $light-purple),
        ('dark-red', $dark-red),
        ('orange', $orange),
        ('dark-green', $dark-green),
        ('dark-blue', $dark-blue),
        ('dark-purple', $dark-purple);

/*
  ##Threat Colors
  Threat colors are accessible in an array to iterate over as such ```@each $threatdef in $threat-levels```
  <table>
    <thead>
      <tr>
        <th style='width: 200px'>Name</th>
        <th style='width: 150px'>Variable</th>
        <th style='width: 100px'>Hex</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CRITICAL</td>
        <td>$critical-color</td>
        <td>#bc012f</td>
        <td style='background-color: #bc012f'></td>
      </tr>
      <tr>
        <td>SEVERE</td>
        <td>$severe-color</td>
        <td>#f4861d</td>
        <td style='background-color: #f4861d'></td>
      </tr>
      <tr>
        <td>MODERATE</td>
        <td>$moderate-color</td>
        <td>#f5c648</td>
        <td style='background-color: #f5c648'></td>
      </tr>
      <tr>
        <td>NONE</td>
        <td>$none-color</td>
        <td>#006bbf</td>
        <td style='background-color: #006bbf'></td>
      </tr>
      <tr>
        <td>IGNORE</td>
        <td>$ignore-color</td>
        <td>#97cbee</td>
        <td style='background-color: #97cbee'></td>
      </tr>
      <tr>
        <td>UNSPECIFIED</td>
        <td>$unspecified-color</td>
        <td>#d9dade</td>
        <td style='background-color: #d9dade'></td>
      </tr>
    </tbody>
  </table>
*/
$critical-color: $dark-red;
$severe-color: $orange;
$moderate-color: $yellow;
$none-color: $dark-blue;
$low-color: $dark-blue;
$policy-none-color: $light-blue;
$ignore-color: $light-blue;
$unspecified-color: #d9dade;

$threat-levels: ("critical", #FFF, $critical-color, (8, 9, 10)),
        ("severe", #FFF, $severe-color, (4, 5, 6, 7)),
        ("moderate", #444, $moderate-color, (1, 2, 3)),
        ("none", #FFF, $none-color, (0));

$policy-threat-levels: ("critical", #FFF, $critical-color, (8, 9, 10)),
        ("severe", #FFF, $severe-color, (4, 5, 6, 7)),
        ("moderate", #444, $moderate-color, (2, 3)),
        ("low", #444, $low-color, (1)),
        ("none", #FFF, $policy-none-color, (0));

/*
  #z-indexes
  Gathered here for better visibility
*/
$color-picker-zindex: $zindexModalBackdrop - 10;
$form-mask-zindex: $zindexModal + 10;
// need the login panel above the form save mask
// ui-bootstrap modal window template sets z-index via ng-style, hence important
$zindex-login-modal: $zindexModal + 20 !important;
$zindexSidebar: 1;

/*
  #Other
*/
//Global stuff
$main-background-color: white;

//Common borders
$small-gray-border: 1px solid lightgray;

$minimum-content-width: 1024px;
$maximum-content-width: 1366px;

$maximum-paragraph-width: 562px;

/* Helper Classes
-------------------------------------------*/

.iq-pull-left {
  float: left;
}

.iq-pull-right {
  float: right;
}

