/*
  Global icon variables
*/
$icon-font-color: #1d1d1b;
$icon-font-size-large: 24px;
$icon-font-size-medium: 18px;
$icon-font-size-small: 12px;
$icon-font-size-extra-small: 10px;

$font-families: ('sonatype-icons', 'sonatype-glyphicons');
/*
  Global icon styles
*/
@each $font-family in $font-families {
  .#{$font-family}.medium:before {
    font-size: $icon-font-size-medium !important;
  }
  .#{$font-family}.small:before {
    font-size: $icon-font-size-small !important;
  }
  .#{$font-family}.extra-small:before {
    font-size: $icon-font-size-extra-small !important;
  }
}
/*
  Mixins
*/
@mixin icon-font {
  font-size: $icon-font-size-large;
  color: $icon-font-color;
  *zoom: 1;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
  The sonatype icon font
*/
$sonatype-icon-font-name: 'sonatype-icons';
$sonatype-icon-font-path: '../fonts/sonatype-icons';

@font-face {
  font-family: $sonatype-icon-font-name;
  src:url('#{$sonatype-icon-font-path}.eot');
  src:url('#{$sonatype-icon-font-path}.eot?#iefix') format('embedded-opentype'),
  url('#{$sonatype-icon-font-path}.woff') format('woff'),
  url('#{$sonatype-icon-font-path}.ttf') format('truetype'),
  url('#{$sonatype-icon-font-path}.svg#sonatype') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sonatype-icons:before {
  font-family: $sonatype-icon-font-name;
  @include icon-font();
}

/*
  The sonatype glyphicon font
*/
$sonatype-glyphicon-font-name: 'Glyphicons';

.sonatype-glyphicons:before {
  font-family: $sonatype-glyphicon-font-name;
  @include icon-font();
}

//build out the icons
$icon-map: ("sonatype-icons","double-chevron-right", '\e600'),
        ("sonatype-icons","double-chevron-left", '\e601'),
        ("sonatype-icons","application", '\e008'),
        ("sonatype-icons","policy",'\e60d'),
        ("sonatype-icons","policy-threat-level",'\e611'),
        ("sonatype-icons","tag", '\e60c'),
        ("sonatype-glyphicons","stage-type", '\e083');

@each $icon in $icon-map {
  .#{nth($icon,1)}.#{nth($icon,2)}:before {
    content: nth($icon,3);
  }
}

.fa {
  &.inverse {
    background-color: $slate;
    color: $off-white;
  }

  &.size-20px {
    font-size: 20px;

    &.inverse {
      font-size: 90%;
      padding: 2px;
    }
  }
}
