/*
  Global icon variables
*/
$icon-font-color: #1d1d1b;
$icon-font-size-large: 24px;
$icon-font-size-medium: 18px;
$icon-font-size-small: 12px;
$icon-font-size-extra-small: 10px;

$font-families: ('sonatype-icons', 'sonatype-glyphicons');
/*
  Global icon styles
*/
@each $font-family in $font-families {
  .#{$font-family}.medium:before {
    font-size: $icon-font-size-medium !important;
  }
  .#{$font-family}.small:before {
    font-size: $icon-font-size-small !important;
  }
  .#{$font-family}.extra-small:before {
    font-size: $icon-font-size-extra-small !important;
  }
}
/*
  Mixins
*/
@mixin icon-font {
  font-size: $icon-font-size-large;
  color: $icon-font-color;
  *zoom: 1;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-colours($property) {
  &.white {
    #{$property}: $grey-2;
  }

  &.grey {
    #{$property}: $slate;
  }

  &.black {
    #{$property}: $off-black;
  }

  &.green {
    #{$property}: $dark-green;
  }

  &.yellow {
    #{$property}: $yellow;
  }

  &.orange {
    #{$property}: $orange;
  }

  &.red {
    #{$property}: $dark-red;
  }

  &.blue {
    #{$property}: $dark-blue;
  }

  @each $color-name, $pickable-color in $pickable-colors {
    &.#{$color-name} {
      #{$property}: $pickable-color;
    }
  }
}
/*
  The sonatype icon font
*/
$sonatype-icon-font-name: 'sonatype-icons';
$sonatype-icon-font-path: '../fonts/sonatype-icons';

@font-face {
  font-family: $sonatype-icon-font-name;
  src: url('#{$sonatype-icon-font-path}.woff?<%= config.buildTimestamp %>') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sonatype-icons:before {
  font-family: $sonatype-icon-font-name;
  @include icon-font();
}

/*
  The sonatype glyphicon font
*/
$sonatype-glyphicon-font-name: 'Glyphicons';

.sonatype-glyphicons:before {
  font-family: $sonatype-glyphicon-font-name;
  @include icon-font();
}

//build out the icons
$icon-map: ("sonatype-icons","double-chevron-right", '\e600'),
        ("sonatype-icons","double-chevron-left", '\e601'),
        ("sonatype-icons","application", '\e008'),
        ("sonatype-icons","policy",'\e60d'),
        ("sonatype-icons","policy-threat-level",'\e611'),
        ("sonatype-icons","tag", '\e60c'),
        ("sonatype-glyphicons","stage-type", '\e083');

@each $icon in $icon-map {
  .#{nth($icon,1)}.#{nth($icon,2)}:before {
    content: nth($icon,3);
  }
}

/*
  # Icons
*/
/*
  ## Sizes
```
  <div><i class="fa fa-camera" style="margin-right:8px;"></i>Default</div>
  <div><i class="fa fa-camera size-16px" style="margin-right:8px;"></i>16 Pixels</div>
  <div><i class="fa fa-camera size-20px" style="margin-right:8px;"></i>20 Pixels</div>
```
*/
/*
  ## Styles
```
  <div><i class="fa fa-camera" style="margin-right:8px;"></i>Default</div>
  <div><i class="fa fa-camera inverse" style="margin-right:8px;"></i>Inverse</div>
  <div><i class="fa fa-camera outline" style="margin-right:8px;"></i>Outline</div>
```
*/

.fa {
  &.inverse {
    background-color: $slate;
    color: $off-white;
  }

  &.size-20px {
    font-size: 20px;
    line-height: 20px;

    &.inverse {
      font-size: 90%;
      padding: 2px;
    }
  }

  &.size-16px {
    font-size: 16px;
    line-height: 16px;
  }
}

/*
  ## Label Colors
  Colors for organization or application labels

```
  <div><i class="fa fa-tag white" style="margin-right:8px;"></i>White</div>
  <div><i class="fa fa-tag grey" style="margin-right:8px;"></i>Grey</div>
  <div><i class="fa fa-tag black" style="margin-right:8px;"></i>Black</div>
  <div><i class="fa fa-tag green" style="margin-right:8px;"></i>Green</div>
  <div><i class="fa fa-tag yellow" style="margin-right:8px;"></i>Yellow</div>
  <div><i class="fa fa-tag orange" style="margin-right:8px;"></i>Orange</div>
  <div><i class="fa fa-tag red" style="margin-right:8px;"></i>Red</div>
  <div><i class="fa fa-tag blue" style="margin-right:8px;"></i>Blue</div>
```
*/

.fa-tag {
  @include icon-colours(color);
}

.hexagon {
  @include icon-colours(fill);
}
