/*
 #Action lists
*/
.iq-action-list {
  list-style: none;
  margin: 0;
  padding: 0 0 15px 0;
  width: 100%;
  
  ul {
    margin: 0;
    padding: 0;
  }
}

.iq-action-list--header {
  padding-bottom: 0;
}

.iq-action-list__title {
  border: none;
  color: $iq-off-black;
  line-height: 14px;
  margin: 0;
  padding: 0 0 9px 0;
}

.iq-action-list__item {
  @include semi-bold();
  
  border-top: 1px solid transparent;
  border-bottom: 1px solid $iq-grey-1;
  color: $iq-slate;
  display: block;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  &:first-of-type {
    border-top: 1px solid $iq-grey-3;
  }
  
  &:hover:not(.iq-action-list__item--empty):not(.iq-disabled):not([disabled]), 
  &:focus:not(.iq-action-list__item--empty):not(.iq-disabled):not([disabled]) {
    border-top: 1px solid $iq-grey-4;
    border-bottom: 1px solid $iq-grey-4;
    color: $iq-off-black;
    cursor: pointer;
  }
  
  &:active:not(.iq-action-list__item--empty):not(.iq-disabled):not([disabled]) {
    background-color: $iq-grey-1; 
    border-top: 1px solid $iq-grey-4;
    border-bottom: 1px solid $iq-grey-4;
  }

  .fa {
    margin-right: 8px;
    
    &.iq-pull-right {
      margin-top: 12px;
    }
  }
  
  &.iq-error {
    &:hover:not(.iq-disabled):not([disabled]), 
    &:focus:not(.iq-disabled):not([disabled]),
    &:active:not(.iq-disabled):not([disabled]) {
      border-top: 1px solid transparent;
      border-bottom: 1px solid $iq-grey-1;
      cursor: default;
    }
  }
}

// This chunk is all Bootstrap over-rides so it's been kept separate so if we ditch Bootstrap we can delete easily
.iq-action-list__item {
  .row {
    margin: 0;
  }
  
  &.accordion-group {
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $iq-grey-1;
    border-radius: 0;
    margin: 0;
    
    &:first-of-type {
      border-top: 1px solid $iq-grey-3;
    }
    
    &:hover {
      border: none;
    }
  }
  
  td {
    line-height: 100%;
  }
}
// End Bootstrap specific styles

.iq-action-list__item--empty {
  @include regular();

  border-top: 1px solid $iq-grey-3; // assume it's always the first item
  border-bottom: 1px solid $iq-grey-1;
  font-size: 14px;
  text-align: center;
}

.iq-action-list__item--disabled {
  color: $iq-grey-4;
  cursor: default;
}

.iq-action-list__item--tall {
  height: 46px;
  line-height: 46px;
  
  .fa.iq-pull-right {
    margin-top: 16px;
  }
  
  .iq-action-list__text {
    line-height: 28px;
  }

  .iq-action-list__subtext {
    line-height: 23px;

    > span {
      padding-right: 16px;
    }
  }
}

.iq-action-list__item--expanding {
  height: auto;
  min-height: 38px;
  
  &:hover:not(.iq-disabled):not([disabled]),
  &:focus:not(.iq-disabled):not([disabled]),
  &:active:not(.iq-disabled):not([disabled]) {
    background: none;
    border-top: 1px solid $iq-grey-4;
    border-bottom: 1px solid $iq-grey-4;
    cursor: default;
  }
}

.iq-action-list__text {
  @include semi-bold();
  
  line-height: 14px;
  margin: 0;
  overflow: hidden;
  padding: 0 24px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iq-action-list__subtext {
  @include regular();
  
  line-height: 14px;
  margin: -6px 0 0 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iq-action-list__actions {
  float: right;
}

// System Preferences Administrators Page
.iq-action-list__title--admin-role, .iq-action-list__row--admin-role {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.iq-action-list__title--admin-member, .iq-action-list__row--admin-member {
  display: inline-block;
  width: 79%;
}

#security {
  ul.iq-action-list {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .iq-action-list__actions {
    margin-right: -8px;
  }
  
  .role-membership {
    form {
      margin-bottom: 24px;
      
      &:last-child {
        margin-bottom: 12px;
      }
    }
  }
  
  .iq-action-list__item--expanding {
    .row {
      cursor: default;
    }
  }
}

#move-app-error-modal {
  .fa-warning {
    color: $iq-fail-color;
  }

  li {
    line-height:16px;
    list-style: none;
    margin-bottom: 12px;

    &:first-child {
      margin-top: 12px;
    }
  }
}

#move-app-success-modal {
  li {
    line-height:16px;
    margin-bottom: 12px;
    margin-left: 20px;

    &:first-child {
      margin-top: 12px;
    }
  }
}
