/*
  #Main Header
*/
$dropdown-menu-box-shadow: -8px 8px 12px 0px rgba(87, 87, 87, 1);
$header-dropdown-panel-border: 1px solid $iq-grey-4;
$header-dropdown-panel-background-color-rgba: rgba(0, 0, 0, 0.2);
$main-header-color: #CCCCCC;
$main-header-highlight: #2476FC;
$notification-item-border: 1px solid $iq-grey-1;

/*
  First Row
*/
.iq-header {
  background-color: $iq-off-black;
  min-height: 40px;
  margin: 0;
  overflow: visible;
  width: 100%;
}

.iq-header__inner {
  background-color: $iq-off-black;
  min-height: inherit;
  margin: 0 auto;
  width: 100%;
  max-width: $iq-content-width-maximum;
  min-width: $iq-content-width-minimum;

  &::before {
    display: table;
    content: "";
    line-height: 0;
  }
}

i.sonatype-icons, i.glyphicons-sonatype {
  vertical-align: middle;

  &::before {
    color: $main-header-color;
  }

  .active &::before {
    color: #fff;
  }
}

.iq-title {
  color: #fff;
  display: inline-block;
  float: left;
  line-height: 24px;
  margin: 0 10px 0 0;
  white-space: nowrap;

  img {
    display: inline-block;
    margin: 2px 2px 0 1px;
  }
}

.iq-title__brand {
  @include semi-bold();

  display: block;
  font-size: 18px;
  line-height: 18px;
  padding: 5px 19px 0 2px;
}

.iq-title__version {
  display: block;
  font-size: 12px;
  line-height: 12px;
  padding: 0 19px 4px 2px;
}

.iq-navbar {
  float: left;
  margin-left: 90px;
  overflow: hidden;
}

.iq-navigation-menu {
  margin: 0 0 0 25px;
}

.iq-navigation-menu__icon {
  display: inline-block;
  list-style: none;

  span {
    display: inline-block;
    height: 38px;
    margin-top: 2px;
    position: relative;
    text-align: center;
    width: 40px;

    &:hover {
      color: $iq-off-white;

      i::before {
        color: $iq-off-white;
      }
    }
  }

  &.active {

    span {
      background-color: $iq-sonatype-blue;

      &::after {
        @include iq-arrow-up();
      }
    }
  }

  &:first-child {
    margin-left: 9px;
  }

  i.sonatype-icons {
    display: inline-block;
    padding-top: 3px;
  }
}

/*
  #DROPDOWNS
*/
.iq-dropdown-menu {
  @include semi-bold();

  float: left;

  .alert {
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 8px;
  }
}

// Modifications to Bootstrap styles below
.dropdown-toggle {
  color: $main-header-color;
  display: inline-block;
  height: 35px;
  padding-top: 5px;
  text-align: center;
  width: 40px;

  &:hover {
    color: $main-header-color;
    text-decoration: none;
  }
}

.dropdown-menu {
  border: $header-dropdown-panel-border;
  border-radius: 0px;
  -webkit-box-shadow: $dropdown-menu-box-shadow;
  -moz-box-shadow: $dropdown-menu-box-shadow;
  box-shadow: $dropdown-menu-box-shadow;

  &:first-child {
    padding-bottom: 12px;
  }

  li {
    list-style: none;
  }
}

.iq-dropdown-menu__title {
  background-color: $iq-off-white;
  border-bottom: $header-dropdown-panel-border;
  color: $iq-slate;
  font-size: 14px;
  padding: 12px 8px;
}

.dropdown-contents {
  height: auto;
  max-height: 318px;
  list-style: none;
  margin-left: 0;
  overflow-x: hidden;

  li {
    background-color: $iq-off-white;
    border-bottom: $notification-item-border;
    font-family: Proxima Nova Regular;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    word-wrap: break-word;

    * {
      vertical-align: top;
    }

    &:hover {
      background-color: $iq-grey-1;
      cursor: pointer;
    }
  }
}

// Arrow to the top of a twitter dropdown menu
.dropdown-menu-arrow {

  &::before {
    border-right: 9px solid transparent;
    border-bottom: 8px solid $header-dropdown-panel-background-color-rgba;
    border-left: 9px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 1px;
  }

  &::after {
    border-right: 8px solid transparent;
    border-bottom: 8px solid $iq-off-white;
    border-left: 8px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 2px;
  }
}

// Modifications to Bootstrap styles above

a.iq-dropdown__link {
  color: $iq-off-black;
  display: block; // for top & bottom padding
  padding: 8px; // here to avoid dead zones on click targets

  &:hover {
    color: $iq-off-black;
    text-decoration: none;
  }
}

.iq-count-circle {
  @include bold();
  @include border-radius(50%);

  background-color: #2476FC;
  color: white;
  font-size: 10px;
  height: 16px;
  position: absolute;
  top: 18px;
  left: 20px;
  text-align: center;
  width: 16px;

  &.exclamation {
    background-color: #F2DEDE;
    border: solid thin #B94A48;
    color: #B94A48;
  }
}

// This chunk contains customizations to support the notification menu 
.iq-dropdown-menu--notification-menu {
  float: right;

  .dropdown-menu-arrow::before {
    right: 107px;
    left: inherit;
  }

  .dropdown-menu-arrow::after {
    right: 109px;
    left: inherit;
  }

  .dropdown-menu {
    padding-bottom: 12px;
    right: -100px;
    left: auto;
  }

  .dropdown-contents {
    width: 360px;
  }

  .dropdown-sub-menu {
    background-color: $iq-off-white;
    border: $header-dropdown-panel-border;
    border-radius: 0px;
    -webkit-box-shadow: $dropdown-menu-box-shadow;
    -moz-box-shadow: $dropdown-menu-box-shadow;
    box-shadow: $dropdown-menu-box-shadow;
    list-style: none;
    margin-right: 12px;
    padding-bottom: 12px;
    position: absolute;
    top: 0px;
    right: 360px;

    &::before {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 8px solid $iq-off-white;
      content: "";
      display: inline-block;
      position: absolute;
      top: 16px;
      right: -8px;
    }

    &::after {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid rgba(254, 254, 254, 0.2);;
      content: "";
      display: inline-block;
      position: absolute;
      top: 16px;
      right: -8px;
    }    

    li {
      white-space: normal;

      &:hover {
        background-color: $iq-off-white;
        cursor: default;
      }
    }
  }
}

.iq-notification__link {
  background-color: $iq-off-white;
  color: $iq-off-black;
  cursor: auto;
  min-height: 36px;
  padding: 8px;

  &.selected {
    background-color: $iq-grey-1;
  }

  &:hover {
    color: $iq-off-black;
    cursor: pointer;
    text-decoration: none;
  }

  &.viewed {
    color: $iq-slate;
  }
}

.iq-notification__age {
  float: left;
  font-size: 20px;
  line-height: 20px;
  padding-right: 8px;
  text-align: right;
  width: 35px;
}

.iq-notification__age-qualifier {
  float: left;
  padding-right: 16px;
  text-align: left;
  white-space: normal;
  width: 50px;
}

.iq-notification__text {
  display: inline;
  white-space: normal;
}

.iq-notification__container {
  height: 318px;
  overflow: auto;
  padding: 8px;
  white-space: normal;
  width: 500px;
}

.iq-dropdown-menu--help-menu, .iq-dropdown-menu--system-configuration-menu {
  float: right;

  .dropdown-menu {
    right: 0;
    left: auto;
  }

  .dropdown-menu-arrow::before {
    right: 9px;
    left: inherit;
  }

  .dropdown-menu-arrow::after {
    right: 10px;
    left: inherit;
  }
}

.iq-dropdown-menu--user-menu {
  float: right;
  margin-right: 12px;
  width: auto;

  .dropdown {
    a {
      width: auto;
    }
  }

  .dropdown-toggle span {
    @include bold();

    padding-left: 10px;
    vertical-align: 3px;
  }
}

.iq-dropdown-menu--help-menu {
  margin-right: 6px;
}
