/*
  Role list
*/
//Note this is the requested width of the role summary text, plus 22px for the button width and padding
$role-list-width: 606px;

.container.roles {
  width: $role-list-width;
  min-width: $role-list-width;

  h2 {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  form > h2 {
    border-bottom: $small-grey-border;
    margin-bottom: 12px;
  }

  table {
    margin-bottom: 36px
  }

  .toggle-off.btn {
    padding-left: 20px;
  }
}

.role-items {
  margin: 0px;
}

.role-item {
  cursor: pointer;
}

tr:first-child .role-summary {
  border-top: $small-grey-border;
}

.role-summary {
  border-bottom: $small-grey-border;
  padding-bottom: 8px;
  vertical-align: middle;
  width: 100%;

  h3 {
    line-height: initial;
    margin: 12px 0px 6px 0px;
  }

  & > div {
    margin-left: 24px;
  }
}

.role-detail-button {
  padding-left: 8px;
  vertical-align: middle;
}
