.clm-bar {
  padding: 0 !important;
  width: 10px;
}

// name, foreground, background
$threat-bars: ("ignore", #FFF, $ignore-color),
        ("unspecified", #FFF, $unspecified-color);

@each $threatdef in join($threat-levels, $threat-bars) {
  .clm-bar.#{nth($threatdef, 1)} {
    background-color: #{nth($threatdef, 3)} !important;
  }
}

/*
  Threat level colored backgrounds, intended for usage in a tabular layout
```
        <table class='table table-striped table-bordered'>
        <thead>
        <tr>
          <th style='width: 120px' colspan='2'>Col1</th>
          <th style='width: 120px'>Col2</th>
        </tr>
        </thead>
        <tr>
          <td class='clm-bar critical'</td>
          <td class='severity-column'>Data1</td>
          <td>Data2</td>
        </tr>
        <tr>
          <td class='clm-bar severe'</td>
          <td class='severity-column'>Data1</td>
          <td>Data2</td>
        </tr>
        <tr>
          <td class='clm-bar moderate'</td>
          <td class='severity-column'>Data1</td>
          <td>Data2</td>
        </tr>
        <tr>
          <td class='clm-bar none'</td>
          <td class='severity-column'>Data1</td>
          <td>Data2</td>
        </tr>
        <tr>
          <td class='clm-bar ignore'</td>
          <td class='severity-column'>Data1</td>
          <td>Data2</td>
        </tr>
        <tr>
          <td class='clm-bar unspecified'</td>
          <td class='severity-column'>Data1</td>
          <td>Data2</td>
        </tr>
      </table>
```
*/
