/*
  #Tile System
*/
/*
  ##Tiles
```
<div class="body-container">
  <div class="tile-container">
    <div class="tile summary-tile">
      <h1>First Tile</h1>
      <ul class="nav nav-pills">
        <li class="active"><a href="">Application Types</a></li>
        <li><a href="">Policy</a></li>
        <li><a href="">Component Labels</a></li>
        <li><a href="">License Threat Groups</a></li>
        <li><a href="">Access</a></li>
      </ul>
    </div>
    <div class="tile-scroll-container">
      <div class="tile">
        <h2>Another title</h2>
        <div class="sub-header">Another day</div>
      </div>
    </div>
    <div class="tile">
      <i class="fa fa-tags fa-lg"></i><h2 class="with-icon">Icon Header</h2>
      <div class="sub-header">another sub-header</div>
    </div>
  </div>
</div>
```
*/
.tile-container {
  height: 100%;
  min-width: 810px;
  float: left;
  width: 100%;
}

.tile-scroll-container {
  padding : 8px;
  overflow-y: scroll;
  overflow-x: visible;
  width: calc(100% - 16px);
  height: calc(100% - 175px);
  //required for scrollspy
  position: relative;
}

.tile {
  margin-bottom : 8px;
  padding : 8px;
  border : 1px solid $grey-2;
  background-color : white;

  h1, h2 {
    margin-top: 4px;
    margin-bottom: 8px;
  }

  // Application / Organization Icon
  h1 img {
    width : 26px;
    height : 26px;
    vertical-align: bottom;
  }

  h2.with-icon{
    display: inline-block;
    padding-left: 8px;
    vertical-align: middle;
  }
  .sub-header {
    margin-bottom : 12px;
  }

  &:last-child {
    margin-bottom : 0px;
  }

  &.summary-tile {
    margin: 8px 24px 0px 8px;

    .nav.nav-pills {
      padding: 8px;
      background-color: $grey-2;
      margin-bottom: 0px;

      a {
        min-width: 100px;
        padding: 8px 12px;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        color: inherit;

        &:hover, &:focus {
          color: inherit;
          border: 1px solid $grey-4;
          padding: 7px 11px;
        }
      }

      li:not(:last-child) {
        margin-right: 8px;
      }

      li.active > a {
        background-color: $off-white;
      }
    }
  }
}
