/*
  #Tile System
*/
/*
  ##Tiles
```
<div class="body-container">
  <div class="tile-container">
    <div class="tile summary-tile">
      <h1>First Tile</h1>
      <ul class="nav nav-pills">
        <li class="active"><a href="">Application Types</a></li>
        <li><a href="">Policy</a></li>
        <li><a href="">Component Labels</a></li>
        <li><a href="">License Threat Groups</a></li>
        <li><a href="">Access</a></li>
      </ul>
    </div>

    <div class="tile-scroll-container">
      <div class="tile">
        <h2>Another title</h2>
        <div class="sub-header">Another day</div>
      </div>
      <div class="tile">
        <h2><i class="fa fa-tag size-20px"></i>Icon Header</h2>
        <div class="sub-header">another sub-header</div>
      </div>
  </div>
</div>
```
*/
/*
  ##List Tiles
```
<div class="tile">
  <h2>Simple List Tile</h2>
  <div class="sub-header">Tile List sub-header</div>
  <div class="simple-list">
    <h4 class="subsection-header">Subsection Header</h4>
    <div class="empty-list">Empty List</div>
  </div>
  <div class="simple-list">
    <h4 class="subsection-header">Subsection Header with Button
        <button class="btn btn-tertiary">
          <i class="fa fa-plus"></i>Button
        </button>
    </h4>

    <ul>
      <li class="with-subtitle">
        <div class="title">
          <i class="fa fa-tag size-16px"></i>
          List Item with Subtitle
        </div>
        <div class="subtitle">Subtitle</div>
      </li>
      <li class="with-subtitle">
        <div class="title">
          <i class="fa fa-tag size-16px"></i>
          List Item with Subtitle and Chevron
        </div>
        <div class="subtitle">Subtitle</div>
        <i class="fa fa-chevron-right"></i>
      </li>
      <li class="simple">
        <div class="title">
          <i class="fa fa-tag size-16px"></i>
          Simple List Item
        </div>
      </li>
      <li class="simple">
        <div class="title">
          <i class="fa fa-tag size-16px"></i>
          Simple List Item with Chevron
        </div>
        <i class="fa fa-chevron-right"></i>
      </li>
    </ul>
  </div>
</div>
```
*/

$tile-scroll-container-z-index: 0;

.tile-container {
  height: 100%;
  min-width: 810px;
  float: left;
  width: 100%;
}

.summary-tile-container {
  $shadow-spread: 6px;
  $container-padding: 8px;

  position: relative;
  z-index: $tile-scroll-container-z-index + 1;

  &:after {
    content: '';
    width: calc(100% - #{2 * ($shadow-spread + $container-padding)});
    height: 0;
    display: block;
    position: absolute;
    left: #{$shadow-spread + $container-padding};
    bottom: 0;
    z-index: -1;
    box-shadow: 0px 0px $shadow-spread 5px $grey-1;
  }
}

.tile-scroll-container {
  margin: 0 8px 8px 8px;
  padding-top: 8px;
  overflow-y: auto;
  overflow-x: visible;
  width: calc(100% - 16px);
  height: calc(100% - 152px);
  //required for scrollspy
  position: relative;
  z-index: $tile-scroll-container-z-index;
}

.tile {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid $grey-2;
  background-color: white;

  h1 {
    margin-top: 4px;
    margin-bottom: 8px;
  }

  // Application / Organization Icon
  h1 img {
    width: 26px;
    height: 26px;
    vertical-align: bottom;
  }

  h2 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 0;

    > .hexagon {
      vertical-align: bottom;
      margin-right: 8px;
    }

    > .fa {
      vertical-align: bottom;
      margin-right: 8px;

      &.slate {
        color: $slate;
      }

      &.outline {
        color: $white;
      }
    }
  }

  .sub-header {
    margin-top: 2px;
    font-size: 14px;
    line-height: 14px;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &.summary-tile {
    margin: 8px 8px 0px 8px;

    h2 {
      padding-bottom: 8px;
    }

    .sub-header {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 8px;
      > .fa {
        vertical-align: top;
        margin-right: 8px;
      }
    }

    .nav.nav-pills {
      padding: 8px;
      background-color: $grey-2;
      margin-bottom: 0px;

      a {
        min-width: 100px;
        padding: 8px 12px;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        color: inherit;

        &:hover, &:focus {
          color: inherit;
          border: 1px solid $grey-4;
          padding: 7px 11px;
        }
      }

      li:not(:last-child) {
        margin-right: 8px;
      }

      li.active > a {
        background-color: $off-white;
      }
    }
  }

  .simple-list {
    h4.subsection-header {
      position: relative;
      border-bottom: 1px solid $grey-3;
      padding-top: 20px;
      padding-bottom: 8px;
      margin: 0;

      > .btn {
        position: absolute;
        right: 0;
        bottom: 8px;
        text-transform: none;
      }
    }

    div.subsection-divider {
      padding-top: 20px;
      border-bottom: 1px solid $grey-3;
    }

    div.empty-list {
      height: 40px;
      line-height: 34px;
      text-align: center;
      border-bottom: 1px solid $grey-1;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        padding-left: 8px;
        position: relative;
        border-bottom: 1px solid $grey-1;

        &.with-subtitle {
          min-height: 52px;
        }

        &.simple {
          min-height: 40px;
        }

        &.clickable:hover,
        &.clickable:active {
          cursor: pointer;
          border-bottom-color: $grey-4;

          > .fa-chevron-right {
            color: $off-black;
          }
        }

        &.clickable:active, &.clickable:focus {
          outline: 0;
        }

        &.clickable:active {
          background: $grey-1;
        }

        .threat-legend {
          display: inline-block;
          width: 8px;
          float: left;
          min-height: inherit;
          margin: 0px 8px 0px -8px;

          @each $threat in $threat-levels {
            @each $threatLevel in nth($threat, 4) {
              &.threat-level-#{$threatLevel} {
                background-color: nth($threat, 3);
              }
            }
          }
        }

        .title {
          padding-top: 10px;
          font-size: 14px;
          line-height: 14px;
          margin-right: 42px;
          @extend .semi-bold;

          > .hexagon {
            vertical-align: bottom;
            margin-right: 6px;
          }

          > .fa {
            vertical-align: bottom;
            margin-right: 4px;
          }
        }

        .threat-group-title {
          font-size: 14px;
          line-height: 40px;
          margin-right: 42px;
          @extend .semi-bold;
          vertical-align: middle;
        }

        .subtitle {
          padding-top: 4px;
          padding-bottom: 12px;
          margin-right: 42px;
          font-size: 14px;
          line-height: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        > .fa-chevron-right {
          font-size: 12px;
          top: calc(50% - 6.5px);
          width: 7px;
          right: 12px;
          position: absolute;
          color: $slate;
        }
      }
    }

    /*
      ##Access Tiles
    ```
    <div class="tile">
      <h2><i class="fa fa-key size-20px slate"></i>Access</h2>

      <div class="sub-header">Access List sub-header</div>
       <div class="simple-list">
        <h4 class="subsection-header">Subsection Header</h4>
        <div class="empty-list">Empty List</div>
      </div>
      <div class="simple-list">
        <h4 class="subsection-header">Subsection Header
          <button id="add-role-button" class="btn btn-tertiary">
            <i class="fa fa-plus"></i>Add Role
          </button>
        </h4>
        <table class="access-list">
          <tr class="simple clickable" style="vertical-align: middle">
            <td class="role">Clickable Row</td>
            <td class="members">
              <span>
                <span class="list-within-list">
                  <i class="fa fa-user size-16px slate"></i>
                  <span>Test User1</span>
                  <i class="fa fa-user size-16px slate"></i>
                  <span>Test User2</span>
                </span>
              </span>
            </td>
            <td>
              <i class="fa fa-chevron-right"></i>
            </td>
          </tr>
        </table>
        <table class="access-list">
          <tr class="simple" style="vertical-align: middle">
            <td class="role">Non-Clickable Row</td>
            <td class="members">
              <span>
                <span class="list-within-list">
                  <i class="fa fa-user size-16px slate"></i>
                  <span>Test User1</span>
                  <i class="fa fa-user size-16px slate"></i>
                  <span>Test User2</span>
                </span>
              </span>
            </td>
            <td>
            </td>
          </tr>
        </table>
      </div>
    </div>
    ```
    */
    .access-list {
      width: 100%;

      tr {
        border-bottom: 1px solid $grey-1;

        td {
          font-size: 14px;
          line-height: 16px;
          @extend .semi-bold;
        }

        .role {
          padding-top: 12px;
          vertical-align: top;
          padding-left: 8px;
          padding-right: 24px;
          min-width: 140px;
        }

        .members {
          width: 100%;
          padding-top: 10.0px;
          vertical-align: bottom;

          .list-within-list {
            white-space: nowrap;
            padding-bottom: 12px;
            display: inline-block;

            i {
              margin-right: 8px;
            }
            span {
              margin-right: 15px;
            }
          }
        }

        td:last-child {
          padding-top: 0px;
          vertical-align: middle;
          padding-left: 24px;
          padding-right: 12px;

          > .fa-chevron-right {
            font-size: 12px;
            top: calc(50% - 6.5px);
            width: 7px;
            right: 12px;
            color: $slate;
            vertical-align: middle;
          }
        }

        &.simple {
          height: 40px;
        }

        &.clickable:hover,
        &.clickable:active {
          cursor: pointer;
          border-bottom-color: $grey-4;

          td {
            > .fa-chevron-right {
              color: $off-black;
            }
          }
        }

        &.clickable:active, &.clickable:focus, &.clickable:hover {
          outline: 0;
        }

        &.clickable:active {
          background: $grey-1;
        }
      }
    }

    .greedy-table.policy-list {
      .threat-legend {
        display: inline-block;
        width: 8px;
        float: left;
        min-height: inherit;
        margin: 0px 8px 0px -12px;

        @each $threat in $policy-threat-levels {
          @each $threatLevel in nth($threat, 4) {
            &.policy-threat-level-#{$threatLevel} {
              background-color: nth($threat, 3);
            }
          }
        }
      }

      .fa {
        &.fail {
          color: $red;
        }

        &.warn {
          color: $orange;
        }
      }
    }

    .greedy-table.repository-configuration-list {
      tr {
        line-height: 18px;
      }

      .fa-check-circle {
        color: $valid-green;
      }

      .fa-times-circle {
        color: $grey-4;
      }
    }
  }
}
