/*
  #Widgets
*/

/*
  ##Breadcrumb

  ```
  <div breadcrumb>
    <p class="nav-crumb">
      <span>
        <a href="/dashboard/newest-risk">
          <i class="sonatype-icons dashboard">&nbsp;</i>Dashboard
        </a>
      </span>
      <span>
        <span class="last-crumb">/</span>
        <span class="last-crumb">
          &nbsp;Newest Risk
        </span>
      </span>
    </p>
  </div>
  ```
*/
.nav-crumb {
  vertical-align: middle;
  margin-top: 0px;
  padding-top: 16px;
}

.nav-crumb i:before {
  font-size: 14px;
  margin-right: 10px;
  line-height: 16px;
  color: $deep-blue;
}

.nav-crumb i:before:hover {
  color: $link-blue;
}

.nav-crumb a {
  margin-right: 5px;
  color: $deep-blue;
}

.nav-crumb a:hover {
  color: $link-blue;
}

.nav-crumb .last-crumb {
  color: #909090;
}

/*
  ## Load error

  ```
  <div class="clm-alert alert alert-error">
    <div>
      <i class="fa fa-warning"></i>
      <span>An error occurred loading data. (Unable to reach CLM server)</span>
    </div>
    <div>
      <button type="button" class="btn btn-danger"><i class="fa fa-refresh"></i>Retry</button>
    </div>
  </div>
  ```
*/
.clm-alert {
  margin: 5px;
  padding: 12px 8px;
  border-radius: 0;

  border-color: $alert-fg;
  background-color: $alert-bg;
  color: $alert-fg;

  &.alert-error {
    border-color: $fail-fg;
    background-color: $fail-bg;
    color: $fail-fg;
  }

  .btn {
    margin-top: 24px;
  }

  i.fa::before {
    margin-right: 8px;
  }
}

/*
  ##Twisty Container
  ```
    <div class="twisty-container">
      <div>
        <span class="twisty expand"></span>
        <span>Sonatype</span>
      </div>
      <div>
        <span class="twisty collapse"></span>
        <span>Sonatype</span>
      </div>
    </div>
  ```
*/
.twisty-container {
  display: inline-block;

  .twisty {
    content: "";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    width: 0;
    cursor: pointer;
    vertical-align: text-top;

    &.empty {
      width: 16px;
      height: 16px;
    }

    &.collapse {
      border-top: 5px solid $slate;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      margin: 6px 3px;
    }

    &.expand {
      border-left: 5px solid $slate;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      margin: 3px 8px 3px 3px;
    }
  }
}

/*
  ##Organization Tree View

  ```
    <div class="navigation-container">
      <div class="tree-view">
        <div class="tree-view-header">
          Organizations and Applications
        </div>
        <div class="tree-view-filter search input-prepend">
          <span class="add-on">
            <i role="button" class="fa fa-filter"></i>
          </span>
          <input type="text" placeholder="App or Org Name / ID">
        </div>
        <div class="tree-view-group">
          <a class="tree-view-item selected">
            <i class="fa fa-lg fa-globe tree-view-icon"></i>
            Root Organization
            <div class="tree-view-new-organization">
              <button class="btn">
                <i class="fa fa-plus"></i>
                New Organization
              </button>
            </div>
          </a>
        </div>
        <div class="tree-view-group tree-view-organization-group">
          <a class="tree-view-item">
            <div class="twisty-container">
              <span class="twisty expand"></span>
            </div><!--
           --><i class="fa fa-sitemap tree-view-icon icon-12px inverse"></i><!--
           -->Sonatype
          </a>
        </div>
        <div class="tree-view-group tree-view-organization-group">
          <a class="tree-view-item selected">
            <div class="twisty-container">
              <span class="twisty collapse"></span>
            </div><!--
           --><i class="fa fa-sitemap tree-view-icon icon-12px inverse"></i><!--
           -->Sonatype
          </a>
          <div class="tree-view-new-application">
            <button class="btn">
              <i class="fa fa-plus"></i>
              New Application
            </button>
          </div>
          <a class="tree-view-item">
            <i class="fa fa-terminal tree-view-icon icon-12px inverse"></i><!--
         -->CLM
          </a>
        </div>
      </div>
    </div>
  ```
*/
.tree-view {
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;

  .tree-view-header {
    @extend h3;
    @extend .semi-bold;
    color: $slate;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: $link-blue;

      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $link-blue;
      }

      > .fa {
        margin-right: 6px;
      }
    }
  }

  .tree-view-filter {
    margin-bottom: 12px;
    display: block;

    input {
      width: calc(100% - 44px);
    }
  }

  .tree-view-new-organization, .tree-view-new-application {
    text-align: center;
    margin-top: 12px;
  }

  .tree-view-new-application {
    margin-right: 8px;
  }

  .tree-view-group {
    .tree-view-icon {
      margin-right: 8px;
      margin-left: 8px;
      vertical-align: bottom;

      &.fa-globe {
        margin-left: 0px;
      }

      &.icon-12px {
        line-height: 12px;
        font-size: 12px;
        width: 16px;
        height: 16px;
        text-align: center;

        &:before {
          vertical-align: -2px;
        }
      }
    }

    :not(:first-of-type) .tree-view-icon {
      margin-left: 48px;
    }

    a.tree-view-item {
      @extend h4;
      color: $slate;
      text-transform: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      display: block;
      margin-bottom: 0px;
      margin-left: -8px;
      margin-right: -8px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 7px;

      border-top: 1px solid $grey-2;
      border-bottom: 1px solid $grey-2;

      &:hover {
        text-decoration: none;
      }

      &.selected {
        color: $off-black;
        background: $off-white;
        border-top: 1px solid $grey-4;
        border-bottom: 1px solid $grey-4;
        padding-top: 7px;
        padding-bottom: 7px;
      }

      &.selected, &.childSelected {
        .twisty.collapse {
          border-top-color: $grey-4;
        }
      }

      &.disabled {
        color: $grey-4;
        cursor: not-allowed;

        .inverse {
          background-color: $grey-4;
        }
      }

      &:last-of-type:not(:first-of-type) {
        margin-bottom: 8px;
      }
    }
  }
}

/*
  Owner Detail Tree View
*/
.tree-view.detail-tree-view {
  .fa.outline {
    color: $grey-2;
  }
}

/*
  ##Tooltips
  ```
    <div class="tooltip top fade in" style="display: block;">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">Tooltip Content</div>
    </div>
  ```
*/
.tooltip-arrow {
  .tooltip.top & {
    border-top-color: $off-black;
  }

  .tooltip.bottom & {
    border-bottom-color: $off-black;
  }

  .tooltip.right & {
    border-right-color: $off-black;
  }

  .tooltip.left & {
    border-left-color: $off-black;
  }

  &:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    content: "";
    border: 5px solid transparent;

    .tooltip.top &, .tooltip.bottom & {
      left: 50%;
      margin-left: -5px;
    }

    .tooltip.top & {
      border-top-color: $slate;
      border-bottom-width: 0;
      margin-top: -6px;
    }

    .tooltip.bottom & {
      border-bottom-color: $slate;
      border-top-width: 0;
      margin-top: 1px;
    }

    .tooltip.right &, .tooltip.left & {
      top: 50%;
      margin-top: -5px;
    }

    .tooltip.right & {
      border-right-color: $slate;
      border-left-width: 0;
      margin-left: 1px;
    }

    .tooltip.left & {
      border-left-color: $slate;
      border-right-width: 0;
      right: 1px;
    }
  }
}

.tooltip.in {
  opacity: 1;

  .modal & {
    z-index: $zindexTooltip + $zindexModal;
  }
}

.tooltip-inner {
  color: $off-white;
  border: 1px solid $off-black;
  background-color: $slate;
  border-radius: 0;
}

/*
  ## Flexbox Implementation

  This is used in place of flexbox in order to support older browsers. Used to align content to the right when it fits,
  while aligning left when it falls to the next line.

  Source: http://jsfiddle.net/rasmusfl0e/ao989zs7/ via https://css-tricks.com/useful-flexbox-technique-alignment-shifting-wrapping/#comment-1595296

  ```
    <div class="flexbox-container">
      <span>Left aligned content</span>
      <span>Conditionally right aligned content.</span>
    </div>
  ```
*/
.flexbox-container {
  text-align: justify;
  line-height: 0;

  span {
    white-space: nowrap;
    text-align: left;
    display: inline-block;
    line-height: normal;
  }

  &:after {
    display: inline-block;
    width: 100%;
    content: "";
    vertical-align: top;
  }
}

/*
  ## Select List Item

  ```
    <div class="large-select-list-item">
      <div class="large-select-list-item-icon">
        <i class="icon-minus-sign"></i>
      </div>
      <div class="large-select-list-item-content">
        <div class="flexbox-container">
          <span ng-bind-html="user.displayName">Admin BuiltIn</span>
          <span class="large-select-list-item-detail">admin</span>
        </div>
        <div class="flexbox-container">
          <span class="large-select-list-item-detail">admin@localhost</span>
          <span class="large-select-list-item-detail">CLM</span>
        </div>
      </div>
    </div>
  ```
*/
.large-select-list-item {
  cursor: pointer;
  font-size: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 2px;
  border-bottom: 1px solid $grey-2;

  .large-select-list-item-icon {
    float: left;

    i {
      margin-top: 2px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  &:hover {
    background-color: $grey-4;
  }

  .large-select-list-item-content {
    margin-left: 24px;

    .large-select-list-item-detail {
      font-size: 11px;
    }
  }
}

/*
  ##Owner Icons
  ```
    <img src='' class='owner-icon-large'><img src='' class='owner-icon'><img src='' class='owner-icon-tiny'>
  ```
*/
@mixin owner-icon-template($size) {
  float: left;
  height: $size;
  margin-right: 12px;
  width: $size;
  vertical-align: top;
}

.owner-icon {
  @include owner-icon-template(20px);
}

.owner-icon-large {
  @include owner-icon-template(26px);
}

.owner-icon-tiny {
  @include owner-icon-template(16px);
}

/*
  ## Dropdown
  ```
    <div class="clm-dropdown pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="actionMenu" data-toggle="dropdown">
        Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-left">
        <li><a><span><i class="fa fa-pencil"></i> Edit App Name / Icon</span></a></li>
        <li class="divider"></li>
        <li><a><i class="fa fa-upload fa-fw"></i><span>Evaluate Binary</span></a></li>
        <li><a class="link"><i class="fa fa-external-link fa-fw"></i><span>Report</span></a></li>
        <li><a class="link" class="disabled"><i class="fa fa-external-link fa-fw"></i><span>Report Disabled</span></a></li>
      </ul>
    </div>
  ```
*/

.clm-dropdown {
  position: relative;
  font-size: 14px;

  .btn {
    margin-top: -4px;
    .caret {
      margin-top: 7px;
      margin-left: 6px;
      border-top: 6px solid $slate;
      border-width: 6px;
    }
  }

  /*
   * Note: IE, 9, 10, and 11 have issues triggering the pseudo active class when there are nested child elements inside
   * an anchor tag. There is a workaround for ie 11 and that is to create a :before pseudo element on the anchor tag. This
   * essentially wraps the anchor allowing for the active class to be triggered.
   *
   */
  .dropdown-menu {
    padding: 8px 0px 8px 0px;
    background: $off-white;
    border: 1px solid $grey-4;
    border-radius: 4px;
    box-shadow: -4px 4px 10px 0px $slate;
    color: $slate;

    li {
      vertical-align: middle;

      a {
        position: relative; // ie 11 workaround, see note above
        line-height: 32px;
        height: 32px;
        padding: 0px 12px 0px 12px;
        border-top: 1px solid $off-white;
        border-bottom: 1px solid $off-white;
        color: inherit;
        background: $off-white;
        @extend .semi-bold;

        &.link {
          &.disabled {
            color: $light-blue;
            cursor: default;

            &:hover {
              color: $light-blue;
            }
          }

          &:not(.disabled) {
            color: $link-blue;

            &:hover:not(:active) {
              color: $link-blue;
              text-decoration: underline;
            }
            &:active {
              color: $deep-blue;
              text-decoration: none;
            }
          }
          .fa-external-link {
            margin-bottom: 2px;
            vertical-align: middle;
          }
        }

        &:not(.link) {
          &:active {
            background: $grey-1;
            color: $off-black;
          }
          &:hover:not(:active) {
            color: $off-black;
          }
        }
        &:hover, &:focus {
          filter: none; // bootstrap override
        }
      }

      a:before {
        // ie 11 workaround, see note above
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .fa {
        margin-right: 8px;
        width: 12px;
      }
      &.divider {
        margin: 8px 12px 8px 12px;
        border: none;
        background-color: $grey-4;
        height: 1px;
      }

    }
  }
}

/*
  #Color Picker

  ```
    <div class="color-picker-row">
      <div class="light-red"></div>
      <div class="yellow"></div>
      <div class="light-green selected"></div>
      <div class="light-blue"></div>
      <div class="light-purple"></div>
    </div>
    <div class="color-picker-row">
      <div class="dark-red"></div>
      <div class="orange"></div>
      <div class="dark-green"></div>
      <div class="dark-blue"></div>
      <div class="dark-purple"></div>
    </div>
  ```
*/

.color-picker-row {
  line-height: 0;
  font-size: 0;

  div {
    @include square(32px);
    display: inline-block;
    border: 1px solid $off-black;
    position: relative;
    cursor: pointer;

    @each $color-name, $pickable-color in $pickable-colors {
      &.#{$color-name} {
        background-color: $pickable-color;
      }
    }

    &:not(:first-child) {
      margin-left: -1px;
    }

    &.selected {
      border: 1px solid $off-white;
      z-index: 1;
    }

    .modal & {
      z-index: $color-picker-zindex;

      &.selected {
        z-index: $color-picker-zindex + 1;
      }
    }
  }

  &:not(:first-child) {
    div {
      margin-top: -1px;
    }
  }
}

/*
  #Association Editor
  ```
  <form class="clm-form">
    <div class="association-editor-wrapper">
      <table id="association-editor" class="association-editor">
        <tbody>
          <tr class="association-editor-row">
            <td>
              <label class="checkbox">
                <input type="checkbox">
                <span>
                  <svg class="blue hexagon" viewBox="0 0 185.5 208" width="14" height="16"><path d="M91.952,6.246L7.653,55l0.073,97.383l84.373,48.628l84.299-48.754l-0.073-97.382L91.952,6.246z M92.084,183.74"></path></svg>
                  <p class="description">Test 1</p>
                </span>
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox">
                <span>
                  <svg class="blue hexagon" viewBox="0 0 185.5 208" width="14" height="16"><path d="M91.952,6.246L7.653,55l0.073,97.383l84.373,48.628l84.299-48.754l-0.073-97.382L91.952,6.246z M92.084,183.74"></path></svg>
                  <p class="description">Test 2</p>
                </span>
              </label>
            </td>
          </tr>
          <tr class="association-editor-row">
            <td>
              <label class="checkbox">
                <input type="checkbox">
                <span>
                  <i class="fa fa-pencil"></i>
                  <p class="description">Test 1</p>
                </span>
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox">
                <span>
                  <i class="fa fa-pencil"></i>
                  <p class="description">Test 2</p>
                </span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
  ```
*/

/*
 The association-editor-wrapper wrapper class is a workaround for an IE 9 issue where the surrounding div causes the 
 table's (association-editor) max-height and overflow-y properties to be ignored. Setting them on the surrounding div
 fixes the issue.
*/
.association-editor-wrapper {
  overflow-y: auto;
  max-height: 220px;

  .association-editor {
    display: block;

    .association-editor-row {
      td {
        white-space: nowrap;

        .description {
          margin: 0px 0px 0px 8px;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 110px;
          max-width: 375px;
          vertical-align: bottom;
        }

        .hexagon {
          vertical-align: top;
          padding-top: 1px;
        }

        .fa {
          vertical-align: top;
          padding-top: 2px;
        }
      }
    }
  }
}

/*
  ## Double Column Picker

  ```html
  <div class="double-column-picker">
    <table>
      <tr class="filter-row">
        <td colspan="2">
          <div class="td-container">
            <i class="fa fa-filter size-16px size-fw"></i>
            <input placeholder="I'm a filter"/>
          </div>
        </td>
      </tr>
      <tr class="info-row">
        <td>
          <div class="td-container">
            <div class="title">Left Column</div>
            <div class="tools">
              <input id="leftAllBox" class="checkbox-primary" type="checkbox"/>
              <label for="leftAllBox">all</label>
              <button class="btn btn-tertiary btn-icon-only" type="button"><i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </td>
        <td>
          <div class="td-container">
            <div class="title">Right Column</div>
            <div class="tools">
              <input id="rightAllBox" class="checkbox-primary" type="checkbox"/>
              <label for="rightAllBox">all</label>
              <button class="btn btn-tertiary btn-icon-only" type="button"><i class="fa fa-arrow-left"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr class="list-row">
        <td>
          <div class="td-container available-list">
            <div class="list-item">
              <input id="leftItemId1" class="checkbox-primary" type="checkbox"/>
              <label for="leftItemId1">Left Item 1</label>
            </div>
            <div class="list-item">
              <input id="leftItemId2" class="checkbox-primary" type="checkbox"/>
              <label for="leftItemId2">Left Item 2</label>
            </div>
          </div>
        </td>
        <td>
          <div class="td-container picked-list">
            <div class="list-item">
              <input id="rightItemId1" class="checkbox-primary" type="checkbox"/>
              <label for="rightItemId1">Right Item 1</label>
            </div>
            <div class="list-item">
              <input id="rightItemId2" class="checkbox-primary" type="checkbox"/>
              <label for="rightItemId2">Right Item 2</label>
            </div>
        </td>
      </tr>
    </table>
  </div>
  ```
*/

.double-column-picker {
  table {
    border: 1px solid $grey-4;
    table-layout: fixed;
    width: 620px;

    &.disabled {
      border: 1px solid $grey-3;

      .title {
        color: $grey-4;
      }
    }

    .filter-row {
      border-bottom: 1px solid $grey-4;
      height: 32px;

      .td-container {
        position: relative;

        > .fa {
          position: absolute;
          top: 8px;
          left: 4px;
        }

        > input {
          height: 32px;
          width: calc(100% - 26px);
          border: none;
          padding-left: 26px;
        }
      }
    }

    .info-row {
      border-bottom: 1px solid $grey-2;

      td {
        width: 49.5%;
        vertical-align: top;

        &:first-child {
          border-right: 1px dotted $grey-3;
        }

        .td-container {
          height: 56px;
          margin-left: 6px;
          margin-top: 8px;

          .title {
            @extend .semi-bold;
            margin-bottom: 2px;
          }

          .tools {
            > label {
              display: inline-block;
              vertical-align: bottom;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }

    .list-row {
      $list-item-height: 22px;

      td {
        width: 49.5%;
        vertical-align: top;

        &:first-child {
          border-right: 1px dotted $grey-3;
        }

        .td-container {
          overflow-y: scroll;
          padding-top: 9px;
          height: 10 * $list-item-height;

          label {
            height: $list-item-height;
            padding-right: 8px;
            padding-left: 6px;
            margin: 0;

            > span {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow-x: hidden;
            }
          }
        }
      }
    }
  }
}

/*
  ## LTG Threat Level Selector

  ```html
  <span class="threat-level-selector dropdown">
    <a class="selected-threat-level threat-level-background ltg-threat-level-5" data-toggle="dropdown">5</a><!--
    --><a class="caret-button" data-toggle="dropdown"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a class="threat-level-background ltg-threat-level-10">10</a></li>
      <li><a class="threat-level-background ltg-threat-level-9">9</a></li>
      <li><a class="threat-level-background ltg-threat-level-8">8</a></li>
      <li><a class="threat-level-background ltg-threat-level-7">7</a></li>
      <li><a class="threat-level-background ltg-threat-level-6">6</a></li>
      <li><a class="threat-level-background ltg-threat-level-5">5</a></li>
      <li><a class="threat-level-background ltg-threat-level-4">4</a></li>
      <li><a class="threat-level-background ltg-threat-level-3">3</a></li>
      <li><a class="threat-level-background ltg-threat-level-2">2</a></li>
      <li><a class="threat-level-background ltg-threat-level-1">1</a></li>
      <li><a class="threat-level-background ltg-threat-level-0">0</a></li>
    </ul>
  </span>
  ```
*/

.threat-level-selector {
  display: block;

  &.open .selected-threat-level{
    opacity: 0.6;
  }

  a {
    width: 30px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    vertical-align: top;

    &.selected-threat-level {
      border-top: 1px solid $grey-4;
      border-left: 1px solid $grey-4;
      border-bottom: 1px solid $grey-4;

      &.disabled {
        cursor: not-allowed;
        text-decoration: none;
        opacity: 0.6;
      }
    }
    &.caret-button {
      border: 1px solid $grey-4;

      .caret {
        border-top: 6px solid $grey-4;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        margin-top: 13px;
        margin-left: 0;
      }

      &:hover:not(.disabled) .caret{
        border-top: 6px solid $slate;
      }

      &.disabled {
        cursor: not-allowed;
        border: 1px solid $grey-3;

        .caret {
          border-top: 6px solid $grey-3;
        }
      }
    }
  }
  .threat-level-background {
    color: $white;
    @extend .semi-bold;

    @each $threat in $policy-threat-levels {
      @each $threatLevel in nth($threat, 4) {
        &.policy-threat-level-#{$threatLevel} {
          background-color: nth($threat, 3);
        }
      }
    }

    @each $threat in $threat-levels {
      @each $threatLevel in nth($threat, 4) {
        &.ltg-threat-level-#{$threatLevel} {
          background-color: nth($threat, 3);
        }
      }
    }
  }

  .dropdown-menu {
    min-width: 30px;
    margin: 0;
    padding: 0;
    background-color: $off-white;
    box-shadow: -4px 4px 10px 0 $slate;
    border: 1px solid $off-white;
    border-radius: 0;

    li {
      margin-top: 1px;
    }

    a {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      padding: 0;

      &:hover {
        opacity: 0.75;
        background-image: none; //clears bootstrap style
      }
    }
  }
}

/*
  ## Dropdown Selector

  ```html
  <dropdown-selector class="disabled">
    <div class="dropdown-selector dropdown">
      <a class="selected-item disabled" data-toggle="dropdown">Disabled<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a>Option 1</a></li>
        <li><a>Option 2</a></li>
        <li><a>Option 3</a></li>
      </ul>
    </div>
  </dropdown-selector>
  <dropdown-selector class="ng-invalid">
    <div class="dropdown-selector dropdown">
      <a class="selected-item" data-toggle="dropdown">Invalid<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a>Option 1</a></li>
        <li><a>Option 2</a></li>
        <li><a>Option 3</a></li>
      </ul>
    </div>
  </dropdown-selector>
  <dropdown-selector class="initial-value">
    <div class="dropdown-selector dropdown">
      <a class="selected-item" data-toggle="dropdown">Initial Value<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a>Option 1</a></li>
        <li><a>Option 2</a></li>
        <li><a>Option 3</a></li>
      </ul>
    </div>
  </dropdown-selector>
  <dropdown-selector class="ng-valid">
    <div class="dropdown-selector dropdown">
      <a class="selected-item" data-toggle="dropdown">Valid<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a>Option 1</a></li>
        <li><a>Option 2</a></li>
        <li><a>Option 3</a></li>
      </ul>
    </div>
  </dropdown-selector>
  <dropdown-selector class="ng-valid">
    <div class="dropdown-selector dropdown open">
      <a class="selected-item" data-toggle="dropdown">None Selected<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a>Option 1</a></li>
        <li><a>Option 2</a></li>
        <li><a>Option 3</a></li>
      </ul>
    </div>
  </dropdown-selector>
  ```
*/
dropdown-selector {
  width: 256px;
  border: 1px solid $grey-4;
  border-left-width: 4px;
  vertical-align: middle;
  display: inline-block;

  &.wide {
    width: 411px;
  }

  &.no-options {
    border: none !important;
    text-align: center;
    padding: 1px 1px 1px 4px;
  }

  &.disabled {
    border-color: $grey-3;
    border-left-style: double;

    &:hover,
    &:hover .selected-item {
      cursor: not-allowed;
    }

    .selected-item .caret {
      border-top: 6px solid $grey-3;
    }
  }

  &:not(.disabled) {
    &.initial-value {
      border-left-color: $valid-green;
      border-left-style: double;
    }

    &.ng-valid {
      border-left-color: $valid-green;
    }

    &.ng-invalid.ng-dirty {
      border-color: $invalid-red;
      border-left-style: solid;
    }
  }

  .dropdown-selector {
    &.open {
      .selected-item,
      .selected-item:hover {
        color: $grey-4;
      }
    }

    &:not(.open) .selected-item:not(.disabled):hover .caret {
      border-top: 6px solid $slate;
    }

    .selected-item,
    .selected-item:hover {
      display: block;
      height: 22px;
      line-height: 22px;
      padding: 4px 34px 4px 8px;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #333333;
      text-decoration: none;

      &.none-selected {
        color: $grey-4;
      }
    }

    .selected-item .caret {
      border-top: 6px solid $grey-4;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      position: absolute;
      right: 12px;
      bottom: 12px;
    }

    .dropdown-menu {
      border-radius: 0;
      border: 1px solid $grey-4;
      border-collapse: separate;
      background: $off-white;
      margin: 0 0 0 -4px;
      width: calc(100% + 3px);
      min-width: 0px;
      max-height: 300px; // 10 list items
      overflow-y: auto;
      box-shadow: -4px 6px 10px $slate;
      padding: 0;

      > li {
        a {
          padding: 0 11px 0 11px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 30px;
          line-height: 30px;
          color: $slate;

          &:hover {
            filter: none;
            color: $off-black;
            background-color: $off-white; // override bootstrap style. 'inherit' causes flicker in IE9
            background-image: inherit;
          }
        }
      }
    }
  }
}

/*
  ## Sort Column

  ```html
  <table class="policy-list">
    <tr class="simple">
      <th sort-column="name" class="selected-column">
        <a class="sort-col">
          <i class="fa fa-caret-up up"></i>
          <i class="fa fa-caret-down"></i>
           <span>
            <span class="header-text">Column 1</span>
          </span>
        </a>
      </th>
      <th sort-column="name">
        <a class="sort-col">
          <i class="fa fa-caret-up"></i>
          <i class="fa fa-caret-down"></i>
          <span>
            <span class="header-text">Column 2</span>
          </span>
        </a>
      </th>
    </tr>
  </table>
  ```
*/
.sort-col {
  position: relative;
  color: $slate;

  &:hover, &:active, &:visited, &:link, &:focus {
    color: $slate;
    text-decoration: none;
  }

  .header-text {
    margin-left: 16px;
  }

  .fa-caret-up {
    position: absolute;
    line-height: 7px;
    top: 1px;
  }
  .fa-caret-down {
    position: absolute;
    line-height: 7px;
    top: 8px;
  }

  .fa {
    color: $grey-4;

    &.up, &.down {
      color: $slate;
    }
  }
}

age-in-days-input {
  display: inline-block;
  width: 261px;

  .age-in-days-input {
    width: inherit;
    white-space: nowrap;

    > input[type="number"].age-input {
      width: calc(50% - 25px);
      margin-right: 4px;
      vertical-align: initial;
      display: inline-block;
    }
    > dropdown-selector {
      width: calc(50% - 9px);
      display: inline-block;
    }
  }
}

.notification-list {
  overflow-y: auto;
  max-height: 200px;
  padding-left: 16px;
  margin-top: 8px;
  margin-bottom: 24px;

  &.empty {
    margin-top: 0px;
  }

  ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding-left: 8px;
  }

  li:first-child {
    border-top: 1px solid $grey-3;
  }

  li {
    height: 40px;
    border-bottom: 1px solid $grey-1;
    span {
      line-height: 40px;
      .fa {
        margin-right: 8px;
      }
    }
    button {
      float: right;
      margin-right: 8px;
    }
  }
}
