<item-description>
  <marked>
    Multi select widget using tree-view with checkboxes.
    If number of options is more than filter-threshold, it allows filtering the options using fuzzy filter.
    Default filter-threshold is 10.

    This components provides one-directional bindings only.
    Updates to selected options state are notified via `on-change` callback.
    __Note:__ this component is designed to support unidirectional data flow: it doesn't maintain the state
    of selected options and expects to receive updated 'selected' state from the parent.

    Arguments:

    Params| Type | Details|
    :--- | :--- | :---
    available | [{id:String, name:String}] | Array of available options
    selected  | Set | Set of ids of selected options
    on-change | callback expression | called with the Set of ids of currently selected options and an Id of toggled option. Context: {selected:Set, toggledId:String}
    filter-placeholder | String | Placeholder to be used in options filter input
    filter-threshold   | Number | optional - default is 10. If number of options is greater then filter-threshold - allows filtering the options.
    name | String | name used in disabled tooltip and in generated checkbox id
    tooltip-generator | expression | optional - expression to generate tooltip text. Context: {entity: Object} - object provided in 'available' parameter
    sort-entities | boolean | optional
    is-disabled | boolean | optional - controls whether the component is disabled or not
    disabled-tooltip | String | optional - Text to use in the tooltip that appears when the component is disabled

    In the example below, triggered on-change callback is logged to console.

  </marked>
</item-description>

<item-example-html>
  <div ng-controller="iqTreeViewMultiSelectExampleController as vm">

    <iq-tree-view-multi-select available="[]" name="applications">
      No Applications
    </iq-tree-view-multi-select>

    <iq-tree-view-multi-select available="vm.available"
                               selected="vm.selected"
                               on-change="vm.onChange(selected, toggledId)"
                               filter-placeholder="Application Name"
                               name="applications"
                               is-disabled="true"
                               disabled-tooltip="This is a tooltip text overriding the default.">
      Disabled Example
    </iq-tree-view-multi-select>

    <iq-tree-view-multi-select available="vm.available"
                               selected="vm.selected"
                               on-change="vm.onChange(selected, toggledId)"
                               tooltip-generator="'in ' + entity.organizationName"
                               filter-placeholder="Application Name"
                               filter-threshold="5"
                               name="applications"
                               sort-entities="vm.sort">
      Test Applications
    </iq-tree-view-multi-select>

    <button class="btn btn-primary" ng-click="vm.reset()">
      Reset
    </button>
    <button class="btn btn-primary" ng-click="vm.sort = !vm.sort">
      {{vm.sort? 'Do not sort' : 'Sort'}}
    </button>
  </div>
</item-example-html>

<div class="iq-tile">
  <div class="iq-tile-header">
    <div class="iq-tile-header__title">
      <h2>Controller</h2>
    </div>
  </div>
  <div hljs
       hljs-language="js"
       hljs-include="'components/iqTreeViewMultiSelect/iqTreeViewMultiSelectExampleController.js'">
  </div>
</div>
