<div id="editNotificationsModal" class="modal hide fade" data-backdrop="static" ng-controller="NotificationManagementController">
	<div class="modal-header">
		<h3>Notifications</h3>
	</div>
	<div class="modal-body">
		<div list-editor place-holder='Email Address' max-length='100' entries='notificationEmailList' set-error='setEditorError' validator='validateEmail'></div>
	</div>
	<div class="modal-footer">
		<div>
		    <span ng-show='error' class="alert alert-error" style="float: left; padding-top: 4px; padding-bottom: 4px;">{{ error }}</span>
			<span style="float: right;">
				<a class="btn" ng-click="cancelNotificationEmail()">Cancel</a>
				<a class="btn btn-primary" ng-click="doneNotificationEmail()">Done</a>
			</span>
		</div>
	</div>
</div>