<div class="iq-tree-view iq-tree-view--multi-select">
  <a class="iq-tree-view__trigger"
     ng-click="isExpanded = available.length && !readOnly && !isExpanded"
     ng-class="{disabled: readOnly}">
    <div class="iq-counter">
      {{selectedEntry[nameField]}}
    </div>
    <div class="iq-tree-view__twisty">
      <span class="iq-tree-view__twisty-icon" ng-class="{ expand: !isExpanded, collapse: isExpanded }"></span>
    </div>
    <div class="iq-tree-view__text">
      <span ng-transclude></span>
    </div>
  </a>
  <div ng-if="isExpanded" class="iq-tree-view__children">
    <iq-radio ng-repeat="entity in available"
              class="iq-tree-view__child"
              model="vm.isChecked(entity)"
              value="true"
              on-click="vm.select(entity)">{{::entity[nameField]}}
    </iq-radio>
  </div>
</div>
