<div id="success-metrics-list">
  <div class="nx-page-title iq-page-title"
       load-wrapper="vm.error"
       loading="!vm.loaded"
       reload="vm.$onInit()"
       message="vm.hasDisabledError() ? 'Error:' : undefined"
       can-retry="!vm.hasDisabledError()">
    <button id="add-success-metrics-report-btn"
            class="iq-btn iq-btn--tertiary iq-page-title__actions"
            ng-click="vm.openAddSuccessMetricsReportModal()">
      <i class="fa fa-plus"></i>
      Add Report
    </button>
    <h1 class="nx-h1">
      <i class="fa fa-flask slate nx-page-title__page-icon"></i><!--
   --><span>Success Metrics</span>
    </h1>
    <div class="nx-page-title__description">
      Success Metrics is an experimental feature providing high-level statistics on the past performance of
      Nexus Lifecycle. If you want to take action on your current policy violations, start with the
      <a ui-sref="dashboard.overview.violations">Dashboard</a>.
    </div>
  </div>

  <div class="iq-tile-scroll-container iq-tile-scroll-container--success-metrics"
       maximize-container-height>
    <div class="iq-tile">
      <div class="iq-tile-header">
        <div class="iq-tile-header__title">
          <h1>Reports</h1>
        </div>
      </div>
      <div class="iq-tile-content">
        <p>
          Success Metrics data is also accessible via the
          <a target="_blank"
             rel="noreferrer"
             href="http://links.sonatype.com/products/nxiq/doc/success-metrics-data-rest-api/v2">
            Success Metrics Data API. <i class="fa fa-external-link fa-fw"></i>
          </a>
        </p>
        <div class="iq-list iq-list--clickable">
          <ul>
            <li class="iq-list__item iq-list__item--empty" ng-if="vm.successMetricsReports.length <= 0">
              No reports have been created.
            </li>
            <li class="iq-list__item"
                ng-repeat="report in vm.successMetricsReports"
                ng-click="vm.goToCharts(report.id)">
              <i class="fa fa-chevron-right iq-pull-right"></i>
              {{::report.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
