<div id="system-configuration-menu" class="iq-dropdown iq-dropdown--system-configuration-menu">
  <a id="system-configuration-menu-dropdown-toggle"
     class="iq-dropdown-toggle iq-dropdown-toggle--main-header"
     data-toggle="dropdown">
    <nx-font-awesome-icon icon="vm.faCog" size="'2x'"></nx-font-awesome-icon>
  </a>
  <div class="dropdown-menu iq-dropdown-menu iq-dropdown-menu--main-header">
    <h4 class="iq-dropdown-menu__title">System Preferences</h4>
    <div id="system-configuration-users"
        ng-if="vm.permissions.CONFIGURE_SYSTEM"
        ng-class="{'active': vm.state.is('users')}">
      <a ui-sref="users" class="iq-dropdown-menu__link--main-header">Users</a>
    </div>
    <div id="system-configuration-roles"
        ng-if="vm.permissions.VIEW_ROLES"
        ng-class="{'active': vm.state.is('roles')}">
      <a ui-sref="roles" class="iq-dropdown-menu__link--main-header">Roles</a>
    </div>
    <div id="system-configuration-administrators"
        ng-if="vm.permissions.CONFIGURE_SYSTEM"
        ng-class="{'active': vm.state.is('administrators')}">
      <a ui-sref="administrators" class="iq-dropdown-menu__link--main-header">Administrators</a>
    </div>
    <div id="system-configuration-product-license"
        ng-if="vm.permissions.CONFIGURE_SYSTEM"
        ng-class="{'active': vm.state.is('productlicense')}">
      <a ui-sref="productlicense" class="iq-dropdown-menu__link--main-header">Product License</a>
    </div>
    <div id="system-configuration-ldap"
        ng-if="vm.permissions.CONFIGURE_SYSTEM"
        ng-class="{'active': vm.state.includes('ldap-servers')}">
      <a ui-sref="ldap-servers" class="iq-dropdown-menu__link--main-header">LDAP</a>
    </div>
    <div id="system-configuration-saml"
         ng-if="vm.permissions.CONFIGURE_SYSTEM"
         ng-class="{'active': vm.state.includes('saml')}">
      <a ui-sref="saml" class="iq-dropdown-menu__link--main-header">SAML</a>
    </div>
    <div id="system-configuration-webhooks"
        ng-if="vm.permissions.CONFIGURE_SYSTEM"
        tooltip="{{vm.isWebhooksSupported ? undefined : 'Webhooks feature is not supported by your license'}}"
        ng-class="{'active': vm.state.includes('webhooks.list'), 'disabled': !vm.isWebhooksSupported}">
      <a ui-sref="webhooks.list"
         class="iq-dropdown-menu__link--main-header"
         ng-click="vm.isWebhooksSupported || $event.preventDefault()">Webhooks</a>
    </div>
    <div id="system-configuration-system-notice"
         ng-if="vm.permissions.CONFIGURE_SYSTEM"
         ng-class="{'active': vm.state.includes('systemNoticeConfiguration')}">
      <a ui-sref="systemNoticeConfiguration" class="iq-dropdown-menu__link--main-header">System Notice</a>
    </div>
    <div id="system-configuration-success-metrics"
         ng-if="vm.permissions.CONFIGURE_SYSTEM"
         ng-class="{'active': vm.state.includes('successMetricsConfiguration')}">
      <a ui-sref="successMetricsConfiguration" class="iq-dropdown-menu__link--main-header">Success Metrics</a>
    </div>
    <div id="system-configuration-automatic-applications"
         ng-if="vm.permissions.MANAGE_AUTOMATIC_APPLICATION_CREATION"
         ng-class="{'active': vm.state.includes('automaticApplicationsConfiguration')}">
      <a ui-sref="automaticApplicationsConfiguration" class="iq-dropdown-menu__link--main-header">
        Automatic Applications
      </a>
    </div>
    <div id="system-configuration-automatic-source-control"
         ng-if="vm.permissions.MANAGE_AUTOMATIC_SCM_CONFIGURATION"
         ng-class="{'active': vm.state.includes('automaticSourceControlConfiguration')}">
      <a ui-sref="automaticSourceControlConfiguration" class="iq-dropdown-menu__link--main-header">
        Automatic SCM Configuration
      </a>
    </div>
  </div>
</div>
