.label-remove {
	opacity: 0.2
}
.label-remove:hover {
	opacity: 0.4;
}
.clmLabel {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.25);
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
	margin-bottom: 5px;
	vertical-align: middle;
	line-height: 14px;
	max-width: 200px;
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
}
.clmLabel span {
	display: inline-block;
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: text-top;
	word-break: break-all;
}
.clmLabel-dropdown {
	color: black !important;
}
.whiteLabel, .Label {
	border-color: #c6c6c6;
}
form[name="labelEditor"] .clmLabel {
	padding: 5px 10px;
}
.clmLabel:hover {
	border-color: #C1C1C1;
}
.yellowLabel, .greyLabel, .whiteLabel, .Label {
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.whiteLabel {
	background-color: #FFFFFF;
	color: black !important;
}
.greyLabel {
	background-color: #C6C6C6;
	color: black !important;
}
.greyLabel:hover {
	border-color: #909090;
}
.blackLabel, .greenLabel, .orangeLabel, .redLabel, .blueLabel {
	color: white !important;
}
.blackLabel .icon-remove, .greenLabel .icon-remove, .orangeLabel .icon-remove, .redLabel .icon-remove, .blueLabel .icon-remove {
	background-image: url("../lib/glyphicon/glyphicons_halflings-white.png") !important;
}

.blackLabel, .blackLabel:hover {
	border-color: #000;
	background-color: #444444;
}
.greenLabel, .greenLabel:hover {
	background-color: #0B9743;
}
.greenLabel:hover {
	border-color: #04642A;
}
.yellowLabel, .yellowLabel:hover {
	background-color: #F5C649;
	color: black !important;
}
.yellowLabel:hover {
	border-color: #D2A429;
}
.orangeLabel, .orangeLabel:hover {
	background-color: #F2862F;
	border-color: #C56213;
}
.redLabel, .redLabel:hover {
	background-color: #880625;
}
.redLabel:hover {
	border-color: #460011;
}
.blueLabel, .blueLabel:hover {
	background-color: #2476C3;
}
.blueLabel:hover {
	border-color: #17558E;
}
.labelContainer:last-child {
	margin-right: 0px;
}
.labelContainer {
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid transparent;
	position: relative;
	margin-right: 5px;
	transition: border linear .2s,box-shadow linear .2s;
}
.clmLabel.active {
	border: 2px solid rgb(82,168,236);
	outline: 0;
	outline: thin solid 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}
.label-list {
	margin-left: 25px;
	margin-bottom: 10px;
}
.tooltip-inner {
	min-width:100px;
	overflow: hidden;
	text-overflow: ellipsis;
}
