.policy-parent, .policy-parent h4 {
	-moz-background-clip: padding; /* for Firefox */
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.policies {
	min-width: 840px;
}
.policies .constraint-name::after {
	content: ", "
}
.policies .constraint-name:last-child::after {
	content: ""
}
.policies tr.constraints, .policies tr.actions {
	vertical-align: text-top;
}
.policies .constraints td.header, .policies .actions td.header {
	min-width: 100px;
	font-weight: bold;
}
.policies .actions .action-item {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #e8e8e8;
	text-align: center;
	padding: 0 10px;
	vertical-align: text-top;
}
.policies .actions .action-item:first-child {
	border-left: none;
	padding-left: 0;
}
.policies .actions .action-item:last-child {
	border-right: none;
}
.add-section .color-selector {
	padding: 0;
}
.deleteHoverTransparent {
	opacity: 0.5;
	filter: alpha(opacity=50);
	vertical-align: top;
	padding: 0;
	margin: 0;
}
.deleteHoverTransparent:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.licenseContainer {
	overflow: auto;
	height: 200px;
	padding: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.licenseContainer > div {
	overflow: auto;
	height: 100%;
}
.licenseContainer .icon-plus-sign, .licenseContainer .icon-minus-sign, .fullWidthPrependedTextBox .icon-remove {
	cursor: pointer
}
#policyName {
	margin-bottom: 0;
}
#constraintName {
	font-weight: normal;
	font-style: normal;
}
.inline-policy-editor .accordion-group, .inline-policy-editor .accordion-group:hover {
	border-width: 1px 1px 0 1px;
	border-color: rgba(0, 0, 0, .1);
	margin: 0;
	border-radius: 0;
}
.inline-policy-editor div.accordion-group:nth-child(odd) {
	background-color: #f9f9f9;
}
.inline-policy-editor div.accordion-group:first-child {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.inline-policy-editor div.accordion-group:last-child {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.inline-policy-editor div.accordion-group .hover-buttons {
  opacity: 0.2;
}
.div.accordion-group .btn-mini {
  border: 1px solid transparent;
}
.inline-policy-editor div.accordion-group:hover .btn-group {
  opacity: 1.0;
}
.div.accordion-group:hover .btn-mini {
  border: 1px solid #ccc;
}
.inline-policy-editor .accordion {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.inline-policy-editor > form {
	margin : 0px;
}
table.policy-actions thead tr:first-child th {
	border : 0;
}
table.policy-actions thead tr:first-child th:nth-child(2) {
	border-radius: 4px 4px 0 0;
	border: 1px solid #ddd;
	border-bottom: 0;
	text-align: center;
	font-weight: normal;
	background-color: #e8e8e8;
	font-size: 12px;
	color: #444;
	line-height: 16px;
}
table.policy-actions>tbody>tr>td:nth-child(2):hover {
	background-color: #FFF;
}
table.policy-actions>tbody>tr>td:nth-child(3):hover {
	background-color: #FFF;
}
table.policy-actions>tbody>tr>td:nth-child(2):hover {
	background: url("../../assets/img/policyalert-k.png") no-repeat center #FFF;
	background-size: 13px;
}
table.policy-actions>tbody>tr>td:nth-child(3):hover {
	background: url("../../assets/img/policyerror-k.png") no-repeat center #FFF;
	background-size: 13px;
}
table.policy-actions td:last-child {
	border-right: 1px solid #ddd;
}
.condition-container {
	padding: 10px;
	margin-bottom:10px;
}
.policy-button > i {
	margin-top : 0px;
}
.condition-value {
	display:inline-block;
	width:690px
}
.condition-value select, .condition-value input {
	vertical-align:top;
}