<div id="security" style='min-width: 955px'>
  <script type='text/ng-template' id='appSecurityEditor'>
    <div style='width:500px; margin:5px'>
      <form name='userSearch' style='margin:0px'>
        <div class="input-prepend">
				<span class="add-on">
					<i class='icon-search' ng-show='!requestActive'> </i>
					<img src='../assets/img/loading.gif' ng-show='requestActive'>
				</span><input placeholder='Find User' type='text' name='filter' ng-model='queryString'>
        </div>
      </form>
      <div>
        <div class='selectList-large'>
          <h5>Applied</h5>
          <div>
            <div>
              <div ng-repeat='grouping in groupings'>
                <div class='large-select-list-header' ng-if='showGroupingHeader(grouping, mappings)'>
                  <i class='glyphicons-sonatype' ng-class='grouping.icon'></i>{{grouping.header}}
                </div>
                <div ng-repeat='mapping in mappings'>
                  <div ng-repeat='member in mapping.members | filter: { displayName : queryString, type : grouping.type } | orderBy:"displayName"'>
                    <div ng-click='removeUser($parent.$index, member)' class='large-select-list-item' ng-class='{  inherited : $parent.$index }'>
                      <i ng-class='{ "icon-minus-sign" : !$parent.$index, "emptyIconGlyph" : $parent.$index }'></i>
                      <span ng-bind-html="member.displayName | highlight:queryString:caseSensitive" class='large-select-list-item-title'></span>
                      <div>
                        <span class='large-select-list-item-detail'>{{member.email}}</span>
                        <span class='large-select-list-item-right-detail'>{{member.realm}}</span>
                      </div>
                      <div style='clear:both'></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='selectList-large'>
          <h5>Available</h5>
          <div>
            <div>
              <div class='large-select-query-item' ng-show="!queryString">Search above to find users</div>
              <div ng-repeat='grouping in groupings'>
                <div class='large-select-list-header' ng-if='showGroupingHeader(grouping, queryResults)'>
                  <i class='glyphicons-sonatype' ng-class='grouping.icon'></i>{{grouping.header}}
                </div>
                <div ng-repeat='user in queryResults | userNotIn:mappings | filter: { type: grouping.type } | orderBy:"displayName"'>
                  <div ng-click='addUser(user)' class='large-select-list-item'>
                    <i class='icon-plus-sign'></i>
                    <span ng-bind-html="user.displayName | highlight:queryString:caseSensitive" class='large-select-list-item-title'></span>
                    <div>
                      <span class='large-select-list-item-detail'>{{user.email}}</span>
                      <span class='large-select-list-item-right-detail'>{{user.realm}}</span>
                    </div>
                    <div style='clear:both'></div>
                  </div>
                </div>
              </div>
              <div class='licenseSelectListItem' ng-show='queryString && !requestActive && queryResults.length == 0'>
                <i class='emptyIconGlyph'></i>&nbsp;<em>No results</em>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style='padding: 10px 0px'>
        <div clm-alerts='alerts'></div>
        <div clm-buttons='buttons' accept-fn='save()' cancel-fn='cancel()' style='text-align:right'></div>
      </div>
    </div>
  </script>
  <div load-error='error' reload='doLoad()'></div>
  <div expand-role-on-event='roleEditClick'></div>
  <div style='text-align: center; margin: 30px' ng-show='!context && !error'>
    <h5>
      <i class='icon-time'></i> Loading...
    </h5>
  </div>
  <div class='fade' ng-class='{in : context && !error}'>
    <div clm-alerts='alerts'></div>
    <div class='role-header'>
      <div class='row'>
        <h4 class='span3'>Role</h4>
        <h4 class='span7'>Users</h4>
      </div>
    </div>

    <div class="accordion roles">
      <div class="accordion-group" ng-repeat='role in context.roles'>
        <div class="accordion-heading role">
          <div class='row' ng-click="expanded = !expanded">
            <div class='span3'>
              <div class='expandable'>{{role.roleName}}</div>
            </div>
            <div class='span8'>
              <div class='hover-buttons floatRight'>
                <button type='button' class="btn btn-mini" title="Edit Role" ng-click='editMode = true' ng-disabled='editMode'>
                  <i class="icon-pencil"></i>
                </button>
              </div>
              <div ng-if='!editMode' class='expandable' ng-show="!context.roleEditMap[role.roleId]" ng-class='{"collapsed" : !expanded}'>
                <div ng-repeat='grouping in groupings' ng-if='showGrouping(grouping, role.membersByOwner)'>
                  <i class='glyphicons-sonatype' ng-class='grouping.icon'></i>
                  <div class='member-list' ng-repeat='mapping in role.membersByOwner' ng-if='mapping.members.length > 0'
                       ng-class='{ "inherited inherited-section" : $last }' ng-init="isLastMapping = $last">
                    <div ng-if="expanded && isLastMapping">
                      <strong>Inherited from parent organization:</strong>
                    </div>
                    <span ng-repeat='member in mapping.members | filter: { type: grouping.type } | orderBy:"displayName"'>
                      {{member.displayName}}<span ng-show="!$last || (!isLastMapping && !expanded && showGrouping(grouping, role.membersByOwner[role.membersByOwner.length - 1].members))">,</span>
                    </span>
                  </div>
                </div>
              </div>
              <div ng-if='editMode'>
                <div app-security-editor='role.membersByOwner' role-id='role.roleId' hide='$parent.editMode = false'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div error-Modal></div>
</div>