<div id="security" style='min-width: 955px'>
	<script type='text/ng-template' id='appSecurityEditor'>
	<div style='width:500px; margin:5px'>
		<form name='userSearch' style='margin:0px'>
			<div class="input-prepend">
				<span class="add-on">
					<i class='icon-search' ng-show='!requestActive'> </i>
					<img src='../assets/img/loading.gif' ng-show='requestActive'>
				</span><input placeholder='Find User' type='text' name='filter' ng-model='queryString'>
			</div>
		</form>
		<div>
			<div class='selectList'>
				<h5>Applied</h5>
				<div>
					<div>
						<div ng-repeat='mapping in mappings'>
							<div ng-repeat='member in mapping.members' ng-click='removeUser($parent.$index, $index)'
									class='licenseSelectListItem'>
								<i ng-class='{ "icon-minus-sign" : !$parent.$index, "emptyIconGlyph" : $parent.$index }'></i>&nbsp;<span title='{{member.displayName}}'>{{member.displayName}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='selectList'>
				<h5>Available</h5>
				<div>
					<div>
						<div ng-repeat='user in queryResults | userNotIn:mappings' ng-click='addUser(user)' class='licenseSelectListItem'>
							<i class='icon-plus-sign'></i>&nbsp;<span title='{{getTooltip(user)}}'>{{getRealname(user)}}</span>
						</div>
						<div class='licenseSelectListItem' ng-show='queryString && !requestActive && !queryResults.length && lastQuery == queryString'>
							<i class='emptyIconGlyph'></i>&nbsp;<i>No results</i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style='text-align:right; padding: 10px 0px; '>
			<div clm-alerts='alerts'></div>
			<span clm-buttons='buttons'></span>
		</div>
	</div>
	</script>
	<div class="content-section">
		<script type='text/ng-template' id='role-item'>
<div ng-show='context.roles' class="accordion">
	<div show-if='role'>
		<form name="roleForm" ng-submit="saveClick(role)">
			<div class="form-horizontal">
				<div class="control-group" ng-class="{ error : roleForm.name.$invalid && roleForm.name.$dirty }">
					<label class="control-label">First Name:</label>
					<div class="controls">
						<input class="input-xlarge" name="name" type="text" ng-required="true" alpha-numeric placeholder="Enter Name" ng-model="role.name" focus-input="role" has-whitespace="suggestedName">
						<div show-if="roleForm.name.$error.alphaNumeric && roleForm.name.$dirty" class="text-error">Must be alpha numeric.</div>
						<div show-if="roleForm.name.$error.required && roleForm.name.$dirty" class="text-error">Field is required.</div>
						<div show-if="roleForm.name.$error.spaces && !roleForm.name.$error.alphaNumeric && roleForm.name.$dirty" class="text-error">No leading, trailing or double spaces or tabs, suggested name: {{suggestedName}}</div>
					</div>
				</div>
			</div>
			<div>
				<button type="button" class='btn' type='button' ng-click='cancelClick(role)'>Cancel</button>
				<button type="submit" class='btn btn-primary' type='button' ng-click='saveClick(role)' ng-disabled='roleForm.$invalid || saving'>Save</button>
			</div>
			<div style="margin-left:25px;" ng-class="{'alert alert-error': errorMsg }">{{errorMsg}}</div>
		</form>
	</div>
</div>
</script>
		<div load-error='error' reload='doLoad()'></div>
		<div expand-role-on-event='roleEditClick'></div>
		<div style='text-align: center; margin: 30px' ng-show='!context && !error'>
			<h5>
				<i class='icon-time'></i> Loading...
			</h5>
		</div>
		<div class='fade' ng-class='{in : context}'>
			<div clm-alerts='alerts'></div>
			<div class="content-header">
				<h4 style="padding-left: 5px;">
					<span>Roles</span> <span style="position: absolute; left: 350px;">People & Groups</span>
				</h4>
			</div>
			<div class="accordion roles">
				<div class="accordion-group" ng-repeat='role in context.roles'>
					<div class="accordion-heading role">
						<div class='btn-group hover-buttons floatRight'>
							<button type='button' class="btn btn-mini hover-button" title="Edit Role" ng-disabled='context.roleEditMap[role.roleId]' ng-click="editClick(role)">
								<i class="icon-pencil"></i>
							</button>
						</div>
						<table style="width:100%" class="accordion-toggle" ng-click="expanded = !expanded">
							<tr>
								<td style="vertical-align: top; width: 315px;" ng-click="expanded = !expanded;">{{role.roleName}}</td>
								<td ng-show="!context.roleEditMap[role.roleId] && !expanded" class="collapsed-cell">{{getUserNames(role)}}</td>
								<td ng-show="!context.roleEditMap[role.roleId] && expanded">
									<div style="border-bottom: 1px solid #E8E8E8;margin-bottom:5px;padding-bottom:5px;">{{getUserNames(role)}}</div>
									<div style="color:#909090;">{{getInheritedUserNames(role)}}</div>
								</td>
								<td ng-show="context.roleEditMap[role.roleId]"><div app-security-editor='role.membersByOwner' roleId='role.roleId' hide='context.roleEditMap[role.roleId] = false'></div></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div error-Modal></div>
</div>