owner-policy-list {
  display: block;
  margin-bottom: 24px;
}

.iq-table--policy-list {
  table-layout: fixed;

  .iq-cell--chevron {
    padding-left: 0;
  }

  .iq-cell--policy-list-stage,
  .policy-list__stage-column {
    white-space: nowrap;
  }

  .iq-threat-bar {
    float: left;
  }

  .policy-list__threat-column {
    width: 91px;
  }

  // All the columns have the same class but require different widths so we have to count them.
  // The numbers represent minimum values for the column header text + arrows to fit.
  $iq-cell-proxy-width: 85px;
  $iq-cell-build-width: 85px;
  $iq-cell-stage-width: 85px;
  $iq-cell-develop-width: 101px;
  $iq-cell-release-width: 98px;
  $iq-cell-operate-width: 101px;

  .policy-list__stage-column {
    // Proxy, Build, and Stage columns
    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(6) {
      width: $iq-cell-proxy-width;
    }

    // Develop column
    &:nth-child(4) {
      width: $iq-cell-develop-width
    }

    // Release column
    &:nth-child(7) {
      width: $iq-cell-release-width;
    }

    // Operate column
    &:nth-child(8) {
      width: $iq-cell-operate-width;
    }
  }

  .iq-cell--policy-list-name {
    @include semi-bold();

    // padding removed for threat bars
    padding-top: 0;
    padding-bottom: 0;
    // values below are the values in the classes above + border
    // last value is the chevron column
    width: calc(100% - (
                        #{$iq-cell-proxy-width} + 1px
                        + #{$iq-cell-build-width} + 1px
                        + #{$iq-cell-stage-width} + 1px
                        + #{$iq-cell-develop-width} + 1px
                        + #{$iq-cell-release-width} + 1px
                        + #{$iq-cell-operate-width} + 1px
                        + 33px
                      )
                    );
  }

  .iq-policy-name {
    display: inline-block;
    padding-top: $iq-spacing-sm;
  }
}

@media only screen and (max-width: 1065px) {
  .iq-table--policy-list {
    .policy-list__threat-column {
      width: 12px;

      .iq-column-sort-trigger {
        span {
          display: none;
        }
      }
    }
  }
}


