<item-description>
  <marked>
    Generic Org/App picker component

    Arguments:

    Params| Type | Details|
    :--- | :--- | :---
    organizations | [{id, name}] | Array of available organizations
    applications  | [{id, name, organizationId, organizationName}] | Array of available applications
    selected-organizations | Set | Set of ids of currently selected organizations
    selected-applications | Set | Set of ids of currently selected applications
    on-change | callback expression | Called with the updated state of selected orgs and apps. Context: {selectedOrganizations: Set, selectedApplications: Set}

    Note: to support existing Dashboard filter, `selected-organizations` and `selected-applications` arguments also accept Object type
    where keys are Ids of selected orgs or apps.
  </marked>
</item-description>

<item-example-html>

  <div ng-controller="orgAppPickerExampleController as vm">
    <iq-org-app-picker organizations="vm.organizations"
                       applications="vm.applications"
                       selected-organizations="vm.selected.organizations"
                       selected-applications="vm.selected.applications"
                       on-change="vm.selectOrgsAndApps(selectedOrganizations, selectedApplications)">
    </iq-org-app-picker>
  </div>
</item-example-html>

<div class="iq-tile">
  <div class="iq-tile-header">
    <div class="iq-tile-header__title">
      <h2>Controller</h2>
    </div>
  </div>
  <div hljs hljs-language="js" hljs-include="'components/iq-org-app-picker/orgAppPickerExampleController.js'"></div>
</div>
