<div id="advanced-search-page" class="iq-body-container iq-body-container--single-pane">
  <div load-wrapper="vm.error"
       loading="vm.isEnabled == null"
       reload="vm.doLoad()">
    <div id="advanced-search-disabled-error"
         class="iq-tile iq-tile--top-tile iq-alert iq-alert--error"
         ng-hide="vm.isEnabled">
      <div class="iq-tile-content">
        <i class="fa fa-warning"></i>Error: Advanced search may have been disabled by your system administrator.
      </div>
    </div>
    <div id="advanced-search-enabled-content" ng-show="vm.isEnabled">
      <div class="iq-tile iq-tile--top-tile">
        <div class="iq-tile-header">
          <div class="iq-tile-header__title">
            <h1>Global Search</h1>
          </div>
        </div>
        <search-bar></search-bar>
      </div>
      <div class="iq-tile">
        <div class="iq-tile-header">
          <div class="iq-tile-header__title">
            <h1 id="search-title">Results: <span>{{vm.totalNumberOfHits ? vm.totalNumberOfHits : 0}}</span></h1>
            <div id="search-navigation">
              <button class="iq-btn iq-btn--primary" ng-click="vm.previous()">Previous</button>
              <h1>Page {{vm.page}} of {{vm.getMaxPage()}}</h1>
              <button class="iq-btn iq-btn--primary" ng-click="vm.next()">Next</button>
            </div>
          </div>
        </div>
      </div>
      <div class="iq-tile-scroll-container" scrollspy="#search-results" maximize-container-height>
        <div id="search-results" class="iq-tile" reload="vm.load()">
          <div ng-repeat="groupingBy in vm.results">
            <span ng-if="$index != 0"><br/></span>
            <h2>{{groupingBy.groupBy}}</h2>
            <p ng-if="groupingBy.additionalInfo">
              {{groupingBy.additionalInfo}}
              <span ng-if="groupingBy.groupIdentifier == 'VULNERABILITY_ID' || groupingBy.groupIdentifier == 'VULNERABILITY_DESCRIPTION'">
            Click <a ng-href="/assets/#/vulnerabilities/{{groupingBy.groupBy}}">here</a> for detailed information.
          </span>
              <br/>
            </p>
            <div ng-repeat="result in groupingBy.searchResultItemDTOS">
              <span class="result-number">{{result.resultIndex}}</span>
              <table class="result-table">
                <hr ng-if="$index == 0" style="border-width: 0.5px"/>
                <tr ng-if="result.organizationId && result.organizationName
            && (result.itemType == 'ORGANIZATION' || groupingBy.groupIdentifier != 'ORGANIZATION_NAME')">
                  <td><i class="fa fa-sitemap iq-owner-tree-view__icon--12px inverse"></i></td>
                  <td>Organization:</td>
                  <td>
                    <a ui-sref="management.view.organization({organizationId: result.organizationId})">
                      {{result.organizationName}}
                    </a>
                  </td>
                </tr>
                <tr ng-if="result.applicationPublicId && result.applicationName
            && (result.itemType == 'APPLICATION' || groupingBy.groupIdentifier != 'APPLICATION_NAME')">
                  <td><i class="fa fa-terminal iq-owner-tree-view__icon--12px inverse"></i></td>
                  <td>Application:</td>
                  <td>
                    <a ui-sref="management.view.application({applicationPublicId: result.applicationPublicId})">
                      {{result.applicationName}}
                    </a>
                  </td>
                </tr>
                <tr ng-if="result.componentName">
                  <td><i class="fa fa-cogs iq-owner-tree-view__icon--12px inverse"></i></td>
                  <td>Component:</td>
                  <td>{{result.componentName}}</td>
                </tr>
                <tr ng-if="result.applicationPublicId && result.reportId && result.policyEvaluationStage">
                  <td><i class="sonatype-icons medium reporting"></i></td>
                  <td>Report:</td>
                  <td>
                    <a ui-sref="applicationReport.policy({publicId: result.applicationPublicId, scanId: result.reportId})">
                      {{result.policyEvaluationStage}}
                    </a>
                  </td>
                </tr>
                <tr ng-if="result.vulnerabilityId && groupingBy.groupIdentifier != 'VULNERABILITY_ID'">
                  <td><i class="fa fa-exclamation-triangle iq-owner-tree-view__icon--12px inverse"></i></td>
                  <td>Security Issue:</td>
                  <td><a ng-href="/assets/#/vulnerabilities/{{result.vulnerabilityId}}">{{result.vulnerabilityId}}</a></td>
                </tr>
                <tr ng-if="result.vulnerabilityDescription && groupingBy.groupIdentifier != 'VULNERABILITY_ID'">
                  <td><i class="fa fa-file-text iq-owner-tree-view__icon--12px inverse"></i></td>
                  <td>Description:</td>
                  <td>{{result.vulnerabilityDescription}}</td>
                </tr>
                <tr ng-if="result.organizationId && result.applicationCategoryColor && result.applicationCategoryId && result.applicationCategoryName">
                  <td>
                    <hexagon class="size-16px size-fw {{result.applicationCategoryColor}}"></hexagon>
                  </td>
                  <td>Application Category:</td>
                  <td>
                    <a href="#/management/edit/organization/{{result.organizationId}}/category/{{result.applicationCategoryId}}">{{result.applicationCategoryName}}</a>
                    <span ng-if="result.applicationCategoryDescription">- {{result.applicationCategoryDescription}}</span>
                  </td>
                </tr>
                <tr ng-if="result.componentLabelColor && result.componentLabelId && result.componentLabelName">
                  <td><i class="fa fa-tag size-16px size-fw {{result.componentLabelColor}}"></i></td>
                  <td>Component Label:</td>
                  <td>
                    <a ng-if="result.organizationId"
                       href="#/management/edit/organization/{{result.organizationId}}/label/{{result.componentLabelId}}">{{result.componentLabelName}}</a>
                    <a ng-if="result.applicationPublicId"
                       href="#/management/edit/application/{{result.applicationPublicId}}/label/{{result.componentLabelId}}">{{result.componentLabelName}}</a>
                    <span ng-if="result.componentLabelDescription">- {{result.componentLabelDescription}}</span>
                  </td>
                </tr>
                <tr ng-if="result.policyId && result.policyName && result.policyThreatLevel && result.policyThreatCategory">
                  <td><i class="fa fa-bank size-16px size-fw"></i></td>
                  <td>Policy:</td>
                  <td>
                    <span class="iq-threat-indicator {{vm.threatIndicator(result.policyThreatLevel)}}">{{result.policyThreatLevel}}</span>
                    <span>{{result.policyThreatCategory}} -</span>
                    <a ng-if="result.organizationId"
                       href="#/management/edit/organization/{{result.organizationId}}/policy/{{result.policyId}}">{{result.policyName}}</a>
                    <a ng-if="result.applicationPublicId"
                       href="#/management/edit/application/{{result.applicationPublicId}}/policy/{{result.policyId}}">{{result.policyName}}</a>
                  </td>
                </tr>
              </table>
              <hr style="border-width: 0.5px"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
