<div id="global-search-outer-wrapper">
  <form id="advanced-search-query-form" ng-submit="vm.query && vm.search()">
    <input id="global-search-input"
           type="text"
           list="global-search-suggestions-list"
           class="iq-text-input--long"
           ng-model="vm.query"
           placeholder="Start typing your query for suggestions"
           ng-keyup="vm.query && vm.searchSuggester()">
    <button id="global-search-button" class="iq-btn iq-btn--primary" type="submit">
      Search
    </button>
  </form>
  <datalist id="global-search-suggestions-list">
    <option ng-repeat="suggestion in vm.suggestions track by $index" value="{{suggestion}}">
  </datalist>
</div>
