.result-table {
  tr td {
    vertical-align: top;
  }

  tr td:nth-child(2) {
    white-space: nowrap;
  }
}

#search-navigation {
  margin-left: auto;
  margin-right: 0;

  h1 {
    padding: 0 10px;
    vertical-align: middle;
  }
}

#search-results {
  hr {
    border: 1px solid;
  }
}

#search-title {
  span {
    color: orangered;
  }
}

.iq-form--advanced-search {
  display: flex;
}

.iq-text-input--advanced-search {
  flex-grow: 1;
  margin-right: 8px;
}
