<div class='scrollable-root-container' maximize-container-height>
  <div load-wrapper="error" reload="doLoad()" ng-if="$state.is('roles')">
    <div authorization-wrapper="isAuthorized" class="iq-tile iq-tile--sys-prefs">
      <div class="iq-tile__actions">
        <button class='btn pull-right' ng-click="newRole()" id='create-role' ng-disabled='readOnly'>
          <i class='icon icon-plus'></i> Create Role
        </button>
      </div>
      <div class="iq-tile-header iq-tile-header--sys-prefs">
        <div class="iq-tile-header__title">
          <h2>Roles</h2>
        </div>
      </div>
      <div class='iq-tile-content iq-tile-content--roles' ng-hide='roles'>
        <h5>
          <i class='icon-time'></i> Loading...
        </h5>
      </div>
      <div class="iq-tile-content" ng-show='roles'>
        <h4 class="iq-action-list__title">Built-In</h4>       
        <ul class="iq-action-list" id='builtin-roles'>
          <li ng-repeat="role in roles | filter:{ builtIn : true }"
              ui-sref="roles.editor({roleId: role.id})"
              class="iq-action-list__item iq-action-list__item--tall">
            <i class="fa fa-chevron-right iq-pull-right"></i>
            <p class="iq-action-list__text">{{role.name}}</p>
            <p class="iq-action-list__subtext">{{role.description}}</p>
          </li>
        </ul>
        <h4 class="iq-action-list__title">Custom</h4>
        <p ng-if='(roles | filter:{ builtIn : false }).length === 0'>
          No custom roles defined. Click "Create Role" in the upper right to add one.
        </p>
        <ul ng-if='(roles | filter:{ builtIn : false }).length > 0' id='custom-roles' class="iq-action-list">
          <li ng-repeat="role in roles | filter:{ builtIn : false }"
              ui-sref="roles.editor({roleId: role.id})"
              class="iq-action-list__item iq-action-list__item--tall">
            <i class="fa fa-chevron-right iq-pull-right"></i>
            <p class="iq-action-list__text">{{role.name}}</p>
            <p class="iq-action-list__subtext">{{role.description}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ui-view></div>
</div>
