<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011-present Sonatype, Inc. All rights reserved.
    Includes the third-party code listed at http://links.sonatype.com/products/clm/attributions.
    "Sonatype" is a trademark of Sonatype, Inc.

-->
<configuration debug="false">
  <timestamp key="bySecond" datePattern="yyyyMMdd-HHmmss"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${com.sonatype.insight.scan.outDir}/scan-${com.sonatype.insight.scan.startTime}.log</file>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.sonatype.insight.scan.cli.logger.MaskingPatternLayout">
        <!-- Please ensure you use a valid regex expression, CLI won't work on runtime if you use an invalid
         regex expression. -->
        <!-- To properly mask sensitive data, ensure you have a regex with one group, the group is the one
         that will be masked -->
        <maskPattern>Authorization: (.*)</maskPattern>
        <maskPattern>Proxy-Authorization: (.*)</maskPattern>
        <pattern>[%level] %m%n</pattern>
      </layout>
    </encoder>
    <filter class="com.sonatype.insight.scan.cli.MarkerFilter">
      <marker>PATHS</marker>
      <onMatch>ACCEPT</onMatch>
    </filter>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.sonatype.insight.scan.cli.logger.MaskingPatternLayout">
        <!-- Please ensure you use a valid regex expression, CLI won't work on runtime if you use an invalid
         regex expression. -->
        <!-- To properly mask sensitive data, ensure you have a regex with one group, the group is the one
         that will be masked -->
        <maskPattern>Authorization: (.*)</maskPattern>
        <maskPattern>Proxy-Authorization: (.*)</maskPattern>
        <pattern>[%level] %m%n</pattern>
      </layout>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
  <logger name="org.apache.http.wire" level="WARN" />
</configuration>
