<item-description>
  <marked>
    `submit-validation` directive. Visually enables/disables a form submit button based on the validity of the form.
    NOTE: Does not actually disable the submit button - the form submit handler or button click handler must also
    check the form validity before saving.

    Arguments:

    Params                | Type        | Details
    :---                  | :---        | :---
    submit-dirty          | expression  | expression computing to a boolean indicating whether the form is dirty
    submit-type           | expression  | optional - expression computing to a string which should be a verb describing the submission action. Defaults to 'save'. If it is 'update', submission will be blocked when submit-dirty is false
    submit-tooltip-target | string | optional - CSS selector of element to bind tooltip to. Useful for elements that are relatively positioned

  </marked>
</item-description>

<item-example-html>
  <div ng-controller="submitValidationExampleController as vm">
    <!--
        Always use novalidate in conjunction with this directive to prevent redundant validation warnings indicators
    -->
    <form novalidate class="iq-form" name="vm.saveForm" ng-submit="vm.submitSaveForm()">
      <h3>Simple "save" Form</h3>
      <input type="text"
             name="vm.saveFormInput"
             clm-input
             ng-required="true"
             ng-model="vm.saveVal"
             class="iq-text-input">
      <!-- No dirtiness checking here, submit-validation will rely strictly on form validity -->
      <button class="btn btn-primary" submit-validation submit-dirty="true">Save</button>
    </form>

    <form novalidate class="iq-form" name="vm.updateForm" ng-submit="vm.submitUpdateForm()">
      <h3>"update" form with dirty checking</h3>
      <input type="text"
             name="vm.updateFormInput"
             clm-input
             ng-required="true"
             ng-model="vm.updateVal"
             class="iq-text-input">
      <button class="btn btn-primary"
              submit-validation
              submit-dirty="vm.updateFormIsDirty()"
              submit-type="update">
        Update
      </button>
    </form>

    <section>
      <h3>Saved values:</h3>
      <dl>
        <dt>From "save" form:</dt><dd>{{vm.savedSaveFormVal}}</dd>
        <dt>From "update" form:</dt><dd>{{vm.savedUpdateFormVal}}</dd>
      </dl>
    </section>
  </div>
</item-example-html>

<div class="iq-tile">
  <h3>Controller</h3>
  <div hljs hljs-language="js" hljs-include="'directives/submit-validation/submitValidationExampleController.js'"></div>
</div>
