<form class="dashboard-filter-container" ng-submit="vm.applyCurrentFilter()">
  <div class="dashboard-filter-header">
    <div id="manage-filters-dropdown"
         class="iq-dropdown pull-right"
         dropdown
         on-toggle="vm.toggleManageFiltersDropdown(open)">
      <button id="manage-filters-button"
              class="btn btn-default btn-tertiary iq-dropdown-toggle"
              type="button"
              dropdown-toggle>
        Manage <span class="caret"></span>
      </button>
      <manage-filter-menu ng-if="vm.isManageFiltersDropdownOpen"
                          class="dropdown-menu iq-dropdown-menu">
      </manage-filter-menu>
      <save-filter-modal ng-if="vm.showSaveFilterModal"></save-filter-modal>
    </div>

    <div class="dashboard-filter-header-title">
      Filter
    </div>
    <div class="dashboard-filter-name-container">
      <div class="dashboard-filter-name" ng-if="vm.appliedFilterName">
        {{vm.appliedFilterName}}<span class="dashboard-filter-dirty-asterisk" ng-if="vm.showDirtyAsterisk">*</span>
      </div>
    </div>
    <div ng-show="vm.loadErrorFilterName" class="iq-alert iq-alert--error">
      <i class="fa fa-warning"></i>Failed to load {{vm.loadErrorFilterName}}
    </div>
  </div>
  <div class="dashboard-filter" ng-class="{'iq-apply-error-present': vm.saveError}">
    <div load-wrapper="vm.loadError"
         reload="vm.loadFilter()"
         error-message="Unable to load filter data."
         loading="vm.loading">
      <iq-org-app-picker organizations="vm.organizations"
                         applications="vm.applications"
                         selected-organizations="vm.selected.organizations"
                         selected-applications="vm.selected.applications"
                         on-change="vm.toggleAppsAndOrgs(selectedOrganizations, selectedApplications)"
                         id="org-app-filters">
      </iq-org-app-picker>

      <iq-tree-view-multi-select available="vm.categories"
                                 selected="vm.selected.categories"
                                 on-change="vm.toggleFilter('categories', selected)"
                                 tooltip-generator="entity.owner ? 'in ' + entity.owner : entity.description"
                                 filter-placeholder="Category"
                                 name="application categories"
                                 id="category-filter">
        <hexagon class="size-16px size-fw outline"></hexagon>Application Categories
      </iq-tree-view-multi-select>

      <iq-tree-view-multi-select available="vm.stages"
                                 selected="vm.selected.stages"
                                 on-change="vm.toggleFilter('stages', selected)"
                                 filter-placeholder="Stage"
                                 name="stages"
                                 id="stage-filter">
        Stages
      </iq-tree-view-multi-select>

      <iq-tree-view-multi-select available="vm.policyTypes"
                                 selected="vm.selected.policyTypes"
                                 on-change="vm.toggleFilter('policyTypes', selected)"
                                 filter-placeholder="Policy Type"
                                 name="policy types"
                                 id="policy-type-filter">
        Policy Types
      </iq-tree-view-multi-select>

      <iq-tree-view-multi-select available="vm.policyViolationStates"
                                 selected="vm.selected.policyViolationStates"
                                 on-change="vm.toggleFilter('policyViolationStates', selected)"
                                 filter-placeholder="Violation State"
                                 name="violation states"
                                 id="policy-violation-state-filter">
        Violation State
      </iq-tree-view-multi-select>

      <iq-tree-view-radio-select id="age-filter"
                                 ng-if="vm.showAgeFilter"
                                 available="vm.ages"
                                 selected-id="vm.selected.maxDaysOld"
                                 on-change="vm.selectAge(selected)">
        Age
      </iq-tree-view-radio-select>

      <iq-tree-view-policy-threat-level-slider id="threat-level-filter"
                                               class="iq-threat-level-filter"
                                               selected-range="vm.selected.policyThreatLevels"
                                               on-change="vm.toggleFilter('policyThreatLevels', value)">
      </iq-Tree-View-Policy-Threat-Level-slider>

    </div>
  </div>
  <div class="dashboard-filter-footer" ng-class="{'iq-apply-error-present': vm.saveError}" submit-wrapper="vm.saveError" retry="vm.applyCurrentFilter()">
    <button id="dashboard-filter-apply"
            class="btn btn-primary"
            type="submit"
            submit-validation
            submit-dirty="vm.filtersAreDirty || vm.needsAcknowledgement"
            submit-type="update"
            submit-tooltip-target='body'>
      Apply
    </button>
    <button id="dashboard-filter-revert"
            class="btn btn-tertiary"
            ng-class="{disabled: !vm.filtersAreDirty}"
            type="button"
            ng-click="vm.revert()">
      Revert
    </button>
    <button id="dashboard-filter-clear" class="btn btn-tertiary" type="button" ng-click="vm.clear()">Clear</button>
  </div>
</form>
