<div ng-controller="ClaimComponentController" style='padding: 5px' class='claimComponent'>
	<div ng-show='createSuccess' class='alert alert-success' style='margin:auto;margin-top:20px;padding-top:5px;width:50%'>
		<h4>Success:</h4>
		<p>{{createSuccess}}</p>
	</div>
	<div ng-show='createError' class='alert alert-error'  style='margin:auto;margin-top:20px;padding-top:5px;width:50%'>
		<h4>Error</h4>
		<p>{{createError}}</p>
		<p><button type='button' class='btn btn-danger' ng-click='createError = null'><i class='icon-white  icon-arrow-left'></i> Back</button></p>
	</div>
	<div class='well' ng-hide='createSuccess || createError'>
		<form name="claimForm" novalidate ng-submit="claimSubmit()">
			<table>
				<tr>
					<td style='vertical-align: top; width: 50%;'>
						<div class='form-horizontal'>
							<div class='control-group' style='margin-bottom: 10px;'>
								<label class='control-label'>Group ID</label>
								<div class='controls'>
									<input name="groupId" class='input-xlarge' type='text' ng-model='claimData.groupId' placeholder='Enter group id...' disablenav required />
									<div class="validation-error" ng-show="submitted && claimForm.groupId.$error.required">
										<span>Group ID is required</span>
									</div>
								</div>
							</div>
							<div class='control-group' style='margin-bottom: 10px;'>
								<label class='control-label'>Artifact ID</label>
								<div class='controls'>
									<input name='artifactId' class='input-xlarge' type='text' ng-model='claimData.artifactId' placeholder='Enter artifact id...' disablenav
										required />
									<div class="validation-error" ng-show="submitted && claimForm.artifactId.$error.required">
										<span>Artifact ID is required</span>
									</div>
								</div>
							</div>
							<div class='control-group' style='margin-bottom: 10px;'>
								<label class='control-label'>Version</label>
								<div class='controls'>
									<input name='version' class='input-xlarge' id='claimVersion' type='text' ng-model='claimData.version' placeholder='Enter version...'
										disablenav required />
									<div class="validation-error" ng-show="submitted && claimForm.version.$error.required">
										<span>Version is required</span>
									</div>
								</div>
							</div>
							<div class='control-group' style='margin-bottom: 10px;'>
								<label class='control-label'>Classifier</label>
								<div class='controls'>
									<input class='input-xlarge' type='text' ng-model='claimData.classifier' disablenav />
								</div>
							</div>
						</div>
					</td>
					<td style='vertical-align: top; width: 50%;'>
						<div class='form-horizontal'>
							<div class='control-group' style='margin-bottom: 10px;'>
								<label class='control-label'>Extension</label>
								<div class='controls'>
									<input class='input-xlarge' type='text' ng-model='claimData.extension' disablenav />
								</div>
							</div>
							<div class='control-group' style='margin-bottom: 10px;'>
								<label class='control-label'>Created</label>
								<div class='controls'>
									<div class="input-append date" data-date="{{claimData.createTimeText}}" datepicker>
										<input class="span2" name="createTimeText" type="text" ng-model="claimData.createTimeText"
											ng-pattern='/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(199\d|[2-9]\d{3})$/' disablenav><span class="add-on"><i
											class="icon-calendar"></i></span>
									</div>
									<div class="validation-error" ng-show="claimForm.createTimeText.$dirty && claimForm.createTimeText.$error.pattern">
										<span>Date format is MM/DD/YYYY</span>
									</div>
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'>Comment</label>
								<div class='controls'>
									<textarea class='input-xlarge' ng-model='claimData.comment' style='height: 86px;' disablenav></textarea>
								</div>
							</div>
							<div class='controls' style='text-align: right;'>
								<button type='none' class='btn btn-primary' ng-disabled="disableSubmit" disablenav>Claim</button>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
