<div ng-controller="ClaimComponentController" style='padding:5px' class='claimComponent'>
	<div class='well'>
		<table>
			<tr>
				<td colspan='2'>
					<div ng-show='createError' class='alert alert-error' style='width:775px;'>
						<button type='button' class='close' ng-click='createError = ""'>&times;</button>
						<strong>Error:</strong> {{createError}}
					</div>
					<div ng-show='createSuccess' class='alert alert-success' style='width:775px;'>
						<button type='button' class='close' ng-click='createSuccess = ""'>&times;</button>
						<strong>Success:</strong> {{createSuccess}}
					</div>
				</td>
			</tr>
			<tr>
				<td style='vertical-align:top;width:50%;'>
					<div class='form-horizontal'>
						<div class='control-group' style='margin-bottom:10px;'>
							<label class='control-label'>Group ID</label>
			                <div class='controls'>
			            		<input class='input-xlarge' type='text' ng-model='claimData.groupId' placeholder='Enter group id...' disablenav/>
			            	</div>
			            </div>
			            <div class='control-group' style='margin-bottom:10px;'>
							<label class='control-label'>Artifact ID</label>
			            	<div class='controls'>
			            		<input class='input-xlarge' type='text' ng-model='claimData.artifactId' placeholder='Enter artifact id...' disablenav/>
			            	</div>
			            </div>
			            <div class='control-group' style='margin-bottom:10px;'>
							<label class='control-label'>Version</label>
			            	<div class='controls'>
			            		<input class='input-xlarge' id='claimVersion' type='text' ng-model='claimData.version' placeholder='Enter version...' disablenav/>
			                </div>
			            </div>
			            <div class='control-group' style='margin-bottom:10px;'>
							<label class='control-label'>Classifier</label>
			            	<div class='controls'>
			            		<input class='input-xlarge' type='text' ng-model='claimData.classifier' placeholder='Enter classifier...' disablenav/>
			                </div>
			            </div>
			            <div class='control-group' style='margin-bottom:10px;'>
							<label class='control-label'>Extension</label>
			            	<div class='controls'>
			            		<input class='input-xlarge' type='text' ng-model='claimData.extension' placeholder='Enter extension...' disablenav/>
			                </div>
			            </div>
					</div>
				</td>
				<td style='vertical-align:top;width:50%;'>
					<div class='form-horizontal'>
					    <div class='control-group' style='margin-bottom:10px;'>
							<label class='control-label'>Created</label>
			            	<div class='controls'>
				            	<div class="input-append date" data-date="{{claimData.createTime}}" datepicker>
									<input class="span2" type="text" ng-model="claimData.createTime" readonly disablenav>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>	
			                </div>
			            </div>
						<div class='control-group'>
							<label class='control-label'>Comment</label>
			            	<div class='controls'>
			            		<textarea class='input-xlarge' ng-model='claimData.comment' style='height:86px;padding:0px;margin-bottom:0px;' placeholder='Enter comment...' disablenav></textarea>
			            	</div>
			            </div>
		            </div>
				</td>
			</tr>
		</table>
		<div class='controls' style='text-align:right;padding-right:45px;'>
			<button type='none' class='btn btn-primary' ng-disabled='!formValid()' ng-click='claimClick()' disablenav>Claim</button>
		</div>
	</div>
</div>
