<div id="policy">
	<div class='row' ng-show='!state && !httpError'>
		<div class='content-container span4 offset4' style='text-align:center'>
			<h5><i class='icon-time'></i> Loading...</h5>
		</div>
	</div>
	<div class='fade' ng-class='{in : state}'>
		<div class='row'>
			<div class='span6 offset3'>
				<div class='content-container' style='text-align:center;padding-top: 5px;padding-right: 20px;margin-bottom:10px;'>
					<p ng-show='!state.policyList.length'>No Policies have been defined.</p>
					<p><a href="#/policy/new">Create</a> a new Policy.</p>
					<table class='table table-striped table-bordered' style='margin:10px'>
			            <thead>
			            <tr>
			                <th ng-repeat='stage in state.actionStageList | filterReportColumns' style='padding: 4px' class='buttonColumn'>
			                    {{stage.name}} Report
			                </th>
			            </tr>
			            </thead>
			            <tr>
			                <td ng-repeat='stage in state.actionStageList | filterReportColumns'>
			                    <div ng-show='stageTypeId == stage.id' ng-repeat='(stageTypeId, result) in application.policyEvaluationsResults'>
			                    	<a ng-show='stageTypeId == stage.id' class='no-hover-underline' style='vertical-align: middle;'
				                       ng-repeat='(stageTypeId, policyEvaluation) in application.policyEvaluations'
				                       title='View Report' href='../application-assets/#/report/{{encodeURIComponent(application.publicId)}}/{{stage.id}}'>
				                    	<img src='../assets/img/glyphicons_263_bank.png' />
				                    	<span ng-show='result.criticalComponentCount > 0' class='threat-chiclet threat-chiclet-critical'>{{result.criticalComponentCount}}</span>
				                   		<span ng-show='result.severeComponentCount > 0' class='threat-chiclet threat-chiclet-severe'>{{result.severeComponentCount}}</span>
				                   		<span ng-show='result.moderateComponentCount > 0' class='threat-chiclet threat-chiclet-moderate'>{{result.moderateComponentCount}}</span>
				            			<span ng-show='result.criticalComponentCount == 0 && result.severeComponentCount == 0 && result.moderateComponentCount == 0' style="color:#000000;">No violations</span>
			            			</a>
			                    	<a ng-show='stageTypeId == stage.id' title="{{policyEvaluation.time | date:'yyyy-MM-dd'}}"
				                    	ng-repeat='(stageTypeId, policyEvaluation) in application.policyEvaluations'
				                    	ng-click='reEvaluatePolicy(application, policyEvaluation)'>
				                    	<i ng-show='!reEvaluatingPolicy' class='icon-refresh'></i>
				                    	<i ng-show='reEvaluatingPolicy' class='icon-time'></i>	
			                    	</a>
			                   	</div>
			                </td>
			            </tr>
			        </table>
		        </div>
	        </div>
        </div>
		<div>
		    <div class="policy-item" ng-repeat="policy in state.policyList">
				<div style="float:right;" class='btn-group'>
					<a class="btn btn-mini policy-button" title="Edit Policy" ng-href='#/policy/{{policy.id}}'"><i
						class="icon-pencil" style="margin-top:0px;"></i></a>
					<a class="btn btn-mini policy-button" title="Remove Policy" ng-click="viewRemovePolicy(policy)"><i
						class="icon-trash" style="margin-top:0px;"></i></a>
				</div>
				<div style='max-height: 60px; overflow: hidden;'>
					<span class="threat-box threat-level-{{policy.threatLevel}}"></span>&nbsp;<b style='vertical-align:middle'>{{policy.name}}</b>
				</div>
				<div ng-pluralize count='policy.constraints.length'
					when="{ '0': 'No constraints to be evaluated',
							'1': '1 Constraint to be evaluated',
							'other': '{{policy.constraints.length}} Constraints to be evaluated'
					}"></div>
				<div>
					<div ng-pluralize count='getActionCount(policy)'
						when="{ '0': 'No actions assigned',
								'1': '1 Action assigned',
								'other': '{{getActionCount(policy)}} Actions assigned'
						}"></div>
					<ul style="list-style:none;"><li>{{getActions(policy)}}</li></ul>
				</div>
		    </div>
		</div>
	</div>
	<div id="httpErrorModal" data-backdrop="static" class="modal fade">
		<div class="modal-header">
		    <h3>{{httpError.header}}</h3>
		</div>
		<div class="modal-body">
			<div ng-bind-html="httpError.body | escape"></div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal">OK</button>
		</div>
	</div>
	<div id="confirmationModal" data-backdrop="static" class="modal fade">
		<div class="modal-header">
			<h3>{{state.confirm.header}}</h3>
		</div>
		<div class="modal-body">
			<p>{{state.confirm.body}}</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss='modal'>{{state.confirm.declineText}}</button>
		    <button class="btn btn-danger" ng-click="state.confirm.acceptFn()">{{state.confirm.acceptText}}</button>
		</div>
	</div>
</div>