/*
  #Radio inputs
*/

.iq-radio {
  @include regular();

  display: block;
  font-size: 14px;
  margin-left: 24px;
  padding-left: 24px;
  position: relative;

  &:hover:not(.iq-radio--disabled) {
    cursor: pointer;
  }
}

iq-radio {
  display: block;
  margin-bottom: 1px;

  &:last-child {
    margin-bottom: 0;
  }
}

input.iq-radio__input {
  display: none;

  &:checked + .iq-radio__circle::after {
    background-color: $iq-slate;
    border: 1px solid $iq-slate;
    border-radius: 50%;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    z-index: 0;
  }
}

.iq-radio__circle {
  color: $iq-off-black;
  cursor: pointer;
  display: inline-block;
}

.iq-radio__circle::before, .iq-radio__circle::after {
  content: '';
  height: 14px;
  margin-top: 2px;
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  z-index: 0;
}

.iq-radio__circle::before {
  border: 1px solid $iq-slate;
  border-radius: 50%;
}

.iq-radio--disabled {
  color: $iq-grey-4;

  .iq-radio__circle {
    color: $iq-slate;
    cursor: default;

    &::before {
      border-color: $iq-grey-4;
    }
  }

  .iq-radio__input:checked + .iq-radio__circle::after {
    background-color: $iq-grey-4;
    border-color: $iq-grey-4;
  }
}
