@import "results/cipModal/cipModal";
@import "rawData/applicationReportRawData";

$iq-application-report-policy-threat-level-width: 90px;
$iq-application-report-policy-name-width: 225px;
$iq-application-report-policy-name-filter-width:
  $iq-application-report-policy-threat-level-width
  + $iq-application-report-policy-name-width;

#application-report-sidebar {
  &.iq-sidebar {
    padding-top: 12px;
  }
}

#application-report {
  .iq-body-container {
    overflow-y: hidden;
  }

  .iq-spinner__wrapper {
    padding: 8px;
  }
}

.iq-tile-content--indicators {
  margin-bottom: 8px;
}

.iq-cell--application-report-policy-threat-level {
  width: $iq-application-report-policy-threat-level-width;
}

.iq-table--fixed__content .iq-cell--application-report-policy-threat-level {
  padding-left: 0;
}

.iq-cell--application-report-policy-name {
  width: $iq-application-report-policy-name-width;
}

.iq-cell--application-report-component-display {
  width: calc(100% - #{$iq-application-report-policy-threat-level-width + $iq-application-report-policy-name-width});
  min-width: 0;

  .iq-text-indicator {
    margin-left: 12px;
  }
}

.iq-cell--application-report-policy-name-filter {
  width: $iq-application-report-policy-name-filter-width;
}

.iq-cell--application-report-component-name-filter {
  width: calc(100% - #{$iq-application-report-policy-threat-level-width + $iq-application-report-policy-name-width});
}
