@import "results/cipModal/cipModal";
@import "rawData/applicationReportRawData";

$iq-application-report-policy-threat-level-width: 90px;
$iq-application-report-policy-name-width: 225px;
$iq-application-report-policy-name-filter-width:
  $iq-application-report-policy-threat-level-width
  + $iq-application-report-policy-name-width;

$iq-application-report-vulnerability-security-issue-width: 130px;
$iq-application-report-vulnerability-cvss-issue-width: 100px;
$iq-application-report-vulnerability-threat-level-width: 62px;

#application-report {
  .iq-sidebar {
    padding-right: $iq-spacing-xs;
    padding-left: $iq-spacing-xs;
  }

  .iq-page-title {
    margin-right: 12px;
  }

  .iq-body-container {
    overflow-y: hidden;
  }

  .iq-spinner__wrapper {
    padding: 8px;
  }

  .iq-form-group legend {
    border-bottom: 1px solid $iq-grey-4;
  }

  .iq-back-button {
    margin-bottom: $iq-spacing-sm;
  }
}

.iq-dropdown--application-results-options {
  .iq-dropdown-menu {
    left: -96px;
  }
}

#application-report-policy-type-filter-warning {
  margin-top: 0;
}

.iq-cell--application-report-policy-threat-level {
  width: $iq-application-report-policy-threat-level-width;
}

tbody .iq-cell--application-report-policy-threat-level {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.iq-cell--application-report-policy-name {
  width: $iq-application-report-policy-name-width;
}

.iq-cell--application-report-component-display {
  width: calc(100% - #{$iq-application-report-policy-threat-level-width + $iq-application-report-policy-name-width});
  min-width: 0;
}

tbody .iq-cell--application-report-component-display {
  padding-left: 4px;

  .iq-component-display {
    display: inline;
  }

  .iq-dependency-indicator {
    margin-right: 8px;
  }
}

.iq-cell--application-report-policy-name-filter {
  width: $iq-application-report-policy-name-filter-width;
}

.iq-cell--application-report-component-name-filter {
  width: calc(100% - #{$iq-application-report-policy-threat-level-width + $iq-application-report-policy-name-width});
}

#application-report-vulnerabilities-table {
  table-layout: fixed;

  .iq-vulnerability-printable-link {
    display: none;
  }
}

.iq-cell--vulnerability-policy-threat-level {
  width: $iq-application-report-vulnerability-threat-level-width;
}

.iq-cell--vulnerability-security-code {
  width: $iq-application-report-vulnerability-security-issue-width;
}

.iq-cell--vulnerability-cvss {
  width: $iq-application-report-vulnerability-cvss-issue-width;
}
