<div id="owner-editing-detail-tree-view" class="iq-owner-tree-view iq-owner-tree-view--detail">
  <div load-wrapper="vm.loadError" loading="vm.loading" reload="vm.doLoad()">
    <div class="iq-owner-tree-view__header">
      <a same-owner-view-sref>
        <i class="fa fa-chevron-left size-14px"></i>{{vm.ownerName}}
      </a>
    </div>
    <div id="application-category-tree-view-group"
         ng-if="!vm.isRepositories"
         class="iq-tree-view iq-owner-tree-view">
      <a class="iq-tree-view__trigger iq-owner-tree-view__row"
         ng-class="{ 'child-selected': vm.state.$current.name.endsWith('category') }"
         ng-click="vm.categoryState.isExpanded = vm.state.$current.name.endsWith('category') ? true : !vm.categoryState.isExpanded">
        <div class="iq-tree-view__twisty">
          <span class="iq-tree-view__twisty-icon"
                ng-class="{ expand: !vm.categoryState.isExpanded && !vm.state.$current.name.endsWith('category'),
                collapse: vm.categoryState.isExpanded || vm.state.$current.name.endsWith('category')}"></span>
        </div>
        <hexagon class="size-16px size-fw outline iq-owner-tree-view__icon"></hexagon><!--
     --><span class="iq-tree-view__text">Application Categories</span>
      </a>
      <div class="iq-tree-view__children">
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child"
           id="create-application-category-link"
           ng-if="!vm.isApp && (vm.categoryState.isExpanded || vm.state.$current.name.endsWith('category'))"
           ui-sref=".create-category"
           ui-sref-active="selected">
          <i class="fa fa-plus size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">New Application Category</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child"
           id="assign-application-category-link"
           ng-if="vm.isApp && (vm.categoryState.isExpanded || vm.state.$current.name.endsWith('category'))"
           ui-sref=".category"
           ui-sref-active="selected"
           ng-class="{disabled: !vm.areAnyCategoriesDefined}"
           data-tooltip="{{vm.areAnyCategoriesDefined ? '' : 'No application categories defined.'}}"
           data-tooltip-placement="top"
           data-tooltip-append-to-body="true"
           ng-click="vm.areAnyCategoriesDefined || $event.preventDefault()">
          <i class="fa fa-pencil size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">Assign App Categories</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child tm-application-category-link"
           ng-if="vm.categoryState.isExpanded || vm.state.$current.name.endsWith('category')"
           ng-repeat="category in vm.details.tags"
           ui-sref=".category({ categoryId: category.id })"
           ui-sref-active="selected">
          <hexagon class="size-16px size-fw {{category.color}} iq-owner-tree-view__icon"></hexagon><!--
       --><span class="iq-tree-view__text">{{ category.name }}</span>
        </a>
      </div>
    </div>
    <div id="policy-tree-view-group"
         ng-if="!vm.isRepositories"
         class="iq-tree-view iq-owner-tree-view">
      <a class="iq-tree-view__trigger iq-owner-tree-view__row"
         ng-class="{ 'child-selected': vm.state.$current.name.endsWith('policy') }"
         ng-click="vm.policyState.isExpanded = vm.state.$current.name.endsWith('policy') ? true : !vm.policyState.isExpanded">
        <div class="iq-tree-view__twisty">
          <span class="iq-tree-view__twisty-icon"
                ng-class="{ expand: !vm.policyState.isExpanded && !vm.state.$current.name.endsWith('policy'),
                            collapse: vm.policyState.isExpanded || vm.state.$current.name.endsWith('policy') }"></span>
        </div>
        <i class="fa fa-university size-16px size-fw iq-owner-tree-view__icon"></i><!--
        -->Policies
      </a>
      <div class="iq-tree-view__children">
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child"
           id="create-policy-link"
           ng-if="vm.policyState.isExpanded || vm.state.$current.name.endsWith('policy')"
           ui-sref=".create-policy"
           ui-sref-active="selected">
          <i class="fa fa-plus size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">New Policy</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child tm-policy-link"
           ng-if="vm.policyState.isExpanded || vm.state.$current.name.endsWith('policy')"
           ui-sref=".policy({ policyId: policy.id })"
           ng-repeat="policy in vm.details.policies | orderBy: ['-threatLevel', 'name']"
           ui-sref-active="selected">
          <i class="fa fa-university size-16px policy-threat-level-background threat-level-{{policy.threatLevel}} iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">{{ policy.name }}</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child"
           id="policy-violation-grandfathering-link"
           ng-if="(vm.isApp || vm.isOrg) && (vm.policyState.isExpanded || vm.state.$current.name.endsWith('policy'))"
           ui-sref=".violation-grandfathering-policy"
           ui-sref-active="selected"
           ng-class="{disabled: !vm.isGrandfatheringSupported}"
           data-tooltip="{{:: vm.isGrandfatheringSupported ? '' : 'Policy Violation Grandfathering is not supported by your license'}}"
           data-tooltip-placement="top"
           data-tooltip-append-to-body="true"
           ng-click="vm.isGrandfatheringSupported || $event.preventDefault()">
          <i class="fa fa-history size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">Policy Violation Grandfathering</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child"
           id="continuous-monitoring-link"
           ng-if="vm.policyState.isExpanded || vm.state.$current.name.endsWith('policy')"
           ui-sref=".monitor-policy"
           ui-sref-active="selected"
           ng-class="{disabled: !vm.isMonitoringSupported}"
           data-tooltip="{{:: vm.isMonitoringSupported ? '' : 'Policy Monitoring is not supported by your license'}}"
           data-tooltip-placement="top"
           data-tooltip-append-to-body="true"
           ng-click="vm.isMonitoringSupported || $event.preventDefault()">
          <i class="fa fa-repeat size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">Continuous Monitoring</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child"
           id="proprietary-components-link"
           ng-if="vm.policyState.isExpanded ||  vm.state.$current.name.endsWith('policy')"
           ui-sref=".proprietary-config-policy"
           ui-sref-active="selected">
          <img class="iq-owner-tree-view__icon" src="img/proprietary_component_16px.png">
          <span class="iq-tree-view__text">Proprietary Components</span>
        </a>
      </div>
    </div>
    <div id="label-tree-view-group"
         ng-if="!vm.isRepositories"
         class="iq-tree-view iq-owner-tree-view">
      <a class="iq-tree-view__trigger iq-owner-tree-view__row"
         ng-class="{ 'child-selected': vm.state.$current.name.endsWith('label') }"
         ng-click="vm.labelState.isExpanded = vm.state.$current.name.endsWith('label') ? true : !vm.labelState.isExpanded">
        <div class="iq-tree-view__twisty">
          <span class="iq-tree-view__twisty-icon"
                ng-class="{ expand: !vm.labelState.isExpanded && !vm.state.$current.name.endsWith('label'),
                            collapse: vm.labelState.isExpanded || vm.state.$current.name.endsWith('label') }"></span>
        </div>
        <i class="fa fa-tag size-16px size-fw outline iq-owner-tree-view__icon"></i><!--
     --><span class="iq-tree-view__text">Component Labels</span>
      </a>
      <div class="iq-tree-view__children">
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child"
           id="create-label-link"
           ng-if="vm.labelState.isExpanded || vm.state.$current.name.endsWith('label')"
           ui-sref=".create-label"
           ui-sref-active="selected">
          <i class="fa fa-plus size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">New Component Label</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child tm-label-link"
           ng-if="vm.labelState.isExpanded || vm.state.$current.name.endsWith('label')"
           ng-repeat="label in vm.details.labels"
           ui-sref=".label({ labelId: label.id })"
           ui-sref-active="selected">
          <i class="fa fa-tag size-16px size-fw {{label.color}} iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">{{ label.label }}</span>
        </a>
      </div>
    </div>
    <div id="license-threat-group-tree-view-group"
         ng-if="!vm.isRepositories && (vm.details.licenseThreatGroups.length > 0 || !vm.isApp)"
         class="iq-tree-view iq-owner-tree-view">
      <a class="iq-tree-view__trigger iq-owner-tree-view__row"
         ng-class="{ 'child-selected': vm.state.$current.name.endsWith('license-threat-group') }"
         ng-click="vm.ltgState.isExpanded = vm.state.$current.name.endsWith('license-threat-group') ? true : !vm.ltgState.isExpanded">
        <div class="iq-tree-view__twisty">
          <span class="iq-tree-view__twisty-icon"
                ng-class="{ expand: !vm.ltgState.isExpanded && !vm.state.$current.name.endsWith('license-threat-group'),
                            collapse: vm.ltgState.isExpanded || vm.state.$current.name.endsWith('license-threat-group')}"></span>
        </div>
        <i class="fa fa-book size-16px size-fw iq-owner-tree-view__icon"></i><!--
     --><span class="iq-tree-view__text">License Threat Groups</span>
      </a>
      <div class="iq-tree-view__children">
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child"
           id="create-license-threat-group-link"
           ng-if="!vm.isApp && (vm.ltgState.isExpanded || vm.state.$current.name.endsWith('license-threat-group'))"
           ui-sref=".create-license-threat-group"
           ui-sref-active="selected">
          <i class="fa fa-plus size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">New License Threat Group</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child tm-license-threat-group-link"
           ng-if="vm.ltgState.isExpanded || vm.state.$current.name.endsWith('license-threat-group')"
           ng-repeat="licenseThreatGroup in vm.details.licenseThreatGroups | orderBy: ['-threatLevel', 'name']"
           ui-sref=".edit-license-threat-group({ licenseThreatGroupId: licenseThreatGroup.id })"
           ui-sref-active="selected">
          <i class="fa fa-book size-16px size-fw threat-level-{{licenseThreatGroup.threatLevel}} iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">{{ licenseThreatGroup.name }}</span>
        </a>
      </div>
    </div>
    <div id="source-control-tree-view-group" class="iq-tree-view iq-owner-tree-view" ng-if="!vm.isRepositories">
      <a class="iq-tree-view__trigger iq-owner-tree-view__row"
         ng-class="{ 'selected': vm.state.$current.name.endsWith('source-control') }"
         ui-sref=".edit-source-control"
         ui-sref-active="selected">
        <i class="fa fa-code-fork size-16px size-fw iq-owner-tree-view__icon iq-owner-tree-view__icon--source-control"></i>
        <span class="iq-tree-view__text">Source Control</span>
      </a>
    </div>
    <div id="access-tree-view-group" class="iq-tree-view iq-owner-tree-view">
      <a class="iq-tree-view__trigger iq-owner-tree-view__row"
         ng-class="{ 'child-selected': vm.state.$current.name.endsWith('access') }"
         ng-click="vm.accessState.isExpanded = vm.state.$current.name.endsWith('access') ? true : !vm.accessState.isExpanded">
        <div class="iq-tree-view__twisty">
          <span class="iq-tree-view__twisty-icon"
                ng-class="{ expand: !vm.accessState.isExpanded && !vm.state.$current.name.endsWith('access'),
                            collapse: vm.accessState.isExpanded || vm.state.$current.name.endsWith('access')}"></span>
        </div>
        <i class="fa fa-key size-16px size-fw iq-owner-tree-view__icon"></i><!--
     --><span class="iq-tree-view__text">Access</span>
      </a>
      <div class="iq-tree-view__children">
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child"
           id="create-role-link"
           ng-if="(vm.accessState.isExpanded || vm.state.$current.name.endsWith('access')) && vm.rolesWithoutLocalMembersExist"
           ui-sref=".add-access"
           ui-sref-active="selected">
          <i class="fa fa-plus size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">Add a Role</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child disabled"
           id="create-role-link"
           ng-if="(vm.accessState.isExpanded || vm.state.$current.name.endsWith('access')) && !vm.rolesWithoutLocalMembersExist"
           data-tooltip="All of the available roles are already associated with {{ vm.ownerName }}."
           data-tooltip-placement="top"
           data-tooltip-append-to-body="true">
          <i class="fa fa-plus size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">Add a Role</span>
        </a>
        <a class="iq-tree-view__child iq-owner-tree-view__row iq-owner-tree-view__row--child tm-role-link"
           ng-if="vm.accessState.isExpanded"
           ng-repeat="membersByRole in vm.details.roles"
           ui-sref=".edit-access({ roleId: membersByRole.roleId })"
           ui-sref-active="selected">
          <i class="fa fa-puzzle-piece size-16px size-fw iq-owner-tree-view__icon"></i><!--
       --><span class="iq-tree-view__text">{{ membersByRole.roleName }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
