$iq-cell-default-width: 90px;
$iq-cell-threat-width: 65px;
$iq-cell-age-width: 65px;
$iq-cell-report-width: 140px;
$iq-cell-scroll-bar-width: 14px;
$iq-cell-chevron-width: 21px;
$iq-cell-affected-apps-width: 109px;

.iq-sidebar--dashboard {
  // for the Manage Filter dropdown
  overflow-x: visible;
}

.iq-tile--dashboard-table-container {
  background-color: transparent;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;

  .iq-scrollable {
    max-height: 100%;
  }
}

.iq-tile--dashboard-common-messages {
  background-color: transparent;
  border: none;
  color: $iq-slate;
  text-align: center;

  .iq-alert {
    margin: 8px 0;
    text-align: left;
  }
}

.iq-tab {
  .fa {

    &.fa-exclamation {
      line-height: 16px;
      text-align: center;
      vertical-align: 1px;
      width: 16px;
    }

    &.fa-terminal {
      font-size: 12px;
      height: 16px;
      line-height: 12px;
      text-align: center;
      vertical-align: 3px;
      width: 16px;
    }
  }
}

.iq-table--dashboard-violations,
.iq-table--dashboard-applications,
.iq-table--dashboard-components {
  border-top: 1px solid $iq-grey-3;
  display: block;
  margin-top: 0;
  width: 100%;

  .iq-table-row {
    display: block;

    .iq-cell {
      border-top: none;
    }
  }

  .iq-cell {
    display: inline-block;
    min-width: 0;

    .iq-spinner__wrapper {
      margin-top: 16px;
    }
  }
}

.iq-dashboard-headers {
  @include semi-bold();

  background-color: #fff;
  border-right: 1px solid $iq-grey-2;
  border-left: 1px solid $iq-grey-2;
  box-shadow: 0px 2px 5px 0px $iq-grey-1;
  display: block;
  font-size: 14px;
  padding-bottom: 8px;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  width: calc(100% - 2px);
  z-index: $iq-dashboard-headers-zindex;

  .iq-table-row {
    border: none;
  }

  .iq-cell--header {
    &:first-child {
      border-left: 8px solid $iq-off-white;
      line-height: 16px;
    }
  }

  .iq-threat-indication {
    height: 6px;
    position: absolute;
    top: 41px;
    left: 1px;
    width: calc(100% - 2px);
  }
}

// apply white border to non-zero heatmap styles
// override default :hover states for table rows because we have gaps between our rows here
.iq-components-results, .iq-applications-results {
  .iq-table-row.iq-clickable {
    .iq-cell {
      border-top: none;
      border-bottom: none;

      &:hover {
        border-top: none;
      }
    }

    &:hover {
      .iq-cell {
        border-top: none;
      }

      + .iq-table-row .iq-cell {
        border-top: none;
      }

      &:last-child {
        .iq-cell {
          border-bottom: none;
        }
      }
    }
  }

  .iq-cell {
    &.iq-cell--heatmap {
      @include semi-bold();

      // RGB value comes from /frontend/dashboard/utils/classybrew.factory.js
      border-left: 1px solid rgb(247,251,255);
      text-align: center;

      &.grey-text {
        border-left-color: transparent;
        color: $iq-grey-4;
      }
    }
  }
}

.iq-cell--chevron {
  border-left: none;
  color: $iq-slate;
  padding: 0 12px;
  text-align: right;
  width: $iq-cell-chevron-width;
  max-width: $iq-cell-chevron-width;

  .iq-table-row:hover & {
    color: $iq-off-black;
  }
}

.iq-cell--split-line {
  .iq-column-sort-icons {
    padding-right: 8px;
  }

  .header-text {
    height: 40px;
    line-height: 16px;
    padding-top: 4px;
    position: absolute;
    top: 0;
    white-space: normal;
  }
}

.iq-violations-results, .iq-components-results, .iq-applications-results {
  border-top: 6px solid transparent;
  box-sizing: border-box;
  display: block;
  position: relative;

  .form-mask {
    z-index: $iq-dashboard-mask-zindex;
  }
}

/*
  VIOLATIONS & COMPONENTS TABS
*/
.iq-violations-results, .iq-components-results {
  margin-top: 46px;

  .iq-table-row {
    background-color: $iq-off-white;
    border: 1px solid $iq-grey-2;
    margin-bottom: 4px;

    &:hover {
      border-color: $iq-grey-4;
    }
  }
}

.iq-cell--threat {
  width: $iq-cell-threat-width;
  max-width: $iq-cell-threat-width;
}

.iq-cell--policy,
.iq-cell--application,
.iq-cell--component {
  // format is $cell-width + padding + border
  width: calc(
          (100% -
             (
               (24px + 1px) * 3
               + #{$iq-cell-threat-width} + 24px + 8px
               + #{$iq-cell-age-width} + 24px + 1px
               + #{$iq-cell-report-width} + 24px + 8px
             )
          )
          / 3);
}

.iq-cell--age {
  width: $iq-cell-age-width;
  max-width: $iq-cell-age-width;
}

.iq-cell--report {
  width: $iq-cell-report-width;
  max-width: $iq-cell-report-width;

  a {
    span {
      vertical-align: middle;
    }
    .fa-external-link {
      margin-right: 5px;
      vertical-align: middle;
    }

    .fa-exclamation-triangle, .fa-exclamation-circle {
      margin-left: 8px;
      vertical-align: middle;
    }
  }
}

// Cells in the <tbody> must adjust their size to accommodate wider space
.iq-violations-results {
  .iq-cell--threat {
    padding-left: 0;
    width: $iq-cell-threat-width + 24px;
    max-width: $iq-cell-threat-width + 24px;
  }

  .iq-cell--policy,
  .iq-cell--application,
  .iq-cell--component {
    // in calc below 24px is L/R padding, 1px is borders
    width: calc(
             (100% -
               (
                 (24px + 1px) * 3
                 + #{$iq-cell-threat-width} + 24px + 12px
                 + #{$iq-cell-age-width} + 24px + 1px
                 + #{$iq-cell-report-width} + 24px + 1px
               )
             )
           / 3);
  }

  .iq-cell--report {
    width: $iq-cell-report-width - 10px;
    max-width: $iq-cell-report-width - 10px;
  }
}

// If the scrollbar is present the cells must adjust to accommodate the lost space
.scrollbar-present {
  // <tbody> cells
  .iq-violations-results {
    .iq-cell--policy,
    .iq-cell--application,
    .iq-cell--component {
      // in calc below 24px is L/R padding, 1px is borders
      width: calc(
               (100% -
                 (
                   (24px + 1px) * 3
                   + #{$iq-cell-threat-width} + 24px
                   + #{$iq-cell-age-width} + 24px + 1px
                   + #{$iq-cell-report-width} + 24px + 1px
                 )
               )
             / 3);
    }
  }
}

.iq-threat-indication {
  display: inline-block;
  height: 43px;
  vertical-align: middle;
  width: 8px;
}

.iq-threat-number {
  @include semi-bold();

  font-size: 16px;
  margin-left: 8px;
}

/*
  COMPONENTS TAB
*/
.iq-cell--affected-apps,
.iq-cell--total-risk,
.iq-cell--critical-risk,
.iq-cell--severe-risk,
.iq-cell--moderate-risk,
.iq-cell--low-risk {
  width: $iq-cell-default-width;
  max-width: $iq-cell-default-width;

  &.white-text {
    color: $iq-off-white;
  }
}

.iq-table--dashboard-components {
  .iq-dashboard-headers {
    .iq-cell--critical-risk,
    .iq-cell--severe-risk,
    .iq-cell--moderate-risk,
    .iq-cell--low-risk {
      overflow: visible;
    }

    .iq-cell--component-name {
      // in calc below 8px are header LR spacing, 24px is L/R padding, 1px is borders
      width: calc(
             100% -
             (
               8px + 24px
               + (#{$iq-cell-default-width} + 24px + 1px) * 6
               + 8px
             )
           );
    }
  }
  .iq-components-results {
    .iq-cell--affected-apps {
      width: $iq-cell-default-width + 1px;
      max-width: $iq-cell-default-width + 1px;
    }
    .iq-cell--low-risk {
      padding-right: 0;
      width: $iq-cell-default-width - $iq-cell-chevron-width + 8px;
      max-width: $iq-cell-default-width - $iq-cell-chevron-width + 8px;
    }
    .iq-cell--chevron {
      padding-left: 0;
    }
    .iq-cell--component-name {
      // in calc below 8px is header padding, 24px is L/R padding, 1px is borders
      width: calc(
               100% -
               (
                 8px + 24px
                 + (#{$iq-cell-default-width} + 24px + 1px) * 5
                 + (#{$iq-cell-default-width} - #{$iq-cell-chevron-width} + 12px + 1px)
                 + #{$iq-cell-chevron-width} + 12px
               )
             );
    }
  }
}

.iq-components-results {
  .iq-cell--affected-apps {
    text-align: center;
  }
}

// If the scrollbar is present the cells must adjust to fill the lost space
.scrollbar-present {
  .iq-components-results {
    .iq-cell--chevron {
      padding-left: 0;
    }
    .iq-cell--low-risk {
      padding-right: 0;
      width: $iq-cell-default-width - $iq-cell-chevron-width - 8px;
      max-width: $iq-cell-default-width - $iq-cell-chevron-width - 8px;
    }
    .iq-cell--component-name {
      // in calc below 8px is header padding, 24px is L/R padding, 1px is borders
      width: calc(
               100% -
               (
                 8px + 24px
                 + (#{$iq-cell-default-width} + 24px + 1px) * 5
                 + (#{$iq-cell-default-width} - #{$iq-cell-chevron-width})
                 + #{$iq-cell-chevron-width} + 9px
               )
             );
    }
  }
}

/*
  APPLICATIONS TAB
*/
.iq-cell--affected-apps,
.iq-cell--total-risk,
.iq-cell--critical-risk,
.iq-cell--severe-risk,
.iq-cell--moderate-risk,
.iq-cell--low-risk {
  width: $iq-cell-default-width;
  max-width: $iq-cell-default-width;

  &.white-text {
    color: $iq-off-white;
  }
}

.iq-applications-results {
  margin-top: 42px;

  .iq-table-row {
    background-color: $iq-off-white;
    border: 1px solid $iq-grey-2;
  }

  .total-application-risks {
    border-bottom: none;
    margin-top: 4px;
  }

  .stage-application-risks {
    + .stage-application-risks {
      border-top: none;
    }
  }
}

tbody {
  .iq-cell--affected-apps,
  .iq-cell--total-risk,
  .iq-cell--critical-risk,
  .iq-cell--severe-risk,
  .iq-cell--moderate-risk,
  .iq-cell--low-risk {
    width: $iq-cell-default-width;
    max-width: $iq-cell-default-width;
  }
}

.stage-application-risks {
  .iq-cell--application-name {
    text-align: right;
  }
}

.iq-dashboard-headers {
  .iq-cell--application-name {
    // in calc below 8px is header padding, 24px is L/R padding, 1px is borders
    width: calc(
             100% -
             (
               8px + 24px + 1px
               + (#{$iq-cell-default-width} + 24px + 1px) * 5
               + 8px
             )
           );
  }
}

.iq-applications-results {
  .iq-cell--low-risk {
    width: $iq-cell-default-width + 8px;
    max-width: $iq-cell-default-width + 8px;
  }
}

.iq-cell--application-name {
  // in calc below 8px is header padding, 24px is L/R padding, 1px is borders
  width: calc(
           100% -
           (
              8px + 24px + 1px
              + (#{$iq-cell-default-width} + 24px + 1px) * 5
           )
         );
}

// If the scrollbar is present the cells must adjust to accommodate the lost space
.scrollbar-present {
  .iq-applications-results {
    .iq-cell--low-risk {
      width: $iq-cell-default-width - 6px;
      max-width: $iq-cell-default-width - 6px;
    }

    .iq-cell--application-name {
      // in calc below 24px is L/R padding, 1px is borders
      width: calc(
               100% -
               (
                  24px + 1px
                  + (#{$iq-cell-default-width} + 24px + 1px) * 4
                  + #{$iq-cell-default-width} + 18px
               )
             );
    }
  }
}

// Allows dropdowns to appear above table headers
.iq-dashboard-summary {
  position: relative;
  z-index: $iq-dashboard-summary-zindex;
}

.dashboard-tooltip {
  margin-top: 2px!important;

  &.filename .tooltip-inner::before {
    content: "COMPONENT PATH\a";
    display: block;
    font-weight: bold;
    white-space: pre;
  }
  .tooltip-inner {
    text-align: left;
    max-width: 350px;
  }
  .tooltip-arrow {
    left: 10%;
  }
}

.iq-scrollable--component-details {
  max-height: 100%;
}
