/*
  #Editor
*/
.tile-editor-container {
  margin: 0 8px 8px 8px;
  padding-top: 8px;

  &:not(.tile-scroll-container) {
    height: calc(100% - 16px);
    overflow-y: auto;
  }

  .tile {
    h2 {
      border-bottom: 1px solid $iq-grey-4;
      margin-bottom: 20px;
      padding-bottom: 8px;
    }
  }

  .clm-form {
    .section {
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  form {
    margin-bottom: 0px;
  }

  .editor-footer {
    border-top: 1px solid $iq-grey-4;
    padding-top: 12px;
    padding-bottom: 4px;
    padding-left: 4px;

    // Space out buttons
    .btn + .btn,
    .btn + .tooltip + .btn {
      margin-bottom: 0;
      margin-left: 12px;
    }
  }

  label span.optional {
    color: $iq-slate;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
  }
}

#proprietary-config-editor {
  p {
    max-width: $iq-paragraph-width-maximum;
  }
}

#policy-editor, #proprietary-config-editor {
  .editor-section {
    .editor-section-header {
      @include semi-bold();
      
      border-bottom: 1px solid $iq-grey-4;
      margin-bottom: 20px;
      padding-bottom: 8px;
      text-transform: uppercase;
    }
  }

  #editor-policy-inherit {
    label {
      color: $iq-slate;
    }

    .association-editor {
      margin-left: 24px;
    }
  }

  #policy-edit-constraints {
    $button-container-width: 32px + 32px + 8px;

    .constraint {
      border-bottom: 1px solid $iq-grey-1;
      padding-bottom: 7px;
      padding-left: 8px;

      &:not(:first-child) {
        padding-top: 8px;
      }

      .button-container {
        position: absolute;
        top: 0;
        right: 0;

        button:not(:last-child) {
          margin-right: 7px;
        }
      }

      .constraint-summary {
        position: relative;

        .constraint-summary-name {
          @include semi-bold();

          color: $iq-off-black;
          font-size: 16px;
          overflow: hidden;
          padding-bottom: 1px;
          padding-right: $button-container-width;
          text-overflow: ellipsis;
        }

        .constraint-summary-subheader {
          line-height: 18px;
        }

        .constraint-summary-condition {
          padding-left: 10px;
        }
      }

      .constraint-editor {
        padding-bottom: 2px;

        .section {
          margin: 0;
        }

        .constraint-operator {
          display: inline-block;
          margin-right: 4px;
          width: 75px;
        }

      }
    }

    .constraint-editor {
      position: relative;
    }

    #add-constraint-button {
      margin-top: 12px;
      margin-bottom: 21px;
    }
  }

  .inherited-proprietary-component-matchers, .local-proprietary-component-matchers {
    .editor-section-header {
      border-bottom: 0px;
      margin-top: 20px;
      margin-bottom: 0px;
    }

    .header-text {
      text-transform: uppercase;
    }

    table {
      border-top: 1px solid #cacaca;
      table-layout: fixed;
      width: 100%;

      thead tr {
        height: 40px;
        line-height: 15px;

        th {
          background-color: $iq-grey-1;
          color: $iq-slate;

          h4.subsection-header {
            padding-bottom: 8px;
          }

          &.disabled .header-text{
            color: $iq-grey-4;
          }
        }
      }

      tr {
        height: 40px;
        border-bottom: 1px solid $iq-grey-1;
        td {
          &:first-child {
            @include semi-bold();
          }
        }
      }

      th, td {
        vertical-align: middle;

        &.greedy-column {
          overflow: hidden;
          padding-left: 12px;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: auto;
        }

        &:not(.greedy-column) {
          padding: 0;
          text-align: center;
          width: 80px;
        }

        &.delete {
          width: 34px;
        }

        &.action {
          text-align: left;
          padding: 0;

          .iq-radio {
            height: 40px;
            margin-left: 0;
            padding-left: 56px;

            .iq-radio__circle::before, .iq-radio__circle::after {
              top: 10px;
              left: 32px;
            }

            i.fa {
              padding-top: 12px;
            }
          }
        }

        &.active {
          background-color: #F8F8F8;
          border-bottom: 1px solid $iq-grey-1;
        }

        span {
          > .fa, > svg {
            margin-top: 2px;
            margin-right: 8px;
          }

          > .svg-slate-16px {
            fill: $iq-slate;
            height: 16px;
            width: 16px;
          }
        }

        input[type="checkbox"] {
          margin: 0;
        }

        .empty-list {
          color: $iq-slate;
        }
      }
    }
  }

  #policy-edit-actions, #policy-edit-notifications {
    .header-text {
      text-transform: uppercase;
    }

    .iq-table {
      table-layout: fixed;
    }

    // these two table should line up, but their columns don't have the same semantics so
    // the alignment is specified in terms of column positions
    .iq-cell {
      padding: 0;
      text-align: center;
      width: 80px;

      &:first-child {
        padding-left: 12px;
        text-align: left;
        width: auto;
      }

      &:last-child {
        width: 34px;
      }

      &.action-name, &.recipient {
        > .fa, > svg {
          margin-top: 2px;
          margin-right: 8px;
        }

        > .svg-slate-16px {
          fill: $iq-slate;
          height: 16px;
          width: 16px;
        }
      }
    }

    .iq-radio {
      height: 40px;
      margin-left: 0;
      padding-left: 56px;

      .iq-radio__circle::before, .iq-radio__circle::after {
        top: 10px;
        left: 32px;
      }

      i.fa {
        padding-top: 12px;
      }
    }

    .continuous-monitoring {
      font-size: 12px;
      line-height: inherit;
      white-space: normal;
    }
  }

  .inherited-proprietary-component-matchers, .local-proprietary-component-matchers {
    table {
      border-top-width: 0px;
      
      thead tr {
        th {
          background-color: $white;
          color: $iq-off-black;
        }
      }
    }
  }

  .add-notification, .add-matcher {
    margin-top: 12px;

    .no-label {
      vertical-align: bottom;
    }

    .editor-notification-type {
      width: 90px;
    }

    .editor-matcher-type {
      width: 160px;
    }

    .field:nth-child(n + 2) {
      margin-left: 12px;
    }

    dropdown-selector.no-options {
      padding-top: 8px;
    }

    #recipient-jira-issue-type {
      width: 200px;
    }
  }

  $notification-item-height: 40px;

  .notification-list {
    border-top: 1px solid $iq-grey-3;
    max-height: $notification-item-height * 5;
    margin-top: 0px;
    margin-bottom: 24px;
    margin-left: 32px;
    overflow-y: auto;

    &.empty {
      border-top: none;
    }

    .empty-list {
      border-top: 1px solid $iq-grey-3;
      border-bottom: 1px solid $iq-grey-1;
      height: 40px;
      line-height: 40px;
      margin-right: 28px;
      text-align: center;
    }

    ul {
      list-style: none;
      margin: 0px;
    }

    li {
      border-bottom: 1px solid $iq-grey-1;
      height: $notification-item-height;
      
      span {
        line-height: 40px;
        padding-left: 8px;
      
        .fa {
          margin-right: 8px;
        }
      }
      
      button {
        float: right;
        margin-top: 4px;
        margin-right: 8px;
      }
    }
  }
}
