/*
  #Tables
*/

$iq-table-header-row-height: 40px;
$iq-table-header-filter-row-height: 38px;
$iq-cell-filter-left-padding: 3px;
$iq-cell-filter-right-padding: 2px;

.iq-table {
  border-collapse: collapse;
  display: table;
  margin-top: 8px;
  width: 100%;
}

thead {
  .iq-table-row {
    border-top: 1px solid $iq-grey-3;
    border-bottom: 1px solid $iq-grey-2;
  }
}

.iq-table-row {
  &:last-child {
    .iq-cell {
      border-bottom: 1px solid $iq-grey-1;
    }
  }

  &.iq-clickable {
    &:last-child {
      &:hover .iq-cell {
        border-bottom: 1px solid $iq-grey-4;
      }
    }

    &:hover {
      .iq-cell {
        border-top: 1px solid $iq-grey-4;
      }

      + .iq-table-row .iq-cell {
        border-top: 1px solid $iq-grey-4;
      }

      .iq-cell--label, .iq-cell--chevron {
        color: $iq-off-black;
      }
    }

    .iq-cell--label {
      @include semi-bold();

      color: $iq-slate;
    }
  }
}

.iq-cell {
  @extend .truncate-ellipsis;

  border-top: 1px solid $iq-grey-1;
  color: $iq-off-black;
  display: table-cell;
  height: 40px;
  line-height: 40px;
  padding: 0 $iq-cell-side-padding;
  text-align: left;

  &.iq-disabled {
    color: $iq-grey-4;
  }
}

.iq-cell--header {
  background-color: $iq-grey-1;
  border-top: none;
  border-left: 1px solid $iq-grey-2;
  color: $iq-slate;
  position: relative;
  text-align: left;
  text-transform: uppercase;

  &:first-child {
    border-left: none;
  }

  &.iq-cell--chevron {
    border-color: $iq-grey-1;
  }

  &.iq-th--selected, &.selected-column {
    background-color: $iq-grey-2;
  }

  &.iq-disabled {
    color: $iq-grey-4;

    a {
     cursor: default;
    }

    .iq-column-sort-trigger {
      color: $iq-grey-4;
    }

    .iq-col-sort-icons, .iq-column-sort-icons {
      color: $iq-grey-3;
    }
  }
}

.iq-cell--header--noborder {
  border-left: 1px solid $iq-grey-1;
}

.iq-cell--selected-column, .iq-cell--selected {
  background-color: $iq-grey-2;
}

.iq-column-sort-trigger {
  color: $iq-slate;
  display: block;
  height: 40px;
  line-height: 40px;

  &:hover {
    color: $iq-off-black;
    text-decoration: none;
  }
}

.iq-col-sort-icons, .iq-column-sort-icons {
  color: $iq-grey-4;
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: -13px;
  width: 6px;

  .fa-caret-up {
    line-height: 7px;
    position: absolute;
    top: 1px;

    &.up {
      color: $iq-slate;
    }
  }

  .fa-caret-down {
    line-height: 7px;
    position: absolute;
    top: 8px;

    &.down {
      color: $iq-slate;
    }
  }
}

.iq-cell--label {
  @include semi-bold();

  color: $iq-off-black;
}

.iq-cell--empty {
  @include regular();

  box-sizing: border-box;

  color: $iq-slate;
  text-align: center;

  // for tables that don't use display: table due to sticky headers. Assumes the empty cell is the only
  // one in its row
  width: 100%;
}

.iq-cell--chevron {
  color: $iq-slate;
  padding: 0 12px;
  text-align: right;
  width: 14px;
  max-width: 14px;
  min-width: 14px;
}

.iq-cell--icon {
  color: $iq-slate;
  padding: 0 12px;
  text-align: right;
  width: 14px;
  max-width: 14px;
  min-width: 14px;
}

// a cell that only contains an icon that acts as a button
.iq-cell--btn-icon {
  padding-right: 0;
  width: 32px;
}

// used on pages where we want an input field at the top of the table column to filter the column contents
// it is expected that the column filters will be located in the <thead>
.iq-table-row--filters {
  border-color: transparent;
}

.iq-cell--filter {
  $height: 30px;

  border-color: transparent;
  height: $height;
  line-height: $height;
  padding: 3px $iq-cell-filter-right-padding 3px $iq-cell-filter-left-padding;

  .input-prepend {
    line-height: $height;
    margin: 0;
    vertical-align: top;
    width: 100%;
  }

  input {
    padding-left: 0;
    width: calc(100% - 40px);
  }

  .fa-filter {
    color: $iq-slate;
  }

  &:first-child {
    padding-right: $iq-cell-filter-right-padding;
    padding-left: 0;
    text-align: left;
  }

  &:last-child {
    padding-right: 0;
    padding-left: $iq-cell-filter-left-padding - 1px;
    text-align: right;
  }
}

/*
  #Table with a fixed header and scrolling contents
 */

// a page utilizing a fixed header table will require a modified ".iq-scrollable", e.g. ".iq-scrollable--mypage".
// This custom ".iq-scrollable--mypage" should invoke the `table-fixed-widths` mixin with the desired number
// of columns in order to get width styles for that many equal-width columns. See the gallery for an example

// Override default values

// Double class required because widgets SCSS loads before tiles SCSS
.iq-tile.iq-tile--fixed-table {
  padding-right: 0;
}

.iq-tile-content--fixed-table {
  position: relative;
}

.iq-scrollable--fixed-table {
  max-height: 100%;
}

// Fixed table styles
.iq-table--fixed {
  border-bottom: 1px solid $iq-grey-1;
  display: block;
  margin-top: 0;

  thead, tbody {
    display: block;
  }

  .iq-table-row {
    display: block;
    width: 100%;
  }
}

.iq-table--fixed__header {
  @include semi-bold();

  background-color: $iq-off-white;
  box-shadow: 0px 2px 5px 0px $iq-grey-1;
  display: block;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  width: calc(100% - 1px);
  z-index: $iq-dashboard-headers-zindex;

  .iq-table-row {
    border: none;
  }

  .iq-cell--header {
    display: inline-block;
    height: $iq-table-header-row-height;
    line-height: $iq-table-header-row-height;

    &:first-child {
      border-left: 1px solid $iq-grey-1;
      line-height: 40px;
    }

    &:last-child {
      // 8px + 4px = 12px used on all preceeding cells
      border-right: 8px solid $iq-off-white;
      padding-right: 4px;
    }
  }

  .iq-cell--filter {
    display: inline-block;
  }
}

.iq-table--fixed__content {
  display: block;
  padding-top: $iq-table-header-row-height; // pushes top row from below header
  position: relative;

  .iq-cell {
    border-left: 1px solid $iq-off-white;
    display: inline-block;
    min-width: 0;

    &:last-child {
      padding-right: 11px;
    }

    &.iq-cell--empty {
      width: 100%;
    }
  }
}

.iq-table--fixed__content--filtered {
  padding-top: $iq-table-header-row-height + $iq-table-header-filter-row-height;
}
