// Tweaks necessary to get RSC nx-* classes to work within iq-* containers
.iq-body-container {
  .nx-loading-spinner {
    padding: 8px;
  }
}

.iq-scrollable {
  .nx-table:first-child {
    margin-top: 0;
  }

  .nx-table:last-child {
    margin-bottom: 0;
  }
}

.nx-cell > .iq-text-indicator:first-child {
  margin-left: 12px;
}

.nx-vulnerability-details dt {
  font-weight: normal;
}

.nx-page-title.iq-page-title {
  margin: 0 0 $iq-spacing-md $iq-spacing-sm;
}

#application-report-vulnerabilities-table {
  .nx-cell {
    box-sizing: content-box;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 1366px) {
  .nx-page-title.iq-page-title {
    margin-right: $iq-spacing-sm;
  }

  .iq-dashboard-summary {
    .nx-page-title.iq-page-title {
      margin-right: 0;
    }
    .iq-page-title__actions {
      margin-right: 0;
    }
  }
}
