<div class="tile-container">
  <div class="tile summary-tile" id='owner-summary' ng-controller="OwnerSummaryController">
    <div load-wrapper="error" loading="!owner" reload="doLoad()">
      <div class="clm-dropdown pull-right" id="action-dropdown">
        <button class="btn btn-default dropdown-toggle btn-tertiary" type="button" id="action-menu" data-toggle="dropdown">
          Actions
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left">
          <li><a ng-click='edit()' id="app-org-link"><span><i class="fa fa-pencil" />Edit {{:: getShortTypeName()}} Name / Icon</span></a></li>
          <li><a id="eval-ahc-link"><i class="fa fa-upload" /><span>Evaluate AhcService</span></a></li>
          <li><a id="import-policies-link"><i class="fa fa-download" /><span>Import Policies</span></a></li>
          <li><a id="delete-ahc-link"><i class="fa fa-trash" /><span>Delete AhcService</span></a></li>
        </ul>
      </div>
      <h1><span owner-image="owner"></span> {{owner.name}}</h1>
      <div class="sub-header" ng-if="owner.description">{{owner.description}}</div>

      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" data-target="#owner-pill-app-type" ng-href="">Application Types</a></li>
        <li><a data-toggle="pill" data-target="#owner-pill-policy" ng-href="">Policy</a></li>
        <li><a data-toggle="pill" data-target="#owner-pill-comp-labels" ng-href="">Component Labels</a></li>
        <li><a data-toggle="pill" data-target="#owner-pill-ltgs" ng-href="">License Threat Groups</a></li>
        <li><a data-toggle="pill" data-target="#owner-pill-access" ng-href="">Access</a></li>
      </ul>
    </div>
  </div>

  <div class="tile-scroll-container" scrollspy="#owner-summary">
    <div class="tile" id="owner-pill-app-type">
      <h2>Application Types</h2>
      <div class="sub-header">a description</div>
    </div>

    <div class="tile" id="owner-pill-policy">
      <h2>Policy</h2>
      <div class="sub-header">a description</div>
    </div>

    <div class="tile" id="owner-pill-comp-labels" ng-controller="LabelTileController as labelTile">
      <div load-wrapper="labelTile.error" loading="!(labelTile.ownerName && labelTile.applicableLabels)"
           reload="labelTile.doLoad()">
        <h2><i class="fa fa-tag size-20px outline"></i>Component Labels</h2>

        <div class="sub-header">
          available to {{labelTile.ownerName}} policies
        </div>
        <div class="simple-list" ng-repeat="ownerLabelList in labelTile.applicableLabels">
          <h4 class="subsection-header" ng-if="!ownerLabelList.inherited">Local
            <button class="btn btn-tertiary">
              <i class="fa fa-plus"></i>Add a Label
            </button>
          </h4>
          <h4 class="subsection-header" ng-if="ownerLabelList.inherited && ownerLabelList.labels.length > 0">
            Inherited from {{ownerLabelList.ownerName}}
          </h4>

          <div class="empty-list" ng-if="!ownerLabelList.inherited && ownerLabelList.labels.length <= 0">
            No local component labels defined
          </div>
          <ul>
            <li ng-class="label.description ? 'with-subtitle' : 'simple'" ng-repeat="label in ownerLabelList.labels">
              <div class="title">
                <i class="fa fa-tag size-16px {{label.color}}"></i>
                {{label.label}}
              </div>
              <div class="subtitle" ng-if="label.description">{{label.description}}</div>
              <i class="fa fa-chevron-right" ng-if="!ownerLabelList.inherited"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tile" id="owner-pill-ltgs">
      <h2>License Threat Groups</h2>
      <div class="sub-header">a description</div>
    </div>
    <div class="tile" id="owner-pill-access">
      <h2>Access</h2>
      <div class="sub-header">a description</div>
    </div>
  </div>
</div>
