<div id="delete-filters-modal" ng-hide="vm.deleteMode || vm.unsavedModalVisible">
  <div class="iq-modal-header">
    <h2>
      <i class="fa size-20px fa-trash"></i>Delete Filters
    </h2>
  </div>
  <form class="iq-form iq-form--no-padding iq-form--no-border"
        role="form"
        name="deleteFilterForm"
        ng-submit="vm.deleteFilters()">
    <div class="iq-modal-content iq-scrollable" load-wrapper loading="vm.isLoading">
      <div class="iq-form-group">
        <iq-checkbox ng-repeat="filter in vm.savedFilters"
                     label="{{::filter.name}}"
                     is-checked="vm.filters[filter.name]"
                     on-click="vm.toggleSelected(filter.name)">
        </iq-checkbox>
      </div>
    </div>
    <div class="iq-modal-footer" ng-class="{ 'iq-error' : vm.deleteError }">
      <div ng-if="vm.deleteError" class="iq-alert iq-alert--error">
        <div ng-repeat="error in vm.deleteError"><i class="fa fa-warning"></i>{{::error}}</div>
      </div>
      <button ng-if="!vm.deleteError"
              class="iq-btn iq-btn--primary"
              type="submit"
              submit-validation
              submit-type="Delete"
              submit-dirty="vm.isDirty()">
        Delete
      </button><!--
   --><button ng-if="vm.deleteError" class="iq-btn iq-btn--error" type="submit">
        <i class="fa fa-refresh"></i>Retry
      </button><!--
   --><button class="iq-btn" type="button" ng-click="$dismiss()">Cancel</button>
    </div>
  </form>
</div>
