<div ng-controller='NewApplicationController'>
    <form action='{{addApplication}}' method='post' enctype='multipart/form-data'
          onsubmit='return angular.element(this).scope().saveClick()'
          name='applicationEditor' id='applicationEditor' class='form-horizontal' style='margin-bottom: 0px'>
        <div class='modal-body'>
            <div class='control-group'>
                <label class='control-label' for='applicationName'>Name:</label>

                <div class='controls'>
                    <input id='applicationName' name='applicationName' type='text'
                           class='input' maxlength='50' ng-model='selectedApplication.publicId'>
                    <ul>
                        <li ng-show="applicationEditor.applicationName.$error.required">Name is required.</li>
                        <li ng-show="applicationEditor.applicationName.$error.alphaNumeric">Must be alpha numeric.</li>
                        <li ng-show="applicationEditor.applicationName.$error.duplicate">
                            {{selectedApplication.publicId}} is already used.
                        </li>
                    </ul>
                </div>
            </div>
            <div class='control-group'>
                <label class='control-label' for='applicationIcon'>Icon:</label>

                <div class='controls'>
                    <div ng-show='hasIconSource'>
                        <img id='applicationIcon' width='48px' height='48px' ng-src='{{applicationIconSource}}'/>
                    </div>
                    <input name='file' id='file' type='file' accept='image/*'
                           onchange="angular.element(this).scope().fileChanged(this)"/>
                </div>
            </div>
            <div ng-show='uploadInProgress'>
                Uploading...
                <div class="progress progress-striped active">
                    <div class="bar" style="width: {{progress}}%;"></div>
                </div>
            </div>
            <div ng-show='errorResponse'>
                <div class='alert alert-error'>
                    <button type='button' class='close' ng-click='clearEditError()'>&times;</button>
                    <ul ng-repeat='error in errorResponse'>
                        <li>{{error}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='modal-footer'>
            <button class='btn' type='button' data-dismiss='modal'>Cancel</button>
            <button class='btn btn-primary' ng-disabled='!canSaveEdit()'>Save</button>
        </div>
    </form>
</div>