<div>
  <script type="text/ng-template" id="install-license-form">
    <form id="license-form"
          ng-upload="vm.uploadCompleted(content)"
          action="{{vm.uploadUrl}}"
          method="post"
          class="form"
          form-mask="vm.formMask"
          mask-message="Installing"
          mask-attach-to-body>
      <label for="license-input" class="iq-btn iq-btn--primary">
        <i class="fa fa-download"></i>{{ vm.license ? 'Update' : 'Install' }} License
      </label>
      <input class="iq-input-file--hidden"
             id="license-input"
             type="file"
             name="file"
             on-file-change="vm.onFileChanged()"
             manual-file-clear
             ng-click="clearValue()"/>
      <input type="hidden" name="{{vm.csrfTokenName}}" value="{{vm.csrfTokenValue}}"/>
    </form>
  </script>
  <script type="text/ng-template" id="license-uninstall-modal-template">
    <form id="license-uninstall-modal"
          name="vm.uninstallLicenseForm"
          ng-submit="vm.uninstall()"
          form-mask="vm.formMask"
          mask-message="Uninstalling"
          mask-attach-to-body>
      <header class="iq-modal-header">
        <h2>Uninstall License</h2>
      </header>
      <section class="iq-modal-content">
        <div class="iq-alert">
          <i class="fa fa-warning"></i>If you uninstall the Nexus IQ Server License, the system will be rendered
          unusable. Are you sure you want to continue?
        </div>
      </section>
      <footer class="iq-modal-footer" ng-class="{ error : vm.submitError }">
        <div ng-if="vm.submitError" class="iq-alert iq-alert--error"><i class="fa fa-warning"></i>{{::vm.submitError}}</div>
        <button ng-if="!vm.submitError" class="btn btn-primary" type="submit">
          Uninstall
        </button>
        <button ng-if="vm.submitError" class="btn btn-error" type="submit">
          <i class="fa fa-refresh"></i>Retry
        </button>
        <button id="dismiss-btn" class="btn" type="button" ng-click="$dismiss()">Cancel</button>
      </footer>
    </form>
  </script>
  <script type="text/ng-template" id="eula-modal-template">
    <div id="eulaModal">
      <div class="iq-modal-header">
        <h2>End User License Agreement</h2>
      </div>
      <div class="iq-modal-content iq-scrollable" clm-include="'configuration/license/eula.html'"></div>
      <div class="iq-modal-footer">
        <button class="btn btn-primary" ng-click="$close()">I Accept</button><!--
     --><button class="btn" ng-click="$dismiss()">I Decline</button>
      </div>
    </div>
  </script>
  <div class="iq-body-container iq-body-container--single-pane"
       authorization-wrapper="vm.isAuthorized"
       maximize-container-height>
    <div id="license" class="iq-tile iq-tile--sys-prefs iq-tile--grid-tile">
      <div class="iq-tile-header iq-tile-header--hrule">
        <div class="iq-tile-header__title">
          <h2>Product License</h2>
        </div>
      </div>
      <div class="iq-tile-content" load-wrapper="vm.loadError" loading="!vm.isLoaded()" reload="vm.$onInit()">
        <div ng-show="!vm.loadError && vm.isLoaded()">
          <p id="license-install-guideline" ng-if="!vm.license">
            To continue, locate your license key, and use the "Install License" button below to install it.
            This is a file with extension ".lic", which will have been emailed to one or more technical
            contacts in your organization. If you have issues locating or installing your license key,
            contact <a href="mailto:support@sonatype.com">support</a>.
          </p>
          <p id="license-proxy-guideline" ng-if="!vm.license">
            If you need to configure a Proxy Server, use either the public REST API or the
            <a ui-sref="proxyConfig">Proxy Server Configuration</a> form.
          </p>
          <div ng-if="vm.license" class="iq-grid-row">
            <dl class="iq-grid-col iq-license-info iq-read-only">
              <dt>Company</dt>
              <dd class="iq-read-only-data" id="license-contact-company">{{::vm.license.contactCompany}}</dd>
              <dt>Primary Contact Name</dt>
              <dd class="iq-read-only-data" id="license-contact-name">{{::vm.license.contactName}}</dd>
              <dt>Primary Contact Email</dt>
              <dd class="iq-read-only-data" id="license-contact-email">{{::vm.license.contactEmail}}</dd>
            </dl>
            <dl class="iq-grid-col iq-license-info iq-read-only">
              <dt>License Type(s)</dt>
              <dd class="license-product iq-read-only-data" ng-repeat="product in vm.license.products">
                {{::product}}
              </dd>
              <dt ng-if="vm.displayUserLimits">Licensed Developers</dt>
              <dd ng-if="vm.displayUserLimits" class="iq-read-only-data">
                <span id="license-licensed-developers" ng-if="vm.userLimits.length === 1">
                  {{::vm.userLimits[0].count}}
                </span>
                <dl id="license-licensed-developers"
                    class="iq-license-info__nested-definitions"
                    ng-if="vm.userLimits.length !== 1">
                  <div ng-repeat="limit in vm.userLimits">
                    <dt>{{::limit.name}}</dt><!--
                 --><dd>{{::limit.count}}</dd>
                  </div>
                </dl>
              </dd>
              <dt ng-if="vm.displayApplicationLimit">Licensed Applications</dt>
              <dd ng-if="vm.displayApplicationLimit" class="iq-read-only-data" id="license-application-limit">
                {{::vm.license.applicationLimitToDisplay}}
              </dd>
              <dt>Fingerprint</dt>
              <dd class="iq-read-only-data" id="license-fingerprint">{{::vm.license.fingerprint}}</dd>
            </dl>
            <dl class="iq-grid-col iq-license-info iq-read-only">
              <dt>Expiration Date</dt>
              <dd class="iq-read-only-data visual-testing-ignore" id="license-expiry-date">
                {{::vm.license.expiryTimestamp | date:'MMMM dd, yyyy'}}
              </dd>
              <dt>Days Remaining</dt>
              <dd class="iq-read-only-data" id="license-days-to-expiration">{{::vm.license.daysToExpiration}}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="iq-tile-footer">
        <div ng-if="vm.submitError" class="iq-alert iq-alert--error">
          <i class="fa fa-warning"></i>{{::vm.submitError}}
        </div>
        <span ng-if="vm.isLoaded()" ng-include="'install-license-form'"></span>
        <button ng-if="vm.license" id="uninstall-license" class="iq-btn iq-btn--tertiary" ng-click="vm.viewUninstallLicense()">
          <i class="fa fa-trash"></i>Uninstall License
        </button>
      </div>
    </div>
  </div>
</div>
