<div id="change-default-admin-password-notice" class="iq-alert iq-alert--system-notice" ng-if="vm.shouldDisplayNotice">
  <h2><i class="fa fa-warning"></i>Change Administrator Password</h2>
  <span ng-if="vm.isDefaultUser">
    For security reasons, you'll want to change the default password right away. Click your username
    <i class="glyphicons-sonatype iq-icon--getting-started-reference medium user"></i>
    in the header to access this option.
  </span>
  <span ng-if="!vm.isDefaultUser">
    For security reasons, you'll want to change the password of the default user. Log in as 'admin' and click on the
    username
    <i class="glyphicons-sonatype iq-icon--getting-started-reference medium user"></i>
    in the header to access this option.
  </span>
</div>
