<div
  id="change-default-admin-password-notice"
  class="nx-system-notice nx-system-notice--alert"
  ng-if="vm.shouldDisplayNotice"
  >
  <i class="fa fa-warning"></i>
  <strong>Change Administrator Password.</strong>
  <span ng-if="vm.isDefaultUser">
    For security reasons, please change your password by clicking the user menu in the header.
  </span>
  <span ng-if="!vm.isDefaultUser">
    The "admin" user has the default password set. Login under that username to change the password.
  </span>
</div>
