<div class="iq-tree-view iq-tree-view--multi-select">
  <a class="iq-tree-view__trigger tm-tree-view-trigger"
     ng-click="isExpanded = vm.available.length && !vm.readOnly && !isExpanded"
     ng-class="{disabled: vm.readOnly}">
    <div ng-if="vm.shouldShowSelected()" class="iq-counter">
      {{vm.getSelectedName()}}
    </div>
    <div class="iq-tree-view__twisty">
      <span class="iq-tree-view__twisty-icon" ng-class="{ expand: !isExpanded, collapse: isExpanded }"></span>
    </div>
    <div class="iq-tree-view__text">
      <span ng-transclude></span>
    </div>
  </a>
  <div ng-if="isExpanded" class="iq-tree-view__children">
    <iq-radio ng-repeat="entity in vm.available"
              class="iq-tree-view__child"
              model="vm.isSelected(entity.id)"
              value="true"
              on-click="vm.select(entity.id)">{{::entity.name}}
    </iq-radio>
  </div>
</div>
