.iq-tile--report-list-filter {
  border-bottom: 0;
  margin-bottom: 0;

  .iq-form-group {
    margin-bottom: 0;
  }
}

.iq-tile--report-list {
  border-top: 0;
  margin-top: 0;
  position: relative;

  div.modal-help-icon {
    cursor: pointer;
    display: inline;
    position: relative;
    left: 8px;
  }

  .iq-spinner__wrapper {
    margin-top: 0;
    padding-top: 8px;
  }
}

.iq-scrollable--report-list {
  @include table-fixed-widths(6);

  max-height: 100%;
  width: 100%;
}

.iq-report-list__stage-links {
  align-items: center;
  display: flex;
  font-size: 12px;
  line-height: 12px;

  a {
    @extend .truncate-ellipsis;
    @include semi-bold();

    display: inline-block;
  }
}

.iq-report-list__violation-links {
  flex-shrink: 0;
}

.iq-report-list__report-links {
  min-width: 0;
}

.iq-report-list__violation-links {
  margin-right: 6px;
}

.iq-report-list__violation-links .iq-threat-indicator {
  font-size: 12px;
  height: 18px;
  line-height: 19px;
  margin-right: 1px;
  width: 16px;
  min-width: 0;
}

.iq-report-list__report-age {
  @extend .truncate-ellipsis;
  display: block;
}

.iq-table--report-list {
  .iq-table--fixed__header {
    left: 16px;
    // modified because table is not inside iq-tile-content
    width: calc(100% - #{$iq-spacing-xl});
  }

  .iq-table--fixed__content {
    padding-top: 6px;

    .iq-table-row {
      border-top: 1px solid $iq-grey-1;
    }

    .iq-cell {
      border-top: 0;
      height: 100%;
      vertical-align: middle;
    }
  }

  .sort-column {
    color: $iq-slate;
    text-decoration: none;

    &:hover {
      color: $iq-slate;
      text-decoration: none;
    }

    .up::before, .down::before {
      line-height: 40px;
      font-size: 12px;
      vertical-align: top;
    }

    .emptyIconGlyph {
      width: 12px;
    }
  }

  .image-thumbnail {
    height: 24px;
    margin-right: 5px;
    width: 24px;
  }

  .vs-repeat-before-content, .vs-repeat-after-content {
    display: block;
  }
}

#no-reports-message a.link {
  @extend %link;
}
