.iq-tile--report-list-filter {
  border-bottom: 0;
  margin-bottom: 0;
}

.iq-tile--report-list {
  border-top: 0;
  margin-top: 0;
  position: relative;

  div.modal-help-icon {
    cursor: pointer;
    display: inline;
    position: relative;
    left: 8px;
  }

  .iq-scrollable {
    max-height: 100%;
    width: 100%;
  }

  .iq-spinner__wrapper {
    margin-top: 0;
    padding-top: 8px;
  }
}

.iq-report-list__stage-links {
  margin-top: 10px;

  a {
    @extend .truncate-ellipsis;

    display: inline-block;
    width: calc(100% - 1px);
  }
}

.iq-report-list__violation-links,
.iq-report-list__report-links {
  line-height: 21px;
}

.iq-table--report-list {
  thead {
    background: $iq-grey-1;
  }

  .iq-cell--header {
    width: calc((100% / 6) - (24px + 1px));
  }

  tbody {
    .iq-table-row {
      border-top: 1px solid $iq-grey-1;
    }

    .iq-cell {
      border-top: 0;
      // (100% / # of columns) - (column padding + border)
      width: calc((100% / 6) - (24px + 1px));
    }
  }

  .sort-column {
    color: $iq-slate;
    text-decoration: none;

    &:hover {
      color: $iq-slate;
      text-decoration: none;
    }

    .up::before, .down::before {
      line-height: 40px;
      font-size: 12px;
      vertical-align: top;
    }

    .emptyIconGlyph {
      width: 12px;
    }
  }

  .image-thumbnail {
    height: 24px;
    margin-right: 5px;
    width: 24px;
  }
}

.scrollbar-present {
  .iq-table--report-list {
    .iq-cell {
      // ((100% + scrollbar ) / # of columns) - (column padding + border)
      width: calc(((100% + #{$iq-scrollbar-width}) / 6) - (24px + 1px));
    }

    .iq-cell:last-child {
      // ((100% + scrollbar ) / # of columns) - (column padding + border) - scrollbar
      width: calc(((100% + #{$iq-scrollbar-width}) / 6) - (24px + 1px) - #{$iq-scrollbar-width});
    }
  }
}

#no-reports-message a.link {
  @extend %link;
}
