.iq-tree-view {
  padding-top: 8px;
}

.iq-tree-view__group {
  margin-bottom: 8px;
  width: 100%;
}

.iq-tree-view__trigger {
  border: 1px solid transparent;
  color: #575757;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  
  &:hover, &:focus {
    color: #575757;
    text-decoration: none;
  }

  i {
    margin-right: 8px;
  }
}

.iq-tree-view__twisty {
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  width: 13px;
}

.iq-tree-view__twisty-icon {
  border-top: 5px solid #575757;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  margin: 6px 3px;
  vertical-align: text-top;
  width: 0;

  &.expand {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #575757;
    margin: 3px 8px 3px 3px;
  }
}

.iq-tree-view__text {
  display: inline-block;
}

.iq-tree-view__counter {
  background-color: #dedede;
  border: 1px solid #cacaca;
  border-radius: 8px;
  color: #575757;
  float: right;
  font-size: 11px;
  height: 16px;
  line-height: 18px;
  margin-top: 6px;
  padding: 0 4px;
  text-align: center;
  min-width: 8px;
}

.iq-tree-view__children {
  margin-bottom: 12px;
}

.iq-tree-view__child {
  border: 1px solid transparent;
  height: 30px;
  padding-left: 48px;

  &.selected {
    a {
      text-decoration: none;
      color: #070707;
      cursor: default;
    }
  }

  label {
    line-height: 32px;
    margin: 0;
  }
}

.iq-tree-view--active {
  background-color: #fefefe;
  border-top-color: #575757;
  border-bottom-color: #575757;
}
