<section id="getting-started" class="nx-page-main">
  <header class="nx-page-title iq-page-title">
    <h1 class="nx-h1">Welcome to IQ Server</h1>
    <div class="nx-page-title__description" load-wrapper="vm.error" loading="vm.isLoading()" reload="vm.$onInit()">
      You can access this page at any time from the help menu.
      <i class="glyphicons-sonatype medium help iq-icon--getting-started-reference"></i>
    </div>
  </header>

  <div ng-if="vm.isDataLoaded()">
    <section class="iq-tile iq-alert" id="hds-unreachable-warning" ng-if="vm.shouldDisplayHdsUnreachable">
      <div class="iq-tile-header">
        <div class="iq-tile-header__title">
          <i class="iq-tile-header__icon fa fa-warning"></i>
          <h2>Sonatype Data Services unreachable</h2>
        </div>
      </div>
      <div class="iq-tile-content">{{vm.hdsUnreachableErrorMessage}}</div>
      <div class="iq-tile-content visual-testing-ignore">
        Search server logs for the following ID for error details: {{vm.hdsUnreachableIncidentId}}
      </div>
      <div class="iq-tile-content">
        Review the
        <getting-started-doc-link
          href="http://links.sonatype.com/products/nxiq/doc/requirements"
          link-text="documentation"
        ></getting-started-doc-link>
        for connectivity requirements.
      </div>
    </section>

    <product-license-summary ng-if="vm.license" license="vm.license"></product-license-summary>

    <system-setup ng-if="vm.isAuthorizedToViewSystemSetup()"></system-setup>

    <learning-topics></learning-topics>
  </div>
</section>
