<item-description>
  <marked>

    Arguments:

    Params      | Type        | Details|
    :---        | :---        | :---
    state       | String      | state to navigate to
    text        | String      | optional - button text

    Button text depends on supplied parameters. `text` value will be used if supplied, else it will depend on
    `data.title` configured in the provided state:
    ```js
    $stateProvider.state('home', {
      url: '/home',
      templateUrl: 'app/home.html',
      data: {
        title: 'Gallery Home'
      }
    });
    ```

  </marked>
</item-description>

<item-example-html>
  <iq-back-button state="home"></iq-back-button>
  <iq-back-button state="home" text="FOO"></iq-back-button>
</item-example-html>
