<div id="cip-policy-violations" load-wrapper="error" reload="doLoad()" error-message="Unable to load policy violation data." loading="!error && !processedPolicyAlerts">
  <script type="text/ng-template" id="add-waiver-modal-tmpl">
  <div id="add-waiver-modal">
    <div class="iq-modal-header">
      <h2>Add Waiver</h2>
    </div>
    <div class="iq-modal-content iq-scrollable">
      <div ng-show="waiverLoading">
        <i class="icon icon-time"></i> Loading...
      </div>
      <div ng-show="!waiverLoading">
        <div id="add-waiver-legacy-message" class="iq-alert iq-alert--error" ng-show="legacyReport">
            This report has not been upgraded for the new waiver functionality introduced in release 53.
            Re-evaluate to update and then create the waiver.
        </div>
        <label class="iq-label">Policy</label>
        <div id="waiver-policy-name"
             class="cip-policy cip-policy-{{::getThreatColor(policy.threatLevel)}} cip-policy-name">
          {{policy.name}}
        </div>

        <label class="iq-label iq-label--spaced">Constraint Name</label>
        <div id="waiver-constraint-name">
          <div ng-repeat="constraint in policy.constraints">{{constraint.constraintName}}</div>
        </div>

        <label class="iq-label iq-label--spaced">Conditions</label>
        <div id="waiver-conditions">
          <div ng-repeat="constraint in policy.constraints">
            <div ng-repeat="condition in constraint.conditions">{{condition.conditionReason}}</div>
          </div>
        </div>

        <label class="iq-label iq-label--spaced">Scope</label>
        <div class="radio-container">
          <label class="radio">
            <input type="radio"
                   id="waiver-scope-violation-only"
                   name="waiver-scope"
                   ng-model="waiveViolationOnly"
                   ng-value="true"
                   ng-change="reset()"/>
            This violation only
          </label>
          <label class="radio">
            <input type="radio"
                   id="waiver-scope-scoped"
                   name="waiver-scope"
                   ng-model="waiveViolationOnly"
                   ng-value="false"/>
            Scoped Waiver
          </label>
        </div>

        <div id="add-waiver-scope" class="scoped-waiver-block" ng-show="!waiveViolationOnly">
          <label class="iq-label" for="waiver-owner">Scope</label>
          <select id="waiver-owner"
                  name="owner"
                  ng-model="owner"
                  ng-change="waiver.ownerId = owner.id">
            <option ng-repeat="waiverTarget in waiverTargets" ng-value="waiverTarget">
              {{waiverTarget.label}} - {{waiverTarget.name}}
            </option>
          </select>

          <div class="radio-container">
            <label class="iq-label">Component</label>
            <label class="radio">
              <input type="radio"
                     id="waiver-hash-component"
                     name="waiver-hash"
                     ng-model="waiver.hash"
                     value="{{component.hash}}">
              {{component.componentDisplayText}}
            </label>
            <label class="radio">
              <input type="radio"
                     id="waiver-hash-all"
                     name="waiver-hash"
                     ng-model="waiver.hash"
                     ng-value="null">
              All components
            </label>
          </div>
        </div>

        <label class="iq-label" for="waiver-comment">Comments</label>
        <textarea id="waiver-comment" ng-model="waiver.comment" maxlength="1000"></textarea>
      </div>
    </div>
    <div class="iq-modal-footer">
      <div class="iq-alert iq-alert--error" ng-show="waiveAssignError">{{waiveAssignError}}</div>
      <button id="waiver-submit"
              type="button"
              class="btn btn-primary"
              ng-click="acceptWaiveComponent()"
              ng-disabled="waiverSaving || legacyReport">
        Waive
      </button>
      <button id="waiver-cancel" type="button" class="btn btn-dismiss" ng-click="$dismiss()" ng-disabled="waiverSaving">
        Cancel
      </button>
    </div>
  </div>
  </script>
  <script type="text/ng-template" id="view-waivers-modal-tmpl">
    <div id="component-existing-waiver-modal">
      <div ng-hide="confirmDelete">
        <div class="iq-modal-header">
          <h2>Component Waivers</h2>
        </div>
        <div class="iq-modal-content" ng-show="waiversLoading">
          <span>Loading data...</span>
        </div>
        <div class="iq-modal-content iq-scrollable" ng-show="!waiversLoading">
          <div ng-show="!waivers.length"><em id="no-waivers-assigned" style="margin-left:25px;">No waivers assigned</em></div>
          <table ng-show="waivers.length" class="table table-condensed">
            <thead>
              <tr>
                <th>Policy</th>
                <th class="visual-testing-ignore">Created</th>
                <th class="visual-testing-ignore">Owner</th>
                <th class="visual-testing-ignore">Comment</th>
              </tr>
            </thead>
            <tr ng-repeat="waiver in waivers">
              <td>{{waiver.policyName}}</td>
              <td class="visual-testing-ignore">{{waiver.createTime | date:"yyyy-MM-dd"}}</td>
              <td class="visual-testing-ignore component-waiver-owner">{{waiver.ownerName}}</td>
              <td class="visual-testing-ignore component-waiver-comment">{{waiver.comment}}</td>
              <td>
                <button class="btn btn-mini visual-testing-ignore tm-remove-waiver" ng-click="remove(waiver)" title="Remove {{placeHolder}}"><i class="icon-minus-sign"></i></button>
              </td>
            </tr>
          </table>
        </div>
        <div class="iq-modal-footer">
          <div class="iq-alert iq-alert--error" ng-show="appError">{{appError}}</div>
          <button id="close-component-existing-waivers" type="button" class="btn" ng-click="$close()">Close</button>
        </div>
      </div>
      <div id="confirm-delete-waiver-modal" ng-show="confirmDelete">
        <div class="iq-modal-header">
          <h2>Remove Waiver</h2>
        </div>
        <div class="iq-modal-content" >
          Removing the waiver for {{confirmDelete.policyName}} will reinstate violations for this component if applicable.
        </div>
        <div class="iq-modal-footer">
          <button id="confirm-remove-waiver" type="button" class="btn btn-primary" ng-click="removeWaiver()">Remove</button>
          <button id="cancel-remove-waiver" type="button" class="btn" ng-click="confirmDelete = null">Cancel</button>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="release-quarantine-tmpl">
    <div id="release-quarantine-modal">
      <div class="iq-modal-header">
        <h2>Release Quarantine</h2>
      </div>
      <div ng-if="!vm.error">
        <div class="iq-modal-content">
          Releasing the quarantine on this component will allow users of this Nexus repository to download and use the artifact.
        </div>
        <div class="iq-modal-footer">
          <button class="btn btn-primary" ng-disabled="vm.activeRequest" ng-click="vm.release()">Release</button>
          <button class="btn" ng-click="$dismiss()">Cancel</button>
        </div>
      </div>
      <div ng-if="vm.error">
        <div class="iq-modal-content modal-error">
          <i class="icon icon-warning-sign"></i> Failed to release the quarantine. ({{vm.error}})
        </div>
        <div class="iq-modal-footer">
          <button class="btn btn-primary" type="button" ng-disabled="vm.activeRequest" ng-click="vm.release()">Retry</button>
          <button class="btn" type="button" ng-click="$dismiss()">Cancel</button>
        </div>
      </div>
    </div>
  </script>
  <div style="width:100%;margin-bottom:5px;" class="clearfix">
    <button id="view-existing-waivers" class="btn pull-right" ng-click="viewWaivers()">View Existing Waivers</button>
    <div ng-if="quarantined">
      <span><i class="icon icon-ban-circle"></i> Quarantined </span>
      <a id="release-quarantine" class="btn"
              tooltip="{{hasQuarantiningViolations() ? 'To release: resolve all failing violations and re-evaluate the repository' : ''}}"
              ng-class="{disabled: hasQuarantiningViolations()}"
              ng-click="$event.preventDefault(); !hasQuarantiningViolations() && releaseQuarantine()">Release Quarantine</a>
    </div>
  </div>
  <div class="cip-policy-wrapper">
    <table class="table table-condensed table-striped cip-policy-table">
      <thead>
        <tr>
          <th class="cip-policy-table-header">Policy/<em>Action</em></th>
          <th class="cip-policy-table-header">Constraint Name</th>
          <th class="cip-policy-table-header">Conditions</th>
          <th class="cip-policy-table-header waivers-column">Waivers</th>
        </tr>
      </thead>
      <tr class="tm-cip-waiver-row" ng-repeat="policyAlert in processedPolicyAlerts">
        <td align="left" valign="top" style="padding: 0px;" class="cip-policy cip-policy-{{::getThreatColor(policyAlert.threatLevel)}}">
          <div>
            <b>{{::policyAlert.name}}</b>
          </div>
          <ul class="actions" ng-if="::(policyAlert.actions.length || policyAlert.blocksUnquarantine)">
            <li ng-if="::quarantined && policyAlert.blocksUnquarantine"><i>Proxy fail</i> <i class="icon icon-ban-circle"></i></li>
            <li ng-repeat="action in policyAlert.actions"><i>{{::action.actionSummary}}</i></li>
          </ul>
        </td>
        <td valign="top" align="left">
          <div ng-repeat="constraint in policyAlert.constraints">
            <div ng-repeat="condition in constraint.conditions">
              <div style="color: #555555;" ng-show="$index == 0">
                <b>{{constraint.constraintName}}</b>
              </div>
              <div ng-show="$index > 0">&nbsp;</div>
            </div>
          </div>
        </td>
        <td>
          <div ng-repeat="constraint in policyAlert.constraints">
            <div ng-repeat="condition in constraint.conditions" style="color: #555555;">{{condition.conditionReason}}</div>
          </div>
        </td>
        <td class="waivers-column">
          <button ng-if="!policyAlert.isRequestWaiverDisabled"
                  ng-click="policyAlert.policyViolationId && requestWaiver(policyAlert)"
                  ng-class="{'disabled': !policyAlert.policyViolationId}"
                  class="btn btn-secondary tm-request-waiver-button"
                  tooltip="{{!policyAlert.policyViolationId ?
                             'The feature to request a waiver is not available on old reports.
                              Re-evaluate this report to make it available' : ''}}"
                  tooltip-append-to-body="true">
            Request
          </button>

          <button ng-if="!useNewWaiverPages"
                  type="button"
                  class="btn btn-primary tm-waive-button"
                  ng-click="waiveComponent(policyAlert)">
            Waive
          </button>

          <button ng-if="useNewWaiverPages"
                  type="button"
                  class="btn btn-primary tm-waive-button"
                  ng-click="policyAlert.policyViolationId && waiveComponent(policyAlert)"
                  ng-class="{'disabled': !policyAlert.policyViolationId}"
                  tooltip="{{!policyAlert.policyViolationId ?
                             'The feature to waive is not available on old reports.
                              Re-evaluate this report to make it available' : ''}}"
                  tooltip-append-to-body="true">
            Waive
          </button>
        </td>
      </tr>
      <tr ng-if="processedPolicyAlerts.length === 0">
        <td colspan="4"><b>No Policy Violations</b></td>
      </tr>
    </table>
  </div>
</div>
