<div>
  <form ng-submit='add()' name='neditor' class="clm-form list-editor-form">
    <div clm-control-group for="current-entry" label="{{label}}">
      <div class='input-append controls'>
        <input clm-input type='text' id="current-entry" name='currentEntry' ng-model='currentEntry' max='{{maxLength}}'
               list-editor-validator required entersubmit messages="messages || {}">
        <button class='btn' ng-disabled='neditor.$invalid' title='Add {{label}}'>Add</button>
      </div>
    </div>
    <div class='control-group' ng-if="regexes !== undefined">
      <input type='checkbox' id='isRegex' name='isRegex' ng-model='isRegex' ng-change="isRegexChanged()">
      <label for='isRegex'>Regular expression</label>
    </div>
  </form>
  <div class='well well-small list-editor-well'>
    <div>
      <table>
        <tr ng-repeat='entry in entries'>
          <td>
            <div title='{{entry}}'>{{entry}}</div>
          </td>
          <td>
            <button class='btn btn-mini' ng-click='remove($index)' title='Remove {{label}}'>
              <i class='icon-minus-sign'></i>
            </button>
          </td>
        </tr>
        <tr ng-repeat='entry in regexes'>
          <td>
            <div title='{{entry}}'>{{entry}}</div>
          </td>
          <td>
            <span><em>(regex)</em></span>
            <button class='btn btn-mini' ng-click='removeRegex($index)' title='Remove {{label}}'>
              <i class='icon-minus-sign'></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>