<section class="iq-tile iq-tile--grid-tile">
  <header class="iq-tile-header iq-tile-header--hrule">
    <div class="iq-tile-header__title">
      <h2>Product License</h2>
    </div>
    <div class="iq-tile-header__subtitle">
      Read about license features in our
      <getting-started-doc-link
        href="http://links.sonatype.com/products/nxiq/doc/licensing-and-features"
        link-text="feature matrix."
      >
      </getting-started-doc-link>
    </div>
  </header>
  <div class="iq-tile-content">
    <div class="iq-grid-row">
      <dl class="iq-grid-col iq-license-info iq-read-only" id="license-products">
        <dt>License Type(s)</dt>
        <dd class="iq-read-only-data" ng-repeat="product in ::vm.license.products">{{::product}}</dd>
      </dl>
      <dl class="iq-grid-col iq-license-info iq-read-only">
        <div ng-if="::vm.userLimits.length > 0">
          <dt>Licensed Developers</dt>
          <dd class="iq-read-only-data">
            <span id="license-licensed-developers" ng-if="::vm.userLimits.length === 1">
              {{::vm.userLimits[0].count}}
            </span>
            <dl
              class="iq-license-info__nested-definitions"
              ng-if="::vm.userLimits.length !== 1"
              id="license-licensed-developers"
            >
              <div ng-repeat="limit in vm.userLimits">
                <dt>{{::limit.name}}</dt>
                <!--
             -->
                <dd>{{::limit.count}}</dd>
              </div>
            </dl>
          </dd>
        </div>

        <div ng-if="::vm.shouldDisplayApplicationLimit">
          <dt>Licensed Applications</dt>
          <dd class="iq-read-only-data" id="license-application-limit">
            {{::vm.license.applicationLimitToDisplay}} ({{::vm.license.applicationCountToDisplay}} in use)
          </dd>
        </div>

        <dt>Fingerprint</dt>
        <dd class="iq-read-only-data" id="license-fingerprint">{{::vm.license.fingerprint}}</dd>
      </dl>
      <dl class="iq-grid-col iq-license-info iq-read-only">
        <dt>Expiration Date</dt>
        <dd class="iq-read-only-data visual-testing-ignore" id="license-expiry-date">
          {{::vm.license.expiryTimestamp | date:'MMMM dd, yyyy'}}
        </dd>
        <dt>Days Remaining</dt>
        <dd class="iq-read-only-data" id="license-days-to-expiration">{{::vm.daysToExpiration}}</dd>
      </dl>
    </div>
  </div>
</section>
