.i-lic {
  background: url(public/license-icon_16x16.png) no-repeat;
  height: 16px;
  line-height: 19px;
  padding-left: 19px;
}

.i-sec {
  background: url(public/security-icon_16x16.png) no-repeat;
  height: 16px;
  line-height: 19px;
  padding-left: 19px;
}

.h-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #9E9E9E;
}

.h-value {
  font-family: Arial, Helvetica, sans-serif;
  color: #5D5D5D;
  font-size: 13px;
}

.sums {
  width: 105px;
  margin-right: 20px;
  vertical-align: top;
}

span.cat {
  padding-left: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
}

.sv-red span.cat {
  color: #bc012f;
}

.sv-orange span.cat {
  color: #f4861d;
}

.sv-yellow span.cat {
  color: #81710A;
}

.sv-blue span.cat {
  color: #006bbf;
}

.iq-pill {
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 19px;
  height: 22px;
  line-height: 22px;
  min-width: 44px;
  text-align: center;
}

.iq-pill.iq-pill--large {
  height: 34px;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 10px;
  width: 104px;
}

.iq-pill.blue {
  background: #006bbf;
}

.iq-pill.orange {
  background: #f4861d;
}

.iq-pill.red {
  background: #bc012f;
}

.iq-pill.yellow {
  background: #f5c648;
}

/* header */
.header-container {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

#coverage_donut {
  margin: 0 5px 0 0;
  display: inline-block;
}

.value_lrg {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 19px;
  color: #656565;
  line-height: 24px;
}

.label_med {
  font-size: 12px;
  color: #666;
  font-weight: bold
}

.value_sml {
  font-size: 12px;
  color: #9E9E9E;
  font-weight: bold;
}

.label_sml {
  font-size: 10px;
  color: #9E9E9E;
  line-height: 16px;
  white-space: nowrap
}

.iblock {
  display: inline-block;
}

.punchcard {
  float: right;
}

.btn-group>.btn {
  color: #2068aa;
  font-weight: bold
}

.btn-group>.btn.btn-primary {
  color: white;
  font-weight: bold
}

.active {
  color: black
}

.sectionsummary {
  color: #848484;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 10px
}

.license-description {
  padding: 20px;
  padding-top: 30px;
  width: 255px;
  position: absolute;
}

.security-description {
  padding: 20px;
  padding-top: 30px;
  width: 355px;
  position: absolute;
}

.clear {
  clear: both;
}

.page-header {
  padding-bottom: 5px !important;
}

.slick-headerrow-column>input {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

label {
  display: inline-block;
}

.message {
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  padding: 30px 45px;
  background-color: white;
  z-index: 2000;
}

div.selected {
  background-color: #f5f5f5;
  border-bottom: 1px solid #cacaca;
  border-top: 1px solid #cacaca;
}

.counterFill {
  border: 1px solid black;
  border-left: none;
  border-right: none;
  height: 10px;
  margin-top: 6px;
  display: inline-block;
}

.sectionBorder {
  border-width: 10px;
  border-style: solid;
  border-color: #f7f7f7;
}

.sectionBorderNoBottom {
  border-width: 10px 10px 0px 10px;
  border-style: solid;
  border-color: #f7f7f7;
}

.sectionBorderBottom {
  border-width: 0px 0px 10px 0px;
  border-style: solid;
  border-color: #f7f7f7;
}

.informationPanel {
  position: absolute;
  z-index: 2;
  background-color: white;
  display: none;
  height: 320px;
}

.informationPanel .tab-content {
  width: 100%;
  padding-top: 5px;
}

.informationPanel .tab-pane {
  height: 270px;
  overflow: hidden;
}

#infoPanelArtifactTable .license {
  display: inline-block;
}

#licenseList li.license {
  line-height: 10px;
  vertical-align: bottom;
  padding-bottom: 8px;
}

.shadowTop {
  -webkit-box-shadow: 0 -8px 6px -6px black;
  -moz-box-shadow: 0 -8px 6px -6px black;
  box-shadow: 0 -8px 6px -6px black;
}

.shadowBottom {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.artifactInfoTableLabel {
  font-size: 11px;
  color: #333333;
  text-align: right;
  vertical-align: top;
  width: 120px;
}

.artifactInfoTableValue {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #333333;
  padding-left: 5px;
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.artifactInfoSecurity {
  display: inline-block;
  height: 18px;
  padding: 0px 5px;
  text-align: center;
  border-radius: 2px;
}

.artifactInfoSecurityCritical {
  background-color: #bc012f;
  border: 1px solid #b71218;
  color: white;
}

.artifactInfoSecuritySevere {
  background-color: #f4861d;
  border: 1px solid #c67a22;
  color: white;
}

.artifactInfoSecurityModerate {
  background-color: #f5c648;
  border: 1px solid #ddbe18;
  color: black;
}

.artifactInfoSecurityUnspecified {
  background-color: #d9dade;
  border: 1px solid #84858a;
  color: #444549;
}

.editor {
  position: absolute !important;
  z-index: 1000;
  zoom: 1;
  background: #dcdcdc;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  overflow: visible !important;
}

.editor-btn {
  position: absolute !important;
  z-index: 1001;
  zoom: 1;
  background: #dcdcdc;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  overflow: visible !important;
}

.editor-cell {
  position: absolute;
  height: 25px;
  padding: 3px 2px 3px 2px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2068AA;
  white-space: nowrap;
}

.bottomBorder {
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-style: solid;
  border-color: #f7f7f7;
}

.topBorder {
  border-top-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-style: solid;
  border-color: #f7f7f7;
}

h1 {
  color: #006699;
}

ul.nav-tabs>li>a {
  cursor: pointer !important;
}

ul.nav-tabs > li > a {
  color: #575757;
}

ul.nav-tabs > li > a:hover {
  color: #070707;
}

ul.nav-tabs>li.active>a {
  background: #f5f5f5 !important;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #dedede;
  color: #070707 !important;
}

ul.nav-pills>li.active>a {
  background: #336699 !important;
  color: white !important;
}

#informationPanel .well .form-horizontal label {
  width: 85px;
}

#informationPanel .well .form-horizontal .controls {
  margin-left: 105px;
}

.dirty {
  background: transparent url(dirty.gif) no-repeat 0 0;
}

.infoPanelText {
  width: 99%;
  padding: 7px 0 5px 1%;
  vertical-align: -12px;
}

.fileDetail {
  overflow: auto;
  height: 250px;
}

.release-header {
  background: url(release-header-bg.png);
  text-align: center;
}

.release-header>span {
  background: rgb(248, 248, 248);
  padding: 0 5px;
}

.release-header>.icon-question-sign {
  margin-top: 2px;
  float: right;
}

#securityTablePager, #licenseTablePager, #componentTablePager {
  height: 26px;
}

body {
  background-color: transparent;
}

.container {
  background-color: white;
}

#componentcontainer h4 {
  display: inline-block;
  margin-top: 14px;
  padding-left: 15px;
  vertical-align: top;
}

#componentcontainer ul.nav-pills {
  display: inline-block;
  margin: 5px;
}

#componentcontainer .l1 {
  padding-left: 4px;
}

.modified {
  background: url('dirty.gif') no-repeat;
}

.popularity-100, .popularity-80, .popularity-60, .popularity-40, .popularity-20 {
  background-image: url('popularity.png');
  height: 28px;
  margin: -2px auto 0px;
  width: 28px;
}

.popularity-100 {
  background-position: 0px 0px;
}

.popularity-80 {
  background-position: -28px 0px;
}

.popularity-60 {
  background-position: -56px 0px;
}

.popularity-40 {
  background-position: -84px 0px;
}

.popularity-20 {
  background-position: -112px 0px;
}

.license-tooltip td {
  vertical-align: text-top;
}

.license-tooltip td:first-child {
  text-align: right;
}

.license-tooltip td:last-child {
  text-align: left;
}

.vulnerability-info-button {
  height: 25px;
  width: 25px;
  background: url('public/glypyicons-halfligns-icon-info-sign.png')
    no-repeat center !important;
  background-size: 12px 12px;
}

#componentcontainer .l3 {
  padding-left: 3px !important;
}

#sv-info-modal .modal-body {
  max-height: 400px;
  overflow: auto;
}

#sv-info-modal.modal {
  width: 900px;
  left: calc(50% - ((900px - 560px) / 2));
}

.arrow {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 10px;
}

.yellow_arrow {
  background: url('yellow_arrow.png');
}

.orange_arrow {
  background: url('orange_arrow.png');
}

.red_arrow {
  background: url('red_arrow.png');
}

.span2-narrow {
  width: 110px;
}

