<div class="nx-viewport-sized__container" load-wrapper="error" reload="doLoad()" loading="!applicationComponents">
  <root-organization-migrate></root-organization-migrate>
  <div breadcrumb></div>
  <header class="nx-page-title">
    <h1 class="nx-h1" id="component-name">
      <component-display component="component"></component-display>
    </h1>
    <div class="component-total-risk">
      <label class="nx-label">
        <span class="nx-label__text">
          TOTAL RISK
        </span>
      </label>
      <span id="total-risk">{{totalRisk}}</span>
    </div>
  </header>
  <div class="iq-scrollable iq-scrollable--component-details nx-viewport-sized__scrollable">
    <table class="table component-application-table clm-table-border-top clm-table-stripe">
      <thead>
        <tr>
          <th class="expandable-header"></th>
          <th>
            <div>APPLICATION</div>
          </th>
          <th class="share-risk-header">
            <div>SHARE OF RISK</div>
          </th>
          <th class="risk-header">
            <div>RISK</div>
          </th>
          <th ng-repeat="stage in stageTypes"
              class="stage-column stage-column-{{stage.stageTypeId}}">
            <div>{{stage.shortName | uppercase}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="applicationComponent in applicationComponents | orderBy:'risk':true"
            ng-class="{ expanded: applicationComponent.isExpanded }"
            id="application-row-{{applicationComponent.uiIdentifier}}"
            class="expandable-row app-row}">
          <td>
            <div class="twisty-container" ng-click="applicationComponent.isExpanded = !applicationComponent.isExpanded"
                 data-toggle="collapse" data-target="#application-{{applicationComponent.uiIdentifier}}">
              <span class="twisty"
                    ng-class="{ expand: !applicationComponent.isExpanded && applicationComponent.policyViolations.length > 0,
                              collapse: applicationComponent.isExpanded && applicationComponent.policyViolations.length > 0,
                                 empty: applicationComponent.policyViolations.length === 0}"></span>
            </div>
          </td>
          <td>
            <img class="image-thumbnail"
              ng-src="{{'../rest/application/icon/' + (applicationComponent.application.publicId | EncodeURIComponent)}}">
            {{applicationComponent.application.organizationName}} : {{applicationComponent.application.name}}
          </td>
          <td class="share-risk-column"><span risk-pie risk="{{totalRisk === 0 ? 0 : (applicationComponent.risk/totalRisk)}}" height="24" width="24"
                    clazz="clm-arc application"></span>
            &nbsp;{{formatRiskPercent(applicationComponent.risk, totalRisk)}}
          </td>
          <td class="risk-column">
            {{applicationComponent.risk}}
          </td>
          <td ng-repeat='stageDetails in applicationComponent.stageDetails' class="stage-column">
            <a title="View application report"
               ui-sref="applicationReport.policy({
                 publicId: applicationComponent.application.publicId,
                 scanId: stageDetails.scanId
               })"
               target="_blank" ng-if="stageDetails.time > 0">
                {{stageDetails.time | terseAgo}}
                <i class="sonatype-icons pad-left"
                   ng-class="{ warn: stageDetails.actionTypeId === 'warn', fail : stageDetails.actionTypeId === 'fail'}"></i>
              </a>
          </td>
        </tr>
        <tr ng-repeat-end>
          <td colspan="{{4 + stageTypes.length}}" class="accordion-column">
            <div id="application-{{applicationComponent.uiIdentifier}}"
                 class="accordion-body collapse application-container">
              <div class="component-violations-table">
                <table class="table clm-table-stripe">
                  <tbody>
                    <tr ng-repeat="policyViolation in applicationComponent.policyViolations | orderBy:'threatLevel':true">
                      <td class="clm-bar" threat-class="policyViolation.threatLevel"></td>
                      <td class="threat-column">{{policyViolation.threatLevel}}</td>
                      <td>
                        {{policyViolation.policyName}}
                      </td>
                      <td class="share-risk-column">
                        <span risk-pie risk="{{totalRisk === 0 ? 0 : (policyViolation.threatLevel/totalRisk)}}"
                                height="24" width="24" clazz="clm-arc violation"></span>
                        &nbsp;{{formatRiskPercent(policyViolation.threatLevel, totalRisk)}}
                      </td>
                      <td class="risk-column">
                        {{policyViolation.threatLevel}}
                      </td>
                      <td ng-repeat='stageDetails in policyViolation.stageDetails'
                          ng-class="{ 'latest-risk': stageDetails.time === policyViolation.time }"
                          class="stage-column stage-column-{{stageDetails.stageTypeId}}">
                        <a title="View application report"
                           ui-sref="applicationReport.policy({
                             publicId: applicationComponent.application.publicId,
                             scanId: stageDetails.scanId
                           })"
                           target="_blank" ng-if="stageDetails.time > 0">
                            {{stageDetails.time | terseAgo}}
                            <i class="sonatype-icons pad-left"
                               ng-class="{ warn: stageDetails.actionTypeId === 'warn', fail : stageDetails.actionTypeId === 'fail'}"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="applicationComponents.length === 0">
          <td colspan="{{3 + stageTypes.length}}">
            <em>No application risk data available for this component.</em>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
