#license-editor .load-error .alert {
	width : 50%;
	margin : auto;
	padding: 8px 35px 8px 14px;
}
#license-editor .controls {
	width : 400px;
}
#license-editor select, #license-editor textarea {
	width : 400px;
}
#license-editor .control-group {
	margin-bottom : 9px;
}
#license-editor .well {
	vertical-align : top;
	display : inline-block;
	margin-left : 10px;
	padding : 15px
}

.nx-clm-square {
  padding-left: 5px;
  border-left-style: solid !important;
  border-left-width: 10px !important;
}
.nx-clm-square.severe {
  border-left-color: #F2862F;
}
.nx-clm-square.critical {
  border-left-color: #DB2852;
}
.nx-clm-square.moderate {
  border-left-color: #F5C649;
}
.nx-clm-square.none {
  border-left-color: #0047b2;
}
.nx-clm-square.unspecified {
  border-left-color: #9D9D9D;
}
